@import "../bones.component";

.fracture-column {
  height: 560px;
}

.fracture-column--shorter {
  height: 548px;
}

.c-h-489 {
  height: 489px;
}

.fracture-header {
  margin-bottom: 38px;
}

.input-fracture {
  width: 94px;
  height: 32px;
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  text-align: center;
}

.input-label {
  width: 129px;
  padding-right: 8px;
  margin-top: -6px;
}

.container-overflow {
  overflow: hidden;
}

.c-pad-b {
  padding-bottom: 38px;
}

.c-pad-t {
  padding-top: 24px;
}

.fracture__label--center {
  padding-top: 14px;
}
