<div class="h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0602200" class="p-l-10 m-b-13">
        {{'pelvisMRT.femaleGender.differentialDiagnosis.value' | translate}}
      </h2>
      <div class="o-radio-list p-l-10">
        <div
          [rrDisable]="model.descriptionType !== descriptionTypeEnum.IDescribe"
          class="m-b-13"
        >
          <p rr-id="pel_m_0602201">
            {{'pelvisMRT.femaleGender.differentialDiagnosis1.value' |
            translate}}
            <span
              *ngIf="model.descriptionType === descriptionTypeEnum.IDescribe"
              >*</span
            >
          </p>
          <rr-differential-diagnosis-dropdown
            rrId="pel_m_0602202"
            [diagnosisNumber]="1"
            group="true"
            [options]="w065DifferentialDiagnosisType"
            [(ngModel)]="model.differentialDiagnosis1"
            [parentViewModel]="model"
            name="differentialDiagnosis1"
            (selectionChanged)="clearDifferentialDiagnosis01DependantFields()"
            rrValidation="differentialDiagnosis1"
          ></rr-differential-diagnosis-dropdown>
        </div>
        <div
          class="m-b-13"
          [rrDisable]="model.differentialDiagnosis === femaleGenderDiagnosisTypeEnum.None && model.differentialDiagnosis1 === femaleGenderDiagnosisTypeEnum.None"
        >
          <p rr-id="pel_m_0602203">
            {{'pelvisMRT.femaleGender.differentialDiagnosis2.value' |
            translate}}
          </p>
          <rr-differential-diagnosis-dropdown
            rrId="pel_m_0602204"
            [diagnosisNumber]="2"
            group="true"
            [options]="w066DifferentialDiagnosisType"
            [(ngModel)]="model.differentialDiagnosis2"
            [parentViewModel]="model"
            name="differentialDiagnosis2"
            (selectionChanged)="clearDifferentialDiagnosis02DependantFields()"
          ></rr-differential-diagnosis-dropdown>
        </div>
        <div
          [rrDisable]="model.differentialDiagnosis2 === femaleGenderDiagnosisTypeEnum.None"
        >
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.subordinate.value' | translate}}"
            rr-id="pel_m_0602205"
            binary="true"
            name="isSubordinate"
            [(ngModel)]="model.isSubordinate"
          >
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <div
        *ngIf="model.differentialDiagnosis1 === femaleGenderDiagnosisTypeEnum.Leiomyoma"
      >
        <h2 rr-id="pel_m_0603240" class="p-l-10 m-b-11">
          {{'pelvisMRT.femaleGender.differentialDiagnosis1.value' | translate}}
        </h2>
        <div class="o-radio-list p-l-10">
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.degeneration.value' | translate}}"
            rr-id="pel_m_0603241"
            binary="true"
            name="isDegeneration1"
            [(ngModel)]="model.isDegeneration1"
          >
          </p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.urethralLeiomyoma.value' | translate}}"
            rr-id="pel_m_0603242"
            binary="true"
            name="isUrethralLeiomyoma1"
            [(ngModel)]="model.isUrethralLeiomyoma1"
          >
          </p-checkbox>
        </div>
      </div>
      <div
        *ngIf="model.differentialDiagnosis1 === femaleGenderDiagnosisTypeEnum.Metastasis"
      >
        <h2 rr-id="pel_m_0603240" class="p-l-10 m-b-11">
          {{'pelvisMRT.femaleGender.differentialDiagnosis1.value' | translate}}
        </h2>
        <div class="o-radio-list p-l-10">
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.urethralMetastasis.value' | translate}}"
            rr-id="pel_m_0603243"
            binary="true"
            name="isUrethralMetastasis1"
            [(ngModel)]="model.isUrethralMetastasis1"
          >
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <div
        *ngIf="model.differentialDiagnosis2 === femaleGenderDiagnosisTypeEnum.Leiomyoma"
      >
        <h2 rr-id="pel_m_0604215" class="p-l-10 m-b-11">
          {{'pelvisMRT.femaleGender.differentialDiagnosis2.value' | translate}}
        </h2>
        <div class="o-radio-list p-l-10">
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.degeneration.value' | translate}}"
            rr-id="pel_m_0604216"
            binary="true"
            name="isDegeneration2"
            [(ngModel)]="model.isDegeneration2"
          >
          </p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.urethralLeiomyoma.value' | translate}}"
            rr-id="pel_m_0604217"
            binary="true"
            name="isUrethralLeiomyoma2"
            [(ngModel)]="model.isUrethralLeiomyoma2"
          >
          </p-checkbox>
        </div>
      </div>
      <div
        *ngIf="model.differentialDiagnosis2 === femaleGenderDiagnosisTypeEnum.Metastasis"
      >
        <h2 rr-id="pel_m_0604215" class="p-l-10 m-b-11">
          {{'pelvisMRT.femaleGender.differentialDiagnosis2.value' | translate}}
        </h2>
        <div class="o-radio-list p-l-10">
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.urethralMetastasis.value' | translate}}"
            rr-id="pel_m_0604218"
            binary="true"
            name="isUrethralMetastasis2"
            [(ngModel)]="model.isUrethralMetastasis2"
          >
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-29 m-b-13 o-list"></div>
  </div>
</div>
