.inner-field {
  fill: #fff;
  cursor: pointer;
}

.middle-circle {
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.border {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: none;
}

.part-number {
  fill: #2b2e34;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
  font-size: 18px;
  pointer-events: none;
}

.vessel {
  fill: #00aec2;
}

.caption {
  font-size: 21px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
