<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center" *ngIf="!largeLocaliserOpen">
    <div class="c-col-1 c-pad-r c-sep o-list f-vertical">
      <div class="f-vertical o-list m-b-17">
        <h1 class="m-b-16" rr-id="pel_m_110103">
          {{ 'pelvisMRT.lymphNodes.finding.value' | translate }}
        </h1>
        <div class="f-vertical o-radio-list f-vertical">
          <p-radioButton
            rr-id="pel_m_110104"
            name="areFindings"
            class="m-b-18"
            [value]="areFindings.No"
            label="{{ 'pelvisMRT.lymphNodes.noPathologicallyEnlargedLymph.value' | translate }}"
            [(ngModel)]="model.areFindings"
            rrValidation="areFindings"
            notInFinding="true"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_110105"
            name="areFindings"
            [value]="areFindings.Yes"
            label="{{ 'pelvisMRT.lymphNodes.findingsXX.value' | translate }}"
            [(ngModel)]="model.areFindings"
            rrValidation="areFindings"
            notInFinding="true"
          >
          </p-radioButton>
        </div>
      </div>
      <rr-finding-column
        [handler]="findingHandler"
        [disabled]="isDynamicPartDisabled()"
        [attr.name]="'findingHandlerComponent'"
        [setConfig]="findingDropdownConfig"
        [customLabelCalculator]="customLabelCalculator"
        validationName="findings"
      >
      </rr-finding-column>
    </div>
    <div class="f-vertical f-space-between">
      <div
        *ngIf="findingHandler.currentItem.findingType !== findingType.None"
        class="c-pad-l"
      >
        <h1 rr-id="pel_m_110201">
          {{ 'pelvisMRT.lymphNodes.findingsXX.value' | translate }} {{
          findingHandler.currentItemIndex + 1 | number: '2.0-0' }}
        </h1>
      </div>

      <div
        class="f-horizontal col-h-100 o-width-100 m-t-90"
        *ngIf="findingHandler.currentItem.findingType !== findingType.None"
      >
        <div class="c-col-3 c-sep c-pad f-vertical">
          <h2 rr-id="pel_m_110202">
            <span rrValidation="localizationType"
              >{{'pelvisMRT.lymphNodes.localization.value' | translate}}</span
            >
          </h2>
          <div class="f-horizontal col-h-100 o-width-100 m-t-32">
            <div class="c-col-1 c-pad-r c-sep f-vertical o-list">
              <rr-lymph-nodes-small
                name="localizationType"
                [(ngModel)]="findingHandler.currentItem.localizationType"
                (click)="largeLocaliserOpen = true"
                rrValidation="localizationType"
                isLocalizer="true"
              >
              </rr-lymph-nodes-small>

              <div
                [rrDisable]="findingHandler.currentItem.localizationType.mesorectal === false"
                class="o-list"
              >
                <h2 rr-id="pel_m_110204">
                  {{'pelvisMRT.lymphNodes.perirectalLocalizationAxial.value' |
                  translate}}
                </h2>
                <div class="o-radio-list">
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.12to2.value' | translate}}"
                    rr-id="pel_m_110205"
                    binary="true"
                    name="12to2"
                    [(ngModel)]="findingHandler.currentItem.is12to2"
                  >
                  </p-checkbox>
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.2to4oclock.value' | translate}}"
                    rr-id="pel_m_110206"
                    binary="true"
                    name="2to4oclock"
                    [(ngModel)]="findingHandler.currentItem.is2to4oclock"
                  >
                  </p-checkbox>
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.4to6oclock.value' | translate}}"
                    rr-id="pel_m_110207"
                    binary="true"
                    name="4to6oclock"
                    [(ngModel)]="findingHandler.currentItem.is4to6oclock"
                  >
                  </p-checkbox>
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.6to8oclock.value' | translate}}"
                    rr-id="pel_m_110208"
                    binary="true"
                    name="6to8oclock"
                    [(ngModel)]="findingHandler.currentItem.is6to8oclock"
                  >
                  </p-checkbox>
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.8to10oclock.value' | translate}}"
                    rr-id="pel_m_110209"
                    binary="true"
                    name="8to10oclock"
                    [(ngModel)]="findingHandler.currentItem.is8to10oclock"
                  >
                  </p-checkbox>
                  <p-checkbox
                    label="{{'pelvisMRT.lymphNodes.10to12oclock.value' | translate}}"
                    rr-id="pel_m_110210"
                    binary="true"
                    name="10to12oclock"
                    [(ngModel)]="findingHandler.currentItem.is10to12oclock"
                  >
                  </p-checkbox>
                </div>
              </div>
            </div>
            <div class="c-col-1 c-pad c-sep f-vertical o-list">
              <div
                [rrDisable]="localizationTypeLengthFilter()"
                class="o-radio-list"
              >
                <h2 rr-id="pel_m_110301">
                  {{'pelvisMRT.lymphNodes.form.value' | translate}}
                </h2>
                <div class="o-radio-list m-b-30">
                  <p-radioButton
                    rr-id="pel_m_110302"
                    label="{{'pelvisMRT.lymphNodes.oval.value' | translate}}"
                    name="oval"
                    [value]="formType.Oval"
                    [(ngModel)]="findingHandler.currentItem.formType"
                    rrUnClickRadio
                  >
                  </p-radioButton>
                  <p-radioButton
                    rr-id="pel_m_110303"
                    label="{{'pelvisMRT.lymphNodes.round.value' | translate}}"
                    name="round"
                    [value]="formType.Round"
                    [(ngModel)]="findingHandler.currentItem.formType"
                    rrUnClickRadio
                  >
                  </p-radioButton>
                  <ng-container
                    *ngIf="findingHandler.currentItem.findingType === findingType.Pathological"
                  >
                    <p-radioButton
                      rr-id="pel_m_110308"
                      label="{{'pelvisMRT.lymphNodes.lobulated.value' | translate}}"
                      name="commended"
                      [value]="formType.Commended"
                      [(ngModel)]="findingHandler.currentItem.formType"
                      rrUnClickRadio
                    >
                    </p-radioButton>
                  </ng-container>
                </div>

                <div
                  *ngIf="findingHandler.currentItem.findingType === findingType.Pathological"
                  class="o-list m-b-30"
                >
                  <h2 rr-id="pel_m_110309" class="m-b-10">
                    {{'pelvisMRT.lymphNodes.margin.value' | translate}}
                  </h2>
                  <div class="o-radio-list m-b-24">
                    <p-radioButton
                      rr-id="pel_m_110310"
                      label="{{'pelvisMRT.lymphNodes.circumscribed.value' | translate}}"
                      name="sharp"
                      [value]="limitationType.Sharp"
                      [(ngModel)]="findingHandler.currentItem.limitationType"
                      rrUnClickRadio
                    >
                    </p-radioButton>
                    <p-radioButton
                      rr-id="pel_m_110311"
                      label="{{'pelvisMRT.lymphNodes.nonCircumscribed.value' | translate}}"
                      name="fuzzy"
                      [value]="limitationType.Fuzzy"
                      [(ngModel)]="findingHandler.currentItem.limitationType"
                      rrUnClickRadio
                    >
                    </p-radioButton>
                    <p-radioButton
                      rr-id="pel_m_110312"
                      label="{{'pelvisMRT.lymphNodes.capsuleRupture.value' | translate}}"
                      name="capsuleBreakthrough"
                      [value]="limitationType.CapsuleBreakthrough"
                      [(ngModel)]="findingHandler.currentItem.limitationType"
                      rrUnClickRadio
                    >
                    </p-radioButton>
                  </div>
                </div>
                <div class="o-list">
                  <h2 rr-id="pel_m_110304" class="m-b-10">
                    {{'pelvisMRT.lymphNodes.maxShortAxisDiameter.value' |
                    translate}}
                  </h2>
                  <div class="f-start f-horizontal">
                    <rr-number-input
                      inputRrId="pel_m_110305"
                      labelRrId="pel_m_110306"
                      name="inMm"
                      class="text-break"
                      [label]="'pelvisMRT.lymphNodes.inMm.value' | translate"
                      [config]="{min: 1, max: 80, labelWidth: 200}"
                      [(ngModel)]="findingHandler.currentItem.maxShortAxisDiameter"
                    >
                    </rr-number-input>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-col-1 c-pad-l c-sep f-vertical o-list">
              <div
                [rrDisable]="localizationTypeLengthFilter()"
                class="o-radio-list"
              >
                <rr-reference-picture
                  [(ngModel)]="findingHandler.currentItem.referencePicture"
                  [referenceId]="findingHandler.currentItem.id"
                  [fileUploadUrl]="fileUploadUrl"
                  name="referencePicture"
                  class="m-t-0"
                ></rr-reference-picture>
              </div>
            </div>
          </div>
        </div>

        <div class="c-col-1 c-pad-l c-sep f-vertical"></div>
      </div>

      <div
        class="f-horizontal col-h-100"
        *ngIf="findingHandler.currentItem.findingType === findingType.None"
      >
        <div
          *ngFor="let empty of [].constructor(3)"
          class="c-col-1 c-pad c-sep f-horizontal"
        ></div>
        <div class="c-col-1 c-pad-l c-sep f-horizontal"></div>
      </div>
    </div>
  </div>
  <rr-lymph-nodes-big
    name="lymphNodesBig"
    *ngIf="largeLocaliserOpen"
    [(ngModel)]="findingHandler.currentItem.localizationType"
    (close)="largeLocaliserOpen = false"
    (ngModelChange)="clearModel()"
  >
  </rr-lymph-nodes-big>
</form>
