.study-area {
  &__block--padding {
    padding-left: 57px;
    padding-right: 47px;
  }
  &__checkbox--margin {
    margin-bottom: 10px;
  }
  &__label--margin {
    margin-left: 0;
    margin-top: 3px;
    margin-bottom: 11px;
  }
}

:host ::ng-deep .readonly-chkbox.ui-chkbox {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
:host ::ng-deep .readonly-chkbox-label.ui-chkbox-label {
  font-family: BentonSansBold;
  pointer-events: none;
}
