@import "../../soft-tissues.component";
@import "../soft-tissues-tabs.component";

.scaled-localizer {
  width: 312px;
  transform: scale(0.89);
  transform-origin: top left;
}

.scaled-localizer-small {
  width: 312px;
  transform: scale(0.84);
  transform-origin: top left;
  margin-left: 8px;
}

.neurofibromatosis-margin {
  margin-top: -22px;
}

.disabled-localizer {
  pointer-events: none;
}
