<p-tabView class="rr-tabView facial-skull-tabs">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_1102139"
        class="custom-tab-header"
        rrValidation="paranasalSinusesDiagnosis1LocalizationType"
      >
        {{ "headMRT.facialSkull.localization.value" | translate }}
      </h1>
    </ng-template>
    <rr-paranasal-sinuses-localization
      class="f-horizontal col-h-100"
      [model]="model"
      [w053]="w053"
    ></rr-paranasal-sinuses-localization>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_1103129" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationI.value" | translate }}
      </h1>
    </ng-template>
    <rr-paranasal-sinuses-characterization-one
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-paranasal-sinuses-characterization-one>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_110498" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationII.value" | translate }}
      </h1>
    </ng-template>
    <rr-paranasal-sinuses-characterization-two
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-paranasal-sinuses-characterization-two>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_1105100"
        class="custom-tab-header"
        rrValidation="paranasalSinusesDiagnosis1Type"
      >
        {{ "headMRT.facialSkull.differentialDiagnosis.value" | translate }}
      </h1>
    </ng-template>
    <rr-paranasal-sinuses-differential-diagnosis
      class="f-horizontal col-h-100"
      [model]="model"
      [w053]="w053"
      [w054]="w054"
    ></rr-paranasal-sinuses-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
