.disclaimer-dialog-content {
  width: 639px;
  padding-right: 10px;
}
.disclaimer-header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-family: BentonSansBold, sans-serif;
}

.disclaimer-box {
  text-align: center;

  button:disabled {
    background: #dddddd;
  }
}

.approval-box {
  height: 50px;
  margin: 20px 0;

  .p-col-100 {
    padding: 5px 173px 5px 173px;
  }
}

.disclaimer-prompt {
  font-family: BentonSansLight;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.disclaimer-prompt-body {
  font-family: BentonSansLight;
  font-size: 20px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 30px;
}

.disclaimer-buttons {
  padding-top: 20px;
}
.btn {
  font-family: BentonSansBold, sans-serif;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  font-size: 15px;
  &-cancel {
    background-color: #999999;
    color: #ffffff;
    margin-right: 20px;
  }
  &-ok {
    color: #999999;
  }
}
.disclaimer-logo {
  padding-top: 28px;
  padding-bottom: initial;

  img {
    height: 24px;
    padding-right: 10px;
  }
}
