<div class="f-horizontal col-h-100">
  <div class="c-col-1 c-sep c-pad-r o-list">
    <h2
      rr-id="kne_m_060202"
      rrInfoIcon="kne_m_060204"
      class="m-t-4 m-b-13 non-break-icon"
      rrValidation="location"
    >
      {{ 'kneeMRT.osteoInterface.localization.value' | translate }}
    </h2>
    <rr-knee-osteo
      rr-id="kne_m_060203"
      [(ngModel)]="model.location"
      name="location"
      rrValidation="location"
      isLocalizer="true"
    ></rr-knee-osteo>
  </div>
  <div class="c-col-2 c-sep c-pad f-start f-vertical">
    <p-checkbox
      rr-id="kne_m_060350"
      [(ngModel)]="model.isLocalizationIntraosseous"
      rrInfoIcon="kne_m_060357"
      class="checkbox-readonly m-b-21"
      label="{{ 'kneeMRT.osteoInterface.localizationIntraosseousEpiphysealSubchondral.value' | translate }}"
      labelStyleClass="ui-fat-label text-break2"
      binary="true"
      name="isLocalizationIntraosseous"
    >
    </p-checkbox>
    <div class="f-horizontal col-h-100">
      <div class="c-col-1 c-sep c-pad-r">
        <div class="f-start f-vertical o-list">
          <div class="f-start f-vertical o-radio-list">
            <p-checkbox
              rr-id="kne_m_060351"
              [(ngModel)]="model.isUninterruptedMarginalSclerosis"
              label="{{ 'kneeMRT.osteoInterface.rimSclerosisWithoutInterruption.value' | translate }}"
              binary="true"
              name="isUninterruptedMarginalSclerosis"
              labelStyleClass="ui-fat-label"
              rrContentReset="isUninterruptedMarginalSclerosis-block"
            >
            </p-checkbox>
            <div
              class="f-start f-vertical nested-content"
              id="isUninterruptedMarginalSclerosis-block"
              [rrDisable]="!model.isUninterruptedMarginalSclerosis"
            >
              <p-checkbox
                rr-id="kne_m_060352"
                [(ngModel)]="model.isWavyAppearance"
                label="{{ 'kneeMRT.osteoInterface.wavelike.value' | translate }}"
                binary="true"
                name="isWavyAppearance"
              >
              </p-checkbox>
            </div>
          </div>
          <p-checkbox
            rr-id="kne_m_060353"
            [(ngModel)]="model.isDoubleLineSign"
            class="m-b-30"
            label="{{ 'kneeMRT.osteoInterface.doubleLineSign.value' | translate }}"
            binary="true"
            name="isDoubleLineSign"
            labelStyleClass="ui-fat-label"
          >
          </p-checkbox>
          <div class="f-start f-vertical o-radio-list">
            <h2 rr-id="kne_m_060354">
              {{ 'kneeMRT.osteoInterface.diameterInfarction.value' | translate
              }}
            </h2>
            <rr-number-input
              inputRrId="kne_m_060355"
              labelRrId="kne_m_060356"
              [(ngModel)]="model.diameterInfarction"
              name="diameterInfarction"
              label="{{ 'kneeMRT.osteoInterface.diameterInMm.value' | translate }}"
              [config]="{ max: 30 }"
            >
            </rr-number-input>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad-l">
        <div class="f-start f-vertical o-radio-list">
          <h2 rr-id="kne_m_060440" class="m-t-2">
            {{ 'kneeMRT.osteoInterface.associatedFindings.value' | translate }}
          </h2>
          <p-checkbox
            rr-id="kne_m_060441"
            [(ngModel)]="model.isSurroundingBoneMarrowEdema"
            label="{{ 'kneeMRT.osteoInterface.surroundingBoneMarrowEdema.value' | translate }}"
            binary="true"
            name="isSurroundingBoneMarrowEdema"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="kne_m_060442"
            [(ngModel)]="model.isBurglaryOfTheJointSurface"
            label="{{ 'kneeMRT.osteoInterface.impressionOfTheArticularSurface.value' | translate }}"
            binary="true"
            name="isBurglaryOfTheJointSurface"
            rrContentReset="isBurglaryOfTheJointSurface-block"
          >
          </p-checkbox>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="isBurglaryOfTheJointSurface-block"
            [rrDisable]="!model.isBurglaryOfTheJointSurface"
          >
            <rr-number-input
              [config]="{min: 0, max: 20}"
              inputRrId="kne_m_060443"
              labelRrId="kne_m_060444"
              [(ngModel)]="model.burglaryOfTheJointSurfaceDiameterInMm"
              name="burglaryOfTheJointSurfaceDiameterInMm"
              label="{{ 'kneeMRT.osteoInterface.depthInMm.value' | translate }}"
            >
            </rr-number-input>
            <p-checkbox
              rr-id="kne_m_060445"
              [(ngModel)]="model.isSubchondralFatSignalIntensityLoss"
              label="{{ 'kneeMRT.osteoInterface.subchondralFatSignalIntensityLoss.value' | translate }}"
              binary="true"
              name="isSubchondralFatSignalIntensityLoss"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
