<div class="f-horizontal main-container o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1102170">
        {{ "headMRT.facialSkull.complications.value" | translate }}
      </h2>
      <p-checkbox
        rr-id="hea_m_1102171"
        name="isOrbitalComplications"
        label="{{ 'headMRT.facialSkull.orbitalComplications.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isOrbitalComplications"
        rrContentReset="chandlerClassificationTypeContainer"
      ></p-checkbox>
      <div
        class="nested-content"
        id="chandlerClassificationTypeContainer"
        [rrDisable]="!model.isOrbitalComplications"
      >
        <p rr-id="hea_m_1102172" rrInfoIcon="hea_m_11_04">
          {{ "headMRT.facialSkull.chandlerClassification.value" | translate }}
        </p>
        <p-dropdown
          styleClass="ui-brown-box o-width-100"
          [options]="w074"
          name="chandlerClassificationType"
          rr-id="hea_m_1102173"
          placeholder="{{'shared.pleaseSelect' | translate}}"
          rrDropdownClear
          [(ngModel)]="model.chandlerClassificationType"
        >
        </p-dropdown>
      </div>

      <p-checkbox
        rr-id="hea_m_1102174"
        name="isBrainAbscess"
        label="{{ 'headMRT.facialSkull.brainAbscess.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isBrainAbscess"
        rrContentReset="maxDiameterBrainAbscessContainer"
      ></p-checkbox>
      <div
        class="nested-content"
        id="maxDiameterBrainAbscessContainer"
        [rrDisable]="!model.isBrainAbscess"
      >
        <p rr-id="hea_m_1102175">
          {{ "headMRT.facialSkull.maxDiameter.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.maxDiameterBrainAbscess"
          name="maxDiameterBrainAbscess"
          labelRrId="hea_m_1102177"
          inputRrId="hea_m_1102176"
          infoIconRrId="hea_m_11_06"
          [config]="{ min: 1, max: 99, hasInfoIcon: true }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>

      <p-checkbox
        rr-id="hea_m_1102178"
        name="isSubduralEmpyema"
        label="{{ 'headMRT.facialSkull.subduralEmpyema.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isSubduralEmpyema"
        rrContentReset="maxDiameterSubduralEmpyemaContainer"
      ></p-checkbox>
      <div
        class="nested-content"
        id="maxDiameterSubduralEmpyemaContainer"
        [rrDisable]="!model.isSubduralEmpyema"
      >
        <p rr-id="hea_m_1102179">
          {{ "headMRT.facialSkull.maxDiameter.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.maxDiameterSubduralEmpyema"
          name="maxDiameterSubduralEmpyema"
          labelRrId="hea_m_1102181"
          inputRrId="hea_m_1102180"
          infoIconRrId="hea_m_11_07"
          [config]="{ min: 1, max: 99, hasInfoIcon: true }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>

      <p-checkbox
        rr-id="hea_m_1102182"
        name="isEpiduralAbscess"
        label="{{ 'headMRT.facialSkull.epiduralAbscess.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isEpiduralAbscess"
        rrContentReset="maxDiameterEpiduralAbscessContainer"
      ></p-checkbox>
      <div
        class="nested-content"
        id="maxDiameterEpiduralAbscessContainer"
        [rrDisable]="!model.isEpiduralAbscess"
      >
        <p rr-id="hea_m_1102183">
          {{ "headMRT.facialSkull.maxDiameter.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.maxDiameterEpiduralAbscess"
          name="maxDiameterEpiduralAbscess"
          labelRrId="hea_m_1102185"
          inputRrId="hea_m_1102184"
          infoIconRrId="hea_m_11_08"
          [config]="{ min: 1, max: 99, hasInfoIcon: true }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list" [rrDisable]="!isCMYes">
      <h2 rr-id="hea_m_1103161">
        {{ "headMRT.facialSkull.contrastEnhancementQuantitative.value" |
        translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103162"
        label="{{ 'headMRT.facialSkull.no.value' | translate }}"
        name="contrastEnhancementType"
        [value]="contrastEnhancementQuantitativeTypeEnum.No"
        [(ngModel)]="model.contrastEnhancementType"
        rrUnClickRadio
        rrContentReset="contrastEnhancementHomogeneityTypeContainer contrastDistributionTypeContainer"
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103163"
        label="{{ 'headMRT.facialSkull.weak.value' | translate }}"
        name="contrastEnhancementType"
        [value]="contrastEnhancementQuantitativeTypeEnum.Weak"
        [(ngModel)]="model.contrastEnhancementType"
        rrUnClickRadio
        rrContentReset="contrastEnhancementHomogeneityTypeContainer contrastDistributionTypeContainer"
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103164"
        label="{{ 'headMRT.facialSkull.significant.value' | translate }}"
        name="contrastEnhancementType"
        [value]="contrastEnhancementQuantitativeTypeEnum.Significant"
        [(ngModel)]="model.contrastEnhancementType"
        rrUnClickRadio
        rrContentReset="contrastEnhancementHomogeneityTypeContainer contrastDistributionTypeContainer"
      ></p-radioButton>
      <div
        class="nested-content o-radio-list"
        id="contrastEnhancementHomogeneityTypeContainer"
        [rrDisable]="!isCMWeakOrSignificant()"
      >
        <p-radioButton
          rr-id="hea_m_1103165"
          label="{{ 'headMRT.facialSkull.homogeneous.value' | translate }}"
          name="contrastEnhancementHomogeneityType"
          [value]="homogeneityTypeEnum.Homogeneous"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1103166"
          label="{{ 'headMRT.facialSkull.heterogeneous.value' | translate }}"
          name="contrastEnhancementHomogeneityType"
          [value]="homogeneityTypeEnum.Heterogeneous"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrUnClickRadio
        ></p-radioButton>
      </div>

      <div
        class="o-radio-list"
        id="contrastDistributionTypeContainer"
        [rrDisable]="!isCMWeakOrSignificant()"
      >
        <h2 rr-id="hea_m_1103167" class="m-t-30">
          {{ "headMRT.facialSkull.contrastEnhancementDistribution.value" |
          translate }}
        </h2>
        <p-radioButton
          rr-id="hea_m_1103168"
          label="{{ 'headMRT.facialSkull.peripheral.value' | translate }}"
          name="contrastDistributionType"
          [value]="contrastEnhancementDistributionTypeEnum.Peripheral"
          [(ngModel)]="model.contrastDistributionType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1103169"
          label="{{ 'headMRT.facialSkull.entireLesion.value' | translate }}"
          name="contrastDistributionType"
          [value]="contrastEnhancementDistributionTypeEnum.EntireLesion"
          [(ngModel)]="model.contrastDistributionType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1103170"
          label="{{ 'headMRT.facialSkull.central.value' | translate }}"
          name="contrastDistributionType"
          [value]="contrastEnhancementDistributionTypeEnum.Central"
          [(ngModel)]="model.contrastDistributionType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1103171"
          label="{{ 'headMRT.facialSkull.septal.value' | translate }}"
          name="contrastDistributionType"
          [value]="contrastEnhancementDistributionTypeEnum.Septal"
          [(ngModel)]="model.contrastDistributionType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1103172"
          label="{{ 'headMRT.facialSkull.nodular.value' | translate }}"
          name="contrastDistributionType"
          [value]="contrastEnhancementDistributionTypeEnum.Nodular"
          [(ngModel)]="model.contrastDistributionType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1104127">
        {{ "headMRT.facialSkull.differentialDiagnosis.value" | translate }}
      </h2>
      <div
        class="f-vertical"
        [rrDisable]="model.descriptionType !== descriptionType.IDescribe"
      >
        <p rr-id="hea_m_1104128">
          {{ "headMRT.facialSkull.differentialDiagnosis1.value" | translate }}*
        </p>
        <rr-differential-diagnosis-dropdown
          class="m-b-10"
          rrId="hea_m_1104129"
          [diagnosisNumber]="1"
          [options]="w053"
          [(ngModel)]="model.paranasalSinusesDiagnosis1Type"
          name="paranasalSinusesDiagnosis1Type"
          group="true"
          [parentViewModel]="model"
          rrValidation="paranasalSinusesDiagnosis1Type"
          (selectionChanged)="onParanasalSinusesDiagnosis1TypeChange()"
        >
        </rr-differential-diagnosis-dropdown>
        <p-checkbox
          [rrDisable]="model.paranasalSinusesDiagnosis1Type === paranasalSinusesDiagnosisTypeEnum.None"
          rr-id="hea_m_1104130"
          name="isSuspicionOf"
          label="{{ 'headMRT.facialSkull.suspicionOf.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isSuspicionOf"
        ></p-checkbox>
      </div>
      <div
        class="m-t-20 f-vertical"
        [rrDisable]="model.paranasalSinusesDiagnosis1Type === paranasalSinusesDiagnosisTypeEnum.None && model.paranasalSinusesDiagnosis1LocalizationType === paranasalSinusesDiagnosisTypeEnum.None"
      >
        <p rr-id="hea_m_1104131">
          {{ "headMRT.facialSkull.differentialDiagnosis2.value" | translate }}
        </p>
        <rr-differential-diagnosis-dropdown
          class="m-b-10"
          rrId="hea_m_1104132"
          [diagnosisNumber]="2"
          [options]="w054"
          [(ngModel)]="model.paranasalSinusesDiagnosis2Type"
          name="paranasalSinusesDiagnosis2Type"
          group="true"
          [parentViewModel]="model"
          (selectionChanged)="onParanasalSinusesDiagnosis2TypeChange()"
        >
        </rr-differential-diagnosis-dropdown>
        <p-checkbox
          [rrDisable]="model.paranasalSinusesDiagnosis2Type === paranasalSinusesDiagnosisTypeEnum.None"
          rr-id="hea_m_1104133"
          name="isSubordinate"
          label="{{ 'headMRT.facialSkull.subordinate.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isSubordinate"
        ></p-checkbox>
      </div>
      <div
        class="m-t-20 f-vertical"
        [rrDisable]="model.paranasalSinusesDiagnosis2Type === paranasalSinusesDiagnosisTypeEnum.None"
      >
        <p rr-id="hea_m_1104134">
          {{ "headMRT.facialSkull.differentialDiagnosis3.value" | translate }}
        </p>
        <rr-differential-diagnosis-dropdown
          rrId="hea_m_1104135"
          [diagnosisNumber]="3"
          [options]="w054"
          [(ngModel)]="model.paranasalSinusesDiagnosis3Type"
          name="paranasalSinusesDiagnosis3Type"
          group="true"
          [parentViewModel]="model"
        >
        </rr-differential-diagnosis-dropdown>
      </div>
      <p-checkbox
        class="m-t-30"
        rr-id="hea_m_1104136"
        name="isMoreThan1LesionOfTheSameEntity"
        label="{{ 'headMRT.facialSkull.moreThenOneLesionOfTheSameEntity.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isMoreThan1LesionOfTheSameEntity"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list"></div>
  </div>
</div>
