.main {
  margin-top: -61px;
  background: white;
}

.close-button {
  circle {
    fill: #00aec2;
  }
  .cross-fragment {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
  }
}

.font-light {
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.font-15 {
  font-size: 15px;
}

.font-18 {
  font-size: 18px;
}

.font-60 {
  font-size: 60px;
}

.image-1 {
  fill: url(#pattern-1);
}

.image-2 {
  fill: url(#pattern-2);
}

.image-3 {
  fill: url(#pattern-3);
}

.stroke {
  stroke: #fff;
  stroke-width: 2px;
}

.color1 {
  fill: #edd0b2;
}

.color2 {
  fill: #f8f8bc;
}

.color3 {
  fill: #dffcef;
}

.color4 {
  fill: #edb2b2;
}

.color5 {
  fill: #d2b2ed;
}

.color6 {
  fill: #e2d9ff;
}

.color7 {
  fill: #a6abe1;
}

.color8 {
  fill: #d8fbff;
}

.color9 {
  fill: #ade8d2;
}

.color10 {
  fill: #c9e2ff;
}

.hovered {
  fill: #00afc2;
  @extend .font-bold;
  tspan {
    fill: #ffffff;
  }
}

.selected {
  fill: #f80202;
  @extend .font-bold;
  tspan {
    fill: #ffffff;
  }
}

.pointer {
  cursor: pointer;
}
