<div class="f-start f-vertical o-radio-list">
  <h2 rr-id="uni_x_030209">
    {{ customColumnTitleTranslationKey ||
    'shared-templates.technology.weighting.value' | translate }}
  </h2>
  <rr-finding-column
    [handler]="handler"
    [disabled]="false"
    [setConfig]="findingDropdownConfig"
    [customLabelCalculator]="getSequenceCustomLabel"
    [showIndexLabel]="false"
    (findingTypeChange)="emitModelChangeInSubcomponent()"
    (newFindingAdded)="emitModelChangeInSubcomponent()"
    (findingRemoved)="emitModelChangeInSubcomponent()"
  ></rr-finding-column>
</div>
