.part-number {
  fill: #2b2e34;
  font-family: BentonSansbold;
  font-weight: 900;
  font-size: 18px;
  pointer-events: none;

  &-small {
    @extend .part-number;
    font-size: 12px;
  }
}

.inner-field {
  fill: #fff;
}

.middle-circle {
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.border {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: none;
}

.vessel {
  fill: #00aec2;
}

:host-context(.invalid-localizer) {
  .validation-border {
    stroke: red;
  }
}
