.localizer-wrapper {
  background-color: #ffffff;
  width: 1798px;
  position: relative;
  bottom: 100px;
  margin-top: 44px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.localizer {
  display: block;
  margin: auto;
}

.title {
  font-family: BentonSansLight, sans-serif;
  font-size: 60px;
  line-height: 1;
}

.instruction-text {
  height: 3rem;
  font-family: BentonSansLight, sans-serif;
  font-size: 15px;
}

.instruction-text-bold {
  font-family: BentonSansBold, sans-serif;
}

.close-button {
  position: relative;
  bottom: 6px;
  right: 15px;
}

.background {
  fill: url(#pattern);
}

.caption {
  font-size: 21px;
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
  cursor: pointer;

  &-hover {
    fill: #00aec2;
    font-family: BentonSansBold, sans-serif;
  }

  &-selected,
  &-selected:hover,
  &-selected#{&}-hover {
    fill: #f80202;
    font-family: BentonSansBold, sans-serif;
  }

  &-inactive {
    fill: #b2b2b2;
    pointer-events: none;
  }
}

.captions-separator {
  fill: none;
  stroke: #707070;
}

.os-ilium-caption {
  font-size: 27px;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.element {
  opacity: 0;
  cursor: pointer;

  &-hover {
    opacity: 0.6;
    fill: #00aec2;
  }

  &-selected,
  &-selected:hover,
  &-selected#{&}-hover {
    opacity: 0.6;
    fill: #f80202;
  }

  &-inactive {
    pointer-events: none;
  }
}

.frame {
  stroke: none;
  fill: #dfdfdf;
}
