<div class="f-horizontal f-start col-h-100">
  <div class="f-vertical f-start c-sep c-pad-r o-radio-list">
    <h2 rr-id="tho_c_040231" class="p-t-3">
      {{'thoraxCT.mediastinum.localization.value' | translate}}*
    </h2>
    <div class="f-horizontal f-start col-h-100">
      <div class="c-col-1 f-vertical f-start c-sep c-pad-r o-radio-list">
        <p-checkbox
          rr-id="tho_c_040232"
          name="isRight"
          [(ngModel)]="model.isRight"
          rrValidation="isRight isLeft isCoronarySclerosis isPericardium"
          rrContentReset="isRight-block"
          label="{{'thoraxCT.mediastinum.right.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <div
          id="isRight-block"
          class="nested-content f-vertical f-start o-radio-list"
          [rrDisable]="!model.isRight"
        >
          <p-checkbox
            rr-id="tho_c_040233"
            name="isRightAtriumEnlargement"
            [(ngModel)]="model.isRightAtriumEnlargement"
            label="{{'thoraxCT.mediastinum.atrialEnlargement.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040234"
            name="isRightEnlargementOfTheVentricle"
            [(ngModel)]="model.isRightEnlargementOfTheVentricle"
            label="{{'thoraxCT.mediastinum.ventricleEnlargement.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040235"
            name="isRightMyocardialThickening"
            [(ngModel)]="model.isRightMyocardialThickening"
            label="{{'thoraxCT.mediastinum.myocardialThickening.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040236"
            name="isVenousContrastAgentReflux"
            [(ngModel)]="model.isVenousContrastAgentReflux"
            label="{{'thoraxCT.mediastinum.venousContrastMediumReflux.value' | translate}}"
            binary="true"
            [rrDisable]="!additionalData.isCmSelected"
          ></p-checkbox>
        </div>
        <p-checkbox
          rr-id="tho_c_040237"
          name="isLeft"
          rrValidation="isRight isLeft isCoronarySclerosis isPericardium"
          [(ngModel)]="model.isLeft"
          rrContentReset="isLeft-block"
          label="{{'thoraxCT.mediastinum.left.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <div
          id="isLeft-block"
          class="nested-content f-vertical f-start o-radio-list"
          [rrDisable]="!model.isLeft"
        >
          <p-checkbox
            rr-id="tho_c_040238"
            name="isLeftAtriumEnlargement"
            [(ngModel)]="model.isLeftAtriumEnlargement"
            label="{{'thoraxCT.mediastinum.atrialEnlargement.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040239"
            name="enlargementOfTheVentricleLeft"
            [(ngModel)]="model.isLeftEnlargementOfTheVentricle"
            label="{{'thoraxCT.mediastinum.ventricleEnlargement.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040240"
            name="isLeftMyocardialThickening"
            [(ngModel)]="model.isLeftMyocardialThickening"
            label="{{'thoraxCT.mediastinum.myocardialThickening.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040241"
            name="isThrombus"
            [(ngModel)]="model.isThrombus"
            label="{{'thoraxCT.mediastinum.thrombus.value' | translate}}"
            binary="true"
          ></p-checkbox>
        </div>
      </div>

      <div class="c-col-1 f-vertical f-start c-pad-l o-radio-list">
        <p-checkbox
          rr-id="tho_c_040335"
          name="isCoronarySclerosis"
          [(ngModel)]="model.isCoronarySclerosis"
          rrContentReset="isCoronarySclerosis-block"
          label="{{'thoraxCT.mediastinum.coronarySclerosis.value' | translate}}"
          binary="true"
          rrValidation="isRight isLeft isCoronarySclerosis isPericardium"
        ></p-checkbox>
        <div
          id="isCoronarySclerosis-block"
          class="nested-content f-vertical f-start o-radio-list"
          [rrDisable]="!model.isCoronarySclerosis"
        >
          <p-checkbox
            rr-id="tho_c_040336"
            name="isRCA"
            [(ngModel)]="model.isRCA"
            label="{{'thoraxCT.mediastinum.rCA.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040337"
            name="isLMA"
            [(ngModel)]="model.isLMA"
            label="{{'thoraxCT.mediastinum.lCA.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040338"
            name="isLCX"
            [(ngModel)]="model.isLCX"
            label="{{'thoraxCT.mediastinum.rCX.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040339"
            name="isLAD"
            [(ngModel)]="model.isLAD"
            label="{{'thoraxCT.mediastinum.lAD.value' | translate}}"
            binary="true"
          ></p-checkbox>
        </div>
        <p-checkbox
          rr-id="tho_c_040340"
          name="isPericardium"
          [(ngModel)]="model.isPericardium"
          rrContentReset="isPericardium-block"
          label="{{'thoraxCT.mediastinum.pericardium.value' | translate}}"
          binary="true"
          rrValidation="isRight isLeft isCoronarySclerosis isPericardium"
        ></p-checkbox>
        <div
          id="isPericardium-block"
          class="nested-content f-vertical f-start o-radio-list"
          [rrDisable]="!model.isPericardium"
        >
          <p-checkbox
            rr-id="tho_c_040341"
            name="isEffusion"
            rrContentReset="isEffusion-block"
            [(ngModel)]="model.isEffusion"
            label="{{'thoraxCT.mediastinum.effusion.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <div
            id="isEffusion-block"
            class="nested-content"
            [rrDisable]="!model.isEffusion"
          >
            <rr-number-input
              inputRrId="tho_c_040342"
              labelRrId="tho_c_040343"
              name="effusionWidthMaxInMm"
              [(ngModel)]="model.effusionWidthMaxInMm"
              [label]="'thoraxCT.mediastinum.maxWidthInMm.value' | translate"
              [config]="{labelWidth: 90, min: 1, max: 999}"
            >
            </rr-number-input>
          </div>
          <p-checkbox
            rr-id="tho_c_040344"
            name="isMass"
            [(ngModel)]="model.isMass"
            rrContentReset="isMass-block"
            label="{{'thoraxCT.mediastinum.mass.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <div
            id="isMass-block"
            class="nested-content"
            [rrDisable]="!model.isMass"
          >
            <rr-number-input
              inputRrId="tho_c_040345"
              labelRrId="tho_c_040346"
              name="massDiameterMaxInMm"
              [(ngModel)]="model.massDiameterMaxInMm"
              [label]="'thoraxCT.mediastinum.diameterMaxInMm.value' | translate"
              [config]="{labelWidth: 170, min: 1, max: 999}"
            >
            </rr-number-input>
          </div>
          <p-checkbox
            rr-id="tho_c_040347"
            name="isPneumopericardium"
            label="{{'thoraxCT.mediastinum.pneumopericardium.value' | translate}}"
            [(ngModel)]="model.isPneumopericardium"
            binary="true"
          ></p-checkbox>
          <p-checkbox
            rr-id="tho_c_040348"
            name="isCalcification"
            rrContentReset="isCalcification-block"
            [(ngModel)]="model.isCalcification"
            label="{{'thoraxCT.mediastinum.calcification.value' | translate}}"
            binary="true"
          ></p-checkbox>
          <div
            id="isCalcification-block"
            class="nested-content f-vertical f-start o-radio-list"
            [rrDisable]="!model.isCalcification"
          >
            <p-checkbox
              rr-id="tho_c_040349"
              name="isPericarditisConstrictiva"
              [(ngModel)]="model.isPericarditisConstrictiva"
              label="{{'thoraxCT.mediastinum.pericarditisConstrictiva.value' | translate}}"
              binary="true"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 f-vertical f-start c-sep c-pad o-radio-list"></div>
  <div class="c-col-1 f-vertical f-start c-pad-l o-radio-list"></div>
</div>
