<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 c-pad-r c-sep f-vertical f-start o-list">
    <h1 rr-id="sho_m_080236" class="m-t-minus-4">
      {{'shoulderMRT.softParts.pleura.value' | translate}}
    </h1>
    <div class="o-radio-list">
      <p-radioButton
        rr-id="sho_m_080237"
        name="pleuraType"
        [value]="pleuraType.PleuralEffusion"
        label="{{'shoulderMRT.softParts.pleuralEffusion.value' | translate}}"
        [(ngModel)]="model.pleuraType"
        rrValidation="pleuraType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="sho_m_080238"
        name="pleuraType"
        [value]="pleuraType.Thickening"
        label="{{'shoulderMRT.softParts.thickening.value' | translate}}"
        [(ngModel)]="model.pleuraType"
        rrValidation="pleuraType"
      >
      </p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
