<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-pad f-vertical m-t-10 m-b-15">
      <div class="f-vertical o-radio-list">
        <h2 rr-id="abd_m_0902106" class="m-t-2">
          {{ 'abdomenMRT.gastrointestinal.localization.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="abd_m_090238"
          name="isDuodenum"
          [(ngModel)]="model.isDuodenum"
          label="{{ 'abdomenMRT.gastrointestinal.duodenum.value' | translate }}"
          binary="true"
          rrContentReset="isDuodenumBlock"
        >
        </p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="isDuodenumBlock"
          [rrDisable]="!model.isDuodenum"
        >
          <p-checkbox
            rr-id="abd_m_0902102"
            name="isParsDescendens"
            [(ngModel)]="model.isParsDescendens"
            label="{{ 'abdomenMRT.gastrointestinal.parsDescendens.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_0902103"
            name="isParsHorizontalis"
            [(ngModel)]="model.isParsHorizontalis"
            label="{{ 'abdomenMRT.gastrointestinal.parsHorizontalis.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_0902104"
            name="isParsAscendens"
            [(ngModel)]="model.isParsAscendens"
            label="{{ 'abdomenMRT.gastrointestinal.parsAscendens.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
        </div>
        <p-checkbox
          rr-id="abd_m_0902105"
          name="isJejunumIleum"
          [(ngModel)]="model.isJejunumIleum"
          label="{{ 'abdomenMRT.gastrointestinal.jejunumileum.value' | translate }}"
          binary="true"
          rrContentReset="isJejunumIleumBlock"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="isJejunumIleumBlock"
          [rrDisable]="!model.isJejunumIleum"
        >
          <p-checkbox
            rr-id="abd_m_0902172"
            name="isMeckelSDiverticulum"
            [(ngModel)]="model.isMeckelSDiverticulum"
            label="{{ 'abdomenMRT.gastrointestinal.meckelsDiverticulum.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
        </div>

        <p-checkbox
          rr-id="abd_m_090243"
          name="isCecum"
          [(ngModel)]="model.isCecum"
          label="{{ 'abdomenMRT.gastrointestinal.cecum.value' | translate }}"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_090244"
          name="isVermiformAppendix"
          [(ngModel)]="model.isVermiformAppendix"
          label="{{ 'abdomenMRT.gastrointestinal.vermiformAppendix.value' | translate }}"
          binary="true"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="f-vertical m-t-14 o-radio-list c-sep m-b-15">
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-sep-l c-pad f-vertical m-t-24 o-radio-list">
          <p-checkbox
            rr-id="abd_m_090350"
            name="isAscendingColon"
            [(ngModel)]="model.isAscendingColon"
            label="{{ 'abdomenMRT.gastrointestinal.ascendingColon.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090351"
            name="isHepaticFlexure"
            [(ngModel)]="model.isHepaticFlexure"
            label="{{ 'abdomenMRT.gastrointestinal.hepaticFlexure.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090352"
            name="isTransverseColon"
            [(ngModel)]="model.isTransverseColon"
            label="{{ 'abdomenMRT.gastrointestinal.transverseColon.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090353"
            name="isSplenicFlexure"
            [(ngModel)]="model.isSplenicFlexure"
            label="{{ 'abdomenMRT.gastrointestinal.splenicFlexure.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090354"
            name="isDescendingColon"
            [(ngModel)]="model.isDescendingColon"
            label="{{ 'abdomenMRT.gastrointestinal.descendingColon.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090355"
            name="isSigmoidColon"
            [(ngModel)]="model.isSigmoidColon"
            label="{{ 'abdomenMRT.gastrointestinal.sigmoidColon.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_090356"
            name="isRectum"
            [(ngModel)]="model.isRectum"
            label="{{ 'abdomenMRT.gastrointestinal.rectum.value' | translate }}"
            binary="true"
          >
          </p-checkbox>
        </div>
        <div class="c-col-1 c-sep-l c-pad f-vertical m-b-15">
          <div class="o-radio-list">
            <h2 rr-id="abd_m_090469" class="m-t-2">
              {{ 'abdomenMRT.gastrointestinal.characteristics.value' |
              translate}}
            </h2>

            <p-radioButton
              rr-id="abd_m_090470"
              name="characteristicsType"
              [(ngModel)]="model.characteristicsType"
              [value]="characteristicsType.Solitaire"
              rrUnClickRadio
              label="{{'abdomenMRT.gastrointestinal.solitaire.value' | translate }}"
              rrContentReset="isDiverticulosisBlock"
            ></p-radioButton>
            <p-radioButton
              rr-id="abd_m_090471"
              name="characteristicsType"
              [(ngModel)]="model.characteristicsType"
              [value]="characteristicsType.Multiple"
              rrUnClickRadio
              label="{{'abdomenMRT.gastrointestinal.multiple.value' | translate }}"
              rrContentReset="isDiverticulosisBlock"
            ></p-radioButton>
            <div
              class="nested-content o-radio-list"
              [rrDisable]="model.characteristicsType !== characteristicsType.Multiple"
              id="isDiverticulosisBlock"
            >
              <p-checkbox
                rr-id="abd_m_090472"
                name="isDiverticulosis"
                [(ngModel)]="model.isDiverticulosis"
                label="{{ 'abdomenMRT.gastrointestinal.diverticulosis.value' | translate }}"
                binary="true"
              >
              </p-checkbox>
            </div>
            <div class="o-radio-list">
              <h2 rr-id="abd_m_090473">
                {{ 'abdomenMRT.gastrointestinal.maximumDiameter.value' |
                translate }}
              </h2>
              <rr-number-input
                inputRrId="abd_m_090474"
                labelRrId="abd_m_090475"
                name="maxPrestenoticDilatationInMm"
                [(ngModel)]="model.bowelDiverticulaMaximumDiameterInMm"
                [label]="'abdomenMRT.gastrointestinal.inMm.value' | translate"
                [config]="{ min: 1, max: 99, placeholder: '--'}"
              ></rr-number-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-10 m-b-15">
      <div class="o-radio-list m-r-10">
        <h2 rr-id="abd_m_090554" class="m-t-2">
          {{ 'abdomenMRT.gastrointestinal.classificationDiverticulosis.value' |
          translate}}
        </h2>
        <h3 rr-id="abd_m_090555" class="m-t-15" rrInfoIcon="abd_m_09_02">
          {{ 'abdomenMRT.gastrointestinal.hansenAndStock.value' | translate }}
        </h3>
        <p-dropdown
          rr-id="abd_m_090556"
          name="hansenAndStockType"
          [(ngModel)]="model.hansenAndStockType"
          styleClass="o-width-100 ui-brown-box"
          [options]="hansenAndStockOptions"
          placeholder="{{ 'shared.pleaseSelect' | translate }}"
          rrDropdownClear
        >
        </p-dropdown>
        <h3
          rr-id="abd_m_090557abd_m_090557"
          class="m-t-15"
          rrInfoIcon="abd_m_09_03"
        >
          {{ 'abdomenMRT.gastrointestinal.cDDClassification.value' | translate
          }}
        </h3>
        <p-dropdown
          rr-id="abd_m_090558"
          name="cddClassificationType"
          [(ngModel)]="model.cddClassificationType"
          [options]="cddClassificationOptions"
          styleClass="o-width-100 ui-brown-box"
          placeholder="{{ 'shared.pleaseSelect' | translate }}"
          rrDropdownClear
        >
        </p-dropdown>
      </div>
    </div>
  </div>
</div>
