<div class="f-vertical f-start main">
  <h2 rr-id="hea_c_040203" class="m-b-20 p-l-15" rrInfoIcon="hea_c_04_14">
    {{'headCT.vessels.affectedVessel.value' | translate}}*
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="f-vertical c-sep">
      <h2 rr-id="hea_c_040204" class="m-b-10 p-l-15">
        {{'headCT.vessels.right.value' | translate}}
      </h2>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-sep c-pad o-radio-list">
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040205"
            name="isRightP1HypoplasiaOrFTPConfiguration"
            label="{{'headCT.vessels.p1HypoplasiaFTPConfiguration.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightP1HypoplasiaOrFTPConfiguration"
            labelStyleClass="text-break"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040206"
            name="isRightP1Aplasia"
            label="{{'headCT.vessels.p1AplasiaTotalFTP.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightP1Aplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040207"
            name="isRightP1SplittingOrDuplication"
            label="{{'headCT.vessels.p1SplittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightP1SplittingOrDuplication"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040208"
            name="isRightA1Hypoplasia"
            label="{{'headCT.vessels.a1Hypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightA1Hypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040209"
            name="isRightA1Aplasia"
            label="{{'headCT.vessels.a1Aplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightA1Aplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040210"
            name="isRightA1SplittingOrDuplication"
            label="{{'headCT.vessels.a1splittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightA1SplittingOrDuplication"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040211"
            name="isRightAcomPHypoplasia"
            label="{{'headCT.vessels.acomPHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAcomPHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040212"
            name="isRightAcomPAplasia"
            label="{{'headCT.vessels.acomPAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAcomPAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040213"
            name="isRightPICAEndingAV"
            label="{{'headCT.vessels.pICAEndingAV.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightPICAEndingAV"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040214"
            name="isRightAVHypoplasia"
            label="{{'headCT.vessels.aVHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAVHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040215"
            name="isRightAVAplasia"
            label="{{'headCT.vessels.aVAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAVAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040216"
            name="isRightTripleACA"
            label="{{'headCT.vessels.tripleACA.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightTripleACA"
          >
          </p-checkbox>
        </div>
        <div class="c-col-1 c-sep c-pad o-radio-list">
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040388"
            name="isRightAcomAHypoplasia"
            label="{{'headCT.vessels.acomAHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAcomAHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040389"
            name="isRightAcomAAplasia"
            label="{{'headCT.vessels.acomAAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAcomAAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040390"
            name="isRightAcomASplittingOrDuplication"
            label="{{'headCT.vessels.acomASplittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isRightAcomASplittingOrDuplication"
          >
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="f-vertical">
      <h2 rr-id="hea_c_0404111" class="m-b-10 p-l-15">
        {{'headCT.vessels.left.value' | translate}}
      </h2>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-sep c-pad o-radio-list">
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404112"
            name="isLeftP1HypoplasiaOrFTPConfiguration"
            label="{{'headCT.vessels.p1HypoplasiaFTPConfiguration.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftP1HypoplasiaOrFTPConfiguration"
            labelStyleClass="text-break"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404113"
            name="isLeftP1Aplasia"
            label="{{'headCT.vessels.p1AplasiaTotalFTP.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftP1Aplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404114"
            name="isLeftP1SplittingOrDuplication"
            label="{{'headCT.vessels.p1SplittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftP1SplittingOrDuplication"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404115"
            name="isLeftA1Hypoplasia"
            label="{{'headCT.vessels.a1Hypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftA1Hypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404116"
            name="isLeftA1Aplasia"
            label="{{'headCT.vessels.a1Aplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftA1Aplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404117"
            name="isLeftA1SplittingOrDuplication"
            label="{{'headCT.vessels.a1splittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftA1SplittingOrDuplication"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404118"
            name="isLeftAcomPHypoplasia"
            label="{{'headCT.vessels.acomPHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAcomPHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404119"
            name="isLeftAcomPAplasia"
            label="{{'headCT.vessels.acomPAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAcomPAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404120"
            name="isLeftPICAEndingAV"
            label="{{'headCT.vessels.pICAEndingAV.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftPICAEndingAV"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404121"
            name="isLeftAVHypoplasia"
            label="{{'headCT.vessels.aVHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAVHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404122"
            name="isLeftAVAplasia"
            label="{{'headCT.vessels.aVAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAVAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_0404123"
            name="isLeftTripleACA"
            label="{{'headCT.vessels.tripleACA.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftTripleACA"
          >
          </p-checkbox>
        </div>
        <div class="c-col-1 c-sep c-pad-l o-radio-list">
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="isLeftAcomAHypoplasia"
            name="isConsolidation"
            label="{{'headCT.vessels.acomAHypoplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAcomAHypoplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040503"
            name="isLeftAcomAAplasia"
            label="{{'headCT.vessels.acomAAplasia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAcomAAplasia"
          >
          </p-checkbox>
          <p-checkbox
            [rrValidation]="checkboxesValidation"
            (onChange)="checkAndRemovePicture()"
            rr-id="hea_c_040504"
            name="isLeftAcomASplittingOrDuplication"
            label="{{'headCT.vessels.acomASplittingDuplication.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLeftAcomASplittingOrDuplication"
          >
          </p-checkbox>

          <div
            [rrDisable]="!isSingleSelectionOnChenboxes()"
            class="margin-top-205"
          >
            <rr-reference-picture
              [(ngModel)]="model.referencePicture"
              [referenceId]="model.id"
              [fileUploadUrl]="fileUploadUrl"
              [elementsRrIds]="referencePictureElementsRrIds"
              [pictureFileType]="headCTPicturesTypeEnum.ImageFile"
              name="referencePicture"
            ></rr-reference-picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
