.pointer {
  cursor: pointer;
}

.blue {
  stroke: #00aec2;
}

.base-element {
  fill: #f3f3f3;
  stroke: #b2b2b2;
  stroke-miterlimit: 10;
}

.base-element-rounded {
  stroke-linecap: round;
  stroke: #b2b2b2;
  stroke-miterlimit: 10;
  fill: none;
}

.base-element-nofill {
  fill: none;
  stroke: #b2b2b2;
  stroke-miterlimit: 10;
}

.selected {
  fill: red;
  stroke: red;
  opacity: 0.6;
}

.selectable {
  fill: #716f6f;
  stroke: #716f6f;
  stroke-miterlimit: 10;
}

.border-container {
  @extend .stroke3;
  fill: none;
  stroke: #e2e2e2;
  .border {
    fill: none;
  }
}

.stroke3 {
  stroke-width: 3px;
}

.no-fill {
  fill: none;
}

:host-context(.invalid-localizer) {
  .border-container {
    stroke: red;
  }
}
