.main {
  margin-top: -150px;
  background: white;
}

.font-thin {
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.font15 {
  font-size: 15px;
}

.font18 {
  font-size: 18px;
}
.font33 {
  font-size: 33px;
}

.font60 {
  font-size: 60px;
}

.blue-fill {
  fill: #00aec2;
}

.close-button {
  cursor: pointer;
  .close-circle {
    fill: #00aec2;
  }
  .close-line {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
  }
}
.close-button,
.close-circle,
.close-x,
.close-line {
  pointer-events: all !important;
}

.text-line {
  fill: none;
  stroke: #707070;
}

.background-image-right {
  fill: url(#pattern-right);
}

.background-image-left {
  fill: url(#pattern-left);
}

.no-fill {
  fill: none;
}

.circle {
  cursor: pointer;
  circle {
    fill: #fff;
    opacity: 0.85;
  }
  text {
    fill: black;
  }
  .complex-circle {
    stroke: #e2e2e2;
    stroke-width: 3px;
  }
}

.circle-selected {
  circle {
    opacity: 0.85;
    fill: red;
  }
  text {
    fill: white;
  }
  .complex-circle {
    stroke: red;
  }
}

.circle-hovered {
  opacity: 0.85;
  circle {
    fill: #00aec2;
  }
  text {
    fill: white;
  }
  .complex-circle {
    stroke: #00aec2;
  }
}

.text {
  cursor: pointer;
  &-selected {
    @extend .font-bold;
    fill: #f80202;
  }
  &-hovered {
    @extend .font-bold;
    fill: #00aec2;
  }
}

.selectable {
  cursor: pointer;
  opacity: 0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.selected {
  fill: red;
  stroke: red;
  opacity: 0.6;
}

.hovered {
  fill: #00aec2;
  stroke: #00aec2;
  opacity: 0.6;
}
