.main-container {
  height: 550px;
}
.main-multi-col-header {
  height: 40px;
}
.main-multi-col-content {
  height: calc(100% - 40px);
}

.nested-multi-col-header {
  height: 35px;
}

.nested-multi-col-content {
  height: calc(100% - 35px);
}
