.main {
  height: 555px;
}

.main-header {
  height: 35px;
  margin-bottom: 5px;
}

.sub-header {
  margin-bottom: 25px;
  font-size: 15px;
}

.main-container {
  height: 520px;
}

.multi-col {
  &-header {
    height: 60px;
  }
  &-content {
    height: calc(100% - 60px);
  }
}
