<div class="finding-tab-view">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h2
          rr-id="tho_c_070209"
          [rrValidation]="['siteType', 'isAnterior isLateral isPosterior isFissural isMediastinal', 'differentialDiagnosis', 'sizeMaxWidthInMm']"
          ifAny="true"
          noUpdate="true"
        >
          {{ "thoraxCT.softParts.characterizationI.value" | translate }}
        </h2>
      </ng-template>
      <rr-main-characteristics-tab
        [findings]="findings"
        [model]="model"
      ></rr-main-characteristics-tab>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h2 rr-id="tho_c_070308">
          {{ "thoraxCT.softParts.characterizationII.value" | translate }}
        </h2>
      </ng-template>
      <rr-additional-characteristics-tab
        [model]="model"
      ></rr-additional-characteristics-tab>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h2
          rr-id="tho_c_070410"
          rrValidation="differentialDiagnosis01"
          ifAny="true"
          noUpdate="true"
        >
          {{ "thoraxCT.softParts.differentialDiagnosisTabHeader.value" |
          translate }}
        </h2>
      </ng-template>
      <rr-differential-diagnosis-tab
        [model]="model"
      ></rr-differential-diagnosis-tab>
    </p-tabPanel>
  </p-tabView>
</div>
