<div class="f-vertical f-start o-radio-list col-h-100 c-pad-l">
  <h2 rr-id="anc_m_040349">
    {{'feetMRT.bones.aOClassificationAO8815.value' | translate}}
  </h2>
  <p rr-id="anc_m_0403203" class="m-b-0">
    {{'feetMRT.bones.evaluationFracture.value' | translate}}
  </p>
  <div class="f-horizontal f-start col-h-100 m-t-5">
    <div class="f-vertical f-start o-radio-list c-col-1 c-sep c-pad-r">
      <p-radioButton
        rr-id="anc_m_040350"
        label="{{addAreaNumberToLabel('feetMRT.bones.88XY1ProximalEndSegment.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.ProximalEndSegment881"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040351"
        label="{{addAreaNumberToLabel('feetMRT.bones.88XY2Diaphyseal.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.Diaphyseal882"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040352"
        label="{{addAreaNumberToLabel('feetMRT.bones.88XY3DistalEndSegment.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.DistalEndSegment883"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_0403227"
        label="{{addAreaNumberToLabel('feetMRT.bones.88XYNotSpecified.value' | translate)}}"
        name="fractureClassificationType"
        class="text-break"
        [value]="fractureClassificationType.ProximalePhalanxFractureNotFurtherSpecified"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <div
        id="distalFractureType"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="model.fractureClassificationType !== fractureClassificationType.ProximalePhalanxFractureNotFurtherSpecified"
      >
        <p-radioButton
          rr-id="anc_m_0403228"
          label="{{'feetMRT.bones.fractureConsolidation.value' | translate}}"
          name="distalTibiaFractureType"
          [value]="distalTibiaFractureType.FractureConsolidation"
          [(ngModel)]="model.distalTibiaFractureType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="anc_m_0403229"
          label="{{'feetMRT.bones.suspicionOf.value' | translate}}"
          name="distalTibiaFractureType"
          [value]="distalTibiaFractureType.SuspicionOf"
          [(ngModel)]="model.distalTibiaFractureType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>

    <div class="f-horizontal f-start col-h-100">
      <div
        id="fractureFormDetails"
        class="f-vertical f-start o-radio-list c-col-1 c-sep c-pad"
      >
        <h2 *ngIf="fractureTypeHeaderShown()" rr-id="anc_m_040407">
          {{'feetMRT.bones.fractureType.value' | translate}}
        </h2>
        <div
          class="f-vertical f-start o-radio-list m-b-57"
          *ngIf="model.fractureClassificationType === fractureClassificationType.ProximalEndSegment881"
        >
          <p-radioButton
            rr-id="anc_m_040463"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY1AExtraarticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.ExtraArticular881A"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040464"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY1BPartiallyArticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.PartialIntraArticular881B"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040465"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY1CCompleteArticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.CompleteArticular881C"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
        </div>

        <div
          class="f-vertical f-start o-radio-list m-b-36"
          *ngIf="model.fractureClassificationType === fractureClassificationType.Diaphyseal882"
        >
          <p-radioButton
            rr-id="anc_m_040466"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY2ASimple.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.Simple882A"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040467"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY2BWedge.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.Wedge882B"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040468"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY2CMultifragmentary.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.Multifragmentary882C"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
        </div>

        <div
          class="f-vertical f-start o-radio-list"
          *ngIf="model.fractureClassificationType === fractureClassificationType.DistalEndSegment883 && noDistalSelectedOnLocalizer()"
        >
          <p-radioButton
            rr-id="anc_m_040469"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY3AExtraarticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.ExtraArticular883A"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040470"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY3BPartiallyIntraarticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.PartialIntraArticular883B"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_040471"
            label="{{addAreaNumberToLabel('feetMRT.bones.88XY3CCompleteArticular.value' | translate)}}"
            name="fractureTypeType"
            [value]="fractureTypeType.CompleteArticular883C"
            [(ngModel)]="model.fractureTypeType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
      <div class="c-col-1 c-pad-l"></div>
    </div>
  </div>
</div>
