<div class="f-horizontal f-start o-width-100 col-h-100">
  <div class="c-col-1 c-sep c-pad o-radio-list m-t-15 m-b-15">
    <h1 rr-id="spi_m_050252" class="text-break">
      {{'spineMRT.disc.arthritisFacetJoints.value' |translate}}
    </h1>
    <h2 rr-id="spi_m_050254">
      {{'spineMRT.disc.florids.value' |translate}}
    </h2>
    <p-checkbox
      binary="true"
      [(ngModel)]="model.isBoneMarrowEdema"
      label="{{'spineMRT.disc.boneMarrowEdema.value'| translate}}"
      rr-id="spi_m_050360"
      name="isBoneMarrowEdema"
    ></p-checkbox>
    <p-checkbox
      binary="true"
      [(ngModel)]="model.isSynovialitis"
      label="{{'spineMRT.disc.aynovitis.value'| translate}}"
      rr-id="spi_m_050361"
      name="isSynovialitis"
    ></p-checkbox>
    <p-checkbox
      binary="true"
      [(ngModel)]="model.isJointEffusion"
      label="{{'spineMRT.disc.articularEffusion.value'| translate}}"
      rr-id="spi_m_050362"
      name="isJointEffusion"
    ></p-checkbox>

    <h2 rr-id="spi_m_050258">
      {{'spineMRT.disc.chronic.value' |translate}}
    </h2>
    <p-checkbox
      binary="true"
      [(ngModel)]="model.isAnkylosis"
      label="{{'spineMRT.disc.ankylosis.value'| translate}}"
      rr-id="spi_m_050363"
      name="isAnkylosis"
    ></p-checkbox>
    <p-checkbox
      binary="true"
      [(ngModel)]="model.isErosions"
      label="{{'spineMRT.disc.erosions.value'| translate}}"
      rr-id="spi_m_050364"
      name="isErosions"
    ></p-checkbox>
  </div>
  <div class="f-start f-vertical c-sep m-t-15 m-b-15">
    <div class="c-pad multi-col-header o-radio-list m-b-15">
      <h1 rr-id="spi_m_050365" class="text-break">
        {{'spineMRT.disc.arthritisAtlantooccipitalJointsC1C2.value' |translate}}
      </h1>
      <h2 rr-id="spi_m_050366">
        {{'spineMRT.disc.florids.value' |translate}}
      </h2>
    </div>
    <div class="f-start f-horizontal multi-col-content">
      <div class="c-col-1 c-sep c-pad o-radio-list col-h-100">
        <p-checkbox
          binary="true"
          [(ngModel)]="model.isAtlantBoneMarrowEdema"
          label="{{'spineMRT.disc.boneMarrowEdema.value'| translate}}"
          rr-id="spi_m_050367"
          name="isAtlantBoneMarrowEdema"
        ></p-checkbox>
        <p-checkbox
          binary="true"
          [(ngModel)]="model.isAtlantSynovialitis"
          label="{{'spineMRT.disc.synovitisPannusShaped.value'| translate}}"
          rr-id="spi_m_050368"
          name="isAtlantSynovialitis"
        ></p-checkbox>
        <p-checkbox
          binary="true"
          [(ngModel)]="model.isAtlantSynovialProliferation"
          label="{{'spineMRT.disc.synovialProliferation.value'| translate}}"
          rr-id="spi_m_050369"
          name="isAtlantSynovialProliferation"
        ></p-checkbox>
        <p-checkbox
          binary="true"
          [(ngModel)]="model.isAtlantJointEffusion"
          label="{{'spineMRT.disc.articularEffusion.value'| translate}}"
          rr-id="spi_m_050370"
          name="isAtlantJointEffusion"
        ></p-checkbox>

        <h2 rr-id="spi_m_050371">
          {{'spineMRT.disc.chronic.value' |translate}}
        </h2>
        <p-checkbox
          binary="true"
          [(ngModel)]="model.isAtlantErosions"
          label="{{'spineMRT.disc.erosions.value'| translate}}"
          rr-id="spi_m_050372"
          name="isAtlantErosions"
          rrContentReset="isSuckedOffContainer"
        ></p-checkbox>
        <div
          id="isSuckedOffContainer"
          class="o-radio-list"
          [rrDisable]="!model.isAtlantErosions"
        >
          <p-checkbox
            binary="true"
            [(ngModel)]="model.isDensErosion"
            label="{{'spineMRT.disc.densSuckedOff.value'| translate}}"
            rr-id="spi_m_050373"
            name="isDensErosion"
            class="nested-content"
          ></p-checkbox>
          <p rr-id="spi_m_050374" class="text-break">
            {{'spineMRT.disc.atlantoOccipitaleDistanceSagitalMeasure.value'
            |translate}}
          </p>
          <p-radioButton
            name="atlantoOccipitaleDistanceType"
            rr-id="spi_m_050375"
            label="{{ 'spineMRT.disc.lower3Mm.value' | translate }}"
            [value]="atlantooccipitalDistanceTypesEnum.LessThan3Mm"
            [(ngModel)]="model.atlantoOccipitaleDistanceType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            name="atlantoOccipitaleDistanceType"
            rr-id="spi_m_050376"
            label="{{ 'spineMRT.disc.3to9Mm.value' | translate }}"
            [value]="atlantooccipitalDistanceTypesEnum.From3To9Mm"
            [(ngModel)]="model.atlantoOccipitaleDistanceType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            name="atlantoOccipitaleDistanceType"
            rr-id="spi_m_050377"
            label="{{ 'spineMRT.disc.higher9Mm.value' | translate }}"
            [value]="atlantooccipitalDistanceTypesEnum.MoreThan9Mm"
            [(ngModel)]="model.atlantoOccipitaleDistanceType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad o-radio-list col-h-100">
        <h2 rr-id="spi_m_050407" rrInfoIcon="spi_m_0504300">
          {{'spineMRT.disc.spinalCanalStenosis.value' |translate}}
        </h2>
        <p-radioButton
          name="spinalCanalStenosisType"
          rr-id="spi_m_050408"
          label="{{ 'spineMRT.disc.relative.value' | translate }}"
          [value]="spinalCanalStenosisTypesEnum.Relative"
          [(ngModel)]="model.spinalCanalStenosisType"
          rrUnClickRadio
          rrContentReset="widthOfSpinalCanalInMmContainer"
        ></p-radioButton>
        <p-radioButton
          name="spinalCanalStenosisType"
          rr-id="spi_m_050409"
          label="{{ 'spineMRT.disc.absolute.value' | translate }}"
          [value]="spinalCanalStenosisTypesEnum.Absolute"
          [(ngModel)]="model.spinalCanalStenosisType"
          rrUnClickRadio
          rrContentReset="widthOfSpinalCanalInMmContainer"
        ></p-radioButton>
        <p-radioButton
          name="spinalCanalStenosisType"
          rr-id="spi_m_050410"
          labelStyleClass="text-break"
          label="{{ 'spineMRT.disc.highGradeCerebrospinalFluidUsedUp.value' | translate }}"
          [value]="spinalCanalStenosisTypesEnum.HighGrade"
          [(ngModel)]="model.spinalCanalStenosisType"
          rrUnClickRadio
          rrContentReset="widthOfSpinalCanalInMmContainer"
        ></p-radioButton>
        <div
          id="widthOfSpinalCanalInMmContainer"
          class="nested-content o-radio-list"
          [rrDisable]="model.spinalCanalStenosisType !== spinalCanalStenosisTypesEnum.HighGrade"
        >
          <rr-number-input
            inputRrId="spi_m_0504301"
            labelRrId="spi_m_0504302"
            name="widthOfTheSpinalCanalInMm"
            labelStyleClass="text-break"
            label="{{'spineMRT.disc.widthOfSpinalCanalInMm.value' | translate}}"
            [(ngModel)]="model.widthOfTheSpinalCanalInMm"
          ></rr-number-input>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-15 m-b-15"></div>
</div>
