<div style="height: 620px">
  <p-tabView
    class="rr-tabView"
    [activeIndex]="activeTabIndex"
    (activeIndexChange)="onTabChange($event)"
  >
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="spi_c_070204"
          class="m-l-10"
          rrValidation="localizationTopOrBottomVertebra"
        >
          {{ "spineCT.myelonSpinalCanal.characterizationI.value" | translate }}
        </h1>
      </ng-template>
      <rr-characterization-one [model]="model"></rr-characterization-one>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="spi_c_070312" class="m-l-10">
          {{ "spineCT.myelonSpinalCanal.characterizationII.value" | translate }}
        </h1>
      </ng-template>
      <rr-characteriaztion-two [model]="model"></rr-characteriaztion-two>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="spi_c_070414"
          class="m-l-10"
          rrValidation="differentialDiagnosis1Type"
        >
          {{ "spineCT.myelonSpinalCanal.differentialDiagnosis.value" | translate
          }}
        </h1>
      </ng-template>
      <rr-differential-diagnosis [model]="model"></rr-differential-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
