<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-9 m-b-12">
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
      <div
        class="o-radio-list f-vertical m-b-14"
        [rrDisable]="model.descriptionType !== 'IKnow'"
      >
        <h2 rr-id="kne_m_040241" rrInfoIcon="kne_m_040242">
          {{'kneeMRT.bones.differentialDiagnosis01.value' | translate}}
        </h2>
        <rr-differential-diagnosis-dropdown
          [diagnosisNumber]="1"
          isActiveOnIKnow="true"
          [options]="diagnosisList1"
          [(ngModel)]="model.differentialDiagnosis"
          name="differentialDiagnosis"
          group="true"
          rrId="kne_m_040243"
          [parentViewModel]="model"
          rrValidation="differentialDiagnosis"
          (selectionChanged)="clearSubordinate()"
        ></rr-differential-diagnosis-dropdown>
      </div>
      <h2 rr-id="kne_m_040244">
        {{'kneeMRT.bones.localization.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="kne_m_040245"
        rrUnClickRadio
        name="localizationType"
        [value]="bonesLocalizationType.Epiphyseal"
        label="{{'kneeMRT.bones.epiphyseal.value' | translate}}"
        [(ngModel)]="model.localizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040246"
        rrUnClickRadio
        name="localizationType"
        [value]="bonesLocalizationType.Metaphyseal"
        label="{{'kneeMRT.bones.metaphyseal.value' | translate}}"
        [(ngModel)]="model.localizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040247"
        rrUnClickRadio
        name="localizationType"
        [value]="bonesLocalizationType.Diaphyseal"
        label="{{'kneeMRT.bones.margin.value' | translate}}"
        [(ngModel)]="model.localizationType"
        class="m-b-20"
      >
      </p-radioButton>
      <h2 rr-id="kne_m_040248">
        {{'kneeMRT.bones.limitation.value' | translate}}*
      </h2>
      <p-radioButton
        rr-id="kne_m_040249"
        name="limitationType"
        [value]="limitationType.Sharply"
        label="{{'kneeMRT.bones.sharply.value' | translate}}"
        [(ngModel)]="model.limitationType"
        rrValidation="limitationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040250"
        name="limitationType"
        [value]="limitationType.Unsharp"
        label="{{'kneeMRT.bones.unsharp.value' | translate}}"
        [(ngModel)]="model.limitationType"
        rrValidation="limitationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040251"
        name="limitationType"
        [value]="limitationType.BrushLike"
        label="{{'kneeMRT.bones.brushlike.value' | translate}}"
        [(ngModel)]="model.limitationType"
        rrValidation="limitationType"
        class="m-b-21"
      >
      </p-radioButton>
      <h2 rr-id="kne_m_040252">
        {{'kneeMRT.bones.homogeneity.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="kne_m_040253"
        rrUnClickRadio
        name="homogeneityType"
        [value]="homogeneityType.Inhomogeneous"
        label="{{'kneeMRT.bones.inhomogeneous.value' | translate}}"
        [(ngModel)]="model.homogeneityType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040254"
        rrUnClickRadio
        name="homogeneityType"
        [value]="homogeneityType.Homogeneous"
        label="{{'kneeMRT.bones.homogeneous.value' | translate}}"
        [(ngModel)]="model.homogeneityType"
      >
      </p-radioButton>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
      <h2 rr-id="kne_m_040374" class="m-t-4">
        {{'kneeMRT.bones.corticalis.value' | translate}}*
      </h2>
      <p-radioButton
        rr-id="kne_m_040375"
        name="corticalisType"
        [value]="corticalisType.Intact"
        label="{{'kneeMRT.bones.intact.value' | translate}}"
        [(ngModel)]="model.corticalisType"
        rrValidation="corticalisType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040376"
        name="corticalisType"
        [value]="corticalisType.Destruction"
        label="{{'kneeMRT.bones.destruction.value' | translate}}"
        [(ngModel)]="model.corticalisType"
        rrValidation="corticalisType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040377"
        name="corticalisType"
        [value]="corticalisType.Thinning"
        label="{{'kneeMRT.bones.thinningScalopping.value' | translate}}"
        [(ngModel)]="model.corticalisType"
        rrValidation="corticalisType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040378"
        name="corticalisType"
        [value]="corticalisType.Transmigration"
        label="{{'kneeMRT.bones.transmigration.value' | translate}}"
        [(ngModel)]="model.corticalisType"
        rrValidation="corticalisType"
        class="m-b-66"
      >
      </p-radioButton>
      <div>
        <h2 rr-id="kne_m_0403116">
          {{'kneeMRT.bones.signalBehaviourT1w.value' | translate}}
        </h2>
        <p>{{'kneeMRT.bones.referenceBoneMarrow.value' | translate}}</p>
      </div>
      <rr-signal-slider
        name="signalT1w"
        rr-id="kne_m_040379"
        [(ngModel)]="model.signalT1w"
        class="m-b-17"
      >
      </rr-signal-slider>
      <div>
        <h2 rr-id="kne_m_0403117">
          {{'kneeMRT.bones.signalBehaviourT2w.value' | translate}}
        </h2>
        <p>{{'kneeMRT.bones.referenceBoneMarrow.value' | translate}}</p>
      </div>
      <rr-signal-slider
        name="signalT2w"
        rr-id="kne_m_040380"
        [(ngModel)]="model.signalT2w"
      >
      </rr-signal-slider>
    </div>
    <div
      class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list"
      [ngClass]="{'disabled': !isCMYes}"
    >
      <h2 rr-id="kne_m_040470" class="m-b-13">
        {{'kneeMRT.bones.contrastEnhancementQuantitative.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="kne_m_040471"
        rrUnClickRadio
        name="contrastEnhancementType"
        [value]="contrastEnhancementType.Strong"
        label="{{'kneeMRT.bones.strong.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementType"
        rrContentReset="contrastHomogeneityTypeBlock"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="kne_m_040475"
        rrUnClickRadio
        name="contrastEnhancementType"
        [value]="contrastEnhancementType.Low"
        label="{{'kneeMRT.bones.low.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementType"
        rrContentReset="contrastHomogeneityTypeBlock"
      >
      </p-radioButton>
      <div
        class="f-start o-radio-list nested-content"
        id="contrastHomogeneityTypeBlock"
        [rrDisable]="model.contrastEnhancementType !== contrastEnhancementType.Strong && model.contrastEnhancementType !== contrastEnhancementType.Low"
      >
        <p-radioButton
          rr-id="kne_m_040473"
          rrUnClickRadio
          name="contrastHomogeneityType"
          [value]="contrastHomogeneityType.Homogeneous"
          label="{{'kneeMRT.bones.homogeneous.value' | translate}}"
          [(ngModel)]="model.contrastHomogeneityType"
          rrContentReset="isContrastInSeptaBlock"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="kne_m_040472"
          rrUnClickRadio
          name="contrastHomogeneityType"
          [value]="contrastHomogeneityType.Heterogeneous"
          label="{{'kneeMRT.bones.heterogeneous.value' | translate}}"
          [(ngModel)]="model.contrastHomogeneityType"
          rrContentReset="isContrastInSeptaBlock"
        >
        </p-radioButton>
        <div
          class="f-start o-radio-list nested-content"
          id="isContrastInSeptaBlock"
          [rrDisable]="model.contrastHomogeneityType !== contrastHomogeneityType.Heterogeneous"
        >
          <p-checkbox
            rr-id="kne_m_040474"
            name="isContrastInSepta"
            label="{{'kneeMRT.bones.inSepta.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isContrastInSepta"
          >
          </p-checkbox>
        </div>
      </div>
      <p-radioButton
        rr-id="kne_m_040476"
        rrUnClickRadio
        name="contrastEnhancementType"
        [value]="contrastEnhancementType.No"
        label="{{'kneeMRT.bones.small.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementType"
        rrContentReset="contrastHomogeneityTypeBlock"
      >
      </p-radioButton>

      <h2 rr-id="kne_m_0404118" class="m-t-40">
        {{'kneeMRT.bones.cMEnhancementAllocation.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="kne_m_0404119"
        rrUnClickRadio
        name="contrastEnhancementDistributionType"
        [value]="contrastEnhancementDistributionType.Peripheral"
        label="{{'kneeMRT.bones.periphere.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
      ></p-radioButton>
      <p-radioButton
        rr-id="kne_m_0404120"
        rrUnClickRadio
        name="contrastEnhancementDistributionType"
        [value]="contrastEnhancementDistributionType.Central"
        label="{{'kneeMRT.bones.aCentral.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
      ></p-radioButton>
      <p-radioButton
        rr-id="kne_m_0404121"
        rrUnClickRadio
        name="contrastEnhancementDistributionType"
        [value]="contrastEnhancementDistributionType.EntireLesion"
        label="{{'kneeMRT.bones.wholeLesion.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
      ></p-radioButton>
      <p-radioButton
        rr-id="kne_m_0404122"
        rrUnClickRadio
        name="contrastEnhancementDistributionType"
        [value]="contrastEnhancementDistributionType.Septal"
        label="{{'kneeMRT.bones.septal.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
      ></p-radioButton>
      <p-radioButton
        rr-id="kne_m_0404123"
        rrUnClickRadio
        name="contrastEnhancementDistributionType"
        [value]="contrastEnhancementDistributionType.Nidus"
        label="{{'kneeMRT.bones.aNidus.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
      ></p-radioButton>
    </div>
    <div class="c-col-1 c-pad-l c-sep f-vertical f-start o-radio-list">
      <h2 rr-id="kne_m_040518" class="m-b-15">
        {{'kneeMRT.bones.internalChanges.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="kne_m_040543"
        name="isSeptetedOrChambered"
        label="{{'kneeMRT.bones.septiertChambered.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSeptetedOrChambered"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040519"
        name="isLiquidLevel"
        label="{{'kneeMRT.bones.liquidLevel.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isLiquidLevel"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040520"
        name="isCalcification"
        label="{{'kneeMRT.bones.calcification.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCalcification"
        rrContentReset="calcificationCentralBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        [rrDisable]="!model.isCalcification"
        id="calcificationCentralBlock"
      >
        <p-checkbox
          rr-id="kne_m_040521"
          name="isCalcificationCentral"
          label="{{'kneeMRT.bones.central.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCalcificationCentral"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="kne_m_040522"
          name="isCalcificationDiffuselyDistributed"
          label="{{'kneeMRT.bones.diffuselyDistributed.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCalcificationDiffuselyDistributed"
        >
        </p-checkbox>
      </div>
      <p-checkbox
        rr-id="kne_m_040523"
        name="isNidus"
        label="{{'kneeMRT.bones.nidus.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isNidus"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040524"
        name="isOsteoidMatrix"
        label="{{'kneeMRT.bones.osteoidMatrix.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isOsteoidMatrix"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040525"
        name="isGreaseSignal"
        label="{{'kneeMRT.bones.greaseSignal.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isGreaseSignal"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040526"
        name="isNidusT2wHyperintensity"
        label="{{'kneeMRT.bones.nidusT2wHyperintensity.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isNidusT2wHyperintensity"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040527"
        name="isCapT2wHyperintensity"
        label="{{'kneeMRT.bones.capT2wHyperintensity.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCapT2wHyperintensity"
      >
      </p-checkbox>
    </div>
  </div>
</div>
