<div class="institute-configuration-content">
  <div class="config-container-header">
    Institut Konfiguration
  </div>
  <p class="config-container-description">
    Bitte lassen Sie diese Konfiguration nur von dem Systemadministrator
    bearbeiten.
  </p>
  <div class="config-container">
    <table class="config-container-table">
      <tbody>
        <tr>
          <td class="positionright">Institut ID</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ instituteId }}"
              [(ngModel)]="instituteId"
              label="Institut ID"
              readonly="true"
            />
          </td>
        </tr>
        <tr>
          <td class="positionright">Base URL</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ baseUrl }}"
              [(ngModel)]="baseUrl"
              label="Base URL"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr *ngIf="isClient === true">
          <td class="positionright"></td>
          <td style="font-weight: 700;" class="positionleft">
            PACS
          </td>
        </tr>
        <tr *ngIf="isClient === true">
          <td class="positionright">Host</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ pacsHost }}"
              [(ngModel)]="pacsHost"
              label="Pacs Host"
            />
          </td>
        </tr>
        <tr *ngIf="isClient === true">
          <td class="positionright">Port</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ pacsPort }}"
              [(ngModel)]="pacsPort"
              label="Port"
            />
          </td>
        </tr>
        <tr *ngIf="isClient === true">
          <td class="positionright">Calling AE</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ pacsCallingAe }}"
              [(ngModel)]="pacsCallingAe"
              label="Calling AE"
            />
          </td>
        </tr>
        <tr *ngIf="isClient === true">
          <td class="positionright">Called AE</td>
          <td class="positionleft">
            <input
              type="text"
              placeholder="{{ pacsCalledAe }}"
              [(ngModel)]="pacsCalledAe"
              label="Called AE"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="f-horizontal  button-container">
    <button class="m-l-10 m-r-5" (click)="cancel()">
      Abbrechen
    </button>
    <button
      style="background-color: #99999a; color: #ffffff;"
      (click)="confirm()"
    >
      Speichern
    </button>
  </div>
</div>
<div class="footer m-b-20">
  <img src="assets/img/layout/rr-logo-inverted.svg" />
</div>
