$res-vertical: 1080;
$res-horizontal: 1920;

@function px2vw($width) {
  @return 100 * $width / $res-horizontal * 1vw;
}

@function px2vh($height) {
  @return 100 * $height / $res-vertical * 1vh;
}

.institute-configuration-content {
  height: px2vh(701);
  width: px2vw(642);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.config-container {
  margin-left: px2vw(75);
  font-size: px2vh(18);
  padding: auto;
  height: px2vh(300);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &-header {
    font-family: BentonSansBold;
    margin-bottom: px2vh(30);
    margin-top: px2vh(30);
    font-size: px2vh(22);
    font-weight: 700;
    line-height: px2vh(13);
  }
  &-description {
    width: px2vw(365);
    margin: 0 auto;
    margin-bottom: px2vh(60);
    font-size: px2vh(18);
  }
  &-table {
    margin-bottom: px2vh(20);
  }
  table {
    border-collapse: separate;
    border-spacing: px2vw(10);
  }
  th {
    text-align: center;
  }
  td > input {
    text-align: left;
  }

  input {
    background-color: #ffffff;
    border-radius: 2.5px;
    border: px2vh(3) solid #dfdfdf;
    width: px2vw(375);
    height: px2vh(40);
    overflow: hidden;
    text-align: left;
    outline-color: #00aec2;
    padding-left: px2vw(15);
  }
}

td {
  margin: 15px;
}
.positionright {
  text-align: right;
  padding-right: 15px;
}
.positionleft {
  text-align: left;
  padding-right: 15px;
}
.button-container {
  margin-top: px2vh(70);
  margin-left: px2vw(194);
}
button {
  font-family: BentonSansBold, sans-serif;
  border-radius: 6px;
  border: px2vh(4) solid #999999;
  height: px2vh(48);
  width: px2vw(120);
  font-size: px2vh(15);
  color: #999999;
}

.footer {
  padding-bottom: 13px;
  img {
    margin-right: 3px;
    height: px2vh(24);
    float: right;
  }
}
