button {
  background-color: #00aec2;
  border-radius: 4px;
  width: 312px;
  height: 40px;
  border: 1px solid #00aec2;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}
.overflow-section {
  max-height: 525px;
  padding-top: 5px;
  overflow: visible;
  .overflow-section__dynamic-component {
    margin-bottom: 11px;
    z-index: 20;
  }
}
:host
  ::ng-deep
  .overflow-section__dynamic-component
  ul
  > :last-child
  .ui-dropdown-item {
  color: red;
}
