.fill-none {
  fill: none;
}

.fill-white1 {
  fill: #f4f4f4;
}

.fill-white2 {
  fill: #f5f5f5;
}

.fill-white3 {
  fill: #fff;
}

.fill-white4 {
  fill: #d1cfd1;
}

.fill-blue {
  fill: #00aec2;
}

.fill-blue2 {
  fill: #b2e7ed;
}

.fill-red {
  fill: #f80202;
}

.font-size-18,
.caption {
  font-size: 18px;
}

.font-size-60 {
  font-size: 60px;
}

.font-benton-light,
.caption {
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}
.stroke-none {
  stroke: none;
}

.stroke-gray1 {
  stroke: #707070;
}

.stroke-gray2 {
  stroke: #b2b2b2;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-white-width-6 {
  stroke: #fff;
  stroke-width: 6px;
}

.stroke-width-3 {
  stroke-width: 3px;
}

.stroke-miterlimit-10 {
  stroke-miterlimit: 10;
}

.fill-stroke-gray {
  fill: #b1b0af;
  stroke: #9b9a9a;
}

.cursor-pointer,
.element,
.caption {
  cursor: pointer;
}

.element {
  opacity: 0;

  &-hover,
  &-selected {
    opacity: 0.6;
  }

  &-hover {
    fill: #00aec2;
  }

  &-selected {
    fill: #f80202;
  }
}

.caption {
  &-hover,
  &-selected {
    font-family: BentonSansBold, BentonSans;
    font-weight: 700;
  }

  &-hover {
    fill: #00aec2;
  }

  &-selected {
    fill: #f80202;
  }
}
