<div class="f-horizontal f-start main">
  <div class="c-col-1 c-sep c-pad o-radio-list">
    <h2 rr-id="spi_m_050202" class="m-t-8 m-b-4" rrValidation="spineLocation">
      {{'spineMRT.disc.localization.value' | translate}}*
    </h2>
    <rr-spine-simple
      [spineLocation]="model.spineLocation"
      (click)="openLocalizer()"
      rr-id="spi_m_050203"
      rrValidation="spineLocation"
      isLocalizer="true"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
    >
    </rr-spine-simple>
  </div>
  <div class="c-col-1 c-sep c-pad o-radio-list"></div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
