<div class="c-col-4 f-vertical col-h-100">
  <h2 rr-id="kne_m_040203" class="m-b-23" rrInfoIcon="kne_m_040219">
    {{ 'kneeMRT.bones.evaluationFracture.value' | translate }}*
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="c-col-1 c-pad-r c-sep f-vertical">
      <div class="c-col-1 c-pad-r c-sep o-list">
        <div class="o-radio-list">
          <p-radioButton
            rr-id="kne_m_040220"
            rrContentReset="fourth-column fifth-column FractureDistNotSpecified-block"
            label="{{ 'kneeMRT.bones.34AExtraarticular.value' | translate }}"
            name="evaluationFractureType"
            [value]="evaluationFractureType.Extraarticular"
            [(ngModel)]="model.evaluationFractureType"
            rrValidation="evaluationFractureType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="kne_m_040221"
            rrContentReset="third-column fifth-column FractureDistNotSpecified-block"
            label="{{ 'kneeMRT.bones.34BPartiallyArticular.value' | translate }}"
            name="evaluationFractureType"
            [value]="evaluationFractureType.PartiallyArticular"
            [(ngModel)]="model.evaluationFractureType"
            rrValidation="evaluationFractureType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="kne_m_040222"
            rrContentReset="third-column fourth-column FractureDistNotSpecified-block"
            label="{{ 'kneeMRT.bones.34CCompletelyIntraarticular.value' | translate }}"
            name="evaluationFractureType"
            [value]="evaluationFractureType.Articular"
            [(ngModel)]="model.evaluationFractureType"
            rrValidation="evaluationFractureType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="kne_m_040223"
            rrContentReset="third-column fourth-column fifth-column"
            label="{{ 'kneeMRT.bones.fracturePatellaNotFurther.value' | translate }}"
            name="evaluationFractureType"
            [value]="evaluationFractureType.FractureDistNotSpecified"
            [(ngModel)]="model.evaluationFractureType"
            rrValidation="evaluationFractureType"
            labelStyleClass="text-break"
          >
          </p-radioButton>
          <div
            id="FractureDistNotSpecified-block"
            class="o-radio-list nested-content"
            [rrDisable]="model.evaluationFractureType !== evaluationFractureType.FractureDistNotSpecified"
          >
            <p-radioButton
              rr-id="kne_m_040224"
              rrUnClickRadio
              label="{{ 'kneeMRT.bones.fractureOlderConsolidated.value' | translate }}"
              name="fractureDistType"
              [value]="fractureDistType.FractureOlderConsolidated"
              [(ngModel)]="model.fractureDistType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="kne_m_040225"
              rrUnClickRadio
              label="{{ 'kneeMRT.bones.suspicionOf.value' | translate }}"
              name="fractureDistType"
              [value]="fractureDistType.SuspicionOf"
              [(ngModel)]="model.fractureDistType"
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-3 c-pad-l f-vertical">
      <h3 rr-id="kne_m_040301" class="m-b-13">
        {{ 'kneeMRT.bones.evaluationSeverity.value' | translate }}
      </h3>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-pad-r c-sep o-list">
          <div
            id="third-column"
            class="o-radio-list m-b-45"
            [rrDisable]="model.evaluationFractureType !== evaluationFractureType.Extraarticular"
          >
            <p-checkbox
              rr-id="kne_m_040337"
              label="{{ 'kneeMRT.bones.34A1AvulsionFracture.value' | translate }}"
              name="isAvulsionFracture"
              binary="true"
              rrContentReset="isAvulsionFracture-block"
              [(ngModel)]="model.isAvulsionFracture"
            >
            </p-checkbox>
            <div
              id="isAvulsionFracture-block"
              class="o-radio-list f-vertical nested-content"
              [rrDisable]="!model.isAvulsionFracture"
            >
              <p-radioButton
                rr-id="kne_m_0403109"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.aProximalPole.value' | translate }}"
                name="avulsionFractureType"
                [value]="avulsionFractureType.ProximalPole"
                [(ngModel)]="model.avulsionFractureType"
                labelStyleClass="text-break"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_0403110"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.bDistalPole.value' | translate }}"
                name="avulsionFractureType"
                [value]="avulsionFractureType.DistalPole"
                [(ngModel)]="model.avulsionFractureType"
                labelStyleClass="text-break"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_0403111"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.cLateralFacet.value' | translate }}"
                name="avulsionFractureType"
                [value]="avulsionFractureType.LateralFacet"
                [(ngModel)]="model.avulsionFractureType"
                labelStyleClass="text-break"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_0403112"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.dMediaFacet.value' | translate }}"
                name="avulsionFractureType"
                [value]="avulsionFractureType.MediaFacet"
                [(ngModel)]="model.avulsionFractureType"
                labelStyleClass="text-break"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
        <div class="c-col-1 c-pad c-sep o-list">
          <div
            id="fourth-column"
            class="o-radio-list f-vertical"
            [rrDisable]="model.evaluationFractureType !== evaluationFractureType.PartiallyArticular"
          >
            <p-radioButton
              rr-id="kne_m_040419"
              rrUnClickRadio
              rrContentReset="Lateral-block Medial-block"
              label="{{ 'kneeMRT.bones.34B1Lateral.value' | translate }}"
              name="patellaFractureBType"
              [value]="patellaFractureBType.Lateral"
              [(ngModel)]="model.patellaFractureBType"
            >
            </p-radioButton>
            <div
              id="Lateral-block"
              class="o-radio-list nested-content"
              [rrDisable]="model.patellaFractureBType !== patellaFractureBType.Lateral"
            >
              <p-radioButton
                rr-id="kne_m_040420"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34B11SagittalFractureFragment.value' | translate }}"
                name="patellaFractureLateralDetailsType"
                [value]="patellaFractureDetailsType.SagittalTrendingFractureOneFragmen"
                [(ngModel)]="model.patellaFractureLateralDetailsType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_040421"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34B12SagittalFractureMultifragmental.value' | translate }}"
                name="patellaFractureLateralDetailsType"
                [value]="patellaFractureDetailsType.SagittalTrendingFractureMultiFragmentary"
                [(ngModel)]="model.patellaFractureLateralDetailsType"
              >
              </p-radioButton>
            </div>
            <p-radioButton
              rr-id="kne_m_040422"
              rrUnClickRadio
              rrContentReset="Lateral-block Medial-block"
              label="{{ 'kneeMRT.bones.34B2Medial.value' | translate }}"
              name="patellaFractureBType"
              [value]="patellaFractureBType.Medial"
              [(ngModel)]="model.patellaFractureBType"
            >
            </p-radioButton>
            <div
              id="Medial-block"
              class="o-radio-list nested-content"
              [rrDisable]="model.patellaFractureBType !== patellaFractureBType.Medial"
            >
              <p-radioButton
                rr-id="kne_m_040423"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34B21SagittalFractureFragment.value' | translate }}"
                name="patellaFractureMedialDetailsType"
                [value]="patellaFractureDetailsType.SagittalTrendingFractureOneFragmen"
                [(ngModel)]="model.patellaFractureMedialDetailsType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_040424"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34B22SagittalFractureMultifragmented.value' | translate }}"
                name="patellaFractureMedialDetailsType"
                [value]="patellaFractureDetailsType.SagittalTrendingFractureMultiFragmentary"
                [(ngModel)]="model.patellaFractureMedialDetailsType"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
        <div class="c-col-1 c-pad-l o-list">
          <div
            id="fifth-column"
            class="o-radio-list f-vertical"
            [rrDisable]="model.evaluationFractureType !== evaluationFractureType.Articular"
          >
            <p-radioButton
              rr-id="kne_m_040537"
              rrUnClickRadio
              rrContentReset="HorizontalFractureOneFragment-block"
              labelStyleClass="text-break2"
              label="{{ 'kneeMRT.bones.34C1HorizontalFractureFragment.value' | translate }}"
              name="patellaFractureCType"
              [value]="patellaFractureCType.HorizontalFractureOneFragment"
              [(ngModel)]="model.patellaFractureCType"
            >
            </p-radioButton>
            <div
              id="HorizontalFractureOneFragment-block"
              class="nested-content f-vertical o-radio-list"
              [rrDisable]="model.patellaFractureCType !== patellaFractureCType.HorizontalFractureOneFragment"
            >
              <p-radioButton
                rr-id="kne_m_040538"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34C11MiddleThird.value' | translate }}"
                name="horizontalFractureType"
                [value]="horizontalFractureType.MiddleThird"
                [(ngModel)]="model.horizontalFractureType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_040539"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34C12ProximalThird.value' | translate }}"
                name="horizontalFractureType"
                [value]="horizontalFractureType.ProximalThird"
                [(ngModel)]="model.horizontalFractureType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="kne_m_040540"
                rrUnClickRadio
                label="{{ 'kneeMRT.bones.34C13DistalThird.value' | translate }}"
                name="horizontalFractureType"
                [value]="horizontalFractureType.DistalThird"
                [(ngModel)]="model.horizontalFractureType"
              >
              </p-radioButton>
            </div>
            <p-radioButton
              rr-id="kne_m_040541"
              rrUnClickRadio
              class="text-break2"
              rrContentReset="HorizontalFractureOneFragment-block"
              label="{{ 'kneeMRT.bones.34C2HorizontalFracture2fragment.value' | translate }}"
              name="patellaFractureCType"
              [value]="patellaFractureCType.HorizontalFractureTwofragmentWithWedgeShape"
              [(ngModel)]="model.patellaFractureCType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="kne_m_040542"
              rrUnClickRadio
              rrContentReset="HorizontalFractureOneFragment-block"
              label="{{ 'kneeMRT.bones.34C3Multifragmentary.value' | translate }}"
              name="patellaFractureCType"
              [value]="patellaFractureCType.Multifragmentary"
              [(ngModel)]="model.patellaFractureCType"
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
