<p-tabView
  class="rr-tabView right-edge-tab"
  (onChange)="onTabChange($event)"
  [activeIndex]="activeTabIndex"
>
  <p-tabPanel [selected]="true">
    <ng-template pTemplate="header">
      <h1
        rr-id="pel_m_070202"
        class="custom-tab-header"
        [rrValidation]="['isLesionPeriurethralLigamentLeft isLesionPeriurethralLigamentRight isLesionPeriurethralLigamentSuspicionOf',
        'isLesionParaurethralLigamentLeft isLesionParaurethralLigamentRight isLesionParaurethralLigamentSuspicionOf',
        'isPubourethralLigamentLesionLeft isPubourethralLigamentLesionRight isPubourethralLigamentLesionSuspicionOf']"
        ifAny="true"
      >
        {{'pelvisMRT.pelvicFloor.characterizationTabHeader.value' | translate}}
      </h1>
    </ng-template>
    <rr-pelvic-floor-morph-main-features
      class="f-horizontal h-550"
      [model]="model"
    ></rr-pelvic-floor-morph-main-features>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="pel_m_070301"
        class="custom-tab-header"
        [rrValidation]="['isLesionMPuborectalisLeft isLesionMPuborectalisRight isMPuborectalisSuspicionOf',
        'isLesionMIliococcygeusLeft isLesionMIliococcygeusRight isMIliococcygeusSuspicionOf',
        'isLesionMPubococygeusLeft isLesionMPubococygeusRight isMPubococygeusSuspicionOf']"
        ifAny="true"
      >
        {{'pelvisMRT.pelvicFloor.mLevatorAniMuscleTabHeader.value' | translate}}
      </h1>
    </ng-template>
    <rr-m-levator class="f-horizontal h-550" [model]="model"></rr-m-levator>
  </p-tabPanel>
</p-tabView>
