.m-h-117 {
  min-height: 117px;
}

.m-h-127 {
  min-height: 127px;
}

.m-t-minus-4 {
  margin-top: -4px;
}

.l-h-19 {
  line-height: 19px;
}

.l-h-25 {
  line-height: 25px;
}

.tab-paragraph {
  height: 80px;
  font-size: 13px;
  margin-left: 11px;
}

.sliders-z-index {
  z-index: 0;
}

::ng-deep p-tabView li:nth-child(2) a {
  margin-left: 8px;
}
