<div class="c-col-4 f-horizontal f-start col-h-100">
  <div class="c-col-1 c-sep c-pad-r o-list">
    <div class="o-radio-list f-vertical">
      <h2 rr-id="kne_m_040231">
        {{ 'kneeMRT.bones.corticalDesmoidDetails.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="kne_m_040232"
        label="{{ 'kneeMRT.bones.metaphyseal.value' | translate }}"
        name="isCorticalDesmoidMetaphyseal"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidMetaphyseal"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040233"
        label="{{ 'kneeMRT.bones.mm.value' | translate }}"
        name="isCorticalDesmoidLessThan30MM"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidLessThan30MM"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040234"
        label="{{ 'kneeMRT.bones.rimSclerosis.value' | translate }}"
        name="isCorticalDesmoidRimSclerosis"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidRimSclerosis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040235"
        label="{{ 'kneeMRT.bones.lobbied.value' | translate }}"
        name="isCorticalDesmoidLobbied"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidLobbied"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040236"
        label="{{ 'kneeMRT.bones.t1wIsointens.value' | translate }}"
        name="isCorticalDesmoidT1wIsointens"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidT1wIsointens"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="kne_m_040237"
        label="{{ 'kneeMRT.bones.heterogeneous.value' | translate }}"
        name="isCorticalDesmoidHeterogeneous"
        binary="true"
        [(ngModel)]="model.isCorticalDesmoidHeterogeneous"
      >
      </p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-pad-l"></div>
</div>
