<div class="f-horizontal main-container col-h-100 o-width-100">
  <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-10">
    <div class="o-radio-list p-l-10 p-r-10">
      <h2 rr-id="hea_m_090253">
        {{ "headMRT.cerebrospinalFluid.internalStructure.value" | translate}}
      </h2>
      <p-checkbox
        rr-id="hea_m_090254"
        binary="true"
        name="isHemorrhage"
        label="{{ 'headMRT.cerebrospinalFluid.hemorrhage.value' | translate }}"
        [(ngModel)]="model.isHemorrhage"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090255"
        binary="true"
        name="isNecrosis"
        label="{{ 'headMRT.cerebrospinalFluid.necrosis.value' | translate }}"
        [(ngModel)]="model.isNecrosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090256"
        binary="true"
        name="isCalcification"
        label="{{ 'headMRT.cerebrospinalFluid.calcification2.value' | translate }}"
        [(ngModel)]="model.isCalcification"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090257"
        binary="true"
        name="isFat"
        label="{{ 'headMRT.cerebrospinalFluid.fat.value' | translate }}"
        [(ngModel)]="model.isFat"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090258"
        binary="true"
        name="isCysts"
        label="{{ 'headMRT.cerebrospinalFluid.cysts.value' | translate }}"
        [(ngModel)]="model.isCysts"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090259"
        binary="true"
        name="isCapsule"
        label="{{ 'headMRT.cerebrospinalFluid.capsule.value' | translate }}"
        [(ngModel)]="model.isCapsule"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090260"
        binary="true"
        name="isSepta"
        label="{{ 'headMRT.cerebrospinalFluid.septa.value' | translate }}"
        [(ngModel)]="model.isSepta"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090261"
        binary="true"
        name="isSignalVoids"
        label="{{ 'headMRT.cerebrospinalFluid.signalVoids.value' | translate }}"
        [(ngModel)]="model.isSignalVoids"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090262"
        binary="true"
        name="isFluidLevel"
        label="{{ 'headMRT.cerebrospinalFluid.fluidLevel.value' | translate }}"
        [(ngModel)]="model.isFluidLevel"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="hea_m_090348">
        {{ "headMRT.cerebrospinalFluid.growthPattern.value" | translate}}
      </h2>
      <p-checkbox
        rr-id="hea_m_090349"
        binary="true"
        name="isDisplacement"
        label="{{ 'headMRT.cerebrospinalFluid.displacement.value' | translate }}"
        [(ngModel)]="model.isDisplacement"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090350"
        binary="true"
        name="isInfiltration"
        label="{{ 'headMRT.cerebrospinalFluid.infiltration.value' | translate }}"
        [(ngModel)]="model.isInfiltration"
      ></p-checkbox>
      <h2 rr-id="hea_m_090351" class="m-t-25">
        {{ "headMRT.cerebrospinalFluid.associatedFindings.value" | translate}}
      </h2>
      <p-checkbox
        rr-id="hea_m_090352"
        binary="true"
        name="isSubependymalNodules"
        label="{{ 'headMRT.cerebrospinalFluid.subependymalNodules.value' | translate }}"
        [(ngModel)]="model.isSubependymalNodules"
        rrContentReset="isSubependymalNodulesContainer"
      ></p-checkbox>
      <div class="nested-content" id="isSubependymalNodulesContainer">
        <p-checkbox
          [rrDisable]="!model.isSubependymalNodules"
          rr-id="hea_m_090353"
          binary="true"
          name="isCalcified"
          label="{{ 'headMRT.cerebrospinalFluid.calcified.value' | translate }}"
          [(ngModel)]="model.isCalcified"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="hea_m_090354"
        binary="true"
        name="isHypertrophyChoroidPlexus"
        label="{{ 'headMRT.cerebrospinalFluid.hypertrophyChoroidPlexus.value' | translate }}"
        [(ngModel)]="model.isHypertrophyChoroidPlexus"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_m_090355"
        binary="true"
        name="isPerifocalEdema"
        label="{{ 'headMRT.cerebrospinalFluid.perifocalEdema.value' | translate }}"
        [(ngModel)]="model.isPerifocalEdema"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div [rrDisable]="!isCMYes" class="o-radio-list m-l-10">
      <h2 rr-id="hea_m_090438">
        {{ "headMRT.cerebrospinalFluid.contrastEnhancementQuantitative.value" |
        translate}}
      </h2>
      <p-radioButton
        rr-id="hea_m_090439"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.No"
        label="{{'headMRT.cerebrospinalFluid.no.value' | translate}}"
        rrContentReset="contrastEnhancementHomogeneityTypeBlock"
        (click)="resetContrastDistribution()"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090440"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Weak"
        label="{{'headMRT.cerebrospinalFluid.weak.value' | translate}}"
        rrContentReset="contrastEnhancementHomogeneityTypeBlock"
        (click)="resetContrastDistribution()"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090441"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Significant"
        label="{{'headMRT.cerebrospinalFluid.significant.value' | translate}}"
        rrContentReset="contrastEnhancementHomogeneityTypeBlock"
        (click)="resetContrastDistribution()"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
      >
      </p-radioButton>
      <div
        id="contrastEnhancementHomogeneityTypeBlock"
        [rrDisable]="!checkIfWeakOrSignificant()"
        class="nested-content o-radio-list"
      >
        <p-radioButton
          rr-id="hea_m_090442"
          name="contrastEnhancementHomogeneityType"
          [value]="contrastEnhancementHomogeneityType.Homogeneous"
          label="{{'headMRT.cerebrospinalFluid.homogeneous.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="hea_m_090443"
          name="contrastEnhancementHomogeneityType"
          [value]="contrastEnhancementHomogeneityType.Heterogeneous"
          label="{{'headMRT.cerebrospinalFluid.heterogeneous.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad-l m-t-10 m-b-10">
    <div [rrDisable]="!checkIfWeakOrSignificant()" class="o-radio-list m-l-10">
      <h2 rr-id="hea_m_090537">
        {{ "headMRT.cerebrospinalFluid.contrastEnhancementDistribution.value" |
        translate}}
      </h2>
      <p-radioButton
        rr-id="hea_m_090538"
        name="contrastEnhancementDistributionType"
        [value]="contrastDistributionType.Peripheral"
        label="{{'headMRT.cerebrospinalFluid.peripheral.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090539"
        name="contrastEnhancementDistributionType"
        [value]="contrastDistributionType.EntireLesion"
        label="{{'headMRT.cerebrospinalFluid.entireLesion.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090540"
        name="contrastEnhancementDistributionType"
        [value]="contrastDistributionType.Central"
        label="{{'headMRT.cerebrospinalFluid.central.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090541"
        name="contrastEnhancementDistributionType"
        [value]="contrastDistributionType.Septal"
        label="{{'headMRT.cerebrospinalFluid.septal.value' | translate}}"
        [(ngModel)]="model.contrastEnhancementDistributionType"
        rrUnClickRadio
      >
      </p-radioButton>
    </div>
  </div>
</div>
