<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center">
    <div class="c-col-2 c-pad-r c-sep f-vertical">
      <h1
        rr-id="hip_m_010103"
        rrInfoIcon="hip_m_01_01"
        class="m-b-20"
        rrValidation="hipLocalization"
      >
        {{ 'hipMRT.localization.localization.value' | translate }}*
      </h1>
      <rr-hip-general
        rr-id="hip_m_010105"
        name="hipLocalization"
        [(ngModel)]="model.hipLocalization"
        rrValidation="hipLocalization"
        isLocalizer="true"
        [isSingleChoice]="true"
      >
      </rr-hip-general>
    </div>
    <div class="c-col-2 c-pad c-sep">
      <rr-patient-information [model]="model.patientInformation">
      </rr-patient-information>
    </div>
    <div class="c-col-1 c-pad-l"></div>
  </div>
</form>
