@import "../diagnosis.component.scss";

.slider-small-caption {
  font-size: 15px;
  margin: {
    top: 2px;
    bottom: 11px;
  }
}

.horizontal-radio-buttons {
  margin: {
    left: 35px;
    right: 35px;
  }
  * {
    width: 50%;
  }
}

.first-column-header {
  margin-top: -12px;
}
