.dialog-container {
  height: 730px;
  padding-top: 40px;
}

.dialog-prompt {
  margin-bottom: 40px;
  text-align: center;
  font-family: BentonSansLight;
  font-size: 21px;
}

.dialog-title {
  margin-bottom: 40px;
  font-family: BentonSansBold;
}

.required-fields-container {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: BentonSansBold, Helvetica, sans-serif;
}

.input-container {
  margin-bottom: 20px;
}

.text-input {
  font-family: BentonSansLight;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 80%;
}

.dialog-buttons {
  :first-child {
    margin-right: 4px;
  }
}

.dialog-button {
  font-family: BentonSansBold;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  font-size: 15px;

  &-confirm {
    background: #ffffff;
    color: #999999;
  }

  &-cancel {
    background-color: #999999;
    color: #ffffff;
  }
}
