<div class="f-horizontal f-start h-580">
  <div class="c-col-1 c-sep c-pad o-list">
    <div class="o-radio-list" [rrDisable]="!model.isTendinopathy">
      <h2 rr-id="anc_m_050369" class="m-b-30">
        {{ 'feetMRT.ligamentsAndTendons.tendinopathyDetails.value' | translate
        }}
      </h2>
      <h2 rr-id="anc_m_050370" rrInfoIcon="anc_m_05_09">
        {{ 'feetMRT.ligamentsAndTendons.morphology.value' | translate }}
      </h2>
      <p-checkbox
        name="isT2wPDHyperintensity"
        label="{{ 'feetMRT.ligamentsAndTendons.t2wPDHyperIntensity.value' | translate }}"
        rr-id="anc_m_050371"
        binary="true"
        [(ngModel)]="model.isT2wPDHyperintensity"
      ></p-checkbox>
      <p-checkbox
        name="isT1wHyperintensity"
        label="{{ 'feetMRT.ligamentsAndTendons.t1wHyperintensity.value' | translate }}"
        rr-id="anc_m_050372"
        binary="true"
        [(ngModel)]="model.isT1wHyperintensity"
      ></p-checkbox>
      <p-checkbox
        name="isThickening"
        label="{{ 'feetMRT.ligamentsAndTendons.thickening.value' | translate }}"
        rr-id="anc_m_050373"
        binary="true"
        [(ngModel)]="model.isThickening"
      ></p-checkbox>
    </div>
    <div class="o-radio-list" [rrDisable]="!model.isTendinopathy">
      <h2 rr-id="anc_m_050374">
        {{ 'feetMRT.ligamentsAndTendons.associatedFindings.value' | translate }}
      </h2>
      <p-checkbox
        name="isTendovaginitis"
        label="{{ 'feetMRT.ligamentsAndTendons.tendovaginitis.value' | translate }}"
        rr-id="anc_m_050375"
        binary="true"
        [(ngModel)]="model.isTendovaginitis"
      ></p-checkbox>
      <p-checkbox
        name="isPeritendinitis"
        label="{{ 'feetMRT.ligamentsAndTendons.peritendinitis.value' | translate }}"
        rr-id="anc_m_050376"
        binary="true"
        [(ngModel)]="model.isPeritendinitis"
      ></p-checkbox>
      <p-checkbox
        name="isTendonHypervascularisation"
        label="{{ 'feetMRT.ligamentsAndTendons.hypervascularizationOfTheTendon.value' | translate }}"
        rr-id="anc_m_050377"
        binary="true"
        [(ngModel)]="model.isTendonHypervascularisation"
      ></p-checkbox>
      <p-checkbox
        name="isAfterHalluxValgusSurgery"
        label="{{ 'feetMRT.ligamentsAndTendons.afterHalluxValgusSurgery.value' | translate }}"
        rr-id="anc_m_050378"
        binary="true"
        [(ngModel)]="model.isAfterHalluxValgusSurgery"
        rrContentReset="contactWithOsteosynthesisMaterialBlock"
      ></p-checkbox>
      <div
        id="contactWithOsteosynthesisMaterialBlock"
        class="o-radio-list p-l-35"
        [rrDisable]="!model.isAfterHalluxValgusSurgery"
      >
        <p-checkbox
          name="isContactWithOsteosynthesisMaterial"
          label="{{ 'feetMRT.ligamentsAndTendons.contactWithOsteosynthesisMaterial.value' | translate }}"
          rr-id="anc_m_050379"
          binary="true"
          [(ngModel)]="model.isContactWithOsteosynthesisMaterial"
        ></p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad o-list">
    <div class="o-radio-list" [rrDisable]="!model.isTear">
      <h2 rr-id="anc_m_050474" class="m-b-30">
        {{ 'feetMRT.ligamentsAndTendons.ruptureDetails.value' | translate }}
      </h2>
      <h2 rr-id="anc_m_050475">
        {{ 'feetMRT.ligamentsAndTendons.extent.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="anc_m_050476"
        label="{{ 'feetMRT.ligamentsAndTendons.partialRupture.value' | translate }}"
        name="ruptureType"
        [value]="ruptureType.PartialTear"
        [(ngModel)]="model.ruptureType"
        [rrContentReset]="clearRuptureTypeDetails(ruptureType.PartialTear)"
        rrValidation="ruptureType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_050477"
        label="{{ 'feetMRT.ligamentsAndTendons.completeRupture.value' | translate }}"
        name="ruptureType"
        [value]="ruptureType.CompleteTear"
        [(ngModel)]="model.ruptureType"
        [rrContentReset]="clearRuptureTypeDetails(ruptureType.CompleteTear)"
        rrValidation="ruptureType"
      ></p-radioButton>
      <div
        *ngIf="model.ruptureType === ruptureType.PartialTear"
        id="ruptureTypeDetailsBlockOne"
        class="o-radio-list p-l-35"
      >
        <p rr-id="anc_m_050478">
          {{ 'feetMRT.ligamentsAndTendons.maxProportionInCross.value' |
          translate }}
        </p>
        <div class="m-b-10">
          <rr-number-input
            [(ngModel)]="model.maxExtentInCrossSectionInPercent"
            name="maxExtentInCrossSectionInPercent"
            [label]="'feetMRT.ligamentsAndTendons.in.value' | translate"
            [inputRrId]="'anc_m_050479'"
            [labelRrId]="'anc_m_050480'"
            [config]="{labelWidth: 160, min: 10, max: 90}"
          ></rr-number-input>
        </div>
      </div>
      <div
        *ngIf="model.ruptureType === ruptureType.CompleteTear"
        id="ruptureTypeDetailsBlockTwo"
        class="o-radio-list p-l-35"
      >
        <p rr-id="anc_m_050484">
          {{ 'feetMRT.ligamentsAndTendons.retraction.value' | translate }}
        </p>
        <div class="m-b-10">
          <rr-number-input
            [(ngModel)]="model.retractionInMm"
            name="retractionInMm"
            [label]="'feetMRT.ligamentsAndTendons.inMm.value' | translate"
            [inputRrId]="'anc_m_050486'"
            [labelRrId]="'anc_m_050485'"
            [config]="{labelWidth: 160, min: 1, max: 50}"
          ></rr-number-input>
        </div>
      </div>
    </div>
    <div class="o-list" [rrDisable]="!model.isTear">
      <div class="o-radio-list m-b-50">
        <h2 rr-id="anc_m_050481">
          {{ 'feetMRT.ligamentsAndTendons.associatedFindings.value' | translate
          }}
        </h2>
        <p-checkbox
          name="isSoftTissueHematoma"
          label="{{ 'feetMRT.ligamentsAndTendons.softTissueHematoma.value' | translate }}"
          rr-id="anc_m_050482"
          binary="true"
          [(ngModel)]="model.isSoftTissueHematoma"
        ></p-checkbox>
      </div>
      <div class="m-b-0">
        <p-checkbox
          name="isReRupture"
          label="{{ 'feetMRT.ligamentsAndTendons.rerupture.value' | translate }}"
          rr-id="anc_m_050483"
          labelStyleClass="ui-fat-label"
          binary="true"
          [(ngModel)]="model.isReRupture"
        ></p-checkbox>
      </div>
      <p rr-id="anc_m_050555" class="m-l-35">
        {{ 'feetMRT.ligamentsAndTendons.afterTendonSuture.value' | translate }}
      </p>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
