.side-effect {
  & > * {
    background-color: #ebebeb;
  }

  &__header {
    padding: 11px;

    h2 {
      // TODO ask client how should behave names that extend over one line
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  :host ::ng-deep &__dropdown {
    width: 155px;
  }

  &__dropdown-label {
    font-size: 15px;
    font-family: BentonSansLight, sans-serif;

    margin: {
      top: auto;
      bottom: auto;
      left: 10px;
    }
  }
}
