.technic-selectable-section {
  background-color: #dfdfdf;
  border-radius: 5px;
  color: #ffffff;
  padding: 15px 20px 10px 20px;
  height: 160px;
}

.technic-selectable-section.active {
  background-color: #00aec2;
}

.resetButton {
  background-color: black;
  width: 55px;
  height: 21px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  float: right;
}

.padlock-image {
  float: right;
}

.image-align {
  width: fit-content;
  min-height: 78px;
}

.side-effects--header {
  height: 40px;
  background-color: #ebebeb;
  padding: 10px;
}

.side-effects {
  min-height: 448px;
  background-color: #ebebeb;
  &-disabled {
    background-color: #f9f9f9;
    min-height: 448px;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contrast-img {
  min-height: 70px;
}

.input-padding-standard {
  padding: 0.28em 1em 0.28em 1.5em;
  box-sizing: border-box;
}

.left-indent {
  margin-left: 35px;
}

.subtext {
  font-size: 14px;
  padding-left: 35px;
  margin-top: -10px;
}

.input-icon {
  position: relative;
}

.input-icon > span {
  position: absolute;
  top: 18px;
  left: 17px;
  pointer-events: none;
}

.input-icon > input {
  padding-right: 1em;
  padding-left: 27px;
  font-size: 18px;
  color: #333333;
  width: -webkit-fill-available;
  font-family: BentonSansLight;
}

.input-container__min-height {
  min-height: 44px;
}

.sequence__width {
  width: 297px;
}

:host ::ng-deep p-radioButton .ui-state-disabled {
  opacity: 1 !important;
}

:host ::ng-deep p-checkbox .ui-state-disabled {
  opacity: 1 !important;
}

:host ::ng-deep rr-calendar-input .ui-inputtext {
  height: 40px;
  width: 158px;
  cursor: pointer;
}

:host ::ng-deep p-dropdown .dropdown--width {
  width: 155px;
}

:host ::ng-deep p-dropdown label {
  text-overflow: ellipsis;
}

:host ::ng-deep p-dropdown .dropdown--width {
  width: 155px;
}

// TODO - to be moved to commons
@for $i from 0 through 100 {
  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .m-t-#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-b-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-t-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-l-#{$i} {
    padding-left: #{$i}px;
  }
}
