<div class="f-horizontal f-start col-h-100 o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="tho_c_070280">
        {{'thoraxCT.softParts.growthPatterns.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="tho_c_070282"
        name="growthPatternsType"
        rrContentReset="Infiltration-block"
        [(ngModel)]="model.growthPatternsType"
        rrUnClickRadio
        [value]="growthPatternsTypeEnum.NoDisplacement"
        label="{{'thoraxCT.softParts.noDisplacement.value' | translate}}"
      ></p-radioButton>
      <p-radioButton
        rr-id="tho_c_070281"
        name="growthPatternsType"
        rrContentReset="Infiltration-block"
        [(ngModel)]="model.growthPatternsType"
        rrUnClickRadio
        [value]="growthPatternsTypeEnum.Subcutaneous"
        label="{{'thoraxCT.softParts.subcutaneous.value' | translate}}"
      ></p-radioButton>
      <p-radioButton
        rr-id="tho_c_070283"
        name="growthPatternsType"
        rrContentReset="Infiltration-block"
        [(ngModel)]="model.growthPatternsType"
        rrUnClickRadio
        [value]="growthPatternsTypeEnum.Infiltration"
        label="{{'thoraxCT.softParts.infiltration.value' | translate}}"
      ></p-radioButton>
      <div
        id="Infiltration-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="model.growthPatternsType !== growthPatternsTypeEnum.Infiltration"
      >
        <p-checkbox
          rr-id="tho_c_070284"
          name="isPleura"
          [(ngModel)]="model.isPleura"
          label="{{'thoraxCT.softParts.pleura.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <p-checkbox
          rr-id="tho_c_070285"
          name="isPericardium"
          [(ngModel)]="model.isPericardium"
          label="{{'thoraxCT.softParts.pericardium.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <p-checkbox
          rr-id="tho_c_070286"
          name="isBones"
          [(ngModel)]="model.isBones"
          label="{{'thoraxCT.softParts.bones.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <p-checkbox
          rr-id="tho_c_070287"
          name="isLungs"
          [(ngModel)]="model.isLungs"
          label="{{'thoraxCT.softParts.lung.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <p-checkbox
          rr-id="tho_c_070288"
          name="isMediastinum"
          [(ngModel)]="model.isMediastinum"
          label="{{'thoraxCT.softParts.mediastinum.value' | translate}}"
          binary="true"
        ></p-checkbox>
      </div>

      <h2 rr-id="tho_c_070289" class="m-t-22">
        {{'thoraxCT.softParts.associatedFindings.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="tho_c_070290"
        name="isCutisThickening"
        [(ngModel)]="model.isCutisThickening"
        label="{{'thoraxCT.softParts.cutisThickening.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_070291"
        name="isPressureErosionRib"
        [(ngModel)]="model.isPressureErosionRib"
        label="{{'thoraxCT.softParts.pressureErosionRib.value' | translate}}"
        binary="true"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10" [rrDisable]="!isCMYes">
      <h2 rr-id="tho_c_070362">
        {{'thoraxCT.softParts.contrastEnhancementQuantitative.value' |
        translate}}
      </h2>
      <p-radioButton
        rr-id="tho_c_070365"
        name="contrastEnhancementQuantitativeType"
        rrContentReset="cMEnhancementHomogeneityType-block"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
        [value]="contrastEnhancementQuantitativeTypeEnum.No"
        label="{{'thoraxCT.softParts.none.value' | translate}}"
      ></p-radioButton>
      <p-radioButton
        rr-id="tho_c_070364"
        name="contrastEnhancementQuantitativeType"
        rrContentReset="cMEnhancementHomogeneityType-block"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
        [value]="contrastEnhancementQuantitativeTypeEnum.Minimal"
        label="{{'thoraxCT.softParts.mild.value' | translate}}"
      ></p-radioButton>
      <p-radioButton
        rr-id="tho_c_070363"
        name="contrastEnhancementQuantitativeType"
        rrContentReset="cMEnhancementHomogeneityType-block"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrUnClickRadio
        [value]="contrastEnhancementQuantitativeTypeEnum.Marked"
        label="{{'thoraxCT.softParts.marked.value' | translate}}"
      ></p-radioButton>
      <div
        id="cMEnhancementHomogeneityType-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="model.contrastEnhancementQuantitativeType === contrastEnhancementQuantitativeTypeEnum.No || model.contrastEnhancementQuantitativeType === contrastEnhancementQuantitativeTypeEnum.None"
      >
        <p-radioButton
          rr-id="tho_c_070366"
          name="cmEnhancementHomogeneityType"
          rrContentReset="heterogeneousType-block"
          [(ngModel)]="model.cmEnhancementHomogeneityType"
          rrUnClickRadio
          [value]="homogeneityTypeEnum.Homogeneous"
          label="{{'thoraxCT.softParts.homogeneous.value' | translate}}"
        ></p-radioButton>
        <p-radioButton
          rr-id="tho_c_070367"
          name="cmEnhancementHomogeneityType"
          rrContentReset="heterogeneousType-block"
          [(ngModel)]="model.cmEnhancementHomogeneityType"
          rrUnClickRadio
          [value]="homogeneityTypeEnum.Heterogeneous"
          label="{{'thoraxCT.softParts.heterogeneous.value' | translate}}"
        ></p-radioButton>
        <div
          id="heterogeneousType-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.cmEnhancementHomogeneityType !== homogeneityTypeEnum.Heterogeneous"
        >
          <p-radioButton
            rr-id="tho_c_070368"
            name="heterogeneousType"
            [(ngModel)]="model.heterogeneousType"
            rrUnClickRadio
            [value]="heterogeneousTypeEnum.Centrally"
            label="{{'thoraxCT.softParts.central.value' | translate}}"
          ></p-radioButton>
          <p-radioButton
            rr-id="tho_c_070369"
            name="heterogeneousType"
            [(ngModel)]="model.heterogeneousType"
            rrUnClickRadio
            [value]="heterogeneousTypeEnum.Peripheral"
            label="{{'thoraxCT.softParts.peripheral.value' | translate}}"
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10"></div>
  <div class="c-col-1 c-pad-l m-t-10 m-b-10"></div>
</div>
