<div class="c-col-1 c-pad-l o-list">
  <div *ngIf="isInterventionShown(previousInterventionType.Spondylodesis)">
    <h2 rr-id="spi_c_020401" class="m-b-10">
      {{ "spineCT.anamnesis.spondylodesis.value" | translate }}
    </h2>
    <p rr-id="spi_c_020402" class="m-b-10">
      {{ "spineCT.anamnesis.localization.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020403"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
    ></rr-spine-simple>
    <p rr-id="spi_c_020404" class="m-t-25 m-b-10">
      {{ "spineCT.anamnesis.side.value" | translate }}
    </p>
    <div class="o-radio-list">
      <p-checkbox
        rr-id="spi_c_020405"
        [(ngModel)]="model.isRight"
        name="isRight"
        binary="true"
        label="{{ 'spineCT.anamnesis.right.value' | translate }}"
      ></p-checkbox>
      <p-checkbox
        rr-id="spi_c_020406"
        [(ngModel)]="model.isLeft"
        name="isLeft"
        binary="true"
        label="{{ 'spineCT.anamnesis.left.value' | translate }}"
      ></p-checkbox>
    </div>
  </div>
  <div *ngIf="isInterventionShown(previousInterventionType.Laminectomy)">
    <h2 rr-id="spi_c_020407" class="m-b-10">
      {{ "spineCT.anamnesis.laminectomy.value" | translate }}
    </h2>
    <p rr-id="spi_c_020408" class="m-b-10">
      {{ "spineCT.anamnesis.localization.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020409"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
      [selectionAccessibilityMode]="spineSelectionAccessibilityMode.C1toL5"
    ></rr-spine-simple>
    <p
      rr-id="spi_c_020410"
      class="m-t-25 m-b-10"
      [rrDisable]="!isSingleSelectOnLocalizer()"
    >
      {{ "spineCT.anamnesis.side.value" | translate }}
    </p>
    <div class="o-radio-list" [rrDisable]="!isSingleSelectOnLocalizer()">
      <p-checkbox
        rr-id="spi_c_020411"
        [(ngModel)]="model.isRight"
        name="isRight"
        binary="true"
        label="{{ 'spineCT.anamnesis.right.value' | translate }}"
      ></p-checkbox>
      <p-checkbox
        rr-id="spi_c_020412"
        [(ngModel)]="model.isLeft"
        name="isLeft"
        binary="true"
        label="{{ 'spineCT.anamnesis.left.value' | translate }}"
      ></p-checkbox>
    </div>
  </div>
  <div
    *ngIf="
      isInterventionShown(
        previousInterventionType.IntervertebralDiscReplacement
      )
    "
  >
    <h2 rr-id="spi_c_020413" class="m-b-10">
      {{ "spineCT.anamnesis.intervertebralDiscReplacementCage.value" | translate
      }}
    </h2>
    <p rr-id="spi_c_020414" class="m-b-10">
      {{ "spineCT.anamnesis.localizationIntervertebralDisc.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020415"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
    ></rr-spine-simple>
  </div>
  <div
    *ngIf="
      isInterventionShown(previousInterventionType.VertebralBodyReplacement)
    "
  >
    <h2 rr-id="spi_c_020416" class="m-b-10">
      {{ "spineCT.anamnesis.vertebralBodyReplacement.value" | translate }}
    </h2>
    <p rr-id="spi_c_020417" class="m-b-10">
      {{ "spineCT.anamnesis.localization.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020409"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
      [selectionAccessibilityMode]="spineSelectionAccessibilityMode.C1toL5"
    ></rr-spine-simple>
  </div>
  <div
    *ngIf="
      isInterventionShown(
        previousInterventionType.StatusPostBoneCementImplantation
      )
    "
  >
    <h2 rr-id="spi_c_020418" class="m-b-10">
      {{ "spineCT.anamnesis.statusPostBoneCementImplantation.value" | translate
      }}
    </h2>
    <p rr-id="spi_c_020419" class="m-b-10">
      {{ "spineCT.anamnesis.localization.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020409"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
      [selectionAccessibilityMode]="spineSelectionAccessibilityMode.C1toL5"
    ></rr-spine-simple>
    <p
      rr-id="spi_c_020420"
      class="m-t-25 m-b-10"
      [rrDisable]="!isSingleSelectOnLocalizer()"
    >
      {{ "spineCT.anamnesis.detailsIntervention.value" | translate }}
    </p>
    <div class="o-radio-list" [rrDisable]="!isSingleSelectOnLocalizer()">
      <p-radioButton
        rr-id="spi_c_020421"
        label="{{ 'spineCT.anamnesis.vertebroplasty.value' | translate }}"
        name="detailsInterventionType"
        [value]="detailsInterventionType.Vertebroplasty"
        [(ngModel)]="model.detailsInterventionType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_c_020422"
        label="{{ 'spineCT.anamnesis.kyphoplasty.value' | translate }}"
        name="detailsInterventionType"
        [value]="detailsInterventionType.Kyphoplasty"
        [(ngModel)]="model.detailsInterventionType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div *ngIf="isInterventionShown(previousInterventionType.LumbarPuncture)">
    <h2 rr-id="spi_c_020423" class="m-b-10">
      {{ "spineCT.anamnesis.lumbarPuncture.value" | translate }}
    </h2>
    <rr-month-year-input
      monthRrId="spi_c_020425"
      yearRrId="spi_c_020426"
      labelRrId="spi_c_020424"
      name="dateOfLumbarPuncture"
      [label]="'spineCT.anamnesis.date.value' | translate"
      class="o-width-100"
      [(ngModel)]="model.dateOfLumbarPuncture"
    ></rr-month-year-input>
  </div>
  <div *ngIf="isInterventionShown(previousInterventionType.InterspinousSpacer)">
    <h2 rr-id="spi_c_020427" class="m-b-10">
      {{ "spineCT.anamnesis.interspinousSpacer.value" | translate }}
    </h2>
    <p rr-id="spi_c_020402" class="m-b-10">
      {{ "spineCT.anamnesis.localization.value" | translate }}
    </p>
    <rr-spine-simple
      rr-id="spi_c_020403"
      [spineLocation]="model.spineLocation"
      (click)="openComplexLocalizer()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
    ></rr-spine-simple>
    <p rr-id="spi_c_020404" class="m-t-25 m-b-10">
      {{ "spineCT.anamnesis.side.value" | translate }}
    </p>
    <div class="o-radio-list">
      <p-checkbox
        rr-id="spi_c_020405"
        [(ngModel)]="model.isRight"
        name="isRight"
        binary="true"
        label="{{ 'spineCT.anamnesis.right.value' | translate }}"
      ></p-checkbox>
      <p-checkbox
        rr-id="spi_c_020406"
        [(ngModel)]="model.isLeft"
        name="isLeft"
        binary="true"
        label="{{ 'spineCT.anamnesis.left.value' | translate }}"
      ></p-checkbox>
    </div>
  </div>
</div>
