.dialog-header {
  width: 100%;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
  font-size: 21px;
  padding-top: 47px;
  text-align: center;
}

.dialog-buttons {
  width: 100%;
  display: flex;
  justify-content: center;

  .dialog-button {
    border-radius: 6px;
    border: 3px solid grey;
    width: 120px;
    height: 48px;
    margin: 0 3px;
    font-size: 15px;
    font-family: BentonSansBold, sans-serif;
  }

  .cancel {
    background: #ffffff;
    color: grey;
  }

  .save {
    background: grey;
    color: #ffffff;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }
}

.dialog-logo {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  img {
    height: 26px;
  }
}
