<div class="o-radio-list">
  <p-radioButton
    rr-id="han_m_020224"
    name="detailsType"
    [value]="detailsType.SuspicionOf"
    label="{{'handMRT.anamnesis.suspicionOf.value' | translate}}"
    [(ngModel)]="model.detailsType"
    rrUnClickRadio
  ></p-radioButton>
  <p-radioButton
    rr-id="han_m_020225"
    name="detailsType"
    [value]="detailsType.Exclusion"
    label="{{'handMRT.anamnesis.exclusion.value' | translate}}"
    [(ngModel)]="model.detailsType"
    rrUnClickRadio
  ></p-radioButton>
</div>
