.breast-rectangle {
  fill: url(#pattern-simple);
}

.breast-circle {
  fill: #fff;
}

.breast-circle:hover,
.breast-circle-inner-hover {
  fill: #00aec2;
}

.breast-name {
  font-size: 20px;
  font-family: BentonSansBold, Roboto;
  font-weight: 700;
  cursor: pointer;
}

.breast-rectangle-inner,
.breast-circle-inner,
.breast-circle-outer {
  stroke: none;
}

.breast-circle-inner,
.breast-circle-outer {
  cursor: pointer;
}

.breast-rectangle-outer {
  fill: #e2e2e2;
  stroke: none;
}

.breast-circle-outer {
  fill: #dfdfdf;
}

.breast-inner-checked,
.breast-inner-checked:hover {
  fill: #fe0000;
}

.breast-outer-checked,
.breast-name-checked,
.breast-circle-outer-hover {
  fill: #fff;
}

.breast-circle:hover .breast-circle-outer,
.breast-circle:hover ~ .breast-name {
  fill: #fff;
}

.breast-name:hover,
.breast-name:hover > .breast-circle-outer {
  fill: #fff;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.breast-disabled {
  opacity: 0.5;
  pointer-events: none;
}

:host-context(.invalid-localizer) {
  .breast-rectangle-outer {
    fill: red !important;
  }
}
