.main-container {
  height: 680px;

  ::ng-deep p-tabview.rr-tabView .ui-tabview-nav {
    li.ui-state-default:nth-child(1) {
      width: 330px;
    }
  }

  ::ng-deep .pagination {
    margin: 0 27px 11px 0 !important;
  }
}
