.score-result-blue-box {
  height: 22px;
  width: 133px;
  background: #00aec2;
  border-radius: 10px;

  p {
    margin-top: 1.5px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    font-family: BentonSansBold, sans-serif;
    letter-spacing: -0.9px;
  }
}
