.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-box {
  position: relative;
  margin-left: 3px;
}

.pi {
  position: absolute;
  top: -10px;
}

span {
  cursor: default;
}
