<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_1102229" class="custom-tab-header">
        {{ "headMRT.facialSkull.localizationI.value" | translate }}
      </h1>
    </ng-template>
    <rr-jaw-teeth-localization-one
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-jaw-teeth-localization-one>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_11031110" class="custom-tab-header">
        {{ "headMRT.facialSkull.localizationII.value" | translate }}
      </h1></ng-template
    >
    <rr-jaw-teeth-localization-two
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-jaw-teeth-localization-two>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_1104170"
        class="custom-tab-header"
        rrValidation="jawTeethType"
      >
        {{ "headMRT.facialSkull.characterization.value" | translate }}
      </h1></ng-template
    >
    <rr-jaw-teeth-characterization
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-jaw-teeth-characterization>
  </p-tabPanel>
</p-tabView>
