<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-vertical c-pad-l">
    <p rr-id="sho_m_060213" class="text-break font-15 m-t-3 m-b-19 l-h-20">
      {{'shoulderMRT.labrumAndRibbons.pleaseSelectOnePathologic.value' |
      translate}}*
    </p>
    <h2 rr-id="sho_m_060214">
      {{'shoulderMRT.labrumAndRibbons.thickening.value' | translate}}
    </h2>
    <div class="f-horizontal col-h-100 m-t-20 m-b-10">
      <div class="c-col-1 c-pad-r c-sep">
        <div class="f-start o-radio-list nested-content">
          <p-checkbox
            rr-id="sho_m_060215"
            name="isLigGlenohumerale"
            labelStyleClass="ui-fat-label"
            label="{{'shoulderMRT.labrumAndRibbons.ligGlenohumerale.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLigGlenohumerale"
            rrContentReset="isLigGlenohumerale-block"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
          <div
            class="f-start o-radio-list nested-content"
            [rrDisable]="!model.isLigGlenohumerale"
            id="isLigGlenohumerale-block"
          >
            <p-checkbox
              rr-id="sho_m_060216"
              name="isSGHL"
              label="{{'shoulderMRT.labrumAndRibbons.superiorSGHL.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isSGHL"
              rrContentReset="isSGHL-block"
            >
            </p-checkbox>
            <div
              class="f-start o-radio-list nested-content"
              [rrDisable]="!model.isSGHL"
              id="isSGHL-block"
            >
              <p-checkbox
                rr-id="sho_m_060217"
                name="isMissingOrHypoPlasticMGHL"
                label="{{'shoulderMRT.labrumAndRibbons.missinghypoPlasticMGHL.value' | translate}}"
                binary="true"
                [(ngModel)]="model.isMissingOrHypoPlasticMGHL"
              >
              </p-checkbox>
            </div>
            <p-checkbox
              rr-id="sho_m_060218"
              name="isMGHL"
              label="{{'shoulderMRT.labrumAndRibbons.middleMGHL.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isMGHL"
              rrContentReset="isMGHL-block"
            >
            </p-checkbox>
            <div
              class="f-start o-radio-list nested-content"
              [rrDisable]="!model.isMGHL"
              id="isMGHL-block"
            >
              <p-checkbox
                rr-id="sho_m_060219"
                rrInfoIcon="sho_m_060220"
                name="isBufordComplex"
                label="{{'shoulderMRT.labrumAndRibbons.bufordComplex.value' | translate}}"
                binary="true"
                [(ngModel)]="model.isBufordComplex"
              >
              </p-checkbox>
            </div>
            <p-checkbox
              rr-id="sho_m_060221"
              name="isIGHL"
              label="{{'shoulderMRT.labrumAndRibbons.inferiorIGHL.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isIGHL"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-pad c-sep">
        <div class="f-start o-list nested-content">
          <p-checkbox
            rr-id="sho_m_060317"
            name="isThickeningLigCoracohumerale"
            labelStyleClass="ui-fat-label"
            label="{{'shoulderMRT.labrumAndRibbons.ligCoracohumerale.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isThickeningLigCoracohumerale"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="sho_m_060318"
            name="isThickeningLigCoracoacromiale"
            labelStyleClass="ui-fat-label"
            label="{{'shoulderMRT.labrumAndRibbons.ligCoracoacromiale.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isThickeningLigCoracoacromiale"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="sho_m_060319"
            name="isThickeningLigCoracoclaviculare"
            labelStyleClass="ui-fat-label"
            label="{{'shoulderMRT.labrumAndRibbons.ligCoracoclaviculare.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isThickeningLigCoracoclaviculare"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="sho_m_060320"
            name="isThickeningLigHumeriTransversum"
            labelStyleClass="ui-fat-label"
            label="{{'shoulderMRT.labrumAndRibbons.ligHumeriTransversum.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isThickeningLigHumeriTransversum"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="sho_m_060321"
            name="isThickeningLigSemicirculareHumeri"
            labelStyleClass="ui-fat-label text-break"
            label="{{'shoulderMRT.labrumAndRibbons.ligSemicirculareHumerirotator.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isThickeningLigSemicirculareHumeri"
            [rrValidation]="characterizationCheckboxGroup"
          >
          </p-checkbox>
        </div>
      </div>
      <div class="c-col-1 c-pad c-sep"></div>
      <div class="c-col-1 c-pad-r c-sep"></div>
    </div>
  </div>
</div>
