<div class="f-start f-horizontal col-h-100 o-list">
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12  f-vertical o-list">
    <div class="o-radio-list">
      <h2
        rr-id="ang_c_020220"
        *ngIf="model.indicationFindingType === indicationFindingType.PenetratingAorticUlcer"
      >
        {{'angiographyCT.anamnesis.penetrating.value' | translate }}
      </h2>
      <h2
        rr-id="ang_c_020220"
        *ngIf="model.indicationFindingType === indicationFindingType.AorticDissection"
      >
        {{'angiographyCT.anamnesis.aorticUlcer.value' | translate }}
      </h2>
      <h2
        rr-id="ang_c_020220"
        *ngIf="model.indicationFindingType === indicationFindingType.IntramuralHematoma"
      >
        {{'angiographyCT.anamnesis.intramural.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="ang_c_020221"
        label="{{ 'angiographyCT.anamnesis.suspiciousFor.value'  | translate }}"
        name="isSuspiciousFor"
        [(ngModel)]="model.isSuspiciousFor"
        binary="true"
      >
      </p-checkbox>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="ang_c_020222">
        {{'angiographyCT.anamnesis.onsetOfComplaints.value' | translate }}
      </h2>
      <rr-month-year-input
        name="dateOnsetOfSymptoms"
        labelRrId="ang_c_020223"
        monthRrId="ang_c_020224"
        yearRrId="ang_c_020225"
        [label]="'angiographyCT.anamnesis.date.value' | translate"
        customLabelClass="m-b-0"
        class="o-width-100"
        [(ngModel)]="model.dateOnsetOfSymptoms"
      >
      </rr-month-year-input>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-pad m-t-14 m-b-12"></div>
</div>
