.localizer-block {
  background-color: white;
}

.m-h-242 {
  min-height: 242px;
}

:host ::ng-deep div .ui-tabview {
  .ui-tabview-nav {
    & > * {
      margin: 0 !important;
      border: none !important;
      width: 50% !important;
      border-radius: 0 !important;
    }

    & > .ui-state-default {
      background-color: #ffffff !important;

      & > a {
        padding: 10px 15px;

        & > span {
          background-color: #ffffff !important;
          font-size: 18px;
          color: #b2b2b2;
          font-weight: 300;
        }
      }
    }

    & > .ui-state-default,
    & > .ui-state-active,
    & > .ui-tabview-selected > a > span {
      color: black;
    }

    & > .ui-state-active,
    & > .ui-tabview-selected > a > span {
      background-color: #f8f8f8 !important;
    }

    & > .ui-tabview-selected > a > span {
      font-weight: 700;
    }
  }

  .ui-tabview-panels {
    background-color: #f8f8f8;
    margin: 0;
    border: none;
    padding: 0;
  }
}

:host ::ng-deep p-tabview li:focus {
  outline: none;
}

:host ::ng-deep .l-h-22 {
  .ui-radiobutton-label {
    line-height: 22px;
  }
}
