<div class="f-horizontal f-start col-h-100 o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="elb_m_0402132">
        {{'elbowMRT.bones.internalChanges.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_0402133"
        name="isSeptatedChambered"
        [(ngModel)]="model.isSeptatedChambered"
        label="{{'elbowMRT.bones.septatedChambered.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0402134"
        name="isFluidLevel"
        [(ngModel)]="model.isFluidLevel"
        label="{{'elbowMRT.bones.fluidLevel.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0402135"
        name="isCalcification"
        rrContentReset="isCalcification-block"
        [(ngModel)]="model.isCalcification"
        label="{{'elbowMRT.bones.calcification.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <div
        id="isCalcification-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="!model.isCalcification"
      >
        <p-checkbox
          rr-id="elb_m_0402136"
          name="isCentral"
          [(ngModel)]="model.isCentral"
          label="{{'elbowMRT.bones.central.value' | translate}}"
          binary="true"
        ></p-checkbox>
        <p-checkbox
          rr-id="elb_m_0402137"
          name="isDiffuselyDistributed"
          [(ngModel)]="model.isDiffuselyDistributed"
          label="{{'elbowMRT.bones.diffuselyDistributed.value' | translate}}"
          binary="true"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="elb_m_0402138"
        name="isNidus"
        rrContentReset="isNidus-block"
        [(ngModel)]="model.isNidus"
        label="{{'elbowMRT.bones.nidus.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <div
        id="isNidus-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="!model.isNidus"
      >
        <p-checkbox
          rr-id="elb_m_0402141"
          name="isNidusT2wHyperintense"
          [(ngModel)]="model.isNidusT2wHyperintense"
          label="{{'elbowMRT.bones.nidusT2wHyperintense.value' | translate}}"
          binary="true"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="elb_m_0402139"
        name="isOsteoidMatrix"
        [(ngModel)]="model.isOsteoidMatrix"
        label="{{'elbowMRT.bones.osteoidMatrix.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0402140"
        name="isFatSignal"
        [(ngModel)]="model.isFatSignal"
        label="{{'elbowMRT.bones.fatSignal.value' | translate}}"
        binary="true"
      ></p-checkbox>
    </div>
  </div>

  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="elb_m_0403162">
        {{'elbowMRT.bones.peripheralChanges.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_0403163"
        name="isPeriostealReactionSunBurst"
        [(ngModel)]="model.isPeriostealReactionSunBurst"
        label="{{'elbowMRT.bones.periostealReactionSunBurst.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0403164"
        name="isCodmanTriangle"
        [(ngModel)]="model.isCodmanTriangle"
        label="{{'elbowMRT.bones.codmanTriangle.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0403165"
        name="isCartilageCap"
        rrContentReset="isCartilageCap-block"
        [(ngModel)]="model.isCartilageCap"
        label="{{'elbowMRT.bones.cartilageCap.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <div
        id="isCartilageCap-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="!model.isCartilageCap"
      >
        <p rr-id="elb_m_0403200" class="m-b-0">
          {{'elbowMRT.bones.maxThickness.value' | translate}}
        </p>
        <rr-number-input
          inputRrId="elb_m_0403202"
          labelRrId="elb_m_0403201"
          [(ngModel)]="model.cartilageCapMaxThicknessInMm"
          label="{{ 'elbowMRT.bones.inMm.value' | translate }}"
          name="cartilageCapMaxThicknessInMm"
          [config]="{min: 1, max: 5}"
        >
        </rr-number-input>
        <p-checkbox
          rr-id="elb_m_0403203"
          name="isCapT2wHyperintense"
          [(ngModel)]="model.isCapT2wHyperintense"
          label="{{'elbowMRT.bones.capT2wHyperintense.value' | translate}}"
          binary="true"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="elb_m_0403166"
        name="isScleroticMargin"
        [(ngModel)]="model.isScleroticMargin"
        label="{{'elbowMRT.bones.scleroticMargin.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0403167"
        name="isRimWithLowSignal"
        [(ngModel)]="model.isRimWithLowSignal"
        label="{{'elbowMRT.bones.rimWithLowSignal.value' | translate}}"
        binary="true"
      ></p-checkbox>
    </div>
  </div>

  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="elb_m_0404174">
        {{'elbowMRT.bones.growthPatterns.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_0404175"
        name="isExpansile"
        [(ngModel)]="model.isExpansile"
        label="{{'elbowMRT.bones.expansile.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0404176"
        name="isOsteolytic"
        [(ngModel)]="model.isOsteolytic"
        label="{{'elbowMRT.bones.osteolytic.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0404177"
        name="isOsteoblastic"
        [(ngModel)]="model.isOsteoblastic"
        label="{{'elbowMRT.bones.osteoblastic.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0404178"
        name="isSclerotic"
        [(ngModel)]="model.isSclerotic"
        label="{{'elbowMRT.bones.sclerotic.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0404179"
        name="isInfiltrationOfSoftTissue"
        [(ngModel)]="model.isInfiltrationOfSoftTissue"
        label="{{'elbowMRT.bones.infiltrationOfSoftTissue.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0404180"
        name="isInfiltrationOfAdjacentBones"
        [(ngModel)]="model.isInfiltrationOfAdjacentBones"
        label="{{'elbowMRT.bones.infiltrationOfAdjacentbone.value' | translate}}"
        binary="true"
      ></p-checkbox>

      <h2 rr-id="elb_m_0404181" class="m-t-18 m-b-16">
        {{'elbowMRT.bones.nonsignificantTrauma.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_0404182"
        name="isPathologicalFracture"
        rrContentReset="isPathologicalFracture-block"
        [(ngModel)]="model.isPathologicalFracture"
        label="{{'elbowMRT.bones.pathologicalFracture.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <div
        id="isPathologicalFracture-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="!model.isPathologicalFracture"
      >
        <p-checkbox
          rr-id="elb_m_0404193"
          name="isPathologicalFractureSuspectedDiagnosis"
          [(ngModel)]="model.isPathologicalFractureSuspectedDiagnosis"
          label="{{'elbowMRT.bones.suspectedDiagnosis.value' | translate}}"
          binary="true"
        ></p-checkbox>
      </div>
    </div>
  </div>

  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-10">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="elb_m_0405171">
        {{'elbowMRT.bones.associatedFindings2.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_0405172"
        name="isSoftTissueEdema"
        [(ngModel)]="model.isSoftTissueEdema"
        label="{{'elbowMRT.bones.softTissueEdema.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0405173"
        name="isBoneMarrowEdema"
        [(ngModel)]="model.isBoneMarrowEdema"
        label="{{'elbowMRT.bones.boneMarrowEdema.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0405174"
        name="isPerifocalSclerosis"
        [(ngModel)]="model.isPerifocalSclerosis"
        label="{{'elbowMRT.bones.perifocalSclerosis.value' | translate}}"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="elb_m_0405175"
        name="isSurroundingInflammatoryReaction"
        [(ngModel)]="model.isSurroundingInflammatoryReaction"
        label="{{'elbowMRT.bones.surroundingInflammatoryreaction.value' | translate}}"
        binary="true"
      ></p-checkbox>

      <h2 rr-id="elb_m_0405164" rrInfoIcon="elb_m_04_06" class="m-t-8">
        {{'elbowMRT.bones.localExtension.value' | translate}}
      </h2>
      <p-radioButton
        [(ngModel)]="model.localExtensionType"
        rrUnClickRadio
        name="localExtensionType"
        [value]="localExtensionTypeEnum.Intracompartimental"
        label="{{ 'elbowMRT.bones.intracompartimental.value' | translate }}"
        rr-id="elb_m_0405165"
      ></p-radioButton>
      <p-radioButton
        [(ngModel)]="model.localExtensionType"
        rrUnClickRadio
        name="localExtensionType"
        [value]="localExtensionTypeEnum.Extracompartment"
        label="{{ 'elbowMRT.bones.extracompartment.value' | translate }}"
        rr-id="elb_m_0405166"
      ></p-radioButton>
    </div>
  </div>
</div>
