.caption {
  fill: #2b2e34;
  font-size: 12px;
  font-family: BentonSansBold;
  font-weight: 700;
}

.part-number {
  font-size: 9px;
  font-family: BentonSansBold;
  font-weight: 700;
}

.disabled {
  opacity: 0.4;
}

.inner-field {
  fill: #fff;
}

.middle-circle {
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.border {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: none;
}

.cls-10 {
  stroke: none;
}
