.disc-general-svg-wrapper {
  background: white;
  .background {
    fill: url(#pattern-disc-white);

    &-inner {
      stroke: none;
    }
  }

  .border {
    stroke: none;
    fill: #e6e6e6;
  }

  text {
    font-size: 18px;
    font-family: BentonSansLight;
    font-weight: 300;
  }

  .top-section {
    cursor: pointer;

    rect.ventral {
      fill: url(#pattern-disc-sections);
      pointer-events: all;
    }

    &:hover {
      text.ventral {
        fill: #00aec2;
        font-weight: bold;
        font-family: BentonSansBold;
      }

      rect.ventral {
        fill: url(#pattern-ventral-disc-hover);
      }
    }

    &-clicked,
    &-clicked:hover {
      text.ventral {
        fill: #f80202;
        font-weight: bold;
        font-family: BentonSansBold;
      }

      rect.ventral {
        fill: url(#pattern-ventral-disc-clicked);
      }
    }
  }

  .line {
    fill: none;
    stroke: #00aec2;
    stroke-width: 3px;
  }

  .bottom-section {
    cursor: pointer;

    rect.dorsal {
      fill: url(#pattern-disc-sections);
      pointer-events: all;
    }

    &:hover {
      text.dorsal {
        fill: #00aec2;
        font-weight: bold;
        font-family: BentonSansBold;
      }

      rect.dorsal {
        fill: url(#pattern-dorsal-disc-hover);
      }
    }

    &-clicked,
    &-clicked:hover {
      text.dorsal {
        fill: #f80202;
        font-weight: bold;
        font-family: BentonSansBold;
      }

      rect.dorsal {
        fill: url(#pattern-dorsal-disc-clicked);
      }
    }
  }
  .disabled {
    pointer-events: none !important;
  }
}

svg {
  height: auto;
  width: 100%;
}

.disc-general-svg-wrapper {
  height: 187px;
}

:host-context(.invalid-localizer) {
  .border {
    fill: red;
  }
}
