:host {
  display: flex;
  flex: 1;
}

.i-know-selection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.pagination {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-family: BentonSansBold;
  margin: {
    top: 0;
    bottom: 0;
  }

  &-item {
    width: 21px;
    height: 21px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin: 5px 3px;
    a {
      text-decoration: none;
      color: #000000;
      line-height: 16px;
    }
  }

  .current {
    cursor: default;
    background: #dfdfdf;
    color: #ffffff;
    span {
      line-height: 16px;
    }
  }
  :hover {
    a {
      color: #00aec2;
    }
  }

  .current-invalid {
    background-color: #ff0000;
  }
  .ellipsis-invalid,
  .item-invalid {
    a {
      color: #ff0000;
    }
  }
}
