@import "../../../../../assets/themes/radio_report/common/box-model-adjustment-classes.scss";

.technology-form {
  .technology-selectable-section {
    background-color: #dfdfdf;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 15px 0 17px;
    height: 160px;
    &--active {
      background-color: #00aec2;
    }
  }
  .padlock-image {
    float: right;
    margin-right: 5px;
  }
  .side-effects-image {
    margin-left: -3px;
    margin-top: 42px;
    margin-bottom: 23px;
  }
  .side-effects-content-container {
    height: 450px;
    label {
      margin-bottom: 0;
    }
  }
  .barcode-input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 10px;
  }
  .resetButton {
    background-color: #000000;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 700;
    float: right;
    padding: 4px 8px 4px;
    margin-top: 2px;
  }
  .sequence-type {
    margin: 12px 0 10px 0;
    padding-left: 10px;
    padding-right: 4px;
    max-height: 470px;
  }
  .grey-panel {
    background-color: #ebebeb;
  }
  .font-18 {
    font-size: 18px !important;
  }
  .width-300 {
    width: 300px;
  }
  .width-326 {
    width: 326px;
  }
  .width-1351 {
    width: 1351px;
  }
  .width-76p {
    width: 76%;
  }
  .h-427 {
    height: 427px;
  }
  .m-r-23 {
    margin-right: 23px;
  }
}
