<div class="f-horizontal col-h-100">
  <div class="c-col-1 c-pad-r c-sep o-radio-list">
    <h2 rr-id="nec_m_080202" rrInfoIcon="nec_m_08_01">
      {{ 'neckMRT.lymphNodes.localization.value' | translate }}*
    </h2>
    <p-checkbox
      rr-id="nec_m_080203"
      name="isLevelIaSubmental"
      label="{{ 'neckMRT.lymphNodes.levelIaSubmental.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIaSubmental"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080204"
      name="isLevelIbSubmandibular"
      label="{{ 'neckMRT.lymphNodes.levelIbSubmandibular.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIbSubmandibular"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080205"
      name="isLevelIIaUpperInternal"
      label="{{ 'neckMRT.lymphNodes.levelIIaUpperInternal.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIIaUpperInternal"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080206"
      name="isLevelIIbUpperInternal"
      label="{{ 'neckMRT.lymphNodes.levelIIbUpperInternal.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIIbUpperInternal"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080207"
      name="isLevelIIIMidInternal"
      label="{{ 'neckMRT.lymphNodes.levelIIIMidInternal.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIIIMidInternal"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080208"
      name="isLevelIVLowerInternal"
      label="{{ 'neckMRT.lymphNodes.levelIVLowerInternal.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelIVLowerInternal"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080209"
      name="isLevelVaSuperiorPosteriorcervical"
      label="{{ 'neckMRT.lymphNodes.levelVaSuperiorPosteriorcervical.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelVaSuperiorPosteriorcervical"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080210"
      name="isLevelVbInferiorPosterior"
      label="{{ 'neckMRT.lymphNodes.levelVbInferiorPosterior.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelVbInferiorPosterior"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080211"
      name="isLevelVIAnteriorCompartment"
      label="{{ 'neckMRT.lymphNodes.levelVIAnteriorCompartment.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isLevelVIAnteriorCompartment"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080212"
      name="isLevelVIIUppermediastinalLN"
      label="{{ 'neckMRT.lymphNodes.levelVIIUppermediastinalLN.value' | translate }}"
      binary="true"
      labelStyleClass="text-break"
      [(ngModel)]="model.isLevelVIIUppermediastinalLN"
      [rrValidation]="localizationValidationGroup"
      (ngModelChange)="applyLocalizationBlockLogic()"
    ></p-checkbox>
  </div>
  <div class="c-col-1 c-pad c-sep o-list">
    <h2 rr-id="nec_m_080301" class="m-b-10">
      {{ 'neckMRT.lymphNodes.morphology.value' | translate }}
    </h2>
    <div class="o-radio-list">
      <p class="m-b-0" rr-id="nec_m_080302">
        {{ 'neckMRT.lymphNodes.maxShortAxisDiameter.value' | translate }}
      </p>
      <rr-number-input
        [label]="'neckMRT.lymphNodes.inMm.value' | translate"
        inputRr="nec_m_080303"
        labelRr="nec_m_080304"
        name="maxShortAxisDiameterInMm"
        [(ngModel)]="model.maxShortAxisDiameterInMm"
        [config]="{labelWidth: 140, min: 1, max: 99}"
      ></rr-number-input>
    </div>
    <div
      class="o-radio-list m-b-13"
      [rrDisable]="applyLocalizationBlockLogic()"
    >
      <p rr-id="nec_m_080305">
        {{ 'neckMRT.lymphNodes.shape.value' | translate }}
      </p>
      <p-radioButton
        rr-id="nec_m_080306"
        name="shapeType"
        [value]="shapeType.Oval"
        label="{{ 'neckMRT.lymphNodes.oval.value' | translate }}"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_080307"
        name="shapeType"
        [value]="shapeType.Round"
        label="{{ 'neckMRT.lymphNodes.round.value' | translate }}"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_080308"
        name="shapeType"
        [value]="shapeType.Lobulated"
        label="{{ 'neckMRT.lymphNodes.lobulated.value' | translate }}"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p rr-id="nec_m_080309">
        {{ 'neckMRT.lymphNodes.margin.value' | translate }}
      </p>
      <p-radioButton
        rr-id="nec_m_080310"
        name="marginType"
        [value]="marginType.Circumscribed"
        label="{{ 'neckMRT.lymphNodes.circumscribed.value' | translate }}"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_080311"
        name="marginType"
        [value]="marginType.Noncircumscribed"
        label="{{ 'neckMRT.lymphNodes.noncircumscribed.value' | translate }}"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_080312"
        name="marginType"
        [value]="marginType.CapsuleTear"
        label="{{ 'neckMRT.lymphNodes.capsuleTear.value' | translate }}"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep o-radio-list">
    <h2 rr-id="nec_m_080401">
      {{ 'neckMRT.lymphNodes.details.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_080402"
      name="isNecrosis"
      label="{{ 'neckMRT.lymphNodes.necrosis.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isNecrosis"
    ></p-checkbox>
    <p-checkbox
      rr-id="nec_m_080403"
      name="isConglomerateMass"
      label="{{ 'neckMRT.lymphNodes.conglomerateMass.value' | translate }}"
      binary="true"
      [(ngModel)]="model.isConglomerateMass"
    ></p-checkbox>
  </div>
  <div class="c-col-1 c-pad-l">
    <div class="o-radio-list m-b-32">
      <h2 rr-id="nec_m_080501">
        {{ 'neckMRT.lymphNodes.characterization.value' | translate }}*
      </h2>
      <p-radioButton
        rr-id="nec_m_080502"
        name="characterizationType"
        [value]="characterizationType.BorderlineEnlarged"
        label="{{ 'neckMRT.lymphNodes.borderlineEnlarged.value' | translate }}"
        [(ngModel)]="model.characterizationType"
        rrValidation="characterizationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_080503"
        name="characterizationType"
        [value]="characterizationType.Pathologic"
        label="{{ 'neckMRT.lymphNodes.pathologic.value' | translate }}"
        [(ngModel)]="model.characterizationType"
        rrValidation="characterizationType"
      ></p-radioButton>
    </div>
    <rr-reference-picture
      [(ngModel)]="model.referencePicture"
      [referenceId]="model.id"
      [fileUploadUrl]="fileUploadUrl"
      name="referencePicture"
    ></rr-reference-picture>
  </div>
</div>
