<div
  class="f-horizontal f-start col-h-100 c-sep-l c-pad-l"
  id="chronicCruropedalCont"
>
  <div class="c-col-1 f-vertical f-start c-sep c-pad-r o-radio-list">
    <h2 rr-id="ang_m_080328">
      {{'angiographyMRT.pelvisLegArteries.side.value' | translate}}
    </h2>
    <p-radioButton
      rr-id="ang_m_080329"
      label="{{'angiographyMRT.pelvisLegArteries.right.value' | translate}}"
      name="sideType"
      [value]="locationTypeEnum.Right"
      [(ngModel)]="model.sideType"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="ang_m_080330"
      label="{{'angiographyMRT.pelvisLegArteries.left.value' | translate}}"
      name="sideType"
      [value]="locationTypeEnum.Left"
      [(ngModel)]="model.sideType"
      rrUnClickRadio
    ></p-radioButton>

    <h2 rr-id="ang_m_080331" class="m-t-28 m-b-10">
      {{'angiographyMRT.pelvisLegArteries.type.value' | translate}}
    </h2>
    <p-radioButton
      rr-id="ang_m_080332"
      label="{{'angiographyMRT.pelvisLegArteries.typeA.value' | translate}}"
      name="classificationAccordingToTASCIISubType"
      [value]="classificationAccordingToTASCIISubTypeEnum.TypeA"
      [(ngModel)]="model.classificationAccordingToTASCIISubType"
      rrContentReset="b-block c-block d-block"
      rrValidation="classificationAccordingToTASCIISubType"
    ></p-radioButton>
    <p-radioButton
      rr-id="ang_m_080333"
      label="{{'angiographyMRT.pelvisLegArteries.typeB.value' | translate}}"
      name="classificationAccordingToTASCIISubType"
      [value]="classificationAccordingToTASCIISubTypeEnum.TypeB"
      [(ngModel)]="model.classificationAccordingToTASCIISubType"
      rrContentReset="c-block d-block"
      rrValidation="classificationAccordingToTASCIISubType"
    ></p-radioButton>
    <p-radioButton
      rr-id="ang_m_080334"
      label="{{'angiographyMRT.pelvisLegArteries.typeC.value' | translate}}"
      name="classificationAccordingToTASCIISubType"
      [value]="classificationAccordingToTASCIISubTypeEnum.TypeC"
      [(ngModel)]="model.classificationAccordingToTASCIISubType"
      rrContentReset="b-block d-block"
      rrValidation="classificationAccordingToTASCIISubType"
    ></p-radioButton>
    <p-radioButton
      rr-id="ang_m_080335"
      label="{{'angiographyMRT.pelvisLegArteries.typeD.value' | translate}}"
      name="classificationAccordingToTASCIISubType"
      rrContentReset="b-block c-block"
      [value]="classificationAccordingToTASCIISubTypeEnum.TypeD"
      [(ngModel)]="model.classificationAccordingToTASCIISubType"
      rrValidation="classificationAccordingToTASCIISubType"
    ></p-radioButton>
  </div>

  <div class="c-col-1 f-vertical f-start c-sep c-pad o-radio-list">
    <div
      *ngIf="model.classificationAccordingToTASCIISubType === classificationAccordingToTASCIISubTypeEnum.TypeA"
      class="f-vertical f-start o-radio-list"
    >
      <h2 rr-id="ang_m_080486">
        {{'angiographyMRT.pelvisLegArteries.detailsNoAsterisk.value' |
        translate}}
      </h2>
      <p-checkbox
        name="isSingularStenosisLessThan1Cm"
        [(ngModel)]="model.isSingularStenosisLessThan1Cm"
        class="checkbox-readonly"
        label="{{'angiographyMRT.pelvisLegArteries.singularStenosisCmLessThanCM.value' | translate}}"
        binary="true"
        rr-id="ang_m_080459"
      ></p-checkbox>
    </div>

    <div
      id="b-block"
      *ngIf="model.classificationAccordingToTASCIISubType === classificationAccordingToTASCIISubTypeEnum.TypeB"
      class="f-vertical f-start o-radio-list"
    >
      <h2 rr-id="ang_m_080485">
        {{'angiographyMRT.pelvisLegArteries.details.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="ang_m_080460"
        label="{{'angiographyMRT.pelvisLegArteries.multipleStenosesCm.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.MultipleStenosesLessThan1Cm"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_080461"
        label="{{'angiographyMRT.pelvisLegArteries.oneOrTwoStenoseswithin.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.OneOrTwoStenosesLessThan1Cm"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
    </div>

    <div
      id="c-block"
      *ngIf="model.classificationAccordingToTASCIISubType === classificationAccordingToTASCIISubTypeEnum.TypeC"
      class="f-vertical f-start o-radio-list"
    >
      <h2 rr-id="ang_m_080485">
        {{'angiographyMRT.pelvisLegArteries.details.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="ang_m_080462"
        label="{{'angiographyMRT.pelvisLegArteries.stenosisFromCmLength.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.StenosisFrom1To4CmLength"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_080463"
        label="{{'angiographyMRT.pelvisLegArteries.occlusionFromCmLenght.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.OcclusionFrom1To2CmLength"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_080464"
        label="{{'angiographyMRT.pelvisLegArteries.highgradeAndLongdistancetrifurcationStenosis.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.HighGradeAndLongDistanceTrifurcationStenosis"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
    </div>

    <div
      id="d-block"
      *ngIf="model.classificationAccordingToTASCIISubType === classificationAccordingToTASCIISubTypeEnum.TypeD"
      class="f-vertical f-start o-radio-list"
    >
      <h2 rr-id="ang_m_080485">
        {{'angiographyMRT.pelvisLegArteries.details.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="ang_m_080465"
        label="{{'angiographyMRT.pelvisLegArteries.occlusionCm.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.OcclusionMoreThan2Cm"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_080466"
        label="{{'angiographyMRT.pelvisLegArteries.multipleAndLongdistanceStenoses.value' | translate}}"
        name="classificationAccordingToTASCIIDetailsType"
        [value]="classificationAccordingToTASCIIDetailsTypeEnum.MultipleAndLongDistanceStenoses"
        [(ngModel)]="model.classificationAccordingToTASCIIDetailsType"
        rrValidation="classificationAccordingToTASCIIDetailsType"
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad-l"></div>
</div>
