.h-550 {
  height: 550px;
}

.h-511 {
  height: 511px;
}

::ng-deep .rr-tabView .ui-tabview-nav li.ui-state-default {
  width: 334px !important;
}

::ng-deep .rr-number-input .label-white-space {
  white-space: pre-wrap !important;
}
