<div class="h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0602449" class="p-l-10 m-b-15">
        {{'pelvisMRT.femaleGender.alteredInternalStructure.value' | translate}}
      </h2>
      <div class="o-radio-list p-l-10 m-b-37">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.fat.value' | translate}}"
          rr-id="pel_m_0602463"
          binary="true"
          name="isFat"
          [(ngModel)]="model.isFat"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.cysts.value' | translate}}"
          rr-id="pel_m_0602451"
          binary="true"
          name="isCysts"
          [(ngModel)]="model.isCysts"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.calcification.value' | translate}}"
          rr-id="pel_m_0602452"
          binary="true"
          name="isCalcification"
          [(ngModel)]="model.isCalcification"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.capsule.value' | translate}}"
          rr-id="pel_m_0602466"
          binary="true"
          name="isCapsule"
          [(ngModel)]="model.isCapsule"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.septa.value' | translate}}"
          rr-id="pel_m_0602454"
          binary="true"
          name="isSepta"
          [(ngModel)]="model.isSepta"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.necrosis.value' | translate}}"
          rr-id="pel_m_0602455"
          binary="true"
          name="isNecrosis"
          [(ngModel)]="model.isNecrosis"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.signalVoids.value' | translate}}"
          rr-id="pel_m_0602456"
          binary="true"
          name="isSignalVoids"
          [(ngModel)]="model.isSignalVoids"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.hemorrhage.value' | translate}}"
          rr-id="pel_m_0602457"
          binary="true"
          name="isHemorrhage"
          [(ngModel)]="model.isHemorrhage"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.possiblySuperinfectednecroticAreas.value' | translate}}"
          rr-id="pel_m_0602458"
          binary="true"
          name="isPossiblySuperinfectedOrNecroticAreas"
          [(ngModel)]="model.isPossiblySuperinfectedOrNecroticAreas"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.focalSignalVoids.value' | translate}}"
          rr-id="pel_m_0602459"
          binary="true"
          name="isFocalSignalVoids"
          [(ngModel)]="model.isFocalSignalVoids"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.fluiddebrisLevel.value' | translate}}"
          rr-id="pel_m_0602464"
          binary="true"
          name="isFluidDebrisLevel"
          [(ngModel)]="model.isFluidDebrisLevel"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <div class="o-radio-list p-l-10 m-b-31" [rrDisable]="!isCM">
        <h2 rr-id="pel_m_0603425" class="m-b-14">
          {{'pelvisMRT.femaleGender.contrastEnhancement.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="pel_m_0603426"
          label="{{'pelvisMRT.femaleGender.strong.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.Strong"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_0603427"
          label="{{'pelvisMRT.femaleGender.low.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.Low"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_0603428"
          label="{{'pelvisMRT.femaleGender.no.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.No"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <div
          id="contrastEnhancementHomogenityType1Block"
          class="m-l-35 o-radio-list"
          [rrDisable]="model.contrastEnhancementType1 !== contrastEnhancementTypeEnum.Low &&
          model.contrastEnhancementType1 !== contrastEnhancementTypeEnum.Strong"
        >
          <p-radioButton
            rr-id="pel_m_0603429"
            label="{{'pelvisMRT.femaleGender.homogeneous.value' | translate}}"
            name="contrastEnhancementHomogenityType1"
            [value]="homogenityTypeEnum.Homogeneous"
            [(ngModel)]="model.contrastEnhancementHomogenityType1"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_0603430"
            label="{{'pelvisMRT.femaleGender.heterogeneous.value' | translate}}"
            name="contrastEnhancementHomogenityType1"
            [value]="homogenityTypeEnum.Heterogeneous"
            [(ngModel)]="model.contrastEnhancementHomogenityType1"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.marginal.value' | translate}}"
            rr-id="pel_m_0603473"
            binary="true"
            name="isMarginal"
            [(ngModel)]="model.isMarginal"
          >
          </p-checkbox>
        </div>
      </div>
      <div class="o-radio-list p-l-10 m-b-30" [rrDisable]="!isDWI">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.diffusionRestriction.value' | translate}}"
          rr-id="pel_m_0603433"
          [labelStyleClass]="'ui-fat-label'"
          binary="true"
          name="isDiffusionRestriction"
          [(ngModel)]="model.isDiffusionRestriction"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0604410" class="p-l-10 m-b-15">
        {{'pelvisMRT.femaleGender.associatedFindings.value' | translate}}
      </h2>
      <div class="o-radio-list p-l-10 m-b-37">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.vaginalDisplacement.value' | translate}}"
          rr-id="pel_m_0602199"
          binary="true"
          name="isVaginalDisplacement"
          [(ngModel)]="model.isVaginalDisplacement"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0605205" class="p-l-10 m-b-15">
        {{'pelvisMRT.femaleGender.infiltrationOfAdjacentStructures.value' |
        translate}}
      </h2>
      <div class="o-radio-list p-l-10 m-b-37">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.vagina.value' | translate}}"
          rr-id="pel_m_0605241"
          binary="true"
          name="isVagina"
          [(ngModel)]="model.isVagina"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.perineum.value' | translate}}"
          rr-id="pel_m_0605263"
          binary="true"
          name="isPerineum"
          [(ngModel)]="model.isPerineum"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.urethra.value' | translate}}"
          rr-id="pel_m_0605264"
          binary="true"
          name="isUrethra"
          [(ngModel)]="model.isUrethra"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.urinaryBladder.value' | translate}}"
          rr-id="pel_m_0605212"
          binary="true"
          name="isUrinaryBladder"
          [(ngModel)]="model.isUrinaryBladder"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.analSphincter.value' | translate}}"
          rr-id="pel_m_0605265"
          binary="true"
          name="isAnalSphincter"
          [(ngModel)]="model.isAnalSphincter"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.anusrectum.value' | translate}}"
          rr-id="pel_m_0605266"
          binary="true"
          name="isAnusOrRectum"
          [(ngModel)]="model.isAnusOrRectum"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
