.main {
  cursor: pointer;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-gray {
  stroke: #e2e2e2;
}

.stroke-none {
  stroke: none;
}

.fill-white {
  fill: #fff;
}

.fill-none {
  fill: none;
}

.font {
  font-size: 18px;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.magnify-glass-round {
  fill: none;
  stroke: #00aec2;
  stroke-width: 3px;
  stroke-linecap: round;
}

.magnify-glass-part {
  fill: none;
  stroke: #00aec2;
  stroke-width: 3px;
}

.selectable {
  stroke: #00aec2;
  fill: #fff;
  opacity: 0.8;
  .path {
    stroke: none;
    fill: #00aec2;
  }
}

.selected {
  stroke: red;
  fill: red;
  .path {
    stroke: none;
    fill: red;
  }
}

.background-image-right {
  fill: url(#pattern-right);
}

.background-image-left {
  fill: url(#pattern-left);
}

:host-context(.invalid-localizer) {
  .border {
    stroke: red;
  }
}
