<p-tabView class="rr-tabView">
  <p-tabPanel [selected]="true">
    <ng-template pTemplate="header">
      <span rr-id="pel_m_050283"
        >{{ 'pelvisMRT.maleGender.infectionInflammationTabHeader.value' |
        translate }}</span
      >
    </ng-template>
    <rr-testicles-epididymis
      [technologyModel]="technologyModel"
      [model]="model"
    >
    </rr-testicles-epididymis>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span rr-id="pel_m_050243"
        >{{ 'pelvisMRT.maleGender.surroundingSoftTissueTabHeader.value' |
        translate }}</span
      >
    </ng-template>
    <rr-surrounding-soft-tissue
      [technologyModel]="technologyModel"
      [model]="model"
    >
    </rr-surrounding-soft-tissue>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <span rr-id="pel_m_050439"
        >{{ 'pelvisMRT.maleGender.differentialDiagnosisTabHeader.value' |
        translate }}</span
      >
    </ng-template>
    <rr-differential-diagnosis [model]="model"></rr-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
