.finding-tab-view {
  height: 620px;
  transform: translateY(-68px);
  border-left: 1px solid black;
}
.scaled-localizer {
  transform-origin: left top;
  transform: scale(1.05);
}
.tab-border {
  border-right: 1px solid black;
}
