* {
  cursor: pointer;
}
.blue-elements {
  fill: #fff;
  stroke: #00aec2;
}

.wider {
  stroke-width: 3px;
}

.border {
  fill: #fff;
  stroke: #e6e6e6;
}

.grey {
  fill: #bdbdbd;
}

.selectable-elements {
  fill: #f1adce;
}

.dark-grey {
  fill: #b2b2b2;
}

.light-grey {
  fill: #e2e2e2;
}

.pink-body {
  stroke: #e8caca;
  fill: none;
}

.selected {
  fill: #f80202;
  opacity: 0.8;
}
