<div class="f-vertical f-start main-container">
  <div class="col-h-100 f-horizontal">
    <div class="f-vertical c-sep">
      <div class="p-l-15">
        <h2 class="m-b-10" rr-id="ang_c_040230">
          {{ "angiographyCT.coronaryArteries.localization.value" | translate }}*
        </h2>
      </div>
      <rr-shared-coronary-artery-columns
        [model]="model"
        class="col-h-100"
      ></rr-shared-coronary-artery-columns>
    </div>

    <div class="f-vertical c-col-1 c-sep c-pad-l">
      <h2 class="m-b-10" rr-id="ang_c_040535">
        {{ "angiographyCT.coronaryArteries.noStenosis.value" | translate }}
      </h2>
      <div class="o-radio-list">
        <p-radioButton
          [(ngModel)]="model.noStenosisType"
          name="noStenosisType"
          [value]="noStenosisTypeEnum.IntactAndNoStenosis"
          label="{{ 'angiographyCT.coronaryArteries.intactAndNoStenosis.value' | translate }}"
          rr-id="ang_c_040536"
          rrUnClickRadio
        ></p-radioButton>

        <p-radioButton
          [(ngModel)]="model.noStenosisType"
          name="noStenosisType"
          [value]="noStenosisTypeEnum.InStentStenosis"
          label="{{ 'angiographyCT.coronaryArteries.instentStenosis.value' | translate }}"
          rr-id="ang_c_040537"
          rrUnClickRadio
        ></p-radioButton>

        <p-radioButton
          [(ngModel)]="model.noStenosisType"
          name="noStenosisType"
          [value]="noStenosisTypeEnum.Occlusion"
          label="{{ 'angiographyCT.coronaryArteries.occlusion.value' | translate }}"
          rr-id="ang_c_040538"
          rrUnClickRadio
        ></p-radioButton>
      </div>

      <h2 class="m-b-10 m-t-30" rr-id="ang_c_040539">
        {{ "angiographyCT.coronaryArteries.assessability.value" | translate }}
      </h2>

      <p-checkbox
        rr-id="ang_c_040540"
        binary="true"
        name="isLimited"
        label="{{ 'angiographyCT.coronaryArteries.limited.value' | translate }}"
        [(ngModel)]="model.isLimited"
      >
      </p-checkbox>
    </div>
  </div>
</div>
