:host ::ng-deep p.date-label-custom {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

:host ::ng-deep p.date-label-display {
  display: none;
}

.localizer-fix {
  margin-bottom: -7px;
}
