<div class="ovary-mass-height">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <div class="o-list" [rrDisable]="!isCM">
        <h2 rr-id="pel_m_060212" class="p-l-10">
          {{'pelvisMRT.femaleGender.contrastEnhancement.value' | translate}}
        </h2>
        <div class="o-radio-list p-l-10">
          <p-radioButton
            rr-id="pel_m_060213"
            label="{{'pelvisMRT.femaleGender.strong.value' | translate}}"
            name="contrastEnhancementType1"
            [value]="contrastEnhancementTypeEnum.Strong"
            [(ngModel)]="model.contrastEnhancementType1"
            rrContentReset="cmEnhancementBlock"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060214"
            label="{{'pelvisMRT.femaleGender.low.value' | translate}}"
            name="contrastEnhancementType1"
            [value]="contrastEnhancementTypeEnum.Low"
            [(ngModel)]="model.contrastEnhancementType1"
            rrContentReset="cmEnhancementBlock"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060215"
            label="{{'pelvisMRT.femaleGender.no.value' | translate}}"
            name="contrastEnhancementType1"
            [value]="contrastEnhancementTypeEnum.No"
            [(ngModel)]="model.contrastEnhancementType1"
            rrContentReset="cmEnhancementBlock"
            rrUnClickRadio
          >
          </p-radioButton>
          <div
            class="nested-content o-radio-list"
            id="cmEnhancementBlock"
            [rrDisable]="isCMHomogenityDisable()"
          >
            <p-radioButton
              rr-id="pel_m_060216"
              label="{{'pelvisMRT.femaleGender.homogeneous.value' | translate}}"
              name="contrastEnhancementHomogenityType1"
              [value]="homogenityTypeEnum.Homogeneous"
              [(ngModel)]="model.contrastEnhancementHomogenityType1"
              rrUnClickRadio
              rrContentReset="heterogeneousBlock"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="pel_m_060217"
              label="{{'pelvisMRT.femaleGender.heterogeneous.value' | translate}}"
              name="contrastEnhancementHomogenityType1"
              [value]="homogenityTypeEnum.Heterogeneous"
              [(ngModel)]="model.contrastEnhancementHomogenityType1"
              rrUnClickRadio
              rrContentReset="heterogeneousBlock"
            >
            </p-radioButton>
            <div
              class="nested-content o-radio-list"
              id="heterogeneousBlock"
              [rrDisable]="model.contrastEnhancementHomogenityType1 !== homogenityTypeEnum.Heterogeneous"
            >
              <p-radioButton
                rr-id="pel_m_060218"
                label="{{'pelvisMRT.femaleGender.nonEnhancingParts.value' | translate}}"
                name="heterogeneousType"
                [value]="heterogeneousTypeEnum.NonEnhancingParts"
                [(ngModel)]="model.heterogeneousType"
                rrUnClickRadio
              >
              </p-radioButton>
              <p-radioButton
                rr-id="pel_m_060219"
                label="{{'pelvisMRT.femaleGender.nodularParts.value' | translate}}"
                name="heterogeneousType"
                [value]="heterogeneousTypeEnum.NodularParts"
                [(ngModel)]="model.heterogeneousType"
                rrUnClickRadio
              >
              </p-radioButton>
              <p-radioButton
                rr-id="pel_m_0602404"
                label="{{'pelvisMRT.femaleGender.septal.value' | translate}}"
                name="heterogeneousType"
                [value]="heterogeneousTypeEnum.Septal"
                [(ngModel)]="model.heterogeneousType"
                rrUnClickRadio
              >
              </p-radioButton>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <div class="o-list" [rrDisable]="!isCM">
        <h2 rr-id="pel_m_060312" rrInfoIcon="pel_m_06_01" class="p-l-10">
          {{'pelvisMRT.femaleGender.dCEMRI.value' | translate}}
        </h2>
        <div class="p-l-10 o-radio-list">
          <p-radioButton
            rr-id="pel_m_060314"
            label="{{'pelvisMRT.femaleGender.curveTypeI.value' | translate}}"
            name="dceMriType"
            [value]="dceMriTypeEnum.CurveTypeI"
            [(ngModel)]="model.dceMriType"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060315"
            label="{{'pelvisMRT.femaleGender.curveTypeII.value' | translate}}"
            name="dceMriType"
            [value]="dceMriTypeEnum.CurveTypeII"
            [(ngModel)]="model.dceMriType"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060316"
            label="{{'pelvisMRT.femaleGender.curveTypeIII.value' | translate}}"
            name="dceMriType"
            [value]="dceMriTypeEnum.CurveTypeIII"
            [(ngModel)]="model.dceMriType"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.centripetalEnhancement.value' | translate}}"
            rr-id="pel_m_060317"
            binary="true"
            name="isCentripetalEnhancement"
            [(ngModel)]="model.isCentripetalEnhancement"
          >
          </p-checkbox>
        </div>
      </div>
      <div class="o-radio-list m-t-17 p-l-10">
        <div [rrDisable]="!isDWI">
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.diffusionRestriction.value' | translate}}"
            rr-id="pel_m_0603403"
            binary="true"
            labelStyleClass="ui-fat-label"
            name="isDiffusionRestriction"
            [(ngModel)]="model.isDiffusionRestriction"
          >
          </p-checkbox>
        </div>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.beakSign.value' | translate}}"
          rr-id="pel_m_0603404"
          rrInfoIcon="pel_m_06_02"
          binary="true"
          labelStyleClass="ui-fat-label"
          name="isBeakSign"
          [(ngModel)]="model.isBeakSign"
        >
        </p-checkbox>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0604405" class="p-l-10">
        {{'pelvisMRT.femaleGender.associatedFindings.value' | translate}}
      </h2>
      <div class="o-radio-list p-l-10">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.peritonealNodules.value' | translate}}"
          rr-id="pel_m_060414"
          binary="true"
          name="isPeritonealNodules"
          [(ngModel)]="model.isPeritonealNodules"
          rrContentReset="peritonealNodesDetailsContainer"
        >
        </p-checkbox>
        <div
          class="nested-content o-radio-list m-b-18"
          [rrDisable]="!model.isPeritonealNodules"
          id="peritonealNodesDetailsContainer"
        >
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.rectouterinePouch.value' | translate}}"
            rr-id="pel_m_060415"
            binary="true"
            name="isRectouterinePouch"
            [(ngModel)]="model.isRectouterinePouch"
          >
          </p-checkbox>
          <p-radioButton
            rr-id="pel_m_060416"
            label="{{'pelvisMRT.femaleGender.unifocal.value' | translate}}"
            name="peritonealNodulesType"
            [value]="peritonealNodulesTypeEnum.Unifocal"
            [(ngModel)]="model.peritonealNodulesType"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060417"
            label="{{'pelvisMRT.femaleGender.multifocal.value' | translate}}"
            name="peritonealNodulesType"
            [value]="peritonealNodulesTypeEnum.Multifocal"
            [(ngModel)]="model.peritonealNodulesType"
            rrUnClickRadio
          >
          </p-radioButton>
        </div>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.ascites.value' | translate}}"
          rr-id="pel_m_060418"
          binary="true"
          name="isAscites"
          [(ngModel)]="model.isAscites"
          rrContentReset="ascitesDetailsContainer"
        >
        </p-checkbox>
        <div
          class="nested-content o-radio-list m-t-15"
          [rrDisable]="!model.isAscites"
          id="ascitesDetailsContainer"
        >
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.t1wSignalIncrease.value' | translate}}"
            rr-id="pel_m_060419"
            binary="true"
            name="isAscitesT1wSignalIncrease"
            [(ngModel)]="model.isAscitesT1wSignalIncrease"
          >
          </p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.hemosiderin.value' | translate}}"
            rr-id="pel_m_060420"
            binary="true"
            name="isHemosiderin"
            [(ngModel)]="model.isHemosiderin"
          >
          </p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.focal.value' | translate}}"
            rr-id="pel_m_060421"
            binary="true"
            name="isFocus"
            [(ngModel)]="model.isFocal"
          >
          </p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.generalized.value' | translate}}"
            rr-id="pel_m_060422"
            binary="true"
            name="isGeneralized"
            [(ngModel)]="model.isGeneralized"
          >
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_060512" class="p-l-10 m-b-15">
        {{'pelvisMRT.femaleGender.infiltrationOfAdjacentStructures.value' |
        translate}}
      </h2>
      <div class="o-radio-list p-l-10">
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.tubes.value' | translate}}"
          rr-id="pel_m_060513"
          binary="true"
          name="isTubes"
          [(ngModel)]="model.isTubes"
          rrContentReset="tubesBlock"
        >
        </p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="tubesBlock"
          [rrDisable]="!model.isTubes"
        >
          <p rr-id="pel_m_0605200">
            {{'pelvisMRT.femaleGender.side.value' | translate}}*
          </p>
          <p-radioButton
            rr-id="pel_m_060514"
            label="{{'pelvisMRT.femaleGender.right.value' | translate}}"
            name="sideType"
            [value]="sideTypeEnum.Right"
            [(ngModel)]="model.sideType"
            rrValidation="sideType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_060515"
            label="{{'pelvisMRT.femaleGender.left.value' | translate}}"
            name="sideType"
            [value]="sideTypeEnum.Left"
            [(ngModel)]="model.sideType"
            rrValidation="sideType"
          >
          </p-radioButton>
        </div>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.uterus.value' | translate}}"
          rr-id="pel_m_060516"
          binary="true"
          name="isUterus"
          [(ngModel)]="model.isUterus"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.parametria.value' | translate}}"
          rr-id="pel_m_060517"
          binary="true"
          name="isParametria"
          [(ngModel)]="model.isParametria"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.urinaryBladder.value' | translate}}"
          rr-id="pel_m_060518"
          binary="true"
          name="isUrinaryBladder"
          [(ngModel)]="model.isUrinaryBladder"
        >
        </p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.intestine.value' | translate}}"
          rr-id="pel_m_060519"
          binary="true"
          name="isGut"
          [(ngModel)]="model.isIntestine"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
