<div class="f-horizontal col-h-100">
  <div class="c-col-1 c-sep c-pad-r o-list">
    <h2
      rr-id="kne_m_060202"
      rrInfoIcon="kne_m_060204"
      class="m-t-4 m-b-13 non-break-icon"
      rrValidation="location"
    >
      {{ 'kneeMRT.osteoInterface.localization.value' | translate }}
    </h2>
    <rr-knee-osteo
      rr-id="kne_m_060203"
      [(ngModel)]="model.location"
      name="location"
      rrValidation="location"
      isLocalizer="true"
    ></rr-knee-osteo>
  </div>
  <div class="c-col-1 c-sep c-pad">
    <div class="f-start f-vertical o-list">
      <h2 rr-id="kne_m_060309" rrInfoIcon="kne_m_060310" class="m-t-4 m-b-15">
        {{ 'kneeMRT.osteoInterface.trauma.value' | translate }}
      </h2>
      <div class="f-start f-vertical o-list">
        <h2 rr-id="kne_m_060318" class="m-b-15">
          {{'kneeMRT.osteoInterface.subchondralFracture.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="kne_m_060319"
          [(ngModel)]="model.isHypointenseLineParallelToCortex"
          label="{{ 'kneeMRT.osteoInterface.hypointenseLineParallelTo.value' | translate }}"
          binary="true"
          name="isHypointenseLineParallelToCortex"
          labelStyleClass="text-break2"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="kne_m_060320"
          [(ngModel)]="model.isNoContourIrregularity"
          label="{{ 'kneeMRT.osteoInterface.noContourIrregularity.value' | translate }}"
          binary="true"
          name="isNoContourIrregularity"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="kne_m_060321"
          [(ngModel)]="model.isNoArticularSurfaceInvolvement"
          label="{{ 'kneeMRT.osteoInterface.noArticularSurfaceInvolvement.value' | translate }}"
          binary="true"
          name="isNoArticularSurfaceInvolvement"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
