.anamnesis-column {
  height: 515px;
}

.custom-label-margin {
  ::ng-deep.date-label {
    // overriden date-label class from rr-month-year-input component
    margin-bottom: 1px;
  }
}

:host ::ng-deep rr-calendar-input .ui-inputtext {
  height: 40px;
  width: 158px;
  cursor: pointer;
}

.localizer-bottom-fix {
  margin-bottom: -7px;
}

.pregnancies-dropdown {
  ::ng-deep.ui-dropdown-label {
    padding-right: 5px;
  }
}
