<p-tabView class="rr-tabView right-edge-tab">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="pel_m_0902163"
        class="custom-tab-header"
        [rrValidation]="['maxExpansionInMm', 'differentialDiagnosis']"
        ifAny="true"
      >
        {{ 'pelvisMRT.bladder.characterizationITabHeader.value' | translate }}
      </h1>
    </ng-template>
    <rr-soft-tissue-mass-characterization-one
      [model]="model"
    ></rr-soft-tissue-mass-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="pel_m_0903109"
        class="custom-tab-header"
        [rrValidation]="['differentialDiagnosis1']"
        ifAny="true"
      >
        {{ 'pelvisMRT.bladder.characterizationIITabHeader.value' | translate }}
      </h1>
    </ng-template>
    <rr-soft-tissue-mass-characterization-two
      [model]="model"
    ></rr-soft-tissue-mass-characterization-two>
  </p-tabPanel>
</p-tabView>
