.slider-part {
  padding: 10px 14px;
  background-color: #e7f2f4;
  z-index: 0;
  border-radius: 5px;
}

.slider-radio-inputs > :not(:last-child) {
  margin-right: 18px;
}

.slider-column {
  width: 170px;

  .o-horizontal-radio-list > :not(:last-child) {
    margin-right: 4px;
  }

  .o-horizontal-radio-list > p-radioButton {
    width: 70px;
  }
}
