* {
  user-select: none;
}
.top {
  margin-top: -70px;
  margin-left: 52px;
}
.background {
  fill: #fff;
}

.hovered-text {
  fill: #00afc2;
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
}

.checked-text {
  fill: #f80202;
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
}

.text-normal {
  font-size: 18px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.text-picture {
  font-size: 18px;
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
  fill: #fff;
}

.text-bold {
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
}

.hovered-element {
  fill: #00afc2 !important;
  stroke-width: 3px;
  stroke: #fff;
}

.checked-element {
  fill: #f80202 !important;
  stroke-width: 3px;
  stroke: #fff;
}

.header {
  font-size: 60px;
  font-weight: 300;
  font-family: BentonSansLight, BentonSans;
}

.line {
  stroke: #707070;
}

.infobox {
  stroke: #00aec2;
  stroke-width: 2px;
  fill: none;
}

.circle {
  fill: #00aec2;
}

.circle-x {
  stroke: #fff;
  stroke-width: 6px;
}

.outer-color {
  fill: #edac97;
}

.dark-red {
  fill: #ad3f44;
}

.light-red {
  fill: #d77873;
}

.red {
  fill: #cf5d54;
}

.inner {
  fill: #e2847d;
}

.selectable-element {
  fill: #f7cca4;
}

.pointer {
  cursor: pointer;
}

.description-container {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 3px solid #00aec2;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 30px;
  max-width: 785px;
}

.description {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
  span {
    white-space: pre-line;
  }
}
