.left-circle {
  margin-right: 3px;
}

.right-circle {
  margin-left: 3px;
}

.disabled {
  opacity: 0.5;
}

.localizers-upper-row {
  margin-bottom: -5px;
}

.localizers-container {
  border: solid 2px transparent;
  margin: {
    right: -3px;
    bottom: -5px;
  }
}

:host-context(.invalid-localizer) {
  .validation-border {
    border: solid 2px red;
  }
}
