* {
  user-select: none;
}

.circle {
  fill: #00aec2;
}

.no-fill {
  fill: none;
}

.white-border {
  stroke: #fff;
  fill: none;
}

.circle-x {
  stroke-width: 6px;
  stroke: #fff;
}

.header {
  font-size: 60px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.text-normal {
  font-size: 18px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.rect {
  stroke: #00aec2;
  stroke-width: 3px;
  fill: none;
}

.line {
  stroke: #707070;
}

.element {
  opacity: 0;
}

.no-stroke {
  stroke: none;
}

.top {
  margin-top: -70px;
  margin-left: 52px;
}

.background {
  fill: #fff;
}

.pointer {
  cursor: pointer;
}

.hovered-text {
  fill: #00afc2;
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
}

.checked-text {
  fill: #f80202;
  font-family: BentonSansBold, BentonSans !important;
  font-weight: 700 !important;
}

.hovered-element {
  fill: #00afc2 !important;
  opacity: 0.6;
}

.checked-element {
  fill: #f80202 !important;
  opacity: 0.6;
}

.wide-stroke-no-fill {
  stroke-width: 3px;
  fill: none;
}

.white {
  fill: #f6f6f6;
}

.light-grey {
  fill: #c6c6c6;
}

.lighter-grey {
  fill: #dadada;
}

.dark-grey {
  stroke: #9d9d9c;
}

.wide-stroke-grey-fill {
  stroke-width: 2px;
  stroke: #c6c6c6;
  fill: #b2b2b2;
}

.grey {
  fill: #b0b0af;
}

.dark-white {
  fill: #e3e2e2;
}

.darkest-grey {
  fill: #b2b2b2;
}

.grey-fill-grey-stroke {
  fill: #b2b2b2;
  stroke: #c6c6c6;
}

.grey-lines {
  stroke: #c6c6c6;
}
