.knee-single-simple-large {
  fill: url(#pattern-knee-simple-large);

  path {
    stroke: none;
  }
}

.knee-captions {
  fill: #dfdfdf;
  font-size: 20px;
  font-family: BentonSansLight;
  font-weight: 300;

  tspan {
    cursor: pointer;
  }
}

.knee-caption-checked {
  fill: #f80202 !important;
  font-family: BentonSansBold;
  font-weight: 700;
}

.text-hover {
  fill: #00aec2;
  font-family: BentonSansBold;
  font-weight: 700;
}

.knee-part {
  opacity: 0;
  cursor: pointer;

  &-checked {
    opacity: 0.6;
    fill: #f80202 !important;
  }
}

.knee-part-hover {
  opacity: 0.6;
  fill: #00aec2;
}

.knee-frame {
  fill: #dfdfdf;
}

.knee-exit-circle {
  cursor: pointer;

  circle {
    fill: #b2b2b2;
  }

  line {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
  }
}
