.main {
  height: 540px;
}

.multi-col-header {
  height: 145px;
}

.multi-col-content {
  height: calc(100% - 145px);
}

.scale-flaps-localizer {
  transform: scale(1.04);
  transform-origin: left top;
}
.scale-segments-localizer {
  transform: scale(1.2);
  transform-origin: left top;
}
