.localization-lesion-area {
  cursor: pointer;

  &:hover path {
    fill: #00aec2;
  }

  &-checked path,
  &-checked:hover path {
    fill: #fe0000;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    font-family: BentonSansBold, BentonSans;
  }

  &-checked &__text,
  &:hover &__text {
    fill: #fff;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

:host-context(.invalid-localizer) {
  .lesion-pathology-outer {
    stroke: red !important;
  }
}
