.main {
  background: #fff;
  margin-top: -102px;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.close-button {
  cursor: pointer;
  .circle {
    fill: #00aec2;
  }
  .closing-x {
    stroke: #fff;
    stroke-width: 6px;
    fill: none;
  }
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-60 {
  font-size: 60px;
}

.font-light {
  font-family: BentonSansLight, BentonSans, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, BentonSans, sans-serif;
  font-weight: 700;
}

.stroke-gray-1 {
  stroke: #707070;
}

.stroke-gray-2 {
  stroke: #bdbabd;
}

.stroke-limit-10 {
  stroke-miterlimit: 10;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-linejoin-round {
  stroke-linejoin: round;
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
}

.fill-gray-1 {
  fill: #ebebeb;
}

.fill-gray-2 {
  fill: #dfdfdf;
}

.part-color-1 {
  fill: #fd6b00;
  opacity: 0.5;
}

.part-color-2 {
  fill: #5d49fc;
  opacity: 0.26;
}

.part-color-3 {
  fill: #ff1fd2;
  opacity: 0.55;
}

.part-color-4 {
  fill: #f60000;
  opacity: 0.3;
}

.part-color-5 {
  fill: #0073ff;
  opacity: 0.3;
}

.part-color-6 {
  fill: #ffe000;
  opacity: 0.5;
}

.part-color-7 {
  fill: #bdbabd;
  opacity: 0.5;
}

.part-color-8 {
  fill: #f5ba81;
  opacity: 0.7;
  stroke-miterlimit: 10;
}

.part-color-9 {
  fill: #ff1fd2;
  opacity: 0.25;
}

.part-color-10 {
  fill: #0bdb6a;
  opacity: 0.4;
}

.part-color-11 {
  fill: #8cff64;
  opacity: 0.4;
}

.part-color-12 {
  fill: #a104be;
  opacity: 0.4;
}

.part-color-13 {
  fill: #476f4a;
  opacity: 0.454;
}

.text-hovered {
  @extend .font-bold;
  fill: #00aec2;
}

.text-selected {
  @extend .font-bold;
  fill: #ff0000;
}

.part-hovered {
  &-normal {
    fill: #6ed1dc !important;
    opacity: 0.6 !important;
  }
  &-darker {
    fill: #00aec2 !important;
    opacity: 0.6 !important;
  }
}

.part-selected {
  &-normal {
    fill: #ff0000 !important;
    opacity: 0.6 !important;
  }
  &-darker {
    fill: #dd2323 !important;
    opacity: 0.7 !important;
  }
}

.close-button,
.circle,
.closing-x {
  pointer-events: all !important;
}
