@import "../settings-dialogs-shared.scss";

.dialog-main {
  width: 590px;
  height: 460px;

  .dialog-header {
    padding-top: 47px;
  }

  .dialog-content {
    height: 267px;

    .import-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;

      .upload-button {
        width: 230px;
        margin: 22px 0 10px 0;
        height: 40px;
        background: #1caec2;
        border: none;
        color: #ffffff;
        font-family: BentonSans, sans-serif;
        font-size: 18px;
        border-radius: 4px;
      }

      .import-text {
        font-size: 14px;
        font-family: BentonSansLight, sans-serif;
        color: #999999;
      }
    }

    .cropper-container {
      display: flex;
      height: inherit;
      flex-direction: column;
      align-items: center;

      .cropper-text {
        font-size: 18px;
        font-family: BentonSansLight, sans-serif;
      }

      .cropper {
        border: 1px solid #b2b2b2;
        border-radius: 6px;
        width: 292px;
        height: 200px;
        padding: 2px;
      }
    }
  }
}
