.knee-details-simple-small {
  width: 100%;
}

.knee-single-detailed-small {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: url(#pattern-knee-simple-small);
}

.knee-clickable {
  cursor: pointer;
}

.knee-part {
  opacity: 0;

  &-checked {
    opacity: 0.6;
    fill: #f80202;
  }
}

.knee-magnifying-glass {
  fill: none;
  stroke-width: 3px;
  stroke: #00aec2;
}

:host-context(.invalid-localizer) {
  .knee-single-detailed-small {
    stroke: #ff0000;
  }
}
