<p-tabView class="rr-tabView facial-skull-tabs">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_110280"
        class="custom-tab-header"
        rrValidation="orbitaDiagnosis1LocalizationType sideType"
        ifAny="true"
      >
        {{ "headMRT.facialSkull.localization.value" | translate }}
      </h1>
    </ng-template>
    <rr-orbita-localization
      class="f-horizontal col-h-100"
      [model]="model"
      [w049]="w049"
    ></rr-orbita-localization>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_110358" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationI.value" | translate }}
      </h1>
    </ng-template>
    <rr-orbita-characterization-one
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-orbita-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_110456" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationII.value" | translate }}
      </h1>
    </ng-template>
    <rr-orbita-characterization-two
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-orbita-characterization-two>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_110558"
        class="custom-tab-header"
        rrValidation="orbitaDiagnosis1Type"
      >
        {{ "headMRT.facialSkull.differentialDiagnosis.value" | translate }}
      </h1>
    </ng-template>
    <rr-orbita-differential-diagnosis
      class="f-horizontal col-h-100"
      [model]="model"
      [w049]="w049"
      [w050]="w050"
    ></rr-orbita-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
