<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list m-b-16">
    <h2 rr-id="nec_m_060216">
      {{ 'neckMRT.softTissues.pharyngealMuscles.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060217"
      [(ngModel)]="model.isPharyngealMuscles"
      name="isPharyngealMuscles"
      label="{{ 'neckMRT.softTissues.pharyngealMuscles.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060218"
      [(ngModel)]="model.isUvulaeMuscle"
      name="isUvulaeMuscle"
      label="{{ 'neckMRT.softTissues.uvulaeMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list m-b-16">
    <h2 rr-id="nec_m_060219">
      {{ 'neckMRT.softTissues.laryngealMuscles.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060220"
      [(ngModel)]="model.isLaryngealMuscles"
      name="isLaryngealMuscles"
      label="{{ 'neckMRT.softTissues.laryngealMuscles.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060221"
      [(ngModel)]="model.isVocalMuscle"
      name="isVocalMuscle"
      label="{{ 'neckMRT.softTissues.vocalMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list m-b-16">
    <h2 rr-id="nec_m_060222">
      {{ 'neckMRT.softTissues.intrinsicMusclesOfThe.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060223"
      [(ngModel)]="model.isIntrinsicMusclesOfTheTongue"
      name="isIntrinsicMusclesOfTheTongue"
      label="{{ 'neckMRT.softTissues.intrinsicMusclesOfThe.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060224"
      [(ngModel)]="model.isGenioglossusMuscle"
      name="isGenioglossusMuscle"
      label="{{ 'neckMRT.softTissues.genioglossusMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060225"
      [(ngModel)]="model.isHyoglossusMuscle"
      name="isHyoglossusMuscle"
      label="{{ 'neckMRT.softTissues.hyoglossusMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_060226">
      {{ 'neckMRT.softTissues.floorOfMouthMuscles.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060227"
      [(ngModel)]="model.isFloorOfMouthMuscles"
      name="isFloorOfMouthMuscles"
      label="{{ 'neckMRT.softTissues.floorOfMouthMuscles.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060228"
      [(ngModel)]="model.isMylohyoidMuscle"
      name="isMylohyoidMuscle"
      label="{{ 'neckMRT.softTissues.mylohyoidMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060229"
      [(ngModel)]="model.isGeniohyoidMuscle"
      name="isGeniohyoidMuscle"
      label="{{ 'neckMRT.softTissues.geniohyoidMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060230"
      [(ngModel)]="model.isDigastricMuscle"
      name="isDigastricMuscle"
      label="{{ 'neckMRT.softTissues.digastricMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_060332">
      {{ 'neckMRT.softTissues.neckMuscles.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060333"
      [(ngModel)]="model.isNeckMuscles"
      name="isNeckMuscles"
      label="{{ 'neckMRT.softTissues.neckMuscles.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060334"
      [(ngModel)]="model.isLongusCapitisMuscle"
      name="isLongusCapitisMuscle"
      label="{{ 'neckMRT.softTissues.longusCapitisMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060335"
      [(ngModel)]="model.isLongusColliMuscle"
      name="isLongusColliMuscle"
      label="{{ 'neckMRT.softTissues.longusColliMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060336"
      [(ngModel)]="model.isLevatorScapulaeMuscle"
      name="isLevatorScapulaeMuscle"
      label="{{ 'neckMRT.softTissues.levatorScapulaeMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060337"
      [(ngModel)]="model.isScalenusAnteriorMuscle"
      name="isScalenusAnteriorMuscle"
      label="{{ 'neckMRT.softTissues.scalenusAnteriorMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060338"
      [(ngModel)]="model.isScalenusMediusMuscle"
      name="isScalenusMediusMuscle"
      label="{{ 'neckMRT.softTissues.scalenusMediusMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060339"
      [(ngModel)]="model.isScalenusPosteriorMuscle"
      name="isScalenusPosteriorMuscle"
      label="{{ 'neckMRT.softTissues.scalenusPosteriorMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060340"
      [(ngModel)]="model.isSternocleidomastoideusMuscle"
      name="isSternocleidomastoideusMuscle"
      label="{{ 'neckMRT.softTissues.sternocleidomastoideusMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_060341">
      {{ 'neckMRT.softTissues.paraspinalMuscles.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060342"
      [(ngModel)]="model.isParaspinalMuscles"
      name="isParaspinalMuscles"
      label="{{ 'neckMRT.softTissues.paraspinalMuscles.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060343"
      [(ngModel)]="model.isDeepOrIntrinsicMusclesMedialTract"
      name="isDeepOrIntrinsicMusclesMedialTract"
      label="{{ 'neckMRT.softTissues.deepintrinsicMusclesmedialTract.value' | translate }}"
      labelStyleClass="text-break"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060344"
      [(ngModel)]="model.isDeepOrIntrinsicMusclesLateralTract"
      name="isDeepOrIntrinsicMusclesLateralTract"
      label="{{ 'neckMRT.softTissues.deepintrinsicMuscleslateralTract.value' | translate }}"
      labelStyleClass="text-break"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_060345"
      [(ngModel)]="model.isTrapeziusMuscle"
      name="isTrapeziusMuscle"
      label="{{ 'neckMRT.softTissues.trapeziusMuscle.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list m-b-30">
    <h2 rr-id="nec_m_060428">
      {{ 'neckMRT.softTissues.expansion.value' | translate }}
    </h2>
    <div class="f-vertical o-radio-list m-b-11">
      <h3 rr-id="nec_m_060429" class="m-b-5">
        {{ 'neckMRT.softTissues.size.value' | translate }}*
      </h3>
      <rr-number-input
        inputRrId="nec_m_060430"
        labelRrId="nec_m_060431"
        name="sizeInMm"
        label="{{ 'neckMRT.softTissues.inMm.value' | translate }}"
        [config]="{ min: 1, max: 150, placeholder: '---' }"
        [(ngModel)]="model.sizeInMm"
        (announceModelChange)="resetBothPlanes()"
        rrValidation="sizeInMm"
      >
      </rr-number-input>
    </div>
    <div class="f-vertical o-radio-list" [rrDisable]="!model.sizeInMm">
      <h3 rr-id="nec_m_060432" class="m-b-5">
        {{ 'neckMRT.softTissues.2ndPlane.value' | translate }}
      </h3>
      <rr-number-input
        inputRrId="nec_m_060433"
        labelRrId="nec_m_060434"
        name="secondPlaneInMm"
        label="{{ 'neckMRT.softTissues.inMm.value' | translate }}"
        [config]="{ min: 1, max: 150, placeholder: '---' }"
        [(ngModel)]="model.secondPlaneInMm"
        (announceModelChange)="resetThirdPlane()"
      >
      </rr-number-input>
    </div>
    <div class="f-vertical o-radio-list" [rrDisable]="!model.secondPlaneInMm">
      <h3 rr-id="nec_m_060435" class="m-b-5">
        {{ 'neckMRT.softTissues.3rdPlane.value' | translate }}
      </h3>
      <rr-number-input
        inputRrId="nec_m_060436"
        labelRrId="nec_m_060437"
        name="thirdPlaneInMm"
        label="{{ 'neckMRT.softTissues.inMm.value' | translate }}"
        [config]="{ min: 1, max: 150, placeholder: '---' }"
        [(ngModel)]="model.thirdPlaneInMm"
      >
      </rr-number-input>
    </div>
  </div>
  <div class="f-vertical o-radio-list m-b-30">
    <h2 rr-id="nec_m_060438">
      {{ 'neckMRT.softTissues.margin.value' | translate }}*
    </h2>
    <p-radioButton
      rr-id="nec_m_060439"
      [(ngModel)]="model.marginType"
      name="marginType"
      label="{{ 'neckMRT.softTissues.circumscribed.value' | translate }}"
      [value]="marginType.Circumscribed"
      rrValidation="marginType"
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_060440"
      [(ngModel)]="model.marginType"
      name="marginType"
      label="{{ 'neckMRT.softTissues.noncircumscribed.value' | translate }}"
      [value]="marginType.NonCircumscribed"
      rrValidation="marginType"
    ></p-radioButton>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_060441">
      {{ 'neckMRT.softTissues.homogeneity.value' | translate }}
    </h2>
    <p-radioButton
      rr-id="nec_m_060442"
      [(ngModel)]="model.homogeneityType"
      name="homogeneityType"
      label="{{ 'neckMRT.softTissues.homogeneous.value' | translate }}"
      [value]="homogeneityType.Homogeneous"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_060443"
      [(ngModel)]="model.homogeneityType"
      name="homogeneityType"
      label="{{ 'neckMRT.softTissues.heterogeneous.value' | translate }}"
      [value]="homogeneityType.Heterogeneous"
      rrUnClickRadio
    ></p-radioButton>
  </div>
</div>
<div class="c-col-1 c-pad-l f-vertical o-list sliders-z-index m-t-14 m-b-13">
  <div class="f-vertical o-radio-list c-pad-r m-b-30">
    <h2 rr-id="nec_m_060513" class="m-b-5">
      {{ 'neckMRT.softTissues.shape.value' | translate }}
    </h2>
    <p-dropdown
      rr-id="nec_m_060514"
      styleClass="ui-brown-box o-width-100"
      [(ngModel)]="model.shapeDifferentialDiagnosis"
      name="shapeDifferentialDiagnosis"
      [options]="shapeDifferentialDiagnosisOptions"
      placeholder="{{'shared.pleaseSelect' | translate}}"
      rrDropdownClear
    >
    </p-dropdown>
  </div>
  <div class="f-vertical o-radio-list c-pad-r m-b-21">
    <h2 rr-id="nec_m_060515" class="m-b-0">
      {{ 'neckMRT.softTissues.t1wSignal.value' | translate }}
    </h2>
    <p rr-id="nec_m_060516" class="slider-sub-caption m-b-12">
      {{ 'neckMRT.softTissues.comparedToMuscle.value' | translate }}
    </p>
    <rr-signal-slider
      rr-id="nec_m_060517"
      [(ngModel)]="model.signalT1w"
      name="signalT1w"
    >
    </rr-signal-slider>
  </div>
  <div class="f-vertical o-radio-list c-pad-r m-b-34">
    <h2 rr-id="nec_m_060518" class="m-b-0">
      {{ 'neckMRT.softTissues.t2wSignal.value' | translate }}
    </h2>
    <p rr-id="nec_m_060519" class="slider-sub-caption m-b-12">
      {{ 'neckMRT.softTissues.comparedToMuscle.value' | translate }}
    </p>
    <rr-signal-slider
      rr-id="nec_m_060520"
      [(ngModel)]="model.signalT2w"
      name="signalT2w"
    >
    </rr-signal-slider>
  </div>
  <div class="f-vertical o-radio-list" [rrDisable]="!isDWI">
    <h2 rr-id="nec_m_060521" rrInfoIcon="nec_m_06_05">
      {{ 'neckMRT.softTissues.dWI.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_060522"
      [(ngModel)]="model.isDiffusionRestriction"
      name="isDiffusionRestriction"
      label="{{ 'neckMRT.softTissues.diffusionRestriction.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>
