@import "../../bones.component";

.main-tumor-column {
  margin-bottom: 58px;
}

.col-width-100 {
  width: 100%;
}

::ng-deep rr-spine-simple svg {
  height: auto;
  width: 100%;
}

.sliders-z-index {
  z-index: 0;
}
