.scale {
  transform: scale(1.1);
}

.background {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: url(#pattern);
}

.no-stroke {
  stroke: none;
}

.transparent-background {
  fill: none;
}

.knee-cross-area {
  fill: #999;
  opacity: 0.7;
  cursor: pointer;

  &-hovered {
    fill: #00aec2;
  }

  &-checked,
  &-checked:hover {
    fill: #fe0000;
  }

  &__text {
    fill: #fff;
    font-size: 12px;
    font-family: BentonSansBold;
    font-weight: 700;
  }

  &-inactive {
    fill: #cacaca;
    cursor: default;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

:host-context(.invalid-localizer) {
  .background {
    stroke: red;
  }
}
