<div class="f-horizontal col-h-100">
  <div class="c-col-1 c-pad c-sep f-start f-vertical">
    <h2 rr-id="pel_m_100202" class="m-b-27 m-t-3" rrValidation="hipLocalizer">
      {{ 'pelvisMRT.bones.localization.value' | translate }}*
    </h2>
    <rr-hips-small
      rr-id="pel_m_100203"
      name="hipLocalizer"
      (click)="openLargeLocalizer()"
      [(ngModel)]="model.hipLocalizer"
      rrValidation="hipLocalizer"
      isLocalizer="true"
    ></rr-hips-small>
  </div>
  <div class="c-col-1 c-pad c-sep f-start f-vertical">
    <div class="o-radio-list">
      <p-checkbox
        rr-id="pel_m_100375"
        label="{{ 'pelvisMRT.bones.publicBoneMarrowEdema.value' | translate }}"
        [(ngModel)]="model.isBoneMarrowEdemaOs"
        binary="true"
        name="isboneMarrowEdemaOs"
        rrContentReset="isBoneMarrowEdemaOs-block"
      ></p-checkbox>
      <div
        class="nested-content o-radio-list"
        id="isBoneMarrowEdemaOs-block"
        [rrDisable]="!model.isBoneMarrowEdemaOs"
      >
        <p-checkbox
          rr-id="pel_m_100376"
          label="{{ 'pelvisMRT.bones.right.value' | translate }}"
          [(ngModel)]="model.isBoneMarrowEdemaOsRight"
          binary="true"
          name="isBoneMarrowEdemaOsRight"
        ></p-checkbox>
        <p-checkbox
          rr-id="pel_m_100377"
          label="{{ 'pelvisMRT.bones.left.value' | translate }}"
          [(ngModel)]="model.isBoneMarrowEdemaOsLeft"
          binary="true"
          name="isBoneMarrowEdemaOsLeft"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="pel_m_100378"
        label="{{ 'pelvisMRT.bones.adductorMuscleEdema.value' | translate }}"
        [(ngModel)]="model.isMuscleEdemaAdductors"
        binary="true"
        name="isMuscleEdemaAdductors"
      ></p-checkbox>
      <p-checkbox
        rr-id="pel_m_100379"
        label="{{ 'pelvisMRT.bones.pubicSymphysisJointIrregularity.value' | translate }}"
        [(ngModel)]="model.isIrregularityJoint"
        binary="true"
        name="isIrregularityJoint"
      ></p-checkbox>
      <div class="o-radio-list">
        <p-checkbox
          rr-id="pel_m_100380"
          label="{{ 'pelvisMRT.bones.SecondaryCleftSign.value' | translate }}"
          [(ngModel)]="model.isSecondaryCleftSign"
          binary="true"
          name="isSecondaryCleftSign"
          rrContentReset="isSecondaryCleftSign-block"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="isSecondaryCleftSign-block"
          [rrDisable]="!model.isSecondaryCleftSign"
        >
          <p-checkbox
            rr-id="pel_m_100381"
            label="{{ 'pelvisMRT.bones.right.value' | translate }}"
            [(ngModel)]="model.isSecondaryCleftSignRight"
            binary="true"
            name="isSecondaryCleftSignRight"
          ></p-checkbox>
          <p-checkbox
            rr-id="pel_m_100382"
            label="{{ 'pelvisMRT.bones.left.value' | translate }}"
            [(ngModel)]="model.isSecondaryCleftSignLeft"
            binary="true"
            name="isSubchondralCystsLeft"
          ></p-checkbox>
        </div>
        <p-checkbox
          rr-id="pel_m_100383"
          label="{{ 'pelvisMRT.bones.subchondralCysts.value' | translate }}"
          [(ngModel)]="model.isSubchondralCysts"
          binary="true"
          name="isSubchondralCysts"
        ></p-checkbox>
        <div class="o-radio-list text-break">
          <p-checkbox
            rr-id="pel_m_100384"
            label="{{ 'pelvisMRT.bones.tendinopathyOfTheRectus.value' | translate }}"
            [(ngModel)]="model.isRectusAbdominisTendinopathy"
            binary="true"
            name="isRectusAbdominisTendinopathy"
            rrContentReset="rectusAbdominisTendinopathy-block"
          ></p-checkbox>
          <div
            class="nested-content o-radio-list"
            id="rectusAbdominisTendinopathy-block"
            [rrDisable]="!model.isRectusAbdominisTendinopathy"
          >
            <p-checkbox
              rr-id="pel_m_100385"
              label="{{ 'pelvisMRT.bones.right.value' | translate }}"
              [(ngModel)]="model.isRectusAbdominisTendinopathyRight"
              binary="true"
              name="isRectusAbdominisTendinopathyRight"
            ></p-checkbox>
            <p-checkbox
              rr-id="pel_m_100386"
              label="{{ 'pelvisMRT.bones.left.value' | translate }}"
              [(ngModel)]="model.isRectusAbdominisTendinopathyLeft"
              binary="true"
              name="isRectusAbdominisTendinopathyLeft"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep f-start f-vertical"></div>
  <div class="c-col-1 c-pad c-sep f-start f-vertical"></div>
</div>
