<div class="f-horizontal f-start o-width-100 col-h-100">
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="tho_c_050215">
        {{'thoraxCT.lungParenchyma.internalChange.value' |translate}}
      </h2>
      <p-checkbox
        rrInfoIcon="tho_c_05_03"
        rr-id="tho_c_050216"
        label="{{'thoraxCT.lungParenchyma.riglerNotchSign.value' | translate}}"
        name="isRiglerNotchSign"
        binary="true"
        [(ngModel)]="model.isRiglerNotchSign"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050218"
        label="{{'thoraxCT.lungParenchyma.eccentricNecrosis.value' | translate}}"
        name="isEccentricNecrosis"
        binary="true"
        [(ngModel)]="model.isEccentricNecrosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050219"
        label="{{'thoraxCT.lungParenchyma.centralNecrosis.value' | translate}}"
        name="isCentralNecrosis"
        binary="true"
        [(ngModel)]="model.isCentralNecrosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050220"
        label="{{'thoraxCT.lungParenchyma.fat.value' | translate}}"
        name="isFat"
        binary="true"
        [(ngModel)]="model.isFat"
      ></p-checkbox>
      <p-checkbox
        rrInfoIcon="tho_c_05_04"
        rr-id="tho_c_050221"
        label="{{'thoraxCT.lungParenchyma.calcification.value' | translate}}"
        name="isCalcification"
        binary="true"
        [(ngModel)]="model.isCalcification"
        rrContentReset="calcificationTypeContainer"
      ></p-checkbox>
      <div
        id="calcificationTypeContainer"
        class="nested-content o-radio-list"
        [rrDisable]="!model.isCalcification"
      >
        <p-radioButton
          rr-id="tho_c_050223"
          label="{{'thoraxCT.lungParenchyma.diffuse.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Diffuse"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_050224"
          label="{{'thoraxCT.lungParenchyma.central.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Centrally"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_050225"
          label="{{'thoraxCT.lungParenchyma.popcornLike.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Popcornstyle"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_050226"
          label="{{'thoraxCT.lungParenchyma.concentric.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Concentric"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_050227"
          label="{{'thoraxCT.lungParenchyma.microcalcification.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Microcalcification"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_050228"
          label="{{'thoraxCT.lungParenchyma.eccentric.value' | translate}}"
          name="calcificationType"
          [value]="lungParenchymaCalcificationTypeEnum.Eccentric"
          [(ngModel)]="model.calcificationType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <p-checkbox
        rr-id="tho_c_050229"
        label="{{'thoraxCT.lungParenchyma.cavitation.value' | translate}}"
        name="isCavitation"
        binary="true"
        [(ngModel)]="model.isCavitation"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad o-radio-list m-t-15 m-b-15">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="tho_c_050314">
        {{'thoraxCT.lungParenchyma.peripheralChange.value' |translate}}
      </h2>
      <p-checkbox
        rr-id="tho_c_050315"
        label="{{'thoraxCT.lungParenchyma.pleuralFinger.value' | translate}}"
        name="isPleuralFinger"
        binary="true"
        [(ngModel)]="model.isPleuralFinger"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050316"
        label="{{'thoraxCT.lungParenchyma.coronaRadiataSpiculae.value' | translate}}"
        name="isCoronaRadiataOrSpiculae"
        binary="true"
        [(ngModel)]="model.isCoronaRadiataOrSpiculae"
      ></p-checkbox>
      <p-checkbox
        rrInfoIcon="tho_c_05_05"
        rr-id="tho_c_050317"
        label="{{'thoraxCT.lungParenchyma.haloSign.value' | translate}}"
        name="isHaloSign"
        binary="true"
        [(ngModel)]="model.isHaloSign"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050319"
        label="{{'thoraxCT.lungParenchyma.associatedAtelectasis.value' | translate}}"
        name="isAssociatedAtelectasis"
        binary="true"
        [(ngModel)]="model.isAssociatedAtelectasis"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_0503200"
        labelStyleClass="text-break"
        label="{{'thoraxCT.lungParenchyma.reversedHaloSignCentralGGOSurroundedByInCompleteRingOfConsolidation.value' | translate}}"
        name="isReversedHaloSign"
        binary="true"
        [(ngModel)]="model.isReversedHaloSign"
      ></p-checkbox>
      <div class="o-radio-list" [rrDisable]="!isCMYes">
        <h2 rr-id="tho_c_0503201" class="m-t-20">
          {{'thoraxCT.lungParenchyma.contrastEnhancementQuantitative.value'
          |translate}}
        </h2>
        <p-radioButton
          rr-id="tho_c_0503202"
          label="{{'thoraxCT.lungParenchyma.none.value' | translate}}"
          name="contrastEnhancementQuantitativeType"
          [value]="contrastEnhancementQuantitativeTypeEnum.No"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          rrContentReset="contrastEnhancementHomogeneityTypeContainer"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_0503203"
          label="{{'thoraxCT.lungParenchyma.minimal.value' | translate}}"
          name="contrastEnhancementQuantitativeType"
          [value]="contrastEnhancementQuantitativeTypeEnum.Minimal"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          rrContentReset="contrastEnhancementHomogeneityTypeContainer"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="tho_c_0503204"
          label="{{'thoraxCT.lungParenchyma.marked.value' | translate}}"
          name="contrastEnhancementQuantitativeType"
          [value]="contrastEnhancementQuantitativeTypeEnum.Marked"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          rrContentReset="contrastEnhancementHomogeneityTypeContainer"
          rrUnClickRadio
        >
        </p-radioButton>
        <div
          id="contrastEnhancementHomogeneityTypeContainer"
          class="nested-content o-radio-list"
          [rrDisable]="!shouldHomogeneityTypeEnumContainerBeActive()"
        >
          <p-radioButton
            rr-id="tho_c_0503205"
            label="{{'thoraxCT.lungParenchyma.homogeneous.value' | translate}}"
            name="contrastEnhancementHomogeneityType"
            [value]="homogeneityTypeEnum.Homogeneous"
            [(ngModel)]="model.contrastEnhancementHomogeneityType"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="tho_c_0503206"
            label="{{'thoraxCT.lungParenchyma.heterogeneous.value' | translate}}"
            name="contrastEnhancementHomogeneityType"
            [value]="homogeneityTypeEnum.Heterogeneous"
            [(ngModel)]="model.contrastEnhancementHomogeneityType"
            rrUnClickRadio
          >
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15"></div>
  <div class="c-col-1 c-sep c-pad-l m-t-15 m-b-15"></div>
</div>
