.nerve-compression-column {
  height: 557px;
}

.nerve-compression-detail-column {
  height: 520px;
}

.m-t-115 {
  margin-top: 115px;
}

.m-t-111 {
  margin-top: 111px;
}

.h-446 {
  height: 446px;
}
