.pointer,
.segment-name {
  cursor: pointer;
}

.segment-number {
  font-size: 9px;
  font-family: BentonSansBold;
  pointer-events: none;
  user-select: none;

  &-white {
    fill: white;
  }
}

.segment-name {
  font-size: 12px;
  font-family: BentonSans;
}

.hovered-segment,
.hovered-text {
  fill: #00aec2;
}

.hovered-segment {
  opacity: 0.6;
}

.hovered-text {
  font-family: BentonSansBold;
}

.selected-segment,
.selected-text {
  fill: #f80202;
}

.selected-segment {
  opacity: 0.6;
}

.selected-text {
  font-family: BentonSansBold;
}

:host-context(.invalid-localizer) {
  .image-border {
    stroke: red !important;
  }
}
