.fractionation-dropdown {
  align-items: center;

  p-dropdown {
    width: 158px;
  }

  label {
    margin: {
      top: 0;
      bottom: 0;
      left: 10px;
    }
    font-size: 15px;
    font-family: BentonSansLight;
  }
}

::ng-deep rr-slider-number-input.technology-slider {
  .labels {
    width: 100% !important;
    margin-top: 16px !important;
  }
  .labels-container {
    justify-content: initial;
    margin: {
      left: 0 !important;
      right: 0 !important;
    }

    .label-item {
      font-size: 11px !important;
      text-align: center;

      &:first-child {
        width: 14% !important;
        text-align: left;
      }

      &:last-child {
        width: 17% !important;
        padding-left: 10px !important;
      }
    }
  }
}
