<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center">
    <div class="c-col-3 c-pad-r c-sep f-vertical">
      <h1 rr-id="nec_m_110103" class="m-b-10">
        {{ 'neckMRT.summary.procedure.value' | translate }}
      </h1>
      <div class="f-horizontal col-h-100">
        <div class="c-col-2 f-vertical c-pad-r c-sep">
          <h2 rr-id="nec_m_110104" class="m-b-10">
            {{ 'neckMRT.summary.supplementaryImaging.value' | translate }}
          </h2>
          <div class="f-horizontal col-h-100 c-sep">
            <div class="c-col-1 c-pad-r c-sep o-list">
              <div class="f-vertical o-radio-list">
                <h3 rr-id="nec_m_110105">
                  {{ 'neckMRT.summary.mRI.value' | translate }}
                </h3>
                <p-checkbox
                  rr-id="nec_m_110106"
                  [(ngModel)]="model.isContrastEnhancedMriNeck"
                  name="isContrastEnhancedMriNeck"
                  label="{{ 'neckMRT.summary.contrastEnhancedMRINeck.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110107"
                  [(ngModel)]="model.isBrainMri"
                  name="isBrainMri"
                  label="{{ 'neckMRT.summary.brainMRI.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110108"
                  [(ngModel)]="model.isOrbitaMri"
                  name="isOrbitaMri"
                  label="{{ 'neckMRT.summary.orbitaMRI.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110109"
                  [(ngModel)]="model.isTemporomandibularJointsMri"
                  name="isTemporomandibularJointsMri"
                  label="{{ 'neckMRT.summary.temporomandibularJointsMRI.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110110"
                  [(ngModel)]="model.isTofMrAngiography"
                  name="isTofMrAngiography"
                  label="{{ 'neckMRT.summary.tOFMRAngiography.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110111"
                  [(ngModel)]="model.isMrAngiographyIntracranial"
                  name="isMrAngiographyIntracranial"
                  label="{{ 'neckMRT.summary.mRAngiographyIntracranial.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110112"
                  [(ngModel)]="model.isMrAngiographyExtracranial"
                  name="isMrAngiographyExtracranial"
                  label="{{ 'neckMRT.summary.mRAngiographyExtracranial.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110113"
                  [(ngModel)]="model.isMriCervicalSpine"
                  name="isMriCervicalSpine"
                  label="{{ 'neckMRT.summary.mRICervicalSpine.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
              </div>
            </div>
            <div class="c-col-1 c-pad-l o-list">
              <div class="f-vertical o-radio-list">
                <h3 rr-id="nec_m_110201">
                  {{ 'neckMRT.summary.cT.value' | translate }}
                </h3>
                <p-checkbox
                  rr-id="nec_m_110202"
                  [(ngModel)]="model.isCct"
                  name="isCct"
                  label="{{ 'neckMRT.summary.cCT.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110203"
                  [(ngModel)]="model.isCtAngiographyIntracranial"
                  name="isCtAngiographyIntracranial"
                  label="{{ 'neckMRT.summary.cTAngiographyIntracranial.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110204"
                  [(ngModel)]="model.isCtAngiographyExtracranial"
                  name="isCtAngiographyExtracranial"
                  label="{{ 'neckMRT.summary.cTAngiographyExtracranial.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110205"
                  [(ngModel)]="model.isCtPetrousBone"
                  name="isCtPetrousBone"
                  label="{{ 'neckMRT.summary.cTPetrousBone.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110206"
                  [(ngModel)]="model.isParanasalSinusCt"
                  name="isParanasalSinusCt"
                  label="{{ 'neckMRT.summary.paranasalSinusCT.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110207"
                  [(ngModel)]="model.isCtNeck"
                  name="isCtNeck"
                  label="{{ 'neckMRT.summary.cTNeck.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110208"
                  [(ngModel)]="model.isDentalCtDvt"
                  name="isDentalCtDvt"
                  label="{{ 'neckMRT.summary.dentalCTDVT.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110209"
                  [(ngModel)]="model.isCtThorax"
                  name="isCtThorax"
                  label="{{ 'neckMRT.summary.cTThorax.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
              </div>
              <div class="f-vertical o-radio-list">
                <h3 rr-id="nec_m_110210">
                  {{ 'neckMRT.summary.nuclearMedicine.value' | translate }}
                </h3>
                <p-checkbox
                  rr-id="nec_m_110211"
                  [(ngModel)]="model.isPetCt"
                  name="isPetCt"
                  label="{{ 'neckMRT.summary.pETCT.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110212"
                  [(ngModel)]="model.isSpectCt"
                  name="isSpectCt"
                  label="{{ 'neckMRT.summary.sPECTCT.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
                <p-checkbox
                  rr-id="nec_m_110213"
                  [(ngModel)]="model.isBoneScintigraphy"
                  name="isBoneScintigraphy"
                  label="{{ 'neckMRT.summary.boneScintigraphy.value' | translate }}"
                  binary="true"
                >
                </p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="c-col-1 o-list c-pad-l">
          <div class="f-vertical o-radio-list">
            <h2 rr-id="nec_m_110301">
              {{ 'neckMRT.summary.mRIFollowup.value' | translate }}
            </h2>
            <p-dropdown
              rr-id="nec_m_110302"
              styleClass="o-width-100 ui-brown-box"
              [options]="mriFollowUpOptions"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              name="mriFollowUpType"
              [(ngModel)]="model.mriFollowUpType"
              rrDropdownClear
            >
            </p-dropdown>
          </div>
          <div class="f-vertical o-radio-list">
            <h2 rr-id="nec_m_110303">
              {{ 'neckMRT.summary.recommendation.value' | translate }}
            </h2>
            <p-checkbox
              rr-id="nec_m_110304"
              [(ngModel)]="model.isBiopsy"
              name="isBiopsy"
              label="{{ 'neckMRT.summary.biopsy.value' | translate }}"
              rrContentReset="isBiopsy-block"
              binary="true"
            >
            </p-checkbox>
            <div
              id="isBiopsy-block"
              class="nested-content o-radio-list"
              [rrDisable]="!model.isBiopsy"
            >
              <p-radioButton
                rr-id="nec_m_110305"
                [(ngModel)]="model.biopsyType"
                name="biopsyType"
                label="{{ 'neckMRT.summary.cTGuided.value' | translate }}"
                [value]="biopsyType.CtGuided"
                rrUnClickRadio
              >
              </p-radioButton>
              <p-radioButton
                rr-id="nec_m_110306"
                [(ngModel)]="model.biopsyType"
                name="biopsyType"
                label="{{ 'neckMRT.summary.endoscopic.value' | translate }}"
                [value]="biopsyType.Endoscopic"
                rrUnClickRadio
              >
              </p-radioButton>
              <p-radioButton
                rr-id="nec_m_110307"
                [(ngModel)]="model.biopsyType"
                name="biopsyType"
                label="{{ 'neckMRT.summary.sonographyGuided.value' | translate }}"
                [value]="biopsyType.SonographyGuided"
                rrUnClickRadio
              >
              </p-radioButton>
            </div>
            <p-checkbox
              rr-id="nec_m_110308"
              [(ngModel)]="model.isEvaluationInInterdisciplinaryTumorBoard"
              name="isEvaluationInInterdisciplinaryTumorBoard"
              label="{{ 'neckMRT.summary.evaluationInInterdisciplinarytumorBoard.value' | translate }}"
              labelStyleClass="text-break"
              binary="true"
            >
            </p-checkbox>
          </div>
          <div class="f-vertical o-radio-list">
            <h1 rr-id="nec_m_110309">
              {{ 'neckMRT.summary.dynamicsOfFindings.value' | translate }}
            </h1>
            <p-radioButton
              rr-id="nec_m_110310"
              [(ngModel)]="model.dynamicsOfFindingsType"
              name="dynamicsOfFindingsType"
              label="{{ 'neckMRT.summary.deterioration.value' | translate }}"
              [value]="dynamicsOfFindingsType.Deterioration"
              rrUnClickRadio
            >
            </p-radioButton>
            <p-radioButton
              rr-id="nec_m_110311"
              [(ngModel)]="model.dynamicsOfFindingsType"
              name="dynamicsOfFindingsType"
              label="{{ 'neckMRT.summary.noChange.value' | translate }}"
              [value]="dynamicsOfFindingsType.NoChange"
              rrUnClickRadio
            >
            </p-radioButton>
            <p-radioButton
              rr-id="nec_m_110312"
              [(ngModel)]="model.dynamicsOfFindingsType"
              name="dynamicsOfFindingsType"
              label="{{ 'neckMRT.summary.improvement.value' | translate }}"
              [value]="dynamicsOfFindingsType.Improvement"
              rrUnClickRadio
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-2 c-pad-l f-vertical">
      <h1 rr-id="nec_m_110401" class="m-b-10">
        {{ 'neckMRT.summary.tNMClassification.value' | translate }}
      </h1>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 o-list c-pad-r c-sep f-vertical">
          <rr-finding-column
            [handler]="findingHandler"
            [disabled]="false"
            [setConfig]="findingDropdownConfig"
            (findingTypeChange)="onFindingChange()"
            (findingChange)="onFindingChange()"
            [showIndexLabel]="false"
          >
          </rr-finding-column>
        </div>
        <div class="c-col-1 c-pad-l o-list">
          <ng-container
            *ngIf="findingHandler.currentItem.classificationType !== findingType.None && findingDropdownConfig.dropdownValues.length > 0"
          >
            <h2
              class="text-break"
              [attr.rr-id]="findingConfig.headerRRID"
              [rrInfoIcon]="findingConfig.infoIconRRID"
            >
              {{ findingConfig.label }}
            </h2>
            <rr-tnm-classification
              [model]="findingHandler.currentItem"
              [config]="findingConfig"
            >
            </rr-tnm-classification>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</form>
