<div class="f-horizontal h-100 c-sep-l">
  <div class="c-col-1 c-pad f-start f-vertical o-radio-list">
    <h2 rr-id="han_m_0403207">
      {{ 'handMRT.bones.distalUlna.value' | translate }}
    </h2>
    <h2 rr-id="han_m_040339">
      {{ 'handMRT.bones.aOClassification(AO2U3.value' | translate }}
    </h2>
    <p rr-id="han_m_0403206">
      {{ 'handMRT.bones.fractureClassification.value' | translate }}
    </p>
    <div class="o-radio-list">
      <p-radioButton
        rr-id="han_m_040340"
        label="{{ 'handMRT.bones.2U3AExtraarticularFracture.value' | translate }}"
        [(ngModel)]="model.fractureClassificationType"
        [value]="fractureClassificationTypeEnum.Extraarticular2U3A"
        name="fractureClassificationType"
        [rrContentReset]="clearDetails(fractureClassificationTypeEnum.Extraarticular2U3A)"
        rrValidation="fractureClassificationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_040341"
        label="{{ 'handMRT.bones.2U3BPartialArticularFracture.value' | translate }}"
        [(ngModel)]="model.fractureClassificationType"
        [value]="fractureClassificationTypeEnum.PartialArticula2U3B"
        name="fractureClassificationType"
        [rrContentReset]="clearDetails(fractureClassificationTypeEnum.PartialArticula2U3B)"
        rrValidation="fractureClassificationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_040342"
        label="{{ 'handMRT.bones.2U3CArticularFracture.value' | translate }}"
        [(ngModel)]="model.fractureClassificationType"
        [value]="fractureClassificationTypeEnum.Articular2U3C"
        name="fractureClassificationType"
        [rrContentReset]="clearDetails(fractureClassificationTypeEnum.Articular2U3C)"
        rrValidation="fractureClassificationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_040343"
        label="{{ 'handMRT.bones.2U3NotFurtherSpecified.value' | translate }}"
        [(ngModel)]="model.fractureClassificationType"
        [value]="fractureClassificationTypeEnum.NotFurtherSpecified2U3"
        name="fractureClassificationType"
        [rrContentReset]="clearDetails(fractureClassificationTypeEnum.NotFurtherSpecified2U3)"
        class="text-break"
        rrValidation="fractureClassificationType"
      >
      </p-radioButton>
    </div>
  </div>
  <div
    class="c-col-1 c-pad c-sep-l f-start f-vertical m-t-99"
    id="fractureForm-block"
  >
    <div
      class="o-radio-list text-break"
      *ngIf="model.fractureClassificationType === fractureClassificationTypeEnum.Extraarticular2U3A"
    >
      <h2 rr-id="han_m_040422" class="m-b-10">
        {{ 'handMRT.bones.fractureType.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="han_m_040432"
        label="{{ 'handMRT.bones.2U3A1FractureOfUlnar.value' | translate }}"
        [(ngModel)]="model.fractureFormType"
        [value]="fractureFormTypeEnum.UlnarStyloidProcess2U3A1"
        name="fractureFormType"
        rrContentReset="fractureFormDetails-block"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_040433"
        label="{{ 'handMRT.bones.2U3A2Simple.value' | translate }}"
        [(ngModel)]="model.fractureFormType"
        [value]="fractureFormTypeEnum.Simple2U3A2"
        name="fractureFormType"
        rrContentReset="fractureFormDetails-block"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_040434"
        label="{{ 'handMRT.bones.2U3A3Multifragmentary.value' | translate }}"
        [(ngModel)]="model.fractureFormType"
        [value]="fractureFormTypeEnum.Multifragmentary2U3A3"
        name="fractureFormType"
        rrContentReset="fractureFormDetails-block"
        rrUnClickRadio
      >
      </p-radioButton>
    </div>
    <div
      class="o-radio-list"
      *ngIf="model.fractureClassificationType === fractureClassificationTypeEnum.NotFurtherSpecified2U3"
    >
      <p-radioButton
        rr-id="han_m_0404100"
        label="{{ 'handMRT.bones.fractureConsolidation.value' | translate }}"
        [(ngModel)]="model.fractureFormNotSpecifiedType"
        [value]="fractureNotSpecifiedTypeEnum.FractureConsolidation"
        name="fractureFormNotSpecifiedType"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_0404101"
        label="{{ 'handMRT.bones.suspected.value' | translate }}"
        [(ngModel)]="model.fractureFormNotSpecifiedType"
        [value]="fractureNotSpecifiedTypeEnum.Suspected"
        name="fractureFormNotSpecifiedType"
        rrUnClickRadio
      >
      </p-radioButton>
    </div>
  </div>
  <div
    class="c-col-1 c-pad-l c-sep-l f-start f-vertical m-t-129"
    id="fractureFormDetails-block"
  >
    <div
      *ngIf="model.fractureClassificationType === fractureClassificationTypeEnum.Extraarticular2U3A"
    >
      <div
        class="o-radio-list m-b-76"
        *ngIf="model.fractureFormType === fractureFormTypeEnum.UlnarStyloidProcess2U3A1"
      >
        <p-radioButton
          class="m-b-4"
          rr-id="han_m_040523"
          label="{{ 'handMRT.bones.2U3A11TipOfStyloid.value' | translate }}"
          [(ngModel)]="model.fractureFormSubType"
          [value]="fractureFormSubTypeEnum.TipOfStyloid2U3A11"
          name="fractureFormSubType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="han_m_040524"
          label="{{ 'handMRT.bones.2U3A12BaseOfStyloid.value' | translate }}"
          [(ngModel)]="model.fractureFormSubType"
          [value]="fractureFormSubTypeEnum.BaseOfStyloid2U3A12"
          name="fractureFormSubType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <div
        class="o-radio-list"
        *ngIf="model.fractureFormType === fractureFormTypeEnum.Simple2U3A2"
      >
        <p-radioButton
          rr-id="han_m_040525"
          label="{{ 'handMRT.bones.2U3A21Spiral.value' | translate }}"
          [(ngModel)]="model.fractureFormSubType"
          [value]="fractureFormSubTypeEnum.Spiral2U3A21"
          name="fractureFormSubType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="han_m_040526"
          label="{{ 'handMRT.bones.2U3A22Oblique.value' | translate }}"
          [(ngModel)]="model.fractureFormSubType"
          [value]="fractureFormSubTypeEnum.Oblique2U3A22"
          name="fractureFormSubType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="han_m_040527"
          label="{{ 'handMRT.bones.2U3A23Transverse.value' | translate }}"
          [(ngModel)]="model.fractureFormSubType"
          [value]="fractureFormSubTypeEnum.Transverse2U3A23"
          name="fractureFormSubType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
  </div>
</div>
