<div class="f-horizontal f-start main o-width-100">
  <div class="f-vertical m-t-10 m-b-10 c-sep">
    <h2 rr-id="hea_c_0402128" class="m-b-10 p-l-25">
      {{ "headCT.vessels.severity.value" | translate }}
    </h2>
    <div class="f-horizontal col-h-100">
      <div class="f-vertical c-sep">
        <p rr-id="hea_c_0402129" class="m-b-10 p-l-25">
          {{ "headCT.vessels.volume.value" | translate }}
        </p>
        <rr-number-input
          class="m-b-10 p-l-25"
          name="gradingVolumeInMm3"
          inputRrId="hea_c_0402130"
          labelRrId="hea_c_0402131"
          [config]="{min: 0.1, max: 300, step: 0.1, placeholder: '---,-'}"
          label="{{ 'headCT.vessels.inMm3.value' | translate }}"
          [(ngModel)]="model.gradingVolumeInMm3"
        >
        </rr-number-input>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad">
            <div class="m-l-10 o-radio-list f-vertical">
              <p rr-id="hea_c_0402132">
                {{ "headCT.vessels.MTT.value" | translate }}
              </p>
              <rr-number-input
                name="mttInSec"
                inputRrId="hea_c_0402133"
                labelRrId="hea_c_0402134"
                [config]="{max: 99}"
                label="{{ 'headCT.vessels.inSec.value' | translate }}"
                [(ngModel)]="model.mttInSec"
              >
              </rr-number-input>
              <p-radioButton
                rr-id="hea_c_0402135"
                label="{{'headCT.vessels.shortened.value' | translate}}"
                name="mttGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Shortened"
                [(ngModel)]="model.mttGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0402136"
                label="{{'headCT.vessels.normal.value' | translate}}"
                name="mttGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Normal"
                [(ngModel)]="model.mttGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0402137"
                label="{{'headCT.vessels.prolonged.value' | translate}}"
                name="mttGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Prolonged"
                [(ngModel)]="model.mttGradingType"
              >
              </p-radioButton>

              <p rr-id="hea_c_0402138">
                {{ "headCT.vessels.MTT.value" | translate }}
              </p>
              <rr-number-input
                name="ttpInSec"
                inputRrId="hea_c_0402139"
                labelRrId="hea_c_0402140"
                [config]="{max: 99}"
                label="{{ 'headCT.vessels.inSec.value' | translate }}"
                [(ngModel)]="model.ttpInSec"
              >
              </rr-number-input>
              <p-radioButton
                rr-id="hea_c_0402141"
                label="{{'headCT.vessels.shortened.value' | translate}}"
                name="ttpGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Shortened"
                [(ngModel)]="model.ttpGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0402142"
                label="{{'headCT.vessels.normal.value' | translate}}"
                name="ttpGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Normal"
                [(ngModel)]="model.ttpGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0402143"
                label="{{'headCT.vessels.prolonged.value' | translate}}"
                name="ttpGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Prolonged"
                [(ngModel)]="model.ttpGradingType"
              >
              </p-radioButton>
            </div>
          </div>
          <div class="c-col-1 c-sep c-pad">
            <div class="m-l-10 o-radio-list f-vertical">
              <p rr-id="hea_c_0403184">
                {{ "headCT.vessels.CBF.value" | translate }}
              </p>
              <rr-number-input
                name="cbfInMl100gMin"
                inputRrId="hea_c_0403185"
                labelRrId="hea_c_0403186"
                [config]="{max: 999, placeholder: '---'}"
                label="{{ 'headCT.vessels.ml100gmin.value' | translate }}"
                [(ngModel)]="model.cbfInMl100gMin"
              >
              </rr-number-input>
              <p-radioButton
                rr-id="hea_c_0403187"
                label="{{'headCT.vessels.decreased.value' | translate}}"
                name="cbfGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Decreased"
                [(ngModel)]="model.cbfGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0403188"
                label="{{'headCT.vessels.normal.value' | translate}}"
                name="cbfGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Normal"
                [(ngModel)]="model.cbfGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0403189"
                label="{{'headCT.vessels.increased.value' | translate}}"
                name="cbfGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Increased"
                [(ngModel)]="model.cbfGradingType"
              >
              </p-radioButton>

              <p rr-id="hea_c_0403190">
                {{ "headCT.vessels.CBV.value" | translate }}
              </p>
              <rr-number-input
                name="cbvInMl100g"
                inputRrId="hea_c_0403191"
                labelRrId="hea_c_0403192"
                [config]="{max: 999, placeholder: '---'}"
                label="{{ 'headCT.vessels.ml100g.value' | translate }}"
                [(ngModel)]="model.cbvInMl100g"
              >
              </rr-number-input>
              <p-radioButton
                rr-id="hea_c_0403193"
                label="{{'headCT.vessels.decreased.value' | translate}}"
                name="cbvGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Decreased"
                [(ngModel)]="model.cbvGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0403194"
                label="{{'headCT.vessels.normal.value' | translate}}"
                name="cbvGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Normal"
                [(ngModel)]="model.cbvGradingType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="hea_c_0403195"
                label="{{'headCT.vessels.increased.value' | translate}}"
                name="cbvGradingType"
                rrUnClickRadio
                [value]="gradingTypeEnum.Increased"
                [(ngModel)]="model.cbvGradingType"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad">
        <div class="m-l-10 p-r-10">
          <rr-reference-picture
            [(ngModel)]="model.perfusion01ReferencePicture"
            [referenceId]="model.id"
            [fileUploadUrl]="fileUploadUrl"
            [elementsRrIds]="referencePicture1ElementsRrIds"
            [pictureFileType]="headCTPicturesTypeEnum.Perfusion01ImageFile"
            name="referencePicture"
          ></rr-reference-picture>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-10">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_c_040566">
        {{ "headCT.vessels.mismatch.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_c_040522"
        label="{{'headCT.vessels.noMismatch.value' | translate}}"
        name="mismatchType"
        rrUnClickRadio
        (onClick)="checkAndClearPicture()"
        rrContentReset="mismatchDetailsContainer"
        [value]="mismatchTypeEnum.NoMismatch"
        [(ngModel)]="model.mismatchType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_c_040523"
        label="{{'headCT.vessels.mismatch.value' | translate}}"
        name="mismatchType"
        rrUnClickRadio
        (onClick)="checkAndClearPicture()"
        rrContentReset="mismatchDetailsContainer"
        [value]="mismatchTypeEnum.Mismatch"
        [(ngModel)]="model.mismatchType"
      >
      </p-radioButton>
      <div
        class="nested-content o-radio-list f-vertical"
        id="mismatchDetailsContainer"
        [rrDisable]="model.mismatchType !== mismatchTypeEnum.Mismatch"
      >
        <p rr-id="hea_c_040524">
          {{ "headCT.vessels.volume.value" | translate }}
        </p>
        <rr-number-input
          name="mismatchVolumeInMm3"
          inputRrId="hea_c_040525"
          labelRrId="hea_c_040526"
          [config]="{min: 0.1, max: 300, step: 0.1, placeholder: '---,-'}"
          label="{{ 'headCT.vessels.inMm3.value' | translate }}"
          [(ngModel)]="model.mismatchVolumeInMm3"
        >
        </rr-number-input>
        <p-checkbox
          rr-id="hea_c_040527"
          name="isRelevantPenumbra"
          label="{{'headCT.vessels.relevantPenumbra.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isRelevantPenumbra"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="hea_c_040565"
          name="isNoRelevantPenumbra"
          label="{{'headCT.vessels.noRelevantPenumbra.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isNoRelevantPenumbra"
        >
        </p-checkbox>
        <rr-number-input
          name="mismatchRatio"
          inputRrId="hea_c_040528"
          labelRrId="hea_c_040529"
          [config]="{min: 1, max: 5, step: 0.1, placeholder: '-,-'}"
          label="{{ 'headCT.vessels.mismatchRatio.value' | translate }}"
          [(ngModel)]="model.mismatchRatio"
        >
        </rr-number-input>
      </div>
      <div
        class="m-t-35 p-r-10"
        [rrDisable]="model.mismatchType !== mismatchTypeEnum.Mismatch"
      >
        <rr-reference-picture
          [(ngModel)]="model.perfusion02ReferencePicture"
          [referenceId]="model.id"
          [fileUploadUrl]="fileUploadUrl"
          [elementsRrIds]="referencePicture2ElementsRrIds"
          [pictureFileType]="headCTPicturesTypeEnum.Perfusion02ImageFile"
          name="additionalReferencePicture"
        ></rr-reference-picture>
      </div>
    </div>
  </div>
</div>
