.date-label {
  margin-bottom: 8px;
  margin-top: 12px;
  font-size: 18px;
  font-family: BentonSansLight;
}

.fat-date-label {
  font-family: BentonSansBold;
}

.date-dropdowns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.date-dropdowns > * {
  flex: 1;
}

.date-dropdowns > :first-child {
  margin-right: 10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.fixed-width {
  max-width: 133px;
}
