<div class="o-list">
  <div class="f-vertical o-radio-list m-b-22">
    <h2 rr-id="uni_xc_030402">
      {{ 'shared-templates.technology.phase.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="uni_xc_030403"
      name="isNative"
      [(ngModel)]="model.isNative"
      label="{{ 'shared-templates.technology.native.value' | translate }}"
      binary="true"
      (onChange)="emitModelChangeInSubcomponent()"
    ></p-checkbox>
    <p-checkbox
      rr-id="uni_xc_030404"
      name="isPulmonaryArterialPhase"
      [(ngModel)]="model.isPulmonaryArterialPhase"
      label="{{ 'shared-templates.technology.pulmonaryArterial.value' | translate }}"
      binary="true"
      (onChange)="emitModelChangeInSubcomponent()"
    ></p-checkbox>
    <p-checkbox
      rr-id="uni_xc_030405"
      name="isArterial"
      [(ngModel)]="model.isArterial"
      label="{{ 'shared-templates.technology.arterial.value' | translate }}"
      binary="true"
      (onChange)="emitModelChangeInSubcomponent()"
      rrContentReset="isArterial-block"
      [explicitFormToReset]="formRef"
    ></p-checkbox>
    <div
      id="isArterial-block"
      class="f-horizontal nested-content"
      [rrDisable]="!model.isArterial"
      [customMaxTraversesNumber]="11"
    >
      <p-checkbox
        rr-id="uni_xc_030406"
        name="isArterialEarly"
        class="m-r-42"
        [(ngModel)]="model.isArterialEarly"
        label="{{ 'shared-templates.technology.early.value' | translate }}"
        binary="true"
        (onChange)="emitModelChangeInSubcomponent()"
      ></p-checkbox>
      <p-checkbox
        rr-id="uni_xc_030407"
        name="isArterialLate"
        [(ngModel)]="model.isArterialLate"
        label="{{ 'shared-templates.technology.late2.value' | translate }}"
        binary="true"
        (onChange)="emitModelChangeInSubcomponent()"
      ></p-checkbox>
    </div>
    <p-checkbox
      rr-id="uni_xc_030408"
      name="isVenous"
      [(ngModel)]="model.isVenous"
      label="{{ 'shared-templates.technology.venous.value' | translate }}"
      binary="true"
      (onChange)="emitModelChangeInSubcomponent()"
    ></p-checkbox>
    <p-checkbox
      rr-id="uni_xc_030409"
      name="isLate"
      [(ngModel)]="model.isLate"
      label="{{ 'shared-templates.technology.late.value' | translate }}"
      binary="true"
      rrContentReset="isLate-group"
      [explicitFormToReset]="formRef"
      (onChange)="emitModelChangeInSubcomponent()"
    ></p-checkbox>
    <div
      id="isLate-group"
      [rrDisable]="!model.isLate"
      [customMaxTraversesNumber]="11"
      class="o-radio-list nested-content"
    >
      <rr-number-input
        inputRrId="uni_xc_030410"
        labelRrId="uni_xc_030411"
        name="lateDelayInMin"
        labelStyleClass="text-break"
        [(ngModel)]="model.lateDelayInMin"
        [label]="'shared-templates.technology.delayInMin.value' | translate"
        [config]="{ placeholder: '--,-', min: 1, max: 99, step: 0.1, labelWidth: 140 }"
        (announceModelChange)="emitModelChangeInSubcomponent()"
      ></rr-number-input>
    </div>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="uni_xc_030412" class="m-b-6">
      {{ 'shared-templates.technology.patientPositioning.value' | translate }}
    </h2>
    <p-dropdown
      rr-id="uni_xc_030413"
      styleClass="o-width-100 ui-brown-box"
      name="patientPositioningType"
      placeholder="{{ 'shared.pleaseSelect' | translate }}"
      [options]="positionTypeOptions"
      [(ngModel)]="model.patientPositioningType"
      (onChange)="emitModelChangeInSubcomponent()"
      rrDropdownClear
    >
    </p-dropdown>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="uni_xc_030414" class="m-b-6">
      {{ 'shared-templates.technology.breathingProtocol.value' | translate }}
    </h2>
    <p-dropdown
      rr-id="uni_xc_030415"
      styleClass="o-width-100 ui-brown-box"
      name="breathingProtocolType"
      placeholder="{{ 'shared.pleaseSelect' | translate }}"
      [options]="breathingProtocolTypeOptions"
      [(ngModel)]="model.breathingProtocolType"
      (onChange)="emitModelChangeInSubcomponent()"
      rrDropdownClear
    >
    </p-dropdown>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="uni_xc_030416">
      {{ 'shared-templates.technology.additionalFeatures2.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="uni_xc_030417"
      name="isECGGating"
      [(ngModel)]="model.isECGGating"
      label="{{ 'shared-templates.technology.eCGGating.value' | translate }}"
      binary="true"
      (onChange)="emitModelChangeInSubcomponent()"
    ></p-checkbox>
  </div>
</div>
