<div class="f-horizontal c-col-3 h-100" id="mainBlock3">
  <div class="c-col-1 c-pad c-sep f-vertical">
    <h2 rr-id="han_m_040312" class="m-b-10">
      {{ 'handMRT.bones.involvedBones.value' | translate }}
    </h2>
    <rr-wrist-small
      rr-id="han_m_040314"
      name="involvedBonesType"
      [side]="side"
      (click)="openLargeLocalizer()"
      [(ngModel)]="model.involvedBonesType"
      rrValidation="involvedBonesType"
      isLocalizer="true"
    >
    </rr-wrist-small>
  </div>
  <div class="c-col-1 c-pad c-sep f-vertical">
    <h2 rr-id="han_m_040419" class="m-b-10">
      {{ 'handMRT.bones.type.value' | translate }}
    </h2>
    <div class="o-radio-list">
      <p-radioButton
        rr-id="han_m_040420"
        label="{{ 'handMRT.bones.bipartitum.value' | translate }}"
        [(ngModel)]="model.partitumType"
        [value]="partitumType.Bipartitum"
        name="partitumType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_040421"
        label="{{ 'handMRT.bones.tripartitum.value' | translate }}"
        [(ngModel)]="model.partitumType"
        [value]="partitumType.Tripartitum"
        name="partitumType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad-l c-sep"></div>
</div>
