.density-box {
  background-color: #b2e7ed;
  border-radius: 2.5px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.list-spacing-large > :not(:last-child) {
  margin-bottom: 30px;
}

:host ::ng-deep .multiple-line-header {
  .ui-radiobutton-label {
    line-height: 22px;
  }
}
