<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_050272"
        class="custom-tab-header"
        [rrValidation]="['isRight isLeft isMedian', 'isFrontal isTemporal isParietal isOccipital isInfratentorial']"
        ifAny="true"
      >
        {{ "headCT.meninges.characterizationITabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-subdural-hematoma-characterization-one
      [model]="model"
    ></rr-subdural-hematoma-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_050344"
        class="custom-tab-header"
        [rrValidation]="['midlineShiftSideType', 'regionType']"
        ifAny="true"
      >
        {{ "headCT.meninges.characterizationIITabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-subdural-hematoma-characterization-two
      [model]="model"
    ></rr-subdural-hematoma-characterization-two>
  </p-tabPanel>
</p-tabView>
