<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-28 m-b-12">
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <h2 rr-id="sho_m_0402209" class="m-b-17">
        {{ 'shoulderMRT.bones.differentialDiagnosis.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="sho_m_0402210"
        [(ngModel)]="model.differentialDiagnosisType"
        label="{{ 'shoulderMRT.bones.stressRelatedFracture.value' | translate }}"
        name="differentialDiagnosisType"
        [value]="differentialDiagnosisType.StressFracture"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="sho_m_0402211"
        [(ngModel)]="model.differentialDiagnosisType"
        label="{{ 'shoulderMRT.bones.disuseOsteopenia.value' | translate }}"
        name="differentialDiagnosisType"
        [value]="differentialDiagnosisType.DisuseOsteopenia"
        class="m-b-15"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-checkbox
        rr-id="sho_m_0402212"
        [(ngModel)]="model.isSubordinated"
        label="{{ 'shoulderMRT.bones.subordinated.value' | translate }}"
        name="isSubordinated"
        binary="true"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <rr-reference-picture
        [(ngModel)]="model.referencePicture"
        [referenceId]="model.id"
        [fileUploadUrl]="fileUploadUrl"
        name="referencePicture"
      ></rr-reference-picture>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list"></div>
    <div class="c-col-1 c-pad-l c-sep f-start f-vertical o-radio-list"></div>
  </div>
</div>
