$BentonSansBold: BentonSansBold, sans-serif;
$BentonSansLight: BentonSansLight, sans-serif;

* {
  user-select: none;
}

.top {
  margin-top: -94px;
}

.background {
  fill: #fff;
}

.element-number {
  font-family: $BentonSansBold;
  font-size: 18px;
  font-weight: 700;
}

.element-caption {
  font-family: $BentonSansLight;
  font-size: 18px;
  font-weight: 300;
}

.selected-text {
  fill: #f80202 !important;

  .element-caption {
    font-family: $BentonSansBold;
    font-weight: 700;
  }
}

.selected {
  fill: #f80202 !important;
}

.selected-outside-text {
  fill: #f80202 !important;
}

.hovered-outside-text {
  fill: #00aec2 !important;
}

.selected-element-text {
  fill: #fff;
}

.header-text {
  font-size: 60px;
  font-weight: 300;
  font-family: $BentonSansLight;
}

.text-description {
  font-family: $BentonSansLight;
  font-weight: 300;
  font-size: 15px;
}

.x-lines {
  stroke: #fff;
  stroke-width: 6px;
}

.text-separator-line {
  stroke: #707070;
}

.description-text {
  font-size: 15px;
}

.transparency {
  opacity: 0.6;
  pointer-events: none;
}

.light-grey {
  fill: #bdbdbd;
}

.grey {
  fill: #a1a19f;
}

.white {
  fill: #dfdfdf;
}

.dark-grey {
  fill: #8b8888;
}

.dark-pink {
  fill: #f0a0c7;
}

.light-pink {
  fill: #f5ccdf;
}

.pink {
  fill: #c19eb1;
}

.cls-24 {
  fill: #f1f1f1;
}

.hovered,
.circle {
  fill: #00aec2;

  .element-caption {
    font-family: $BentonSansBold;
    font-weight: 700;
  }
}

.click-through {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.bolded {
  font-family: $BentonSansBold;
}
