@import "../vulva-mass.component";

.triple-slider ::ng-deep {
  input[type="range"].thumb {
    width: 288px;
  }

  input[type="range"].left-fill {
    width: 281px;
  }

  .slim-line {
    width: 277px;
  }

  .labels {
    margin-right: 11px;

    :nth-child(1) {
      position: relative;

      div:nth-child(2) {
        left: 2px;
      }
    }

    :nth-child(2) {
      position: relative;
      right: 2px;

      div:nth-child(2) {
        right: 0;
      }
    }

    :nth-child(3) {
      position: relative;
      right: 3px;

      div:nth-child(2) {
        right: 0;
      }
    }
  }

  .container {
    z-index: 1;
  }
}
