@import "../bones.component";

.m-t-129 {
  margin-top: 129px;
}

.m-t-108 {
  margin-top: 108px;
}

.fracture {
  margin-top: 93px;
  height: 555px;
}

.left-indent {
  margin-left: 35px;
}

.c-sep-l {
  border-left: 1px solid black;
}
