<div class="f-horizontal main-container o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1102148">
        {{ "headMRT.facialSkull.extension.value" | translate }}
      </h2>

      <div>
        <p rr-id="hea_m_1102149">
          {{ "headMRT.facialSkull.maxDiameter.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.maxDiameter"
          (announceModelChange)="onMaxDiameterChange()"
          name="maxDiameter"
          labelRrId="hea_m_1102151"
          inputRrId="hea_m_1102150"
          [config]="{ min: 1, max: 200, placeholder: '---' }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>

      <div [rrDisable]="!model.maxDiameter">
        <p rr-id="hea_m_1102152">
          {{ "headMRT.facialSkull.2ndPlane.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.size2ndPlane"
          (announceModelChange)="onSize2ndPlaneChange()"
          name="size2ndPlane"
          labelRrId="hea_m_1102154"
          inputRrId="hea_m_1102153"
          [config]="{ min: 1, max: 200, placeholder: '---' }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>
      <div [rrDisable]="!model.size2ndPlane">
        <p rr-id="hea_m_1102155">
          {{ "headMRT.facialSkull.3rdPlane.value" | translate }}
        </p>
        <rr-number-input
          [(ngModel)]="model.size3rdPlane"
          name="size3rdPlane"
          labelRrId="hea_m_1102157"
          inputRrId="hea_m_1102156"
          [config]="{ min: 1, max: 200, placeholder: '---' }"
          label="{{ 'headMRT.facialSkull.inMm.value' | translate }}"
        >
        </rr-number-input>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1103139">
        {{ "headMRT.facialSkull.margin.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103140"
        label="{{ 'headMRT.facialSkull.circumscribed.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Circumscribed"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103141"
        label="{{ 'headMRT.facialSkull.nonCircumscribed.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.NonCircumscribed"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103142"
        label="{{ 'headMRT.facialSkull.nodular.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Nodular"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103143"
        label="{{ 'headMRT.facialSkull.multinodular.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Multinodular"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <h2 rr-id="hea_m_1103144" class="m-t-30">
        {{ "headMRT.facialSkull.homogeneity.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103145"
        label="{{ 'headMRT.facialSkull.homogeneous.value' | translate }}"
        name="homogeneityType"
        [value]="homogeneityTypeEnum.Homogeneous"
        [(ngModel)]="model.homogeneityType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103146"
        label="{{ 'headMRT.facialSkull.heterogeneous.value' | translate }}"
        name="homogeneityType"
        [value]="homogeneityTypeEnum.Heterogeneous"
        [(ngModel)]="model.homogeneityType"
        rrUnClickRadio
      ></p-radioButton>
      <h2 rr-id="hea_m_1103298" class="m-t-30">
        {{ "headMRT.facialSkull.shape.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103147"
        label="{{ 'headMRT.facialSkull.round.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Round"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103148"
        label="{{ 'headMRT.facialSkull.oval.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Oval"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103149"
        label="{{ 'headMRT.facialSkull.patchy.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Patchy"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103150"
        label="{{ 'headMRT.facialSkull.areal.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Areal"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103151"
        label="{{ 'headMRT.facialSkull.lobulated.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Lobulated"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13" style="z-index: 0">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1104109">
        {{ "headMRT.facialSkull.t1wSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="t1wSignalType"
        rr-id="hea_m_1104110"
        [(ngModel)]="model.t1wSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="hea_m_1104111" class="m-t-35">
        {{ "headMRT.facialSkull.t2wSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="t2wSignalType"
        rr-id="hea_m_1104112"
        [(ngModel)]="model.t2wSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="hea_m_1104113" class="m-t-35">
        {{ "headMRT.facialSkull.fLAIRSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="flairSignalType"
        rr-id="hea_m_1104114"
        [(ngModel)]="model.flairSignalType"
      >
      </rr-signal-slider>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1105114">
        {{ "headMRT.facialSkull.T2SWISignal.value" | translate }}
      </h2>

      <p-checkbox
        rr-id="hea_m_1105115"
        name="isSignalVoid"
        label="{{ 'headMRT.facialSkull.signalVoid.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isSignalVoid"
        rrContentReset="signalVoidTypeContainer"
      ></p-checkbox>
      <div
        class="o-radio-list nested-content"
        id="signalVoidTypeContainer"
        [rrDisable]="!model.isSignalVoid"
      >
        <p-radioButton
          rr-id="hea_m_1105116"
          label="{{ 'headMRT.facialSkull.calcification.value' | translate }}"
          name="signalVoidType"
          [value]="signalVoidTypeEnum.Calcification"
          [(ngModel)]="model.signalVoidType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1105117"
          label="{{ 'headMRT.facialSkull.blood.value' | translate }}"
          name="signalVoidType"
          [value]="signalVoidTypeEnum.Blood"
          [(ngModel)]="model.signalVoidType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
      <div class="o-radio-list" [rrDisable]="!isDWI">
        <h2 rr-id="hea_m_1105118" rrInfoIcon="hea_m_11_02" class="m-t-30">
          {{ "headMRT.facialSkull.diffusionImaging.value" | translate }}
        </h2>
        <p-checkbox
          rr-id="hea_m_1105119"
          name="isDiffusionRestriction"
          label="{{ 'headMRT.facialSkull.diffusionRestriction.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isDiffusionRestriction"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
