.h-550 {
  height: 550px;
}

.h-556 {
  height: 556px;
}

.rr-text-input {
  display: flex;
  align-items: center;

  &__input {
    height: 40px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: BentonSansLight, sans-serif;
    box-sizing: content-box;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #b2e7ed;
    pointer-events: none;
    -webkit-appearance: none;
  }
}
