.main {
  fill: none;
  stroke-width: 3px;
  stroke: #00aec2;
}

.background {
  fill: #fff;
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.transparent {
  opacity: 0.6;
}

.gray {
  fill: #bdbdbd;
}

.dark-gray {
  fill: #a1a19f;
}

.light-gray {
  fill: #dfdfdf;
}

.pink {
  fill: #f5ccdf;
}

.selected {
  fill: #f80202 !important;
}

.dark-pink {
  fill: #f0a0c7;
}

.pinkish {
  fill: #c19eb1;
}

.dark-white {
  fill: #e2e2e2;
}

.grayish {
  fill: #8b8888;
}

.white {
  fill: #f1f1f1;
}
