.lung-clickable {
  cursor: pointer;
}

.lung {
  stroke: #d1cfd1;
  stroke-miterlimit: 10;
  fill: #f4f4f4;
  stroke-width: 3px;
}

.lung-caption {
  font-size: 15px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.lung-rectangle {
  stroke-width: 3px;
  fill: #fff;
  stroke: #dfdfdf;
}

:host-context(.invalid-localizer) {
  .lung-rectangle {
    stroke: red !important;
  }
}

.magnifying-glass {
  fill: none;
  stroke-width: 3px;
  stroke: #00aec2;
}

.color-one {
  fill: #e2e2e2;
}

.color-two {
  fill: #d1cfd1;
}

.color-three {
  fill: #91d1dd;
}

.color-four {
  fill: #b5dfe7;
}

.color-five {
  fill: #64c3d3;
}

.color-six {
  fill: #caeef2;
}

.color-seven {
  fill: #f4f4f4;
}

.lung-part-checked {
  fill: #f80202;
}
