$primaryBtnColor: #aee2e8;
$secondaryBtnColor: #00acc2;

.o-radio-list {
  margin-top: 15px;

  .btn-wrapper {
    border-radius: 4px;
    border: 3px solid $primaryBtnColor;
    background-color: $primaryBtnColor;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
    width: 294px;
    height: 42px;
    display: flex;
    align-items: center;
    overflow: visible;
    margin-left: 10px;

    button {
      border-radius: 4px;
      border-left: none;
      border-top: 3px solid;
      border-bottom: 3px solid;
      border-right: 7px solid;
      border-color: $primaryBtnColor;
      background-color: white;
      transition: border-color 0.5s ease;
      width: 269px;
      height: 42px;
      display: flex;
      font-family: BentonSansLight;
      font-size: 18px;
    }

    &.selectedSector {
      transition: background-color 0.5s ease;
      transition: border-color 0.5s ease;
      background-color: $secondaryBtnColor;
      border-color: $secondaryBtnColor;

      button {
        border-color: $secondaryBtnColor;
        transition: border-color 0.5s ease;
      }
    }
  }
}
