<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-8 m-b-12">
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <h2 rr-id="sho_m_0402213" class="m-b-12">
        {{ 'shoulderMRT.bones.localization.value' | translate }}*
      </h2>
      <p-radioButton
        rr-id="sho_m_0402214"
        [(ngModel)]="model.firstLocalizationType"
        label="{{ 'shoulderMRT.bones.proximalHumerus.value' | translate }}"
        name="firstLocalizationType"
        [value]="firstLocalizationType.ProcimalHumerus"
        rrValidation="firstLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="sho_m_0402215"
        [(ngModel)]="model.firstLocalizationType"
        label="{{ 'shoulderMRT.bones.clavicle.value' | translate }}"
        name="firstLocalizationType"
        [value]="firstLocalizationType.Clavicle"
        rrValidation="firstLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="sho_m_0402216"
        [(ngModel)]="model.firstLocalizationType"
        label="{{ 'shoulderMRT.bones.scapula.value' | translate }}"
        name="firstLocalizationType"
        [value]="firstLocalizationType.Scapula"
        rrValidation="firstLocalizationType"
      >
      </p-radioButton>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <h2 rr-id="sho_m_0403213" class="m-b-15">
        {{ 'shoulderMRT.bones.extension.value' | translate }}
      </h2>
      <rr-number-input
        inputRrId="sho_m_0403214"
        [(ngModel)]="model.axialMaxInMm"
        label="{{ 'shoulderMRT.bones.largestDiameterInMm.value' | translate }}*"
        labelRrId="sho_m_0403215"
        labelStyleClass="text-break"
        name="axialMaxInMm"
        [config]="{ borderColor: 'blue' }"
        rrValidation="axialMaxInMm"
      >
      </rr-number-input>
      <rr-number-input
        inputRrId="sho_m_0403216"
        [(ngModel)]="model.planeAxialInMm"
        label="{{ 'shoulderMRT.bones.planeAxialInMm2.value' | translate }}"
        labelRrId="sho_m_0403217"
        labelStyleClass="text-break"
        name="planeAxialInMm"
        [config]="{ borderColor: 'blue' }"
      >
      </rr-number-input>
      <rr-number-input
        inputRrId="sho_m_0403218"
        [(ngModel)]="model.craniocaudalInMm"
        label="{{ 'shoulderMRT.bones.planeInMm3.value' | translate }}"
        labelRrId="sho_m_0403219"
        labelStyleClass="text-break"
        name="craniocaudalInMm"
        [config]="{ borderColor: 'blue' }"
      >
      </rr-number-input>
    </div>
    <div class="c-col-1 c-pad c-sep">
      <rr-reference-picture
        [(ngModel)]="model.referencePicture"
        [referenceId]="model.id"
        [fileUploadUrl]="fileUploadUrl"
        name="referencePicture"
        class="m-t-7"
      ></rr-reference-picture>
    </div>
    <div class="c-col-1 c-pad-l c-sep f-start f-vertical o-radio-list"></div>
  </div>
</div>
