.reset-button {
  background-color: black;
  width: 55px;
  height: 21px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  float: right;
  letter-spacing: 1px;
}
