.localizer {
  cursor: pointer;
}

.background {
  fill: #fff;
}

.background-picture {
  opacity: 0.995;
  fill: url(#picture);
}

.border {
  fill: #dfdfdf;
}

.element {
  opacity: 0;
}

.selected {
  opacity: 0.6 !important;
  fill: #f80202 !important;
}

:host-context(.invalid-localizer) {
  .border {
    fill: red !important;
  }
}
