p-radioButton {
  position: absolute;
  left: 10px;
  top: 10px;
}

.description-img {
  width: auto;
  height: 150px;
  border: 2px solid #ebebeb;
}

.relative-container {
  position: relative;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
