.main-header {
  height: 35px;
  margin-bottom: 15px;
}

.main-container {
  height: 512px;
}

.main-container-ligamenta-type-none {
  height: 562px;
}

.triple-col {
  &-header {
    height: 54px;
  }
  &-content {
    height: calc(100% - 54px);
  }
}
