<div class="f-vertical o-radio-list c-pad-l col-h-100">
  <h2 rr-id="car_m_040352">
    {{ "cardioMRT.flaps.ebsteinsAnomaly.value" | translate }}
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="c-col-1 c-pad-r c-sep f-vertical f-start o-radio-list">
      <p rr-id="car_m_040353" class="m-b-6">
        {{ "cardioMRT.flaps.associatedFindings.value" | translate }}
      </p>
      <p-checkbox
        rr-id="car_m_040354"
        name="isTricuspidInsufficiency"
        label="{{ 'cardioMRT.flaps.tricuspidinsufficiency.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isTricuspidInsufficiency"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="car_m_040355"
        name="isAtrialSeptalDefect"
        label="{{ 'cardioMRT.flaps.atrialSeptaldefectASD.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isAtrialSeptalDefect"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="car_m_040356"
        name="isPersistentForamenOvale"
        label="{{ 'cardioMRT.flaps.persistentForamenovale.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isPersistentForamenOvale"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start"></div>
  </div>
</div>
