<div class="h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-pad c-sep m-t-26 m-b-13">
      <div class="p-l-10">
        <div class="o-radio-list">
          <h2 rr-id="pel_m_0902142" class="m-b-25">
            {{'pelvisMRT.bladder.localization.value' | translate}}*
          </h2>
          <p-radioButton
            rr-id="pel_m_0902143"
            label="{{'pelvisMRT.bladder.diffuse.value' | translate}}"
            name="thickeningLocalizationType"
            [value]="thickeningLocalizationTypeEnum.Diffuse"
            [(ngModel)]="model.thickeningLocalizationType"
            rrContentReset="localizationGroup"
            rrValidation="thickeningLocalizationType"
          ></p-radioButton>
          <p-radioButton
            rr-id="pel_m_0902144"
            label="{{'pelvisMRT.bladder.focal.value' | translate}}"
            name="thickeningLocalizationType"
            [value]="thickeningLocalizationTypeEnum.Focal"
            [(ngModel)]="model.thickeningLocalizationType"
            rrValidation="thickeningLocalizationType"
          ></p-radioButton>
        </div>
        <div
          id="localizationGroup"
          class="o-radio-list m-b-29 m-t-10 p-l-35"
          [rrDisable]="model.thickeningLocalizationType != thickeningLocalizationTypeEnum.Focal"
        >
          <p rr-id="pel_m_0902145" class="m-b-10">
            {{'pelvisMRT.bladder.localization.value' | translate}}
          </p>
          <p-checkbox
            label="{{'pelvisMRT.bladder.baseOfTheBladder.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902146"
            name="isBaseOfTheBladder"
            [(ngModel)]="model.isBaseOfTheBladder"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.rightLateralWall.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902147"
            name="isRightLateralWall"
            [(ngModel)]="model.isRightLateralWall"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.leftLateralWall.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902148"
            name="isLeftLateralWall"
            [(ngModel)]="model.isLeftLateralWall"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.bladderNeck.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902149"
            name="isBladderNeck"
            [(ngModel)]="model.isBladderNeck"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.trigonum.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902150"
            name="isTrigonum"
            [(ngModel)]="model.isTrigonum"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.roofOfBladder.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902151"
            name="isRoofOfBladder"
            [(ngModel)]="model.isRoofOfBladder"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.anteriorWall.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902152"
            name="isAnteriorWall"
            [(ngModel)]="model.isAnteriorWall"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.bladder.posteriorWall.value' | translate}}"
            binary="true"
            rr-id="pel_m_0902153"
            name="isPosteriorWall"
            [(ngModel)]="model.isPosteriorWall"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep m-t-26 m-b-13">
      <div class="o-list p-l-10">
        <h2 rr-id="pel_m_090399">
          {{'pelvisMRT.bladder.wallThickeningQuantitative.value' | translate}}
        </h2>
        <div class="o-radio-list">
          <div>
            <rr-number-input
              inputRrId="pel_m_0903100"
              labelRrId="pel_m_0903101"
              labelStyleClass="text-break2"
              name="maxExpansionInMm"
              [label]="'pelvisMRT.bladder.maxExpansionInMm.value' | translate"
              [(ngModel)]="model.maxExpansionInMm"
              rrValidation="maxExpansionInMm"
            ></rr-number-input>
          </div>
          <div>
            <rr-number-input
              inputRrId="pel_m_0903102"
              labelRrId="pel_m_0903103"
              labelStyleClass="text-break2"
              name="secondPlaneInMm"
              [label]="'pelvisMRT.bladder.2ndPlaneInMm.value' | translate"
              [(ngModel)]="model.secondPlaneInMm"
            ></rr-number-input>
          </div>
          <div>
            <rr-number-input
              inputRrId="pel_m_0903104"
              labelRrId="pel_m_0903105"
              labelStyleClass="text-break2"
              name="thirdPlaneInMm"
              [label]="'pelvisMRT.bladder.3rdPlaneInMm.value' | translate"
              [(ngModel)]="model.thirdPlaneInMm"
            ></rr-number-input>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep m-t-26 m-b-13" [rrDisable]="!isCM">
      <h2 rr-id="pel_m_0904106">
        {{'pelvisMRT.bladder.contrastEnhancement.value' | translate}}
      </h2>
      <div class="o-radio-list m-t-25 m-b-10">
        <p-radioButton
          rr-id="pel_m_0904107"
          label="{{'pelvisMRT.bladder.strong.value' | translate}}"
          name="contrastEnhancementType"
          [value]="contrastEnhancementTypeEnum.Strong"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastEnhancementHomogeneityTypeGroup"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="pel_m_0904108"
          label="{{'pelvisMRT.bladder.low.value' | translate}}"
          name="contrastEnhancementType"
          [value]="contrastEnhancementTypeEnum.Low"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastEnhancementHomogeneityTypeGroup"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="pel_m_0904109"
          label="{{'pelvisMRT.bladder.no.value' | translate}}"
          name="contrastEnhancementType"
          [value]="contrastEnhancementTypeEnum.No"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastEnhancementHomogeneityTypeGroup"
          rrUnClickRadio
        ></p-radioButton>
      </div>
      <div
        id="contrastEnhancementHomogeneityTypeGroup"
        [rrDisable]="[contrastEnhancementTypeEnum.None, contrastEnhancementTypeEnum.No].includes(model.contrastEnhancementType)"
        class="o-radio-list p-l-35"
      >
        <p-radioButton
          rr-id="pel_m_0904110"
          label="{{'pelvisMRT.bladder.homogeneous.value' | translate}}"
          name="contrastEnhancementHomogeneityType"
          [value]="homogeneityTypeEnum.Homogeneous"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrContentReset="heterogeneousTypeGroup"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="pel_m_0904111"
          label="{{'pelvisMRT.bladder.heterogeneous.value' | translate}}"
          name="contrastEnhancementHomogeneityType"
          [value]="homogeneityTypeEnum.Heterogeneous"
          [(ngModel)]="model.contrastEnhancementHomogeneityType"
          rrContentReset="heterogeneousTypeGroup"
          rrUnClickRadio
        ></p-radioButton>
        <div
          class="o-radio-list p-l-35"
          id="heterogeneousTypeGroup"
          [rrDisable]="model.contrastEnhancementHomogeneityType !== homogeneityTypeEnum.Heterogeneous"
        >
          <p-radioButton
            rr-id="pel_m_0904112"
            label="{{'pelvisMRT.bladder.central.value' | translate}}"
            name="heterogeneousType"
            [value]="heterogeneousTypeEnum.Central"
            [(ngModel)]="model.heterogeneousType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="pel_m_0904113"
            label="{{'pelvisMRT.bladder.peripheral.value' | translate}}"
            name="heterogeneousType"
            [value]="heterogeneousTypeEnum.Peripheral"
            [(ngModel)]="model.heterogeneousType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="pel_m_0904114"
            label="{{'pelvisMRT.bladder.marginal.value' | translate}}"
            name="heterogeneousType"
            [value]="heterogeneousTypeEnum.Marginal"
            [(ngModel)]="model.heterogeneousType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
</div>
