<div class="f-horizontal h-530">
  <div class="c-col-1 c-pad f-start">
    <div class="p-l-10 o-radio-list">
      <h2 rr-id="anc_m_0402218">
        {{'feetMRT.bones.internalChanges.value' | translate}}
      </h2>
      <p-checkbox
        name="isSeptatedChambered"
        label="{{ 'feetMRT.bones.septatedChambered.value' | translate }}"
        rr-id="anc_m_0402219"
        binary="true"
        [(ngModel)]="model.isSeptatedChambered"
      ></p-checkbox>
      <p-checkbox
        name="isLiquidLevel"
        label="{{ 'feetMRT.bones.liquidLevel.value' | translate }}"
        rr-id="anc_m_0402220"
        binary="true"
        [(ngModel)]="model.isLiquidLevel"
      ></p-checkbox>
      <p-checkbox
        name="isCalcification"
        label="{{ 'feetMRT.bones.calcification.value' | translate }}"
        rr-id="anc_m_0402221"
        binary="true"
        [(ngModel)]="model.isCalcification"
        rrContentReset="calcificationSubBlock"
      ></p-checkbox>
      <div
        class="nested-content o-radio-list"
        [rrDisable]="!model.isCalcification"
        id="calcificationSubBlock"
      >
        <p-checkbox
          name="isCentral"
          label="{{ 'feetMRT.bones.central.value' | translate }}"
          rr-id="anc_m_0402222"
          binary="true"
          [(ngModel)]="model.isCentral"
        ></p-checkbox>
        <p-checkbox
          name="isDiffuse"
          label="{{ 'feetMRT.bones.diffuse2.value' | translate }}"
          rr-id="anc_m_0402223"
          binary="true"
          [(ngModel)]="model.isDiffuse"
        ></p-checkbox>
      </div>
      <p-checkbox
        name="isNidus"
        label="{{ 'feetMRT.bones.nidus.value' | translate }}"
        rr-id="anc_m_0402224"
        binary="true"
        [(ngModel)]="model.isNidus"
        rrContentReset="nidusSubBlock"
      ></p-checkbox>
      <div
        class="nested-content"
        [rrDisable]="!model.isNidus"
        id="nidusSubBlock"
      >
        <p-checkbox
          name="isNidusT2wHyperintense"
          label="{{ 'feetMRT.bones.t2wHyperintense.value' | translate }}"
          rr-id="anc_m_0402225"
          binary="true"
          [(ngModel)]="model.isNidusT2wHyperintense"
        ></p-checkbox>
      </div>
      <p-checkbox
        name="isOsteoidMatrix"
        label="{{ 'feetMRT.bones.osteoidMatrix.value' | translate }}"
        rr-id="anc_m_0402226"
        binary="true"
        [(ngModel)]="model.isOsteoidMatrix"
      ></p-checkbox>
      <p-checkbox
        name="isFatSignal"
        label="{{ 'feetMRT.bones.fatSignal.value' | translate }}"
        rr-id="anc_m_0402227"
        binary="true"
        [(ngModel)]="model.isFatSignal"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep-l f-start">
    <div class="p-l-10 o-radio-list">
      <h2 rr-id="anc_m_0403243">
        {{'feetMRT.bones.peripheralChanges.value' | translate}}
      </h2>
      <p-checkbox
        name="isPeriostealReaction"
        label="{{ 'feetMRT.bones.periostealReactionSunBurst.value' | translate }}"
        rr-id="anc_m_0403244"
        binary="true"
        [(ngModel)]="model.isPeriostealReaction"
      ></p-checkbox>
      <p-checkbox
        name="isPeriostealSpur"
        label="{{ 'feetMRT.bones.periostealSpurCodmanSpur.value' | translate }}"
        rr-id="anc_m_0403245"
        binary="true"
        [(ngModel)]="model.isPeriostealSpur"
      ></p-checkbox>
      <p-checkbox
        name="isCartilageCap"
        label="{{ 'feetMRT.bones.cartilageCap.value' | translate }}"
        rr-id="anc_m_0403246"
        binary="true"
        [(ngModel)]="model.isCartilageCap"
        rrContentReset="cartilageSubBlock"
      ></p-checkbox>
      <div
        class="nested-content o-radio-list"
        [rrDisable]="!model.isCartilageCap"
        id="cartilageSubBlock"
      >
        <p rr-id="anc_m_0403247" class="m-b-0">
          {{'feetMRT.bones.maxThickness.value' | translate}}
        </p>
        <rr-number-input
          [label]="'feetMRT.bones.inMm.value' | translate"
          [inputRrId]="'anc_m_0403248'"
          [labelRrId]="'anc_m_0403252'"
          [config]="{min: 1, max: 5}"
          name="maxThicknessInMm"
          [(ngModel)]="model.maxThicknessInMm"
        ></rr-number-input>
        <p-checkbox
          name="isCapT2wHyperintense"
          class="m-t-10"
          label="{{ 'feetMRT.bones.capT2wHyperintense.value' | translate }}"
          rr-id="anc_m_0403249"
          binary="true"
          [(ngModel)]="model.isCapT2wHyperintense"
        ></p-checkbox>
      </div>
      <p-checkbox
        name="isCartilageCap"
        label="{{ 'feetMRT.bones.scleroticMargin.value' | translate }}"
        rr-id="anc_m_0403250"
        binary="true"
        [(ngModel)]="model.isScleroticMargin"
      ></p-checkbox>
      <p-checkbox
        name="isEdgeWithLowSignal"
        label="{{ 'feetMRT.bones.rimWithLowSignalPerichondriumAboveCartilageCap.value' | translate }}"
        rr-id="anc_m_0403251"
        binary="true"
        [(ngModel)]="model.isEdgeWithLowSignal"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep-l f-start">
    <div class="o-radio-list p-l-10">
      <h2 rr-id="anc_m_0404228">
        {{'feetMRT.bones.growthPattern.value' | translate}}
      </h2>
      <p-checkbox
        name="isExpanding"
        label="{{ 'feetMRT.bones.expanding.value' | translate }}"
        rr-id="anc_m_0404229"
        binary="true"
        [(ngModel)]="model.isExpanding"
      ></p-checkbox>
      <p-checkbox
        name="isOsteolytic"
        label="{{ 'feetMRT.bones.osteolytic.value' | translate }}"
        rr-id="anc_m_0404230"
        binary="true"
        [(ngModel)]="model.isOsteolytic"
      ></p-checkbox>
      <p-checkbox
        name="isOsteoblastic"
        label="{{ 'feetMRT.bones.osteoblastic.value' | translate }}"
        rr-id="anc_m_0404231"
        binary="true"
        [(ngModel)]="model.isOsteoblastic"
      ></p-checkbox>
      <p-checkbox
        name="isSclerotic"
        label="{{ 'feetMRT.bones.sclerotic.value' | translate }}"
        rr-id="anc_m_0404232"
        binary="true"
        [(ngModel)]="model.isSclerotic"
      ></p-checkbox>
      <p-checkbox
        name="infiltrationOfSoftTissue"
        label="{{ 'feetMRT.bones.infiltrationOfSoftTissue.value' | translate }}"
        rr-id="anc_m_0404233"
        binary="true"
        [(ngModel)]="model.isInfiltrationOfSoftTissue"
      ></p-checkbox>
      <p-checkbox
        name="isInfiltrationOfAdjacentBones"
        label="{{ 'feetMRT.bones.infiltrationOfAdjacentBones.value' | translate }}"
        rr-id="anc_m_0404234"
        class="text-break"
        binary="true"
        [(ngModel)]="model.isInfiltrationOfAdjacentBones"
      ></p-checkbox>
    </div>
    <div class="o-radio-list m-t-30 p-l-10">
      <h2 rr-id="anc_m_0404235" class="m-b-15">
        {{'feetMRT.bones.minorTrauma.value' | translate}}
      </h2>
      <p-checkbox
        name="isPathologicFracture"
        label="{{ 'feetMRT.bones.pathologicFracture.value' | translate }}"
        rr-id="anc_m_0404236"
        binary="true"
        [(ngModel)]="model.isPathologicFracture"
        rrContentReset="pathologicFractureSubBlock"
      ></p-checkbox>
      <div
        class="nested-content"
        [rrDisable]="!model.isPathologicFracture"
        id="pathologicFractureSubBlock"
      >
        <p-checkbox
          name="isPathologicalFractureSuspicionOf"
          label="{{ 'feetMRT.bones.suspicionOf.value' | translate }}"
          rr-id="anc_m_0404237"
          binary="true"
          [(ngModel)]="model.isPathologicalFractureSuspicionOf"
        ></p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad-l c-sep-l f-start">
    <div class="o-radio-list p-l-10">
      <h2 rr-id="anc_m_0405208">
        {{'feetMRT.bones.surroundingReaction.value' | translate}}
      </h2>
      <p-checkbox
        name="isEnvironmentalReactionSoftTissueEdema"
        label="{{ 'feetMRT.bones.softTissueEdema.value' | translate }}"
        rr-id="anc_m_0405209"
        binary="true"
        [(ngModel)]="model.isEnvironmentalReactionSoftTissueEdema"
      ></p-checkbox>
      <p-checkbox
        name="isEnvironmentalReactionBoneMarrowEdema"
        label="{{ 'feetMRT.bones.boneMarrowEdema.value' | translate }}"
        rr-id="anc_m_0405210"
        binary="true"
        [(ngModel)]="model.isEnvironmentalReactionBoneMarrowEdema"
      ></p-checkbox>
      <p-checkbox
        name="isPerifocalSclerosis"
        label="{{ 'feetMRT.bones.perifocalSclerosis.value' | translate }}"
        rr-id="anc_m_0405211"
        binary="true"
        [(ngModel)]="model.isPerifocalSclerosis"
      ></p-checkbox>
      <p-checkbox
        name="isSurroundingInflammatoryReaction"
        label="{{ 'feetMRT.bones.surroundingInflammationreaction.value' | translate }}"
        rr-id="anc_m_0405212"
        binary="true"
        [(ngModel)]="model.isSurroundingInflammatoryReaction"
      ></p-checkbox>
    </div>
    <div class="o-radio-list m-t-20 p-l-10">
      <h2 rr-id="anc_m_0405213">
        {{'feetMRT.bones.localExtension.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="anc_m_0405214"
        label="{{'feetMRT.bones.intracompartimental.value' | translate}}"
        name="localPropagationType"
        [value]="localPropagationTypeEnum.Intracompartimental"
        [(ngModel)]="model.localPropagationType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_0405215"
        label="{{'feetMRT.bones.extracompartimental.value' | translate}}"
        name="localPropagationType"
        [value]="localPropagationTypeEnum.Extracompartimental"
        [(ngModel)]="model.localPropagationType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
</div>
