<div class="finding-tab-view main-container">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="tho_c_080214"
          [rrValidation]="['sideType', 'ribLocation', 'vertebralColumnLocalization', 'sizeInMm', 'bonesDifferentialDiagnosisType', 'isManubrium isCorpus isXiphoidProcess']"
          ifAny="true"
          class="m-l-5"
        >
          {{'thoraxCT.bones.characterizationI.value'|translate}}
        </h1>
      </ng-template>
      <rr-charcterization-one-tab [model]="model"></rr-charcterization-one-tab>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="tho_c_080345" class="m-l-5">
          {{'thoraxCT.bones.characterizationII.value'|translate}}
        </h1>
      </ng-template>
      <rr-charcterization-two-tab [model]="model"></rr-charcterization-two-tab>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="tho_c_080429"
          rrValidation="bonesDifferentialDiagnosis1"
          ifAny="true"
          class="m-l-5"
        >
          {{'thoraxCT.bones.differentialDiagnosisTabHeader.value'|translate}}
        </h1>
      </ng-template>
      <rr-differential-diagnosis-tab
        [model]="model"
      ></rr-differential-diagnosis-tab>
    </p-tabPanel>
  </p-tabView>
</div>
