<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="f-vertical c-sep c-pad  m-t-10 m-b-15 ">
      <h2 rr-id="abd_m_040216" class="m-b-11" [rrDisable]="!isCMReinforced">
        {{'abdomenMRT.liver.evaluationOfContrastEnhancementDynamics.value' |
        translate}}
      </h2>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-sep c-pad-r f-vertical o-radio-list">
          <div class="o-radio-list" [rrDisable]="!isCMReinforced">
            <p-checkbox
              rr-id="abd_m_040217"
              name="isCottonWoolAppearance"
              label="{{'abdomenMRT.liver.cottonwoolAppearance.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isCottonWoolAppearance"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040218"
              class="text-break"
              name="isCentripetalFillInIrisDiaphragmPhenomenon"
              label="{{'abdomenMRT.liver.centripetalFillinIrisDiaphragmPhenomenon.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isCentripetalFillInIrisDiaphragmPhenomenon"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040219"
              name="isTriangleSign"
              label="{{'abdomenMRT.liver.triangleSign.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isTriangleSign"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040220"
              name="isEnhancementToHepaticVeins"
              label="{{'abdomenMRT.liver.synchronousEnhancementtoHepaticVeins.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isEnhancementToHepaticVeins"
              class="text-break"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040221"
              name="isCentrifugalEnhancement"
              label="{{'abdomenMRT.liver.centrifugalEnhancement.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isCentrifugalEnhancement"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040222"
              name="isCentralScar"
              label="{{'abdomenMRT.liver.centralScar.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isCentralScar"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040223"
              name="isWashInArterialPhase"
              label="{{'abdomenMRT.liver.washinArterialPhase.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isWashInArterialPhase"
              rrContentReset="isWashInArterialPhaseBlock"
            >
            </p-checkbox>
            <div
              class="f-start o-radio-list nested-content"
              id="isWashInArterialPhaseBlock"
              [rrDisable]="!model.isWashInArterialPhase"
            >
              <p-radioButton
                rr-id="abd_m_040224"
                rrUnClickRadio
                name="washInArterialPhaseType"
                [value]="washInArterialPhaseType.Homogeneous"
                label="{{'abdomenMRT.liver.homogeneous.value' | translate}}"
                [(ngModel)]="model.washInArterialPhaseType"
              >
              </p-radioButton>
              <p-radioButton
                rr-id="abd_m_040225"
                rrUnClickRadio
                name="washInArterialPhaseType"
                [value]="washInArterialPhaseType.Heterogeneous"
                label="{{'abdomenMRT.liver.heterogeneous.value' | translate}}"
                [(ngModel)]="model.washInArterialPhaseType"
              >
              </p-radioButton>
            </div>
          </div>
        </div>
        <div class="c-col-1 c-sep c-pad-l f-vertical o-radio-list">
          <div class="o-radio-list" [rrDisable]="!isCMReinforced">
            <p-checkbox
              rr-id="abd_m_040319"
              name="isWashOutVenousPhase"
              label="{{'abdomenMRT.liver.washoutVenousPhase.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isWashOutVenousPhase"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040320"
              name="isMaskingVenousPhase"
              label="{{'abdomenMRT.liver.maskingVenousPhase.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isMaskingVenousPhase"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040321"
              class="text-break"
              name="isRingTargetSign"
              label="{{'abdomenMRT.liver.ringEnhancementtargetSign.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isRingTargetSign"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040322"
              name="isPeripheralEnhancement"
              label="{{'abdomenMRT.liver.peripheralEnhancement.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isPeripheralEnhancement"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040323"
              name="isLateVenousPooling"
              label="{{'abdomenMRT.liver.lateVenousPoolinglateEnhancement.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isLateVenousPooling"
              class="text-break"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_040324"
              name="isFadingEnhancement"
              label="{{'abdomenMRT.liver.portalVenousMasking.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isFadingEnhancement"
              class="text-break"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-15 o-radio-list">
      <h2 rr-id="abd_m_040416">
        {{'abdomenMRT.liver.internalChanges.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="abd_m_040417"
        name="isFat"
        label="{{'abdomenMRT.liver.fat.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isFat"
        rrContentReset="isFatBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isFatBlock"
        [rrDisable]="!model.isFat"
      >
        <p-radioButton
          rr-id="abd_m_040418"
          rrUnClickRadio
          name="fatType"
          [value]="fatType.Macroscopic"
          label="{{'abdomenMRT.liver.macroscopic.value' | translate}}"
          [(ngModel)]="model.fatType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_040419"
          rrUnClickRadio
          name="fatType"
          [value]="fatType.Microscopic"
          label="{{'abdomenMRT.liver.microscopic.value' | translate}}"
          [(ngModel)]="model.fatType"
        >
        </p-radioButton>
      </div>
      <p-checkbox
        rr-id="abd_m_040420"
        name="isCalcification"
        label="{{'abdomenMRT.liver.calcification.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCalcification"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040498"
        name="isCapsule"
        label="{{'abdomenMRT.liver.capsule.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCapsule"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040421"
        name="isSepts"
        label="{{'abdomenMRT.liver.septs.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSepts"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040422"
        name="isNecrosis"
        label="{{'abdomenMRT.liver.necrosis.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isNecrosis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040423"
        class="text-break"
        name="isHemorrhageProducts"
        label="{{'abdomenMRT.liver.hemorrhagebloodDegradationProducts.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isHemorrhageProducts"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040424"
        name="isFluidCsfIsointens"
        label="{{'abdomenMRT.liver.fluidCSFisointens.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isFluidCsfIsointens"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="abd_m_040425"
        name="isPeripheralMembrane"
        label="{{'abdomenMRT.liver.peripheralMembrane.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPeripheralMembrane"
        class="m-b-30"
      >
      </p-checkbox>
      <h2 rr-id="abd_m_040426" class="m-b-3">
        {{'abdomenMRT.liver.growthPatterns.value' | translate}}
      </h2>
      <p-dropdown
        rr-id="abd_m_040427"
        [(ngModel)]="model.growthPatternsType"
        styleClass="o-width-100 ui-brown-box"
        name="growthPatternsType"
        placeholder="{{ 'shared.pleaseSelect' | translate }}"
        [options]="growthPatternsDDOptions"
        (onChange)="conditionallyResetInfiltrationBlock()"
        rrDropdownClear
      >
      </p-dropdown>
    </div>
    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-10 m-b-15 o-radio-list">
      <div
        class="o-radio-list"
        id="infiltrationBlock"
        [rrDisable]="model.growthPatternsType !== growthPatternsType.Infiltrating"
      >
        <h2 rr-id="abd_m_040518" class="m-b-12">
          {{'abdomenMRT.liver.infiltration.value' | translate}}
        </h2>
        <h3 rr-id="abd_m_040519">
          {{'abdomenMRT.liver.vascularInvasion.value' | translate}}
        </h3>
        <p-checkbox
          rr-id="abd_m_040520"
          name="isPortalVeinRightBranch"
          label="{{'abdomenMRT.liver.portalVeinRightBranch.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isPortalVeinRightBranch"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040521"
          name="isPortalVeinProximal"
          label="{{'abdomenMRT.liver.portalVeinProximal.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isPortalVeinProximal"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040522"
          name="isPortalVeinLeftBranch"
          label="{{'abdomenMRT.liver.portalVeinLeftBranch.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isPortalVeinLeftBranch"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040523"
          name="isRightHepaticVein"
          label="{{'abdomenMRT.liver.rightHepaticVein.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isRightHepaticVein"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040524"
          name="isMiddleHepaticVein"
          label="{{'abdomenMRT.liver.middleHepaticVein.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isMiddleHepaticVein"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040525"
          name="isLeftHepaticVein"
          label="{{'abdomenMRT.liver.leftHepaticVein.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isLeftHepaticVein"
          class="m-b-20"
        >
        </p-checkbox>
        <h3 rr-id="abd_m_040526">
          {{'abdomenMRT.liver.biliarySystem.value' | translate}}
        </h3>
        <p-checkbox
          rr-id="abd_m_040527"
          name="isAssociatedCholestasis"
          label="{{'abdomenMRT.liver.associatedCholestasis.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isAssociatedCholestasis"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040528"
          name="isRightHepaticDuct"
          label="{{'abdomenMRT.liver.rightHepaticDuct.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isRightHepaticDuct"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040529"
          name="isLeftHepaticDuct"
          label="{{'abdomenMRT.liver.leftHepaticDuct.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isLeftHepaticDuct"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040530"
          name="isCommonHepaticDuct"
          label="{{'abdomenMRT.liver.commonHepaticDuct.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCommonHepaticDuct"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040531"
          name="isGallBladder"
          label="{{'abdomenMRT.liver.gallBladder.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isGallBladder"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
