$light-grey: #f8f8f8;

.breast-rectangle {
  fill: url(#pattern-segment-shoulder);
}

.breast-name {
  font-size: 20px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.breast-part {
  cursor: pointer;
  fill: #fff;
}

.breast-part:hover {
  fill: #00aec2;
}

.breast-part-checked,
.breast-part-checked:hover {
  fill: #fe0000;
}

.breast-rectangle-outer {
  fill: #f8f8f8;
  stroke: none;
}

.breast-circle-outer {
  fill: #dfdfdf;
}

.breast-line {
  fill: none;
  stroke: #e2e2e2;
  stroke-width: 3px;
}

.breast-circle {
  fill: #fff;
}

.breast-circle-inner,
.breast-circle-outer .breast-rectangle-inner,
.breast-rectangle-outer {
  stroke: none;
}

.breast-circle-outer,
.breast-rectangle-outer {
  fill: #e2e2e2;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.breast-disabled {
  pointer-events: none;

  .breast-circle-outer {
    fill: $light-grey;
  }

  .breast-line {
    stroke: $light-grey;
  }

  &.breast-name {
    opacity: 0.3;
  }
}

:host-context(.invalid-localizer) {
  .cls-1 .breast-rectangle-outer {
    fill: red !important;
  }
}
