.vertebrae {
  opacity: 0;
}

.disc {
  fill: #00aec2;
  opacity: 0.8;
}

.text {
  font-size: 18px;
  font-family: BentonSansBold, BentonSans, sans-serif;
  font-weight: 700;

  &--smaller {
    font-size: 15px;
  }
}

.circle {
  &__border {
    stroke: #888585;
  }

  &__inside {
    fill: #d8d8d8;
  }
}

.closing-element {
  cursor: pointer;

  &__circle {
    fill: #00aec2;
  }

  &__x {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
  }
}

.spine-disabled {
  fill: #fff;
  opacity: 0.7;
}
.spine-disabled-text {
  opacity: 0.2;
}

.spine-disabled-button {
  opacity: 0.3;
}

.side-header {
  font-family: BentonSansBold, sans-serif;
  font-size: 19px;
}

.circle-button {
  position: relative;

  &__circle {
    fill: white;
    stroke: #00aec2;
    stroke-width: 1;
    stroke-miterlimit: 10;
  }
  &__text {
    font-size: 18px;
    fill: #000000;
    font-weight: bold;
    user-select: none;
    font-family: BentonSansBold, sans-serif;

    &-digit {
      transform: translate(-5px, 6px);
    }

    &-number {
      transform: translate(-10px, 6px);
    }
  }
  &--hovered {
    cursor: pointer;

    .circle-button__circle {
      fill: #00aec2;
    }
    .circle-button__text {
      fill: #ffffff;
    }
  }
  &--selected {
    .circle-button__circle {
      fill: #f80202;
      stroke: #f80202;
    }
    .circle-button__text {
      fill: #ffffff;
    }
  }
}

.localization {
  background-color: #ffffff;
  border-radius: 4px;
}

.localization-title {
  font-size: 60px;
  font-weight: 300;
  font-family: BentonSansLight, sans-serif;
}

.description-container {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 3px solid #00aec2;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 30px;
  max-width: 785px;
}

.description {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: BentonSansLight, BentonSans, sans-serif;
  font-weight: 300;

  span {
    white-space: pre-line;
  }
}
