@import "../settings-dialogs-shared.scss";

.dialog-main {
  width: 561px;
  height: 542px;

  .dialog-header {
    padding-top: 51px;
  }

  .dialog-content {
    height: 320px;
    text-align: center;

    .dialog-input-container {
      text-align: end;
    }

    .dialog-input {
      border: 3px solid #e2dfdf;
      border-radius: 4px;
      height: 40px;
      width: 310px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      font-family: BentonSansLight, sans-serif;
      padding: 0 19px;
    }

    .dialog-input:focus {
      outline: none;
    }

    .dialog-input-label {
      vertical-align: middle;
      font-size: 18px;
      font-family: BentonSansLight, sans-serif;
    }
  }

  .disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}
