<p-sidebar
  [rrSideBarZoom]="zoom"
  class="search-bar"
  [(visible)]="searchBarVisible"
  [position]="'right'"
  (onShow)="onSearchBarShow()"
>
  <rr-search-bar></rr-search-bar>
</p-sidebar>
<div class="top-nav f-horizontal f-center">
  <rr-top-navigation></rr-top-navigation>
</div>
<div
  class="slide f-vertical f-end"
  [ngStyle]="{'zoom': zoom, 'margin-top': margin}"
>
  <rr-slide-header (searchClicked)="openSearchBar()"></rr-slide-header>
  <div class="c-main-slide">
    <router-outlet></router-outlet>
  </div>
</div>
