.reference-picture {
  &__inputs {
    & > :not(:last-child) {
      padding-right: 10px;
    }

    .inputs {
      &__input {
        padding-right: 8px;
        padding-left: 8px;
        font-size: 18px;
        font-weight: normal;
        font-family: BentonSansLight, sans-serif;
        width: calc(100% - 22px);

        &::placeholder {
          color: #212529;
        }
      }
    }
  }
}

:host ::ng-deep .uploader-container {
  background-color: white;
}
