.main {
  width: 1512px;
  height: 890px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 55px 45px;
}

.header-container {
  height: 185px;
}

.content-container {
  height: calc(100% - 185px);
  .stepper-container {
    height: 200px;
  }
  .data-container {
    .localizer-container {
      width: 705px;
    }
  }
  .sum-container {
    .score-sum-counter {
      width: 246px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-color: #b2e7ed;
    }

    .button {
      width: 120px;
      height: 48px;
      border: 3px solid #999999;
      border-radius: 4px;
      font-size: 15px;
      font-family: BentonSansBold;
      margin: 0 5px;
      &-dark {
        background-color: #999999;
        color: #ffffff;
      }
      &-light {
        background-color: #ffffff;
        color: #999999;
      }
    }
  }
}

// todo possibly move to common along with whole stepper
.stepper {
  display: inline-block;
  margin-left: -23px;
  .stepper-items {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 40px;
    font-family: BentonSansBold;
    font-size: 20px;
    .stepper-item {
      display: flex;
      align-items: center;
      .stepper-item-number {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 3px;
        border-style: solid;
      }
      .stepper-item-line {
        width: 80px;
        height: 3px;
      }
    }
    .step {
      &-default {
        .stepper-item-number {
          background-color: #ffffff;
          border-color: #b2e7ed;
          color: #b2e7ed;
        }
      }
      &-current {
        .stepper-item-number {
          background-color: #00aec2;
          border-color: #00aec2;
          color: #ffffff;
        }
      }
      &-visited {
        .stepper-item-number {
          background-color: #ffffff;
          border-color: #00aec2;
          color: #00aec2;
        }
      }
      &-skipped {
        .stepper-item-number {
          background-color: #b2b2b2;
          border-color: #b2b2b2;
          color: #ffffff;
        }
      }
      &-clickable {
        .stepper-item-number {
          cursor: pointer;
        }
      }

      &-line-full {
        .stepper-item-line {
          background: #00aec2;
        }
      }
      &-line-default {
        .stepper-item-line {
          background: #b2e7ed;
        }
      }
    }
  }

  .stepper-labels {
    display: flex;
    justify-content: center;
    width: fit-content;

    margin-top: 5px;
    font-family: BentonSansLight;
    font-size: 18px;

    &-item {
      width: 115px;
      text-align: center;
    }
  }
}

// todo possibly move to common along with whole button
.close-button {
  circle {
    fill: #00aec2;
    cursor: pointer;
  }
  line {
    cursor: pointer;
    fill: none;
    stroke: #fff;
    stroke-width: 6;
  }
}

.editor-common-header {
  font-size: 18px;
  font-family: BentonSansBold;
}

.editor-common-subheader {
  font-family: BentonSansLight;
  font-size: 18px;
  line-height: 24px;
}
.editor-common-font-42 {
  font-family: BentonSansLight;
  font-size: 42px;
}
.editor-common-font-45 {
  font-family: BentonSansLight;
  font-size: 45px;
}
