<div class="f-vertical f-start c-pad-l o-radio-list">
  <h2 rr-id="spi_m_080310" class="m-t-13">
    {{'spineMRT.softTissues.affectedVesselUreter.value' | translate}}
  </h2>
  <div class="f-horizontal">
    <div class="c-col-1 c-sep c-pad-r o-radio-list vessels-ureters-column-high">
      <p-radioButton
        rr-id="spi_m_080242"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.vertebralArtery.value' | translate }}"
        [value]="vesselsUretersTypeEnum.VertebralArtery"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="AortaThoracica-block AortaAbdominalis-block CommonIliacArtery-block ExternIliacArtery-block VenaCava-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080243"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.aortaThoracica.value' | translate }}"
        [value]="vesselsUretersTypeEnum.AortaThoracica"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaAbdominalis-block CommonIliacArtery-block ExternIliacArtery-block VenaCava-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080244"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.aortaAbdominalis.value' | translate }}"
        [value]="vesselsUretersTypeEnum.AortaAbdominalis"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaThoracica-block CommonIliacArtery-block ExternIliacArtery-block VenaCava-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080245"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.commonIliacArtery.value' | translate }}"
        [value]="vesselsUretersTypeEnum.CommonIliacArtery"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaThoracica-block AortaAbdominalis-block ExternIliacArtery-block VenaCava-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080246"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.externIliacArtery.value' | translate }}"
        [value]="vesselsUretersTypeEnum.ExternIliacArtery"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaThoracica-block AortaAbdominalis-block CommonIliacArtery-block VenaCava-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080247"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.venaCava.value' | translate }}"
        [value]="vesselsUretersTypeEnum.VenaCava"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaThoracica-block AortaAbdominalis-block CommonIliacArtery-block ExternIliacArtery-block Ureter-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
      <p-radioButton
        rr-id="spi_m_080248"
        name="vesselsUretersType"
        label="{{'spineMRT.softTissues.ureter.value' | translate }}"
        [value]="vesselsUretersTypeEnum.Ureter"
        [(ngModel)]="model.vesselsUretersType"
        rrContentReset="VertebralArtery-block AortaThoracica-block AortaAbdominalis-block CommonIliacArtery-block ExternIliacArtery-block VenaCava-block"
        rrValidation="vesselsUretersType"
      ></p-radioButton>
    </div>

    <div class="c-col-1 c-sep c-pad vessels-ureters-column-high">
      <div
        id="VertebralArtery-block"
        *ngIf="model.vesselsUretersType === vesselsUretersTypeEnum.VertebralArtery"
        class="f-vertical f-start o-radio-list"
      >
        <h2 rr-id="spi_m_080326">
          {{'spineMRT.softTissues.side.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080327"
          name="vesselsSide"
          label="{{'spineMRT.softTissues.right.value' | translate }}"
          [value]="vesselsSideTypeEnum.Right"
          [(ngModel)]="model.vesselsSide"
          rrValidation="vesselsSide"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080328"
          name="vesselsSide"
          label="{{'spineMRT.softTissues.left.value' | translate }}"
          [value]="vesselsSideTypeEnum.Left"
          [(ngModel)]="model.vesselsSide"
          rrValidation="vesselsSide"
        ></p-radioButton>
        <h2 rr-id="spi_m_080329" class="m-t-13">
          {{'spineMRT.softTissues.arteriopathy.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080330"
          name="arteriopathyType"
          label="{{'spineMRT.softTissues.occlusion.value' | translate }}"
          [value]="arteriopathyTypeEnum.Occlusion"
          [(ngModel)]="model.arteriopathyType"
          rrValidation="arteriopathyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080331"
          name="arteriopathyType"
          label="{{'spineMRT.softTissues.hypoplasia.value' | translate }}"
          [value]="arteriopathyTypeEnum.Hypoplasia"
          [(ngModel)]="model.arteriopathyType"
          rrValidation="arteriopathyType"
        ></p-radioButton>
      </div>

      <div
        [id]="model.vesselsUretersType === vesselsUretersTypeEnum.AortaThoracica
              ? 'AortaThoracica-block' : 'AortaAbdominalis-block'"
        *ngIf="model.vesselsUretersType === vesselsUretersTypeEnum.AortaThoracica
              || model.vesselsUretersType === vesselsUretersTypeEnum.AortaAbdominalis"
        class="f-vertical f-start o-radio-list"
      >
        <h2 rr-id="spi_m_080332" class="m-b-20">
          {{'spineMRT.softTissues.arteriopathy.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080336"
          name="arteriopathyType"
          label="{{'spineMRT.softTissues.elongation.value' | translate }}"
          [value]="arteriopathyTypeEnum.Elongation"
          [(ngModel)]="model.arteriopathyType"
          rrContentReset="Aneurysm-block"
          rrValidation="arteriopathyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080333"
          name="arteriopathyType"
          [rrInfoIcon]="model.vesselsUretersType === vesselsUretersTypeEnum.AortaThoracica
                        ? 'spi_m_08_01' : 'spi_m_08_02'"
          [infoIconPdfLandscape]="model.vesselsUretersType === vesselsUretersTypeEnum.AortaThoracica"
          [infoIconStyles]="{'pointer-events': 'all'}"
          label="{{'spineMRT.softTissues.aneurysm.value' | translate }}"
          [value]="arteriopathyTypeEnum.Aneurysm"
          [(ngModel)]="model.arteriopathyType"
          rrValidation="arteriopathyType"
        ></p-radioButton>
        <div
          id="Aneurysm-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.arteriopathyType !== arteriopathyTypeEnum.Aneurysm"
        >
          <p rr-id="spi_m_080335">
            {{'spineMRT.softTissues.maximumDiameter.value' | translate}}
          </p>
          <rr-number-input
            name="prostataLengthInCm"
            inputRrId="spi_m_080334"
            labelRrId="spi_m_080337"
            [(ngModel)]="model.aneurysmMaximumDiameter"
            [config]="{min: 1, max: getAneurysmMaximumDiameterMaxValue()}"
            [label]="'spineMRT.softTissues.inMm.value' | translate"
          ></rr-number-input>
        </div>
      </div>

      <div
        [id]="model.vesselsUretersType === vesselsUretersTypeEnum.CommonIliacArtery
        ? 'CommonIliacArtery-block' : 'ExternIliacArtery-block' "
        *ngIf="model.vesselsUretersType === vesselsUretersTypeEnum.CommonIliacArtery
              || model.vesselsUretersType === vesselsUretersTypeEnum.ExternIliacArtery"
        class="f-vertical f-start o-radio-list"
      >
        <h2 rr-id="spi_m_080326">
          {{'spineMRT.softTissues.side.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080327"
          name="vesselsSide"
          label="{{'spineMRT.softTissues.right.value' | translate }}"
          [value]="vesselsSideTypeEnum.Right"
          [(ngModel)]="model.vesselsSide"
          rrValidation="vesselsSide"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080328"
          name="vesselsSide"
          label="{{'spineMRT.softTissues.left.value' | translate }}"
          [value]="vesselsSideTypeEnum.Left"
          [(ngModel)]="model.vesselsSide"
          rrValidation="vesselsSide"
        ></p-radioButton>
        <h2 rr-id="spi_m_080332" class="m-t-21 m-b-21">
          {{'spineMRT.softTissues.arteriopathy.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080336"
          name="arteriopathyType"
          label="{{'spineMRT.softTissues.elongation.value' | translate }}"
          [value]="arteriopathyTypeEnum.Elongation"
          [(ngModel)]="model.arteriopathyType"
          rrContentReset="Aneurysm2-block"
          rrValidation="arteriopathyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080333"
          name="arteriopathyType"
          [rrInfoIcon]="model.vesselsUretersType === vesselsUretersTypeEnum.CommonIliacArtery
                        ? 'spi_m_08_03' : 'spi_m_08_04'"
          [infoIconStyles]="{'pointer-events': 'all'}"
          label="{{'spineMRT.softTissues.aneurysm.value' | translate }}"
          [value]="arteriopathyTypeEnum.Aneurysm"
          [(ngModel)]="model.arteriopathyType"
          rrValidation="arteriopathyType"
        ></p-radioButton>
        <div
          id="Aneurysm2-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.arteriopathyType !== arteriopathyTypeEnum.Aneurysm"
        >
          <p rr-id="spi_m_080335">
            {{'spineMRT.softTissues.maximumDiameter.value' | translate}}
          </p>
          <rr-number-input
            name="aneurysmMaximumDiameter"
            inputRrId="spi_m_080334"
            labelRrId="spi_m_080337"
            [(ngModel)]="model.aneurysmMaximumDiameter"
            [config]="{min: 1, max: 50}"
            [label]="'spineMRT.softTissues.inMm.value' | translate"
          ></rr-number-input>
        </div>
      </div>

      <div
        id="VenaCava-block"
        *ngIf="model.vesselsUretersType === vesselsUretersTypeEnum.VenaCava"
        class="f-vertical f-start o-radio-list"
      >
        <h2 rr-id="spi_m_080345">
          {{'spineMRT.softTissues.pathologyNormVariant.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080346"
          name="pathologyType"
          label="{{'spineMRT.softTissues.occlusion.value' | translate }}"
          [value]="pathologyTypeEnum.Occlusion"
          [(ngModel)]="model.pathologyType"
          rrContentReset="Aneurysm2-block"
          rrValidation="pathologyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080347"
          name="pathologyType"
          label="{{'spineMRT.softTissues.sinistralVCavaInferior.value' | translate }}"
          [value]="pathologyTypeEnum.SinistralVCavaInferior"
          [(ngModel)]="model.pathologyType"
          rrValidation="pathologyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080348"
          name="pathologyType"
          label="{{'spineMRT.softTissues.duplicatedVCavaInferior.value' | translate }}"
          [value]="pathologyTypeEnum.DuplicatedVCavaInferior"
          [(ngModel)]="model.pathologyType"
          rrValidation="pathologyType"
        ></p-radioButton>
      </div>

      <div
        id="Ureter-block"
        *ngIf="model.vesselsUretersType === vesselsUretersTypeEnum.Ureter"
        class="f-vertical f-start o-radio-list"
      >
        <h2 rr-id="spi_m_080349">
          {{'spineMRT.softTissues.side.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="spi_m_080350"
          label="{{'spineMRT.softTissues.right.value' | translate}}"
          name="isUreterRight"
          [(ngModel)]="model.isUreterRight"
          binary="true"
          rrValidation="isUreterRight isUreterLeft"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="spi_m_080351"
          label="{{'spineMRT.softTissues.left.value' | translate}}"
          name="isUreterLeft"
          [(ngModel)]="model.isUreterLeft"
          binary="true"
          rrValidation="isUreterRight isUreterLeft"
        >
        </p-checkbox>

        <h2 rr-id="spi_m_080352" class="m-t-16">
          {{'spineMRT.softTissues.pathology.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="spi_m_080353"
          name="pathologyType"
          label="{{'spineMRT.softTissues.congestion.value' | translate }}"
          [value]="pathologyTypeEnum.Congestion"
          [(ngModel)]="model.pathologyType"
          rrValidation="pathologyType"
        ></p-radioButton>
        <p-radioButton
          rr-id="spi_m_080354"
          name="pathologyType"
          label="{{'spineMRT.softTissues.ureterDuplexfissus.value' | translate }}"
          [value]="pathologyTypeEnum.UreterDuplexFissus"
          [(ngModel)]="model.pathologyType"
          rrValidation="pathologyType"
        ></p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad vessels-ureters-column-high"></div>
    <div class="c-col-1 c-pad-l"></div>
  </div>
</div>
