<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center">
    <div class="c-col-1 c-sep c-pad-r o-radio-list">
      <h1 rr-id="car_m_070103" class="m-b-18">
        {{ "cardioMRT.rightVentricle.finding.value" | translate }}*
      </h1>
      <p-radioButton
        rr-id="car_m_070104"
        [(ngModel)]="model.findingType"
        label="{{ 'cardioMRT.rightVentricle.normalFormAndFunction.value' | translate }}"
        name="findingType"
        [value]="findingType.NormalFormAndFunction"
        rrValidation="findingType"
        rrContentReset="findingType-block"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="car_m_070105"
        [(ngModel)]="model.findingType"
        label="{{ 'cardioMRT.rightVentricle.noData.value' | translate }}"
        name="findingType"
        [value]="findingType.NoData"
        rrValidation="findingType"
        rrContentReset="findingType-block"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="car_m_070106"
        [(ngModel)]="model.findingType"
        label="{{ 'cardioMRT.rightVentricle.finding.value' | translate }}"
        name="findingType"
        [value]="findingType.Finding"
        rrValidation="findingType"
      >
      </p-radioButton>
    </div>
    <div
      *ngIf="model.findingType === findingType.Finding; else noFinding"
      id="findingType-block"
      class="c-col-4 c-pad-l f-start f-vertical col-h-100"
    >
      <h1 rr-id="car_m_070201" class="m-b-92">
        {{ "cardioMRT.rightVentricle.finding.value" | translate }}
      </h1>
      <div class="f-start f-horizontal col-h-100">
        <div class="c-col-1 c-sep c-pad-r o-radio-list">
          <h2 rr-id="car_m_070202">
            {{ "cardioMRT.rightVentricle.morphology.value" | translate }}
          </h2>
          <p-checkbox
            rr-id="car_m_070203"
            [(ngModel)]="model.isMyocardialEdema"
            label="{{ 'cardioMRT.rightVentricle.myocardialEdema.value' | translate }}"
            name="isMyocardialEdema"
            binary="true"
            rrContentReset="isMyocardialEdema-block"
          >
          </p-checkbox>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="isMyocardialEdema-block"
            [rrDisable]="!model.isMyocardialEdema"
          >
            <p-radioButton
              [(ngModel)]="model.myocardialEdemaType"
              rr-id="car_m_070204"
              label="{{ 'cardioMRT.rightVentricle.focal.value' | translate }}"
              name="myocardialEdemaType"
              [value]="rightVentricleType.Focal"
              rrUnClickRadio
            >
            </p-radioButton>
            <p-radioButton
              rr-id="car_m_070205"
              [(ngModel)]="model.myocardialEdemaType"
              label="{{ 'cardioMRT.rightVentricle.diffuse.value' | translate }}"
              name="myocardialEdemaType"
              [value]="rightVentricleType.Diffuse"
              rrUnClickRadio
            >
            </p-radioButton>
          </div>
          <p-checkbox
            rr-id="car_m_070206"
            [(ngModel)]="model.isWallThickening"
            label="{{ 'cardioMRT.rightVentricle.wallThickening.value' | translate }}"
            name="isWallThickening"
            binary="true"
            rrContentReset="isWallThickening-block"
          >
          </p-checkbox>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="isWallThickening-block"
            [rrDisable]="!model.isWallThickening"
          >
            <p-radioButton
              rr-id="car_m_070207"
              [(ngModel)]="model.wallThickeningType"
              label="{{ 'cardioMRT.rightVentricle.focal.value' | translate }}"
              name="wallThickeningType"
              [value]="rightVentricleType.Focal"
              rrUnClickRadio
            >
            </p-radioButton>
            <p-radioButton
              rr-id="car_m_070208"
              [(ngModel)]="model.wallThickeningType"
              label="{{ 'cardioMRT.rightVentricle.diffuse.value' | translate }}"
              name="wallThickeningType"
              [value]="rightVentricleType.Diffuse"
              rrUnClickRadio
            >
            </p-radioButton>
          </div>
          <p-checkbox
            rr-id="car_m_070209"
            [(ngModel)]="model.isWallThinning"
            label="{{ 'cardioMRT.rightVentricle.wallThinning.value' | translate }}"
            name="isWallThinning"
            binary="true"
            rrContentReset="isWallThinning-block"
          >
          </p-checkbox>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="isWallThinning-block"
            [rrDisable]="!model.isWallThinning"
          >
            <p-radioButton
              rr-id="car_m_070210"
              [(ngModel)]="model.wallThinningType"
              label="{{ 'cardioMRT.rightVentricle.focal.value' | translate }}"
              name="wallThinningType"
              [value]="rightVentricleType.Focal"
              rrUnClickRadio
            >
            </p-radioButton>
            <p-radioButton
              rr-id="car_m_070211"
              [(ngModel)]="model.wallThinningType"
              label="{{ 'cardioMRT.rightVentricle.diffuse.value' | translate }}"
              name="wallThinningType"
              [value]="rightVentricleType.Diffuse"
              rrUnClickRadio
            >
            </p-radioButton>
          </div>
          <p-checkbox
            rr-id="car_m_070212"
            [(ngModel)]="model.isMicroAneurysm"
            label="{{ 'cardioMRT.rightVentricle.microAneurysm.value' | translate }}"
            name="isMicroAneurysm"
            binary="true"
            rrContentReset="isMicroAneurysm-block"
          >
          </p-checkbox>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="isMicroAneurysm-block"
            [rrDisable]="!model.isMicroAneurysm"
          >
            <p-checkbox
              rr-id="car_m_070213"
              [(ngModel)]="model.isOverOneLesion"
              label="{{ 'cardioMRT.rightVentricle.overOneLesion.value' | translate }}"
              name="isOverOneLesion"
              binary="true"
            >
            </p-checkbox>
          </div>
          <p-checkbox
            rr-id="car_m_070214"
            [(ngModel)]="model.isFatSignalInMyocardium"
            label="{{ 'cardioMRT.rightVentricle.fatSignalInMyocardium.value' | translate }}"
            name="isFatSignalInMyocardium"
            binary="true"
          >
          </p-checkbox>
        </div>

        <div class="c-col-1 c-sep c-pad o-radio-list">
          <h2 rr-id="car_m_070301">
            {{ "cardioMRT.rightVentricle.function.value" | translate }}
          </h2>
          <p-radioButton
            rr-id="car_m_070302"
            [(ngModel)]="model.functionType"
            label="{{ 'cardioMRT.rightVentricle.dyskinesia.value' | translate }}"
            name="functionType"
            [value]="functionType.Dyskinesia"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="car_m_070303"
            [(ngModel)]="model.functionType"
            label="{{ 'cardioMRT.rightVentricle.hypokinesia.value' | translate }}"
            name="functionType"
            [value]="functionType.Hypokinesia"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="car_m_070304"
            [(ngModel)]="model.functionType"
            label="{{ 'cardioMRT.rightVentricle.dyssynchrony.value' | translate }}"
            name="functionType"
            [value]="functionType.Dyssynchrony"
            rrUnClickRadio
          >
          </p-radioButton>
        </div>

        <div class="c-col-1 c-sep c-pad o-radio-list">
          <h2 rr-id="car_m_070401" class="text-break m-b-14">
            {{ "cardioMRT.rightVentricle.lateGadoliniumEnhancementLGE.value" |
            translate }}
          </h2>
          <p-radioButton
            rr-id="car_m_070402"
            [(ngModel)]="model.lgeType"
            label="{{ 'cardioMRT.rightVentricle.focal.value' | translate }}"
            name="lgeType"
            [value]="rightVentricleType.Focal"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="car_m_070403"
            [(ngModel)]="model.lgeType"
            label="{{ 'cardioMRT.rightVentricle.diffuse.value' | translate }}"
            name="lgeType"
            [value]="rightVentricleType.Diffuse"
            rrUnClickRadio
          >
          </p-radioButton>
        </div>
        <div class="c-col-1 c-pad-l"></div>
      </div>
    </div>

    <ng-template #noFinding>
      <div class="c-col-1 c-sep c-pad"></div>
      <div class="c-col-1 c-sep c-pad"></div>
      <div class="c-col-1 c-sep c-pad"></div>
      <div class="c-col-1 c-pad-l"></div>
    </ng-template>
  </div>
</form>
