.main {
  cursor: pointer;
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
}

.fill-blue {
  fill: #97cdf4;
}

.fill-white-smoke {
  fill: #f4f4f4;
}

.fill-gray-1 {
  fill: #ebebeb;
}

.stroke-none {
  stroke: none;
}

.stroke-gray-1 {
  stroke: #ebebeb;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-gray {
  stroke: #dfdfdf;
}

.stroke-darker-gray {
  stroke: #bdbabd;
}

.stroke-black {
  stroke: #161615;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-05 {
  stroke-width: 0.5px;
}

.stroke-round {
  stroke-linecap: round;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-linejoin-round {
  stroke-linejoin: round;
}

.stroke-limit-10 {
  stroke-miterlimit: 10;
}

.selectable {
  &-normal {
    fill: #f80200;
    opacity: 0;
    mix-blend-mode: multiply;
    isolation: isolate;
  }
  &-darker {
    fill: #dd2323;
    opacity: 0;
  }
}

.opacity-06 {
  opacity: 0.6;
}

:host-context(.invalid-localizer) {
  .background-border {
    stroke: red !important;
  }
}

.svg-lines-1 {
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #bdbabd;
}

.svg-lines-2 {
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #aaa;
}

.svg-lines-3 {
  opacity: 0.245;
  fill: #97cdf4;
  stroke-miterlimit: 10;
  mix-blend-mode: darken;
  stroke-width: 0.5px;
  isolation: isolate;
}

.svg-lines-4 {
  fill: #97cdf4;
  opacity: 0.25;
  stroke: #dfdfdf;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.svg-lines-5 {
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
  fill: #97cdf4;
  mix-blend-mode: darken;
  isolation: isolate;
  opacity: 0.25;
  stroke: #aaa;
}

.svg-lines-6 {
  stroke: #aaa;
  stroke-width: 0.2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-lines-7 {
  mix-blend-mode: darken;
  fill: #97cdf4;
  isolation: isolate;
  opacity: 0.25;
  stroke: #aaa;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.svg-lines-8 {
  stroke: #aaa;
  stroke-width: 0.3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-lines-9 {
  fill: #dfdfdf;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke: #bdbabd;
  stroke-linejoin: round;
}

.centrum-semiovale {
  stroke: #d0d0d0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.ganglia-lines {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5px;
  stroke: #aaa;
  fill: none;
}
