$white: #fff;

.shoulder {
  &__rectangle {
    fill: url(#pattern-shoulder-simple);
  }

  &__part {
    fill: $white;
    opacity: 0.7;

    &--hover,
    &:hover {
      fill: #00aec2;
    }

    &--checked,
    &--checked:hover {
      fill: #fe0000;
    }
  }

  &__name {
    font-size: 41px;
    font-family: BentonSansBold, Roboto;
    font-weight: 700;
    cursor: pointer;

    &--checked,
    &:hover {
      fill: $white;
    }
  }

  &__circle {
    &--inner,
    &--outer {
      stroke: none;
      cursor: pointer;
    }

    &--outer {
      fill: #e2e2e2;
    }

    &--checked {
      fill: $white;
    }
  }

  &__rectangle {
    &--inner,
    &--outer {
      stroke: none;
    }

    &--outer {
      fill: #ebebeb;
    }
  }

  &__part:hover &__circle--outer,
  &__part:hover ~ &__name {
    fill: $white;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

:host-context(.invalid-localizer) {
  .shoulder__rectangle--outer {
    fill: red !important;
  }
}
