::ng-deep {
  &.custom-calendar-input {
    text-overflow: ellipsis !important;
  }

  .ui-datepicker {
    .ui-datepicker-prev {
      transform: translateX(200px) translateY(-8px);
      .pi-chevron-left {
        &:before {
          content: "\e907";
          font-size: 37px;
          color: #00aec2;
        }
      }
    }

    .ui-datepicker-next {
      transform: translateX(-17px) translateY(-8px);
      .pi-chevron-right {
        &:before {
          content: "\e906";
          font-size: 37px;
          color: #00aec2;
        }
      }
    }

    table {
      td {
        > span.ui-state-disabled {
          visibility: hidden;
          height: 0px;
          line-height: 0px;
          padding: 0px;
        }
        font-family: BentonSansLight;
        font-size: 15px;
        font-weight: 300;
        padding: 0px;
      }
      th {
        color: white;
        visibility: hidden;
        font-size: 0px;
      }
    }
    padding: 0.657em;
    left: 0 !important;
    select.ui-datepicker-month {
      border: none;
      cursor: pointer;
    }
    select.ui-datepicker-year {
      border: none;
      cursor: pointer;
    }
  }

  body {
    .ui-datepicker {
      .ui-datepicker-header {
        .ui-datepicker-title {
          font-weight: 900;
          font-size: 18px;
          font-family: BentonSansBold;
          text-align: left;
          padding-bottom: 10px;
        }
        padding-top: 0.529em;
        padding-bottom: 0px;
      }
      table {
        td {
          > a {
            width: 25px;
            height: 25px;
            line-height: 25px;
            padding: 0px;
          }
          > a.ui-state-active {
            background-color: #b2e7ed;
          }
        }
      }
    }
  }

  td {
    .ui-datepicker {
      top: 45px !important;
    }
  }

  div.ui-datepicker {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  div.ui-datepicker-header {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }

  .ui-datepicker-title {
    select {
      -webkit-appearance: none;
      line-height: 1.2;
    }
  }

  rr-calendar-input {
    .ui-inputtext {
      padding-left: 25px !important;
      border-width: 3px;
      font-family: BentonSansLight;
    }
    .ui-calendar {
      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        left: 13px;
        top: 18px;
        background: #000000;
      }
    }
  }
}

body {
  .ui-datepicker {
    table {
      td {
        > span {
          padding: 0px;
        }
      }
    }
  }
}

.label-week-name {
  font-family: BentonSansLight;
  font-size: 15px;
  font-weight: 300;
  padding: 0px;
}

.label-week--container {
  position: absolute;
  transform: translateY(35px);
  display: flex;
  flex-direction: row;
}

.label-week--name {
  text-align: center;
  user-select: none;
  color: #f80202;
  width: 40px;
}
