<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-8 m-b-12">
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-list">
      <div
        class="f-start f-vertical o-radio-list m-b-12"
        [rrDisable]="model.descriptionType !== descriptionType.IKnow"
      >
        <h2 rr-id="sho_m_0402217" class="m-b-12">
          {{ 'shoulderMRT.bones.differentialDiagnosis1.value' | translate }}*
        </h2>

        <rr-differential-diagnosis-dropdown
          [diagnosisNumber]="1"
          isActiveOnIKnow="true"
          [options]="differentialDiagnosisArray"
          [(ngModel)]="model.tumorDifferentialDiagnosis"
          (selectionChanged)="clearSubordinated()"
          name="tumorDifferentialDiagnosis"
          group="true"
          rrId="sho_m_0402218"
          [parentViewModel]="model"
          rrValidation="tumorDifferentialDiagnosis"
        ></rr-differential-diagnosis-dropdown>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0402219" class="m-b-9">
          {{ 'shoulderMRT.bones.localization.value' | translate }}
        </h2>
        <p-radioButton
          rr-id="sho_m_0402220"
          [(ngModel)]="model.secondLocalizationType"
          label="{{ 'shoulderMRT.bones.epiphyseal.value' | translate }}"
          name="secondLocalizationType"
          [value]="secondLocalizationType.Epiphyseal"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0402221"
          [(ngModel)]="model.secondLocalizationType"
          label="{{ 'shoulderMRT.bones.metaphyseal.value' | translate }}"
          name="secondLocalizationType"
          [value]="secondLocalizationType.Metaphyseal"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0402222"
          [(ngModel)]="model.secondLocalizationType"
          label="{{ 'shoulderMRT.bones.diaphyseal.value' | translate }}"
          name="secondLocalizationType"
          [value]="secondLocalizationType.Diaphyseal"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0402223">
          {{ 'shoulderMRT.bones.limitation.value' | translate }}*
        </h2>
        <p-radioButton
          rr-id="sho_m_0402224"
          [(ngModel)]="model.limitationType"
          label="{{ 'shoulderMRT.bones.sharp.value' | translate }}"
          name="limitationType"
          [value]="limitationType.Sharp"
          rrValidation="limitationType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0402225"
          [(ngModel)]="model.limitationType"
          label="{{ 'shoulderMRT.bones.illDefinedMargin.value' | translate }}"
          name="limitationType"
          [value]="limitationType.IIIDefinedMargin"
          rrValidation="limitationType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0402226"
          [(ngModel)]="model.limitationType"
          label="{{ 'shoulderMRT.bones.brushShaped.value' | translate }}"
          name="limitationType"
          [value]="limitationType.BrushShaped"
          rrValidation="limitationType"
        >
        </p-radioButton>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0402227">
          {{ 'shoulderMRT.bones.homogeneity.value' | translate }}
        </h2>
        <p-radioButton
          rr-id="sho_m_0402228"
          [(ngModel)]="model.homogeneityType"
          label="{{ 'shoulderMRT.bones.heterogeneous.value' | translate }}"
          name="homogeneityType"
          [value]="homogeneityType.Inhomogeneous"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0402229"
          [(ngModel)]="model.homogeneityType"
          label="{{ 'shoulderMRT.bones.homogeneous.value' | translate }}"
          name="homogeneityType"
          [value]="homogeneityType.Homogeneous"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-list">
      <div class="f-start f-vertical o-radio-list m-b-38">
        <h2 rr-id="sho_m_0403220">
          {{ 'shoulderMRT.bones.corticalBone.value' | translate }}*
        </h2>
        <p-radioButton
          rr-id="sho_m_0403221"
          [(ngModel)]="model.cortexType"
          label="{{ 'shoulderMRT.bones.normal.value' | translate }}"
          name="cortexType"
          [value]="cortexType.Normal"
          rrValidation="cortexType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0403222"
          [(ngModel)]="model.cortexType"
          label="{{ 'shoulderMRT.bones.destruction.value' | translate }}"
          name="cortexType"
          [value]="cortexType.Destruction"
          rrValidation="cortexType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0403223"
          [(ngModel)]="model.cortexType"
          label="{{ 'shoulderMRT.bones.thinningScalopping.value' | translate }}"
          name="cortexType"
          [value]="cortexType.ThinningScalopping"
          rrValidation="cortexType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0403224"
          [(ngModel)]="model.cortexType"
          label="{{ 'shoulderMRT.bones.permeation.value' | translate }}"
          name="cortexType"
          [value]="cortexType.Permeation"
          rrValidation="cortexType"
        >
        </p-radioButton>
      </div>
      <div class="f-start f-vertical o-radio-list m-b-30">
        <h2 rr-id="sho_m_0403225" class="m-b-3">
          {{ 'shoulderMRT.bones.signalT1w.value' | translate }}
        </h2>
        <p rr-id="sho_m_0403243" class="m-b-15">
          {{ 'shoulderMRT.bones.signalDescription.value' | translate }}
        </p>
        <rr-signal-slider
          rr-id="sho_m_0403226"
          [(ngModel)]="model.signalT1w"
          name="signalT1w"
        >
        </rr-signal-slider>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0403227" class="m-b-3">
          {{ 'shoulderMRT.bones.signalT2w.value' | translate }}
        </h2>
        <p rr-id="sho_m_0403244" class="m-b-15">
          {{ 'shoulderMRT.bones.signalDescription.value' | translate }}
        </p>
        <rr-signal-slider
          rr-id="sho_m_0403228"
          [(ngModel)]="model.signalT2w"
          name="signalT2w"
        >
        </rr-signal-slider>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical">
      <div
        class="f-start f-vertical o-radio-list m-b-37"
        [rrDisable]="technologyModel && technologyModel.cmReinforcedType !== simpleAnswerType.Yes"
      >
        <h2 rr-id="sho_m_0404219">
          {{ 'shoulderMRT.bones.caEnhancementQuantitative.value' | translate }}
        </h2>
        <p-radioButton
          rr-id="sho_m_0404220"
          [(ngModel)]="model.cMenhancementQuantitativeType"
          label="{{ 'shoulderMRT.bones.strong.value' | translate }}"
          name="cMenhancementQuantitativeType"
          [value]="cmEnhancementQuantitativeType.Strong"
          rrUnClickRadio
          rrContentReset="powerfulOrLowCMEnhancQuantHomogeneityType-block powerfulOrLowCMEnhancQuantDistributionType-block"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404221"
          [(ngModel)]="model.cMenhancementQuantitativeType"
          label="{{ 'shoulderMRT.bones.mild.value' | translate }}"
          name="cMenhancementQuantitativeType"
          [value]="cmEnhancementQuantitativeType.Low"
          rrUnClickRadio
          rrContentReset="powerfulOrLowCMEnhancQuantHomogeneityType-block powerfulOrLowCMEnhancQuantDistributionType-block"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404222"
          [(ngModel)]="model.cMenhancementQuantitativeType"
          label="{{ 'shoulderMRT.bones.no.value' | translate }}"
          name="cMenhancementQuantitativeType"
          [value]="cmEnhancementQuantitativeType.No"
          rrUnClickRadio
          rrContentReset="powerfulOrLowCMEnhancQuantHomogeneityType-block powerfulOrLowCMEnhancQuantDistributionType-block"
        >
        </p-radioButton>
        <div
          class="f-start f-vertical o-radio-list nested-content"
          id="powerfulOrLowCMEnhancQuantHomogeneityType-block"
          [rrDisable]="isCMEnhancementDisabled"
        >
          <p-radioButton
            rr-id="sho_m_0404223"
            [(ngModel)]="model.noCMEnhancementHomogeneityType"
            label="{{ 'shoulderMRT.bones.homogeneous.value' | translate }}"
            name="noCMEnhancementHomogeneityType"
            [value]="homogeneityType.Homogeneous"
            rrUnClickRadio
            rrContentReset="inhomogeneousNoCMEnhancHomoType-block"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="sho_m_0404224"
            [(ngModel)]="model.noCMEnhancementHomogeneityType"
            label="{{ 'shoulderMRT.bones.heterogeneous.value' | translate }}"
            name="noCMEnhancementHomogeneityType"
            [value]="homogeneityType.Inhomogeneous"
            rrUnClickRadio
            rrContentReset="inhomogeneousNoCMEnhancHomoType-block"
          >
          </p-radioButton>
          <div
            class="f-start f-vertical o-radio-list nested-content"
            id="inhomogeneousNoCMEnhancHomoType-block"
            [rrDisable]="model.noCMEnhancementHomogeneityType !== homogeneityType.Inhomogeneous"
          >
            <p-checkbox
              rr-id="sho_m_0404225"
              [(ngModel)]="model.isSeptal"
              label="{{ 'shoulderMRT.bones.septal.value' | translate }}"
              name="isSeptal"
              binary="true"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
      <div
        class="f-start f-vertical o-radio-list"
        id="powerfulOrLowCMEnhancQuantDistributionType-block"
        [rrDisable]="isCMEnhancementDisabled"
      >
        <h2 rr-id="sho_m_0404226" class="m-b-13">
          {{ 'shoulderMRT.bones.caEnhancementDistribution.value' | translate }}
        </h2>
        <p-radioButton
          rr-id="sho_m_0404227"
          [(ngModel)]="model.cmEnhancementDistributionType"
          label="{{ 'shoulderMRT.bones.peripheral.value' | translate }}"
          name="cmEnhancementDistributionType"
          [value]="cmEnhancementDistributionType.Peripheral"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404228"
          [(ngModel)]="model.cmEnhancementDistributionType"
          label="{{ 'shoulderMRT.bones.withinTheEntireLesion.value' | translate }}"
          name="cmEnhancementDistributionType"
          [value]="cmEnhancementDistributionType.WithinTheEntireLesionOrMass"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404229"
          [(ngModel)]="model.cmEnhancementDistributionType"
          label="{{ 'shoulderMRT.bones.central.value' | translate }}"
          name="cmEnhancementDistributionType"
          [value]="cmEnhancementDistributionType.Central"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404230"
          [(ngModel)]="model.cmEnhancementDistributionType"
          label="{{ 'shoulderMRT.bones.septal2.value' | translate }}"
          name="cmEnhancementDistributionType"
          [value]="cmEnhancementDistributionType.Septal"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="sho_m_0404231"
          [(ngModel)]="model.cmEnhancementDistributionType"
          label="{{ 'shoulderMRT.bones.nidus.value' | translate }}"
          name="cmEnhancementDistributionType"
          [value]="cmEnhancementDistributionType.Nidus"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-pad-l c-sep f-start f-vertical">
      <div class="f-start f-vertical o-radio-list m-b-17">
        <h2 rr-id="sho_m_0405216">
          {{ 'shoulderMRT.bones.shape.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="sho_m_0405217"
          [(ngModel)]="model.isLobulated"
          label="{{ 'shoulderMRT.bones.lobulated.value' | translate }}"
          name="isLobulated"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405218"
          [(ngModel)]="model.isRound"
          label="{{ 'shoulderMRT.bones.round.value' | translate }}"
          name="isRound"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405219"
          [(ngModel)]="model.isGeographicConfiguration"
          label="{{ 'shoulderMRT.bones.geographicConfigurations.value' | translate }}"
          name="isGeographicConfiguration"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405220"
          [(ngModel)]="model.isBroadBased"
          label="{{ 'shoulderMRT.bones.broadBased.value' | translate }}"
          name="isBroadBased"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405221"
          [(ngModel)]="model.isStalked"
          label="{{ 'shoulderMRT.bones.stalked.value' | translate }}"
          name="isStalked"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405222"
          [(ngModel)]="model.isOrientationFromTheEpiphysisTowardsTheDiaphysis"
          label="{{ 'shoulderMRT.bones.orientationTurnedAway.value' | translate }}"
          labelStyleClass="text-break"
          name="isOrientationFromTheEpiphysisTowardsTheDiaphysis"
          binary="true"
        >
        </p-checkbox>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0405223" class="m-b-12">
          {{ 'shoulderMRT.bones.peripheralChanges.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="sho_m_0405224"
          [(ngModel)]="model.isPeriostealReactionSunburst"
          label="{{ 'shoulderMRT.bones.periostealReaction.value' | translate }}"
          name="isPeriostealReactionSunburst"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405225"
          [(ngModel)]="model.isPeriostealSpurCodmanSpur"
          label="{{ 'shoulderMRT.bones.periostealSpur.value' | translate }}"
          name="isPeriostealSpurCodmanSpur"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405226"
          [(ngModel)]="model.isCartilageCap"
          label="{{ 'shoulderMRT.bones.cartilageCap.value' | translate }}"
          name="isCartilageCap"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405227"
          [(ngModel)]="model.isScleroticMargin"
          label="{{ 'shoulderMRT.bones.scleroticMargin.value' | translate }}"
          name="isScleroticMargin"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0405228"
          [(ngModel)]="model.isMarginWithLowSignalPerichondriumAboveCartilageCap"
          label="{{ 'shoulderMRT.bones.marginWithLowSignal.value' | translate }}"
          labelStyleClass="text-break"
          name="isMarginWithLowSignalPerichondriumAboveCartilageCap"
          binary="true"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
