@import "../settings.component.scss";

.table-cell {
  min-width: 220px;
}

.table-cell:first-child {
  min-width: 75px !important;
}

.table-cell:last-child {
  min-width: 130px !important;
}

.report-settings-table {
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
}

.table-header-label {
  height: fit-content;
  margin: 0;
  line-height: 18px;
}

.w-282 {
  width: 282px;
}

.w-300 {
  width: 300px;
}

.selected-module-dropdown::ng-deep .ui-dropdown {
  max-width: 275px;
}
