.container {
  position: relative;
  width: 98%;
  height: 10px;
  padding: 0;
  outline: none;
  margin: 0;
}

.thumb {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  cursor: pointer;
}

.left-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

input[type="range"].left-fill {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  box-sizing: content-box;
  padding-left: 0;
  padding-right: 0;
  z-index: -10;
  margin-top: 4px;
  border-radius: 6px;
}

input[type="range"].left-fill::-webkit-slider-runnable-track {
  height: 6px;
  -webkit-appearance: none;
  color: #13bba4;
}

input[type="range"].left-fill::-webkit-slider-thumb {
  width: 0;
  -webkit-appearance: none;
  height: 0;
  background: #434343;
  box-shadow: -633px 0 0 633px black;
}

[type="range"].thumb,
[type="range"].thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"].thumb {
  overflow: visible;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}

[type="range"].thumb::-webkit-slider-thumb {
  margin-top: -8px;
  box-sizing: border-box;
  border: 3px solid #00aec2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}

.slim-line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 7px;
  left: 2px;
  margin-left: 10px;
  z-index: -20;
  border-radius: 2px;
}

.labels {
  width: 98%;
  margin: 25px auto 0 0;

  & > .labels-container {
    margin-left: 8px;
    margin-right: 11px;
    display: flex;
    justify-content: space-between;

    & > {
      .label-item {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        color: #00aec2;
        padding-left: 4px;
        cursor: pointer;

        &--thin {
          font-size: 20px;
          line-height: 34px;
          font-weight: 300;
          color: #000000;
        }
      }
    }
  }

  &--new-labels {
    margin-top: 17px;

    & > .labels-container {
      margin-left: 3px;

      & > {
        .label-item {
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
  }

  &--technology-labels {
    width: 100%;
    margin-top: 16px;
    .labels-container {
      justify-content: space-between;
      margin: {
        left: 0;
        right: 0;
      }

      .label-item {
        font-size: 11px;
        text-align: center;

        &:first-child {
          width: 14%;
          text-align: left;
        }

        &:last-child {
          width: 17%;
          padding-left: 10px;
        }
        span {
          font-family: BentonSans;
        }
      }
    }
  }
}

h2 {
  font-family: BentonSans;
  font-size: 20px;
  margin: 25px 0 20px;
}
