.custom-col-height {
  margin-top: 15px;
  height: 528px;
}

.custom-1-col {
  width: 304px;
  padding: 0 15px 0 25px;
  @extend .custom-col-height;
}

.custom-2-col {
  width: 302px;
  padding: 0 15px 0 23px;
  @extend .custom-col-height;
}

.custom-3-col {
  width: 305px;
  padding: 0 15px 0 23px;
  @extend .custom-col-height;
}

.custom-4-col {
  width: 275px;
  padding: 0 15px 0 21px;
  @extend .custom-col-height;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-t-10 {
  margin-top: 10px;
}
