.align-left > * {
  align-self: flex-start;
}

.c-col-2--height {
  height: 565px;
}

p-radioButton::ng-deep {
  label {
    line-height: 22px;
  }
}

.sub-header {
  font-size: 15px;
  font-family: BentonSansLight, sans-serif;
}
