<div class="f-horizontal f-start main o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-30 m-b-10">
    <div [rrDisable]="!isCMYes" class="m-l-10 o-radio-list">
      <h2 rr-id="hea_c_0403105">
        {{ "headCT.vessels.informationAboutThrombectomy.value" | translate }}
      </h2>
      <p-checkbox
        rr-id="hea_c_0403106"
        name="isCervicalVesselElongation"
        label="{{'headCT.vessels.cervicalVesselElongation.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCervicalVesselElongation"
      >
      </p-checkbox>
      <p-checkbox
        labelStyleClass="text-break"
        rr-id="hea_c_0403107"
        name="isUpstreamCervicalArteryWithHighGradeStenosis"
        label="{{'headCT.vessels.upstreamCervicalArteryWithHighGradeStenosis.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isUpstreamCervicalArteryWithHighGradeStenosis"
      >
      </p-checkbox>
      <p-checkbox
        labelStyleClass="text-break"
        rr-id="hea_c_0403108"
        name="isUpstreamCervicalArteryWithOcclusion"
        label="{{'headCT.vessels.upstreamCervicalArteryWithOcclusion.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isUpstreamCervicalArteryWithOcclusion"
      >
      </p-checkbox>
      <p-checkbox
        labelStyleClass="text-break"
        rr-id="hea_c_0403109"
        name="isThrombusInUpstreamCervicalArtery"
        label="{{'headCT.vessels.thrombusInUpstreamCervicalArtery.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isThrombusInUpstreamCervicalArtery"
      >
      </p-checkbox>
      <p-checkbox
        labelStyleClass="text-break"
        rr-id="hea_c_0403110"
        name="isDissectionOfUpstreamCervicalArtery"
        label="{{'headCT.vessels.dissectionOfUpstreamCervicalArtery.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isDissectionOfUpstreamCervicalArtery"
      >
      </p-checkbox>
      <p-checkbox
        labelStyleClass="text-break"
        rr-id="hea_c_0403111"
        name="isOstialStenosisAffectedVessel"
        label="{{'headCT.vessels.ostialStenosisAffectedVessel.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isOstialStenosisAffectedVessel"
      >
      </p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-30 m-b-10">
    <div class="m-l-10 o-radio-list">
      <rr-reference-picture
        [(ngModel)]="model.referencePicture"
        [referenceId]="model.id"
        [fileUploadUrl]="fileUploadUrl"
        [elementsRrIds]="referencePictureElementsRrIds"
        [pictureFileType]="headCTPicturesTypeEnum.ImageFile"
        name="referencePicture"
      ></rr-reference-picture>
    </div>
  </div>
  <div class="c-col-1 c-pad-l m-t-30 m-b-10"></div>
</div>
