.main {
  cursor: pointer;
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
}

.fill-gray-1 {
  fill: #ebebeb;
}

.fill-gray-2 {
  fill: #dfdfdf;
}

.stroke-none {
  stroke: none;
}

.stroke-white {
  stroke: #ffffff;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-gray {
  stroke: #dfdfdf;
}

.stroke-darker-gray {
  stroke: #bdbabd;
}

.stroke-darkest-gray {
  stroke: #707070;
}

.stroke-black {
  stroke: #161615;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-075 {
  stroke-width: 0.75px;
}

.stroke-round {
  stroke-linecap: round;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-linejoin-round {
  stroke-linejoin: round;
}

.stroke-limit-10 {
  stroke-miterlimit: 10;
}

.background-border {
  @extend .fill-white;
  @extend .stroke-3;
  @extend .stroke-gray;
}

.selectable {
  &-normal {
    fill: red;
    opacity: 0;
  }
  &-darker {
    fill: #dd2323;
    opacity: 0;
  }
}

.opacity-06 {
  opacity: 0.6;
}

.opacity-07 {
  opacity: 0.7;
}

:host-context(.invalid-localizer) {
  .background-border {
    stroke: red !important;
  }
}
