<!--      col 1 -->
<div class="c-col-1 c-pad c-sep f-vertical m-t-10 m-b-15">
  <div class="p-l-10 o-radio-list text-break">
    <h2 rr-id="han_m_040277">
      {{'handMRT.bones.internalStructure.value' | translate}}
    </h2>

    <p-checkbox
      label="{{'handMRT.bones.septated.value' | translate}}"
      rr-id="han_m_040278"
      binary="true"
      name="isSeptated"
      [(ngModel)]="model.isSeptated"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.fluidLevel.value' | translate}}"
      rr-id="han_m_040279"
      binary="true"
      name="isFluidLevel"
      [(ngModel)]="model.isFluidLevel"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.calcification.value' | translate}}"
      rr-id="han_m_040280"
      binary="true"
      name="isCalcification"
      rrContentReset="is-calcification-block"
      [(ngModel)]="model.isCalcification"
    >
    </p-checkbox>
    <div
      class="nested-content o-radio-list"
      id="is-calcification-block"
      [rrDisable]="!model.isCalcification"
    >
      <p-checkbox
        label="{{'handMRT.bones.central.value' | translate}}"
        rr-id="han_m_040281"
        binary="true"
        name="isCentral"
        [(ngModel)]="model.isCentral"
      >
      </p-checkbox>

      <p-checkbox
        label="{{'handMRT.bones.diffuse.value' | translate}}"
        rr-id="han_m_040282"
        binary="true"
        name="isDiffuse"
        [(ngModel)]="model.isDiffuse"
      >
      </p-checkbox>
    </div>

    <p-checkbox
      label="{{'handMRT.bones.nidus.value' | translate}}"
      rr-id="han_m_040283"
      binary="true"
      name="isNidus"
      [(ngModel)]="model.isNidus"
      rrContentReset="is-nidus-block"
    >
    </p-checkbox>

    <div
      class="nested-content o-radio-list"
      id="is-nidus-block"
      [rrDisable]="!model.isNidus"
    >
      <p-checkbox
        label="{{'handMRT.bones.t2wHyperintense.value' | translate}}"
        rr-id="han_m_040284"
        binary="true"
        name="isT2wHyperintense"
        [(ngModel)]="model.isT2wHyperintense"
      >
      </p-checkbox>
    </div>

    <p-checkbox
      label="{{'handMRT.bones.osteoidMatrix.value' | translate}}"
      rr-id="han_m_040285"
      binary="true"
      name="isOsteoidMatrix"
      [(ngModel)]="model.isOsteoidMatrix"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.fatSignal.value' | translate}}"
      rr-id="han_m_040286"
      binary="true"
      name="isFatSignal"
      [(ngModel)]="model.isFatSignal"
    >
    </p-checkbox>
  </div>
</div>

<!--col 2-->
<div class="c-col-1 c-pad c-sep f-vertical m-t-10 m-b-15">
  <div class="p-l-10 o-radio-list">
    <h2 rr-id="han_m_0403161">
      {{'handMRT.bones.peripheralChanges.value' | translate}}
    </h2>

    <p-checkbox
      label="{{'handMRT.bones.periostealReactionSunBurst.value' | translate}}"
      rr-id="han_m_0403162"
      binary="true"
      name="isSunBurst"
      [(ngModel)]="model.isSunBurst"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.periostealSpur.value' | translate}}"
      rr-id="han_m_0403163"
      binary="true"
      name="isCodmanSpur"
      [(ngModel)]="model.isCodmanSpur"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.cartilageCap.value' | translate}}"
      rr-id="han_m_0403164"
      binary="true"
      name="isCartilageCap"
      [(ngModel)]="model.isCartilageCap"
      rrContentReset="cartilage-froup"
    >
    </p-checkbox>

    <div
      class="nested-content"
      id="cartilage-froup"
      [rrDisable]="!model.isCartilageCap"
    >
      <p rr-id="han_m_0403165">
        {{'handMRT.bones.maxThickness.value' | translate}}
      </p>

      <rr-number-input
        inputRrId="han_m_0403166"
        labelRrId="han_m_0403167"
        name="maxCartilageThicness"
        [(ngModel)]="model.maxCartilageThicness"
        [label]="'handMRT.bones.inMm.value' | translate"
        [config]="{min: 1, max: 40, labelWidth: 200}"
      >
      </rr-number-input>

      <p-checkbox
        label="{{'handMRT.bones.capT2wHyperintense.value' | translate}}"
        rr-id="han_m_0403168"
        binary="true"
        name="isCapT2wHyperintense"
        [(ngModel)]="model.isCapT2wHyperintense"
        class="m-t-10"
      >
      </p-checkbox>
    </div>

    <p-checkbox
      label="{{'handMRT.bones.scleroticMargin.value' | translate}}"
      rr-id="han_m_0403169"
      binary="true"
      name="isScleroticMargin"
      [(ngModel)]="model.isScleroticMargin"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.marginWithLowSignal.value' | translate}}"
      rr-id="han_m_0403170"
      binary="true"
      name="isMarginWithLowSignal"
      [(ngModel)]="model.isMarginWithLowSignal"
    >
    </p-checkbox>
  </div>
</div>

<!--col 3-->
<div class="c-col-1 c-pad c-sep f-vertical m-t-10 m-b-15">
  <div class="p-l-10 o-radio-list">
    <h2 rr-id="han_m_0404135">
      {{'handMRT.bones.growthPatterns.value' | translate}}
    </h2>

    <p-checkbox
      label="{{'handMRT.bones.expansile.value' | translate}}"
      rr-id="han_m_0404136"
      binary="true"
      name="isExpansile"
      [(ngModel)]="model.isExpansile"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.osteolytic.value' | translate}}"
      rr-id="han_m_0404137"
      binary="true"
      name="isOsteolytic"
      [(ngModel)]="model.isOsteolytic"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.osteoblastic.value' | translate}}"
      rr-id="han_m_0404138"
      binary="true"
      name="isOsteoblastic"
      [(ngModel)]="model.isOsteoblastic"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.sclerotic.value' | translate}}"
      rr-id="han_m_0404139"
      binary="true"
      name="isSclerotic"
      [(ngModel)]="model.isSclerotic"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.softTissueInfiltration.value' | translate}}"
      rr-id="han_m_0404140"
      binary="true"
      name="isSoftTissueInfiltration"
      [(ngModel)]="model.isSoftTissueInfiltration"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.infiltrationOfAdjacentBone.value' | translate}}"
      rr-id="han_m_0404141"
      binary="true"
      name="isAdjacentBoneInfiltration"
      [(ngModel)]="model.isAdjacentBoneInfiltration"
    >
    </p-checkbox>
  </div>

  <div class="o-radio-list m-t-30 p-l-10">
    <h2 rr-id="han_m_0404142">
      {{'handMRT.bones.inadequateTrauma.value' | translate}}
    </h2>
    <p-checkbox
      label="{{'handMRT.bones.pathologicalFracture.value' | translate}}"
      rr-id="han_m_0404143"
      binary="true"
      name="isPathologicalFracture"
      [(ngModel)]="model.isPathologicalFracture"
      rrContentReset="is-pathological-block"
    >
    </p-checkbox>
    <div
      class="nested-content o-radio-list"
      id="is-pathological-block"
      [rrDisable]="!model.isPathologicalFracture"
    >
      <p-checkbox
        label="{{'handMRT.bones.suspected.value' | translate}}"
        rr-id="han_m_0404144"
        binary="true"
        name="isPathologicalFractureSuspected"
        [(ngModel)]="model.isPathologicalFractureSuspected"
      >
      </p-checkbox>
    </div>
  </div>
</div>

<!--      col 4-->
<div class="c-col-1 c-pad-l f-vertical m-t-10 m-b-15">
  <div class="p-l-10 o-radio-list">
    <h2 rr-id="han_m_0405127">
      {{'handMRT.bones.associatedFindings2.value' | translate}}
    </h2>

    <p-checkbox
      label="{{'handMRT.bones.softTissueEdema.value' | translate}}"
      rr-id="han_m_0405128"
      binary="true"
      name="isSoftTissueEdema"
      [(ngModel)]="model.isSoftTissueEdema"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.boneMarrowEdema.value' | translate}}"
      rr-id="han_m_0405129"
      binary="true"
      name="isBoneMarrowEdema"
      [(ngModel)]="model.isBoneMarrowEdema"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.perifocalSclerosis.value' | translate}}"
      rr-id="han_m_0405130"
      binary="true"
      name="isPerifocalSclerosis"
      [(ngModel)]="model.isPerifocalSclerosis"
    >
    </p-checkbox>

    <p-checkbox
      label="{{'handMRT.bones.surroundingInflammatoryReaction.value' | translate}}"
      rr-id="han_m_0405131"
      binary="true"
      name="isSurroundingInflammatoryReaction"
      [(ngModel)]="model.isSurroundingInflammatoryReaction"
    >
    </p-checkbox>

    <div class="o-radio-list m-t-30 m-b-10">
      <h2 rr-id="han_m_0405132" rrInfoIcon="han_m_04_15">
        {{'handMRT.bones.localExpansion.value' | translate}}
      </h2>

      <p-radioButton
        rr-id="han_m_0405133"
        label="{{'handMRT.bones.intracompartmental.value' | translate}}"
        name="intracompartmental"
        [value]="localExpansionTypeEnum.Intracompartmental"
        [(ngModel)]="model.localExpansionType"
      >
      </p-radioButton>

      <p-radioButton
        rr-id="han_m_0405134"
        label="{{'handMRT.bones.extracompartmental.value' | translate}}"
        name="extracompartmental"
        [value]="localExpansionTypeEnum.Extracompartmental"
        [(ngModel)]="model.localExpansionType"
      >
      </p-radioButton>
    </div>
  </div>
</div>
