.uploader-container {
  border-radius: 4px;
  border: 3px solid #dfdfdf;
  height: 40px;
  width: 100%;
  font-size: 18px;
  font-family: BentonSansLight;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label-bullet {
  font-size: 25px;
  padding: {
    left: 7px;
    right: 7px;
  }
}

.uploader-action-icons {
  display: flex;
  flex-direction: row;
  margin: {
    left: auto;
    right: 10px;
  }
  cursor: pointer;

  img {
    vertical-align: sub;
  }

  > *:not(:first-child) {
    margin-left: 9px;
  }
}

.file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 7px;
}
