* {
  user-select: none;
}

.localizer {
  position: absolute;
  top: 25px;
  left: 30px;
  background: #ffffff;
}

.header {
  font-size: 60px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.description {
  font-size: 15px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.text-bold {
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.text {
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
  font-size: 21px;
}

.text-hovered {
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
  font-size: 21px;
  fill: #00aec2;
}

.text-selected {
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
  font-size: 21px;
  fill: #f80202;
}

.text-with-icon {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
  font-size: 21px;

  &-hovered {
    font-family: BentonSansBold, BentonSans;
    font-weight: 700;
    color: #00aec2;
  }
  &-selected {
    font-family: BentonSansBold, BentonSans;
    font-weight: 700;
    color: #f80202;
  }
}

.pointer {
  cursor: pointer;
}

.element {
  stroke: #00aec2;
  stroke-width: 2px;
  opacity: 0.6;
  fill: #fff;
}

.element-hovered {
  stroke: #fff;
  stroke-width: 2px;
  fill: #00aec2;
  opacity: 0.6;
}

.element-selected {
  stroke: #fff;
  stroke-width: 2px;
  fill: #f80202;
  opacity: 0.6;
}

.separators {
  stroke: #707070;
}

.cls-6 {
  fill: url(#pattern);
}

.cls-7 {
  font-size: 40px;
  font-family: BentonSansBold;
}

.cls-16 {
  fill: #fff;
}

.cls-18 {
  stroke-width: 6px;
  stroke: #fff;
}

.cls-17 {
  fill: #00aec2;
}
