.m-l-15 {
  margin-left: 15px;
}

.caption {
  fill: #2b2e34;
  font-family: BentonSansBold;
  font-weight: 700;
  font-size: 12px;
}

.part-number {
  fill: #2b2e34;
  font-family: BentonSansBold;
  font-weight: 700;
  font-size: 15px;
  pointer-events: none;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.inner-field {
  fill: #fff;
  cursor: pointer;
}

.middle-circle {
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.border {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: none;
}

:host-context(.invalid-localizer) {
  .validation-border {
    stroke: red;
  }
}
