.main-container {
  width: 1680px;
  margin: 40px auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 8px;
  table-layout: fixed;
}

/* Widths */

/* Username */
thead tr > th:first-child {
  padding-left: 15px;
  width: 245px;
}

/* Title */
thead tr > th:nth-child(2) {
  width: 160px;
}

/* Initial */
thead tr > th:nth-child(3) {
  width: 60px;
}

/* Role */
thead tr > th:nth-child(4) {
  width: 100px;
}

/* ID */
thead tr > th:nth-child(5) {
  width: 190px;
}

/* Approval level */
thead tr > th:nth-child(6) {
}

/* Password */
thead tr > th:nth-child(7) {
}

/* Position */
thead tr > th:nth-child(8) {
  width: 140px;
}

/* Lang app */
thead tr > th:nth-child(9) {
}

/* Lang doctor */
thead tr > th:nth-child(10) {
}

/* Lang patient */
thead tr > th:nth-child(11) {
}

/* Status switch */
thead tr > th:nth-child(12) {
  width: 90px;
}

/* UserModel profile button */
thead th:last-child {
  width: 44px;
}

/* Header rows */

thead tr.marker-row {
  height: 5px;
}

thead tr.marker-row > th {
  position: sticky;
  top: 0;
  border-radius: 0;
}

thead tr.header-row {
  color: #fff;
  height: 45px;
  padding: 5px 5px;
}

thead tr.header-row > th {
  font-family: BentonSansBold;
  font-weight: normal;
  font-size: 15px;
  position: sticky;
  top: 10px;
  background: #00aec2;
  cursor: pointer;
}

thead tr > th:nth-child(1) {
  text-align: left;
}

thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Normal rows */

tbody tr {
  color: #000;
  height: 45px;
  padding: 5px 0px;
}

tbody tr > td {
  background-color: #fff;
  font-family: BentonSans;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

tbody tr > td {
  position: sticky;
  top: 85px;
  font-family: BentonSansBold;
}

tbody td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tbody tr > td:first-child {
  text-align: left;
}

tbody tr > td:last-child {
  cursor: pointer;
  width: 45px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #dedbdb;
  padding-left: 3px;
  padding-right: 0;
}

body {
  background-color: #bdc3c7;
}

/*
    Cell styling
  */

.overflow--dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow--wrap-words {
  word-break: normal;
}

/*
    Status switches
  */

tr > td > div.status-switch {
  display: inline-block;
}

tr > td > div.status-switch > div.status-label {
  color: white;
  font-size: 13.5px;
  font-weight: 700;
  transform: translateX(0px);
  padding-top: 3px;
  height: 0;
  pointer-events: none;
  user-select: none;
}

tr > td > div.status-switch > div.status-label.label--on {
  padding-left: 15px;
}

tr > td > div.status-switch > div.status-label.label--off {
  padding-right: 20px;
}

::ng-deep tr > td > div.status-switch > div.status-input {
  transform: rotateZ(180deg) translateY(-25px);
  height: 0;
}

::ng-deep
  body
  .ui-inputswitch.ui-inputswitch-checked
  .ui-inputswitch-slider:before {
  transform: translateX(36px);
}

::ng-deep .ui-inputswitch-slider,
::ng-deep body .ui-inputswitch {
  width: 60px;
}
