<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad f-vertical m-t-14 m-b-12 o-radio-list">
      <h2
        rr-id="nec_m_040213"
        rrInfoIcon="nec_m_04_04"
        class="text-break m-b-12"
      >
        {{'neckMRT.pharynx.fasciaSpacessupraAndInfrahyoidal.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="nec_m_040215"
        name="isPharyngealMucosalSpacePms"
        label="{{'neckMRT.pharynx.pharyngealMucosalSpacePMS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPharyngealMucosalSpacePms"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040216"
        name="isParapharyngealSpacePps"
        label="{{'neckMRT.pharynx.parapharyngealSpacePPS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isParapharyngealSpacePps"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040217"
        name="isMasticatorSpaceMs"
        label="{{'neckMRT.pharynx.masticatorSpaceMS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isMasticatorSpaceMs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040218"
        name="isBuccalSpaceBs"
        label="{{'neckMRT.pharynx.buccalSpaceBS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isBuccalSpaceBs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040219"
        name="isParotidSpacePs"
        label="{{'neckMRT.pharynx.parotidSpacePS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isParotidSpacePs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040220"
        name="isCarotidSpaceCs"
        label="{{'neckMRT.pharynx.carotidSpaceCS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCarotidSpaceCs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040221"
        name="isRetropharyngealSpaceRpsAndDangerSpace"
        class="text-break m-b-5"
        label="{{'neckMRT.pharynx.retropharyngealSpaceRPSandDanger.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isRetropharyngealSpaceRpsAndDangerSpace"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040222"
        name="isPerivertebralSpacePvsPrevertebral"
        class="m-b-5"
        label="{{'neckMRT.pharynx.perivertebralSpacePVSprevertebral.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPerivertebralSpacePvsPrevertebral"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040223"
        name="isPerivertebralSpacePvsParaspinal"
        class="m-b-4"
        label="{{'neckMRT.pharynx.perivertebralSpacePVSparaspinal.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPerivertebralSpacePvsParaspinal"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040224"
        name="isVisceralSpaceVs"
        label="{{'neckMRT.pharynx.visceralSpaceVS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isVisceralSpaceVs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040225"
        name="isAnteriorCervicalSpaceAcs"
        label="{{'neckMRT.pharynx.anteriorCervicalSpaceACS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isAnteriorCervicalSpaceAcs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040226"
        name="isPosteriorCervicalSpacePcs"
        label="{{'neckMRT.pharynx.posteriorCervicalSpacePCS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPosteriorCervicalSpacePcs"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-sep c-pad m-t-14 m-b-12 o-radio-list">
      <h2
        rr-id="nec_m_040335"
        rrInfoIcon="nec_m_04_05"
        class="text-break m-b-11"
      >
        {{'neckMRT.pharynx.fasciaSpacesoralCavityinferiorOropharynx.value' |
        translate}}
      </h2>
      <p-checkbox
        rr-id="nec_m_040336"
        name="isOralMucosalSpaceOms"
        label="{{'neckMRT.pharynx.oralMucosalSpaceOMS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isOralMucosalSpaceOms"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040337"
        name="isSublingualSpaceSls"
        label="{{'neckMRT.pharynx.sublingualSpaceSLS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSublingualSpaceSls"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040338"
        name="isSubmandibularSpaceSms"
        label="{{'neckMRT.pharynx.submandibularSpaceSMS.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSubmandibularSpaceSms"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040339"
        name="isRootOfTheTongueRot"
        label="{{'neckMRT.pharynx.rootOfTheTongue.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isRootOfTheTongueRot"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040340"
        name="isFasciaSpacesLingualTonsils"
        label="{{'neckMRT.pharynx.lingualTonsils.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isFasciaSpacesLingualTonsils"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040341"
        name="isFasciaSpacesValleculae"
        label="{{'neckMRT.pharynx.valleculae.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isFasciaSpacesValleculae"
        class="m-b-30"
        (ngModelChange)="checkIfMoreThanOneInColumn2And3Selected()"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_040342"
        name="isTransspatialGrowth"
        styleClass="ui-blue-box"
        class="checkbox-readonly"
        label="{{'neckMRT.pharynx.transspatialGrowth.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isTransspatialGrowth"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-14 m-b-12 o-radio-list">
      <h2 rr-id="nec_m_040419" class="m-b-11">
        {{'neckMRT.pharynx.expansion.value' | translate}}
      </h2>
      <div class="f-vertical o-radio-list m-b-11">
        <h3 rr-id="nec_m_040420" class="m-b-4">
          {{ 'neckMRT.pharynx.size.value' | translate }}*
        </h3>
        <rr-number-input
          inputRrId="nec_m_040421"
          labelRrId="nec_m_040422"
          name="sizeInMm"
          label="{{ 'neckMRT.pharynx.inMm.value' | translate }}"
          [config]="{ min: 1, max: 150, placeholder: '---' }"
          [(ngModel)]="model.sizeInMm"
          (announceModelChange)="resetBothPlanes()"
          rrValidation="sizeInMm"
        >
        </rr-number-input>
      </div>
      <div class="f-vertical o-radio-list m-b-11" [rrDisable]="!model.sizeInMm">
        <h3 rr-id="nec_m_040423" class="m-b-4">
          {{ 'neckMRT.pharynx.2ndPlane.value' | translate }}
        </h3>
        <rr-number-input
          inputRrId="nec_m_040424"
          labelRrId="nec_m_040425"
          name="secondPlaneInMm"
          label="{{ 'neckMRT.pharynx.inMm.value' | translate }}"
          [config]="{ min: 1, max: 150, placeholder: '---' }"
          [(ngModel)]="model.secondPlaneInMm"
          (announceModelChange)="resetThirdPlane()"
        >
        </rr-number-input>
      </div>
      <div
        class="f-vertical o-radio-list m-b-31"
        [rrDisable]="!model.secondPlaneInMm"
      >
        <h3 rr-id="nec_m_040426" class="m-b-5">
          {{ 'neckMRT.pharynx.3rdPlane.value' | translate }}
        </h3>
        <rr-number-input
          inputRrId="nec_m_040427"
          labelRrId="nec_m_040428"
          name="thirdPlaneInMm"
          label="{{ 'neckMRT.pharynx.inMm.value' | translate }}"
          [config]="{ min: 1, max: 150, placeholder: '---' }"
          [(ngModel)]="model.thirdPlaneInMm"
        >
        </rr-number-input>
      </div>
      <h3 rr-id="nec_m_040429">
        {{'neckMRT.pharynx.asymmetry.value' | translate}}
      </h3>
      <p-radioButton
        rr-id="nec_m_040430"
        rrUnClickRadio
        name="asymmetryType"
        [value]="asymmetryType.ToTheRight"
        label="{{'neckMRT.pharynx.toTheRight.value' | translate}}"
        [(ngModel)]="model.asymmetryType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040431"
        rrUnClickRadio
        name="asymmetryType"
        [value]="asymmetryType.ToTheLeft"
        label="{{'neckMRT.pharynx.toTheLeft.value' | translate}}"
        [(ngModel)]="model.asymmetryType"
      >
      </p-radioButton>
    </div>
    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-14 m-b-12 o-radio-list">
      <h2 rr-id="nec_m_040507">
        {{'neckMRT.pharynx.margin.value' | translate}}*
      </h2>
      <p-radioButton
        rr-id="nec_m_040508"
        name="marginType"
        [value]="marginType.Circumscribed"
        label="{{'neckMRT.pharynx.circumscribed.value' | translate}}"
        [(ngModel)]="model.marginType"
        rrValidation="marginType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040509"
        name="marginType"
        class="m-b-30"
        [value]="marginType.NonCircumscribed"
        label="{{'neckMRT.pharynx.noncircumscribed.value' | translate}}"
        [(ngModel)]="model.marginType"
        rrValidation="marginType"
      >
      </p-radioButton>
      <h2 rr-id="nec_m_040510">
        {{'neckMRT.pharynx.homogeneity.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="nec_m_040511"
        rrUnClickRadio
        name="massHomogeneityType"
        [value]="massHomogeneityType.Homogeneous"
        label="{{'neckMRT.pharynx.homogeneous.value' | translate}}"
        [(ngModel)]="model.massHomogeneityType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040512"
        rrUnClickRadio
        name="massHomogeneityType"
        class="m-b-32"
        [value]="massHomogeneityType.Heterogeneous"
        label="{{'neckMRT.pharynx.heterogeneous.value' | translate}}"
        [(ngModel)]="model.massHomogeneityType"
      >
      </p-radioButton>
      <h2 rr-id="nec_m_040513">
        {{'neckMRT.pharynx.shape.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="nec_m_040514"
        rrUnClickRadio
        name="shapeType"
        [value]="shapeType.Round"
        label="{{'neckMRT.pharynx.round.value' | translate}}"
        [(ngModel)]="model.shapeType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040515"
        rrUnClickRadio
        name="shapeType"
        [value]="shapeType.Lobulated"
        label="{{'neckMRT.pharynx.lobulated.value' | translate}}"
        [(ngModel)]="model.shapeType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040516"
        rrUnClickRadio
        name="shapeType"
        [value]="shapeType.BroadBased"
        label="{{'neckMRT.pharynx.broadbased.value' | translate}}"
        [(ngModel)]="model.shapeType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="nec_m_040517"
        rrUnClickRadio
        name="shapeType"
        [value]="shapeType.Pedunculated"
        label="{{'neckMRT.pharynx.pedunculated.value' | translate}}"
        [(ngModel)]="model.shapeType"
      >
      </p-radioButton>
    </div>
  </div>
</div>
