.header {
  min-height: 116px;
}

.tabView-header {
  height: 55px;
}

.sub-header__font {
  font-size: 15px;
}

.input-box {
  height: 40px;
  min-width: 105px;
  text-align: center;
  margin-right: 7px;
}

.overflow-section {
  max-height: 525px;
  padding-top: 5px;
  overflow: visible;
}

.overflow-section__dynamic-component {
  margin-bottom: 11px;
  z-index: 20;
}

.c-sep-l {
  border-left: 1px solid black;
}

.dynamic-component-button--bottom-margin {
  margin-bottom: 10px;
}
