<div id="digitusOne" class="f-horizontal">
  <div class="c-col-1 c-sep c-pad o-list lower-columns">
    <div class="o-radio-list">
      <h2 rr-id="han_m_050311">
        {{'handMRT.capsuleAndRibbons.pathology.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="han_m_050312"
        binary="true"
        label="{{'handMRT.capsuleAndRibbons.annularPulleyRupture.value' | translate }}"
        name="isAnnularPulleyRupture"
        [(ngModel)]="model.isAnnularPulleyRupture"
        [rrContentReset]="'isRingbandRupture'"
        [rrValidation]="['isAnnularPulleyRupture', 'isTenosynovitisStenosans', 'isRuptureOfTheExtensorTendon']"
      ></p-checkbox>
      <div
        class="o-radio-list left-indent"
        [rrDisable]="!model.isAnnularPulleyRupture"
        id="isRingbandRupture"
      >
        <p-radioButton
          rr-id="han_m_050313"
          label="{{'handMRT.capsuleAndRibbons.a1.value' | translate }}"
          name="annularPulleyRupturType"
          [value]="sectionType.A1"
          [(ngModel)]="model.annularPulleyRupturType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="han_m_050314"
          label="{{'handMRT.capsuleAndRibbons.o.value' | translate }}"
          name="annularPulleyRupturType"
          [value]="sectionType.O"
          [(ngModel)]="model.annularPulleyRupturType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="han_m_050315"
          label="{{'handMRT.capsuleAndRibbons.a2.value' | translate }}"
          name="annularPulleyRupturType"
          [value]="sectionType.A2"
          [(ngModel)]="model.annularPulleyRupturType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
    <div class="o-radio-list m-t-25">
      <p-checkbox
        rr-id="han_m_050316"
        binary="true"
        label="{{'handMRT.capsuleAndRibbons.tenosynovitisStenosans.value' | translate }}"
        name="isTenosynovitisStenosans"
        [(ngModel)]="model.isTenosynovitisStenosans"
        labelStyleClass="text-break"
        [rrContentReset]="'isTendovaginitisStenosans'"
        [rrValidation]="['isAnnularPulleyRupture', 'isTenosynovitisStenosans', 'isRuptureOfTheExtensorTendon']"
      ></p-checkbox>
      <div
        class="o-radio-list left-indent"
        [rrDisable]="!model.isTenosynovitisStenosans"
        id="isTendovaginitisStenosans"
      >
        <p-radioButton
          rr-id="han_m_050317"
          label="{{'handMRT.capsuleAndRibbons.a1.value' | translate }}"
          name="tenosynovitisStenosansType"
          [value]="sectionType.A1"
          [(ngModel)]="model.tenosynovitisStenosansType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="han_m_050318"
          label="{{'handMRT.capsuleAndRibbons.o.value' | translate }}"
          name="tenosynovitisStenosansType"
          [value]="sectionType.O"
          [(ngModel)]="model.tenosynovitisStenosansType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="han_m_050319"
          label="{{'handMRT.capsuleAndRibbons.a2.value' | translate }}"
          name="tenosynovitisStenosansType"
          [value]="sectionType.A2"
          [(ngModel)]="model.tenosynovitisStenosansType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
    <div class="o-radio-list m-t-25">
      <p-checkbox
        rr-id="han_m_050320"
        binary="true"
        label="{{'handMRT.capsuleAndRibbons.ruptureOfTheExtensor.value' | translate }}"
        name="isRuptureOfTheExtensorTendon"
        [(ngModel)]="model.isRuptureOfTheExtensorTendon"
        [rrContentReset]="'isExtensorTendonRupture'"
        [rrValidation]="['isAnnularPulleyRupture', 'isTenosynovitisStenosans', 'isRuptureOfTheExtensorTendon']"
      ></p-checkbox>
      <div
        class="o-radio-list left-indent"
        [rrDisable]="!model.isRuptureOfTheExtensorTendon"
        id="isExtensorTendonRupture"
      >
        <p-checkbox
          rr-id="han_m_050321"
          binary="true"
          label="{{'handMRT.capsuleAndRibbons.avulsionFracture.value' | translate }}"
          name="isAvulsionFracture"
          [(ngModel)]="model.isAvulsionFracture"
        ></p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad lower-columns o-list">
    <div class="o-radio-list">
      <p rr-id="han_m_050401">
        {{'handMRT.capsuleAndRibbons.collateralLigamentInjury.value' | translate
        }}
      </p>
      <p-radioButton
        rr-id="han_m_050402"
        label="{{'handMRT.capsuleAndRibbons.ligamentumCollateraleUlnare(LCU.value' | translate }}"
        name="collateralLigamentInjuryType"
        [value]="collateralLigamentInjuryType.RuptureOfTheLigamentumUlnareLCU"
        [(ngModel)]="model.collateralLigamentInjuryType"
        rrContentReset="ligamentumCollateraleUlnareBlock ligamentumCollateraleRadialBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050403"
        label="{{'handMRT.capsuleAndRibbons.ligamentumCollateraleRadial(LCR.value' | translate }}"
        name="collateralLigamentInjuryType"
        [value]="collateralLigamentInjuryType.RuptureOfTheLigamentumRadialLCR"
        [(ngModel)]="model.collateralLigamentInjuryType"
        rrContentReset="ligamentumCollateraleUlnareBlock ligamentumCollateraleRadialBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050404"
        label="{{'handMRT.capsuleAndRibbons.iPUlnar.value' | translate }}"
        name="collateralLigamentInjuryType"
        [value]="collateralLigamentInjuryType.IPUlnar"
        [(ngModel)]="model.collateralLigamentInjuryType"
        rrContentReset="ligamentumCollateraleUlnareBlock ligamentumCollateraleRadialBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050405"
        label="{{'handMRT.capsuleAndRibbons.iPRadial.value' | translate }}"
        name="collateralLigamentInjuryType"
        [value]="collateralLigamentInjuryType.IPRadial"
        [(ngModel)]="model.collateralLigamentInjuryType"
        rrContentReset="ligamentumCollateraleUlnareBlock ligamentumCollateraleRadialBlock"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l lower-columns">
    <div
      id="ligamentumCollateraleUlnareBlock"
      class="o-radio-list"
      *ngIf="model.collateralLigamentInjuryType === collateralLigamentInjuryType.RuptureOfTheLigamentumUlnareLCU"
    >
      <p-radioButton
        rr-id="han_m_050501"
        label="{{'handMRT.capsuleAndRibbons.strain.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.Strain"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050502"
        label="{{'handMRT.capsuleAndRibbons.partialRupture.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.PartialRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050503"
        label="{{'handMRT.capsuleAndRibbons.nondisplacedCompleteRupture.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.NonDisplacedCompleteRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050504"
        rrInfoIcon="han_m_05_08"
        label="{{'handMRT.capsuleAndRibbons.displacedCompleteRupture(stener.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.DisplacedCompleteRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <div
        id="avulsionInjuryBlock"
        class="o-radio-list p-l-35"
        [rrDisable]="model.ruptureOfTheLigamentInjurySubType !== ligamentumCollateraleUlnareType.DisplacedCompleteRupture"
      >
        <p-checkbox
          rr-id="han_m_050505"
          binary="true"
          label="{{'handMRT.capsuleAndRibbons.avulsionInjury.value' | translate }}"
          name="isAvulsionInjury"
          [(ngModel)]="model.isAvulsionInjury"
        ></p-checkbox>
      </div>
    </div>
    <div
      id="ligamentumCollateraleRadialBlock"
      class="o-radio-list"
      *ngIf="model.collateralLigamentInjuryType === collateralLigamentInjuryType.RuptureOfTheLigamentumRadialLCR"
    >
      <p-radioButton
        rr-id="han_m_050501"
        label="{{'handMRT.capsuleAndRibbons.strain.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.Strain"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050502"
        label="{{'handMRT.capsuleAndRibbons.partialRupture.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.PartialRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050503"
        label="{{'handMRT.capsuleAndRibbons.nondisplacedCompleteRupture.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.NonDisplacedCompleteRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050504"
        label="{{'handMRT.capsuleAndRibbons.displacedCompleteRupture.value' | translate }}"
        name="ruptureOfTheLigamentInjurySubType"
        [value]="ligamentumCollateraleUlnareType.DisplacedCompleteRupture"
        [(ngModel)]="model.ruptureOfTheLigamentInjurySubType"
        rrContentReset="avulsionInjuryBlock2"
        rrUnClickRadio
      ></p-radioButton>
      <div
        id="avulsionInjuryBlock2"
        class="o-radio-list p-l-35"
        [rrDisable]="model.ruptureOfTheLigamentInjurySubType !== ligamentumCollateraleUlnareType.DisplacedCompleteRupture"
      >
        <p-checkbox
          rr-id="han_m_050505"
          binary="true"
          label="{{'handMRT.capsuleAndRibbons.avulsionInjury.value' | translate }}"
          name="isAvulsionInjury"
          [(ngModel)]="model.isAvulsionInjury"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
