.classification-elem {
  cursor: pointer;
  font-size: 9px;
  font-family: BentonSansBold;
  fill: #b2b2b2;
}

/* pre-click */
.classification-elem > .classification-path.classification-unchecked {
  fill: #b2b2b2;
}

.classification-elem > .classification-fill.part-unchecked {
  fill: #ffffff;
}

.classification-elem > .classification-caption.part-unchecked {
  font-size: 9px;
  font-family: BentonSansBold;
  font-weight: 700;
  fill: #000000;
}

/* on hover */
.classification-elem:hover > .classification-path.part-unchecked {
  fill: #00aec2;
  opacity: 0.6;
}

.classification-elem:hover > .classification-caption.part-unchecked {
  fill: #00aec2;
  font-weight: 700;
}

.classification-elem:hover > .classification-number.part-unchecked {
  fill: #ffffff;
}

/* post-click */
.classification-elem > .classification-path.part-checked,
.classification-elem:hover > .classification-path.part-checked {
  fill: #f80202;
  opacity: 0.6;
}

.classification-elem > .classification-caption.part-checked,
.classification-elem:hover > .classification-caption.part-checked {
  fill: #f80202;
  font-weight: 700;
}

.classification-elem > .classification-fill.part-checked,
.classification-elem:hover > .classification-fill.part-checked {
  fill: #ffffff;
}

/* section imported from Adobe Xd */
.classification-author {
  fill: #b2b2b2;
  font-size: 7px;
  font-family: BentonSans;
}

.classification__background {
  fill: #fff;
  stroke: #dfdfdf;
  stroke-width: 3px;
}

.classification-outer-circle {
  stroke: none;
}

.classification-inner-circle {
  fill: none;
}

:host-context(.invalid-localizer) {
  .classification-inner-circle {
    stroke: red;
  }
}
