<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-8 m-b-12">
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <h2 rr-id="sho_m_0402230">
        {{ 'shoulderMRT.bones.internalChanges.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="sho_m_0402231"
        [(ngModel)]="model.isSeptated"
        label="{{ 'shoulderMRT.bones.septated.value' | translate }}"
        name="isSeptated"
        binary="true"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="sho_m_0402232"
        [(ngModel)]="model.isFluidLevel"
        label="{{ 'shoulderMRT.bones.fluidLevel.value' | translate }}"
        name="isFluidLevel"
        binary="true"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="sho_m_0402233"
        [(ngModel)]="model.isCalcification"
        label="{{ 'shoulderMRT.bones.calcification.value' | translate }}"
        name="isCalcification"
        binary="true"
        rrContentReset="isCalcification-block"
      >
      </p-checkbox>
      <div
        class="f-start f-vertical o-radio-list nested-content"
        id="isCalcification-block"
        [rrDisable]="!model.isCalcification"
      >
        <p-checkbox
          rr-id="sho_m_0402234"
          [(ngModel)]="model.isCentrally"
          label="{{ 'shoulderMRT.bones.central.value' | translate }}"
          name="isCentrally"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0402235"
          [(ngModel)]="model.isDiffuselyDistributed"
          label="{{ 'shoulderMRT.bones.diffuse.value' | translate }}"
          name="isDiffuselyDistributed"
          binary="true"
        >
        </p-checkbox>
      </div>
      <p-checkbox
        rr-id="sho_m_0402236"
        [(ngModel)]="model.isNidus"
        label="{{ 'shoulderMRT.bones.nidus.value' | translate }}"
        name="isNidus"
        binary="true"
        rrContentReset="isNidus-block"
      >
      </p-checkbox>
      <div
        class="f-start f-vertical o-radio-list nested-content"
        id="isNidus-block"
        [rrDisable]="!model.isNidus"
      >
        <p-checkbox
          rr-id="sho_m_0402239"
          [(ngModel)]="model.isT2wHyperIntense"
          label="{{ 'shoulderMRT.bones.t2wHyperintense.value' | translate }}"
          name="isT2wHyperIntense"
          binary="true"
        >
        </p-checkbox>
      </div>
      <p-checkbox
        rr-id="sho_m_0402237"
        [(ngModel)]="model.isOsteoidMatrix"
        label="{{ 'shoulderMRT.bones.osteoidMatrix.value' | translate }}"
        name="isOsteoidMatrix"
        binary="true"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="sho_m_0402238"
        [(ngModel)]="model.isFatSignal"
        label="{{ 'shoulderMRT.bones.fatSignal.value' | translate }}"
        name="isFatSignal"
        binary="true"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="sho_m_0402240"
        [(ngModel)]="model.isCapT2wHyperintense"
        label="{{ 'shoulderMRT.bones.capT2wHyperintense.value' | translate }}"
        name="isCapT2wHyperintense"
        binary="true"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-list">
      <div class="f-start f-vertical o-radio-list m-b-33">
        <h2 rr-id="sho_m_0403229">
          {{ 'shoulderMRT.bones.growthPatterns.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="sho_m_0403230"
          [(ngModel)]="model.isExpansive"
          label="{{ 'shoulderMRT.bones.expansive.value' | translate }}"
          name="isExpansive"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403231"
          [(ngModel)]="model.isOsteolytic"
          label="{{ 'shoulderMRT.bones.osteolytic.value' | translate }}"
          name="isOsteolytic"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403232"
          [(ngModel)]="model.isOsteoblastic"
          label="{{ 'shoulderMRT.bones.osteoblastic.value' | translate }}"
          name="isOsteoblastic"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403233"
          [(ngModel)]="model.isSclerotic"
          label="{{ 'shoulderMRT.bones.sclerotic.value' | translate }}"
          name="isSclerotic"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403234"
          [(ngModel)]="model.isInfiltrationOfSoftTissue"
          label="{{ 'shoulderMRT.bones.infiltrationOfSoftTissue.value' | translate }}"
          name="isInfiltrationOfSoftTissue"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403235"
          [(ngModel)]="model.isInfiltrationOfAdjacentBones"
          label="{{ 'shoulderMRT.bones.infiltrationOfAdjacentBones.value' | translate }}"
          labelStyleClass="text-break"
          name="isInfiltrationOfAdjacentBones"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403236"
          [(ngModel)]="model.isPathologicalFracture"
          label="{{ 'shoulderMRT.bones.pathologicalFracture.value' | translate }}"
          name="isPathologicalFracture"
          binary="true"
        >
        </p-checkbox>
      </div>
      <div class="f-start f-vertical o-radio-list">
        <h2 rr-id="sho_m_0403237">
          {{ 'shoulderMRT.bones.surroundingTissueReaction.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="sho_m_0403238"
          [(ngModel)]="model.isEnvironmentalReactionSoftTissueEdema"
          label="{{ 'shoulderMRT.bones.softTissueEdema.value' | translate }}"
          name="isEnvironmentalReactionSoftTissueEdema"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403239"
          [(ngModel)]="model.isBoneMarrowEdema"
          label="{{ 'shoulderMRT.bones.boneMarrowEdema.value' | translate }}"
          name="isBoneMarrowEdema"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403240"
          [(ngModel)]="model.isPerilesionalSclerosis"
          label="{{ 'shoulderMRT.bones.perilesionalSclerosis.value' | translate }}"
          name="isPerilesionalSclerosis"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="sho_m_0403241"
          [(ngModel)]="model.isSurroundingInflammatoryReaction"
          label="{{ 'shoulderMRT.bones.surroundingTissueInflammation.value' | translate }}"
          name="isSurroundingInflammatoryReaction"
          binary="true"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-start f-vertical o-radio-list">
      <h2 rr-id="sho_m_0404232">
        {{ 'shoulderMRT.bones.staging.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="sho_m_0404233"
        [(ngModel)]="model.isAnotherLesionSameEntity"
        label="{{ 'shoulderMRT.bones.anotherLesionSameEntity.value' | translate }}"
        labelStyleClass="text-break"
        name="isAnotherLesionSameEntity"
        binary="true"
        rrContentReset="isAnotherLesionSameEntity-block"
      >
      </p-checkbox>
      <div
        class="f-start f-vertical o-radio-list nested-content m-b-17"
        id="isAnotherLesionSameEntity-block"
        [rrDisable]="!model.isAnotherLesionSameEntity"
      >
        <p-checkbox
          rr-id="sho_m_0404234"
          [(ngModel)]="model.isWithinThePrimarilyAffected"
          label="{{ 'shoulderMRT.bones.withinThePrimarilyAffectedBone.value' | translate }}"
          labelStyleClass="text-break"
          name="isWithinThePrimarilyAffected"
          binary="true"
        >
        </p-checkbox>
      </div>
      <p-checkbox
        rr-id="sho_m_0404235"
        [(ngModel)]="model.isStagingPathologicalFracture"
        label="{{ 'shoulderMRT.bones.pathologicalFracture.value' | translate }}"
        name="isStagingPathologicalFracture"
        binary="true"
        class="m-b-23"
      >
      </p-checkbox>
      <p rr-id="sho_m_0404236">
        {{ 'shoulderMRT.bones.localExtension.value' | translate }}
      </p>
      <p-radioButton
        rr-id="sho_m_0404237"
        [(ngModel)]="model.localPropagationType"
        label="{{ 'shoulderMRT.bones.intracompartimental.value' | translate }}"
        name="localPropagationType"
        [value]="localPropagationType.Intracompartimental"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="sho_m_0404238"
        [(ngModel)]="model.localPropagationType"
        label="{{ 'shoulderMRT.bones.extracompartimental.value' | translate }}"
        name="localPropagationType"
        [value]="localPropagationType.Extracompartimental"
        rrUnClickRadio
      >
      </p-radioButton>
    </div>
    <div
      class="c-col-1 c-pad-l c-sep f-start f-vertical o-list"
      [rrDisable]="isDifferentialDiagnosisPartDisabled"
    >
      <h2 rr-id="sho_m_0405229" class="m-t-5 m-b-9">
        {{ 'shoulderMRT.bones.differentialDiagnosis.value' | translate }}
      </h2>
      <div
        class="f-start f-vertical o-radio-list m-b-19"
        [rrDisable]="model.descriptionType !== descriptionType.IDescribe"
      >
        <p rr-id="sho_m_0405230" class="m-b-3">
          {{ 'shoulderMRT.bones.differentialDiagnosis1.value' | translate }}*
        </p>

        <rr-differential-diagnosis-dropdown
          class="c-pad-r"
          [diagnosisNumber]="1"
          [options]="differentialDiagnosisArray"
          [(ngModel)]="model.differentialDiagnosis01"
          (selectionChanged)="clearIsSubordinated()"
          name="differentialDiagnosis01"
          group="true"
          rrId="sho_m_0405231"
          [parentViewModel]="model"
          rrValidation="differentialDiagnosis01"
        ></rr-differential-diagnosis-dropdown>
      </div>
      <div
        class="f-start f-vertical o-radio-list m-b-10"
        [rrDisable]="isDifferentialDiagnosis02Disabled"
      >
        <p rr-id="sho_m_0405232" class="m-b-3">
          {{ 'shoulderMRT.bones.differentialDiagnosis2.value' | translate }}
        </p>
        <rr-differential-diagnosis-dropdown
          class="c-pad-r"
          [diagnosisNumber]="2"
          [options]="secondDifferentialDiagnosisArray"
          [(ngModel)]="model.differentialDiagnosis02"
          (selectionChanged)="clearIsSubordinated()"
          name="differentialDiagnosis02"
          group="true"
          rrId="sho_m_0405233"
          [parentViewModel]="model"
        ></rr-differential-diagnosis-dropdown>
      </div>
      <div
        class="f-start f-vertical o-radio-list"
        [rrDisable]="model.differentialDiagnosis02 === secondTumorDifferentialDiagnosis.None"
      >
        <p-checkbox
          rr-id="sho_m_0405234"
          [(ngModel)]="model.isSubordinated"
          label="{{ 'shoulderMRT.bones.subordinated.value' | translate }}"
          class="m-b-19"
          name="isSubordinated"
          binary="true"
        >
        </p-checkbox>
        <p rr-id="sho_m_0405235" class="m-b-3">
          {{ 'shoulderMRT.bones.differentialDiagnosis3.value' | translate }}
        </p>
        <rr-differential-diagnosis-dropdown
          class="c-pad-r"
          [diagnosisNumber]="3"
          [options]="secondDifferentialDiagnosisArray"
          [(ngModel)]="model.differentialDiagnosis03"
          name="differentialDiagnosis03"
          group="true"
          rrId="sho_m_0405236"
          [parentViewModel]="model"
        ></rr-differential-diagnosis-dropdown>
      </div>
    </div>
  </div>
</div>
