/* Text */
/* Headers */
.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
  margin-bottom: 0;
}

.slide h1 {
  font-size: 22px;
  font-family: BentonSansBold, Helvetica, sans-serif;
  letter-spacing: 0.65px;
}

.slide h2 {
  font-size: 18px;
  font-family: BentonSansBold, Helvetica, sans-serif;
}

.slide h3 {
  font-size: 18px;
  font-family: BentonSansLight, Helvetica, sans-serif;
}

/* Paragraphs */
.slide p {
  font-family: BentonSansLight;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
}

/* Others */
/* Separators */

.slide .separator > div {
  padding-top: 0px;
  margin-top: 10px;
  height: 100%;
}

.slide .separator > div:not(:last-child) {
  border-right: 1px solid #000000;
}

.slide .slim-row {
  padding-left: 10px;
}

.slide .slim-row > .p-col-12 {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  margin-top: 3px;
}

.slide .slim-row > .p-col-12:first-child {
  margin-top: 10px;
}

.slide .title-gap {
  margin-top: 43px;
}

.slide .disabled {
  pointer-events: none;
  opacity: 0.3;
}

.slide .bold {
  font-family: BentonSansBold, Helvetica, sans-serif;
}

/* Grid  */

.col-h-100 {
  height: 100%;
}

.p-col-10 {
  width: 10%;
}

.p-col-20 {
  width: 20%;
}

.p-col-25 {
  width: 25%;
}

.p-col-40 {
  width: 40%;
}

.p-col-50 {
  width: 50%;
}

.p-col-60 {
  width: 60%;
}

.p-col-75 {
  width: 75%;
}

.p-col-80 {
  width: 80%;
}

.p-col-100 {
  width: 100%;
}

.p-col-10,
.p-col-20,
.p-col-25,
.p-col-40,
.p-col-50,
.p-col-60,
.p-col-75,
.p-col-80,
.p-col-100 {
  flex: 0 0 auto;
  padding: 0 8px 0;
  float: left;
}

.p-col {
  padding: 8px 8px 0;
}

.py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.pyu-2 {
  padding-top: 8px !important;
}

.pyd-2 {
  padding-bottom: 8px !important;
}

.py-3 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.pyu-3 {
  padding-top: 10px !important;
}

.pyd-3 {
  padding-bottom: 10px !important;
}

.py-4 {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}

.pyu-4 {
  padding-top: 12px !important;
}

.pyd-4 {
  padding-bottom: 12px !important;
}

.p-grid {
  margin-right: -8px;
  margin-left: -8px;
  margin-top: -8px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

button {
  outline: none;
}

/*
  New styling according to the Style Guidelines
*/

.text-break {
  white-space: pre-line !important;
}

.text-break2 {
  white-space: pre !important;
}

/*removing shadow from PrimeNG elements*/

body .ui-shadow {
  box-shadow: none;
}

/* Flexbox container settings */
/* Direction */
.f-vertical {
  display: flex;
  flex-direction: column;
}
.f-horizontal {
  display: flex;
  flex-direction: row;
}

/* Alignment */
.f-start {
  justify-content: flex-start;
}
.f-end {
  justify-content: flex-end;
}
.f-center {
  justify-content: center;
}
.f-space-between {
  justify-content: space-between;
}
.f-space-evenly {
  justify-content: space-evenly;
}
.f-fill-available-space {
  flex: 1;
}

.f-align-center {
  align-items: center;
}
.f-align-start {
  align-items: flex-start;
}
.f-align-end {
  align-items: flex-end;
}

/* Page layout */

.c-main-slide {
  height: 768px;
  width: auto;
}

.c-main {
  height: 670px;
  width: auto;
  margin-top: 82px;
  margin-bottom: 16px;
}
.c-main > * {
  box-sizing: content-box;
}

/* column definitions */
.c-col-1 {
  width: 312px;
  box-sizing: content-box;
}
.c-col-2 {
  width: 655px;
  box-sizing: content-box;
}
.c-col-3 {
  width: 998px;
  box-sizing: content-box;
}
.c-col-4 {
  width: 1341px;
  box-sizing: content-box;
}
.c-col-5 {
  width: 1680px;
  box-sizing: content-box;
}

/* padding */
.c-pad {
  padding-left: 15px;
  padding-right: 15px;
}
.c-pad-l {
  padding-left: 15px;
}
.c-pad-r {
  padding-right: 15px;
}

.c-pad-t {
  padding-top: 15px;
}

.c-pad-b {
  padding-bottom: 15px;
}

/*margin-bottom*/

*.margin-bottom-35 {
  margin-bottom: 35px;
}

*.margin-bottom-45 {
  margin-bottom: 45px;
}

*.margin-bottom-30 {
  margin-bottom: 30px;
}

*.margin-bottom-50 {
  margin-bottom: 50px;
}

*.margin-bottom-70 {
  margin-bottom: 70px;
}

.nested-content {
  margin-left: 35px;
}
/* separator */
.c-sep:not(:last-child) {
  border-right: 1px solid black;
}

.c-sep-l {
  border-left: 1px solid #000000;
}

/* Other styling */
/* list */
.o-radio-list > :not(:last-child) {
  margin-bottom: 10px;
}
.o-radio-list-h > :not(:last-child) {
  margin-right: 10px;
}

.o-list > :not(:last-child) {
  margin-bottom: 20px;
}
.o-list-h > :not(:last-child) {
  margin-right: 20px;
}

.o-child-margin-l {
  margin-left: 35px;
}

.o-radio-list.f-vertical > p-checkbox,
.o-radio-list.f-vertical > p-radiobutton,
.o-list.f-vertical > p-checkbox,
.o-list.f-vertical > p-radiobutton {
  width: fit-content;
}

/* Element relative widths */
.o-width-25 {
  width: 25%;
}
.o-width-50 {
  width: 50%;
}
.o-width-75 {
  width: 75%;
}
.o-width-90 {
  width: 90%;
}
.o-width-100 {
  width: 100%;
}

/* NGPrime Styling according to Style Guidelines */

/* ---------------------------------Default styling of dropdown lists-----------------------------*/

body .ui-dropdown {
  border: 3px solid #00aec2;
  border-radius: 4px;
}

body .ui-dropdown .ui-dropdown-label {
  padding: 0.28em 1em 0.28em 1.5em;
  height: 34px;
  text-overflow: ellipsis;
}

body rr-multi-value-dropdown .ui-dropdown .ui-dropdown-label {
  height: 34px;
  padding: 0.28em 1em 0.28em 1.5em;
}

body
  rr-multi-value-dropdown
  .main
  .ui-dropdown
  .ui-dropdown-panel
  > div
  > ul
  p-dropdownitem:last-child
  li {
  color: red;
}

body .ui-dropdown-panel {
  border: 3px solid #00aec2;
  border-radius: 4px;
  box-sizing: content-box;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
  padding: 2px 4px 2px 12px;
  font-family: BentonSansLight;
  font-size: 18px;
}

body
  .ui-dropdown-panel
  .ui-dropdown-items
  p-dropdownitem:last-child
  .ui-dropdown-item {
  margin-bottom: 15px;
}

body .ui-dropdown .ui-dropdown-panel {
  left: -3px !important;
}

/* Styles for grouped dropdowns */
.ui-dropdown-panel .ui-dropdown-items-wrapper ul li.ui-dropdown-item-group {
  cursor: default !important;
}

.dropdown-group-item {
  font-weight: bold;
  font-size: 18px;
  font-family: BentonSansBold;
  pointer-events: none;
  padding-left: 12px !important;
}

.group-dropdown .ui-dropdown-item-group {
  @extend .dropdown-group-item;
}

.finding-group-dropdown .ui-dropdown-item-group {
  @extend .dropdown-group-item;
}

/* ---------------------------------Styling of brown dropdown lists (styleClass="ui-brown-box")-----------------------------*/

body .ui-brown-box.ui-dropdown,
body .ui-brown-box.ui-dropdown:hover,
body .ui-brown-box.ui-dropdown.ui-inputwrapper-focus,
body .ui-brown-box.ui-dropdown.ui-inputwrapper-active,
body .ui-brown-box.ui-dropdown:not(:hover) {
  border-color: #dfdfdf;
}

body .ui-brown-box .ui-dropdown-panel {
  border-color: #dfdfdf;
}

body .ui-brown-box .ui-dropdown-items-wrapper {
  background-color: #ffffff;
}

/* ---------------------------------Styling of borderless dropdown lists (styleClass="ui-no-box")-----------------------------*/

body .ui-no-box.ui-dropdown,
body .ui-no-box.ui-dropdown:hover,
body .ui-no-box.ui-dropdown.ui-inputwrapper-focus,
body .ui-no-box.ui-dropdown.ui-inputwrapper-active,
body .ui-no-box.ui-dropdown:not(:hover) {
  border: none;
}

/* ---------------------------------Styling of report list dropdown lists (styleClass="ui-report-dropdown")-----------------------------*/

body .ui-report-dropdown.ui-dropdown,
body .ui-report-dropdown.ui-dropdown:hover,
body .ui-report-dropdown.ui-dropdown.ui-inputwrapper-focus,
body .ui-report-dropdown.ui-dropdown.ui-inputwrapper-active,
body .ui-report-dropdown.ui-dropdown:not(:hover) {
  box-sizing: content-box;
  height: 3.703703vh;
  border: 0.208333vw solid white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

body .ui-report-dropdown.ui-dropdown * {
  border-radius: 0;
}

body .ui-report-dropdown.ui-dropdown .ui-dropdown-label-container,
body .ui-report-dropdown.ui-dropdown .ui-dropdown-label-container *,
body .ui-report-dropdown.ui-dropdown .ui-dropdown-trigger,
body .ui-report-dropdown.ui-dropdown .ui-dropdown-trigger-icon,
body .ui-report-dropdown.ui-dropdown .ui-dropdown-trigger-icon * {
  padding: 0;
  margin: 0;
  position: initial;
}

body .ui-report-dropdown.ui-dropdown .pi-chevron-down {
  background-color: white;
  align-self: center;
  width: 0.260417vw;
  height: 0.260417vw;
  border-radius: 50%;
}

body .ui-report-dropdown .ui-dropdown-panel {
  border-color: white;
  background-color: #00aec2;
}

body .ui-report-dropdown.ui-dropdown .ui-dropdown-label-container,
body .ui-report-dropdown.ui-dropdown .ui-dropdown-trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00aec2;
}
body .ui-report-dropdown.ui-dropdown .ui-dropdown-label-container {
  height: 3.703703vh;
  width: -webkit-fill-available;
}
body .ui-report-dropdown.ui-dropdown label,
body .ui-report-dropdown.ui-dropdown span {
  color: #f8fafa;
  background-color: #00aec2;
  font-family: BentonSansBold;
  font-size: 1.388889vh;
  text-transform: uppercase;
  line-height: 1.388889vh;
  align-self: center;
  align-items: center;
  display: flex;
  height: 100%;
}

body .ui-report-dropdown.ui-dropdown.ui-dropdown-single {
  width: 7.864583vw;
}
body .ui-report-dropdown.ui-dropdown.ui-dropdown-double {
  width: 15.729167vw;
}

body .ui-report-dropdown.ui-dropdown .ui-dropdown-panel {
  border: 0.208333vw solid white;
  border-top: none;
  border-radius: 0.208333vw;
  box-sizing: content-box;
}

body
  .ui-report-dropdown.ui-dropdown
  .ui-dropdown-panel
  .ui-dropdown-items
  .ui-dropdown-item {
  padding: 0.185185vh 0 0.185185vh 1.09375vw;
  font-family: BentonSansLight;
  font-size: 1.666667vh;
  color: white;
}

body
  .ui-report-dropdown.ui-dropdown
  .ui-dropdown-panel
  .ui-dropdown-items
  p-dropdownitem
  .ui-dropdown-item {
  text-transform: uppercase;
  color: #ffffff;
  font-family: BentonSansBold;
  font-size: 1.388889vh;
  font-weight: 700;
  padding-top: 0.565843vh;
  padding-bottom: 0.565843vh;
}

body .ui-report-dropdown.ui-dropdown .ui-dropdown-panel {
  left: -0.208333vw !important;
  top: 3.703703vh !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body
  .ui-report-dropdown.ui-dropdown
  .ui-dropdown-panel
  .ui-dropdown-items
  .ui-dropdown-item:hover {
  background-color: #4dc7d5 !important;
  color: #ffffff !important;
}

body .ui-report-dropdown.ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  border: 0.208333vw solid #f4f2f2;
}

body
  .ui-report-dropdown.ui-dropdown
  .ui-dropdown-panel
  .ui-dropdown-items
  .ui-dropdown-item.ui-state-highlight {
  background-color: #00aec2;
}

body p-dropdown label.ui-inputtext.ui-dropdown-label {
  line-height: 1.4em;
}
body p-dropdown .ui-dropdown-label-container {
  width: inherit;
}

.option-panel
  .ui-report-dropdown.ui-dropdown.ui-dropdown-double.filter-dropdown,
.option-panel
  .ui-report-dropdown.ui-dropdown.ui-dropdown-single.filter-dropdown {
  width: 6.5vw;
  height: 3.7vh;
  border: none;
}

/*Solving problem of space between dropdown item and dropdown panel*/

body .ui-dropdown [style*="top:"] {
  top: -3px !important;
  border-radius: 4px;
}

/* styling of dropdown panel when appearing above dropdown */

body div .ng-trigger.ui-dropdown-panel[style*="top: -"],
body div .ng-trigger.ui-dropdown-panel[style*="top:-"] {
  border-radius: 4px;
  bottom: -3px !important;
  top: auto !important;
}

/* dynamic component button class*/

button.dynamic-component-button {
  background-color: #00aec2;
  border-radius: 4px;
  width: 312px;
  height: 40px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: BentonSans, sans-serif;
}

/*brown-box for inputs*/

input.ui-brown-box {
  border: 3px solid #dfdfdf;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
}

/*blue-box for inputs*/

input.ui-blue-box {
  border: 3px solid #00aec2;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
}

input.ui-dark-brown-box {
  border: 3px solid #999999;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
}

input.ui-light-brown-box {
  border: 3px solid #d2d2d2;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
}

/*white-box for inputs*/

input.ui-white-box {
  border: 3px solid white;
  border-radius: 4px;
  box-sizing: content-box;
  outline: none;
}

.ui-box-height-standard {
  height: 32px;
}

.disabled-input {
  background-color: #ffffff;
}

.disabled-readonly-input {
  background-color: #b2e7ed;
}

/*
  ---------------------------------------------------------
  taken from theme.css, in need of refactoring/throwing out
  ---------------------------------------------------------
*/
/*
  RADIOBUTTON
*/
body .ui-radiobutton {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

body .ui-radiobutton .ui-radiobutton-box {
  border: 3px solid #00aec2;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  -moz-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #00aec2;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #000000;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
  background-color: #000000;
}
body
  .ui-radiobutton
  .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-focus {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  background: transparent;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon:before {
  display: none;
}
body .ui-radiobutton-label {
  margin: 0 0 0 10px;
  line-height: 25px;
  font-size: 18px;
  font-family: BentonSansLight;
  vertical-align: middle;
}

/*
  CHECKBOX
*/
body .ui-chkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
body .ui-chkbox .ui-chkbox-box {
  border: 3px solid #00aec2;
  background-color: #ffffff;
  text-align: center;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #00aec2;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #000000;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #000000;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
  border-color: #00aec2;
  background-color: #ffffff;
  color: #000000;
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  overflow: hidden;
  position: relative;
  font-size: 16px;
}
body .ui-chkbox-label {
  margin: 0em 0 0 0.5em;
  font-size: 18px;
  font-family: BentonSansBold;
  vertical-align: top;
  word-break: keep-all;
  max-width: 89%;
  text-align: left;
  font-weight: bold;
}

body p-checkbox,
body p-radiobutton {
  display: flex;
  flex-direction: row;
}

/* General RadioButton properties */
body .ui-radiobutton .ui-radiobutton-box,
body .ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-chkbox .ui-chkbox-box,
body .ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-width: 3px;
  border-style: solid;
  width: 25px;
  height: 25px;
  box-shadow: none !important;
}

body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 13px;
  height: 13px;
}

body .ui-radiobutton-label {
  font-size: 18px;
  font-family: BentonSansLight;
}

body .ui-radiobutton.ui-grey-box .ui-radiobutton-box,
body .ui-radiobutton.ui-grey-box .ui-radiobutton-box.ui-state-active,
body .ui-radiobutton.ui-grey-box .ui-radiobutton-box.ui-state-active:hover,
body .ui-radiobutton.ui-grey-box .ui-radiobutton-box:hover,
body .ui-radiobutton.ui-grey-box .ui-radiobutton-box:focus {
  pointer-events: none;
  border-color: #e2e2e2;
  background: #e6e6e6;
}

/* ui-brown-box class to be used with styleClass property of RadioButton / TextBox */

body .ui-brown-box.ui-radiobutton .ui-radiobutton-box,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box:hover,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-active:hover,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus:hover,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-default:hover,
body .ui-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-default,
body .ui-brown-box.ui-chkbox .ui-radiobutton-box,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus,
body .ui-brown-box.ui-chkbox .ui-chkbox-box:hover,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active:hover,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus:hover,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default:hover,
body .ui-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default {
  border-color: #b2b2b2;
}

/* ui-small-radio-button class to be used with styleClass property of RadioButton */
body .ui-small-radio-button.ui-radiobutton .ui-radiobutton-box {
  width: 21px;
  height: 21px;
}

body
  .ui-small-radio-button.ui-radiobutton
  .ui-radiobutton-box
  .ui-radiobutton-icon {
  width: 11px;
  height: 11px;
}
/* ------------------------------------------------------------------------------- */

.input-blue {
  border: 3px solid #00aec2;
  border-radius: 3px;
  text-align: center;
  width: 99px;
  height: 40px;
  -webkit-appearance: none;
}

.input-blue::placeholder {
  text-align: center;
}

.input-blue::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box,
body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box:hover,
body
  .ui-dark-brown-box.ui-radiobutton
  .ui-radiobutton-box.ui-state-active:hover,
body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus:hover,
body
  .ui-dark-brown-box.ui-radiobutton
  .ui-radiobutton-box.ui-state-default:hover,
body .ui-dark-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-default,
body .ui-dark-brown-box.ui-chkbox .ui-radiobutton-box,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box:hover,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active:hover,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus:hover,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default:hover,
body .ui-dark-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default {
  border-color: #999999;
}

body .ui-light-brown-box.ui-radiobutton .ui-radiobutton-box,
body .ui-light-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-light-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-light-brown-box.ui-radiobutton .ui-radiobutton-box:hover,
body
  .ui-light-brown-box.ui-radiobutton
  .ui-radiobutton-box.ui-state-active:hover,
body
  .ui-light-brown-box.ui-radiobutton
  .ui-radiobutton-box.ui-state-focus:hover,
body
  .ui-light-brown-box.ui-radiobutton
  .ui-radiobutton-box.ui-state-default:hover,
body .ui-light-brown-box.ui-radiobutton .ui-radiobutton-box.ui-state-default,
body .ui-light-brown-box.ui-chkbox .ui-radiobutton-box,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box:hover,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-active:hover,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-focus:hover,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default:hover,
body .ui-light-brown-box.ui-chkbox .ui-chkbox-box.ui-state-default {
  border-color: #dedede;
}

/*ui-white-box class to be used with styleClass property of RadioButton*/

body .ui-white-box.ui-radiobutton .ui-radiobutton-box,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box:hover,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-active:hover,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-focus:hover,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-default:hover,
body .ui-white-box.ui-radiobutton .ui-radiobutton-box.ui-state-default,
body .ui-white-box.ui-chkbox .ui-radiobutton-box,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-focus,
body .ui-white-box.ui-chkbox .ui-chkbox-box:hover,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-active:hover,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-focus:hover,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-default:hover,
body .ui-white-box.ui-chkbox .ui-chkbox-box.ui-state-default {
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
}

body
  .ui-white-box.ui-radiobutton
  .ui-radiobutton-box
  .ui-radiobutton-icon.ui-clickable.pi.pi-circle-on {
  background-color: white;
}

body .ui-white-box.ui-chkbox .ui-chkbox-icon.ui-clickable.pi.pi-check::before {
  color: white;
  text-shadow: 1px 0px 0px #ffffff;
}

body .ui-chkbox .ui-chkbox-icon.ui-clickable.pi.pi-check::before {
  font-weight: 900;
  margin-left: -3px;
  text-shadow: 1px 0px 0px #000000;
  font-size: 24px;
}

body p-checkbox {
  display: flex;
}

/*ui-white-label class to be used with labelStyleClass property of RadioButton. Should be paired with ui-white-box*/

body .ui-white-label.ui-radiobutton-label,
body .ui-white-label.ui-chkbox-label {
  color: white;
}

/*ui-fat/mid/thin-label class to be used with labelStyleClass property of RadioButton / CheckBox*/

body .ui-header-label.ui-radiobutton-label,
body .ui-header-label.ui-chkbox-label {
  font-family: BentonSansBold;
  font-size: 22px;
}

body .ui-super-fat-label.ui-radiobutton-label,
body .ui-super-fat-label.ui-chkbox-label {
  font-family: BentonSansBold;
  font-weight: 900;
  font-size: 22px;
}

body .ui-fat-label.ui-radiobutton-label,
body .ui-fat-label.ui-chkbox-label {
  font-family: BentonSansBold;
}

body .ui-mid-label.ui-radiobutton-label,
body .ui-mid-label.ui-chkbox-label {
  font-family: BentonSans;
}

body .ui-thin-label.ui-radiobutton-label,
body .ui-thin-label.ui-chkbox-label {
  font-family: BentonSansLight;
  font-weight: 300;
}

body .ui-radiobutton-label,
body .ui-chkbox-label {
  font-family: BentonSansLight;
  font-weight: 300;
  height: unset;
  line-height: 25px;
}

/* TabView */
body .ui-tabview,
body .ui-tabview.ui-tabview-top > .ui-tabview-nav,
body .ui-tabview .ui-tabview-panels {
  padding: 0;
}

body .ui-tabview-panel > * {
  width: 100%;
}

pagination-template {
  display: flex;
  justify-content: center;
}

pagination-template ul.ngx-pagination {
  padding-left: 0px;
  outline: none;
  margin-bottom: 0;
  margin-top: 0;
}

ul.ngx-pagination {
  font-family: BentonSansBold;
}

ul.ngx-pagination .current {
  background-color: #dfdfdf;
  border-radius: 50%;
  font-family: BentonSansBold;
}

ul.ngx-pagination li a:hover {
  background-color: #f5f5f5;
  border-radius: 50%;
  text-decoration: none;
  font-family: BentonSansBold;
}

.ngx-pagination a {
  outline: none;
}
body .input-number-default {
  border: 3px solid #b2b2b2;
  border-radius: 3px;
  text-align: center;
  width: 99px;
  height: 40px;
  -webkit-appearance: none;
}

body .input-blue {
  border: 3px solid #00aec2;
}

body .input-readonly {
  background-color: #b2e7ed;
  border-color: #b2e7ed;
}

/* Readonly radiobuttons with blue background */
body .radiobutton-readonly .ui-radiobutton .ui-radiobutton-box {
  border: 3px solid #b2e7ed;
  background-color: #b2e7ed;
  pointer-events: none;
}

body .radiobutton-readonly .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border: 3px solid #b2e7ed;
  background-color: #b2e7ed;
  pointer-events: none;
}

body .radiobutton-readonly .ui-radiobutton.ui-widget {
  cursor: initial;
}

body .radiobutton-readonly .ui-radiobutton-label {
  pointer-events: none;
}
/* ---------------------------------------------------- */

/* Readonly checkboxes with blue background */
body .checkbox-readonly .ui-chkbox .ui-chkbox-box {
  border-color: #b2e7ed;
  background-color: #b2e7ed;
  color: #000000;
  pointer-events: none;
}

body .checkbox-readonly .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #b2e7ed;
  background-color: #b2e7ed;
  color: #000000;
  pointer-events: none;
}

body .checkbox-readonly .ui-chkbox.ui-widget {
  cursor: initial;
}

body .checkbox-readonly .ui-chkbox-label {
  pointer-events: none;
}

body .checkbox-readonly .ui-chkbox-label img {
  pointer-events: auto;
}

/* ---------------------------------------------------- */

/* overwriting prime-ng dynamic dialog overlay according to requirements for information dialogs */
/* ui_widget_custom_overlay is add dynamically to body classList on information dialog call and remove when it's destroy */
.ui_widget_custom_overlay .ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

/*overwrite ngx-toaster error styles*/
.toast-error-custom {
  background-color: #ffffff !important;
  color: #000000 !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJhcnRib2FyZC1zdmciIHdpZHRoPSI1MjAiIGhlaWdodD0iNTIwIiB2aWV3Qm94PSIwIDAgNTIwIDUyMCI+DQogIDxkZWZzPg0KICAgIDxzdHlsZT4NCiAgICAgIC5jbHMtMjAgeyBmb250LWZhbWlseTogQmVudG9uU2Fucy1Cb2xkLCBCZW50b25TYW5zOyBmb250LXdlaWdodDogNzAwOyBmaWxsOiAjZmZmZmZmOyBmb250LXNpemU6IDM1MHB4OyB9DQogICAgPC9zdHlsZT4NCg0KICAgIDxjbGlwUGF0aCBpZD0iY2xpcC1mcmFtZV8wOV9sb2dpbl9hZGltXzVfdXNlcnMiPg0KICAgICAgPHBhdGggZD0iTTAgMGgxOTIwdjEwODBIMHoiLz4NCiAgICA8L2NsaXBQYXRoPg0KICA8L2RlZnM+DQogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiPg0KICAgICAgPGNpcmNsZSBjeD0iMjYwIiBjeT0iMjYwIiByPSIyNjAiIGRhdGEtbmFtZT0iRWxsaXBzZSA3MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPg0KICAgICAgPHRleHQgaWQ9Il8yIiBjbGFzcz0iY2xzLTIwIiBkYXRhLW5hbWU9IiEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiPg0KICAgICAgICA8dHNwYW4geD0iMjEwIiB5PSIzODAiPiE8L3RzcGFuPg0KICAgICAgPC90ZXh0Pg0KICA8L2c+DQo8L3N2Zz4NCg==") !important;
}

.toast-error-form {
  background-color: #ffffff !important;
  color: #000000 !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJhcnRib2FyZC1zdmciIHdpZHRoPSI1MjAiIGhlaWdodD0iNTIwIiB2aWV3Qm94PSIwIDAgNTIwIDUyMCI+DQogIDxkZWZzPg0KICAgIDxzdHlsZT4NCiAgICAgIC5jbHMtMjAgeyBmb250LWZhbWlseTogQmVudG9uU2Fucy1Cb2xkLCBCZW50b25TYW5zOyBmb250LXdlaWdodDogNzAwOyBmaWxsOiAjZmZmZmZmOyBmb250LXNpemU6IDM1MHB4OyB9DQogICAgPC9zdHlsZT4NCg0KICAgIDxjbGlwUGF0aCBpZD0iY2xpcC1mcmFtZV8wOV9sb2dpbl9hZGltXzVfdXNlcnMiPg0KICAgICAgPHBhdGggZD0iTTAgMGgxOTIwdjEwODBIMHoiLz4NCiAgICA8L2NsaXBQYXRoPg0KICA8L2RlZnM+DQogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiPg0KICAgICAgPGNpcmNsZSBjeD0iMjYwIiBjeT0iMjYwIiByPSIyNjAiIGRhdGEtbmFtZT0iRWxsaXBzZSA3MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPg0KICAgICAgPHRleHQgaWQ9Il8yIiBjbGFzcz0iY2xzLTIwIiBkYXRhLW5hbWU9IiEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiPg0KICAgICAgICA8dHNwYW4geD0iMjEwIiB5PSIzODAiPiE8L3RzcGFuPg0KICAgICAgPC90ZXh0Pg0KICA8L2c+DQo8L3N2Zz4NCg==") !important;
  width: 340px !important;
}

.tooltipStyleClass {
  max-width: unset;
  font-size: 12px !important;
}
.tooltipStyleClass .ui-tooltip-text p {
  margin-bottom: 2px;
}

/*VALIDATION INVALID ELEMENT*/
/*errored radio*/
.invalid:not(.disabled) > .ui-radiobutton > .ui-radiobutton-box {
  border-color: red !important;
}
.invalid:not(.disabled) > label.ui-radiobutton-label {
  color: red !important;
}

/*errored checkbox*/
.invalid:not(.disabled) > .ui-chkbox > .ui-chkbox-box {
  border-color: red !important;
}
.invalid:not(.disabled) > label.ui-chkbox-label {
  color: red !important;
}

/*errored dropdown*/
.invalid .ui-dropdown {
  background-color: red !important;
  border-color: red !important;
}
.invalid .ui-dropdown .ui-dropdown-label {
  color: red !important;
}

/*errored dropdown in finding handler (old findings implementation*/
.finding-handler-empty .main {
  background-color: red !important;
  border-color: red !important;
}
.finding-handler-empty .main .ui-dropdown .ui-dropdown-label {
  color: red !important;
}

/*paragraphs headers etc.*/
.invalid:not(.disabled) {
  color: red !important;
}

/*errored dropdown in finding column (new findings implementation*/
.invalid-dropdown {
  background-color: red !important;
  border-color: red !important;
}
.invalid-dropdown .ui-dropdown .ui-dropdown-label {
  color: red !important;
}
/*errored rr-number-input*/
.invalid .rr-number-input__input {
  border-color: red !important;
}
.invalid .rr-number-input__label {
  color: red !important;
}
/*errored rr-calendar-input*/
.invalid .custom-calendar-input {
  border-color: red !important;
}

/* ngx-taster notification position change according to client requirements */
.toast-container {
  top: 36px !important;
  right: 15px !important;
}

.custom-tab-header {
  margin-left: 10px;
  color: #000000;
}

/* font size */
.font-15 {
  font-size: 15px !important;
}

body rr-calendar-input .ui-inputtext:enabled:hover:not(.ui-state-error),
body rr-calendar-input .ui-inputtext:enabled:not(.ui-state-error),
body rr-calendar-input .ui-inputtext:enabled:focus:not(.ui-state-error) {
  font-family: BentonSansLight;
  border: 3px solid;
  border-color: #dfdfdf;
  border-radius: 4px;
}
