@import "src/variables";
@import "src/functions";

.reportlist,
.reportlist-patient-overview-dialog {
  &.reportlist-main-panel-container {
    position: relative;
    width: $reportListWidth;
    margin: 0 auto;

    .reportlist-table-container {
      position: absolute;
      top: 40px;
      line-height: 0;
    }
  }

  .reportlist-table-scrollpanel {
    height: 535px;
  }

  .reportlist-row {
    display: flex;
    width: $reportListWidth;
    height: 45px;

    .reportlist-cell {
      display: flex;
      width: 100%;

      &--bold .reportlist-cell-content-wrapper {
        font-family: BentonSansBold;
        font-weight: 400;
      }

      &--center .reportlist-cell-interior {
        padding-left: 2px !important;
      }

      &--center .reportlist-cell-content-wrapper {
        justify-content: center;
      }

      .reportlist-cell-hitarea {
        display: flex;
        width: 100%;

        &--clickable,
        &--clickable span {
          cursor: pointer;
        }

        .reportlist-cell-interior {
          display: flex;
          width: 100%;
          padding: 2px 2px 2px 10px;

          .reportlist-cell-content-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            line-height: 1.5;

            & > * {
              align-self: center;
            }

            & span {
              font-size: 15px;
            }
          }
        }
      }

      &:nth-child(1) {
        flex: 30;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:nth-child(2) {
        flex: 148;
      }

      &:nth-child(3) {
        flex: 70;
      }

      &:nth-child(4) {
        flex: 89;
      }

      &:nth-child(5) {
        flex: 52;
      }

      &:nth-child(6) {
        flex: 48;
      }

      &:nth-child(7) {
        flex: 81;
      }

      &:nth-child(8) {
        flex: 116;
      }

      &:nth-child(9) {
        flex: 89;
      }

      &:nth-child(10) {
        flex: 62;
      }

      &:nth-child(11) {
        flex: 89;
      }

      &:nth-child(12) {
        flex: 48;
      }

      &:nth-child(13) {
        flex: 48;
      }

      &:nth-child(14) {
        flex: 30;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    &.reportlist-body-row {
      &:first-child {
        margin-top: 10px;
      }

      & > .reportlist-cell:nth-child(n + 1):nth-child(-n + 13) {
        background-color: #fff;
      }

      .clonereport-cell {
        background-color: $reportListRowButtonBg !important;

        .reportlist-cell-content-wrapper {
          padding-left: 7px;
        }
      }

      .reportlist-cell-content-wrapper {
        display: flex;
      }

      .openreport-cell {
        background-color: $reportListRowButtonBg;

        &--active {
          background-color: $reportListOpenReportActiveBg;
        }

        i {
          color: white;
          font-size: px2vw(22);
        }
      }

      .status-cell {
        &--open {
          border-left: 8px solid #f80303;
        }

        &--inprogress {
          border-left: 8px solid #ffec02;
        }

        &--completed {
          border-left: 8px solid #63fe01;
        }

        &--approved {
          border-left: 8px solid black;
        }

        &--exported {
          border-left: 8px solid #1e82c1;
        }

        &--canceled {
          border-left: 8px solid #999999;
        }

        &--generated {
          border-left: 8px solid #019f3e;
        }
      }

      .age-input {
        border: 0 !important;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      .custom-calendar-input {
        width: 100%;
        height: 100%;
      }

      .ui-calendar {
        &::after {
          content: unset;
        }

        & input {
          border: 0 !important;
          padding-left: 0px !important;
          font-size: 15px !important;
          font-family: "BentonSans", "Helvetica Neue", sans-serif !important;
        }

        .ui-datepicker {
          top: 45px !important;

          .ui-datepicker-title {
            select {
              appearance: auto;

              &:first-child {
                margin-left: -6px;
              }
            }
          }

          table {
            td {
              > span.ui-state-disabled {
                visibility: visible;
                width: 25px;
                height: 25px;
                line-height: 25px;
              }
            }
          }
        }
      }

      .reportlist-body-row-input {
        width: 100%;
        border: none;
        font-size: 15px;

        &:focus {
          outline: none;
        }
      }

      .patient-name-edit-container {
        display: flex;

        :first-child {
          margin-right: 4px;
        }

        .ui-autocomplete-panel {
          min-width: 15em;
        }
      }

      .patient-name-display-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        & span {
          position: absolute;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .reportlist-row-dropdown {
        width: 100%;
        line-height: 0.9;
        max-width: 188px;

        &--large {
          min-width: 12.5em;
        }

        &--long .ui-dropdown-items-wrapper {
          max-height: 300px !important;
        }

        &.ui-dropdown {
          background: none;
          transition: none;
          border: none;

          .ui-dropdown-label {
            font-family: unset;
            height: unset;
            padding-left: unset;
          }

          .ui-dropdown-trigger {
            display: none;
          }

          .ui-dropdown-panel {
            top: 46px !important;
          }
        }

        .ui-placeholder {
          color: #666666 !important;
          text-transform: capitalize !important;
        }
      }

      &.reportlist-body-row--locked {
        opacity: 0.7;
      }
    }
  }

  &.option-panel-container {
    display: flex;
    align-items: center;

    .disabled {
      opacity: 0.5;
    }

    button {
      height: px2vh(40);
      width: px2vw(110);
      margin-right: px2vw(10);
      border: px2vw(2) solid;
      border-radius: px2vw(6);
      outline: none;
      font-family: BentonSansBold;
      font-size: px2vh(15);

      &.button {
        &--unfilled {
          border-color: #f4f2f2;
          background-color: transparent;
          color: #f8fafa;

          &-borderless {
            border: none;
          }

          &:last-child {
            margin-right: 0;
          }

          &-mine {
            font-family: BentonSans;
            width: px2vw(80);

            &-bold {
              font-family: BentonSansBold;
            }
          }

          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: px2vw(45);
            font-size: px2vh(17);
          }
        }
      }

      img {
        margin-right: px2vw(4);
        width: px2vw(20);
        height: px2vw(18);
        transform: translate(px2vw(-3), px2vh(-1));
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .filter-label-container {
      color: #fff;
      margin-left: px2vw(30);
      margin-right: px2vw(10);
      font-family: BentonSans;
      font-size: px2vh(15);
    }

    .option-panel-dropdown {
      background: #00aec2;
      line-height: 2.2;

      &--medium .ui-dropdown-items-wrapper {
        min-width: 7em;
      }

      &--large .ui-dropdown-items-wrapper {
        min-width: 12em;
      }

      &--long .ui-dropdown-items-wrapper {
        max-height: px2vh(350) !important;
      }

      &.ui-dropdown {
        border: none;

        .ui-dropdown-label {
          background: #00aec2;
          color: #fff;
          padding: 0.28em 0.5em 0.28em 0.5em;
          font-size: px2vh(15);
          font-family: BentonSans;
        }

        .ui-dropdown-trigger {
          display: none;
        }

        .ui-dropdown-item {
          font-size: 15px;

          &--bold {
            font-family: BentonSansBold;
          }
        }
      }

      .ui-placeholder {
        color: #666666 !important;
        text-transform: capitalize !important;
      }
    }
  }

  .ui-paginator {
    background-color: transparent;
    border: none;

    .ui-paginator-first,
    .ui-paginator-prev,
    .ui-paginator-next,
    .ui-paginator-last {
      border-radius: 50%;

      &:focus {
        outline: none;
      }
    }

    .ui-paginator-pages .ui-paginator-page {
      border-radius: 50%;
      margin: unset;
      line-height: 2.45em;
      color: #000;
      font-family: BentonSansBold;
      font-weight: 700;

      &:focus {
        outline: none;
      }

      &.ui-state-active {
        background-color: #d4d1d1;
        color: #fff;
      }
    }
  }
}

.reportlist-patient-overview-dialog {
  background-color: $reportListBg;

  .reportlist-row {
    width: px2vw(1600) !important;
    height: px2vh(45) !important;

    span {
      font-size: px2vh(15) !important;
    }

    .clonereport-cell .reportlist-cell-content-wrapper {
      padding-left: px2vw(7) !important;
    }
  }

  .patient-overview-container {
    display: flex;
    flex-direction: column;
    padding: px2vh(40) px2vw(20) px2vh(20) px2vw(20);

    .patient-overview-close-container {
      display: flex;
      justify-content: flex-end;

      img {
        cursor: pointer;
      }
    }

    .patient-overview-title-container {
      flex: 1;
      margin-bottom: px2vh(30);

      h1 {
        font-size: px2vh(48);
        font-family: BentonSansLight;
        font-weight: 300;
      }
    }

    .patient-overview-table-container {
      margin: 0 auto;
      flex: auto;
    }

    .patient-overview-pagination-container {
      flex: 1;
    }
  }
}
