.c-h-557 {
  height: 557px;
}

.column-margin {
  margin: 42px 0 15px 0;
  z-index: 0;
}

.column-margin-2 {
  margin: 22px 0 15px 0;
  z-index: 0;
}

::ng-deep input[type="range"].thumb,
::ng-deep input[type="range"].left-fill {
  background-color: transparent !important;
}

p-tabView ::ng-deep a {
  margin-top: 3px;
}
