<div class="finding-tab-view">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="pel_m_090269"
          class="custom-tab-header"
          [rrValidation]="['sideType', 'musclesLocalizationType', 'classificationMunichConsensusType']"
          ifAny="true"
        >
          {{ 'pelvisMRT.bladder.characterizationITabHeader.value' | translate }}
        </h1>
      </ng-template>
      <rr-muscles-characterization-one
        [model]="model"
      ></rr-muscles-characterization-one>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="pel_m_090341"
          class="custom-tab-header"
          [rrValidation]="['isIntramuscular isInterfacial isIntermuscular']"
          ifAny="true"
        >
          {{ 'pelvisMRT.bladder.characterizationIITabHeader.value' | translate
          }}
        </h1>
      </ng-template>
      <rr-muscles-characterization-two
        [model]="model"
      ></rr-muscles-characterization-two>
    </p-tabPanel>
  </p-tabView>
</div>
