<div class="f-vertical main-container o-width-100 m-t-10 m-b-13">
  <h2 rr-id="hea_m_1102233" class="p-l-25 m-b-10" rrInfoIcon="hea_m_11_10">
    {{ "headMRT.facialSkull.dentitionTeeth.value" | translate }}
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="c-col-1 c-sep c-pad">
      <div class="m-l-10 o-radio-list">
        <p-checkbox
          rr-id="hea_m_1102234"
          name="isRightUpperJaw"
          label="{{ 'headMRT.facialSkull.rightUpperJaw.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isRightUpperJaw"
          rrContentReset="rightUpperJawDetailsContainer"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="rightUpperJawDetailsContainer"
          [rrDisable]="!model.isRightUpperJaw"
        >
          <p-checkbox
            rr-id="hea_m_1102235"
            name="is11"
            label="{{ 'headMRT.facialSkull.11.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is11"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102236"
            name="is12"
            label="{{ 'headMRT.facialSkull.12.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is12"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102237"
            name="is13"
            label="{{ 'headMRT.facialSkull.13.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is13"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102238"
            name="is14"
            label="{{ 'headMRT.facialSkull.14.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is14"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102239"
            name="is15"
            label="{{ 'headMRT.facialSkull.15.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is15"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102240"
            name="is16"
            label="{{ 'headMRT.facialSkull.16.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is16"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102241"
            name="is17"
            label="{{ 'headMRT.facialSkull.17.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is17"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1102242"
            name="is18"
            label="{{ 'headMRT.facialSkull.18.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is18"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad">
      <div class="m-l-10 o-radio-list">
        <p-checkbox
          rr-id="hea_m_1103214"
          name="isLeftUpperJaw"
          label="{{ 'headMRT.facialSkull.leftUpperJaw.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isLeftUpperJaw"
          rrContentReset="leftUpperJawDetailsContainer"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="leftUpperJawDetailsContainer"
          [rrDisable]="!model.isLeftUpperJaw"
        >
          <p-checkbox
            rr-id="hea_m_1103215"
            name="is21"
            label="{{ 'headMRT.facialSkull.21.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is21"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103216"
            name="is22"
            label="{{ 'headMRT.facialSkull.22.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is22"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103217"
            name="is23"
            label="{{ 'headMRT.facialSkull.23.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is23"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103218"
            name="is24"
            label="{{ 'headMRT.facialSkull.24.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is24"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103219"
            name="is25"
            label="{{ 'headMRT.facialSkull.25.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is25"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103220"
            name="is26"
            label="{{ 'headMRT.facialSkull.26.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is26"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103221"
            name="is27"
            label="{{ 'headMRT.facialSkull.27.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is27"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1103222"
            name="is28"
            label="{{ 'headMRT.facialSkull.28.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is28"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad">
      <div class="m-l-10 o-radio-list">
        <p-checkbox
          rr-id="hea_m_1104179"
          name="isRightLowerJaw"
          label="{{ 'headMRT.facialSkull.rightLowerJaw.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isRightLowerJaw"
          rrContentReset="rightLowerJawDetailsContainer"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="rightLowerJawDetailsContainer"
          [rrDisable]="!model.isRightLowerJaw"
        >
          <p-checkbox
            rr-id="hea_m_1104180"
            name="is31"
            label="{{ 'headMRT.facialSkull.31.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is31"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104181"
            name="is32"
            label="{{ 'headMRT.facialSkull.32.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is32"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104182"
            name="is33"
            label="{{ 'headMRT.facialSkull.33.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is33"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104183"
            name="is34"
            label="{{ 'headMRT.facialSkull.34.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is34"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104184"
            name="is35"
            label="{{ 'headMRT.facialSkull.35.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is35"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104185"
            name="is36"
            label="{{ 'headMRT.facialSkull.36.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is36"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104186"
            name="is37"
            label="{{ 'headMRT.facialSkull.37.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is37"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1104187"
            name="is38"
            label="{{ 'headMRT.facialSkull.38.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is38"
          ></p-checkbox>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l">
      <div class="m-l-10 o-radio-list">
        <p-checkbox
          rr-id="hea_m_1105154"
          name="isLeftLowerJaw"
          label="{{ 'headMRT.facialSkull.leftLowerJaw.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isLeftLowerJaw"
          rrContentReset="leftLowerJawDetailsContainer"
        ></p-checkbox>
        <div
          class="nested-content o-radio-list"
          id="leftLowerJawDetailsContainer"
          [rrDisable]="!model.isLeftLowerJaw"
        >
          <p-checkbox
            rr-id="hea_m_1105155"
            name="is41"
            label="{{ 'headMRT.facialSkull.41.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is41"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105156"
            name="is42"
            label="{{ 'headMRT.facialSkull.42.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is42"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105157"
            name="is43"
            label="{{ 'headMRT.facialSkull.43.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is43"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105158"
            name="is44"
            label="{{ 'headMRT.facialSkull.44.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is44"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105159"
            name="is45"
            label="{{ 'headMRT.facialSkull.45.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is45"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105160"
            name="is46"
            label="{{ 'headMRT.facialSkull.46.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is46"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105161"
            name="is47"
            label="{{ 'headMRT.facialSkull.47.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is47"
          ></p-checkbox>
          <p-checkbox
            rr-id="hea_m_1105162"
            name="is48"
            label="{{ 'headMRT.facialSkull.48.value' | translate }}"
            binary="true"
            [(ngModel)]="model.is48"
          ></p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
