<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-14 m-b-12">
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
      <p-checkbox
        name="isFurtherFindingsMusculature"
        labelStyleClass="ui-fat-label"
        rrContentReset="isFurtherFindingsMusculature-block"
        label="{{ 'kneeMRT.softParts.furtherFindingsMusculature.value' | translate }}"
        rr-id="kne_m_0802228"
        binary="true"
        [(ngModel)]="model.isFurtherFindingsMusculature"
        rrValidation="isIntramuscularHaematoma isMuscleLesion isFurtherFindingsMusculature"
      >
      </p-checkbox>
      <div
        id="isFurtherFindingsMusculature-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="!model.isFurtherFindingsMusculature"
      >
        <p rr-id="kne_m_0802264">
          {{ 'kneeMRT.softParts.details.value' | translate }}*
        </p>
        <p-radioButton
          name="furtherFindingsMusculatureType"
          [value]="furtherFindingsMusculatureTypeEnum.FattyInfiltration"
          label="{{ 'kneeMRT.softParts.fattyInfiltration.value' | translate }}"
          rr-id="kne_m_0802229"
          [(ngModel)]="model.furtherFindingsMusculatureType"
          rrContentReset="MuscularAtrophy-block FascialLaceration-block"
          rrValidation="furtherFindingsMusculatureType"
        >
        </p-radioButton>
        <p-radioButton
          name="furtherFindingsMusculatureType"
          [value]="furtherFindingsMusculatureTypeEnum.MuscularHypotrophy"
          label="{{ 'kneeMRT.softParts.muscularHypotrophy.value' | translate }}"
          rr-id="kne_m_0802230"
          [(ngModel)]="model.furtherFindingsMusculatureType"
          rrContentReset="MuscularAtrophy-block FascialLaceration-block"
          rrValidation="furtherFindingsMusculatureType"
        >
        </p-radioButton>
        <p-radioButton
          name="furtherFindingsMusculatureType"
          [value]="furtherFindingsMusculatureTypeEnum.MuscularAtrophy"
          label="{{ 'kneeMRT.softParts.muscularAtrophy.value' | translate }}"
          rr-id="kne_m_0802231"
          [(ngModel)]="model.furtherFindingsMusculatureType"
          rrContentReset="FascialLaceration-block"
          rrValidation="furtherFindingsMusculatureType"
        >
        </p-radioButton>
        <div
          id="MuscularAtrophy-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.furtherFindingsMusculatureType !== furtherFindingsMusculatureTypeEnum.MuscularAtrophy"
        >
          <p-radioButton
            name="muscularAtrophyType"
            [value]="muscularAtrophyTypeEnum.Complete"
            label="{{ 'kneeMRT.softParts.complete.value' | translate }}"
            rr-id="kne_m_0802232"
            [(ngModel)]="model.muscularAtrophyType"
          >
          </p-radioButton>
          <p-radioButton
            name="muscularAtrophyType"
            [value]="muscularAtrophyTypeEnum.Partially"
            label="{{ 'kneeMRT.softParts.partially.value' | translate }}"
            rr-id="kne_m_0802233"
            [(ngModel)]="model.muscularAtrophyType"
          >
          </p-radioButton>
        </div>
        <p-radioButton
          name="furtherFindingsMusculatureType"
          [value]="furtherFindingsMusculatureTypeEnum.Apophysitis"
          label="{{ 'kneeMRT.softParts.apophysitis.value' | translate }}"
          rr-id="kne_m_0802234"
          [(ngModel)]="model.furtherFindingsMusculatureType"
          rrContentReset="MuscularAtrophy-block FascialLaceration-block"
          rrValidation="furtherFindingsMusculatureType"
        >
        </p-radioButton>
        <p-radioButton
          name="furtherFindingsMusculatureType"
          [value]="furtherFindingsMusculatureTypeEnum.FascialLaceration"
          label="{{ 'kneeMRT.softParts.fascialLaceration.value' | translate }}"
          rr-id="kne_m_0802235"
          [(ngModel)]="model.furtherFindingsMusculatureType"
          rrContentReset="MuscularAtrophy-block"
          rrValidation="furtherFindingsMusculatureType"
        >
        </p-radioButton>
        <div
          id="FascialLaceration-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.furtherFindingsMusculatureType !== furtherFindingsMusculatureTypeEnum.FascialLaceration"
        >
          <p-checkbox
            name="isMuscleHerniation"
            label="{{ 'kneeMRT.softParts.muscleHerniation.value' | translate }}"
            rr-id="kne_m_0802236"
            binary="true"
            [(ngModel)]="model.isMuscleHerniation"
          >
          </p-checkbox>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list"></div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list"></div>
    <div class="c-col-1 c-pad-l c-sep f-vertical f-start o-radio-list"></div>
  </div>
</div>
