<div class="f-start f-horizontal col-h-100 o-list">
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12  f-vertical o-list">
    <div class="o-radio-list">
      <h2 rr-id="ang_c_020216">
        {{'angiographyCT.anamnesis.aneurysm.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="ang_c_020217"
        label="{{ 'angiographyCT.anamnesis.suspiciousFor.value'  | translate }}"
        name="isSuspiciousFor"
        [(ngModel)]="model.isSuspiciousFor"
        binary="true"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12  f-vertical o-radio-list">
    <h2 rr-id="ang_c_020308">
      {{'angiographyCT.anamnesis.localization.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="ang_c_020309"
      label="{{ 'angiographyCT.anamnesis.intracranial.value'  | translate }}"
      name="isIntracranial"
      [(ngModel)]="model.isIntracranial"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="ang_c_020310"
      label="{{ 'angiographyCT.anamnesis.cervical.value'  | translate }}"
      name="isCervical"
      [(ngModel)]="model.isCervical"
      binary="true"
      rrContentReset="isCervicalContainer"
    >
    </p-checkbox>
    <div
      id="isCervicalContainer"
      class="f-vertical o-radio-list nested-content"
      [rrDisable]="!model.isCervical"
    >
      <p-checkbox
        rr-id="ang_c_020311"
        label="{{ 'angiographyCT.anamnesis.right.value'  | translate }}"
        name="isCervicalRight"
        [(ngModel)]="model.isCervicalRight"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_020312"
        label="{{ 'angiographyCT.anamnesis.left.value'  | translate }}"
        name="isCervicalLeft"
        [(ngModel)]="model.isCervicalLeft"
        binary="true"
      ></p-checkbox>
    </div>
    <p-checkbox
      rr-id="ang_c_020313"
      label="{{ 'angiographyCT.anamnesis.upperLimb.value' | translate }}"
      name="isUpperLimb"
      [(ngModel)]="model.isUpperLimb"
      binary="true"
      rrContentReset="isUpperLimbContainer"
    ></p-checkbox>
    <div
      id="isUpperLimbContainer"
      class="f-vertical o-radio-list nested-content"
      [rrDisable]="!model.isUpperLimb"
    >
      <p-checkbox
        rr-id="ang_c_020314"
        label="{{ 'angiographyCT.anamnesis.right.value'  | translate }}"
        name="isUpperLimbRight"
        [(ngModel)]="model.isUpperLimbRight"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_020315"
        label="{{ 'angiographyCT.anamnesis.left.value'  | translate }}"
        name="isUpperLimbLeft"
        [(ngModel)]="model.isUpperLimbLeft"
        binary="true"
      ></p-checkbox>
    </div>
    <p-checkbox
      rr-id="ang_c_020316"
      label="{{ 'angiographyCT.anamnesis.chest.value'  | translate }}"
      name="isChest"
      [(ngModel)]="model.isChest"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="ang_c_020317"
      label="{{ 'angiographyCT.anamnesis.abdomen.value'  | translate }}"
      name="isAbdomen"
      [(ngModel)]="model.isAbdomen"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="ang_c_020318"
      label="{{ 'angiographyCT.anamnesis.lowerLimb1.value'  | translate }}"
      name="isLowerLimb"
      [(ngModel)]="model.isLowerLimb"
      binary="true"
      rrContentReset="isLowerLimbContainer"
    >
    </p-checkbox>
    <div
      id="isLowerLimbContainer"
      class="f-vertical o-radio-list nested-content"
      [rrDisable]="!model.isLowerLimb"
    >
      <p-checkbox
        rr-id="ang_c_020319"
        label="{{ 'angiographyCT.anamnesis.right.value'  | translate }}"
        name="isLowerLimbRight"
        [(ngModel)]="model.isLowerLimbRight"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_020320"
        label="{{ 'angiographyCT.anamnesis.left.value'  | translate }}"
        name="isLowerLimbLeft"
        [(ngModel)]="model.isLowerLimbLeft"
        binary="true"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-pad m-t-14 m-b-12"></div>
</div>
