@import "../pelvic-floor.component";

.rr-text-input {
  display: flex;
  align-items: center;
  &__input {
    height: 40px;
    width: 120px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    font-weight: normal;
    font-family: BentonSansLight, sans-serif;
    box-sizing: content-box;
    outline: none;
    border: none;
    background-color: #e2e2e2;
    pointer-events: none;
    -webkit-appearance: none;
  }
}
