@import "../organ-prolapse.component";
@import "../../pelvic-floor.component";

.h-510 {
  height: 510px;
}

::ng-deep .label-align .rr-number-input {
  align-items: flex-start !important;
  .rr-number-input__label {
    line-height: 40px !important;
  }
}
