.left-indent {
  margin-left: 35px;
}

.configurations-column {
  height: 555px;
}

.spine-stadium__icon {
  position: relative;
  top: -6px;
  left: 3px;
}

.configurations-two-columns {
  height: 478px;
}
.large-localizer {
  margin-top: -102px;
}

.configuration-checkbox__margin {
  margin-top: -33px;
}
