:host {
  background-color: #ffffff;
  background-image: none;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 0 6px;
  padding: 10px !important;
  width: fit-content !important;
  border-radius: 6px !important;
  color: #212529;
  font-weight: 300;
  height: fit-content !important;
  min-height: 60px;
}

.main {
  width: 280px;
  display: flex;
  .icon-container {
    height: 100%;
    width: 35px;
    .exclamation-icon {
      margin-top: 8px;
      width: 25px;
    }
  }
  .content {
    height: 100%;
    width: calc(100% - 35px);
    color: black;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      width: 100%;
      align-self: center;
    }
    p {
      margin: 0;
    }
    .title {
      font-family: BentonSansBold, sans-serif;
    }
    .message {
      font-family: BentonSans, sans-serif;
    }
    .red {
      color: red;
    }
  }
}
