.header {
  min-height: 116px;

  &__description {
    font-size: 15px;
  }
}

.scaled-knee-cross-localizer {
  transform: scale(1.13);
  margin-bottom: 27px;

  &--to-right {
    @extend .scaled-knee-cross-localizer;
    transform-origin: top right;
  }

  &--to-left {
    @extend .scaled-knee-cross-localizer;
    transform-origin: top left;
  }
}
