* {
  user-select: none;
}

.top {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 30px 29px 18px 60px;
  background: #fff;
}

.circle-x {
  fill: #00aec2;
}

.white-X {
  stroke-width: 6px;
  stroke: #fff;
}

.header {
  font-family: BentonSansLight, BentonSans;
  font-size: 57px;
  font-weight: 300;
}

.text-normal {
  font-family: BentonSansLight, BentonSans;
  font-size: 17px;
  font-weight: 300;
}

.checked-text {
  fill: #f80202 !important;

  font-size: 17px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.hovered-text {
  fill: #00aec2;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.text-separators {
  stroke: #707070;
}

.rectangle-border {
  stroke: #00aec2;
  stroke-width: 2px;
  fill: none;
}

.light-grey {
  fill: #e8e8e8;
}

.grey {
  fill: #bababa;
}

.element {
  fill: #d2d1d1;
}

.dark-grey {
  fill: #5d5c5c;
}

.dashed-lines {
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 5 5;
  stroke: #fff;
}

.selectable {
  opacity: 0;
}

.checked-element {
  opacity: 0.6 !important;
  fill: #f80202 !important;
}

.hovered-element {
  opacity: 0.6;
  fill: #60aec7;
}

.pointer {
  cursor: pointer;
}

.background {
  fill: #fff;
}
