<div class="f-start f-horizontal col-h-100 o-list">
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12  f-vertical o-list">
    <div class="o-radio-list">
      <h2 rr-id="ang_c_020258">
        {{'angiographyCT.anamnesis.partialLungResection.value' | translate }}
      </h2>
      <h3 rr-id="ang_c_020259">
        {{'angiographyCT.anamnesis.side.value' | translate }}*
      </h3>
      <p-checkbox
        rr-id="ang_c_020260"
        label="{{'angiographyCT.anamnesis.right.value' | translate }}"
        name="isPartialLungResectionSideRight"
        [(ngModel)]="model.isPartialLungResectionSideRight"
        rrValidation="isPartialLungResectionSideLeft isPartialLungResectionSideRight"
        [inSecondFinding]="true"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_020261"
        label="{{'angiographyCT.anamnesis.left.value' | translate }}"
        name="isPartialLungResectionSideLeft"
        [(ngModel)]="model.isPartialLungResectionSideLeft"
        rrValidation="isPartialLungResectionSideLeft isPartialLungResectionSideRight"
        [inSecondFinding]="true"
        binary="true"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-pad m-t-14 m-b-12"></div>
</div>
