.main-container {
  background-color: white;

  &-frame {
    padding: 49px 122px 70px 121px;
  }
}

.grid-header-container {
  display: grid;
  justify-content: center;
  grid-template-areas: "ct-header mrt-header" "ct-items mrt-items";
  grid-template-columns: 662px 1004px;
  grid-template-rows: 89px 478px;
  gap: 11px 11px;
}

.preset-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: BentonSansLight;
  font-weight: 300;
  border-radius: 3px;
  color: white;

  &-ct {
    grid-area: ct-header;
    background-color: #7e7e7e;
  }

  &-mrt {
    grid-area: mrt-header;
    background-color: #999999;
    text-transform: uppercase;
  }
}

.grid-container-ct {
  grid-area: ct-items;
  display: grid;
  grid-template-columns: 319px 332px;
  grid-template-rows: repeat(5, 89px);
  gap: 8px 11px;
}

.grid-container-mrt {
  grid-area: mrt-items;
  display: grid;
  grid-template-columns: 332px 329px 321px;
  grid-template-rows: repeat(5, 89px);
  gap: 8px 11px;
}

.grid-item {
  font-size: 22px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  &-ct {
    background-color: #0091a2;

    &--empty {
      background-color: #efefef;
      pointer-events: none;
    }

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &--selected {
      background-color: #a14949;
    }
  }

  &-mrt {
    background-color: #00aec2;

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &--selected {
      background-color: #a14949;
    }
  }
}
