$res-vertical: 1080;
$res-horizontal: 1920;

@function px2vw($width) {
  @return 100 * $width / $res-horizontal * 1vw;
}

@function px2vh($height) {
  @return 100 * $height / $res-vertical * 1vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: px2vw(600);
  justify-content: space-between;
  text-align: center;
  font-size: px2vh(21);
}

.header {
  padding-top: px2vh(30);
  font-family: BentonSansBold;
}

.first-paragraph {
  padding: 30px;
}

.second-paragraph {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

button {
  border-radius: 6px;
  border: px2vh(4) solid red;
  height: px2vh(48);
  width: px2vw(120);
  font-size: px2vh(15);
  margin: 0 auto;

  &.btn-ok {
    background-color: #ffffff;
    color: red;
  }
}

.logo {
  padding-bottom: px2vh(13);
  img {
    margin-right: px2vw(3);
    height: px2vh(24);
    float: right;
  }
}
