<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="f-vertical c-sep m-t-14 o-radio-list">
      <h2 rr-id="abd_m_090223" class="m-t-2 c-pad-l m-l-10">
        {{ 'abdomenMRT.gastrointestinal.localization.value' | translate }}*
      </h2>
      <div class="f-horizontal col-h-100">
        <div class="c-col-1 c-pad c-sep f-vertical f-start m-t-10 m-b-15">
          <div class="o-radio-list m-l-10">
            <p-checkbox
              rr-id="abd_m_090238"
              binary="true"
              name="isDuodenum"
              [(ngModel)]="model.isDuodenum"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.duodenum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090239"
              name="isJejunum"
              [(ngModel)]="model.isJejunum"
              binary="true"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.jejunum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090240"
              binary="true"
              name="isPreterminalIleum"
              [(ngModel)]="model.isPreterminalIleum"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.preterminalIleum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090241"
              binary="true"
              name="isNeoterminalIleum"
              [(ngModel)]="model.isNeoterminalIleum"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.neoterminalIleum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090242"
              binary="true"
              name="isTerminalIleum"
              [(ngModel)]="model.isTerminalIleum"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.terminalIleum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090243"
              binary="true"
              name="isCecum"
              [(ngModel)]="model.isCecum"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.cecum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090244"
              binary="true"
              name="isVermiformAppendix"
              [(ngModel)]="model.isVermiformAppendix"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.vermiformAppendix.value' | translate }}"
            >
            </p-checkbox>
          </div>
        </div>
        <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-15">
          <div class="o-radio-list m-l-10">
            <p-checkbox
              rr-id="abd_m_090350"
              binary="true"
              name="isAscendingColon"
              [(ngModel)]="model.isAscendingColon"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.ascendingColon.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090351"
              binary="true"
              name="isHepaticFlexure"
              [(ngModel)]="model.isHepaticFlexure"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.hepaticFlexure.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090352"
              binary="true"
              name="isTransverseColon"
              [(ngModel)]="model.isTransverseColon"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.transverseColon.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090353"
              binary="true"
              name="isSplenicFlexure"
              [(ngModel)]="model.isSplenicFlexure"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.splenicFlexure.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090354"
              binary="true"
              name="isDescendingColon"
              [(ngModel)]="model.isDescendingColon"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.descendingColon.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090355"
              binary="true"
              name="isSigmoidColon"
              [(ngModel)]="model.isSigmoidColon"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.sigmoidColon.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090356"
              name="isRectum"
              [(ngModel)]="model.isRectum"
              [rrValidation]="localizationValidation"
              binary="true"
              label="{{'abdomenMRT.gastrointestinal.rectum.value' | translate }}"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_090357"
              binary="true"
              name="isAnalCanal"
              [(ngModel)]="model.isAnalCanal"
              [rrValidation]="localizationValidation"
              label="{{'abdomenMRT.gastrointestinal.analCanal.value' | translate }}"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-15 o-list">
      <div class="m-l-10 o-radio-list">
        <h2 rr-id="abd_m_090538" class="m-t-2">
          {{ 'abdomenMRT.gastrointestinal.measurementIntestinalWall.value' |
          translate }}
        </h2>
        <rr-number-input
          inputRrId="abd_m_090427"
          labelRrId="abd_m_090428"
          name="measurementIntestinalWallInMm"
          rrValidation="measurementIntestinalWallInMm"
          [(ngModel)]="model.measurementIntestinalWallInMm"
          [label]="'abdomenMRT.gastrointestinal.inMm.value' | translate"
          [config]="{min: 1, max: 99, placeholder: '--'}"
        ></rr-number-input>
      </div>
      <div class="m-l-10 o-radio-list">
        <h2 rr-id="abd_m_090429" class="m-t-2">
          {{ 'abdomenMRT.gastrointestinal.lengthOfChangesIn.value' | translate
          }}
        </h2>
        <p-radioButton
          rr-id="abd_m_090430"
          name="gastricLocalizationType"
          [(ngModel)]="model.lengthOfChangesInCmType"
          [value]="lengthOfChangesInCmType.LessThanFiveCm"
          label="{{ 'abdomenMRT.gastrointestinal.5cm.value' | translate }}"
          rrValidation="gastricLocalizationType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_090431"
          name="lengthOfChangesInCmType"
          [(ngModel)]="model.lengthOfChangesInCmType"
          [value]="lengthOfChangesInCmType.FiveToTenCm"
          label="{{ 'abdomenMRT.gastrointestinal.5-10cm.value' | translate }}"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_090432"
          name="lengthOfChangesInCmType"
          [(ngModel)]="model.lengthOfChangesInCmType"
          [value]="lengthOfChangesInCmType.TenToThirtyCm"
          label="{{ 'abdomenMRT.gastrointestinal.10-30cm.value' | translate }}"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_090433"
          name="lengthOfChangesInCmType"
          [(ngModel)]="model.lengthOfChangesInCmType"
          [value]="lengthOfChangesInCmType.Diffuse"
          label="{{ 'abdomenMRT.gastrointestinal.diffuse.value' | translate }}"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l f-vertical m-t-10 m-b-15">
      <div class="f-vertical o-radio-list c-pad-r m-b-21 m-l-10">
        <h2 rr-id="abd_m_090523" class="m-b-14">
          {{ 'abdomenMRT.adrenalGlands.t1wSignal.value' | translate }}
        </h2>
        <rr-signal-slider
          rr-id="abd_m_090524"
          name="t1WSignalType"
          [(ngModel)]="model.t1WSignalType"
          class="sliders-z-index"
        >
        </rr-signal-slider>
      </div>
      <div class="f-vertical o-radio-list c-pad-r m-b-34 m-l-10">
        <h2 rr-id="abd_m_090525" class="m-b-14">
          {{ 'abdomenMRT.adrenalGlands.t2wSignal.value' | translate }}
        </h2>
        <rr-signal-slider
          rr-id="abd_m_090526"
          name="t2WSignalType"
          [(ngModel)]="model.t2WSignalType"
          class="sliders-z-index"
        >
        </rr-signal-slider>
        <div
          [rrDisable]="!isDWIInAnySequence"
          class="o-radio-list m-l-10 m-t-10"
        >
          <h2 rr-id="abd_m_090528" rrInfoIcon="abd_m_09_01">
            {{ 'abdomenMRT.adrenalGlands.diffusionImaging.value' | translate }}
          </h2>
          <p-checkbox
            class="m-t-10"
            rr-id="abd_m_090528"
            binary="true"
            name="isDiffusionRestriction"
            [(ngModel)]="model.isDiffusionRestriction"
            label="{{ 'abdomenMRT.gastrointestinal.diffusionRestriction.value' | translate }}"
          >
          </p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
