.main {
  margin-top: -150px;
  background: #ffffff;
}

.background-right {
  fill: url(#pattern-right);
}

.background-left {
  fill: url(#pattern-left);
}

.font-light {
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.font-15 {
  font-size: 15px;
}

.font-18 {
  font-size: 18px;
}

.font-33 {
  font-size: 33px;
}

.font-60 {
  font-size: 60px;
}

.fill-none {
  fill: none;
}

.stroke-gray {
  stroke: #707070;
}

.stroke-none {
  stroke: none;
}

.close {
  cursor: pointer;
  &-circle {
    fill: #00aec2;
  }
  &-line {
    fill: none;
    stroke: #fff;
    stroke-width: 6px;
  }
}

.text {
  cursor: pointer;
  &-selected {
    fill: red;
    @extend .font-bold;
  }
  &-hovered {
    fill: #00aec2;
    @extend .font-bold;
  }
}

.selectable {
  cursor: pointer;
  .inner-circle,
  .inner-path {
    fill: #fff;
    opacity: 0.7;
  }
  .outer-circle {
    stroke: #00aec2;
    stroke-width: 3px;
    fill: none;
  }
  .outer-path {
    fill: #00aec2;
    stroke: none;
  }
}

.selected {
  .inner-circle {
    fill: red;
    opacity: 0.7;
  }
  .outer-circle {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: none;
  }
  .outer-path {
    fill: #ffffff;
    stroke: none;
  }
  .inner-path {
    fill: red;
  }
}

.hovered {
  .inner-circle,
  .inner-path {
    fill: #00aec2;
    opacity: 0.7;
  }
  .outer-circle {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: none;
  }
  .outer-path {
    fill: #ffffff;
    stroke: none;
  }
  .inner-path {
    fill: #00aec2;
  }
}
