<div class="f-horizontal scrotum-mass">
  <p-tabView class="rr-tabView right-edge-tab">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="pel_m_050230"
          class="tab-header"
          [rrValidation]="['scrotumMassLocalizationType', 'directionType', 'sizeInMm', 'isEnlargedTesticleRight isEnlargedTesticleLeft', 'isEnlargedEpididymisRight isEnlargedEpididymisLeft', 'differentialDiagnosisScrotumMassType', 'scrotumMassHomogeneity01Type']"
          ifAny="true"
        >
          {{'pelvisMRT.maleGender.characterizationITabHeader.value' |
          translate}}
        </h1>
      </ng-template>
      <rr-main-features-scrotum
        [model]="model"
        [scrotumDifferentialDiagnosisType]="scrotumDifferentialDiagnosisType"
      >
      </rr-main-features-scrotum>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="pel_m_050314"
          class="tab-header"
          [rrValidation]="['scrotumMassLocalizationAdditionalFeaturesType', 'isDuctusDeferensRight isDuctusDeferensLeft', 'isAtesticularisRight isAtesticularisLeft']"
          ifAny="true"
        >
          {{'pelvisMRT.maleGender.characterizationIItabHeader.value' |
          translate}}
        </h1>
      </ng-template>
      <rr-additional-features-scrotum
        [model]="model"
        [technologyModel]="technologyModel"
      >
      </rr-additional-features-scrotum>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="pel_m_050426"
          class="tab-header"
          rrValidation="differentialDiagnosisScrotumMassType01"
          ifAny="true"
        >
          {{'pelvisMRT.maleGender.differentialDiagnosisTabHeader.value' |
          translate}}
        </h1>
      </ng-template>
      <rr-differential-diagnosis-scrotum
        [model]="model"
        [scrotumDifferentialDiagnosisType]="scrotumDifferentialDiagnosisType"
      >
      </rr-differential-diagnosis-scrotum>
    </p-tabPanel>
  </p-tabView>
</div>
