button {
  background-color: #00aec2;
  border-radius: 4px;
  width: 312px;
  height: 40px;
  border: 1px solid #00aec2;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

.overflow-section {
  max-height: 525px;
  padding-top: 5px;
  overflow: visible;

  .overflow-section__dynamic-component {
    margin-bottom: 10px;
    z-index: 20;
  }
}

:host
  ::ng-deep
  .overflow-section__dynamic-component
  ul
  > :last-child
  .ui-dropdown-item {
  color: red;
}

.tumor-focal-other_tab {
  height: 621px;
  width: 100%;
}

.bones-column {
  height: 555px;
}

.large-localizer {
  margin-top: -102px;
}

.left-indent {
  margin-left: 35px;
}

.spine-bones_input {
  width: 100px;
  height: 40px;
  text-align: center;
}

.spine-bones_description {
  margin-bottom: 15px;
}

.spine-bones_dropdown {
  max-width: 293px;
  ::ng-deep {
    .ui-dropdown,
    .ui-dropdown-panel {
      border: 3px solid #dfdfdf !important;
    }
  }
}

.col-width-100 {
  width: 100%;
}

.bones-tab-column {
  height: 529px;
}

p-tabView ::ng-deep a {
  margin-left: 7px;
}

.header {
  height: 115px;
}

::ng-deep p-tabview.rr-tabView .ui-tabview-nav li.ui-state-default {
  margin-right: 4px;
  width: 334px;
}
