.sliders-z-index {
  z-index: 0;
}

.localizer-translate-margin {
  margin-left: -10px;
}
.nested-localizer {
  transform-origin: left top;
  transform: scale(0.8);
}
.m-t-125 {
  margin-top: 125px;
}
.m-b-minus-15 {
  margin-bottom: -15px;
}
.main-height {
  height: 555px;
}
