<div class="col-h-100">
  <p-tabView class="rr-tabView right-edge-tab">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="abd_m_100223">
          {{ 'abdomenMRT.peritonealCavity.localization.value' | translate }}
        </h1>
      </ng-template>
      <rr-peritoneal-mass-localization
        [model]="model"
        [isMale]="isMale"
        [isFemale]="isFemale"
      ></rr-peritoneal-mass-localization>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="abd_m_100332">
          {{ 'abdomenMRT.peritonealCavity.characterizationI.value' | translate
          }}
        </h1>
      </ng-template>
      <rr-peritoneal-mass-characterization-one
        [model]="model"
        [isDWI]="isDWI"
      ></rr-peritoneal-mass-characterization-one>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="abd_m_100421">
          {{ 'abdomenMRT.peritonealCavity.characterizationII.value' | translate
          }}
        </h1>
      </ng-template>
      <rr-peritoneal-mass-characterization-two
        [model]="model"
        [isContrastEnhanced]="isContrastEnhanced"
      ></rr-peritoneal-mass-characterization-two>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="abd_m_100522"
          rrValidation="differentialDiagnosis1Type"
          ifAny="true"
          noUpdate="true"
        >
          {{ 'abdomenMRT.peritonealCavity.differentialDiagnosis.value' |
          translate }}
        </h1>
      </ng-template>
      <rr-peritoneal-mass-differential-diagnosis
        [model]="model"
        [ddW047]="ddW047"
        [ddW048]="ddW048"
      ></rr-peritoneal-mass-differential-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
