<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 c-pad-r c-sep f-vertical f-start">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="abd_m_090223">
        {{ 'abdomenMRT.gastrointestinal.localization.value' | translate }}*
      </h2>
      <p-radioButton
        rr-id="abd_m_090224"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Cardia"
        label="{{ 'abdomenMRT.gastrointestinal.cardia.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090225"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Fundus"
        label="{{ 'abdomenMRT.gastrointestinal.fundus.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090226"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Corpus"
        label="{{ 'abdomenMRT.gastrointestinal.corpus.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090227"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Antrum"
        label="{{ 'abdomenMRT.gastrointestinal.antrum.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090228"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Pylorum"
        label="{{ 'abdomenMRT.gastrointestinal.pylorum.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090229"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.GreaterCurvature"
        label="{{ 'abdomenMRT.gastrointestinal.greaterCurvature.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090230"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.LesserCurvature"
        label="{{ 'abdomenMRT.gastrointestinal.lesserCurvature.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_090231"
        name="gastricLocalizationType"
        [(ngModel)]="model.gastricLocalizationType"
        [value]="gastricLocalizationType.Diffuse"
        label="{{ 'abdomenMRT.gastrointestinal.diffuse.value' | translate }}"
        rrValidation="gastricLocalizationType"
      >
      </p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
    <h2 rr-id="abd_m_090321">
      {{ 'abdomenMRT.gastrointestinal.extension.value' | translate }}
    </h2>
    <p rr-id="abd_m_090322">
      {{ 'abdomenMRT.gastrointestinal.size.value' | translate }}
    </p>
    <rr-number-input
      labelRrId="abd_m_090324"
      inputRrId="abd_m_090323"
      name="sizeInMm"
      [(ngModel)]="model.sizeInMm"
      [config]="{min: 1, max: 999, placeholder: '---'}"
      [label]="'abdomenMRT.gastrointestinal.inMm.value' | translate"
      (announceModelChange)="resetInput()"
    ></rr-number-input>
    <div [rrDisable]="!model.sizeInMm" class="o-radio-list">
      <p rr-id="abd_m_090325">
        {{ 'abdomenMRT.gastrointestinal.2ndPlane.value' | translate }}
      </p>
      <rr-number-input
        labelRrId="abd_m_090327"
        inputRrId="abd_m_090326"
        name="secondPlaneInMm"
        [(ngModel)]="model.secondPlaneInMm"
        [config]="{min: 1, max: 999, placeholder: '---'}"
        [label]="'abdomenMRT.gastrointestinal.inMm.value' | translate"
        (announceModelChange)="resetInput()"
      ></rr-number-input>
    </div>
    <div [rrDisable]="!model.secondPlaneInMm" class="o-radio-list">
      <p rr-id="abd_m_090328">
        {{ 'abdomenMRT.gastrointestinal.3rdPlane.value' | translate }}
      </p>
      <rr-number-input
        labelRrId="abd_m_090330"
        inputRrId="abd_m_090329"
        name="thirdPlaneInMm"
        [(ngModel)]="model.thirdPlaneInMm"
        [config]="{min: 1, max: 999, placeholder: '---'}"
        [label]="'abdomenMRT.gastrointestinal.inMm.value' | translate"
      ></rr-number-input>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep f-vertical f-start">
    <rr-reference-picture
      [(ngModel)]="model.referencePicture"
      [referenceId]="model.id"
      [fileUploadUrl]="fileUploadUrl"
      name="referencePicture"
    >
    </rr-reference-picture>
  </div>
  <div class="c-col-1 c-pad-l c-sep f-vertical f-start"></div>
</div>
