.background {
  fill: white;
}

.stroke {
  stroke: rgba(0, 0, 0, 0);
  stroke-miterlimit: 10;
}

.line {
  fill: none;
  stroke: #707070;
}

.pink-dark {
  fill: #a33146;
}

.pink-normal {
  fill: #f2777b;
}

.pink-light {
  fill: #f7989b;
}

.pink-ultra-light {
  fill: #f8b4b6;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-60 {
  font-size: 60px;
}

.font-bold {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.font-light {
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.magnify-glass-circle {
  fill: #00aec2;
  cursor: pointer;
}

.magnify-glass-line {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.text {
  &-hovered {
    fill: #00aec2;
    font-family: BentonSansBold, sans-serif;
    font-weight: 700;
  }
  &-selected {
    fill: red;
    font-family: BentonSansBold, sans-serif;
    font-weight: 700;
  }
  &-BA {
    fill: white;
    font-family: BentonSansBold, sans-serif;
    font-weight: 700;
  }
}

.element {
  &-hovered {
    fill: #00aec2;
  }
  &-selected {
    fill: red;
  }
}
