<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center">
    <div class="c-col-1 c-pad-r c-sep f-vertical f-start m-t-44">
      <h2 class="text-break m-b-25" rr-id="sho_m_090103">
        {{ "shoulderMRT.summary.adviceFurtherExamination.value" | translate }}
      </h2>
      <div class="o-radio-list">
        <p-checkbox
          label="{{ 'shoulderMRT.summary.xray.value' | translate }}"
          [(ngModel)]="model.isXray"
          name="isXray"
          binary="true"
          rr-id="sho_m_090104"
        >
        </p-checkbox>
        <p-checkbox
          label="{{ 'shoulderMRT.summary.cT.value' | translate }}"
          [(ngModel)]="model.isCT"
          name="isCT"
          binary="true"
          rr-id="sho_m_090105"
        >
        </p-checkbox>
        <p-checkbox
          class="m-b-17"
          label="{{ 'shoulderMRT.summary.followup.value' | translate }}"
          [(ngModel)]="model.isFollowup"
          name="isFollowup"
          binary="true"
          rr-id="sho_m_090106"
          rrContentReset="isFollowupBlock"
        >
        </p-checkbox>
        <div
          class="nested-content m-b-24"
          [rrDisable]="!model.isFollowup"
          id="isFollowupBlock"
        >
          <h2 class="m-b-9" rr-id="sho_m_090107">
            {{ "shoulderMRT.summary.time.value" | translate }}
          </h2>
          <div class="o-radio-list">
            <p-radioButton
              label="{{ 'shoulderMRT.summary.3months.value' | translate }}"
              name="followUpTimeType"
              [value]="followUpTimeType.ThreeMonths"
              [(ngModel)]="model.followUpTimeType"
              rr-id="sho_m_090108"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              label="{{ 'shoulderMRT.summary.3to6months.value' | translate }}"
              name="followUpTimeType"
              [value]="followUpTimeType.FromThreeToSixMonths"
              [(ngModel)]="model.followUpTimeType"
              rr-id="sho_m_090109"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              label="{{ 'shoulderMRT.summary.6to12months.value' | translate }}"
              name="followUpTimeType"
              [value]="followUpTimeType.FromSixToTwelveMonths"
              [(ngModel)]="model.followUpTimeType"
              rr-id="sho_m_090110"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              label="{{ 'shoulderMRT.summary.12months.value' | translate }}"
              name="followUpTimeType"
              [value]="followUpTimeType.TwelveMonths"
              [(ngModel)]="model.followUpTimeType"
              rr-id="sho_m_090111"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              label="{{ 'shoulderMRT.summary.18to24months.value' | translate }}"
              name="followUpTimeType"
              [value]="followUpTimeType.FromEighteenToTwentyFourMonths"
              [(ngModel)]="model.followUpTimeType"
              rr-id="sho_m_090112"
              rrUnClickRadio
            ></p-radioButton>
          </div>
        </div>
        <p-checkbox
          label="{{ 'shoulderMRT.summary.biopsy.value' | translate }}"
          [(ngModel)]="model.isBiopsy"
          name="isBiopsy"
          binary="true"
          rr-id="sho_m_090113"
        ></p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start m-t-44">
      <h2 class="m-b-18" rr-id="sho_m_090201">
        {{ "shoulderMRT.summary.findingsDynamics.value" | translate }}
      </h2>
      <div class="o-radio-list">
        <p-radioButton
          label="{{ 'shoulderMRT.summary.improvement.value' | translate }}"
          name="findingsDynamicsType"
          [value]="findingsDynamicsType.Improvement"
          [(ngModel)]="model.findingsDynamicsType"
          rr-id="sho_m_090202"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          label="{{ 'shoulderMRT.summary.noChange.value' | translate }}"
          name="findingsDynamicsType"
          [value]="findingsDynamicsType.NoChange"
          [(ngModel)]="model.findingsDynamicsType"
          rr-id="sho_m_090203"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          label="{{ 'shoulderMRT.summary.progressiveFindingDisease.value' | translate }}"
          name="findingsDynamicsType"
          [value]="findingsDynamicsType.Deterioration"
          [(ngModel)]="model.findingsDynamicsType"
          rr-id="sho_m_090204"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start m-t-26"></div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start m-t-26"></div>
    <div class="c-col-1 c-pad-l c-sep f-vertical f-start"></div>
  </div>
</form>
