.statistic-header,
.statistic-subheader,
.statistic-circle-specific-year,
.statistic-circle-all-years,
.statistic-circle-all-years-header {
  font-family: BentonSansLight;
}

.statistic-container {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  width: 312px;

  &--black {
    .statistic-circle {
      background-color: black;
    }
  }

  &--gray {
    .statistic-circle {
      background-color: #9d9d9d;
    }
  }

  &-top {
    height: 163px;
    display: flex;
    flex-direction: column;
  }
}

.statistic-header {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.statistic-subheader {
  font-size: 15px;
  margin-bottom: 0;
}

.statistic-module-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.statistic-circle {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #00aec2;
  width: 312px;
  height: 312px;
  text-align: center;
  align-items: center;
  color: white;

  &-specific-year {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 25px;
  }

  &-all-years {
    font-size: 24px;
    line-height: 26px;

    &-header {
      font-family: BentonSansBold;
      font-size: 15px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }
}

::ng-deep p-dropdown {
  .preferences-dropdown {
    border: none !important;
    color: white;
    margin-top: 72px;
    background-color: transparent !important;

    p-dropdownitem .ui-dropdown-item {
      margin-bottom: 0 !important;
    }

    .ui-dropdown-panel {
      width: 76px;
      min-width: 70% !important;
      border: 3px solid #9d9d9d;
      margin-left: -30px !important;
      left: 50% !important;
      right: 0 !important;
    }

    .ui-dropdown-trigger {
      left: auto;
      right: 0;
      background-color: transparent !important;
    }

    .ui-dropdown-label {
      padding-left: 1em !important;
      padding-right: 1em !important;
      background-color: transparent !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      height: auto !important;
      color: white !important;
      font-size: 24px;
      line-height: 26px;
    }

    .pi-chevron-down,
    .pi-chevron-down:before {
      content: "\e902" !important;
      width: 0;
      height: 0;
      color: white !important;
      font-size: 10px;
    }

    .ui-dropdown-trigger-icon {
      top: 0% !important;
      left: 35% !important;
    }

    .pi-chevron-down:before {
      font-size: 14px;
      font-weight: 700;
    }

    &--black {
      margin-top: auto;
      margin-bottom: 18px;

      .ui-dropdown-label,
      .pi-chevron-down,
      .pi-chevron-down:before {
        color: black !important;
        top: 15% !important;

        left: 60% !important;
      }

      .ui-dropdown-label {
        font-size: 18px;
        max-width: 250px;
      }

      .ui-dropdown-panel {
        margin-left: -125px !important;
        left: 50% !important;
        right: 0 !important;
        width: 250px;
      }
    }
  }
}
