.main-container {
  height: 551px;
}

.triple-col {
  &-header {
    height: 30px;
  }
  &-content {
    height: calc(100% - 30px);
  }
}
.double-col {
  &-header {
    height: 30px;
  }
  &-content {
    height: calc(100% - 30px);
  }
}

.inner-col-1 {
  width: 296px;
  box-sizing: content-box;
}
.inner-col-2 {
  width: 288px;
}
