.rr-number-input {
  display: flex;
  align-items: center;

  &__input {
    height: 32px;
    text-align: center;
    border: 3px solid;
    border-radius: 3px;
    font-size: 18px;
    font-weight: normal;
    font-family: BentonSansLight, sans-serif;
    box-sizing: content-box;
    outline: none;
    -webkit-appearance: none;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--brown {
      border-color: #dfdfdf;
    }

    &--grey {
      border-color: #e6e6e6;
    }

    &--blue {
      border-color: #00aec2;
    }

    &[readOnly] {
      pointer-events: none;

      &[readonly-color="brown"] {
        border-color: #ebebeb;
        background-color: #e2e2e2;
      }

      &[readonly-color="grey"] {
        border-color: #e2e2e2;
        background-color: #e6e6e6;
      }

      &[readonly-color="blue"] {
        border-color: #b2e7ed;
        background-color: #b2e7ed;
      }
    }
  }

  .label {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    font-weight: normal;
    font-family: BentonSansLight, sans-serif;
    line-height: 18px;
    vertical-align: middle;
    white-space: pre;
    &-white-space {
      white-space: initial;
    }
  }

  &__label--after-input {
    @extend .label;
    margin-left: 10px;
  }

  &__label--before-input {
    @extend .label;
    margin-right: 14px;
  }

  &__pad-icon {
    position: relative;
    bottom: 1em;
    right: 1em;
  }
}
