* {
  user-select: none;
}

.lymph-nodes {
  cursor: pointer;
  &__area--selected {
    opacity: 0.6;
    fill: #f80202;
  }

  &__text {
    font-family: BentonSansBold;
    font-size: 9px;
  }
}

:host-context(.invalid-localizer) {
  .valid-outer {
    stroke: red !important;
  }
}
