/* Flexbox container settings */
/* Direction */
.f-vertical {
  display: flex;
  flex-direction: column;
}
.f-horizontal {
  display: flex;
  flex-direction: row;
}

/* Alignment */
.f-start {
  justify-content: flex-start;
}
.f-end {
  justify-content: flex-end;
}
.f-center {
  justify-content: center;
}
.f-space-between {
  justify-content: space-between;
}
.f-space-evenly {
  justify-content: space-evenly;
}

/* Properties */
.f-fill-available-space {
  flex: 1;
}
