.pointer {
  cursor: pointer;
}

.stroke {
  stroke-miterlimit: 10;
  stroke-width: 1;
}

.pink-dark {
  fill: #a33146;
}

.pink-normal {
  fill: #f2777b;
}

.pink-light {
  fill: #f7989b;
}

.pink-ultra-light {
  fill: #f8b4b6;
}

.yellow-normal {
  fill: #efc100;
}

.green-cold {
  fill: #0f7c46;
}

.green-mid {
  fill: #139165;
}

.green-light {
  fill: #60aa87;
}

.green-ultra-light {
  fill: #9ac6ad;
}
.green-ultra-light-2 {
  fill: #93d8c0;
}
.no-stroke {
  stroke: none;
}

.stroke-white {
  stroke: rgba(0, 0, 0, 0);
}

.stroke-pink {
  stroke: #fad2d3;
}
.fill-pink {
  fill: #edd3d3;
}

.fill-super-light-pink {
  fill: #f2e6e6;
}

.fill-grey-normal {
  fill: #ddd;
}

.fill-light-grey {
  fill: #e3e3e3;
}

.fill-white {
  fill: #fff;
}

.no-fill {
  fill: none;
}
.opacity-light {
  opacity: 0.699;
}

.opacity-mid {
  opacity: 0.75;
}

.opacity-strong {
  opacity: 0.996;
}

.border {
  stroke-width: 3px;
  fill: #fff;
  stroke: #dfdfdf;
}

.blue-round {
  stroke-width: 3px;
  stroke: #00aec2;
  stroke-linecap: round;
  fill: none;
}

.magnify-glass {
  stroke-width: 3px;
  stroke: #00aec2;
  fill: none;
  &-round {
    stroke-linecap: round;
  }
}

.selected {
  fill: #f80200;
  fill-opacity: 0.7;
}

:host-context(.invalid-localizer) {
  .border {
    stroke: #f80200;
  }
}
