.main-container {
  height: 545px;
}

:host ::ng-deep .diagnosis-finding-column {
  svg {
    margin-right: 4px;
  }
  & button.dynamic-component-button,
  .main {
    width: 289px !important;
  }

  & .ui-dropdown {
    width: 257px !important;
  }
}
