.breast-rectangle {
  fill: url(#pattern-simple);
}

.breast {
  &-outer {
    cursor: pointer;
    fill: white;
    stroke: #dfdfdf;

    &:hover {
      fill: #00aec2;
    }
  }
  &-inner,
  &-caption {
    pointer-events: none;
    user-select: none;
  }
}

.text {
  &-normal {
    font-size: 18px;
  }
  &-small {
    font-size: 10px;
  }
  &-black {
    font-family: BentonSans-Bold, BentonSans;
    font-weight: 700;
  }
  &-normal,
  &-black {
    fill: black;
  }
}

.stroke-none {
  stroke: none;
}

.fill-white {
  fill: #e2e2e2;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.breast-slice--hover .breast-inner,
.breast-slice--checked .breast-inner {
  fill: #fff;
}

.breast-slice--checked .breast-outer {
  fill: #fe0000;
}

:host-context(.invalid-localizer) {
  .breast-rectangle-outer {
    fill: red !important;
  }
}
