<svg
  [class.disabled]="isDisabled"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="100%"
  height="200"
  viewBox="0 0 312.677 200"
  rrBlockLocalizer
>
  <defs>
    <pattern
      id="pattern-simple"
      width="1"
      height="1"
      viewBox="28.115 82.045 260.076 166.286"
    >
      <image
        preserveAspectRatio="xMidYMid slice"
        width="312.806"
        height="661.132"
        xlink:href="assets/img/mammaMRT/woman.png"
      />
    </pattern>
  </defs>
  <g transform="translate(-461.323 -453.629)" class="breast-rectangle">
    <g transform="translate(461.323 453.629)">
      <g transform="translate(0 -11)">
        <path
          class="stroke-none"
          d="M 311.1768188476563 209.4175872802734 L 1.499992728233337 209.4175872802734 L 1.499992728233337 12.50000953674316 L 311.1768188476563 12.50000953674316 L 311.1768188476563 209.4175872802734 Z"
        />
        <path
          class="stroke-none fill-white breast-rectangle-outer"
          d="M 3 14.00001525878906 L 3 207.9175872802734 L 309.6768188476563 207.9175872802734 L 309.6768188476563 14.00001525878906 L 3 14.00001525878906 M 0 11.00001525878906 L 312.6768188476563 11.00001525878906 L 312.6768188476563 210.9175872802734 L 0 210.9175872802734 L 0 11.00001525878906 Z"
        />
      </g>
    </g>
    <text
      class="text-normal text-black breast-caption"
      transform="translate(648.884 622.571)"
    >
      <tspan x="-5.274" y="0">
        {{'shared.mamma.breast.shared.leftLetter' | translate}}
      </tspan>
    </text>
    <text
      class="text-normal text-black breast-caption"
      transform="translate(586.608 622.453)"
    >
      <tspan x="-6.345" y="0">
        {{'shared.mamma.breast.shared.rightLetter' | translate}}
      </tspan>
    </text>
    <g transform="translate(2.432)">
      <g transform="translate(511.863 500.845)">
        <g
          [class.breast-slice--hover]="isElementHovered('r12')"
          [class.breast-slice--checked]="isElementSelected('r12')"
          (mouseover)="hoverElement('r12')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r12')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 43.271, 11.595)">
            <g>
              <path
                class="breast-outer"
                d="M0,44.8V0A42.829,42.829,0,0,1,22.4,6Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(55.135 24.825)"
          >
            <tspan x="-5.36" y="0">12</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r11')"
          [class.breast-slice--checked]="isElementSelected('r11')"
          (mouseover)="hoverElement('r11')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r11')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 21.636, 17.392)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M22.4,44.8,0,6A42.829,42.829,0,0,1,22.4,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(37.979 29.426)"
          >
            <tspan x="-4.58" y="0">11</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r10')"
          [class.breast-slice--checked]="isElementSelected('r10')"
          (mouseover)="hoverElement('r10')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r10')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 7.351, 27.433)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M38.8,38.8,0,16.4A42.831,42.831,0,0,1,16.4,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(26.289 42.116)"
          >
            <tspan x="-5.72" y="0">10</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r9')"
          [class.breast-slice--checked]="isElementSelected('r9')"
          (mouseover)="hoverElement('r9')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r9')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 5.797, 44.825)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M44.8,22.4H0A42.83,42.83,0,0,1,6,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(20.311 59.155)"
          >
            <tspan x="-3.27" y="0">9</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r8')"
          [class.breast-slice--checked]="isElementSelected('r8')"
          (mouseover)="hoverElement('r8')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r8')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 11.595, 66.46)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M44.8,0,6,22.4A42.833,42.833,0,0,1,0,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(25.667 74.831)"
          >
            <tspan x="-3.19" y="0">8</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r7')"
          [class.breast-slice--checked]="isElementSelected('r7')"
          (mouseover)="hoverElement('r7')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r7')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 17.392, 64.907)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M38.8,0,16.4,38.8A42.832,42.832,0,0,1,0,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(37.602 88.143)"
          >
            <tspan x="-2.695" y="0">7</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r6')"
          [class.breast-slice--checked]="isElementSelected('r6')"
          (mouseover)="hoverElement('r6')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r6')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 33.23, 60.663)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M22.4,0V44.8A42.829,42.829,0,0,1,0,38.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(54.136 93.366)"
          >
            <tspan x="-3.27" y="0">6</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r5')"
          [class.breast-slice--checked]="isElementSelected('r5')"
          (mouseover)="hoverElement('r5')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r5')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0,22.4,38.8A42.829,42.829,0,0,1,0,44.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(71.805 87.765)"
          >
            <tspan x="-3.045" y="0">5</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r4')"
          [class.breast-slice--checked]="isElementSelected('r4')"
          (mouseover)="hoverElement('r4')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r4')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0,38.8,22.4A42.832,42.832,0,0,1,22.4,38.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(82.873 74.453)"
          >
            <tspan x="-3.38" y="0">4</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r3')"
          [class.breast-slice--checked]="isElementSelected('r3')"
          (mouseover)="hoverElement('r3')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r3')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0H44.8a42.832,42.832,0,0,1-6,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(88.718 59.154)"
          >
            <tspan x="-3.115" y="0">3</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r2')"
          [class.breast-slice--checked]="isElementSelected('r2')"
          (mouseover)="hoverElement('r2')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r2')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 49.068, 33.23)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,22.4,38.8,0a42.829,42.829,0,0,1,6,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(83.182 42.181)"
          >
            <tspan x="-3.07" y="0">2</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('r1')"
          [class.breast-slice--checked]="isElementSelected('r1')"
          (mouseover)="hoverElement('r1')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('r1')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 44.824, 17.392)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,38.8,22.4,0A42.831,42.831,0,0,1,38.8,16.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(71.182 29.181)"
          >
            <tspan x="-2.29" y="0">1</tspan>
          </text>
        </g>
      </g>
      <g transform="translate(606.863 500.845)">
        <g
          [class.breast-slice--hover]="isElementHovered('l12')"
          [class.breast-slice--checked]="isElementSelected('l12')"
          (mouseover)="hoverElement('l12')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l12')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 43.271, 11.595)">
            <g>
              <path
                class="breast-outer"
                d="M0,44.8V0A42.829,42.829,0,0,1,22.4,6Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(55.135 24.825)"
          >
            <tspan x="-5.36" y="0">12</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l11')"
          [class.breast-slice--checked]="isElementSelected('l11')"
          (mouseover)="hoverElement('l11')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l11')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 21.636, 17.392)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M22.4,44.8,0,6A42.829,42.829,0,0,1,22.4,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(37.979 29.426)"
          >
            <tspan x="-4.58" y="0">11</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l10')"
          [class.breast-slice--checked]="isElementSelected('l10')"
          (mouseover)="hoverElement('l10')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l10')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 7.351, 27.433)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M38.8,38.8,0,16.4A42.831,42.831,0,0,1,16.4,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(26.289 42.116)"
          >
            <tspan x="-5.72" y="0">10</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l9')"
          [class.breast-slice--checked]="isElementSelected('l9')"
          (mouseover)="hoverElement('l9')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l9')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 5.797, 44.825)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M44.8,22.4H0A42.83,42.83,0,0,1,6,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(20.311 59.154)"
          >
            <tspan x="-3.27" y="0">9</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l8')"
          [class.breast-slice--checked]="isElementSelected('l8')"
          (mouseover)="hoverElement('l8')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l8')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 11.595, 66.46)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M44.8,0,6,22.4A42.833,42.833,0,0,1,0,0Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(25.666 74.831)"
          >
            <tspan x="-3.19" y="0">8</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l7')"
          [class.breast-slice--checked]="isElementSelected('l7')"
          (mouseover)="hoverElement('l7')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l7')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 17.392, 64.907)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M38.8,0,16.4,38.8A42.832,42.832,0,0,1,0,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(37.602 88.143)"
          >
            <tspan x="-2.695" y="0">7</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l6')"
          [class.breast-slice--checked]="isElementSelected('l6')"
          (mouseover)="hoverElement('l6')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l6')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 33.23, 60.663)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M22.4,0V44.8A42.829,42.829,0,0,1,0,38.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(54.136 93.366)"
          >
            <tspan x="-3.27" y="0">6</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l5')"
          [class.breast-slice--checked]="isElementSelected('l5')"
          (mouseover)="hoverElement('l5')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l5')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0,22.4,38.8A42.829,42.829,0,0,1,0,44.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(71.805 87.765)"
          >
            <tspan x="-3.045" y="0">5</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l4')"
          [class.breast-slice--checked]="isElementSelected('l4')"
          (mouseover)="hoverElement('l4')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l4')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0,38.8,22.4A42.832,42.832,0,0,1,22.4,38.8Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(82.873 74.453)"
          >
            <tspan x="-3.38" y="0">4</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l3')"
          [class.breast-slice--checked]="isElementSelected('l3')"
          (mouseover)="hoverElement('l3')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l3')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 54.865, 54.866)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,0H44.8a42.832,42.832,0,0,1-6,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(88.718 59.154)"
          >
            <tspan x="-3.115" y="0">3</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l2')"
          [class.breast-slice--checked]="isElementSelected('l2')"
          (mouseover)="hoverElement('l2')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l2')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 49.068, 33.23)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,22.4,38.8,0a42.829,42.829,0,0,1,6,22.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(83.182 42.181)"
          >
            <tspan x="-3.07" y="0">2</tspan>
          </text>
        </g>
        <g
          [class.breast-slice--hover]="isElementHovered('l1')"
          [class.breast-slice--checked]="isElementSelected('l1')"
          (mouseover)="hoverElement('l1')"
          (mouseout)="unhoverElement()"
          (click)="selectElement('l1')"
        >
          <g transform="matrix(0.966, -0.259, 0.259, 0.966, 44.824, 17.392)">
            <g transform="translate(0 0)">
              <path
                class="breast-outer"
                d="M0,38.8,22.4,0A42.831,42.831,0,0,1,38.8,16.4Z"
              />
            </g>
          </g>
          <text
            class="text-small text-black breast-inner"
            transform="translate(71.182 29.181)"
          >
            <tspan x="-2.29" y="0">1</tspan>
          </text>
        </g>
      </g>
    </g>
  </g>
</svg>
