.main {
  transform-origin: inherit;
  transform: inherit;
  cursor: pointer;
}

.border {
  fill: #fff;
  stroke: #dfdfdf;
  stroke-width: 3;
}

.magnifying-glass {
  .circle {
    fill: none;
    stroke: #00aec2;
    stroke-linecap: round;
    stroke-width: 3;
  }
  .handle {
    fill: none;
    stroke: #00aec2;
    stroke-width: 3;
  }
  .plus {
    path {
      fill: none;
      stroke: #00aec2;
      stroke-width: 3;
    }
  }
}

.text {
  font-size: 15px;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.element {
  fill: none;
}

.element-selected {
  fill: #f80202;
  opacity: 0.6;
}

.stroke-none {
  stroke: none;
}
.fill-none {
  fill: none;
}

:host-context(.invalid-localizer) {
  .border {
    stroke: #ff0000;
  }
}
