.text {
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: 700;
}

.element {
  fill: #fff;
  opacity: 0.1;
}

.score-1 {
  fill: #f8f8bc;
  opacity: 0.6;
}

.score-2 {
  fill: #b581e0;
  opacity: 0.6;
}

.pointer {
  cursor: pointer;
}
