.rr-input {
  border: 3px solid #b2e7ed;
  border-radius: 3px;
  font-size: 18px;
  font-weight: normal;
  font-family: BentonSansLight;
  text-align: center;
  width: 99px;
  height: 40px;
  -webkit-appearance: none;
}
.rr-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rr-input__label {
  font-size: 15px;
  font-weight: normal;
  font-family: BentonSansLight;
  width: 137px;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 7px;
}
