$navHeight: 70px;
$backgroundColor: #f8f8f8; // TODO to be moved to commons (theme colors)
$inactiveTabBackground: #00aec2;
$activeFontColor: #ffffff;

p-tabView.rr-tabView {
  &.right-edge-tab .ui-tabview-nav li:last-child {
    width: 326.6px;
  }
  .ui-tabview {
    padding: 0;
    height: calc(100% - #{$navHeight});

    .tab-c-p > :not(div) {
      padding-left: 10px;
    }

    &-nav {
      height: $navHeight;

      li {
        &.ui-state-default {
          cursor: pointer;
          border: none;
          background-color: $inactiveTabBackground;
          margin-right: 3px;
          margin-left: 3px;
          height: $navHeight - 8px;
          padding-top: 10px;
          padding-left: 2px;
          width: 337px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          &:focus {
            outline: none;
          }

          a > span,
          h1,
          h2 {
            font-size: 21px;
            color: $activeFontColor;
            font-weight: 700;
            font-family: BentonSansBold, Helvetica, sans-serif;
            user-select: none;
          }

          h2 {
            font-size: 18px;
          }
          span.text-inactive {
            color: #6ed1dc;
          }
        }

        &.ui-state-default.ui-state-active {
          height: $navHeight;
          color: black;
          border: none;
          background-color: $backgroundColor;

          &:hover {
            background-color: $backgroundColor;
            cursor: default;
            border: none;
          }

          a {
            cursor: default;

            span,
            h1,
            h2 {
              color: black;
              cursor: default;
            }
          }
          span.text-inactive {
            color: #b2b2b2;
          }
        }
      }
    }

    &-panels {
      background-color: $backgroundColor;
      border: none;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &-panel {
      height: 100%;
    }

    &-selected {
      background-color: $backgroundColor;

      a > span {
        color: black;
      }
    }
  }
}
