<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="abd_m_040236" rrValidation="liverPathologyLocations">
        {{ "abdomenMRT.liver.characterizationI.value" | translate }}
      </h1>
    </ng-template>
    <rr-bile-duct-characterization-one
      class="f-horizontal col-h-100"
      [model]="model"
      (emitLocalizer)="openLocalizer()"
      (emitReset)="resetButtons()"
    >
    </rr-bile-duct-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="abd_m_040335" rrValidation="differentialDiagnosis1">
        {{ "abdomenMRT.liver.characterizationII.value" | translate }}
      </h1>
    </ng-template>
    <rr-bile-duct-characterization-two
      class="f-horizontal col-h-100"
      [model]="model"
      [bileDuctMassDDOptions]="bileDuctMassDDOptions"
    >
    </rr-bile-duct-characterization-two>
  </p-tabPanel>
</p-tabView>
