$imageWidth: 123px;

.c-main {
  height: 568px;
  width: auto;
  margin: {
    top: 53px;
    bottom: 0;
  }
}

.sequences-container {
  position: relative;
}

.header-group {
  width: 100%;
}

.sequences-header {
  font-size: 22px;
}

.sequences-image {
  width: $imageWidth;
  margin-top: -32px;
}

.acquisitions-image {
  width: $imageWidth;
}

.ct-module-reset-btn {
  position: relative;
  top: 20px;
  margin-top: -20px;
}
