<div class="f-horizontal f-start col-h-100 o-width-100">
  <div class="f-vertical m-t-10 m-b-10 o-radio-list c-sep">
    <h2
      rr-id="hea_m_090208"
      class="m-b-10 p-l-25"
      rrInfoIcon="hea_m_09_02"
      [infoIconPdfLandscape]="true"
    >
      {{ 'headMRT.cerebrospinalFluid.localization.value' | translate }}
    </h2>
    <div class="f-horizontal f-start multi-col">
      <div class="c-col-1 c-sep c-pad">
        <div class="o-radio-list m-l-10">
          <p-checkbox
            rr-id="hea_m_090209"
            label="{{ 'headMRT.cerebrospinalFluid.lateralVentricle.value' | translate }}"
            binary="true"
            name="isLateralVentricle"
            [(ngModel)]="model.isLateralVentricle"
            rrContentReset="lateralVentricleBlock"
          >
          </p-checkbox>
          <div
            id="lateralVentricleBlock"
            class="nested-content o-radio-list"
            [rrDisable]="!model.isLateralVentricle"
          >
            <p rr-id="hea_m_090210">
              {{ 'headMRT.cerebrospinalFluid.right.value' | translate }}
            </p>
            <p-checkbox
              rr-id="hea_m_090211"
              label="{{ 'headMRT.cerebrospinalFluid.anteriorHorn.value' | translate }}"
              binary="true"
              name="isAnteriorHornRight"
              [(ngModel)]="model.isAnteriorHornRight"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090212"
              label="{{ 'headMRT.cerebrospinalFluid.cellaMedia.value' | translate }}"
              binary="true"
              name="isCellaMediaRight"
              [(ngModel)]="model.isCellaMediaRight"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090213"
              label="{{ 'headMRT.cerebrospinalFluid.trigonum.value' | translate }}"
              binary="true"
              name="isTrigonumRight"
              [(ngModel)]="model.isTrigonumRight"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090214"
              label="{{ 'headMRT.cerebrospinalFluid.posteriorHorn.value' | translate }}"
              binary="true"
              name="isPosteriorHornRight"
              [(ngModel)]="model.isPosteriorHornRight"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090215"
              label="{{ 'headMRT.cerebrospinalFluid.temporalHorn.value' | translate }}"
              binary="true"
              name="isTemporalHornRight"
              [(ngModel)]="model.isTemporalHornRight"
            >
            </p-checkbox>
            <p rr-id="hea_m_090216" class="m-t-10">
              {{'headMRT.cerebrospinalFluid.left.value' | translate }}
            </p>
            <p-checkbox
              rr-id="hea_m_090217"
              label="{{ 'headMRT.cerebrospinalFluid.anteriorHorn.value' | translate }}"
              binary="true"
              name="isAnteriorHornLeft"
              [(ngModel)]="model.isAnteriorHornLeft"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090218"
              label="{{ 'headMRT.cerebrospinalFluid.cellaMedia.value' | translate }}"
              binary="true"
              name="isCellaMediaLeft"
              [(ngModel)]="model.isCellaMediaLeft"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090219"
              label="{{ 'headMRT.cerebrospinalFluid.trigonum.value' | translate }}"
              binary="true"
              name="isTrigonumLeft"
              [(ngModel)]="model.isTrigonumLeft"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090220"
              label="{{ 'headMRT.cerebrospinalFluid.posteriorHorn.value' | translate }}"
              binary="true"
              name="isPosteriorHornLeft"
              [(ngModel)]="model.isPosteriorHornLeft"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090221"
              label="{{ 'headMRT.cerebrospinalFluid.temporalHorn.value' | translate }}"
              binary="true"
              name="isTemporalHornLeft"
              [(ngModel)]="model.isTemporalHornLeft"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad">
        <div class="o-radio-list m-l-10">
          <div class="o-radio-list">
            <p-checkbox
              rr-id="hea_m_090302"
              label="{{ 'headMRT.cerebrospinalFluid.foramenMonroi.value' | translate }}"
              binary="true"
              rrContentReset="foramenOfMonroBlock"
              name="isForamenOfMonro"
              [(ngModel)]="model.isForamenOfMonro"
            >
            </p-checkbox>
            <div
              id="foramenOfMonroBlock"
              class="nested-content o-radio-list"
              [rrDisable]="!model.isForamenOfMonro"
            >
              <p-checkbox
                rr-id="hea_m_090303"
                label="{{ 'headMRT.cerebrospinalFluid.right.value' | translate }}"
                binary="true"
                name="isForamenOfMonroRight"
                [(ngModel)]="model.isForamenOfMonroRight"
              >
              </p-checkbox>
              <p-checkbox
                rr-id="hea_m_090304"
                label="{{ 'headMRT.cerebrospinalFluid.left.value' | translate }}"
                binary="true"
                name="isForamenOfMonroLeft"
                [(ngModel)]="model.isForamenOfMonroLeft"
              >
              </p-checkbox>
            </div>
            <p-checkbox
              rr-id="hea_m_090305"
              label="{{ 'headMRT.cerebrospinalFluid.iIIVentricle.value' | translate }}"
              binary="true"
              name="isIIIVentricle"
              [(ngModel)]="model.isIIIVentricle"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090306"
              label="{{ 'headMRT.cerebrospinalFluid.aquaeductusMesencephaliSylvii.value' | translate }}"
              binary="true"
              name="isAquaeductusMesencephaliSylvii"
              [(ngModel)]="model.isAquaeductusMesencephaliSylvii"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090307"
              label="{{ 'headMRT.cerebrospinalFluid.iVVentricle.value' | translate }}"
              binary="true"
              name="isIVVentricle"
              [(ngModel)]="model.isIVVentricle"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090308"
              label="{{ 'headMRT.cerebrospinalFluid.foramenLuschkae.value' | translate }}"
              binary="true"
              name="isForaminaOfLuschka"
              [(ngModel)]="model.isForaminaOfLuschka"
              rrContentReset="foraminaOfLuschkaBlock"
            >
            </p-checkbox>
            <div
              class="nested-content o-radio-list"
              [rrDisable]="!model.isForaminaOfLuschka"
              id="foraminaOfLuschkaBlock"
            >
              <p-checkbox
                rr-id="hea_m_090309"
                label="{{ 'headMRT.cerebrospinalFluid.right.value' | translate }}"
                binary="true"
                name="isForaminaOfLuschkaRight"
                [(ngModel)]="model.isForaminaOfLuschkaRight"
              >
              </p-checkbox>
              <p-checkbox
                rr-id="hea_m_090372"
                label="{{ 'headMRT.cerebrospinalFluid.left.value' | translate }}"
                binary="true"
                name="isForaminaOfLuschkaLeft"
                [(ngModel)]="model.isForaminaOfLuschkaLeft"
              >
              </p-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad">
        <div class="o-radio-list m-l-10">
          <p-checkbox
            rr-id="hea_m_090402"
            label="{{ 'headMRT.cerebrospinalFluid.foramenMagendie.value' | translate }}"
            binary="true"
            name="isForamenOfMagendie"
            [(ngModel)]="model.isForamenOfMagendie"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_m_090403"
            label="{{ 'headMRT.cerebrospinalFluid.subarachnoidCisterns.value' | translate }}"
            binary="true"
            name="isSubarachnoidCisterns"
            [(ngModel)]="model.isSubarachnoidCisterns"
            rrContentReset="subarachnoidCisterns"
          >
          </p-checkbox>
          <div
            class="nested-content o-radio-list"
            [rrDisable]="!model.isSubarachnoidCisterns"
            id="subarachnoidCisterns"
          >
            <p-checkbox
              rr-id="hea_m_090404"
              label="{{ 'headMRT.cerebrospinalFluid.suprasellarCistern.value' | translate }}"
              binary="true"
              name="isSuprasellarCistern"
              [(ngModel)]="model.isSuprasellarCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090405"
              label="{{ 'headMRT.cerebrospinalFluid.interpeduncularCistern.value' | translate }}"
              binary="true"
              name="isInterpeduncularCistern"
              [(ngModel)]="model.isInterpeduncularCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090406"
              label="{{ 'headMRT.cerebrospinalFluid.quadrigeminalCistern.value' | translate }}"
              binary="true"
              name="isQuadrigeminalCistern"
              [(ngModel)]="model.isQuadrigeminalCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090407"
              label="{{ 'headMRT.cerebrospinalFluid.pontineCistern.value' | translate }}"
              binary="true"
              name="isPontineCistern"
              [(ngModel)]="model.isPontineCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090408"
              label="{{ 'headMRT.cerebrospinalFluid.prepontineCistern.value' | translate }}"
              binary="true"
              name="isPrepontineCistern"
              [(ngModel)]="model.isPrepontineCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090409"
              label="{{ 'headMRT.cerebrospinalFluid.pontomedullaryCistern.value' | translate }}"
              binary="true"
              name="isPontomedullaryCistern"
              [(ngModel)]="model.isPontomedullaryCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090410"
              label="{{ 'headMRT.cerebrospinalFluid.pontocerebellarCistern.value' | translate }}"
              binary="true"
              name="isPontocerebellarCistern"
              [(ngModel)]="model.isPontocerebellarCistern"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090411"
              label="{{ 'headMRT.cerebrospinalFluid.meckelCave.value' | translate }}"
              binary="true"
              name="isMeckelCave"
              [(ngModel)]="model.isMeckelCave"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090412"
              label="{{ 'headMRT.cerebrospinalFluid.cisternaMagna.value' | translate }}"
              binary="true"
              name="isCisternaMagna"
              [(ngModel)]="model.isCisternaMagna"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_m_090413"
              label="{{ 'headMRT.cerebrospinalFluid.insularCistern.value' | translate }}"
              binary="true"
              name="isInsularCistern"
              [(ngModel)]="model.isInsularCistern"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad-l m-t-10 m-b-10">
    <div class="o-radio-list">
      <h2 rr-id="hea_m_090551">
        {{ 'headMRT.cerebrospinalFluid.configuration.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_090552"
        label="{{'headMRT.cerebrospinalFluid.widening.value' | translate}}"
        [(ngModel)]="model.configurationType"
        [value]="configurationType.Widening"
        name="configurationType"
        (onClick)="resetConfigurationRelatedValues()"
        rrValidation="configurationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="hea_m_090553"
        label="{{'headMRT.cerebrospinalFluid.shrinking.value' | translate}}"
        [(ngModel)]="model.configurationType"
        [value]="configurationType.Shrinking"
        name="configurationType"
        (onClick)="resetConfigurationRelatedValues()"
        rrValidation="configurationType"
      >
      </p-radioButton>
      <div
        class="nested-content o-radio-list"
        [rrDisable]="model.configurationType !== configurationType.Shrinking && model.configurationType !== configurationType.Widening"
      >
        <p-radioButton
          rr-id="hea_m_090554"
          label="{{'headMRT.cerebrospinalFluid.circumscribed.value' | translate}}"
          [(ngModel)]="model.shrinkingType"
          [value]="shrinkingType.Circumscribed"
          name="shrinkingType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="hea_m_090555"
          label="{{'headMRT.cerebrospinalFluid.generalized.value' | translate}}"
          [(ngModel)]="model.shrinkingType"
          [value]="shrinkingType.Generalized"
          name="shrinkingType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <p-radioButton
        rr-id="hea_m_090556"
        label="{{'headMRT.cerebrospinalFluid.asymmetry.value' | translate}}"
        [(ngModel)]="model.configurationType"
        [value]="configurationType.Asymmetry"
        name="configurationType"
        (onClick)="resetConfigurationRelatedValues()"
        rrValidation="configurationType"
      >
      </p-radioButton>
      <div
        [rrDisable]="model.configurationType !== configurationType.Asymmetry"
        class="nested-content o-radio-list"
      >
        <p-radioButton
          rr-id="hea_m_090557"
          label="{{'headMRT.cerebrospinalFluid.rightEmphasized.value' | translate}}"
          [(ngModel)]="model.asymmetryType"
          [value]="asymmetryType.RightEmphasized"
          name="asymmetryType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="hea_m_090558"
          label="{{'headMRT.cerebrospinalFluid.leftEmphasized.value' | translate}}"
          [(ngModel)]="model.asymmetryType"
          [value]="asymmetryType.LeftEmphasized"
          name="asymmetryType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <p rr-id="hea_m_090559" class="m-t-20">
        {{ 'headMRT.cerebrospinalFluid.details.value' | translate }}
      </p>
      <p-checkbox
        rr-id="hea_m_090560"
        label="{{ 'headMRT.cerebrospinalFluid.stenosis.value' | translate }}"
        binary="true"
        name="isStenosis"
        [(ngModel)]="model.isStenosis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="hea_m_090561"
        label="{{ 'headMRT.cerebrospinalFluid.scarredResiduals.value' | translate }}"
        binary="true"
        name="isScarredResiduals"
        [(ngModel)]="model.isScarredResiduals"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="hea_m_090562"
        label="{{ 'headMRT.cerebrospinalFluid.parenchymalDefectWithcommunicationTo.value' | translate }}"
        binary="true"
        name="isParenchymalDefect"
        [(ngModel)]="model.isParenchymalDefect"
        class="text-break"
      >
      </p-checkbox>
    </div>
  </div>
</div>
