.morphology-header {
  min-height: 38px;
}

.clickable-area {
  cursor: pointer;
}

.bold-label {
  ::ng-deep.ui-dropdown-label {
    font-weight: bold;
    text-shadow: 1px 0 #333333; // TODO define color from a variable when all colors in the app are finally defined globally in common styles
  }
}

.loc-group-disabled {
  pointer-events: none;
  h2 {
    opacity: 0.5;
  }
}

:host ::ng-deep {
  p-tabview li:focus {
    outline: none;
  }

  .ui-tabview {
    // tab headers
    .ui-tabview-nav {
      & > * {
        margin: 0 !important;
        border: none !important;
        width: 50% !important;
        border-radius: 0 !important;
        box-sizing: border-box;
      }

      & > .ui-state-default {
        background-color: #ededed !important;

        &:nth-child(1) {
          border-right: 8px solid white !important;
        }

        & > a {
          box-sizing: border-box;
          padding: 7px 14px;
          width: 100%;

          & > span {
            background-color: #ededed !important;
            font-family: "BentonSansBold", "Helvetica Neue", sans-serif !important;
            font-size: 18px;
          }
          font-weight: 700;
          color: black;
        }
      }

      & > .ui-state-default,
      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        color: black;
      }

      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        background-color: #f8f8f8 !important;
      }

      & > .ui-state-active {
        border-bottom: 8px solid #f8f8f8 !important;
      }
    }

    // tab content
    .ui-tabview-panels {
      background-color: #f8f8f8;
      height: 220px;
      margin: 0;
      border: none;
      padding: 20px 15px;
    }
  }
}
