<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 f-vertical f-start c-sep c-pad-r o-radio-list">
    <h2 rr-id="elb_m_070213" rrInfoIcon="elb_m_07_06">
      {{'elbowMRT.softTissue.localization.value' | translate}}*
    </h2>
    <p-radioButton
      rr-id="elb_m_070234"
      label="{{'elbowMRT.softTissue.aBrachialis.value' | translate}}"
      name="aneurysmLocalizationType"
      [value]="aneurysmLocalizationType.ABrachialis"
      [(ngModel)]="model.aneurysmLocalizationType"
      rrValidation="aneurysmLocalizationType"
    ></p-radioButton>
    <p-radioButton
      rr-id="elb_m_070235"
      label="{{'elbowMRT.softTissue.aRadialis.value' | translate}}"
      name="aneurysmLocalizationType"
      [value]="aneurysmLocalizationType.ARadialis"
      [(ngModel)]="model.aneurysmLocalizationType"
      rrValidation="aneurysmLocalizationType"
    ></p-radioButton>
    <p-radioButton
      rr-id="elb_m_070236"
      label="{{'elbowMRT.softTissue.aUlnaris.value' | translate}}"
      name="aneurysmLocalizationType"
      [value]="aneurysmLocalizationType.AUlnaris"
      class="m-b-24"
      [(ngModel)]="model.aneurysmLocalizationType"
      rrValidation="aneurysmLocalizationType"
    ></p-radioButton>
    <p rr-id="elb_m_0702205" class="m-b-3">
      {{'elbowMRT.softTissue.maxDiameter.value' | translate}}
    </p>
    <rr-number-input
      [(ngModel)]="model.maxDiameterInMm"
      name="maxDiameterInMm"
      label="{{'elbowMRT.softTissue.inMm.value' | translate}}"
      inputRrId="elb_m_0702212"
      labelRrId="elb_m_070238"
      [config]="{min: 1, max: 60}"
    ></rr-number-input>
  </div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad"></div>
  <div class="c-col-1 c-sep c-pad-l"></div>
</div>
