:host ::ng-deep .height-100 {
  // TODO maybe to commons
  height: 100%;
}

.finding-header {
  margin-bottom: 90px;
}

.finding-options {
  height: 555px;
}

.small-margin-header {
  margin-bottom: 20px;
}
