.rectangle {
  fill: #fff;
  stroke: #dfdfdf;
  stroke-width: 3px;
}
.rectangle__outer {
  stroke: none;
}
.rectangle__inner {
  fill: none;
}
.section--light {
  stroke-width: 3px;
  fill: none;
  stroke: #888585;
  stroke-miterlimit: 10;
}
.section--dark {
  stroke-width: 3px;
  fill: none;
  stroke: #87837c;
  stroke-miterlimit: 10;
}
.text {
  fill: #fff;
  font-size: 18px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}
.light-grey {
  fill: #dfdfdf;
}
.dark-grey {
  fill: #b2b2b2;
}

.element {
  fill: #bdbdbd;
}
.element__hovered {
  fill: #00aec2;
}
.element__selected {
  fill: #f80202;
}
.element,
.text {
  cursor: pointer;
}

:host-context(.invalid-localizer) {
  .rectangle__inner {
    stroke: red;
  }
}
