.left-indent {
  margin-left: 35px;
}

.penis-infection {
  height: 500px;
}

.m-t-m4 {
  margin-top: -4px;
}

.m-t-m2 {
  margin-top: -2px;
}

.small-font {
  font-size: 15px;
  line-height: 15px;
}
