.main {
  background: #fff;
  margin-top: -102px;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.close-button {
  cursor: pointer;
  .circle {
    fill: #00aec2;
  }
  .closing-x {
    stroke: #fff;
    stroke-width: 6px;
    fill: none;
  }
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-60 {
  font-size: 60px;
}

.font-light {
  font-family: BentonSansLight, BentonSans, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, BentonSans, sans-serif;
  font-weight: 700;
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
}

.fill-white-smoke {
  fill: #f4f4f4;
}

.fill-gray-1 {
  fill: #ebebeb;
}

.fill-gray-2 {
  fill: #dfdfdf;
}

.fill-gray-3 {
  fill: #c9c9c9;
}

.fill-light-cyan {
  fill: #c7fffa;
}

.fill-light-pink {
  fill: #ea9292;
}

.fill-green-white {
  fill: #d8d8d6;
}

.fill-hawkes-blue {
  fill: #ccd9ed;
}

.fill-light-pink-2 {
  fill: #e27471;
}

.fill-darker-gray {
  fill: #bdbabd;
}

.fill-blue {
  fill: #0d65a8;
}

.fill-blue-2 {
  fill: #51abed;
}

.fill-blue-3 {
  fill: #1f87d3;
}

.fill-blue-4 {
  fill: #97cdf4;
}

.fill-blue-5 {
  fill: #0a65a8;
}

.fill-cardinal {
  fill: #0732c5;
}

.fill-green-gradient {
  fill: #f7e99c;
}

.fill-thunderbird {
  fill: #bf1410;
}

.fill-navy-blue {
  fill: #1b87d6;
}

.fill-turquoise-blue {
  fill: #4ea4e4;
}

.fill-korma {
  fill: #77afd8;
}

.fill-conifer {
  fill: #4ca0de;
}

.stroke-none {
  stroke: none;
}

.stroke-white {
  stroke: #ffffff;
}

.stroke-white-2 {
  stroke: #fff;
}

.stroke-gray-1 {
  stroke: #ebebeb;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-gray {
  stroke: #dfdfdf;
}

.stroke-darker-gray {
  stroke: #bdbabd;
}

.stroke-darkest-gray {
  stroke: #707070;
}

.stroke-light-gray {
  stroke: #d0d0d0;
}

.stroke-black {
  stroke: #161615;
}

.stroke-black-2 {
  stroke: #000;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-075 {
  stroke-width: 0.75px;
}

.stroke-050 {
  stroke-width: 0.5px;
}

.stroke-1 {
  stroke-width: 1px;
}

.stroke-round {
  stroke-linecap: round;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-linejoin-round {
  stroke-linejoin: round;
}

.stroke-limit-10 {
  stroke-miterlimit: 10;
}

.background-border {
  @extend .fill-white;
  @extend .stroke-3;
  @extend .stroke-gray;
}

.selectable {
  &-normal {
    fill: red;
    opacity: 0;
  }
  &-darker {
    fill: #dd2323;
    opacity: 0;
  }
}

.opacity-014 {
  opacity: 0.14;
}

.opacity-0296 {
  opacity: 0.296;
}

.opacity-0304 {
  opacity: 0.304;
}

.opacity-037 {
  opacity: 0.37;
}

.opacity-039 {
  opacity: 0.39;
}

.opacity-051 {
  opacity: 0.51;
}

.opacity-06 {
  opacity: 0.6;
}

.opacity-07 {
  opacity: 0.7;
}

.opacity-0701 {
  opacity: 0.701;
}

:host-context(.invalid-localizer) {
  .background-border {
    stroke: red !important;
  }
}

.style-brain {
  mix-blend-mode: darken;
  isolation: isolate;
}

.text-hovered {
  @extend .font-bold;
  fill: #00aec2;
}

.text-selected {
  @extend .font-bold;
  fill: #ff0000;
}

.part-hovered {
  &-normal {
    fill: #00aec2 !important;
    opacity: 0.7 !important;
  }
  &-darker {
    fill: #00aec2 !important;
    opacity: 1 !important;
  }
}

.part-selected {
  &-normal {
    fill: #f80200 !important;
    opacity: 0.7 !important;
  }
  &-darker {
    fill: #f80200 !important;
    opacity: 1 !important;
  }
}

.close-button,
.circle,
.closing-x {
  pointer-events: all !important;
}

.sides-letters {
  font-size: 20px;
  font-family: BentonSansBold;
  font-weight: 700;
}
