@import "./../../slides/left-ventricle/left-ventricle.component.scss";

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

h3 {
  font-family: BentonSansLight;
  font-weight: 300;
  font-size: 18px;
}

.o-width-35 {
  width: 35%;
}

.o-width-65 {
  width: 65%;
}

.o-width-75 {
  width: 75%;
}

.controls-group {
  height: 254px;
}

.pathology-pad {
  padding-left: 25px;
  padding-top: 7px;
}

:host ::ng-deep {
  p {
    font-family: BentonSansLight !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-size: 18px !important;
  }

  p-tabview li:focus {
    outline: none;
  }

  .ui-tabview {
    // tab headers
    .ui-tabview-nav {
      & > .ui-state-default {
        background-color: #ededed !important;
      }

      & > .ui-state-default,
      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        color: black;
      }

      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        background-color: #f8f8f8 !important;
      }

      & > .ui-tabview-selected > a > span {
        font-weight: 700;
      }
    }

    // tab content
    .ui-tabview-panels {
      height: 236px;
      padding: 7px 10px 13px 10px;
      & > p-tabpanel > .ui-tabview-panel {
        height: 100%;
        & > * {
          height: 100%;
        }
      }
    }
  }
}
