<div class="main">
  <p-tabView class="rr-tabView right-edge-tab">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="hea_c_060202"
          [rrValidation]="['cortexDifferentialDiagnosisType']"
          ifAny="true"
        >
          {{ 'headCT.cortex.localization.value' | translate }}
        </h1>
      </ng-template>
      <rr-localization
        [model]="model"
        [differentialDiagnosisOptions01]="differentialDiagnosisOptions01"
        [classificationWhoOptions]="classificationWhoOptions"
        [classificationAdamsOptions]="classificationAdamsOptions"
      ></rr-localization>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="hea_c_060301" [rrValidation]="['size']" ifAny="true">
          {{ 'headCT.cortex.characterizationI.value' | translate }}
        </h1>
      </ng-template>
      <rr-focal-characterization-one
        [model]="model"
        [isExaminationArea]="isExaminationArea"
      ></rr-focal-characterization-one>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="hea_c_060401"
          [rrValidation]="['midlineShiftSideType' , 'regionType']"
          ifAny="true"
        >
          {{ 'headCT.cortex.characterizationII.value' | translate }}
        </h1>
      </ng-template>
      <rr-focal-characterization-two
        [isContrastEnhanced]="isContrastEnhanced"
        [model]="model"
      ></rr-focal-characterization-two>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="hea_c_060501"
          [rrValidation]="['cortexDifferentialDiagnosisType1']"
          ifAny="true"
        >
          {{ 'headCT.cortex.differentialDiagnosisTab.value' | translate }}
        </h1>
      </ng-template>
      <rr-differential-diagnosis
        [model]="model"
        [differentialDiagnosisOptions01]="differentialDiagnosisOptions01"
        [differentialDiagnosisOptions0203]="differentialDiagnosisOptions0203"
        [classificationWhoOptions]="classificationWhoOptions"
        [classificationAdamsOptions]="classificationAdamsOptions"
      ></rr-differential-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
