[*]
charset=utf-8
end_of_line=crlf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_block_statements=0
resharper_csharp_insert_final_newline=true
resharper_max_initializer_elements_on_line=1
resharper_place_attribute_on_same_line=false
resharper_place_simple_anonymousmethod_on_single_line=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indent_from_vs=false
### line code wrapping
resharper_csharp_wrap_lines=true
resharper_csharp_max_line_length=160

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_identifier_typo_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_string_literal_typo_highlighting=none
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_style=space
indent_size=2

[{*.yaml,*.yml}]
indent_style=space
indent_size=2

[*.{appxmanifest,asax,ascx,aspx,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,razor,resw,resx,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4

### .NetAnalyzer
## see: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options
## .NetAnalyzer AD
## analysis error
dotnet_diagnostic.AD0001.severity = none
# MSB3101: Could not write state file
dotnet_diagnostic.MSB3101.severity = warning
# MSB3568: Duplicate resource name "..." is not allowed, ignored.
dotnet_diagnostic.MSB3568.severity = error
## .NetAnalyzer CA
# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none
# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = none
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = warning
# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = warning
# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = warning
# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = warning
# CA1054: URI-like parameters should not be strings
dotnet_diagnostic.CA1054.severity = warning
# CA1056: URI-like properties should not be strings
dotnet_diagnostic.CA1056.severity = warning
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = warning
# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = warning
# CA1068: CancellationToken parameters must come last
dotnet_diagnostic.CA1068.severity = warning
# CA1069: Enums should not have duplicate values
dotnet_diagnostic.CA1069.severity = warning
# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = warning
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = warning
# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = warning
# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = warning
# CA1310: Specify StringComparison for correctness / culture-specific string
dotnet_diagnostic.CA1310.severity = warning
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = warning
# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = warning
# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = none
# CA1714: Flags enums should have plural names
dotnet_diagnostic.CA1714.severity = warning
# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = warning
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none
# CA1717: Only FlagsAttribute enums should have plural names
dotnet_diagnostic.CA1717.severity = none
# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = warning
# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = warning
# CA1801: Review unused parameters
dotnet_diagnostic.CA1801.severity = warning
# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = warning
# CA1802: Use literals where appropriate
dotnet_diagnostic.CA1802.severity = warning
# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = warning
# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = warning
# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = warning
# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = warning
# CA1824: Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = warning
# CA1829: Use Length/Count property instead of Count() when available
dotnet_diagnostic.CA1829.severity = warning
# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = warning
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning
# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
# CA2008: Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = warning
# CA2200: Re-throwing caught exception changes stack information
dotnet_diagnostic.CA2200.severity = warning
# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning
# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = warning
# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = warning
# CA2214: Do not call overridable methods in constructors
dotnet_diagnostic.CA2214.severity = warning
# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = warning
# CA5369: Use XmlReader for Deserialize
dotnet_diagnostic.CA5369.severity = warning
# CA9998: Collection properties should be read only
dotnet_diagnostic.CA9998.severity = none
## .NetAnalyzer CS
# CS0105: Compiler Warning (level 3)
dotnet_diagnostic.CS0105.severity = warning
# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = warning
# Compiler Warning (level 2) CS0162
dotnet_diagnostic.CS0162.severity = warning
# CS0659: Compiler Warning (level 3)
dotnet_diagnostic.CS0659.severity = warning
# CS4014: Compiler Warning (level 1)
dotnet_diagnostic.CS4014.severity = warning
## .NetAnalyzer EF
# EF1001: Internal EF Core API usage
dotnet_diagnostic.EF1001.severity = warning
## .NetAnalyzer MSB
# MSB3568: Duplicate resource name is not allowed (Language Resx Files)
dotnet_diagnostic.MSB3568.severity = warning

### EXCLUDE from all SignalR files
[{SignalR*.cs}]
dotnet_diagnostic.CA1040.severity = none

### .NetAnalyzer rules EXCLUDED from folder
[RadioReport.Tests/**]
dotnet_diagnostic.AD0001.severity = none
dotnet_diagnostic.MSB3101.severity = none
dotnet_diagnostic.MSB3568.severity = none
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1052.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1063.severity = none
dotnet_diagnostic.CA1068.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1710.severity = none
dotnet_diagnostic.CA1712.severity = none
dotnet_diagnostic.CA1714.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1717.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1801.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1802.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1816.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1824.severity = none
dotnet_diagnostic.CA1829.severity = none
dotnet_diagnostic.CS1998.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2008.severity = none
dotnet_diagnostic.CA2200.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CA2214.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA5369.severity = none
dotnet_diagnostic.CA9998.severity = none
dotnet_diagnostic.CS0105.severity = none
dotnet_diagnostic.CS0162.severity = none
dotnet_diagnostic.CS0618.severity = none
dotnet_diagnostic.CS0659.severity = none
dotnet_diagnostic.CS4014.severity = none
dotnet_diagnostic.EF1001.severity = none

### see https://editorconfig.org/