button.patient-information-button {
  border-radius: 4px;
  width: 312px;
  height: 40px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

.blueButton {
  background-color: #00aec2;
  border: 1px solid #00aec2;
}

.grayButton {
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
}

.h-510 {
  height: 510px;
}

.h-520 {
  height: 520px;
}

button.invalid {
  font-weight: bold;
}
