.magnifying-glass {
  stroke: #00aec2;
  fill: #fff;
  stroke-width: 3px;
}

.background {
  fill: #fff;
  stroke-width: 3px;
  stroke: #e6e6e6;
}

.light-grey {
  fill: #e8e8e8;
}

.grey {
  fill: #bababa;
}

.lighter-grey {
  fill: #d2d1d1;
}

.dark-grey {
  fill: #5d5c5c;
}

.dashed-lines {
  stroke: #fff;
  stroke-dasharray: 1 1;
  fill: none;
}

.selectable {
  opacity: 0;
}

.selected {
  opacity: 0.6;
  fill: #db0316;
}

.pointer {
  cursor: pointer;
}

:host-context(.invalid-localizer) {
  .background {
    stroke: red !important;
  }
}
