@import "../anamnesis.component";

.pain-column {
  height: 460px;
}

:host ::ng-deep .preliminary-investigation-date p-dropdown > div {
  width: 135px !important;
}

:host ::ng-deep .preliminary-investigation-date p-dropdown {
  margin-right: 0px !important;
}

:host
  ::ng-deep
  .preliminary-investigation-date
  p-dropdown
  .ui-dropdown-label-container {
  width: 120px;
}
