:host-context(.invalid-localizer) {
  .border {
    fill: red;
  }
}

.background {
  fill: url(#pattern);
}

.no-stroke {
  stroke: none;
}

.border {
  fill: #ebebeb;
}

.selection-rect {
  @extend .opacity;
  @extend .fill-white;
  cursor: pointer;
}

.opacity {
  opacity: 0.3;
}

.fill-white {
  fill: #fff;
}

.font {
  font-size: 18px;
  font-family: BentonSans-Bold, sans-serif;
  font-weight: 700;
}

.elem6 {
  clip-path: url(#clip-path);
}

.elem7 {
  clip-path: url(#clip-path-2);
}

.elem9 {
  clip-path: url(#clip-path-3);
}

.elem5 {
  clip-path: url(#clip-path-4);
}

.elem4 {
  clip-path: url(#clip-path-5);
}

.elem1 {
  clip-path: url(#clip-path-6);
}

.elem2 {
  clip-path: url(#clip-path-7);
}

.elem3 {
  clip-path: url(#clip-path-8);
}

.elem8 {
  clip-path: url(#clip-path-9);
}
