.localizer {
  cursor: pointer;
  background-color: #ffffff;
}
.spine__rectangle,
.spine__rectangle--inner,
.loupe__circle,
.loupe__line {
  fill: none;
}
.spine__rectangle {
  stroke: #e6e6e6;
}
.spine__rectangle--outer {
  stroke: none;
}
.spine__rectangle,
.loupe__circle,
.loupe__line {
  stroke-width: 3px;
}
.loupe__circle,
.loupe__line {
  stroke: #00aec2;
}
.loupe__circle {
  stroke-linecap: round;
}

.first-vertebra {
  fill: #d8d8d8;
}
.vertebra {
  opacity: 0;
}
.disc {
  fill: #00aec2;
  opacity: 0.8;
}
.vertebra--checked,
.disc--checked {
  fill: #f80202;
  opacity: 0.6;
}
