# NPM  renames .gitignore to .npmignore
# In order to prevent that, we remove the initial "."
# And the CLI then renames it

node_modules/
app/
logs/
config.json
main/**/*.js
main/**/*.js.map
main.js
main.js.map
bin/windows/*
