.info-dialog-container {
  position: relative;
  max-height: 998px;
  width: auto;
  height: auto;

  .info-dialog-buttons-container {
    position: absolute;
    right: -134px;
    display: inline;
    top: 0;
    .info-dialog-close {
      margin-left: 10px;
    }
    .info-dialog-zoomIn {
      margin-left: 20px;
    }
    .info-dialog-zoomOut {
      margin-left: 5px;
    }
    .info-dialog-print {
      margin-left: 20px;
    }
    img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  .info-dialog-content {
    width: 100%;
    height: 998px;
    max-height: 998px;
    max-width: 100%;
  }
}

:host ::ng-deep .ng2-pdf-viewer-container {
  z-index: 1;
}
