.main {
  margin-top: -170px;
  background: #ffffff;
}

.pointer {
  cursor: pointer;
}

.left-foot-side-left-image {
  fill: url(#left-foot-side-left-image);
}
.left-foot-side-right-image {
  fill: url(#left-foot-side-right-image);
}

.right-foot-side-left-image {
  fill: url(#right-foot-side-left-image);
}
.right-foot-side-right-image {
  fill: url(#right-foot-side-right-image);
}

.font-bold {
  font-family: BentonSansBold;
  font-weight: 700;
}

.font-light {
  font-family: BentonSansLight;
  font-weight: 300;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-33 {
  font-size: 33px;
}

.close-circle {
  fill: #00aec2;
}

.close-line {
  stroke: #fff;
  stroke-width: 6px;
  fill: none;
}

.text-underline {
  fill: none;
  stroke: #707070;
}

.selectable {
  fill: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.text-selected {
  @extend .font-bold;
  fill: #f80202;
}

.text-hovered {
  @extend .font-bold;
  fill: #00aec2;
}

.selected {
  stroke: #f80202;
  stroke-linejoin: round;
  stroke-width: 2px;
  opacity: 0.603;
  fill: #f80202;
}

.hovered {
  stroke: #00aec2;
  stroke-linejoin: round;
  stroke-width: 2px;
  opacity: 0.603;
  fill: #00aec2;
}
