@import "../tendinopathy.component";

.flexor-tendens {
  height: 558px;
}

.h-527 {
  height: 527px;
}

:host ::ng-deep {
  .ui-radiobutton-label,
  .ui-chkbox-label {
    line-height: 1.5rem;
  }
}
