<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 f-start c-sep c-pad-r col-h-100 o-list">
    <div class="o-radio-list f-vertical">
      <h2 rr-id="ang_c_090202">
        {{'angiographyCT.pelvisLegArteries.side.value' | translate}}*
      </h2>
      <p-radioButton
        rr-id="ang_c_090203"
        label="{{'angiographyCT.pelvisLegArteries.right.value' | translate}}"
        name="sideType"
        [value]="sideTypeEnum.Right"
        [(ngModel)]="model.sideType"
        rrValidation="sideType"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_c_090204"
        label="{{'angiographyCT.pelvisLegArteries.left.value' | translate}}"
        name="sideType"
        [value]="sideTypeEnum.Left"
        [(ngModel)]="model.sideType"
        rrValidation="sideType"
      ></p-radioButton>
    </div>
  </div>

  <div class="c-col-1 f-start c-sep c-pad o-list">
    <div class="o-radio-list f-vertical">
      <h2 rr-id="ang_c_090301">
        {{'angiographyCT.pelvisLegArteries.variationsPelvislowerLeg.value' |
        translate}}
      </h2>
      <p-checkbox
        rr-id="ang_c_090302"
        name="isPersistentIschiadicArtery"
        label="{{'angiographyCT.pelvisLegArteries.persistentIschiadicArtery.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isPersistentIschiadicArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090303"
        name="isHighOriginAnteriorTibialArtery"
        label="{{'angiographyCT.pelvisLegArteries.highOriginAnteriorTibial.value' | translate}}"
        binary="true"
        class="text-break"
        [(ngModel)]="model.isHighOriginAnteriorTibialArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090304"
        name="isHighOriginPosteriorTibialArtery"
        label="{{'angiographyCT.pelvisLegArteries.highOriginPosteriorTibial.value' | translate}}"
        binary="true"
        class="text-break"
        [(ngModel)]="model.isHighOriginPosteriorTibialArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090305"
        name="isHighOriginPeronealArtery"
        label="{{'angiographyCT.pelvisLegArteries.highOriginPeronealArtery.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isHighOriginPeronealArtery"
      ></p-checkbox>
    </div>
  </div>

  <div class="c-col-1 c-sep c-pad f-start o-list">
    <div class="o-radio-list f-vertical">
      <h2 rr-id="ang_c_090401">
        {{'angiographyCT.pelvisLegArteries.variationsOfTheFoot.value' |
        translate}}
      </h2>
      <p-checkbox
        rr-id="ang_c_090402"
        label="{{'angiographyCT.pelvisLegArteries.typeADorsalisPedis.value' | translate}}"
        name="isTypeADorsalisPedisArtery"
        binary="true"
        [(ngModel)]="model.isTypeADorsalisPedisArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090403"
        label="{{'angiographyCT.pelvisLegArteries.typeBDorsalisPedis.value' | translate}}"
        name="isTypeBDorsalisPedisArtery"
        binary="true"
        [(ngModel)]="model.isTypeBDorsalisPedisArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090404"
        label="{{'angiographyCT.pelvisLegArteries.typeCDorsalisPedis.value' | translate}}"
        name="isTypeCDorsalisPedisArtery"
        class="text-break m-b-4"
        binary="true"
        [(ngModel)]="model.isTypeCDorsalisPedisArtery"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_090405"
        label="{{'angiographyCT.pelvisLegArteries.typeDLackOf.value' | translate}}"
        class="text-break"
        name="isTypeDLackOfDorsalisPedisArtery"
        binary="true"
        [(ngModel)]="model.isTypeDLackOfDorsalisPedisArtery"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-pad-l"></div>
</div>
