* {
  cursor: pointer;
}

.selected {
  opacity: 0.6 !important;
  fill: #f80202;
}

.element {
  opacity: 0;
}

.grey {
  fill: #b0b0af;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
}

.light-grey {
  stroke: #e6e6e6;
  stroke-width: 3px;
  fill: none;
}

.blue-elements {
  fill: none;
  stroke-width: 3px;
  stroke: #00aec2;
}

.grey-fill-grey-stroke {
  fill: #b2b2b2;
  stroke: #c6c6c6;
  stroke-width: 2px;
}

.wide-stroke-no-fill {
  stroke-width: 3px;
  fill: none;
}

.grey-fill {
  fill: #b2b2b2;
}

.light-grey {
  stroke: #c6c6c6;
}

.dark-grey {
  stroke: #9d9d9c;
}

.no-fill {
  fill: none;
}

.white {
  stroke: #fff;
}

.dark-white {
  fill: #f6f6f6;
}

.light-grey-fill {
  fill: #c6c6c6;
}

.lighter-grey {
  fill: #dadada;
}

.darker-white {
  fill: #e3e2e2;
}

:host-context(.invalid-localizer) {
  .frame {
    stroke: red !important;
  }
}
