<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-12 o-radio-list">
      <h2 rr-id="nec_m_0702127">
        {{ "neckMRT.thyroid.associatedFindings.value" | translate }}
      </h2>
      <p-checkbox
        rr-id="nec_m_0702128"
        name="isDuctalCompression"
        label="{{ 'neckMRT.thyroid.ductalCompression.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isDuctalCompression"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702129"
        name="isDuctalStenosis"
        label="{{ 'neckMRT.thyroid.ductalStenosis.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isDuctalStenosis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702130"
        name="isConcrement"
        label="{{ 'neckMRT.thyroid.concrement.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isConcrement"
        rrContentReset="isConcrementBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isConcrementBlock"
        [rrDisable]="!model.isConcrement"
      >
        <rr-number-input
          inputRrId="nec_m_0702131"
          labelRrId="nec_m_0702132"
          name="concrementInMm"
          label="{{ 'neckMRT.thyroid.inMm.value' | translate }}"
          [config]="{ min: 1, max: 10, placeholder: '--' }"
          [(ngModel)]="model.concrementInMm"
        >
        </rr-number-input>
      </div>
      <p-checkbox
        rr-id="nec_m_0702133"
        name="isDilatedDuctus"
        label="{{ 'neckMRT.thyroid.dilatedDuctus.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isDilatedDuctus"
        rrContentReset="isDilatedDuctusBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isDilatedDuctusBlock"
        [rrDisable]="!model.isDilatedDuctus"
      >
        <rr-number-input
          inputRrId="nec_m_0702134"
          labelRrId="nec_m_0702135"
          name="dilatedDuctusInMm"
          label="{{ 'neckMRT.thyroid.inMm.value' | translate }}"
          [config]="{ min: 1, max: 30, placeholder: '--' }"
          [(ngModel)]="model.dilatedDuctusInMm"
        >
        </rr-number-input>
      </div>
      <p-checkbox
        rr-id="nec_m_0702136"
        name="isEdematousSwelling"
        label="{{ 'neckMRT.thyroid.edematousSwelling.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isEdematousSwelling"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702137"
        name="isFattyDegeneration"
        label="{{ 'neckMRT.thyroid.fattyDegeneration.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isFattyDegeneration"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702138"
        name="isFibrosis"
        label="{{ 'neckMRT.thyroid.fibrosis.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isFibrosis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702139"
        name="isAtrophy"
        label="{{ 'neckMRT.thyroid.atrophy.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isAtrophy"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0702140"
        name="isIntraglandularLymphNode"
        label="{{
          'neckMRT.thyroid.intraglandularLymphNode.value' | translate
        }}"
        binary="true"
        [(ngModel)]="model.isIntraglandularLymphNode"
        rrContentReset="isIntraglandularLymphNodeBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isIntraglandularLymphNodeBlock"
        [rrDisable]="!model.isIntraglandularLymphNode"
      >
        <p-checkbox
          rr-id="nec_m_0702141"
          name="isNecrotic"
          label="{{ 'neckMRT.thyroid.necrotic.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isNecrotic"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-12 o-radio-list">
      <h2 rr-id="nec_m_0703125">
        {{ "neckMRT.thyroid.complications.value" | translate }}
      </h2>
      <p-checkbox
        rr-id="nec_m_0703126"
        name="isAbscess"
        label="{{ 'neckMRT.thyroid.abscess.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isAbscess"
        rrContentReset="isAbscessBlock"
      >
      </p-checkbox>
      <div
        class="f-start f-vertical o-radio-list nested-content m-b-5"
        id="isAbscessBlock"
        [rrDisable]="!model.isAbscess"
      >
        <rr-number-input
          inputRrId="nec_m_0703127"
          labelRrId="nec_m_0703128"
          name="abscessInMm"
          label="{{ 'neckMRT.thyroid.inMm.value' | translate }}"
          [config]="{ min: 1, max: 99, placeholder: '--' }"
          [(ngModel)]="model.abscessInMm"
        >
        </rr-number-input>
        <p-checkbox
          rr-id="nec_m_0703129"
          name="isExtensionIntoCervicalFascialSpaces"
          label="{{
            'neckMRT.thyroid.extensionIntoCervicalfascialSpaces.value'
              | translate
          }}"
          binary="true"
          [(ngModel)]="model.isExtensionIntoCervicalFascialSpaces"
        >
        </p-checkbox>
      </div>
      <p-checkbox
        rr-id="nec_m_0703130"
        name="isMyositis"
        label="{{ 'neckMRT.thyroid.myositis.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isMyositis"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_0703131"
        name="isPhlegmon"
        label="{{ 'neckMRT.thyroid.phlegmon.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isPhlegmon"
      >
      </p-checkbox>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-10 m-b-12 o-radio-list">
      <div class="o-radio-list" [rrDisable]="!isContrastEnhanced">
        <h2 rr-id="nec_m_070498">
          {{ "neckMRT.thyroid.contrastEnhancementQuantitative.value" | translate
          }}
        </h2>
        <p-radioButton
          rr-id="nec_m_070499"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          name="contrastEnhancementQuantitativeType"
          label="{{ 'neckMRT.thyroid.no.value' | translate }}"
          [value]="contrastEnhancementQuantitativeType.No"
          rrUnClickRadio
          rrContentReset="homogeneityType-block contrastEnhancementDistributionType-block"
        ></p-radioButton>
        <p-radioButton
          rr-id="nec_m_0704100"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          name="contrastEnhancementQuantitativeType"
          label="{{ 'neckMRT.thyroid.weak.value' | translate }}"
          [value]="contrastEnhancementQuantitativeType.Weak"
          rrUnClickRadio
          rrContentReset="homogeneityType-block contrastEnhancementDistributionType-block"
        ></p-radioButton>
        <p-radioButton
          rr-id="nec_m_0704101"
          [(ngModel)]="model.contrastEnhancementQuantitativeType"
          name="contrastEnhancementQuantitativeType"
          label="{{ 'neckMRT.thyroid.strong.value' | translate }}"
          [value]="contrastEnhancementQuantitativeType.Strong"
          rrUnClickRadio
          rrContentReset="homogeneityType-block contrastEnhancementDistributionType-block"
        ></p-radioButton>
        <div
          id="homogeneityType-block"
          class="nested-content o-radio-list"
          [rrDisable]="model.contrastEnhancementQuantitativeType !== contrastEnhancementQuantitativeType.Strong
          && model.contrastEnhancementQuantitativeType !== contrastEnhancementQuantitativeType.Weak"
        >
          <p-radioButton
            rr-id="nec_m_0704102"
            [(ngModel)]="model.cmHomogeneityType"
            name="cmHomogeneityType"
            label="{{ 'neckMRT.thyroid.homogeneous.value' | translate }}"
            [value]="homogeneityType.Homogeneous"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="nec_m_0704103"
            [(ngModel)]="model.cmHomogeneityType"
            name="cmHomogeneityType"
            label="{{ 'neckMRT.thyroid.heterogeneous.value' | translate }}"
            [value]="homogeneityType.Heterogeneous"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
      <div
        id="contrastEnhancementDistributionType-block"
        class="o-radio-list m-t-20 f-vertical"
        [rrDisable]="model.contrastEnhancementQuantitativeType !== contrastEnhancementQuantitativeType.Strong
          && model.contrastEnhancementQuantitativeType !== contrastEnhancementQuantitativeType.Weak"
      >
        <h2 rr-id="nec_m_0704104" class="m-t-12">
          {{ "neckMRT.thyroid.contrastEnhancementDistribution.value" | translate
          }}
        </h2>
        <p-radioButton
          rr-id="nec_m_0704105"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Peripheral"
          label="{{ 'neckMRT.thyroid.peripheral.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="nec_m_0704106"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.EntireLesion"
          label="{{ 'neckMRT.thyroid.entireLesion.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="nec_m_0704107"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Central"
          label="{{ 'neckMRT.thyroid.central.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="nec_m_0704108"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Septal"
          label="{{ 'neckMRT.thyroid.septal.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
      </div>
    </div>
    <div
      class="c-col-1 c-sep c-pad-l f-vertical m-t-10 m-b-12 o-radio-list"
    ></div>
  </div>
</div>
