<div class="col-h-100 f-horizontal">
  <div class="f-vertical c-sep">
    <div class="p-l-15 m-b-10">
      <p-checkbox
        rr-id="ang_c_040211"
        label="{{ 'angiographyCT.coronaryArteries.leftCoronaryArtery.value' | translate }}"
        labelStyleClass="ui-fat-label"
        [(ngModel)]="model.isLeftCoronaryArtery"
        binary="true"
        name="isLeftCoronaryArtery"
        rrContentReset="isLeftCoronaryArteryBlock"
        rrValidation="isLeftCoronaryArtery isRightCoronaryArtery"
      ></p-checkbox>
    </div>
    <div
      class="col-h-100 f-horizontal"
      id="isLeftCoronaryArteryBlock"
      [rrDisable]="!model.isLeftCoronaryArtery"
    >
      <div class="c-col-1 c-sep c-pad">
        <div class="nested-content o-radio-list">
          <p-checkbox
            rr-id="ang_c_040212"
            label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 5"
            [(ngModel)]="model.isSegment5"
            binary="true"
            name="isSegment5"
          ></p-checkbox>

          <p-checkbox
            rr-id="ang_c_040213"
            label="{{ 'angiographyCT.coronaryArteries.rIVA.value' | translate }}"
            [(ngModel)]="model.isRiva"
            binary="true"
            name="isRiva"
            rrContentReset="isRivaBlock"
          ></p-checkbox>

          <div
            class="nested-content o-radio-list"
            id="isRivaBlock"
            [rrDisable]="!model.isRiva"
          >
            <p-checkbox
              rr-id="ang_c_040214"
              label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 6"
              [(ngModel)]="model.isSegment6"
              binary="true"
              name="isSegment6"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040215"
              label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 7"
              [(ngModel)]="model.isSegment7"
              binary="true"
              name="isSegment7"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040216"
              label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 8"
              [(ngModel)]="model.isSegment8"
              binary="true"
              name="isSegment8"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040217"
              label="{{ 'angiographyCT.coronaryArteries.segmentD1.value' | translate }}"
              [(ngModel)]="model.isSegment9D1"
              binary="true"
              name="isSegment9D1"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040218"
              label="{{ 'angiographyCT.coronaryArteries.segmentD2.value' | translate }}"
              [(ngModel)]="model.isSegment10D2"
              binary="true"
              name="isSegment10D2"
            ></p-checkbox>
          </div>

          <p-checkbox
            rr-id="ang_c_040219"
            label="{{ 'angiographyCT.coronaryArteries.segment17RamusIntermedius.value' | translate }}"
            [(ngModel)]="model.isSegment17RamusIntermedius"
            binary="true"
            class="text-break"
            name="isSegment17RamusIntermedius"
          ></p-checkbox>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad">
        <div class="nested-content o-radio-list">
          <p-checkbox
            rr-id="ang_c_040347"
            label="{{ 'angiographyCT.coronaryArteries.lCX.value' | translate }}"
            [(ngModel)]="model.isLcx"
            binary="true"
            name="isLcx"
            rrContentReset="isLcxBlock"
          ></p-checkbox>

          <div
            class="o-radio-list nested-content"
            id="isLcxBlock"
            [rrDisable]="!model.isLcx"
          >
            <p-checkbox
              rr-id="ang_c_040348"
              label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 11"
              [(ngModel)]="model.isSegment11"
              binary="true"
              name="isSegment11"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040349"
              label="{{ 'angiographyCT.coronaryArteries.segmentOM1.value' | translate }}"
              [(ngModel)]="model.isSegment12Om1"
              binary="true"
              name="isSegment12Om1"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040350"
              label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 13"
              [(ngModel)]="model.isSegment13"
              binary="true"
              name="isSegment13"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040351"
              label="{{ 'angiographyCT.coronaryArteries.segmentOM2.value' | translate }}"
              [(ngModel)]="model.isSegment14Om2"
              binary="true"
              name="isSegment14Om2"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040352"
              label="{{ 'angiographyCT.coronaryArteries.segmentLPDA.value' | translate }}"
              [(ngModel)]="model.isSegment15LPda"
              binary="true"
              name="isSegment15LPda"
            ></p-checkbox>

            <p-checkbox
              rr-id="ang_c_040353"
              label="{{ 'angiographyCT.coronaryArteries.segmentLPLB.value' | translate }}"
              [(ngModel)]="model.isSegment18LPlb"
              binary="true"
              name="segmentLPLB"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad o-radio-list">
    <p-checkbox
      rr-id="ang_c_040401"
      label="{{ 'angiographyCT.coronaryArteries.rightCoronaryArtery.value' | translate }}"
      labelStyleClass="ui-fat-label"
      [(ngModel)]="model.isRightCoronaryArtery"
      binary="true"
      name="isRightCoronaryArtery"
      rrContentReset="isRightCoronaryArteryBlock"
      rrValidation="isLeftCoronaryArtery isRightCoronaryArtery"
    ></p-checkbox>
    <div
      class="nested-content o-radio-list"
      id="isRightCoronaryArteryBlock"
      [rrDisable]="!model.isRightCoronaryArtery"
    >
      <p-checkbox
        rr-id="ang_c_040402"
        label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 1"
        [(ngModel)]="model.isSegment1"
        binary="true"
        name="isSegment1"
      ></p-checkbox>

      <p-checkbox
        rr-id="ang_c_040403"
        label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 2"
        [(ngModel)]="model.isSegment2"
        binary="true"
        name="isSegment2"
      ></p-checkbox>

      <p-checkbox
        rr-id="ang_c_040404"
        label="{{ 'angiographyCT.coronaryArteries.segment.value' | translate }} 3"
        [(ngModel)]="model.isSegment3"
        binary="true"
        name="isSegment3"
      ></p-checkbox>

      <p-checkbox
        rr-id="ang_c_040405"
        label="{{ 'angiographyCT.coronaryArteries.segmentRPDA.value' | translate }}"
        [(ngModel)]="model.isSegment4RPda"
        binary="true"
        name="isSegment4RPda"
      ></p-checkbox>

      <p-checkbox
        rr-id="ang_c_040406"
        label="{{ 'angiographyCT.coronaryArteries.segmentRPLB.value' | translate }}"
        [(ngModel)]="model.isSegment16RPlb"
        binary="true"
        name="isSegment16RPlb"
      ></p-checkbox>
    </div>
  </div>
</div>
