<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 f-vertical f-start c-sep c-pad-r o-radio-list">
    <h2 rr-id="elb_m_040232" class="m-b-33">
      {{'elbowMRT.bones.details.value' | translate}}
    </h2>
    <p-checkbox
      rr-id="elb_m_0402102"
      label="{{'elbowMRT.bones.osteophytes.value' | translate}}"
      name="isOsteophytes"
      binary="true"
      [(ngModel)]="model.isOsteophytes"
    ></p-checkbox>
    <p-checkbox
      rr-id="elb_m_0402103"
      label="{{'elbowMRT.bones.subchondralSclerosis.value' | translate}}"
      name="isSubchondralSclerosis"
      binary="true"
      [(ngModel)]="model.isSubchondralSclerosis"
    ></p-checkbox>
    <p-checkbox
      rr-id="elb_m_0402104"
      label="{{'elbowMRT.bones.jointSpaceNarrowing.value' | translate}}"
      name="isJointSpaceNarrowing"
      binary="true"
      [(ngModel)]="model.isJointSpaceNarrowing"
    ></p-checkbox>
    <p-checkbox
      rr-id="elb_m_0402105"
      class="m-b-7"
      label="{{'elbowMRT.bones.looseBody.value' | translate}}"
      name="isLooseBody"
      rrContentReset="isLooseBody-block"
      binary="true"
      [(ngModel)]="model.isLooseBody"
    ></p-checkbox>
    <div
      id="isLooseBody-block"
      class="f-vertical f-start o-radio-list nested-content"
      [rrDisable]="!model.isLooseBody"
    >
      <p rr-id="elb_m_0402106" class="m-b-3">
        {{'elbowMRT.bones.maxDiameter.value' | translate}}
      </p>
      <rr-number-input
        inputRrId="elb_m_0402107"
        labelRrId="elb_m_0402108"
        [(ngModel)]="model.looseBodyMaxDiameterInMm"
        label="{{ 'elbowMRT.bones.inMm.value' | translate }}"
        name="looseBodyMaxDiameterInMm"
        [config]="{min: 1, max: 99}"
      >
      </rr-number-input>
      <p-checkbox
        rr-id="elb_m_0402154"
        label="{{'elbowMRT.bones.looseBodyMoreThanOne.value' | translate}}"
        name="isMoreThanOneLooseBody"
        rrContentReset="isMoreThanOneLooseBody-block"
        binary="true"
        [(ngModel)]="model.isMoreThanOneLooseBody"
      ></p-checkbox>
      <div
        id="isMoreThanOneLooseBody-block"
        [rrDisable]="!model.isMoreThanOneLooseBody"
      >
        <p-dropdown
          styleClass="ui-brown-box o-width-100"
          [options]="ddlW014"
          [(ngModel)]="model.looseBodyType"
          name="looseBodyType"
          rr-id="elb_m_0402155"
          rrDropdownClear
          [placeholder]="'shared.pleaseSelect' | translate"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="c-col-1 c-sep c-pad "></div>

  <div class="c-col-1 c-sep c-pad"></div>

  <div class="c-col-1 c-pad-l"></div>
</div>
