.description-container {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 3px solid #00aec2;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 30px;
  max-width: 785px;
}

.description {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
  span {
    white-space: pre-line;
  }
}
