@import "../../soft-parts.component";

.p-t-24 {
  padding-top: 24px;
}

.p-b-3 {
  padding-bottom: 3px;
}

.p-t-13 {
  padding-top: 13px;
}

.p-t-38 {
  padding-top: 38px;
}

.p-t-6 {
  padding-top: 6px;
}

.p-t-4 {
  padding-top: 4px;
}

.p-b-4 {
  padding-bottom: 4px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-45 {
  padding-top: 45px;
}
