$cardioFirstCircleColor: #d2b2ed;
$cardioSecondCircleColor: #6ed1dc;
$cardioThirdCircleColor: #b2e7ed;
$cardioFourthCircleColor: #ededb2;

.circle {
  fill: #fff;
  stroke: #2b2e34;
}

.caption {
  font-size: 18px;
  min-height: 30px;
  display: flex;
  align-self: flex-start;
  line-height: 22px;
  font-family: BentonSansLight, sans-serif;

  &-first {
    background-color: $cardioFirstCircleColor;
  }

  &-second {
    background-color: $cardioSecondCircleColor;
  }

  &-third {
    background-color: $cardioThirdCircleColor;
  }

  &-fourth {
    background-color: $cardioFourthCircleColor;
  }

  span {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.inner-circle {
  stroke: none;
}

.outer-circle {
  fill: none;
}

.upper-left {
  fill: $cardioFirstCircleColor;
}

.upper-right {
  fill: $cardioSecondCircleColor;
}

.lower-left {
  fill: $cardioThirdCircleColor;
}

.lower-right {
  fill: $cardioFourthCircleColor;
}
