<div class="f-horizontal content-height">
  <div class="c-col-1 c-pad c-sep">
    <div class="o-radio-list">
      <h2 rr-id="spi_m_070202" class="text-break" rrValidation="spineLocation">
        {{ 'spineMRT.spinalCanal.localizationTopBottomVertebra.value' |
        translate}}*
      </h2>
      <rr-spine-simple
        rr-id="spi_m_070203"
        (click)="openLargeLocalizer()"
        [spineLocation]="model.spineLocation"
        rrValidation="spineLocation"
        isLocalizer="true"
        [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
      >
      </rr-spine-simple>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep">
    <div class="o-list">
      <div class="o-radio-list">
        <h2 rr-id="spi_m_070204" rrInfoIcon="spi_m_07_01">
          {{ 'spineMRT.spinalCanal.spinalCanalStenosisDetail.value' | translate
          }}
        </h2>
        <p-radioButton
          name="spinalCanalStenosisDetailType"
          [value]="spinalCanalStenosisDetailTypeEnum.Relative"
          rr-id="spi_m_070302"
          [(ngModel)]="model.spinalCanalStenosisDetailType"
          label="{{ 'spineMRT.spinalCanal.relative.value' | translate }}"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          name="spinalCanalStenosisDetailType"
          [value]="spinalCanalStenosisDetailTypeEnum.Absolutely"
          rr-id="spi_m_070303"
          [(ngModel)]="model.spinalCanalStenosisDetailType"
          label="{{ 'spineMRT.spinalCanal.absolutely.value' | translate }}"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          name="spinalCanalStenosisDetailType"
          [value]="spinalCanalStenosisDetailTypeEnum.HighGrade"
          rr-id="spi_m_070304"
          [(ngModel)]="model.spinalCanalStenosisDetailType"
          label="{{ 'spineMRT.spinalCanal.highGradeLiquorUsed.value' | translate }}"
          rrUnClickRadio
        ></p-radioButton>
      </div>
      <div class="o-radio-list">
        <h3 rr-id="spi_m_070305">
          {{ 'spineMRT.spinalCanal.widthOfTheSpinal.value' | translate }}
        </h3>
        <rr-number-input
          inputRrId="spi_m_070306"
          labelRrId="spi_m_070307"
          name="widthOfTheSpinalCanal"
          [(ngModel)]="model.widthOfTheSpinalCanal"
          label="{{ 'spineMRT.spinalCanal.inMm.value' | translate }}"
        ></rr-number-input>
      </div>
      <p-checkbox
        label="{{'spineMRT.spinalCanal.myelopathy.value' | translate}}"
        binary="true"
        rr-id="spi_m_070308"
        [(ngModel)]="model.isMyelopathy"
        name="isMyelopathy"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep"></div>
  <div class="c-col-1 c-pad-l"></div>
</div>
