.calculator {
  height: 88px;
  position: relative;
}

.calculator-measure {
  width: 30%;
}

.calculator-measure-weight-image {
  margin-left: -6px;
  margin-top: -8px;
}

.calculator-measure-height-image {
  margin-left: 2px;
  margin-top: -9px;
}

label {
  font-family: BentonSansLight;
  line-height: 0.7;
  margin-bottom: 14px;
  margin-top: 12px;
  margin-right: 6px;
}
label.height-align {
  margin-right: 0px;
  margin-left: 10px;
}

label.weight-align {
  margin-right: 0px;
  margin-left: 5px;
}

label.number {
  font-size: 55px;
  letter-spacing: -0.9px;
}

.label--color-gray {
  color: #eaeaea;
}

.label--color-cyan {
  color: #00aec2;
}

.number-height {
  margin-right: 12px;
}

label.measure {
  font-size: 15px;
  color: #2b2e34;
}

.measure-kilograms {
  position: relative;
  right: -6px;
  bottom: 2px;
}

.measure-centimeters {
  position: relative;
  left: 7px;
  bottom: 2px;
}

.measure-bmi {
  position: relative;
  bottom: 2px;
}

.calculator-result {
  width: 30%;
  float: left;
  position: relative;
  height: 100%;
}

.calculator-result--blue-box {
  height: 22px;
  width: 94%;
  background: #00aec2;
  border-radius: 10px;
  position: absolute;
  bottom: 4px;
  left: -5px;

  &__with-text-header {
    bottom: -35px;
  }
}

.calculator-result--blue-box p {
  margin-top: 1.5px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: BentonSansBold;
  letter-spacing: -0.9px;
}

.calculator-result-numbers {
  margin-left: -9px;
}

.p-l-1 {
  padding-left: 5px;
}

.bsa-result {
  width: 15%;
  margin-left: 30px;
}
