.o-radio-list-custom > :not(:last-child) {
  margin-bottom: 12px;
}

:host ::ng-deep rr-calendar-input .ui-inputtext {
  height: 40px;
  width: 158px;
  cursor: pointer;
  background-color: #ffffff !important;
}

.text-break {
  white-space: pre !important;
}
