<div class="f-vertical f-start col-h-100 o-width-100 c-pad-l">
  <h2 rr-id="abd_m_100224" class="m-t-12">
    {{ 'abdomenMRT.peritonealCavity.localization.value' | translate }}*
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="f-vertical c-sep m-t-10 m-b-10 c-pad-r">
      <div class="o-radio-list f-vertical">
        <p-checkbox
          rr-id="abd_m_100225"
          label="{{ 'abdomenMRT.peritonealCavity.intraperitoneal.value' | translate }}"
          labelStyleClass="ui-fat-label"
          [(ngModel)]="model.isIntraperitoneal"
          binary="true"
          name="isIntraperitoneal"
          rrContentReset="interpitoneal-block"
          [rrValidation]="localizationGroup"
        ></p-checkbox>
        <div class="nested-content" [rrDisable]="!model.isIntraperitoneal">
          <p rr-id="abd_m_100226" class="m-t-3">
            {{ 'abdomenMRT.peritonealCavity.localization.value' | translate }}
          </p>
        </div>
      </div>
      <div id="interpitoneal-block" class="f-horizontal col-h-100">
        <div class="c-col-1 c-sep c-pad-r">
          <div
            class="nested-content o-radio-list m-t-8"
            [rrDisable]="!model.isIntraperitoneal"
          >
            <p-checkbox
              rr-id="abd_m_100204"
              label="{{ 'abdomenMRT.peritonealCavity.subphrenic.value' | translate }}"
              [(ngModel)]="model.isSubphrenic"
              binary="true"
              name="isSubphrenic"
              rrContentReset="subphrenic-block"
            ></p-checkbox>
            <div
              id="subphrenic-block"
              class="o-radio-list nested-content"
              [rrDisable]="!model.isSubphrenic"
            >
              <p-checkbox
                rr-id="abd_m_100205"
                label="{{ 'abdomenMRT.peritonealCavity.right.value' | translate }}"
                [(ngModel)]="model.isRight"
                binary="true"
                name="isRight"
              ></p-checkbox>
              <p-checkbox
                rr-id="abd_m_100206"
                label="{{ 'abdomenMRT.peritonealCavity.left.value' | translate }}"
                [(ngModel)]="model.isLeft"
                binary="true"
                name="isLeft"
              ></p-checkbox>
            </div>
            <p-checkbox
              rr-id="abd_m_100207"
              label="{{ 'abdomenMRT.peritonealCavity.omentalBursa.value' | translate }}"
              [(ngModel)]="model.isOmentalBursa"
              binary="true"
              name="isOmentalBursa"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100208"
              label="{{ 'abdomenMRT.peritonealCavity.omentumMajus.value' | translate }}"
              [(ngModel)]="model.isOmentumMajus"
              binary="true"
              name="isOmentumMajus"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100209"
              label="{{ 'abdomenMRT.peritonealCavity.omentalForamen.value' | translate }}"
              [(ngModel)]="model.isOmentalForamen"
              binary="true"
              name="isOmentalForamen"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100210"
              label="{{ 'abdomenMRT.peritonealCavity.subhepatic.value' | translate }}"
              [(ngModel)]="model.isSubhepatic"
              binary="true"
              name="isSubhepatic"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100211"
              label="{{ 'abdomenMRT.peritonealCavity.supramesenteric.value' | translate }}"
              [(ngModel)]="model.isSupramesenteric"
              binary="true"
              name="isSupramesenteric"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100212"
              label="{{ 'abdomenMRT.peritonealCavity.inframesenteric.value' | translate }}"
              [(ngModel)]="model.isInframesenteric"
              binary="true"
              name="isInframesenteric"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100213"
              label="{{ 'abdomenMRT.peritonealCavity.mesentericRoot.value' | translate }}"
              [(ngModel)]="model.isMesentericRoot"
              binary="true"
              name="isMesentericRoot"
            ></p-checkbox>
          </div>
        </div>
        <div class="c-col-1 c-pad-l o-radio-list">
          <div
            class="nested-content o-radio-list"
            [rrDisable]="!model.isIntraperitoneal"
          >
            <p-checkbox
              class="m-t-8"
              rr-id="abd_m_100302"
              label="{{ 'abdomenMRT.peritonealCavity.paracolic.value' | translate }}"
              [(ngModel)]="model.isParacolic"
              binary="true"
              name="isParacolic"
              rrContentReset="paracolic-block"
            ></p-checkbox>
            <div
              id="paracolic-block"
              class="nested-content o-radio-list"
              [rrDisable]="!model.isParacolic"
            >
              <p-checkbox
                rr-id="abd_m_100303"
                label="{{ 'abdomenMRT.peritonealCavity.right.value' | translate }}"
                [(ngModel)]="model.isParacolicRight"
                binary="true"
                name="isParacolicRight"
              ></p-checkbox>
              <p-checkbox
                rr-id="abd_m_100369"
                label="{{ 'abdomenMRT.peritonealCavity.left.value' | translate }}"
                [(ngModel)]="model.isParacolicLeft"
                binary="true"
                name="isParacolicLeft"
              ></p-checkbox>
            </div>
            <p-checkbox
              rr-id="abd_m_100304"
              label="{{ 'abdomenMRT.peritonealCavity.mesocolonTransversum.value' | translate }}"
              [(ngModel)]="model.isMesocolonTransversum"
              binary="true"
              name="isMesocolonTransversum"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100305"
              label="{{ 'abdomenMRT.peritonealCavity.supramesocolic.value' | translate }}"
              [(ngModel)]="model.isSupramesocolic"
              binary="true"
              name="isSupramesocolic"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100306"
              label="{{ 'abdomenMRT.peritonealCavity.inframesocolic.value' | translate }}"
              [(ngModel)]="model.isInframesocolic"
              binary="true"
              name="isInframesocolic"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100307"
              label="{{ 'abdomenMRT.peritonealCavity.vesicouterinePouch.value' | translate }}"
              [(ngModel)]="model.isVesicoUterinePouch"
              binary="true"
              name="isVesicoUterinePouch"
              [rrDisable]="!isFemale"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100308"
              label="{{ 'abdomenMRT.peritonealCavity.rectouterinePouchpouchOfDouglas.value' | translate }}"
              [(ngModel)]="model.isRectoUterinePouchPouchOfDouglas"
              binary="true"
              name="isRectoUterinePouchPouchOfDouglas"
              [rrDisable]="!isFemale"
              labelStyleClass="text-break"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100309"
              label="{{ 'abdomenMRT.peritonealCavity.rectovesicalPouch.value' | translate }}"
              [(ngModel)]="model.isRectoVesicalPouch"
              binary="true"
              name="isRectoVesicalPouch"
              [rrDisable]="!isMale"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100310"
              label="{{ 'abdomenMRT.peritonealCavity.mesenteryOfTheSmallBowel.value' | translate }}"
              [(ngModel)]="model.isMesenteryOfTheSmallBowel"
              binary="true"
              name="isMesenteryOfTheSmallBowel"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100311"
              label="{{ 'abdomenMRT.peritonealCavity.diffuse.value' | translate }}"
              [(ngModel)]="model.isDiffuse"
              binary="true"
              name="isDiffuse"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="f-vertical c-sep m-t-10 m-b-10 c-pad-l">
      <p-checkbox
        rr-id="abd_m_100408"
        label="{{ 'abdomenMRT.peritonealCavity.retroperitoneum.value' | translate }}"
        labelStyleClass="ui-fat-label"
        class="m-b-13"
        [(ngModel)]="model.isRetroperitoneum"
        binary="true"
        name="isRetroperitoneum"
        rrContentReset="left-retroperitoneum-block right-retroperitoneum-block"
        [rrValidation]="localizationGroup"
      ></p-checkbox>
      <div class="nested-content">
        <p
          rr-id="abd_m_100409"
          class="m-b-7"
          [rrDisable]="!model.isRetroperitoneum"
        >
          {{ 'abdomenMRT.peritonealCavity.localization.value' | translate }}
        </p>
      </div>
      <div class="f-horizontal col-h-100">
        <div id="left-retroperitoneum-block" class="c-col-1 c-sep c-pad-r">
          <div
            class="nested-content o-radio-list"
            [rrDisable]="!model.isRetroperitoneum"
          >
            <p-checkbox
              rr-id="abd_m_100410"
              label="{{ 'abdomenMRT.peritonealCavity.anteriorPararenalSpace.value' | translate }}"
              [(ngModel)]="model.isAnteriorPararenalSpace"
              binary="true"
              name="isAnteriorPararenalSpace"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100411"
              label="{{ 'abdomenMRT.peritonealCavity.posteriorPararenalSpace.value' | translate }}"
              [(ngModel)]="model.isPosteriorPararenalSpace"
              binary="true"
              name="isPosteriorPararenalSpace"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100412"
              label="{{ 'abdomenMRT.peritonealCavity.perirenalSpace.value' | translate }}"
              [(ngModel)]="model.isPerirenalSpace"
              binary="true"
              name="isPerirenalSpace"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100413"
              label="{{ 'abdomenMRT.peritonealCavity.anteriorLeafGerotaFascia.value' | translate }}"
              labelStyleClass="text-break"
              [(ngModel)]="model.isAnteriorLeafGerotaFascia"
              binary="true"
              name="isAnteriorLeafGerotaFascia"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100414"
              label="{{ 'abdomenMRT.peritonealCavity.posteriorLeafGerotaFascia.value' | translate }}"
              labelStyleClass="text-break"
              [(ngModel)]="model.isPosteriorLeafGerotaFascia"
              binary="true"
              name="isPosteriorLeafGerotaFascia"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100465"
              label="{{ 'abdomenMRT.peritonealCavity.lateroconalFascia.value' | translate }}"
              [(ngModel)]="model.isLateroconalFascia"
              binary="true"
              name="isLateroconalFascia"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100466"
              label="{{ 'abdomenMRT.peritonealCavity.zuckerkandlsFascia.value' | translate }}"
              [(ngModel)]="model.isZuckerkandlsFascia"
              binary="true"
              name="isZuckerkandlsFascia"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100467"
              label="{{ 'abdomenMRT.peritonealCavity.paraaortic.value' | translate }}"
              [(ngModel)]="model.isParaaortic"
              binary="true"
              name="isParaaortic"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100468"
              label="{{ 'abdomenMRT.peritonealCavity.interaortocaval.value' | translate }}"
              [(ngModel)]="model.isInteraortocaval"
              binary="true"
              name="isInteraortocaval"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100469"
              label="{{ 'abdomenMRT.peritonealCavity.paracaval.value' | translate }}"
              [(ngModel)]="model.isParacaval"
              binary="true"
              name="isParacaval"
              (onChange)="conditionallyClearRetroperitoneumBlock()"
            ></p-checkbox>
          </div>
        </div>
        <div class="c-col-1 c-pad-l">
          <div
            id="right-retroperitoneum-block"
            class="nested-content o-radio-list m-b-59"
            [rrDisable]="!model.isRetroperitoneum || isOnlyInteraortocavalSelected"
          >
            <p rr-id="abd_m_100567" class="m-b-7">
              {{ 'abdomenMRT.peritonealCavity.side.value' | translate }}*
            </p>
            <p-checkbox
              rr-id="abd_m_100568"
              label="{{ 'abdomenMRT.peritonealCavity.right.value' | translate }}"
              [(ngModel)]="model.isRetroperitoneumRightSide"
              binary="true"
              name="isRetroperitoneumRightSide"
              rrValidation="isRetroperitoneumRightSide isRetroperitoneumLeftSide"
            ></p-checkbox>
            <p-checkbox
              rr-id="abd_m_100569"
              label="{{ 'abdomenMRT.peritonealCavity.left.value' | translate }}"
              [(ngModel)]="model.isRetroperitoneumLeftSide"
              binary="true"
              name="isRetroperitoneumLeftSide"
              rrValidation="isRetroperitoneumRightSide isRetroperitoneumLeftSide"
            ></p-checkbox>
          </div>
          <p-checkbox
            rr-id="abd_m_100570"
            label="{{ 'abdomenMRT.peritonealCavity.suspicionOf.value' | translate }}"
            labelStyleClass="ui-fat-label"
            [(ngModel)]="model.isSubordinate"
            binary="true"
            name="isSubordinate"
            [rrValidation]="localizationGroup"
          ></p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
