<p-tabView class="rr-tabView facial-skull-tabs">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_1102248"
        class="custom-tab-header"
        [rrValidation]="['salivaryGlandsDiagnosis1LocalizationType', 'isRight isLeft']"
        ifAny="true"
      >
        {{ "headMRT.facialSkull.localization.value" | translate }}
      </h1>
    </ng-template>
    <rr-salivary-glands-localization
      class="f-horizontal col-h-100"
      [model]="model"
      [w058]="w058"
    ></rr-salivary-glands-localization>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_1103259" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationI.value" | translate }}
      </h1>
    </ng-template>
    <rr-salivary-glands-charackterization-one
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-salivary-glands-charackterization-one>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_1104214" class="custom-tab-header">
        {{ "headMRT.facialSkull.characterizationII.value" | translate }}
      </h1>
    </ng-template>
    <rr-salivary-glands-charackterization-two
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-salivary-glands-charackterization-two>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_1105175"
        class="custom-tab-header"
        rrValidation="salivaryGlandsDiagnosis1Type"
      >
        {{ "headMRT.facialSkull.differentialDiagnosis.value" | translate }}
      </h1>
    </ng-template>
    <rr-salivary-glands-differential-diagnosis
      class="f-horizontal col-h-100"
      [model]="model"
      [w058]="w058"
      [w059]="w059"
    ></rr-salivary-glands-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
