.html-report-col {
  height: 506px;
}

.c-sep-html-report:not(:last-child) {
  border-right: 1px solid lightgray;
}

.label-html-report-settings {
  font-weight: 700;
  font-size: 18px;
}

.html-report-remove-button {
  width: 66px;
  margin-right: 5px;
  height: 21px;
  color: white;
  background-color: black;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
}

::ng-deep .angular-editor-textarea {
  width: 1307px !important;
  height: 409px !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 3.5px !important;
}

::ng-deep .angular-editor-toolbar {
  width: 1308px !important;
  height: 48px !important;
  background-color: #dfdfdf !important;
  border-radius: 4px !important;
}

::ng-deep .angular-editor-button {
  background-color: transparent !important;
}

::ng-deep .ui-panelmenu-icon {
  float: right !important;
}

::ng-deep .ui-panelmenu {
  width: 277px !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header > a {
  border-left: 0px !important;
  border-right: 0px !important;
  background-color: transparent !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  color: #1caec2 !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-panel {
  margin-top: 0px !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-content {
  background-color: transparent !important;
  border: none !important;
}

::ng-deep body .ui-panelmenu .ui-panelmenu-content .ui-menuitem {
  border-bottom: 1px solid #dbdbdb !important;
}

::ng-deep
  .ui-submenu-list
  > .ui-menuitem
  > .ui-menuitem-link
  > .ui-menuitem-text {
  margin-left: 20px !important;
}
