.header-image-container {
  height: 120px;
}

//TODO possibility to move to common
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-10 {
  margin-bottom: 10px;
}
