<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="nec_m_070217"
        [rrValidation]="['isRightLobe isLeftLobe isIsthmus', 'sizeInMm']"
        ifAny="true"
      >
        {{ 'neckMRT.thyroid.characterizationI.value' | translate }}
      </h1>
    </ng-template>
    <rr-thyroid-characterization-one
      class="f-horizontal col-h-100"
      [model]="model"
    >
    </rr-thyroid-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="nec_m_070326">
        {{ 'neckMRT.thyroid.characterizationII.value' | translate }}
      </h1>
    </ng-template>
    <rr-thyroid-characterization-two
      class="f-horizontal col-h-100"
      [model]="model"
      [isCMReinforced]="isCMReinforced"
      [isDWI]="isDWI"
    >
    </rr-thyroid-characterization-two>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="nec_m_070409" rrValidation="differentialDiagnosisType1">
        {{ 'neckMRT.thyroid.differentialDiagnosis.value' | translate }}
      </h1>
    </ng-template>
    <rr-thyroid-differential-diagnosis
      class="f-horizontal col-h-100"
      [model]="model"
    >
    </rr-thyroid-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
