<div class="finding-tab-view">
  <p-tabView class="rr-tabView">
    <p-tabPanel [selected]="true">
      <ng-template pTemplate="header">
        <h1
          rr-id="elb_m_070239"
          class="custom-tab-header"
          rrValidation="localizationAxialType extensionSizeInMm demarcationType"
          ifAny="true"
        >
          {{'elbowMRT.softTissue.characterizationI.value' | translate}}
        </h1>
      </ng-template>
      <rr-characterization-one
        [model]="model"
        [differentialDiagnosis1Options]="differentialDiagnosis1Options"
      >
      </rr-characterization-one>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="elb_m_070312" class="custom-tab-header">
          {{'elbowMRT.softTissue.characterizationII.value' | translate}}
        </h1>
      </ng-template>
      <rr-characterization-two
        [model]="model"
        [isTechnologyCMReinforcedChecked]="isTechnologyCMReinforcedChecked"
      ></rr-characterization-two>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="elb_m_070401"
          class="custom-tab-header"
          rrValidation="differentialDiagnosis1Type"
          ifAny="true"
        >
          {{'elbowMRT.softTissue.differentialDiagnosisTabHeader.value' |
          translate}}
        </h1>
      </ng-template>
      <rr-differential-diagnosis
        [model]="model"
        [differentialDiagnosis1Options]="differentialDiagnosis1Options"
        [differentialDiagnosis2Options]="differentialDiagnosis2Options"
      >
      </rr-differential-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
