.custom-label-margin {
  ::ng-deep.date-label {
    // overriden date-label class from rr-month-year-input component
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.smaller-col {
  height: 544px;
}
