.export-header {
  padding-top: 90px;
  padding-bottom: 33px;
  text-align: center;
  font-size: 21px;
  font-family: BentonSansBold, sans-serif;
}

.export-dialog-content {
  width: 639px;
  height: 439px;
}

.btnCancel {
  font-family: BentonSansBold, sans-serif;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  background-color: #999999;
  color: #ffffff;
  font-size: 15px;
}

.btnOk {
  font-family: BentonSansBold, sans-serif;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  background: #ffffff;
  color: #999999;
  font-size: 15px;
}

.export-box {
  height: 192px;

  .p-col-100 {
    padding: 5px 173px 5px 173px;
  }

  .export-buttons {
    padding-top: 65px;
  }

  .export-checkboxes {
    padding-top: 35px;
  }
}

.export-logo {
  padding-top: 65px;
  padding-right: 0px;

  img {
    height: 24px;
    float: right;
  }
}

.export-loader img {
  height: 112px;
}
