::ng-deep rr-slider-number-input.technology-slider {
  .labels {
    width: 100% !important;
    margin-top: 16px !important;
  }
  .labels-container {
    justify-content: initial;
    margin: {
      left: 0 !important;
      right: 0 !important;
    }

    .label-item {
      font-size: 11px !important;
      text-align: center;

      &:first-child {
        width: 14% !important;
        text-align: left;
      }

      &:last-child {
        width: 17% !important;
        padding-left: 10px !important;
      }
    }
  }
}

:host ::ng-deep {
  p-tabview li:focus {
    outline: none;
  }

  .ui-tabview {
    // tab headers
    .ui-tabview-nav {
      & > * {
        margin: 0 !important;
        border: none !important;
        width: 50% !important;
        border-radius: 0 !important;
        box-sizing: border-box;
      }

      & > .ui-state-default {
        background-color: #ededed !important;

        &:nth-child(1) {
          border-right: 8px solid white !important;
        }

        & > a {
          box-sizing: border-box;
          padding: 7px 14px;
          width: 100%;

          & > span {
            background-color: #ededed !important;
            font-family: "BentonSansBold", "Helvetica Neue", sans-serif !important;
            font-size: 18px;
          }
          font-weight: 700;
          color: black;
        }
      }

      & > .ui-state-default,
      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        color: black;
      }

      & > .ui-state-active,
      & > .ui-tabview-selected > a > span {
        background-color: #f8f8f8 !important;
      }

      & > .ui-state-active {
        border-bottom: 8px solid #f8f8f8 !important;
      }
    }

    // tab content
    .ui-tabview-panels {
      background-color: #f8f8f8;
      height: 117px;
      margin: 0;
      border: none;
      padding: 10px 15px;
    }
  }
}
