<div class="f-horizontal main-container o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1102304">
        {{ "headMRT.facialSkull.margin.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1102305"
        label="{{ 'headMRT.facialSkull.circumscribed.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Circumscribed"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1102306"
        label="{{ 'headMRT.facialSkull.nonCircumscribed.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.NonCircumscribed"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1102307"
        label="{{ 'headMRT.facialSkull.nodular.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Nodular"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1102308"
        label="{{ 'headMRT.facialSkull.multinodular.value' | translate }}"
        name="marginType"
        [value]="marginTypeEnum.Multinodular"
        [(ngModel)]="model.marginType"
        rrUnClickRadio
      ></p-radioButton>
      <h2 rr-id="hea_m_1102340" class="m-t-20">
        {{ "headMRT.facialSkull.homogeneity.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1102341"
        label="{{ 'headMRT.facialSkull.homogeneous.value' | translate }}"
        name="homogeneityType"
        [value]="homogeneityTypeEnum.Homogeneous"
        [(ngModel)]="model.homogeneityType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1102342"
        label="{{ 'headMRT.facialSkull.heterogeneous.value' | translate }}"
        name="homogeneityType"
        [value]="homogeneityTypeEnum.Heterogeneous"
        [(ngModel)]="model.homogeneityType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1103301">
        {{ "headMRT.facialSkull.shape.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103302"
        label="{{ 'headMRT.facialSkull.round.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Round"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103303"
        label="{{ 'headMRT.facialSkull.oval.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Oval"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103304"
        label="{{ 'headMRT.facialSkull.patchy.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Patchy"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103305"
        label="{{ 'headMRT.facialSkull.areal.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Areal"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103306"
        label="{{ 'headMRT.facialSkull.lobulated.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Lobulated"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103307"
        label="{{ 'headMRT.facialSkull.convex.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Convex"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103308"
        label="{{ 'headMRT.facialSkull.biconvex.value' | translate }}"
        name="shapeType"
        [value]="shapeTypeEnum.Biconvex"
        [(ngModel)]="model.shapeType"
        rrUnClickRadio
      ></p-radioButton>

      <h2 rr-id="hea_m_1103317" class="m-t-20">
        {{ "headMRT.facialSkull.corticalis.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="hea_m_1103318"
        label="{{ 'headMRT.facialSkull.intact.value' | translate }}"
        name="corticalisType"
        [value]="corticalisTypeEnum.Intact"
        [(ngModel)]="model.corticalisType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103319"
        label="{{ 'headMRT.facialSkull.thinningScalopping.value' | translate }}"
        name="corticalisType"
        [value]="corticalisTypeEnum.ThinningScalopping"
        [(ngModel)]="model.corticalisType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103320"
        label="{{ 'headMRT.facialSkull.destruction.value' | translate }}"
        name="corticalisType"
        [value]="corticalisTypeEnum.Destruction"
        [(ngModel)]="model.corticalisType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_m_1103321"
        label="{{ 'headMRT.facialSkull.neocorticalis.value' | translate }}"
        name="corticalisType"
        [value]="corticalisTypeEnum.Neocorticalis"
        [(ngModel)]="model.corticalisType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-13" style="z-index: 0">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1104247">
        {{ "headMRT.facialSkull.t1wSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="t1wSignalType"
        rr-id="hea_m_1104248"
        [(ngModel)]="model.t1wSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="hea_m_1104249" class="m-t-35">
        {{ "headMRT.facialSkull.t2wSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="t2wSignalType"
        rr-id="hea_m_1104250"
        [(ngModel)]="model.t2wSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="hea_m_1104251" class="m-t-35">
        {{ "headMRT.facialSkull.fLAIRSignal.value" | translate }}
      </h2>
      <rr-signal-slider
        name="flairSignalType"
        rr-id="hea_m_1104252"
        [(ngModel)]="model.flairSignalType"
      >
      </rr-signal-slider>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-13">
    <div class="m-l-10 o-radio-list">
      <h2 rr-id="hea_m_1105191">
        {{ "headMRT.facialSkull.T2SWISignal.value" | translate }}
      </h2>

      <p-checkbox
        rr-id="hea_m_1105192"
        name="isSignalVoid"
        label="{{ 'headMRT.facialSkull.signalVoid.value' | translate }}"
        binary="true"
        [(ngModel)]="model.isSignalVoid"
        rrContentReset="signalVoidTypeContainer"
      ></p-checkbox>
      <div
        class="o-radio-list nested-content"
        id="signalVoidTypeContainer"
        [rrDisable]="!model.isSignalVoid"
      >
        <p-radioButton
          rr-id="hea_m_1105193"
          label="{{ 'headMRT.facialSkull.calcification.value' | translate }}"
          name="signalVoidType"
          [value]="signalVoidTypeEnum.Calcification"
          [(ngModel)]="model.signalVoidType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="hea_m_1105194"
          label="{{ 'headMRT.facialSkull.blood.value' | translate }}"
          name="signalVoidType"
          [value]="signalVoidTypeEnum.Blood"
          [(ngModel)]="model.signalVoidType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
      <div class="o-radio-list m-t-30" [rrDisable]="!isDWI">
        <h2 rr-id="hea_m_1105195" rrInfoIcon="hea_m_11_02">
          {{ "headMRT.facialSkull.diffusionImaging.value" | translate }}
        </h2>
        <p-checkbox
          rr-id="hea_m_1105196"
          name="isDiffusionRestriction"
          label="{{ 'headMRT.facialSkull.diffusionRestriction.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isDiffusionRestriction"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
