.main {
  background: #fff;
  margin-top: -102px;
  border-radius: 4px;
}

.close-button {
  cursor: pointer;
  .circle {
    fill: #00aec2;
  }
  .closing-x {
    stroke: #fff;
    stroke-width: 6px;
    fill: none;
  }
}

.close-button,
.circle,
.closing-x {
  pointer-events: all !important;
}

.pointer {
  cursor: pointer;
}

.stroke-gray-5 {
  stroke: #d0d0d0;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
}

.ganglia-lines {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #aaa;
}

.temporal-lobe {
  fill: #ff0;
  opacity: 0.25;
  cursor: pointer;
}

.cerebellar-vermis {
  stroke: #bdbabd;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgba(175, 115, 55, 0.38);
}

.cerebellar-hemisphere {
  fill: rgba(59, 100, 229, 0.2);
}

.hippocampus {
  fill: #fff52d;
  cursor: pointer;
}

.operculum {
  fill: #ffdbde;
  cursor: pointer;
}

.insula {
  fill: #ffa3ed;
  cursor: pointer;
}

.centrum-semiovale {
  stroke: #e7d6b8;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  cursor: pointer;
  pointer-events: all;
}

.parietal-lobe {
  fill: #e5ffd5;
}

.cerebellum {
  fill: rgba(214, 224, 255, 0.6);
  opacity: 0.7;
}

.postcentral-lobe {
  fill: #afffb8;
}

.clickable-part {
  mix-blend-mode: multiply;
  isolation: isolate;
  cursor: pointer;
}

.precentral-gyrus {
  fill: #ffc4c1;
}

.middle-frontal-gyrus {
  fill: #ffe1c9;
}

.superior-frontal-gyrus {
  fill: #ffc79a;
}

.occipital-lobe {
  fill: #eed3ff;
}

.cerebellar-tonsil {
  opacity: 0.7;
  fill: #728fe5;
}

.temporal-pole {
  fill: #fff2bc;
}

.frontal-lobe {
  fill: #ffd6c7;
}

.areas-5 {
  &-frontal-lobe {
    fill: red;
    opacity: 0;
  }
}

.opacity-025 {
  opacity: 0.25;
}

.font-16 {
  font-size: 16px;
}

.font-15 {
  font-size: 15px;
}

.font-60 {
  font-size: 60px;
}

.font-light {
  font-family: BentonSansLight, BentonSans, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, BentonSans, sans-serif;
  font-weight: 700;
}

.mix-blend-darken {
  mix-blend-mode: darken;
}

.stroke-gray-1 {
  stroke: #707070;
}

.stroke-gray-2 {
  stroke: #bdbabd;
}

.stroke-limit-10 {
  stroke-miterlimit: 10;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-linejoin-round {
  stroke-linejoin: round;
}

.stroke-black {
  stroke: #000;
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
}

.fill-gray-1 {
  fill: #ebebeb;
}

.fill-gray-2 {
  fill: #dfdfdf;
}

.fill-blue {
  fill: #97cdf4;
}

.text-hovered {
  @extend .font-bold;
  fill: #00aec2;
}

.text-selected {
  @extend .font-bold;
  fill: #ff0000;
}

.part-hovered {
  &-normal {
    fill: #6ed1dc !important;
    opacity: 0.6 !important;
  }
  &-darker {
    fill: #00aec2 !important;
    opacity: 0.6 !important;
  }
}

.part-selected {
  &-normal {
    fill: #ff0000 !important;
    opacity: 0.6 !important;
  }
  &-darker {
    fill: #dd2323 !important;
    opacity: 0.7 !important;
  }
}

.sides-letters {
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: 700;
}

.svg-lines-5 {
  fill: #f4f4f4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: #bdbabd;
}

.svg-lines-6,
.svg-lines-2 {
  stroke: #dfdfdf;
}

.svg-lines-7,
.svg-lines-8 {
  stroke: #ebebeb;
}

.svg-lines-8,
.svg-lines-7,
.svg-lines-2,
.svg-lines-1,
.svg-lines-12 {
  opacity: 0.25;
}

.svg-lines-3,
.svg-lines-1,
.svg-lines-9,
.svg-lines-10,
.svg-lines-12 {
  stroke: #aaa;
}

.svg-lines-6,
.svg-lines-3,
.svg-lines-9 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-lines-7,
.svg-lines-8,
.svg-lines-2,
.svg-lines-1,
.svg-lines-10,
.svg-lines-12 {
  stroke-miterlimit: 10;
}

.svg-lines-7,
.svg-lines-8,
.svg-lines-2,
.svg-lines-1,
.svg-lines-12 {
  fill: #97cdf4;
}

.svg-lines-7,
.svg-lines-8,
.svg-lines-1,
.svg-lines-12 {
  mix-blend-mode: darken;
}
