.aboutrr {
  font-family: BentonSansLight;
  margin-top: 53px;
  height: 568px;
  &-col {
    width: 735px;
    height: 100%;
  }
  &-col-small {
    width: 448px;
    height: 100%;
  }
  &-col-double {
    width: 70%;
    flex-wrap: wrap;
  }
  &-col-lower {
    max-height: 520px;
  }
  &-row {
    width: 100%;
  }
  &-section-header {
    height: 53px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
  }
}
.rr-version {
  font-size: 21px;
  &-bold {
    font-weight: 700;
    font-family: BentonSansBold;
  }
}
.flex-container {
  display: flex;
}
.flex-child:first-child {
  margin-right: 20px;
}
img {
  padding-top: 10px;
}
.branding {
  font-family: BentonSansBold;
  font-weight: 700;
}
.notbold {
  font-weight: 400;
  line-height: 25px;
}
@for $i from 0 through 200 {
  .m-r-#{$i} {
    margin-right: #{$i}px !important;
  }
}
@for $i from 0 through 200 {
  .m-l-#{$i} {
    margin-left: #{$i}px !important;
  }
}
@for $i from 0 through 200 {
  .p-l-#{$i} {
    padding-left: #{$i}px !important;
  }
}
@for $i from 0 through 350 {
  .p-r-#{$i} {
    padding-right: #{$i}px !important;
  }
}
