<div class="f-horizontal f-start col-h-100 o-width-100">
  <div class="f-vertical c-col-1 c-sep m-t-10 m-b-10 c-pad">
    <div class="m-b-20 o-radio-list m-b-30" [rrDisable]="!isDWI">
      <h2 rr-id="abd_m_100235" rrInfoIcon="abd_m_10_01">
        {{ 'abdomenMRT.peritonealCavity.diffusionImaging.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="abd_m_100236"
        label="{{ 'abdomenMRT.peritonealCavity.diffusionRestriction.value' | translate }}"
        binary="true"
        name="isDiffusionRestriction"
        [(ngModel)]="model.isDiffusionRestriction"
      ></p-checkbox>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="abd_m_100235">
        {{ 'abdomenMRT.peritonealCavity.internalChanges.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="abd_m_100267"
        label="{{ 'abdomenMRT.peritonealCavity.fat.value' | translate }}"
        binary="true"
        name="isFat"
        [(ngModel)]="model.isFat"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100268"
        label="{{ 'abdomenMRT.peritonealCavity.cysts.value' | translate }}"
        binary="true"
        name="isCysts"
        [(ngModel)]="model.isCysts"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100269"
        label="{{ 'abdomenMRT.peritonealCavity.calcification.value' | translate }}"
        binary="true"
        name="isCalcification"
        [(ngModel)]="model.isCalcification"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100270"
        label="{{ 'abdomenMRT.peritonealCavity.bonetooth.value' | translate }}"
        binary="true"
        name="isBoneOrTooth"
        [(ngModel)]="model.isBoneOrTooth"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100271"
        label="{{ 'abdomenMRT.peritonealCavity.capsule.value' | translate }}"
        binary="true"
        name="isInternalChangesCapsule"
        [(ngModel)]="model.isInternalChangesCapsule"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100272"
        label="{{ 'abdomenMRT.peritonealCavity.septa.value' | translate }}"
        binary="true"
        name="isSepta"
        [(ngModel)]="model.isSepta"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100273"
        label="{{ 'abdomenMRT.peritonealCavity.necrosis.value' | translate }}"
        binary="true"
        name="isNecrosis"
        [(ngModel)]="model.isNecrosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100274"
        label="{{ 'abdomenMRT.peritonealCavity.signalVoids.value' | translate }}"
        binary="true"
        name="isSignalVoids"
        [(ngModel)]="model.isSignalVoids"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100275"
        label="{{ 'abdomenMRT.peritonealCavity.hemorrhage.value' | translate }}"
        binary="true"
        name="isHemorrhage"
        [(ngModel)]="model.isHemorrhage"
      ></p-checkbox>
    </div>
  </div>
  <div class="f-vertical c-col-1 c-sep m-t-10 m-b-10 c-pad">
    <div class="o-radio-list">
      <h2 rr-id="abd_m_100357">
        {{ 'abdomenMRT.peritonealCavity.growthPatterns.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="abd_m_100358"
        label="{{ 'abdomenMRT.peritonealCavity.displacement.value' | translate }}"
        [(ngModel)]="model.growthPatternsType"
        [value]="growthPatternsType.Displacement"
        name="growthPatternsType"
        rrContentReset="infiltration-block"
        rrUnClickRadio
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_100359"
        label="{{ 'abdomenMRT.peritonealCavity.infiltration.value' | translate }}"
        [(ngModel)]="model.growthPatternsType"
        [value]="growthPatternsType.Infiltration"
        name="growthPatternsType"
        rrContentReset="infiltration-block"
        rrUnClickRadio
      >
      </p-radioButton>
      <div
        id="infiltration-block"
        class="o-radio-list nested-content"
        *ngIf="model.growthPatternsType === growthPatternsType.Infiltration"
      >
        <p-checkbox
          rr-id="abd_m_100360"
          label="{{ 'abdomenMRT.peritonealCavity.ureter.value' | translate }}"
          binary="true"
          name="isUreter"
          [(ngModel)]="model.isUreter"
        ></p-checkbox>
        <p-checkbox
          rr-id="abd_m_100361"
          label="{{ 'abdomenMRT.peritonealCavity.bone.value' | translate }}"
          binary="true"
          name="isBone"
          [(ngModel)]="model.isBone"
        ></p-checkbox>
        <p-checkbox
          rr-id="abd_m_100362"
          label="{{ 'abdomenMRT.peritonealCavity.neuralForamen.value' | translate }}"
          binary="true"
          name="isNeuralForamen"
          [(ngModel)]="model.isNeuralForamen"
        ></p-checkbox>
        <p-checkbox
          rr-id="abd_m_100363"
          label="{{ 'abdomenMRT.peritonealCavity.spinalCanal.value' | translate }}"
          binary="true"
          name="isSpinalCanal"
          [(ngModel)]="model.isSpinalCanal"
        ></p-checkbox>
        <p-checkbox
          rr-id="abd_m_100364"
          label="{{ 'abdomenMRT.peritonealCavity.cutaneous.value' | translate }}"
          binary="true"
          name="isCutaneous"
          [(ngModel)]="model.isCutaneous"
        ></p-checkbox>
        <p-checkbox
          rr-id="abd_m_100365"
          label="{{ 'abdomenMRT.peritonealCavity.mPsoas.value' | translate }}"
          binary="true"
          name="isMPsoas"
          [(ngModel)]="model.isMPsoas"
        ></p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10 o-list">
    <div class="o-radio-list">
      <h2 rr-id="abd_m_100460">
        {{ 'abdomenMRT.peritonealCavity.associatedFindings.value' | translate }}
      </h2>
      <p-checkbox
        rr-id="abd_m_100461"
        label="{{ 'abdomenMRT.peritonealCavity.pseudoCapsule.value' | translate }}"
        binary="true"
        name="isAssociatedFindingsCapsule"
        [(ngModel)]="model.isAssociatedFindingsCapsule"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100462"
        label="{{ 'abdomenMRT.peritonealCavity.hydronephrosis.value' | translate }}"
        binary="true"
        name="isPseudoCapsule"
        [(ngModel)]="model.isPseudoCapsule"
      ></p-checkbox>
      <p-checkbox
        rr-id="abd_m_100463"
        label="{{ 'abdomenMRT.peritonealCavity.spondylodiscitis.value' | translate }}"
        binary="true"
        name="isSpondylodiscitis"
        [(ngModel)]="model.isSpondylodiscitis"
        rrContentReset="spondylodiscitis-block"
      ></p-checkbox>
      <div
        id="spondylodiscitis-block"
        class="nested-content"
        [rrDisable]="!model.isSpondylodiscitis"
      >
        <p-checkbox
          rr-id="abd_m_100464"
          label="{{ 'abdomenMRT.peritonealCavity.suspicionOf.value' | translate }}"
          binary="true"
          name="isSpondylodiscitisSuspicionOf"
          [(ngModel)]="model.isSpondylodiscitisSuspicionOf"
        ></p-checkbox>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-10">
    <div class="o-radio-list" [rrDisable]="!isContrastEnhanced">
      <h2 rr-id="abd_m_100553">
        {{ 'abdomenMRT.peritonealCavity.contrastEnhancementQuantitative.value' |
        translate }}
      </h2>
      <p-radioButton
        rr-id="abd_m_100554"
        label="{{ 'abdomenMRT.peritonealCavity.none.value' | translate }}"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.No"
        name="contrastEnhancementQuantitativeType"
        rrUnClickRadio
        rrContentReset="rMStrongHomogeneity-block contrastEnhancementDistribution-block"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_100555"
        label="{{ 'abdomenMRT.peritonealCavity.low.value' | translate }}"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Low"
        name="contrastEnhancementQuantitativeType"
        rrUnClickRadio
        rrContentReset="rMStrongHomogeneity-block contrastEnhancementDistribution-block"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_100556"
        label="{{ 'abdomenMRT.peritonealCavity.strong.value' | translate }}"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Strong"
        name="contrastEnhancementQuantitativeType"
        rrUnClickRadio
        rrContentReset="rMStrongHomogeneity-block contrastEnhancementDistribution-block"
      >
      </p-radioButton>
      <div
        id="rMStrongHomogeneity-block"
        class="nested-content o-radio-list"
        [rrDisable]="!isContrastEnhancementQuantitativeBlock"
      >
        <p-radioButton
          rr-id="abd_m_100557"
          label="{{ 'abdomenMRT.peritonealCavity.homogeneous.value' | translate }}"
          [(ngModel)]="model.rMStrongHomogeneityType"
          [value]="homogeneityType.Homogeneous"
          name="rMStrongHomogeneityType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_100558"
          label="{{ 'abdomenMRT.peritonealCavity.heterogeneous.value' | translate }}"
          [(ngModel)]="model.rMStrongHomogeneityType"
          [value]="homogeneityType.Heterogeneous"
          name="rMStrongHomogeneityType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <div
        id="contrastEnhancementDistribution-block"
        class="m-t-30 o-radio-list"
        [rrDisable]="!isContrastEnhancementQuantitativeBlock"
      >
        <h2 rr-id="abd_m_100559">
          {{ 'abdomenMRT.peritonealCavity.contrastEnhancementDistribution.value'
          | translate }}
        </h2>
        <p-radioButton
          rr-id="abd_m_100560"
          label="{{ 'abdomenMRT.peritonealCavity.peripheral.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Peripheral"
          name="contrastEnhancementDistributionType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_100561"
          label="{{ 'abdomenMRT.peritonealCavity.entireLesion.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.EntireLesion"
          name="contrastEnhancementDistributionType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_100562"
          label="{{ 'abdomenMRT.peritonealCavity.central.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Central"
          name="contrastEnhancementDistributionType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_100563"
          label="{{ 'abdomenMRT.peritonealCavity.septal.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Septal"
          name="contrastEnhancementDistributionType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_100564"
          label="{{ 'abdomenMRT.peritonealCavity.nodular.value' | translate }}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Capsular"
          name="contrastEnhancementDistributionType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
  </div>
</div>
