.dialog-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.dialog-button {
  font-family: BentonSansBold;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  font-size: 15px;

  &-confirm {
    background: #ffffff;
    color: #999999;
    margin-right: 4px;
  }

  &-cancel {
    background-color: #999999;
    color: #ffffff;
  }
}
