<div [ngStyle]="{ zoom: zoom }">
  <div class="dialog-content">
    <rr-app-preset-list
      [isDialog]="true"
      (presetSelected)="onModuleSelected($event)"
    ></rr-app-preset-list>
    <div class="dialog-buttons f-horizontal f-center">
      <button
        class="dialog-button dialog-button-confirm"
        (click)="confirm(importMode.ImportAndOpen)"
        [disabled]="!selectedModule"
      >
        {{ "layout.importReportModuleSelectionDialog.importAndOpen" | translate
        }}
      </button>
      <button
        class="dialog-button dialog-button-confirm"
        (click)="confirm(importMode.Import)"
        [disabled]="!selectedModule"
      >
        {{ "layout.importReportModuleSelectionDialog.import" | translate }}
      </button>
      <button class="dialog-button dialog-button-cancel" (click)="cancel()">
        {{ "layout.importReportModuleSelectionDialog.cancel" | translate }}
      </button>
    </div>
  </div>
</div>
