:host ::ng-deep .dateOfLastMRTMammography .date-label {
  margin-top: 9px !important;
}

.m-h-100 {
  min-height: 100px;
}

.h-513 {
  height: 513px;
}

rr-breast-simple,
rr-breast-simple-shoulder {
  height: 199px;
}
