@import "../paravertebral-musculature.component";

.sliders-z-index {
  z-index: 0;
}

.custom-text {
  font-size: 15px;
  white-space: pre-line;
  margin-left: 10px;
}

.second-col {
  height: 469px;
  margin-top: 73px;
}

.third-col {
  height: 419px;
  margin-top: 120px;
  margin-bottom: 10px;
}

.fourth-col {
  height: 498px;
  margin-top: 38px;
}
