<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center" *ngIf="!largeLocalizerConfig">
    <div class="c-col-1 c-pad-r c-sep f-vertical f-start o-radio-list">
      <h1 rr-id="spi_c_040103" class="m-b-15">
        {{ 'spineCT.configuration.finding.value' | translate }}*
      </h1>
      <p-radioButton
        rr-id="spi_c_040104"
        label="{{ 'spineCT.configuration.regularAlignmentNormalCurvature.value' | translate }}"
        class="text-break"
        name="areFindings"
        [value]="areFindingsEnum.No"
        [(ngModel)]="model.areFindings"
        rrValidation="areFindings"
        notInFinding="true"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="spi_c_040105"
        label="{{'spineCT.configuration.finding.value' | translate}}"
        name="areFindings"
        [value]="areFindingsEnum.Yes"
        [(ngModel)]="model.areFindings"
        rrValidation="areFindings"
        notInFinding="true"
        class="m-b-15"
      >
      </p-radioButton>
      <rr-finding-column
        [handler]="findingHandler"
        [disabled]="isDynamicPartDisabled()"
        [setConfig]="findingDropdownConfig"
        [attr.name]="'findings'"
        validationName="findings"
      >
      </rr-finding-column>
    </div>

    <div class="f-horizontal">
      <div class="c-col-4 c-pad-l f-start f-vertical">
        <div class="c-col-4 f-vertical m-h-119">
          <h1
            rr-id="spi_c_040201"
            *ngIf="findingHandler.currentItem.findingType !== findingType.None"
          >
            {{ 'spineCT.configuration.finding.value' | translate }} {{
            findingHandler.currentItemIndex + 1 | number: '2.0-0' }}
          </h1>
        </div>
        <rr-curvature-disorders
          *ngIf="findingHandler.currentItem.findingType === findingType.CurvatureDisorders"
          class="col-h-100"
          [model]="findingHandler.currentItem"
          (emitLocalizer)="setLargeLocalizerOpened($event)"
        ></rr-curvature-disorders>
        <rr-spondylolisthesis
          *ngIf="findingHandler.currentItem.findingType === findingType.Spondylolisthesis"
          class="col-h-100"
          [model]="findingHandler.currentItem"
          (emitLocalizer)="setLargeLocalizerOpened($event)"
        ></rr-spondylolisthesis>
        <rr-transitional-vertebra
          *ngIf="findingHandler.currentItem.findingType === findingType.TransitionalVertebra"
          class="col-h-100"
          [model]="findingHandler.currentItem"
          (emitLocalizer)="setLargeLocalizerOpened($event)"
        ></rr-transitional-vertebra>
        <rr-scoliosis
          *ngIf="findingHandler.currentItem.findingType === findingType.Scoliosis"
          class="col-h-100"
          [model]="findingHandler.currentItem"
          (emitLocalizer)="setLargeLocalizerOpened($event)"
        ></rr-scoliosis>
        <div
          class="f-horizontal col-h-100"
          *ngIf="findingHandler.currentItem.findingType === findingType.None"
        >
          <div class="f-horizontal">
            <div class="c-col-1 c-pad-l c-sep"></div>
            <div class="c-col-1 c-pad c-sep"></div>
            <div class="c-col-1 c-pad c-sep"></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="large-localizer f-horizontal f-center"
    *ngIf="largeLocalizerConfig"
  >
    <rr-spine-complex
      name="localizerModel"
      [(ngModel)]="largeLocalizerConfig.localizerModel"
      [selectionAccessibilityMode]="largeLocalizerConfig.selectionAccessibilityMode"
      [localizationTitle]="largeLocalizerConfig.localizerTitle"
      [localizationDescription]="largeLocalizerConfig.localizerDescription"
      (close)="onLargeLocalizerClosed()"
      [spineLocalizerPermittedSelection]="spineLocalizerPermittedSelection"
      [logicType]="largeLocalizerConfig.localizerLogicType"
    ></rr-spine-complex>
  </div>
</form>
