<div class="f-horizontal h-555">
  <div class="c-col-1 c-pad c-sep">
    <div class="o-radio-list">
      <h2 rr-id="han_m_080230">
        {{ 'handMRT.softTissue.localization.value' | translate }}*
      </h2>
      <p-radioButton
        rr-id="han_m_080231"
        name="localizationType"
        [value]="localizationType.Palmar"
        label="{{ 'handMRT.softTissue.palmar.value' | translate }}"
        [(ngModel)]="model.localizationType"
        rrValidation="localizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_080232"
        name="localizationType"
        [value]="localizationType.Dorsal"
        label="{{ 'handMRT.softTissue.dorsal.value' | translate }}"
        [(ngModel)]="model.localizationType"
        rrValidation="localizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_080233"
        name="localizationType"
        [value]="localizationType.Radial"
        label="{{ 'handMRT.softTissue.radial.value' | translate }}"
        [(ngModel)]="model.localizationType"
        rrValidation="localizationType"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="han_m_080234"
        name="localizationType"
        [value]="localizationType.Ulnar"
        label="{{ 'handMRT.softTissue.ulnar.value' | translate }}"
        [(ngModel)]="model.localizationType"
        rrValidation="localizationType"
      >
      </p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep">
    <div class="o-radio-list m-b-30">
      <h2 rr-id="han_m_080338">
        {{ 'handMRT.softTissue.centerOfTheAbscess.value' | translate }}
      </h2>
      <rr-hand-details-small
        name="handLocation"
        rr-id="han_m_080339"
        [side]="localizerModel"
        [isComplex]="false"
        (click)="openLocalizer()"
        [(ngModel)]="model.handLocationsLocalizer"
        rrValidation="handLocationsLocalizer"
        isLocalizer="true"
      ></rr-hand-details-small>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="han_m_080340">
        {{ 'handMRT.softTissue.maxDiameter.value' | translate }}
      </h2>
      <rr-number-input
        inputRrId="han_m_080341"
        labelRrId="han_m_080342"
        name="maxDiameterInMm"
        [(ngModel)]="model.maxDiameterInMm"
        [label]="'handMRT.softTissue.inMm.value' | translate"
        [config]="{min: 1, max: 100, labelWidth: 200, placeholder: '---'}"
        rrValidation="diameterLargestLesion"
      >
      </rr-number-input>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep"></div>
  <div class="c-col-1 c-pad-l c-sep"></div>
</div>
