<div class="f-horizontal f-start col-h-550 o-width-100 p-t-28 p-b-12">
  <div class="c-col-1 c-pad c-sep o-radio-list">
    <div class="f-vertical f-start o-radio-list p-l-3">
      <h2 rr-id="elb_m_070249" class="m-b-16">
        {{'elbowMRT.softTissue.growthPatterns.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_070250"
        label="{{'elbowMRT.softTissue.subcutaneous.value' | translate}}"
        binary="true"
        name="isSubcutaneous"
        [(ngModel)]="model.isSubcutaneous"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070251"
        label="{{'elbowMRT.softTissue.noDisplacement.value' | translate}}"
        binary="true"
        name="isNoDisplacement"
        [(ngModel)]="model.isNoDisplacement"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070252"
        label="{{'elbowMRT.softTissue.alongTheTendonSheath.value' | translate}}"
        binary="true"
        name="isAlongTheTendonSheath"
        [(ngModel)]="model.isAlongTheTendonSheath"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070253"
        label="{{'elbowMRT.softTissue.alongMedianNerve.value' | translate}}"
        binary="true"
        name="isAlongMedianNerve"
        [(ngModel)]="model.isAlongMedianNerve"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070254"
        label="{{'elbowMRT.softTissue.infiltration.value' | translate}}"
        binary="true"
        name="isInfiltration"
        class="m-b-46"
        [(ngModel)]="model.isInfiltration"
      >
      </p-checkbox>

      <h2 rr-id="elb_m_070255" class="m-b-18">
        {{'elbowMRT.softTissue.associatedFindings.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="elb_m_070256"
        label="{{'elbowMRT.softTissue.cutisThickening.value' | translate}}"
        binary="true"
        name="isCutisThickening"
        [(ngModel)]="model.isCutisThickening"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070257"
        label="{{'elbowMRT.softTissue.pressureErosionBonyErosion.value' | translate}}"
        binary="true"
        name="isPressureErosionBonyErosion"
        [(ngModel)]="model.isPressureErosionBonyErosion"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="elb_m_070258"
        label="{{'elbowMRT.softTissue.macrodactyly.value' | translate}}"
        binary="true"
        name="isMacrodactyly"
        [(ngModel)]="model.isMacrodactyly"
      >
      </p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep o-radio-list sliders-z-index">
    <div class="f-vertical f-start o-radio-list p-l-10">
      <h2 rr-id="elb_m_0703212" class="m-b-2">
        {{'elbowMRT.softTissue.signalT1w.value' | translate}}
      </h2>
      <p rr-id="elb_m_0703213" class="font-15">
        {{'elbowMRT.softTissue.comparedToTheMuscles.value' | translate}}
      </p>
      <rr-slider-number-triple-input
        name="t1w"
        rr-id="elb_m_0703214"
        [(ngModel)]="model.t1w"
        class="m-b-20"
      >
      </rr-slider-number-triple-input>
      <h2 rr-id="elb_m_0703215" class="m-b-0">
        {{'elbowMRT.softTissue.signalT2w.value' | translate}}
      </h2>
      <p rr-id="elb_m_0703216" class="font-15">
        {{'elbowMRT.softTissue.comparedToTheMuscles.value' | translate}}
      </p>
      <rr-slider-number-triple-input
        name="t2w"
        rr-id="elb_m_0703217"
        [(ngModel)]="model.t2w"
      >
      </rr-slider-number-triple-input>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep o-radio-list">
    <div
      class="f-vertical f-start o-radio-list p-l-10"
      [rrDisable]="!isTechnologyCMReinforcedChecked"
    >
      <h2 rr-id="elb_m_070408">
        {{'elbowMRT.softTissue.contrastEnhancementQuantitative.value' |
        translate}}
      </h2>
      <p-radioButton
        rr-id="elb_m_070409"
        label="{{'elbowMRT.softTissue.none.value' | translate}}"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.No"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrContentReset="noContrastEnhancementHomogeneity-block"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="elb_m_070410"
        label="{{'elbowMRT.softTissue.mild.value' | translate}}"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Mild"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrContentReset="noContrastEnhancementHomogeneity-block"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="elb_m_070411"
        label="{{'elbowMRT.softTissue.strong.value' | translate}}"
        name="contrastEnhancementQuantitativeType"
        [value]="contrastEnhancementQuantitativeType.Strong"
        [(ngModel)]="model.contrastEnhancementQuantitativeType"
        rrContentReset="noContrastEnhancementHomogeneity-block"
        rrUnClickRadio
      ></p-radioButton>
      <div
        id="noContrastEnhancementHomogeneity-block"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="model.contrastEnhancementQuantitativeType === contrastEnhancementQuantitativeType.None ||
        model.contrastEnhancementQuantitativeType === contrastEnhancementQuantitativeType.No"
      >
        <p-radioButton
          rr-id="elb_m_070412"
          label="{{'elbowMRT.softTissue.homogeneous.value' | translate}}"
          name="caEnhancementHomogeneityType"
          [value]="caEnhancementHomogeneityType.Homogeneous"
          [(ngModel)]="model.caEnhancementHomogeneityType"
          rrContentReset="noContrastEnhancementHomogeneityDetails-block"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="elb_m_070413"
          label="{{'elbowMRT.softTissue.heterogeneous.value' | translate}}"
          name="caEnhancementHomogeneityType"
          [value]="caEnhancementHomogeneityType.Heterogeneous"
          [(ngModel)]="model.caEnhancementHomogeneityType"
          rrContentReset="noContrastEnhancementHomogeneityDetails-block"
          rrUnClickRadio
        ></p-radioButton>
        <div
          id="noContrastEnhancementHomogeneityDetails-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="model.caEnhancementHomogeneityType !== caEnhancementHomogeneityType.Heterogeneous"
        >
          <p-radioButton
            rr-id="elb_m_070414"
            rrUnClickRadio
            name="heterogenousType"
            [value]="heterogenousType.Central"
            label="{{'elbowMRT.softTissue.central.value' | translate}}"
            [(ngModel)]="model.heterogenousType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="elb_m_070415"
            rrUnClickRadio
            name="heterogenousType"
            [value]="heterogenousType.Peripheral"
            label="{{'elbowMRT.softTissue.peripheral.value' | translate}}"
            [(ngModel)]="model.heterogenousType"
          >
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad-l c-sep o-radio-list"></div>
</div>
