.main {
  cursor: pointer;
}

.border {
  stroke-width: 3px;
  fill: #fff;
  stroke: #e2e2e2;
}

.stroke-none {
  stroke: none;
}

.stroke-round {
  stroke-linecap: round;
}

.fill-none {
  fill: none;
}

.blue-line {
  fill: none;
  stroke: #00aec2;
  stroke-width: 3px;
}

.text {
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: 700;
}

.right-foot-right-side {
  fill: url(#right-foot-right-side);
}

.right-foot-left-side {
  fill: url(#right-foot-left-side);
}

.left-foot-right-side {
  fill: url(#left-foot-right-side);
}

.left-foot-left-side {
  fill: url(#left-foot-left-side);
}

.selectable {
  fill: #f80202;
  opacity: 0;
}

.selected {
  opacity: 0.8;
}

:host-context(.invalid-localizer) {
  .border {
    stroke: red;
  }
}
