.dialog-container {
  height: 426px;
  padding-top: 57px;
}

.dialog-content {
  height: 100%;
}

.dialog-prompt {
  text-align: center;
  font-family: BentonSansLight;
  font-size: 21px;
}

.dialog-title {
  font-family: BentonSansBold;
}

.dialog-footer {
  padding: {
    bottom: 13px;
    right: 10px;
  }
  img {
    height: 27px;
    float: right;
  }
}

.dialog-buttons {
  :first-child {
    margin-right: 4px;
  }
}
.dialog-button {
  font-family: BentonSansBold;
  border-radius: 6px;
  border: 4px solid #999999;
  height: 48px;
  width: 120px;
  font-size: 15px;

  &-confirm {
    background: #ffffff;
    color: #999999;
  }

  &-cancel {
    background-color: #999999;
    color: #ffffff;
  }
}
