<div
  class="dialog-container f-vertical f-space-between"
  [ngStyle]="{ 'zoom': zoom }"
>
  <div class="dialog-content f-vertical f-space-between">
    <div class="dialog-prompt dialog-title">
      {{ config.data.title | translate }}
    </div>
    <div class="dialog-prompt dialog-text text-break">
      {{ config.data.text | translate }}
    </div>

    <div class="dialog-buttons f-horizontal f-center">
      <button class="dialog-button dialog-button-cancel" (click)="cancel()">
        {{ 'layout.sparccConfirmDialog.cancel' | translate }}
      </button>
      <button class="dialog-button dialog-button-confirm" (click)="confirm()">
        {{ 'layout.sparccConfirmDialog.ok' | translate }}
      </button>
    </div>
  </div>
  <div class="dialog-footer">
    <img src="assets/img/layout/rr-logo.svg" />
  </div>
</div>
