<div class="f-horizontal f-center h-520">
  <div class="c-col-1 c-pad c-sep o-list f-vertical">
    <h2
      rr-id="pel_m_040219"
      rrValidation="localizationT1wSignalEnhancementType"
      class="m-b-10"
    >
      {{ 'pelvisMRT.prostata.localizationT1wSignalIncrease.value' | translate }}
    </h2>
    <rr-three-cross-section-small
      rr-id="pel_m_040220"
      name="localizationT1wSignalEnhancementType"
      [(ngModel)]="model.localizationT1wSignalEnhancementType"
      (click)="openLargeLocaliserFn()"
      rrValidation="localizationT1wSignalEnhancementType"
      isLocalizer="true"
    >
    </rr-three-cross-section-small>
  </div>

  <div class="c-col-1 c-pad c-sep o-list f-vertical">
    <div class="o-radio-list">
      <h2 rr-id="pel_m_040301">
        {{ 'pelvisMRT.prostata.pattern.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="pel_m_040302"
        [value]="patternType.Focal"
        rrUnClickRadio
        name="patternType"
        [(ngModel)]="model.patternType"
        label="{{ 'pelvisMRT.prostata.focal.value' | translate }}"
      ></p-radioButton>
      <p-radioButton
        rr-id="pel_m_040303"
        [value]="patternType.DiffuseFlat"
        name="patternType"
        rrUnClickRadio
        [(ngModel)]="model.patternType"
        label="{{ 'pelvisMRT.prostata.diffuseFlat.value' | translate }}"
      ></p-radioButton>
    </div>
  </div>

  <div class="c-col-1 c-pad c-sep o-list f-vertical"></div>
  <div class="c-col-1 c-pad-l o-list f-vertical"></div>
</div>
