/* Disable selection */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #00aec2;
}

.cls-10,
.cls-3 {
  fill: none;
}

.cls-3 {
  stroke: #fff;
  stroke-width: 6px;
}

.cls-4 {
  fill: url(#pattern);
}

.cls-5 {
  font-size: 18px;
}

.cls-5,
.cls-6,
.cls-8 {
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.cls-6 {
  font-size: 60px;
}

.cls-12,
.cls-14,
.cls-7 {
  fill: #f80202;
}

.cls-7,
.cls-8,
.cls-9 {
  font-size: 20px;
}

.cls-7,
.cls-9 {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.cls-10 {
  stroke: #000;
}

.cls-11 {
  opacity: 0.8;
}

.cls-12 {
  opacity: 0.6;
}

.cls-13,
.cls-14 {
  opacity: 0;
}

.element-selected {
  opacity: 0.8;
  path {
    opacity: 0.8;
  }
}

.element-hoverd {
  opacity: 1;
  path {
    opacity: 1;
    fill: #00aec2;
  }
}

.pointer {
  cursor: pointer;
}
