.frame {
  fill: #fff;
}

.border {
  stroke: #ebebeb;
  stroke-width: 3px;

  &--inner {
    fill: none;
  }

  &--outer {
    stroke: none;
  }
}

.element {
  opacity: 0;

  &--hovered {
    fill: #00aec2;
    opacity: 0.8;
    stroke-width: 0;
  }

  &--selected {
    fill: #f80202;
    opacity: 0.8;
    stroke-width: 0;
  }

  &--clickable {
    cursor: pointer;
  }
}

.text {
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;

  &--hovered {
    fill: #00aec2;
  }

  &--selected {
    fill: #f80202;
  }

  &--white {
    fill: #ffffff;
  }
}
