.column--top-spacing {
  margin-top: 25px;
}

.label-extended-width {
  width: 300px;
}
.col-height-555 {
  height: 555px;
}
.col-height-525 {
  height: 525px;
}

.o-patellar-radio-list-7 > :not(:last-child) {
  margin-bottom: 7px;
}

.o-patellar-radio-list-6 > :not(:last-child) {
  margin-bottom: 6px;
}
