.color-picker {
  width: 294px;
  padding: 11px 17px 19px;
  border: solid 1px #707070;
  border-radius: 6px;
  font-size: 18px;
  font-family: BentonSansLight, sans-serif;

  p {
    line-height: 1;
    margin-bottom: 13px;
  }
}

.color-tile {
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  .active {
    font-family: BentonSansBold, sans-serif;
  }
}
