<div class="finding-tab-view">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="tho_c_040209"
          [rrValidation]="['lungsLocation', 'localizationWithinVesselType']"
          ifAny="true"
          noUpdate="true"
        >
          {{ 'thoraxCT.mediastinum.characterizationTabHeader.value' | translate
          }}
        </h1>
      </ng-template>
      <rr-characterization
        [model]="model"
        [isLargeLocalizerOpened]="isLargeLocalizerOpened"
        (emitLocalizer)="openLargeLocalizer($event)"
      ></rr-characterization>
    </p-tabPanel>
    <p-tabPanel
      [header]="'thoraxCT.mediastinum.diagnosisTabHeader.value' | translate"
    >
      <ng-template pTemplate="header">
        <h1
          rr-id="tho_c_040317"
          rrValidation="diagnosisType"
          ifAny="true"
          noUpdate="true"
        >
          {{ 'thoraxCT.mediastinum.diagnosis.value' | translate }}
        </h1>
      </ng-template>
      <rr-diagnosis [model]="model"></rr-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
