<div class="f-horizontal c-pad-l c-sep col-h-100">
  <ng-container [ngSwitch]="model.indicationType">
    <ng-container *ngSwitchDefault>
      <div class="c-col-1 c-sep c-pad-r o-radio-list"></div>
      <div class="c-col-1 c-sep c-pad o-radio-list"></div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.Mass">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020312" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list">
            <h3 rr-id="abd_m_020313">
              {{ "abdomenMRT.anamnesis.details.value" | translate }}
            </h3>
            <p-radioButton
              rr-id="abd_m_020314"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.SuspicionOf"
              label="{{ 'abdomenMRT.anamnesis.suspicionOf.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020315"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.Exclusion"
              label="{{ 'abdomenMRT.anamnesis.exclusion.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020316"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.FollowUp"
              label="{{ 'abdomenMRT.anamnesis.followup.value' | translate }}"
              [(ngModel)]="model.detailsType"
              class="m-b-30"
            >
            </p-radioButton>
            <h3 rr-id="abd_m_020317">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-dropdown
              rr-id="abd_m_020318"
              [(ngModel)]="model.organRegionType"
              styleClass="o-width-100 ui-brown-box"
              name="organRegionType"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              [options]="organRegionOptions1"
              rrDropdownClear
              (onChange)="clearDropdownDependent()"
            >
            </p-dropdown>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.Inflammation">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020319" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list">
            <p-checkbox
              rr-id="abd_m_020320"
              name="isAbscess"
              label="{{ 'abdomenMRT.anamnesis.abscess.value' | translate }}"
              binary="true"
              [(ngModel)]="model.isAbscess"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_020321"
              name="isFistulaFormation"
              label="{{
                'abdomenMRT.anamnesis.fistulaFormation.value' | translate
              }}"
              binary="true"
              [(ngModel)]="model.isFistulaFormation"
              class="m-b-30"
            >
            </p-checkbox>
            <h3 rr-id="abd_m_020322">
              {{ "abdomenMRT.anamnesis.details.value" | translate }}
            </h3>
            <p-radioButton
              rr-id="abd_m_020323"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.SuspicionOf"
              label="{{ 'abdomenMRT.anamnesis.suspicionOf.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020324"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.Exclusion"
              label="{{ 'abdomenMRT.anamnesis.exclusion.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020325"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.FollowUp"
              label="{{ 'abdomenMRT.anamnesis.followup.value' | translate }}"
              [(ngModel)]="model.detailsType"
              class="m-b-30"
            >
            </p-radioButton>
            <h3 rr-id="abd_m_020326">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-dropdown
              rr-id="abd_m_020327"
              [(ngModel)]="model.organRegionType"
              styleClass="o-width-100 ui-brown-box"
              name="organRegionType"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              [options]="organRegionOptions1"
              rrDropdownClear
              (onChange)="clearDropdownDependent()"
            >
            </p-dropdown>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.Concrement">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020328" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list">
            <h3 rr-id="abd_m_020329">
              {{ "abdomenMRT.anamnesis.details.value" | translate }}
            </h3>
            <p-radioButton
              rr-id="abd_m_020330"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.SuspicionOf"
              label="{{ 'abdomenMRT.anamnesis.suspicionOf.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020331"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.Exclusion"
              label="{{ 'abdomenMRT.anamnesis.exclusion.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020332"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.FollowUp"
              label="{{ 'abdomenMRT.anamnesis.followup.value' | translate }}"
              [(ngModel)]="model.detailsType"
              class="m-b-30"
            >
            </p-radioButton>
            <h3 rr-id="abd_m_020333">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-dropdown
              rr-id="abd_m_020334"
              [(ngModel)]="model.organRegionType"
              styleClass="o-width-100 ui-brown-box"
              name="organRegionType"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              [options]="organRegionOptions2"
              rrDropdownClear
              (onChange)="clearDropdownDependent()"
            >
            </p-dropdown>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.AnastomoticInsufficiency">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020335" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list">
            <h3 rr-id="abd_m_020336">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-radioButton
              rr-id="abd_m_020337"
              rrUnClickRadio
              name="anastomosisOrganRegionType"
              [value]="anastomosisOrganRegionType.GastrointestinalTract"
              label="{{
                'abdomenMRT.anamnesis.gastrointestinalTract.value' | translate
              }}"
              [(ngModel)]="model.anastomosisOrganRegionType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020338"
              rrUnClickRadio
              name="anastomosisOrganRegionType"
              [value]="anastomosisOrganRegionType.Urether"
              label="{{ 'abdomenMRT.anamnesis.urether.value' | translate }}"
              [(ngModel)]="model.anastomosisOrganRegionType"
            >
            </p-radioButton>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.Trauma">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020339" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list">
            <h3 rr-id="abd_m_020340">
              {{ "abdomenMRT.anamnesis.details.value" | translate }}
            </h3>
            <p-radioButton
              rr-id="abd_m_020341"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.SuspicionOf"
              label="{{ 'abdomenMRT.anamnesis.suspicionOf.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020342"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.Exclusion"
              label="{{ 'abdomenMRT.anamnesis.exclusion.value' | translate }}"
              [(ngModel)]="model.detailsType"
            >
            </p-radioButton>
            <p-radioButton
              rr-id="abd_m_020343"
              rrUnClickRadio
              name="detailsType"
              [value]="detailsType.FollowUp"
              label="{{ 'abdomenMRT.anamnesis.followup.value' | translate }}"
              [(ngModel)]="model.detailsType"
              class="m-b-30"
            >
            </p-radioButton>
            <h3 rr-id="abd_m_020344">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-dropdown
              rr-id="abd_m_020345"
              [(ngModel)]="model.organRegionType"
              styleClass="o-width-100 ui-brown-box"
              name="organRegionType"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              [options]="organRegionOptions1"
              rrDropdownClear
              (onChange)="clearDropdownDependent()"
            >
            </p-dropdown>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="indicationType.FollowUpAfterTherapy">
      <div class="f-vertical">
        <h2 rr-id="abd_m_020339" class="finding-header">
          {{ indicationFindingHeaderLabel }}
        </h2>
        <div class="f-horizontal col-h-100">
          <div class="c-col-1 c-sep c-pad-r o-radio-list f-vertical">
            <h3 rr-id="abd_m_020347" class="m-b-0">
              {{ "abdomenMRT.anamnesis.date.value" | translate }}
            </h3>
            <rr-month-year-input
              monthRrId="abd_m_020348"
              yearRrId="abd_m_020349"
              [(ngModel)]="model.dateOfFollowUpAfterTherapy"
              name="dateOfFollowUpAfterTherapy"
              class="m-b-13"
            >
            </rr-month-year-input>
            <p-checkbox
              rr-id="abd_m_020350"
              name="isPostoperative"
              label="{{
                'abdomenMRT.anamnesis.postoperative.value' | translate
              }}"
              binary="true"
              [(ngModel)]="model.isPostoperative"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_020351"
              name="isResection"
              label="{{ 'abdomenMRT.anamnesis.resection.value' | translate }}"
              binary="true"
              [(ngModel)]="model.isResection"
              rrContentReset="isResectionBlock"
            >
            </p-checkbox>
            <div
              class="f-start o-radio-list nested-content"
              id="isResectionBlock"
              [rrDisable]="!model.isResection"
            >
              <p-checkbox
                rr-id="abd_m_020352"
                name="isPartialResection"
                label="{{
                  'abdomenMRT.anamnesis.partialResection.value' | translate
                }}"
                binary="true"
                [(ngModel)]="model.isPartialResection"
              >
              </p-checkbox>
            </div>
            <p-checkbox
              rr-id="abd_m_020353"
              name="isChemotherapy"
              label="{{
                'abdomenMRT.anamnesis.chemotherapy.value' | translate
              }}"
              binary="true"
              [(ngModel)]="model.isChemotherapy"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_020354"
              name="isRadio"
              label="{{ 'abdomenMRT.anamnesis.radio.value' | translate }}"
              binary="true"
              [(ngModel)]="model.isRadio"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_020355"
              name="isBiopsy"
              label="{{ 'abdomenMRT.anamnesis.biopsy.value' | translate }}"
              binary="true"
              [(ngModel)]="model.isBiopsy"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="abd_m_020356"
              name="isStenting"
              label="{{ 'abdomenMRT.anamnesis.stenting.value' | translate }}"
              binary="true"
              [(ngModel)]="model.isStenting"
              class="m-b-30"
            >
            </p-checkbox>
            <h3 rr-id="abd_m_020357">
              {{ "abdomenMRT.anamnesis.organRegion.value" | translate }}
            </h3>
            <p-dropdown
              rr-id="abd_m_020358"
              [(ngModel)]="model.organRegionType"
              styleClass="o-width-100 ui-brown-box"
              name="organRegionType"
              placeholder="{{ 'shared.pleaseSelect' | translate }}"
              [options]="organRegionOptions1"
              rrDropdownClear
              (onChange)="clearDropdownDependent()"
            >
            </p-dropdown>
          </div>
          <div class="c-col-1 c-sep c-pad o-radio-list">
            <ng-template
              [ngTemplateOutlet]="organRegionTypeDropdown"
            ></ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #organRegionTypeDropdown>
  <ng-container [ngSwitch]="model.organRegionType">
    <ng-container *ngSwitchCase="organRegionType.None"> </ng-container>
    <ng-container *ngSwitchCase="organRegionType.Liver">
      <h2 rr-id="abd_m_020415">
        {{ "abdomenMRT.anamnesis.localization.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="abd_m_020416"
        rrUnClickRadio
        name="liverLocalizationType"
        [value]="liverLocalizationType.Lobe"
        label="{{ 'abdomenMRT.anamnesis.lobe.value' | translate }}"
        [(ngModel)]="model.liverLocalizationType"
        rrContentReset="liverLocalizationLobeBlock"
        (onClick)="clearLiverSegmentsLocalizer(); clearValidationErrors()"
      >
      </p-radioButton>
      <p-radioButton
        rr-id="abd_m_020417"
        rrUnClickRadio
        name="liverLocalizationType"
        class="m-b-16"
        [value]="liverLocalizationType.LiverSegments"
        label="{{ 'abdomenMRT.anamnesis.liverSegments.value' | translate }}"
        [(ngModel)]="model.liverLocalizationType"
        rrContentReset="liverLocalizationLobeBlock"
        (onClick)="clearLiverSegmentsLocalizer(); clearValidationErrors()"
      >
      </p-radioButton>
      <div class="nested-content">
        <div
          class="f-start o-radio-list"
          *ngIf="model.liverLocalizationType === liverLocalizationType.Lobe"
          id="liverLocalizationLobeBlock"
        >
          <h3 rr-id="abd_m_020418">
            {{ "abdomenMRT.anamnesis.localizationLobe.value" | translate }}*
          </h3>
          <p-checkbox
            rr-id="abd_m_020419"
            name="isRightLobeOfLiver"
            label="{{
              'abdomenMRT.anamnesis.rightLobeOfLiver.value' | translate
            }}"
            binary="true"
            [(ngModel)]="model.isRightLobeOfLiver"
            [rrValidation]="liverSegmentsValidationBlock"
            inSecondFinding="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_020420"
            name="isLeftLobeOfLiver"
            label="{{
              'abdomenMRT.anamnesis.leftLobeOfLiver.value' | translate
            }}"
            binary="true"
            [(ngModel)]="model.isLeftLobeOfLiver"
            [rrValidation]="liverSegmentsValidationBlock"
            inSecondFinding="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_020421"
            name="isCaudateLobe"
            label="{{ 'abdomenMRT.anamnesis.caudateLobe.value' | translate }}"
            binary="true"
            [(ngModel)]="model.isCaudateLobe"
            [rrValidation]="liverSegmentsValidationBlock"
            inSecondFinding="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="abd_m_020422"
            name="isQuadrateLobe"
            label="{{ 'abdomenMRT.anamnesis.quadrateLobe.value' | translate }}"
            binary="true"
            [(ngModel)]="model.isQuadrateLobe"
            [rrValidation]="liverSegmentsValidationBlock"
            inSecondFinding="true"
          >
          </p-checkbox>
        </div>
        <div
          class="f-start o-radio-list"
          *ngIf="
            model.liverLocalizationType === liverLocalizationType.LiverSegments
          "
        >
          <h3
            rr-id="abd_m_020423"
            rrValidation="liverSegmentsLocalizationType"
            inSecondFinding="true"
          >
            {{ "abdomenMRT.anamnesis.localizationLiverSegments.value" |
            translate }}*
          </h3>
          <rr-liver-segments-small-localizer
            rr-id="abd_m_020424"
            name="liverSegmentsLocalizationType"
            [(ngModel)]="model.liverSegmentsLocalizationType"
            rrValidation="liverSegmentsLocalizationType"
            [isLocalizer]="true"
            inSecondFinding="true"
            (click)="openLargeLocalizer()"
          >
          </rr-liver-segments-small-localizer>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="organRegionType.Kidney">
      <ng-template
        [ngTemplateOutlet]="kidneyAndAdrenalGlandContent"
      ></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="organRegionType.AdrenalGland">
      <ng-template
        [ngTemplateOutlet]="kidneyAndAdrenalGlandContent"
      ></ng-template>
    </ng-container>
    <ng-container *ngSwitchCase="organRegionType.GastrointestinalTract">
      <ng-container
        *ngIf="
          model.indicationType !== indicationType.Concrement;
          else simpleHeader
        "
      >
        <h2 rr-id="abd_m_020430">
          {{ "abdomenMRT.anamnesis.gastrointestinalTractDetails.value" |
          translate }}
        </h2>
        <p-checkbox
          rr-id="abd_m_020431"
          name="isEsophagus"
          label="{{ 'abdomenMRT.anamnesis.esophagus.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isEsophagus"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020432"
          name="isStomach"
          label="{{ 'abdomenMRT.anamnesis.stomach.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isStomach"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020433"
          name="isDuodenum"
          label="{{ 'abdomenMRT.anamnesis.duodenum.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isDuodenum"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020434"
          name="isJejunum"
          label="{{ 'abdomenMRT.anamnesis.jejunum.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isJejunum"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020435"
          name="isIleum"
          label="{{ 'abdomenMRT.anamnesis.ileum.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isIleum"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020436"
          name="isColon"
          label="{{ 'abdomenMRT.anamnesis.colon.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isColon"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020437"
          name="isSigma"
          label="{{ 'abdomenMRT.anamnesis.sigma.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isSigma"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020438"
          name="isRectum"
          label="{{ 'abdomenMRT.anamnesis.rectum.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isRectum"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_020439"
          name="isAnus"
          label="{{ 'abdomenMRT.anamnesis.anus.value' | translate }}"
          binary="true"
          [(ngModel)]="model.isAnus"
        >
        </p-checkbox>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container
        *ngIf="
          model.indicationType !== indicationType.Concrement;
          else simpleHeader
        "
      >
        <h2 rr-id="abd_m_020425">{{ dropdownHeaderLabel }}</h2>
        <h3 rr-id="abd_m_020426">
          {{ "abdomenMRT.anamnesis.noFurtherDetails.value" | translate }}
        </h3>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #simpleHeader>
  <h2 rr-id="abd_m_020443">{{ dropdownHeaderLabel }}</h2>
  <h3 rr-id="abd_m_020444">
    {{ "abdomenMRT.anamnesis.noFurtherDetails.value" | translate }}
  </h3>
</ng-template>

<ng-template #kidneyAndAdrenalGlandContent>
  <h2 rr-id="abd_m_020427">
    {{ dropdownHeaderLabel }} {{ "abdomenMRT.anamnesis.details2.value" |
    translate }}
  </h2>
  <p-checkbox
    rr-id="abd_m_020428"
    name="isRight"
    label="{{ 'abdomenMRT.anamnesis.right.value' | translate }}"
    binary="true"
    [(ngModel)]="model.isRight"
  >
  </p-checkbox>
  <p-checkbox
    rr-id="abd_m_020429"
    name="isLeft"
    label="{{ 'abdomenMRT.anamnesis.left.value' | translate }}"
    binary="true"
    [(ngModel)]="model.isLeft"
  >
  </p-checkbox>
</ng-template>
