<div class="f-vertical f-start main-container">
  <h2 rr-id="ang_c_100202" class="main-header c-pad-l">
    {{'angiographyCT.softTissue.localization.value' | translate }}*
  </h2>
  <div class="f-horizontal col-h-100">
    <div class="c-col-1 c-pad o-radio-list">
      <p-radioButton
        rr-id="ang_c_100203"
        label="{{ 'angiographyCT.softTissue.head.value' | translate }}"
        name="supraaorticLocalizationType"
        [(ngModel)]="model.supraaorticLocalizationType"
        [value]="localizationType.Head"
        rrValidation="supraaorticLocalizationType"
        rrContentReset="neckSoftTissueBlock massNeckSoftTissueBlock goiterBlock cervicalSpineFractureBlock massNeckSoftTissueLocalizationBlock"
        (onClick)="resetLocalizer()"
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_c_100204"
        label="{{ 'angiographyCT.softTissue.neckSoftTissue.value' | translate }}"
        name="supraaorticLocalizationType"
        [(ngModel)]="model.supraaorticLocalizationType"
        [value]="localizationType.NeckSoftTissue"
        rrValidation="supraaorticLocalizationType"
        rrContentReset="headBlock fractureBlock massHeadBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock mucosalSwellingParanasalSinusBlock"
        (onClick)="resetLocalizer()"
      ></p-radioButton>
    </div>
    <div class="c-col-1 c-sep-l c-pad">
      <div
        *ngIf="model.supraaorticLocalizationType === localizationType.Head"
        class="o-radio-list"
        id="headBlock"
      >
        <h2 rr-id="ang_c_100301" class="main-header m-b-0">
          {{'angiographyCT.softTissue.pathology.value' | translate }}*
        </h2>
        <p-radioButton
          rr-id="ang_c_100302"
          label="{{ 'angiographyCT.softTissue.fracture.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.Fracture"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="massHeadBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock mucosalSwellingParanasalSinusBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100303"
          label="{{ 'angiographyCT.softTissue.mass.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.Mass"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock mucosalSwellingParanasalSinusBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100304"
          label="{{ 'angiographyCT.softTissue.intracranialHemorrhage.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.IntracranialHemorrhage"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock massHeadBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100305"
          label="{{ 'angiographyCT.softTissue.cerebralEdema.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.CerebralEdema"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock massHeadBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock mucosalSwellingParanasalSinusBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100306"
          label="{{ 'angiographyCT.softTissue.hydrocephalus.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.Hydrocephalus"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock massHeadBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock mucosalSwellingParanasalSinusBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100307"
          label="{{ 'angiographyCT.softTissue.fluidInMastoidCells.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.FluidInMastoidCells"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock massHeadBlock intracranialHemorrhageBlock mucosalSwellingParanasalSinusBlock"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100308"
          label="{{ 'angiographyCT.softTissue.mucosalSwellingParanasalSinus.value' | translate }}"
          name="supraaorticHeadPathologyType"
          [(ngModel)]="model.supraaorticHeadPathologyType"
          [value]="pathologyType.MucosalSwellingParanasalSinus"
          rrValidation="supraaorticHeadPathologyType"
          rrContentReset="fractureBlock massHeadBlock intracranialHemorrhageBlock fluidInMastoidCellsBlock"
        ></p-radioButton>
      </div>
      <div
        *ngIf="model.supraaorticLocalizationType === localizationType.NeckSoftTissue"
        class="o-radio-list"
        id="neckSoftTissueBlock"
      >
        <h2 rr-id="ang_c_100309" class="main-header m-b-0">
          {{'angiographyCT.softTissue.pathology.value' | translate }}*
        </h2>
        <p-radioButton
          rr-id="ang_c_100310"
          label="{{ 'angiographyCT.softTissue.mass.value' | translate }}"
          name="neckSoftTissuePathologyType"
          [(ngModel)]="model.neckSoftTissuePathologyType"
          [value]="neckPathologyType.Mass"
          rrValidation="neckSoftTissuePathologyType"
          rrContentReset="goiterBlock cervicalSpineFractureBlock"
          (onClick)="resetLocalizer()"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100311"
          label="{{ 'angiographyCT.softTissue.goiter.value' | translate }}"
          name="neckSoftTissuePathologyType"
          [(ngModel)]="model.neckSoftTissuePathologyType"
          [value]="neckPathologyType.Goiter"
          rrValidation="neckSoftTissuePathologyType"
          rrContentReset="massNeckSoftTissueBlock cervicalSpineFractureBlock massNeckSoftTissueLocalizationBlock"
          (onClick)="resetLocalizer()"
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_c_100312"
          label="{{ 'angiographyCT.softTissue.cervicalSpineFracture.value' | translate }}"
          name="neckSoftTissuePathologyType"
          [(ngModel)]="model.neckSoftTissuePathologyType"
          [value]="neckPathologyType.CervicalSpineFracture"
          rrValidation="neckSoftTissuePathologyType"
          rrContentReset="massNeckSoftTissueBlock goiterBlock massNeckSoftTissueLocalizationBlock"
        ></p-radioButton>
      </div>
    </div>
    <div
      class="c-col-1 c-sep-l c-pad"
      [class.m-t-31]="model.supraaorticLocalizationType !== localizationType.None"
    >
      <div
        *ngIf="model.supraaorticHeadPathologyType === pathologyType.Fracture"
        class="o-radio-list"
        id="fractureBlock"
      >
        <p-checkbox
          rr-id="ang_c_100401"
          name="isCalvariaBone"
          label="{{'angiographyCT.softTissue.calvariaBone.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCalvariaBone"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100402"
          name="isFacialSkull"
          label="{{'angiographyCT.softTissue.facialSkull.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isFacialSkull"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100403"
          name="isOrbita"
          label="{{'angiographyCT.softTissue.orbita.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isOrbita"
        ></p-checkbox>
      </div>
      <div
        *ngIf="model.supraaorticHeadPathologyType === pathologyType.Mass"
        class="o-radio-list"
        id="massHeadBlock"
      >
        <p-checkbox
          rr-id="ang_c_100404"
          name="isCalvariaBone"
          label="{{'angiographyCT.softTissue.calvariaBone.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCalvariaBone"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100405"
          name="isOrbita"
          label="{{'angiographyCT.softTissue.orbita.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isOrbita"
          rrContentReset="isOrbitaBlock"
        ></p-checkbox>
        <div
          class="f-start o-radio-list nested-content"
          [rrDisable]="!model.isOrbita"
          id="isOrbitaBlock"
        >
          <p-radioButton
            rr-id="ang_c_100406"
            rrUnClickRadio
            name="orbitaType"
            [value]="orbitaType.Intraconal"
            label="{{'angiographyCT.softTissue.intraconal.value' | translate}}"
            [(ngModel)]="model.orbitaType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="ang_c_100407"
            rrUnClickRadio
            name="orbitaType"
            [value]="orbitaType.Extraconal"
            label="{{'angiographyCT.softTissue.extraconal.value' | translate}}"
            [(ngModel)]="model.orbitaType"
          >
          </p-radioButton>
        </div>
        <p-checkbox
          rr-id="ang_c_100408"
          name="isIntracranial"
          label="{{'angiographyCT.softTissue.intracranial.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isIntracranial"
          rrContentReset="isIntracranialBlock"
        ></p-checkbox>
        <div
          class="f-start o-radio-list nested-content"
          [rrDisable]="!model.isIntracranial"
          id="isIntracranialBlock"
        >
          <p-radioButton
            rr-id="ang_c_100409"
            rrUnClickRadio
            name="intracranialType"
            [value]="intracranialType.Intracerebral"
            label="{{'angiographyCT.softTissue.intracerebral.value' | translate}}"
            [(ngModel)]="model.intracranialType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="ang_c_100410"
            rrUnClickRadio
            name="intracranialType"
            [value]="intracranialType.Extracerebral"
            label="{{'angiographyCT.softTissue.extracerebral.value' | translate}}"
            [(ngModel)]="model.intracranialType"
          >
          </p-radioButton>
        </div>
      </div>
      <div
        *ngIf="model.supraaorticHeadPathologyType === pathologyType.IntracranialHemorrhage"
        class="o-radio-list"
        id="intracranialHemorrhageBlock"
      >
        <h2 rr-id="ang_c_100411" class="main-header m-b-0">
          {{'angiographyCT.softTissue.type.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="ang_c_100412"
          name="isSAH"
          label="{{'angiographyCT.softTissue.sAH.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isSAH"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100413"
          name="isSDH"
          label="{{'angiographyCT.softTissue.sDH.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isSDH"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100414"
          name="isEDH"
          label="{{'angiographyCT.softTissue.eDH.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isEDH"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100415"
          name="isParenchymalHemorrhage"
          label="{{'angiographyCT.softTissue.parenchymalHemorrhage.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isParenchymalHemorrhage"
        ></p-checkbox>
        <h2 rr-id="ang_c_100416" class="main-header m-b-0 m-t-35">
          {{'angiographyCT.softTissue.complication.value' | translate }}
        </h2>
        <p-checkbox
          rr-id="ang_c_100417"
          name="isMidlineShift"
          label="{{'angiographyCT.softTissue.midlineShift.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isMidlineShift"
        ></p-checkbox>
      </div>
      <div
        *ngIf="model.supraaorticHeadPathologyType === pathologyType.FluidInMastoidCells"
        class="o-radio-list"
        id="fluidInMastoidCellsBlock"
      >
        <p-checkbox
          rr-id="ang_c_100418"
          name="isImpairedVentilation"
          label="{{'angiographyCT.softTissue.impairedVentilation.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isImpairedVentilation"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100419"
          name="isInflammation"
          label="{{'angiographyCT.softTissue.inflammation.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isInflammation"
        ></p-checkbox>
      </div>
      <div
        *ngIf="model.supraaorticHeadPathologyType === pathologyType.MucosalSwellingParanasalSinus"
        class="o-radio-list"
        id="mucosalSwellingParanasalSinusBlock"
      >
        <p-checkbox
          rr-id="ang_c_100420"
          name="isGasfluidLevel"
          label="{{'angiographyCT.softTissue.gasfluidLevel.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isGasFluidLevel"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100421"
          name="isCircular"
          label="{{'angiographyCT.softTissue.circular.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCircular"
        ></p-checkbox>
      </div>
      <div
        *ngIf="model.neckSoftTissuePathologyType === neckPathologyType.Mass"
        class="o-radio-list"
        id="massNeckSoftTissueBlock"
      >
        <h2 rr-id="ang_c_100422" class="main-header m-b-0">
          {{'angiographyCT.softTissue.side.value' | translate }}*
        </h2>
        <p-checkbox
          rr-id="ang_c_100423"
          name="isRight"
          label="{{'angiographyCT.softTissue.right.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isRight"
          rrValidation="isRight isLeft isMedian"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100424"
          name="isLeft"
          label="{{'angiographyCT.softTissue.left.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isLeft"
          rrValidation="isRight isLeft isMedian"
        ></p-checkbox>
        <p-checkbox
          rr-id="ang_c_100425"
          name="isMedian"
          label="{{'angiographyCT.softTissue.median.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isMedian"
          rrValidation="isRight isLeft isMedian"
        ></p-checkbox>
        <h2 rr-id="ang_c_100426" class="main-header m-b-0 m-t-35">
          {{'angiographyCT.softTissue.size.value' | translate }}
        </h2>
        <p rr-id="ang_c_100427" class="m-b-5">
          {{'angiographyCT.softTissue.maxDiameter.value' | translate }}
        </p>
        <rr-number-input
          labelRrId="ang_c_100429"
          inputRrId="ang_c_100428"
          name="maxDiameter"
          [(ngModel)]="model.maxDiameter"
          [label]="'angiographyCT.softTissue.inMm.value' | translate"
          [config]="{min: 1, max: 999, placeholder: '---'}"
          (announceModelChange)="resetInput()"
        ></rr-number-input>
        <div [rrDisable]="!model.maxDiameter" class="m-t-5">
          <p rr-id="ang_c_100430" class="m-b-5">
            {{'angiographyCT.softTissue.2ndPlane.value' | translate }}
          </p>
          <rr-number-input
            labelRrId="ang_c_100432"
            inputRrId="ang_c_100431"
            name="secondPlane"
            [(ngModel)]="model.secondPlane"
            [label]="'angiographyCT.softTissue.inMm.value' | translate"
            [config]="{min: 1, max: 999, placeholder: '---'}"
            (announceModelChange)="resetInput()"
          ></rr-number-input>
        </div>
        <div [rrDisable]="!model.secondPlane" class="m-t-5">
          <p rr-id="ang_c_100433" class="m-b-5">
            {{'angiographyCT.softTissue.3rdPlane.value' | translate }}
          </p>
          <rr-number-input
            labelRrId="ang_c_100435"
            inputRrId="ang_c_100434"
            name="thirdPlane"
            [(ngModel)]="model.thirdPlane"
            [label]="'angiographyCT.softTissue.inMm.value' | translate"
            [config]="{min: 1, max: 999, placeholder: '---'}"
          ></rr-number-input>
        </div>
      </div>
      <div
        *ngIf="model.neckSoftTissuePathologyType === neckPathologyType.Goiter"
        class="o-radio-list"
        id="goiterBlock"
      >
        <p-checkbox
          rr-id="ang_c_100436"
          name="isWithRetrosternalParts"
          label="{{'angiographyCT.softTissue.withRetrosternalParts.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isWithRetrosternalParts"
        ></p-checkbox>
      </div>
      <div
        *ngIf="model.neckSoftTissuePathologyType === neckPathologyType.CervicalSpineFracture"
        class="o-radio-list"
        id="cervicalSpineFractureBlock"
      >
        <h2
          rr-id="ang_c_100437"
          class="main-header m-b-0"
          rrValidation="spineLocations"
        >
          {{'angiographyCT.softTissue.localization.value' | translate }}*
        </h2>
        <rr-spine-simple
          rr-id="ang_c_100438"
          [selectionAccessibilityMode]="selectionAccessibilityMode.C0toC7"
          [spineLocation]="model.spineLocations"
          isLocalizer="true"
          (click)="openLargeLocalizer('spine')"
          rrValidation="spineLocations"
        ></rr-spine-simple>
      </div>
    </div>
    <div
      class="c-col-1 c-pad-l c-sep-l"
      [class.m-t-31]="model.supraaorticLocalizationType !== localizationType.None"
    >
      <div
        *ngIf="model.neckSoftTissuePathologyType === neckPathologyType.Mass"
        class="o-radio-list"
        id="massNeckSoftTissueLocalizationBlock"
      >
        <h2 rr-id="ang_c_100501" class="main-header m-b-0">
          {{'angiographyCT.softTissue.localization.value' | translate }}
        </h2>
        <p-radioButton
          rr-id="ang_c_100502"
          name="localizationMassType"
          [value]="localizationMassType.MusculatureOfTheFloorOfTheMouth"
          label="{{'angiographyCT.softTissue.musculatureOfTheFloor.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100503"
          name="localizationMassType"
          [value]="localizationMassType.ParotidGland"
          label="{{'angiographyCT.softTissue.parotidGland.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100504"
          name="localizationMassType"
          [value]="localizationMassType.SubmandibularGland"
          label="{{'angiographyCT.softTissue.submandibularGland.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100505"
          name="localizationMassType"
          [value]="localizationMassType.Pharynx"
          label="{{'angiographyCT.softTissue.pharynx.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100506"
          name="localizationMassType"
          [value]="localizationMassType.Larynx"
          label="{{'angiographyCT.softTissue.larynx.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100507"
          name="localizationMassType"
          [value]="localizationMassType.ThyroidGland"
          label="{{'angiographyCT.softTissue.thyroidGland.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100508"
          name="localizationMassType"
          [value]="localizationMassType.CervicalSpine"
          label="{{'angiographyCT.softTissue.cervicalSpine.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="ang_c_100509"
          name="localizationMassType"
          [value]="localizationMassType.CervicalMuscles"
          label="{{'angiographyCT.softTissue.cervicalMuscles.value' | translate}}"
          [(ngModel)]="model.neckSoftTissueMassLocalization"
          rrUnClickRadio
        >
        </p-radioButton>
        <h2 rr-id="ang_c_100510" class="main-header m-b-0 m-t-35">
          {{'angiographyCT.softTissue.dignity.value' | translate }}
        </h2>
        <p-dropdown
          rr-id="ang_c_100511"
          name="dignityType"
          styleClass="ui-brown-box o-width-100"
          class="p-r-30"
          [options]="dignityTypeOptions"
          [placeholder]="'shared.pleaseSelect' | translate"
          rrDropdownClear
          [(ngModel)]="model.dignityType"
          (onChange)="model.isAbscess = false"
        >
        </p-dropdown>
        <p-checkbox
          rr-id="ang_c_100512"
          name="isAbscess"
          label="{{'angiographyCT.softTissue.abscess.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isAbscess"
          class="m-t-10"
          [rrDisable]="model.dignityType !== dignityType.Inflammatory"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
