.negative-margin {
  margin-top: -102px;
}

.fill-white {
  fill: #fff;
}

.fill-none {
  fill: none;
}

.fill-blue {
  fill: #00aec2;
}

.fill-red {
  fill: #f80202;
}

.close-button {
  &-circle {
    @extend .fill-blue;
    @extend .pointer;
  }
  &-line {
    stroke: #fff;
    stroke-width: 6px;
    @extend .fill-none;
    @extend .pointer;
  }
}

.font-light {
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.font-18 {
  font-size: 18px;
}

.font-28 {
  font-size: 28px;
  letter-spacing: 0.01em;
}

.font-40 {
  font-size: 40px;
}

.font-60 {
  font-size: 60px;
}

.stroke-gray {
  stroke: #707070;
}

.stroke-none {
  stroke: none;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-3 {
  stroke-width: 3px;
}

.pointer {
  cursor: pointer;
}

.part-label {
  &-default {
    @extend .font-bold;
    @extend .font-18;
    @extend .pointer;
    .full-name {
      @extend .font-light;
    }
  }
  &-hovered {
    @extend .fill-blue;
    .full-name {
      @extend .font-bold;
    }
  }
  &-selected {
    @extend .fill-red;
    .full-name {
      @extend .font-bold;
    }
  }
}

.element {
  &-default {
    @extend .fill-white;
    @extend .pointer;
    opacity: 0;
  }
  &-hovered {
    @extend .fill-blue;
    opacity: 0.6;
  }
  &-selected {
    @extend .fill-red;
    opacity: 0.6;
  }
}
