<div class="f-horizontal f-start col-h-555">
  <div class="c-col-1 f-vertical f-start c-sep c-pad o-radio-list">
    <h2 rr-id="anc_m_040207">
      {{ "feetMRT.bones.localization.value" | translate }}
    </h2>
    <rr-foot-big-bones-simple
      [model]="model.threeDimensionalLocalization"
      [noComplex]="true"
      [noMal]="true"
      [side]="side"
      (click)="openLargeLocalizer()"
      rrValidation="threeDimensionalLocalization"
      isLocalizer="true"
    ></rr-foot-big-bones-simple>
  </div>
  <div class="c-col-1 c-sep c-pad f-vertical f-start o-radio-list">
    <div class="f-vertical f-start o-radio-list">
      <h2 rr-id="anc_m_040357">
        {{ "feetMRT.bones.distribution.value" | translate }}
      </h2>
      <p-radioButton
        rr-id="anc_m_040358"
        label="{{ 'feetMRT.bones.subchondral.value' | translate }}"
        name="distributionType"
        [value]="distributionType.Subchondral"
        [(ngModel)]="model.distributionType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040359"
        label="{{ 'feetMRT.bones.focal.value' | translate }}"
        name="distributionType"
        [value]="distributionType.Focal"
        [(ngModel)]="model.distributionType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040360"
        label="{{ 'feetMRT.bones.diffuse.value' | translate }}"
        name="distributionType"
        [value]="distributionType.Diffuse"
        [(ngModel)]="model.distributionType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040361"
        label="{{ 'feetMRT.bones.diffuseStained.value' | translate }}"
        name="distributionType"
        [value]="distributionType.DiffuseStained"
        [(ngModel)]="model.distributionType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040362"
        label="{{ 'feetMRT.bones.subcorticalEdemaThinSubchondralLines.value' | translate }}"
        name="distributionType"
        class="text-break"
        [value]="distributionType.SubcorticalEdemaThinSubchondralLines"
        [(ngModel)]="model.distributionType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad f-vertical f-start o-radio-list">
    <div class="f-vertical f-start o-radio-list">
      <h2 rr-id="anc_m_040472">
        {{ "feetMRT.bones.associatedFindings.value" | translate }}
      </h2>
      <div class="o-radio-list">
        <p-radioButton
          rr-id="anc_m_040473"
          label="{{ 'feetMRT.bones.softTissueEdema.value' | translate }}"
          name="associatedFindingsType"
          [value]="associatedFindingsType.SoftTissueEdema"
          [(ngModel)]="model.associatedFindingsType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="anc_m_040474"
          label="{{
            'feetMRT.bones.synovialThickening.value' | translate
          }}"
          name="associatedFindingsType"
          [value]="associatedFindingsType.SynovialThickening"
          [(ngModel)]="model.associatedFindingsType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="anc_m_040475"
          label="{{ 'feetMRT.bones.subchondralFracture.value' | translate }}"
          name="associatedFindingsType"
          value="SubchondralFracture"
          [value]="associatedFindingsType.SubchondralFracture"
          class="m-b-15"
          [(ngModel)]="model.associatedFindingsType"
          rrUnClickRadio
        ></p-radioButton>

        <p-radioButton
          rr-id="anc_m_0404307"
          label="{{ 'feetMRT.bones.cutisThickening.value' | translate }}"
          name="associatedFindingsType"
          [value]="associatedFindingsType.CutisThickening"
          [(ngModel)]="model.associatedFindingsType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
  </div>
  <div class="c-col-1 f-vertical f-start o-radio-list c-pad-l">
    <h2 rr-id="anc_m_040581">
      {{ "feetMRT.bones.differentialDiagnosis.value" | translate }}
    </h2>
    <p-dropdown
      styleClass="o-width-100 ui-brown-box"
      name="differentialDiagnosisType"
      placeholder="{{'feetMRT.bones.placeholder' | translate}}"
      rr-id="anc_m_040582"
      [options]="dropdownModel"
      [(ngModel)]="model.differentialDiagnosisType"
      rrDropdownClear
    ></p-dropdown>
    <p-checkbox
      rr-id="anc_m_040587"
      label="{{ 'feetMRT.bones.subordinated.value' | translate }}"
      name="isSubordinated"
      binary="true"
      [(ngModel)]="model.isSubordinated"
    ></p-checkbox>
  </div>
</div>
