<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_090207"
        class="custom-tab-header"
        rrValidation="configurationType"
        ifAny="true"
      >
        {{
        "headCT.cerebrospinalFluidSpace.localizationConfigurationTabHeader.value"
        | translate }}
      </h1>
    </ng-template>
    <rr-ventricle-configuration-localization-configuration-tab
      [model]="model"
    ></rr-ventricle-configuration-localization-configuration-tab>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_c_090301" class="custom-tab-header">
        {{ "headCT.cerebrospinalFluidSpace.characterizationTabHeader.value" |
        translate }}
      </h1>
    </ng-template>
    <rr-ventricle-configuration-characterization-tab
      [model]="model"
    ></rr-ventricle-configuration-characterization-tab>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_090401"
        class="custom-tab-header"
        rrValidation="ventricleDifferentialDiagnosis1Type"
        ifAny="true"
      >
        {{ "headCT.cerebrospinalFluidSpace.differentialDiagnosisTabHeader.value"
        | translate }}
      </h1>
    </ng-template>
    <rr-ventricle-configuration-differential-diagnosis-tab
      [model]="model"
    ></rr-ventricle-configuration-differential-diagnosis-tab>
  </p-tabPanel>
</p-tabView>
