<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="abd_m_090202"
        ifAny="true"
        [rrValidation]="chracterizationValidation"
      >
        {{ 'abdomenMRT.gastrointestinal.characterizationI.value' | translate }}
      </h1>
    </ng-template>
    <rr-gastric-mass-characterization-one
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-gastric-mass-characterization-one>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="abd_m_090301">
        {{ 'abdomenMRT.gastrointestinal.characterizationII.value' | translate }}
      </h1>
    </ng-template>
    <rr-gastric-mass-characterization-two
      class="f-horizontal col-h-100"
      [model]="model"
      [isDWIInAnySequence]="isDWIInAnySequence"
      [isCMReinforced]="isCMReinforced"
    ></rr-gastric-mass-characterization-two>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="abd_m_090401"
        ifAny="true"
        rrValidation="differentialDiagnosis1Type"
      >
        {{ 'abdomenMRT.gastrointestinal.differentialDiagnosis.value' | translate
        }}
      </h1>
    </ng-template>
    <rr-gastric-mass-differential-diagnosis
      class="f-horizontal col-h-100"
      [model]="model"
    ></rr-gastric-mass-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
