<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-10 m-b-13">
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_050246">
      {{ 'neckMRT.larynx.complication.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_050247"
      [(ngModel)]="model.isDissectionCarotidArtery"
      name="isDissectionCarotidArtery"
      labelStyleClass="text-break"
      label="{{ 'neckMRT.larynx.dissectionThrombosiscarotidArtery.value' | translate }}"
      rrContentReset="isDissectionCarotidArtery-block"
      binary="true"
    >
    </p-checkbox>
    <div
      id="isDissectionCarotidArtery-block"
      class="o-radio-list nested-content"
      [rrDisable]="!model.isDissectionCarotidArtery"
    >
      <h3 rr-id="nec_m_050248">
        {{ 'neckMRT.larynx.side.value' | translate }}*
      </h3>
      <p-checkbox
        rr-id="nec_m_050249"
        [(ngModel)]="model.isDissectionCarotidArteryRight"
        name="isDissectionCarotidArteryRight"
        label="{{ 'neckMRT.larynx.right.value' | translate }}"
        binary="true"
        rrValidation="isDissectionCarotidArteryRight isDissectionCarotidArteryLeft"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_050250"
        [(ngModel)]="model.isDissectionCarotidArteryLeft"
        name="isDissectionCarotidArteryLeft"
        label="{{ 'neckMRT.larynx.left.value' | translate }}"
        binary="true"
        rrValidation="isDissectionCarotidArteryRight isDissectionCarotidArteryLeft"
      >
      </p-checkbox>
    </div>
    <p-checkbox
      rr-id="nec_m_050251"
      [(ngModel)]="model.isAirwayObstruction"
      name="isAirwayObstruction"
      label="{{ 'neckMRT.larynx.airwayObstruction.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_050252"
      [(ngModel)]="model.isSubcutaneousEmphysema"
      name="isSubcutaneousEmphysema"
      label="{{ 'neckMRT.larynx.subcutaneousEmphysema.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_050253"
      [(ngModel)]="model.isIpsilateralVocalFoldAdduction"
      name="isIpsilateralVocalFoldAdduction"
      labelStyleClass="text-break"
      label="{{ 'neckMRT.larynx.ipsilateralVocalFoldAdduction.value' | translate }}"
      rrContentReset="isIpsilateralVocalFoldAdduction-block"
      binary="true"
    >
    </p-checkbox>
    <div
      id="isIpsilateralVocalFoldAdduction-block"
      class="o-radio-list nested-content"
      [rrDisable]="!model.isIpsilateralVocalFoldAdduction"
    >
      <h3 rr-id="nec_m_050254">
        {{ 'neckMRT.larynx.side.value' | translate }}*
      </h3>
      <p-checkbox
        rr-id="nec_m_050255"
        [(ngModel)]="model.isIpsilateralVocalFoldAdductionRight"
        name="isIpsilateralVocalFoldAdductionRight"
        label="{{ 'neckMRT.larynx.right.value' | translate }}"
        binary="true"
        rrValidation="isIpsilateralVocalFoldAdductionRight isIpsilateralVocalFoldAdductionLeft"
      >
      </p-checkbox>
      <p-checkbox
        rr-id="nec_m_050256"
        [(ngModel)]="model.isIpsilateralVocalFoldAdductionLeft"
        name="isIpsilateralVocalFoldAdductionLeft"
        label="{{ 'neckMRT.larynx.left.value' | translate }}"
        binary="true"
        rrValidation="isIpsilateralVocalFoldAdductionRight isIpsilateralVocalFoldAdductionLeft"
      >
      </p-checkbox>
    </div>
    <p-checkbox
      rr-id="nec_m_050257"
      [(ngModel)]="model.isDislocatedFractureFragments"
      name="isDislocatedFractureFragments"
      label="{{ 'neckMRT.larynx.dislocatedFractureFragments.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-10 m-b-13">
  <rr-reference-picture
    [(ngModel)]="model.referencePicture"
    [referenceId]="model.id"
    [fileUploadUrl]="fileUploadUrl"
    name="referencePicture"
  ></rr-reference-picture>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-10 m-b-13"></div>
<div class="c-col-1 c-pad-l f-vertical m-t-10 m-b-13"></div>
