::ng-deep.acquisition-tabs {
  .ui-tabview {
    height: 583px !important;

    ul[role="tablist"] {
      display: flex;
      flex-direction: row;
      height: 40px;

      li {
        height: 40px !important;
        a {
          padding: {
            left: 10px !important;
            top: 0 !important;
          }
        }
      }
    }
  }
}

::ng-deep.angiography-acquisitions-finding-column {
  ::ng-deep {
    rr-multi-value-dropdown {
      .main {
        width: 100% !important;

        p-dropdown {
          width: 262px !important;

          .ui-dropdown {
            width: 260px !important;
          }
        }
      }
    }
  }

  .dynamic-component-button {
    width: 100% !important;
  }
}
