<p-tabView class="rr-tabView">
  <p-tabPanel [selected]="true">
    <ng-template pTemplate="header">
      <h1
        rr-id="anc_m_0602104"
        class="custom-tab-header"
        rrValidation="classificationType"
        ifAny="true"
      >
        {{'feetMRT.softTissue.localizationMuscleLesion.value' | translate}}
      </h1>
    </ng-template>
    <rr-characterization-one-muscle-lesion
      [model]="model"
    ></rr-characterization-one-muscle-lesion>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="anc_m_0603141"
        class="custom-tab-header"
        rrValidation="isIntramuscular isInterfacial isIntermuscular"
      >
        {{'feetMRT.softTissue.hematomaTabHeader.value' | translate}}
      </h1>
    </ng-template>
    <rr-characterization-two-muscle-lesion
      [model]="model"
    ></rr-characterization-two-muscle-lesion>
  </p-tabPanel>
</p-tabView>
