:host {
  display: flex;
  flex-grow: 1;
}

.left-page-content,
.right-page-content {
  background-color: #b2e7ed;
  border-radius: 2.5px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: BentonSansLight;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.right-page-content {
  background-color: #fff;
  border: 3px solid #ebebeb;
  line-height: 37px;
}

::ng-deep p-dropdown .ui-dropdown-label-container {
  width: 100% !important;
}

.pagination {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-family: BentonSansBold;
  margin: {
    top: 0;
    bottom: 0;
  }

  &-item {
    width: 21px;
    height: 21px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin: 5px 3px;
    a {
      text-decoration: none;
      color: #000000;
      line-height: 16px;
    }
  }

  .current {
    cursor: default;
    background: #dfdfdf;
    color: #ffffff;
    span {
      line-height: 16px;
    }
  }
  :hover {
    a {
      color: #00aec2;
    }
  }
}
