.reset-dialog-content {
  height: 426px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: BentonSansBold;
}

.reset-header {
  padding-top: 100px;
  text-align: center;
  font-size: 21px;
}

.reset-box {
  text-align: center;
  padding-bottom: 42px;
}

.reset-prompt {
  font-family: BentonSansLight;
  font-weight: 300;
  font-size: 18px;
}

.reset-buttons {
  padding-top: 47px;

  button {
    border-radius: 6px;
    border: 4px solid #999999;
    height: 48px;
    width: 120px;
    font-size: 15px;

    &:first-child {
      margin-right: 5px;
    }

    &.btnCancel {
      background-color: #999999;
      color: #ffffff;
    }

    &.btnOk {
      background-color: #ffffff;
      color: #999999;
    }
  }
}

.reset-footer {
  padding-bottom: 13px;
  img {
    margin-right: 3px;
    height: 24px;
    float: right;
  }
}
