<div class="f-horizontal c-col-4 f-start col-h-100">
  <div class="f-vertical f-start c-col-2 c-pad-r c-sep o-radio-list">
    <div class="f-vertical f-start o-radio-list">
      <h2 class="p-t-20 m-b-3" rr-id="kne_m_080278" rrInfoIcon="kne_m_080279">
        {{ 'kneeMRT.softParts.popliteusTendon.value' | translate }}
      </h2>
    </div>
    <div class="f-horizontal f-start o-radio-list col-h-100">
      <div
        class="f-vertical f-start c-col-1 c-pad-r c-sep o-radio-list col-h-100"
      >
        <p-checkbox
          name="isTear"
          class="p-t-3"
          labelStyleClass="ui-fat-label"
          label="{{ 'kneeMRT.softParts.tear.value' | translate }}"
          rr-id="kne_m_080240"
          binary="true"
          rrContentReset="isTear-block"
          [(ngModel)]="model.isTear"
          rrValidation="isTear isEnthesiopathy"
        ></p-checkbox>
        <div
          id="isTear-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="!model.isTear"
        >
          <p rr-id="kne_m_080281" class="m-b-5">
            {{ 'kneeMRT.softParts.localization.value' | translate }}
          </p>
          <p-radioButton
            rrUnClickRadio
            name="tendonLocalizationType"
            [value]="tendonsLocalizationTypeEnum.Intramuscular"
            label="{{ 'kneeMRT.softParts.intramuscular.value' | translate }}"
            rr-id="kne_m_080282"
            [(ngModel)]="model.tendonLocalizationType"
          ></p-radioButton>
          <p-radioButton
            rrUnClickRadio
            name="tendonLocalizationType"
            [value]="tendonsLocalizationTypeEnum.Intratendinous"
            label="{{ 'kneeMRT.softParts.intratendinous.value' | translate }}"
            rr-id="kne_m_080283"
            [(ngModel)]="model.tendonLocalizationType"
          ></p-radioButton>
          <p-radioButton
            rrUnClickRadio
            name="tendonLocalizationType"
            [value]="tendonsLocalizationTypeEnum.Insertion"
            label="{{ 'kneeMRT.softParts.insertion.value' | translate }}"
            rr-id="kne_m_080284"
            [(ngModel)]="model.tendonLocalizationType"
          ></p-radioButton>
          <p-checkbox
            name="isRetraction"
            class="m-t-15"
            (click)="clearRetraction()"
            label="{{ 'kneeMRT.softParts.retraction.value' | translate }}"
            rr-id="kne_m_080285"
            binary="true"
            [(ngModel)]="model.isRetraction"
          ></p-checkbox>
          <rr-number-input
            class="nested-content"
            [rrDisable]="!model.isRetraction"
            rr-id="kne_m_080286"
            name="retractionInMm"
            [(ngModel)]="model.retractionInMm"
            [label]="'kneeMRT.softParts.dimensionInMm.value' | translate"
            [config]="{placeholder: '--', min: 0, step: 1, max: 120}"
          >
          </rr-number-input>
          <p class="m-t-15 m-b-6" rr-id="kne_m_080288">
            {{ 'kneeMRT.softParts.associatedFindings.value' | translate }}
          </p>
          <p-checkbox
            name="isHaematoma"
            label="{{ 'kneeMRT.softParts.haematoma.value' | translate }}"
            rr-id="kne_m_080289"
            binary="true"
            [(ngModel)]="model.isHaematoma"
          >
          </p-checkbox>
          <p-checkbox
            name="isBoneBruise"
            label="{{ 'kneeMRT.softParts.boneBruise.value' | translate }}"
            rr-id="kne_m_080290"
            binary="true"
            [(ngModel)]="model.isBoneBruise"
          >
          </p-checkbox>
        </div>
      </div>
      <div
        class="f-vertical f-start c-col-1 c-pad-l c-sep c-pad-l o-radio-list"
      >
        <p-checkbox
          name="isEnthesiopathy"
          class="p-t-3"
          labelStyleClass="ui-fat-label"
          label="{{ 'kneeMRT.softParts.enthesiopathy.value' | translate }}"
          rr-id="kne_m_080359"
          binary="true"
          rrContentReset="isEnthesiopathy-block"
          [(ngModel)]="model.isEnthesiopathy"
          rrValidation="isTear isEnthesiopathy"
        ></p-checkbox>
        <div
          id="isEnthesiopathy-block"
          class="f-vertical f-start o-radio-list nested-content"
          [rrDisable]="!model.isEnthesiopathy"
        >
          <p-checkbox
            name="isThickeningEdema"
            label="{{ 'kneeMRT.softParts.thickeningEdema.value' | translate }}"
            rr-id="kne_m_080360"
            binary="true"
            [(ngModel)]="model.isThickeningEdema"
          ></p-checkbox>
          <p-checkbox
            name="isBursitisSubtendineaMusculusPoplitei"
            label="{{ 'kneeMRT.softParts.bursitisSubtendineaMusculusPoplitei.value' | translate }}"
            rr-id="kne_m_080361"
            class="m-b-5"
            binary="true"
            [(ngModel)]="model.isBursitisSubtendineaMusculusPoplitei"
          ></p-checkbox>
          <p-checkbox
            name="isTendonsPopliteusTendonMuscularAtrophy"
            label="{{ 'kneeMRT.softParts.muscularAtrophy.value' | translate }}"
            rr-id="kne_m_080362"
            binary="true"
            [(ngModel)]="model.isTendonsPopliteusTendonMuscularAtrophy"
          ></p-checkbox>
          <p-checkbox
            name="isCyamella"
            label="{{ 'kneeMRT.softParts.formationOfASesamoidBone.value' | translate }}"
            rr-id="kne_m_080363"
            binary="true"
            [(ngModel)]="model.isCyamella"
          ></p-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep"></div>
  <div class="c-col-1 c-pad-l"></div>
</div>
