<div class="f-start f-vertical o-radio-list">
  <h2 rr-id="car_m_020202" class="m-b-6">
    {{ 'cardioMRT.anamnesis.coronaryHeartDiseaseCHD.value' | translate }}
  </h2>
  <p rr-id="car_m_020203" class="m-b-6">
    {{ 'cardioMRT.anamnesis.status.value' | translate }}*
  </p>
  <p-radioButton
    rr-id="car_m_020204"
    [(ngModel)]="model.statusType"
    label="{{ 'cardioMRT.anamnesis.suspicionOf.value' | translate }}"
    name="statusType"
    [value]="statusType.SuspicionOf"
    rrValidation="statusType"
    rrContentReset="knownStatusType-block"
  ></p-radioButton>
  <p-radioButton
    rr-id="car_m_020205"
    [(ngModel)]="model.statusType"
    label="{{ 'cardioMRT.anamnesis.known.value' | translate }}"
    name="statusType"
    [value]="statusType.Known"
    rrValidation="statusType"
  ></p-radioButton>
  <div
    class="f-start f-vertical o-radio-list nested-content m-b-17"
    id="knownStatusType-block"
    [rrDisable]="model.statusType !== statusType.Known"
  >
    <p-radioButton
      rr-id="car_m_020206"
      [(ngModel)]="model.knownType"
      label="{{ 'cardioMRT.anamnesis.vessel1.value' | translate }}"
      name="knownType"
      [value]="knownType.OneVessel"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="car_m_020207"
      [(ngModel)]="model.knownType"
      label="{{ 'cardioMRT.anamnesis.vessel2.value' | translate }}"
      name="knownType"
      [value]="knownType.TwoVessel"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="car_m_020208"
      [(ngModel)]="model.knownType"
      label="{{ 'cardioMRT.anamnesis.vessel3.value' | translate }}"
      name="knownType"
      [value]="knownType.ThreeVessel"
      rrUnClickRadio
    ></p-radioButton>
  </div>
  <p rr-id="car_m_020209" class="text-break2 m-b-8">
    {{ 'cardioMRT.anamnesis.stressExaminationPerformed.value' | translate }}
  </p>
  <p-checkbox
    rr-id="car_m_020210"
    [(ngModel)]="model.isECG"
    label="{{ 'cardioMRT.anamnesis.eCG.value' | translate }}"
    name="isECG"
    binary="true"
  ></p-checkbox>
  <p-checkbox
    rr-id="car_m_020211"
    [(ngModel)]="model.isEchocardiography"
    label="{{ 'cardioMRT.anamnesis.echocardiography.value' | translate }}"
    name="isEchocardiography"
    binary="true"
  ></p-checkbox>
  <p-checkbox
    rr-id="car_m_020212"
    [(ngModel)]="model.isSPECT"
    label="{{ 'cardioMRT.anamnesis.sPECT.value' | translate }}"
    name="isSPECT"
    binary="true"
  ></p-checkbox>
  <p-checkbox
    rr-id="car_m_020213"
    [(ngModel)]="model.isPET"
    label="{{ 'cardioMRT.anamnesis.pET.value' | translate }}"
    name="isPET"
    binary="true"
  ></p-checkbox>
  <p-checkbox
    rr-id="car_m_020214"
    [(ngModel)]="model.isCT"
    label="{{ 'cardioMRT.anamnesis.cT.value' | translate }}"
    name="isCT"
    binary="true"
  ></p-checkbox>
</div>
