.patient-data {
  &__bmi--paddings {
    padding: 18px 0 24px 8px;
  }

  &__input--modif {
    text-align: center;
    background-color: #b2e7ed;
    border-radius: 4px;
    border: 1px solid #b2e7ed;
    width: 97px;
    height: 37px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 3px;
  }
}
