<div class="container">
  <input
    type="range"
    tabindex="-1"
    class="left-fill"
    min="0"
    max="5"
    step="1"
    [(ngModel)]="ngValue"
    value="ngValue"
    (change)="valueChanged()"
  />
  <input
    type="range"
    class="thumb"
    min="0"
    max="5"
    step="1"
    [(ngModel)]="ngValue"
    value="ngValue"
    (change)="valueChanged()"
  />
  <div class="slim-line"></div>
</div>
<div class="labels">
  <div *ngFor="let item of descriptions" class="label-item text-break">
    {{item}}
  </div>
</div>
