.main-container {
  height: 552px;
}

.c-tab-pad {
  padding-left: 25px;
  padding-right: 5px;
}

.c-tab-pad-l {
  padding-left: 25px;
  width: 302px;
}

.double-col-header {
  height: 30px;
}

.double-col-content {
  height: calc(100% - 30px);
}

.scaled-localizer {
  transform-origin: left top;
  transform: scale(1.05);
}
