body {
  background-color: #bdc3c7;
}

.main-container {
  width: 1680px;
  margin: 40px auto;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.first-row {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.button {
  border-radius: 4px;
  border: 1px solid #00aec2;
  background-color: #00aec2;
  width: 312px;
  height: 92px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: large;
  font-family: BentonSansLight;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.btn-icon {
  font-size: 1.5em;
}
