<div class="col-h-552">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-sep c-pad m-t-9 m-b-12 o-radio-list">
      <h2 rr-id="abd_m_040244" class="m-t-2">
        {{'abdomenMRT.liver.associatedFindings.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="abd_m_040245"
        name="isAscites"
        label="{{'abdomenMRT.liver.ascites.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isAscites"
        rrContentReset="isAscitesBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isAscitesBlock"
        [rrDisable]="!model.isAscites"
      >
        <p-radioButton
          rr-id="abd_m_040246"
          rrUnClickRadio
          name="ascitesType"
          [value]="ascitesType.Little"
          label="{{'abdomenMRT.liver.little.value' | translate}}"
          [(ngModel)]="model.ascitesType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_040247"
          rrUnClickRadio
          name="ascitesType"
          [value]="ascitesType.Significant"
          label="{{'abdomenMRT.liver.significant.value' | translate}}"
          [(ngModel)]="model.ascitesType"
        >
        </p-radioButton>
      </div>
      <p-checkbox
        rr-id="abd_m_040248"
        name="isFibrosis"
        label="{{'abdomenMRT.liver.fibrosis.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isFibrosis"
        rrContentReset="isFibrosisBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isFibrosisBlock"
        [rrDisable]="!model.isFibrosis"
      >
        <p-checkbox
          rr-id="abd_m_040249"
          name="isConfluent"
          label="{{'abdomenMRT.liver.confluent.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isConfluent"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="abd_m_040250"
          name="isWedgeShapedExtensionToPeriphery"
          label="{{'abdomenMRT.liver.wedgeshapedExtensionFromHilustoPeriphery.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isWedgeShapedExtensionToPeriphery"
          class="text-break"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad f-vertical m-t-9 m-b-12 o-radio-list">
      <h2 rr-id="abd_m_040336" class="m-t-2">
        {{'abdomenMRT.liver.t1wSignal.value' | translate}}
      </h2>
      <rr-signal-slider
        name="t1WSignalType"
        rr-id="abd_m_040337"
        [(ngModel)]="model.t1WSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="abd_m_040338">
        {{'abdomenMRT.liver.t2wSignal.value' | translate}}
      </h2>
      <rr-signal-slider
        name="t2WSignalType"
        rr-id="abd_m_040339"
        [(ngModel)]="model.t2WSignalType"
      >
      </rr-signal-slider>
      <h2 rr-id="abd_m_040340">
        {{'abdomenMRT.liver.t2SWISignal.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="abd_m_040341"
        name="isSignalDrop"
        label="{{'abdomenMRT.liver.signalDrop.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSignalDrop"
        rrContentReset="isSignalDropBlock"
      >
      </p-checkbox>
      <div
        class="f-start o-radio-list nested-content"
        id="isSignalDropBlock"
        [rrDisable]="!model.isSignalDrop"
      >
        <p-radioButton
          rr-id="abd_m_040342"
          rrUnClickRadio
          name="signalDropType"
          [value]="signalDropType.Focal"
          label="{{'abdomenMRT.liver.focal.value' | translate}}"
          [(ngModel)]="model.signalDropType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="abd_m_040343"
          rrUnClickRadio
          name="signalDropType"
          [value]="signalDropType.Diffuse"
          label="{{'abdomenMRT.liver.diffuse.value' | translate}}"
          [(ngModel)]="model.signalDropType"
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad m-t-9 m-b-12 o-radio-list">
      <h2 rr-id="abd_m_040439" class="m-t-2">
        {{'abdomenMRT.liver.inopposedPhase.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="abd_m_040440"
        name="isSignalDropInChemicalShift"
        label="{{'abdomenMRT.liver.signalDropInTheOpposedphase.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isSignalDropInChemicalShift"
        class="m-b-28 text-break"
      >
      </p-checkbox>
      <div class="o-radio-list" [rrDisable]="!isDWIInAnySequence">
        <h2 rr-id="abd_m_040441" rrInfoIcon="abd_m_04_01">
          {{'abdomenMRT.liver.diffusionWeightedImaging.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="abd_m_040442"
          name="isDiffusionRestriction"
          label="{{'abdomenMRT.liver.diffusionRestriction.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isDiffusionRestriction"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l m-t-9 m-b-12 o-radio-list"></div>
  </div>
</div>
