<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="kne_m_0802216" rrValidation="musculatureLocation">
        {{'kneeMRT.softParts.localizationTabHeader.value' | translate}}
      </h1>
    </ng-template>
    <rr-localization [model]="model"></rr-localization>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="kne_m_0803213"
        [rrValidation]="['isIntramuscularHaematoma isMuscleLesion isFurtherFindingsMusculature', 'classificationMunichConsensusType', 'isIntramuscular isInterfacial isIntermuscular']"
        ifAny="true"
      >
        {{'kneeMRT.softParts.characterization.value' | translate}}
      </h1>
    </ng-template>
    <rr-characterization [model]="model"></rr-characterization>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="kne_m_0804210"
        [rrValidation]="['isIntramuscularHaematoma isMuscleLesion isFurtherFindingsMusculature', 'furtherFindingsMusculatureType']"
        ifAny="true"
      >
        {{'kneeMRT.softParts.furtherFindingsMusculature.value' | translate}}
      </h1>
    </ng-template>
    <rr-further-findings [model]="model"></rr-further-findings>
  </p-tabPanel>
</p-tabView>
