<form #autosaveForm="ngForm" [hidden]="!modelInitialized" rrBlockForm>
  <div class="c-main f-horizontal f-center p-t-44">
    <div class="c-col-1 c-sep c-pad f-start f-vertical o-radio-list">
      <h2 rr-id="ang_m_090103" class="m-b-11">
        {{ 'angiographyMRT.summary.comparisonToPriorExams.value' | translate }}
      </h2>
      <p-radioButton
        rr-id="ang_m_090104"
        [(ngModel)]="model.comparisonToPriorExamsType"
        label="{{ 'angiographyMRT.summary.progressiveFindingDisease.value' | translate }}"
        name="comparisonToPriorExamsType"
        [value]="comparisonToPriorExamsType.ProgressiveFindingOrDisease"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_090105"
        [(ngModel)]="model.comparisonToPriorExamsType"
        label="{{ 'angiographyMRT.summary.noChange.value' | translate }}"
        name="comparisonToPriorExamsType"
        [value]="comparisonToPriorExamsType.NoChange"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="ang_m_090106"
        [(ngModel)]="model.comparisonToPriorExamsType"
        label="{{ 'angiographyMRT.summary.improvement.value' | translate }}"
        name="comparisonToPriorExamsType"
        [value]="comparisonToPriorExamsType.Improvement"
        rrUnClickRadio
      ></p-radioButton>
    </div>
    <div class="c-col-1 c-sep c-pad f-start f-vertical o-radio-list">
      <p-checkbox
        rr-id="ang_m_090201"
        [(ngModel)]="model.isFollowUp"
        label="{{ 'angiographyMRT.summary.followUp.value' | translate }}"
        labelStyleClass="ui-fat-label"
        class="m-b-6"
        name="isFollowUp"
        binary="true"
        rrContentReset="isFollowUpBlock"
      ></p-checkbox>
      <div
        id="isFollowUpBlock"
        class="f-start f-vertical o-radio-list nested-content"
        [rrDisable]="!model.isFollowUp"
      >
        <p rr-id="ang_m_090202" class="m-b-12">
          {{ 'angiographyMRT.summary.modality.value' | translate }}
        </p>
        <p-radioButton
          rr-id="ang_m_090203"
          [(ngModel)]="model.modalityType"
          label="{{ 'angiographyMRT.summary.mRAngiography.value' | translate }}"
          name="modalityType"
          [value]="modalityType.MRAngiography"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090204"
          [(ngModel)]="model.modalityType"
          label="{{ 'angiographyMRT.summary.cTAngiography.value' | translate }}"
          name="modalityType"
          [value]="modalityType.CTAngiography"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090205"
          [(ngModel)]="model.modalityType"
          label="{{ 'angiographyMRT.summary.ultrasoundDuplex.value' | translate }}"
          name="modalityType"
          [value]="modalityType.UltrasoundOrDuplex"
          rrUnClickRadio
        ></p-radioButton>

        <p rr-id="ang_m_090206" class="m-t-11 m-b-12">
          {{ 'angiographyMRT.summary.date.value' | translate }}
        </p>
        <p-radioButton
          rr-id="ang_m_090207"
          [(ngModel)]="model.timeInterval"
          label="{{ 'angiographyMRT.summary.3months.value' | translate }}"
          name="timeInterval"
          [value]="timeIntervalType.ThreeMonths"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090208"
          [(ngModel)]="model.timeInterval"
          label="{{ 'angiographyMRT.summary.3to6months.value' | translate }}"
          name="timeInterval"
          [value]="timeIntervalType.FromThreeToSixMonths"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090209"
          [(ngModel)]="model.timeInterval"
          label="{{ 'angiographyMRT.summary.6to12months.value' | translate }}"
          name="timeInterval"
          [value]="timeIntervalType.FromSixToTwelveMonths"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090210"
          [(ngModel)]="model.timeInterval"
          label="{{ 'angiographyMRT.summary.12months.value' | translate }}"
          name="timeInterval"
          [value]="timeIntervalType.TwelveMonths"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="ang_m_090211"
          [(ngModel)]="model.timeInterval"
          label="{{ 'angiographyMRT.summary.18to24months.value' | translate }}"
          name="timeInterval"
          [value]="timeIntervalType.FromEighteenToTwentyFourMonths"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad"></div>
    <div class="c-col-1 c-sep c-pad"></div>
    <div class="c-col-1 c-sep c-pad"></div>
  </div>
</form>
