.localiser {
  cursor: pointer;
  background: #ffffff;

  &__hand-text {
    font-size: 18px;
    font-family: BentonSansBold, BentonSans;
    font-weight: 700;
  }
}

.hand-bone {
  &--selected {
    opacity: 0.65;
    fill: #f80202;
  }
}

:host-context(.invalid-localizer) {
  .hand__rectangle--outer {
    fill: red !important;
  }
}

.complex {
  .circle {
    fill: #fff;
    stroke-width: 3px;
    stroke: #e2e2e2;
    .internal {
      fill: none;
    }
    .external {
      stroke: none;
    }
  }
  .text {
    font-family: BentonSansBold sans-serif, BentonSans Bold;
    font-weight: 700;
    font-size: 7px;
  }
}

.complex-selected {
  .circle .internal {
    fill: red;
  }
  .text {
    stroke: white;
  }
}
