/* Screen resolution variables */
$res-vertical: 1080;
$res-horizontal: 1920;

/*
  Functions to simplify layout arrangement.
  Provided a measure in px, they transform it to vh or vw.
*/
@function px2vw($width) {
  @return 100 * $width / $res-horizontal * 1vw;
}

@function px2vh($height) {
  @return 100 * $height / $res-vertical * 1vh;
}

.left-menu-header {
  margin: 0;
  height: px2vh(390);
  text-align: center;
  padding-top: px2vh(41);

  &__avatar {
    width: px2vh(90);
    height: px2vh(90);
    margin: auto;
    border-radius: 50%;
    font-size: px2vh(27);
    font-family: BentonSansBold;
    color: #717171;
    line-height: px2vh(90);
    text-align: center;
    background: #ffffff;
  }

  &__first-name,
  &__last-name {
    font-size: px2vh(21);
    font-family: BentonSansBold;
    line-height: px2vh(24);
  }

  &__first-name {
    padding-top: px2vh(16);
  }

  &__language-change {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: px2vh(77);

    .language-change-header {
      font-family: BentonSansBold;
      font-size: px2vh(18);
      color: #ffffff;
    }

    .language-change-dropdown {
      margin-top: px2vh(3);
      margin-bottom: px2vh(19);
      width: 85px;
    }

    .language-change-disclaimer {
      font-family: BentonSansBold;
      font-size: px2vh(12);
      color: #b7b6b6;
    }
  }
}

ul {
  position: relative;
  list-style: none;
  padding: 0;
  border-top: px2vh(1) solid #fff;
  font-family: BentonSansBold;

  > li {
    list-style: none;
    font-size: px2vh(21);
    color: #fff;
    padding: px2vh(13) 0 px2vh(10) px2vw(19);
    line-height: px2vh(21);
    border-bottom: px2vh(1) solid #fff;
  }

  a {
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #00aec2;
    }
  }
}
