.pelvis-anamnesis__section {
  width: auto;
  margin-bottom: 16px;
}

.c-main-height {
  height: 693px;
}

.tab-header {
  color: #000000;
  margin-left: 10px;
}

.anamnesis-column {
  height: 460px;
}

.anamnesis-column-icon {
  height: 430px;
}

.anamnesis-column-second-tab {
  height: 470px;
}
.height-100 {
  height: 100%;
}

.m-t-116 {
  margin-top: 116px;
}
