.pointer {
  cursor: pointer;
}

.stroke {
  stroke-miterlimit: 10;
  stroke: rgba(0, 0, 0, 0);
}

.pink-dark {
  fill: #a33146;
}

.pink-normal {
  fill: #f2777b;
}

.pink-light {
  fill: #f7989b;
}

.pink-ultra-light {
  fill: #f8b4b6;
}

.no-stroke {
  stroke: none;
}

.no-fill {
  fill: none;
}

.border {
  stroke-width: 3px;
  fill: #fff;
  stroke: #dfdfdf;
}

.blue-round {
  stroke-width: 3px;
  stroke: #00aec2;
  stroke-linecap: round;
  fill: none;
}

.magnify-glass {
  stroke-width: 3px;
  stroke: #00aec2;
  fill: none;
  &-round {
    stroke-linecap: round;
  }
}

.selected {
  fill: red;
}

:host-context(.invalid-localizer) {
  .border {
    stroke: red;
  }
}
