.input-icon {
  position: relative;
}

.input-icon > span {
  position: absolute;
  top: 18px;
  left: 17px;
  pointer-events: none;
}

.input-icon > input {
  padding-right: 1em;
  padding-left: 27px;
  font-size: 18px;
  color: #333333;
  width: -webkit-fill-available;
  font-family: BentonSansLight;
}

::ng-deep p-tabView rr-uploader .uploader-container {
  background-color: white;
}

.m-h-117 {
  min-height: 117px;
}

.m-t-105 {
  margin-top: 105px;
}

.l-h-20 {
  line-height: 20px;
}

input.invalid {
  border-color: red;

  &::placeholder {
    color: red;
  }
}

.custom-tab-header {
  margin-left: 10px;
  color: #000000;
}
