$color-hovered: #00aec2;
$color-selected: #f80202;

.svg-flex {
  height: 60px;
  width: 60px;
}

.negative-margin {
  margin-top: -102px;
}

.background {
  fill: #fff;
}

.header {
  font-size: 60px;
  font-family: BentonSansLight;
  font-weight: 300;
}

.information {
  font-size: 15px;
  font-family: BentonSansLight;
  font-weight: 300;

  &--bold {
    font-family: BentonSansBold;
    font-weight: 700;
  }
}

.closing-x {
  stroke: #fff;
  stroke-width: 6px;
  fill: none;
}

.text-truncusPulmonalis {
  font-size: 21px;
  font-family: BentonSansLight;
  font-weight: 300;
}

.separator {
  stroke: #707070;
  fill: none;
}

.lung {
  stroke: #d1cfd1;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: #f4f4f4;
}

.lung-name {
  font-size: 27px;
  font-family: BentonSansBold;
  font-weight: 700;
}

/* Lung elements colors */
.color-one {
  fill: #e2e2e2;
}

.color-two {
  fill: #d1cfd1;
}

.color-three {
  fill: #91d1dd;
}

.color-four {
  fill: #b5dfe7;
}

.color-five {
  fill: #64c3d3;
}

.color-six {
  fill: #caeef2;
}

.color-seven {
  fill: #f4f4f4;
}

.color-eight {
  fill: #00aec2;
}

/* Selecting & hovering coloring */
/* Non-text */
.selectable {
  cursor: pointer;

  /* Lung element */
  &.part {
    &--hovered {
      fill: $color-hovered;
    }

    &--selected {
      fill: $color-selected;
    }
  }
}

/* Lung element description text */
.text {
  font-size: 18px;
  font-family: BentonSansLight;
  font-weight: 300;
  cursor: pointer;

  &--hovered {
    font-family: BentonSansBold;
    font-weight: 700;
    color: $color-hovered;
  }

  &--selected {
    font-family: BentonSansBold;
    font-weight: 700;
    color: $color-selected;
  }

  &-truncusPulmonalis {
    cursor: pointer;
    &--selected,
    &--hovered {
      font-family: BentonSansBold;
      font-weight: 700;
      fill: white;
    }
  }
}

.label-ellipsable {
  height: 40px;

  &--left {
    width: 295.5px;
    p {
      width: 294px;
    }
  }
  &--right {
    width: 281px;
    p {
      width: 280px;
    }
  }

  &--left,
  &--right {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
