.help {
  font-family: BentonSansLight;
  margin-top: 53px;
  height: 568px;
  &-col {
    width: 344px;
    height: 100%;
  }
  &-col-double {
    width: 688px;
    flex-wrap: wrap;
  }
  &-col-lower {
    max-height: 520px;
  }
  &-row {
    width: 100%;
  }
  &-section-header {
    font-family: BentonSansBold;
    height: 53px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
  }
}
div.main {
  border-radius: 4px;
  border: 1px solid #00aec2;
  background-color: #00aec2;
  width: 312px;
  height: 92px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  font-size: large;
}
div > img {
  position: right;
  margin-left: 65%;
  border: 2px;
  grid-column-start: 2;
  cursor: pointer;
}
a > img {
  margin-left: 65%;
}
.grid-div {
  grid-column-start: end 50%;
  margin-left: 15%;
}
.inactive {
  opacity: 0.4;
}
.active {
  opacity: 1;
}
div {
  &.inactive img {
    cursor: default;
  }
  &.active img {
    cursor: pointer;
  }
}
p {
  margin-bottom: 4rem;
}
.mb-2rem {
  margin-bottom: 2rem;
}
