.main {
  transform-origin: inherit;
  transform: inherit;
  cursor: pointer;
}

:host-context(.invalid-localizer) {
  .border {
    stroke: #ff0000;
  }
}

.no-fill {
  fill: none;
}

.fill-white {
  fill: #fff;
  stroke: #dfdfdf;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-white {
  stroke: #fff;
}

.no-stroke {
  stroke: none;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.pattern-1 {
  fill: url(#pattern);
}

.pattern-2 {
  fill: url(#pattern-2);
}

.pattern-3 {
  fill: url(#pattern-3);
}

.color-1 {
  fill: #edd0b2;
  @extend .stroke-white;
}

.color-2 {
  fill: #f8f8bc;
  @extend .stroke-white;
}

.color-3 {
  fill: #dffcef;
  @extend .stroke-white;
}

.color-4 {
  fill: #edb2b2;
  @extend .stroke-white;
}

.color-5 {
  fill: #d2b2ed;
  @extend .stroke-white;
}

.color-6 {
  fill: #a6abe1;
  @extend .stroke-white;
}

.color-7 {
  fill: #d8fbff;
  @extend .stroke-white;
}

.color-8 {
  fill: #ade8d2;
  @extend .stroke-white;
}

.color-9 {
  fill: #e2d9ff;
  @extend .stroke-white;
}

.color-10 {
  fill: #c9e2ff;
  @extend .stroke-white;
}

.color-11 {
  fill: #e0d7fd;
  @extend .stroke-white;
}

.selected {
  fill: #f80202 !important;
}
