.sequence {
  & > * {
    background-color: #ebebeb;
  }

  .sequences-header {
    height: 40px;
    padding: {
      top: 8px;
      left: 20px;
    }
  }

  ::ng-deep.ui-dropdown-label {
    max-width: 280px;
  }
}
