<div class="sequence f-start f-vertical col-h-100 m-t-2" [rrDisable]="disabled">
  <h2 rr-id="uni_x_030306" class="sequences-header m-b-15">
    {{ customTitle || 'shared-templates.technology.sequenceXX.value' | translate
    }} {{ itemIndex + 1 | number: '2.0-0' }}
  </h2>
  <div class="p-t-12 p-b-15 p-l-22 c-pad-r f-horizontal col-h-100">
    <div class="c-col-1 c-sep c-pad-r f-start f-vertical">
      <div class="o-list">
        <ng-content select="firstColumn"></ng-content>
      </div>
    </div>
    <div class="c-col-1 c-sep c-pad-l p-l-22 f-start f-vertical o-list">
      <div class="o-list">
        <ng-content select="secondColumn"></ng-content>
      </div>
    </div>
  </div>
</div>
