@import "./../../../../../variables";

.reportlist-header-row {
  color: #fff;
  font-family: BentonSansBold;
  font-weight: 400;
}

:host ::ng-deep .reportlist-cell:nth-child(-n + 6) {
  background-color: #000;
}

:host ::ng-deep .reportlist-cell:nth-child(n + 7):nth-child(-n + 14) {
  background-color: $primaryColor;
}

:host ::ng-deep .reportlist-cell.reportlist-status-open {
  background-color: #f80303 !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-inprogress {
  background-color: #ffec02 !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-completed {
  background-color: #63fe01 !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-exported {
  background-color: #1e82c1 !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-canceled {
  background-color: #999999 !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-generated {
  background-color: #019f3e !important;
}

:host ::ng-deep .reportlist-cell.reportlist-status-approved {
  background-color: black !important;
}
