<div class="o-radio-list">
  <h2 rr-id="mam_mx_050209">
    {{'mammaMX.mammographyFinding.depth.value' | translate}}
  </h2>
  <p-radioButton
    rr-id="mam_mx_050210"
    rrUnClickRadio
    name="depthType"
    [value]="depthType.CloseToNipple"
    label="{{'mammaMX.mammographyFinding.closeToNipple.value' | translate}}"
    [(ngModel)]="model.depthType"
  >
  </p-radioButton>
  <p-radioButton
    rr-id="mam_mx_050211"
    rrUnClickRadio
    name="depthType"
    [value]="depthType.Central"
    label="{{'mammaMX.mammographyFinding.central.value' | translate}}"
    [(ngModel)]="model.depthType"
  >
  </p-radioButton>
  <p-radioButton
    rr-id="mam_mx_050212"
    rrUnClickRadio
    name="depthType"
    [value]="depthType.CloseToChestWall"
    label="{{'mammaMX.mammographyFinding.closeToChestWall.value' | translate}}"
    [(ngModel)]="model.depthType"
  >
  </p-radioButton>
  <ng-container *ngIf="!isNumberInputInAnotherColumn">
    <p rr-id="mam_mx_050224" class="m-b-7">
      {{'mammaMX.mammographyFinding.distanceToNipple.value' | translate}}
    </p>
    <rr-number-input
      inputRrId="mam_mx_050213"
      labelRrId="mam_mx_050214"
      name="distanceToNippleInMm"
      label="{{'mammaMX.mammographyFinding.inMm.value' | translate}}"
      [config]="{ min: 1, max: 150}"
      [(ngModel)]="model.distanceToNippleInMm"
    >
    </rr-number-input>
  </ng-container>
</div>
