.score-result {
  width: 133px;

  &__number {
    font-family: BentonSansLight, sans-serif;
    font-size: 55px;
    letter-spacing: -0.9px;
    line-height: 0.7;
    margin-bottom: 14px;
    margin-top: 12px;
    margin-right: 2px;

    &--grey {
      color: #eaeaea;
    }

    &--cyan {
      color: #00aec2;
    }
  }

  &__measure {
    font-size: 15px;
    color: #2b2e34;
    position: relative;
    right: 3px;
    top: 30px;
  }
}
