/* You can add global styles to this file, and also import other style files */

/* electron custom title bar */
.titlebar {
  z-index: 9 !important;
}

.container-after-titlebar {
  top: 0px !important;
  overflow: unset !important;
}

/* bugfix (BUG 6199) for electron desktop client - info dialog buttons not shown - overflow-y attribute is set unwantedly in contrast to web deployment */
.ui-dynamicdialog > .ui-dialog-content.ui-widget-content {
  overflow-y: unset !important;
}

.reportlist-patient-overview-dialog .ui-dialog-content {
  background-color: #f2efef !important;
}
