// colors
$primaryColor: #00aec2;
$reportListBg: #f2efef;
$reportListRowButtonBg: #dedbdb;
$reportListOpenReportActiveBg: #f80303;

// report list
$reportListWidth: 1728px;
$res-vertical: 1080;
$res-horizontal: 1920;
