* {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.text-bold {
  font-size: 18px;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.text-normal {
  font-size: 18px;
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.text-description {
  font-size: 15px;
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.text-description-emphasis {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.text-header {
  font-size: 60px;
  font-family: BentonSansLight, sans-serif;
  font-weight: 300;
}

.x-lines {
  stroke: #fff;
  stroke-width: 6px;
}

.text-separator-line {
  stroke: #707070;
}

.light-pink-100 {
  fill: #f5ccdf;
}

.light-pink-200 {
  fill: #fccbe3;
}

.light-pink-300 {
  fill: #fac0dd;
}

.light-pink-400 {
  fill: #f0a0c7;
}

.background {
  fill: #fff;
}

.hovered,
.circle {
  fill: #00aec2;
  @extend .text-bold;
}

.selected,
.selected-element-text {
  fill: #f80202 !important;
  @extend .text-bold;
}

.transformY {
  transform: translateY(77px);
}
