<div class="f-horizontal col-h-100 o-width-100">
  <div class="f-horizontal m-t-15 m-b-12">
    <div class="c-col-1 c-pad c-sep f-vertical f-start">
      <div class="p-l-10 o-radio-list">
        <div
          class="o-radio-list f-vertical m-b-14"
          [rrDisable]="model.descriptionType !== 'IKnow'"
        >
          <h2 rr-id="pel_m_100241" rrInfoIcon="pel_m_10_05">
            {{'pelvisMRT.bones.differentialDiagnosis1.value' | translate}}*
          </h2>
          <rr-differential-diagnosis-dropdown
            [diagnosisNumber]="1"
            isActiveOnIKnow="true"
            rrId="pel_m_100243"
            name="differentialDiagnosis"
            [options]="diagnosisList1"
            group="true"
            [parentViewModel]="model"
            rrValidation="differentialDiagnosis"
            [(ngModel)]="model.differentialDiagnosis"
            (selectionChanged)="clearDependntFields()"
          >
          </rr-differential-diagnosis-dropdown>
        </div>
        <h2 rr-id="pel_m_100244">
          {{'pelvisMRT.bones.localization.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="pel_m_100245"
          name="isEpiphyseal"
          label="{{'pelvisMRT.bones.epiphyseal.value' | translate}}"
          [(ngModel)]="model.isEpiphyseal"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100246"
          name="isMetaphyseal"
          label="{{'pelvisMRT.bones.metaphyseal.value' | translate}}"
          [(ngModel)]="model.isMetaphyseal"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100247"
          name="isDiaphyseal"
          label="{{'pelvisMRT.bones.diaphyseal.value' | translate}}"
          [(ngModel)]="model.isDiaphyseal"
          binary="true"
          class="m-b-20"
        >
        </p-checkbox>
        <h2 rr-id="pel_m_100248">
          {{'pelvisMRT.bones.margin.value' | translate}}*
        </h2>
        <p-radioButton
          rr-id="pel_m_100249"
          name="limitationType"
          [value]="limitationType.Sharply"
          label="{{'pelvisMRT.bones.circumscribed.value' | translate}}"
          [(ngModel)]="model.limitationType"
          rrValidation="limitationType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100250"
          name="limitationType"
          [value]="limitationType.Unsharp"
          label="{{'pelvisMRT.bones.nonCircumscribed.value' | translate}}"
          [(ngModel)]="model.limitationType"
          rrValidation="limitationType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100251"
          name="limitationType"
          [value]="limitationType.BrushLike"
          label="{{'pelvisMRT.bones.brushshaped.value' | translate}}"
          [(ngModel)]="model.limitationType"
          rrValidation="limitationType"
          class="m-b-21"
        >
        </p-radioButton>
        <h2 rr-id="pel_m_100252">
          {{'pelvisMRT.bones.homogeneity.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="pel_m_100254"
          rrUnClickRadio
          name="homogeneityType"
          [value]="homogeneityType.Homogeneous"
          label="{{'pelvisMRT.bones.homogeneous.value' | translate}}"
          [(ngModel)]="model.homogeneityType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100253"
          rrUnClickRadio
          name="homogeneityType"
          [value]="homogeneityType.Heterogeneous"
          label="{{'pelvisMRT.bones.heterogeneous.value' | translate}}"
          [(ngModel)]="model.homogeneityType"
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start">
      <div class="p-l-10 o-radio-list">
        <h2 rr-id="pel_m_100388" class="m-t-4">
          {{'pelvisMRT.bones.corticalis.value' | translate}}*
        </h2>
        <p-radioButton
          rr-id="pel_m_100389"
          name="corticalisType"
          [value]="corticalisType.Intact"
          label="{{'pelvisMRT.bones.intact.value' | translate}}"
          [(ngModel)]="model.corticalisType"
          rrValidation="corticalisType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100390"
          name="corticalisType"
          [value]="corticalisType.Destruction"
          label="{{'pelvisMRT.bones.destruction.value' | translate}}"
          [(ngModel)]="model.corticalisType"
          rrValidation="corticalisType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100391"
          name="corticalisType"
          [value]="corticalisType.Thinning"
          label="{{'pelvisMRT.bones.thinningScalopping.value' | translate}}"
          [(ngModel)]="model.corticalisType"
          rrValidation="corticalisType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_100392"
          name="corticalisType"
          [value]="corticalisType.Transmigration"
          label="{{'pelvisMRT.bones.migration.value' | translate}}"
          [(ngModel)]="model.corticalisType"
          rrValidation="corticalisType"
          class="m-b-21"
        >
        </p-radioButton>
        <div>
          <h2 rr-id="pel_m_100393">
            {{'pelvisMRT.bones.signalT1w.value' | translate}}
          </h2>
          <p rr-id="pel_m_1003930">
            {{'pelvisMRT.bones.inComparision.value' | translate}}
          </p>
        </div>
        <rr-signal-slider
          name="signalT1w"
          rr-id="pel_m_100394"
          [(ngModel)]="model.signalT1w"
        >
        </rr-signal-slider>
        <div class="m-t-17">
          <h2 rr-id="pel_m_100395">
            {{'pelvisMRT.bones.signalT2w.value' | translate}}
          </h2>
          <p rr-id="pel_m_1003950">
            {{'pelvisMRT.bones.inComparision.value' | translate}}
          </p>
        </div>
        <rr-signal-slider
          name="signalT2w"
          rr-id="pel_m_100396"
          [(ngModel)]="model.signalT2w"
        >
        </rr-signal-slider>
      </div>
    </div>
    <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
      <div
        class="p-l-10 o-radio-list"
        [rrDisable]="technologyModel && technologyModel.cmReinforcedType!==simpleAnswerType.Yes"
      >
        <h2 rr-id="pel_m_1004126" class="m-b-13">
          {{'pelvisMRT.bones.contrastEnhancementQuantitative.value' |
          translate}}
        </h2>
        <p-radioButton
          rr-id="pel_m_1004127"
          rrUnClickRadio
          name="contrastEnhancementType"
          [value]="contrastEnhancementType.Strong"
          label="{{'pelvisMRT.bones.strong.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastHomogeneityTypeBlock"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004131"
          rrUnClickRadio
          name="contrastEnhancementType"
          [value]="contrastEnhancementType.Low"
          label="{{'pelvisMRT.bones.little.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastHomogeneityTypeBlock"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004132"
          rrUnClickRadio
          name="contrastEnhancementType"
          [value]="contrastEnhancementType.No"
          label="{{'pelvisMRT.bones.no.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementType"
          rrContentReset="contrastHomogeneityTypeBlock"
        >
        </p-radioButton>
        <div
          class="f-start o-radio-list nested-content"
          id="contrastHomogeneityTypeBlock"
          [rrDisable]="model.contrastEnhancementType === contrastEnhancementType.No || model.contrastEnhancementType === contrastEnhancementType.None"
        >
          <p-radioButton
            rr-id="pel_m_1004128"
            rrUnClickRadio
            name="contrastHomogeneityType"
            [value]="contrastHomogeneityType.Homogeneous"
            label="{{'pelvisMRT.bones.homogeneous.value' | translate}}"
            [(ngModel)]="model.contrastHomogeneityType"
            rrContentReset="isContrastInSeptaBlock"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_1004129"
            rrUnClickRadio
            name="contrastHomogeneityType"
            [value]="contrastHomogeneityType.Heterogeneous"
            label="{{'pelvisMRT.bones.heterogeneous.value' | translate}}"
            [(ngModel)]="model.contrastHomogeneityType"
            rrContentReset="isContrastInSeptaBlock"
          >
          </p-radioButton>
          <div
            class="f-start o-radio-list nested-content"
            id="isContrastInSeptaBlock"
            [rrDisable]="model.contrastHomogeneityType !== contrastHomogeneityType.Heterogeneous"
          >
            <p-checkbox
              rr-id="pel_m_1004130"
              name="isContrastInSepta"
              label="{{'pelvisMRT.bones.inTheSepta.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isContrastInSepta"
            >
            </p-checkbox>
          </div>
        </div>
        <h2 rr-id="pel_m_1004133" class="m-b-13 m-t-21">
          {{'pelvisMRT.bones.contrastEnhancementDistribution.value' |
          translate}}
        </h2>
        <p-radioButton
          rr-id="pel_m_1004134"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Peripheral"
          label="{{'pelvisMRT.bones.peripheral.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004135"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Central"
          label="{{'pelvisMRT.bones.central.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004136"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.EntireLesion"
          label="{{'pelvisMRT.bones.entireLesion.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        ></p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004137"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Septal"
          label="{{'pelvisMRT.bones.septal.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        ></p-radioButton>
        <p-radioButton
          rr-id="pel_m_1004138"
          rrUnClickRadio
          name="contrastEnhancementDistributionType"
          [value]="contrastEnhancementDistributionType.Nidus"
          label="{{'pelvisMRT.bones.nidus.value' | translate}}"
          [(ngModel)]="model.contrastEnhancementDistributionType"
        ></p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-pad-l c-sep f-vertical f-start o-radio-list">
      <div class="p-l-10 o-radio-list">
        <h2 rr-id="pel_m_1005120" class="m-b-15">
          {{'pelvisMRT.bones.internalArchitecture.value' | translate}}
        </h2>
        <p-checkbox
          rr-id="pel_m_100568"
          name="isSeptetedOrChambered"
          label="{{'pelvisMRT.bones.septatedMultiChambered.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isSeptetedOrChambered"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100569"
          name="isLiquidLevel"
          label="{{'pelvisMRT.bones.fluidLevel.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isLiquidLevel"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100570"
          name="isCalcification"
          label="{{'pelvisMRT.bones.calcification.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCalcification"
          rrContentReset="calcificationCentralBlock"
        >
        </p-checkbox>
        <div
          class="f-start o-radio-list nested-content"
          [rrDisable]="!model.isCalcification"
          id="calcificationCentralBlock"
        >
          <p-checkbox
            rr-id="pel_m_100571"
            name="isCalcificationCentral"
            label="{{'pelvisMRT.bones.central.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isCalcificationCentral"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="pel_m_100572"
            name="isCalcificationDiffuselyDistributed"
            label="{{'pelvisMRT.bones.diffuse.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isCalcificationDiffuselyDistributed"
          >
          </p-checkbox>
        </div>
        <p-checkbox
          rr-id="pel_m_100573"
          name="isNidus"
          label="{{'pelvisMRT.bones.nidus.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isNidus"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100574"
          name="isOsteoidMatrix"
          label="{{'pelvisMRT.bones.osteoidMatrix.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isOsteoidMatrix"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100575"
          name="isFatSignal"
          label="{{'pelvisMRT.bones.fatSignal.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isGreaseSignal"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100576"
          name="isNidusT2wHyperintense"
          label="{{'pelvisMRT.bones.nidusT2wHyperintense.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isNidusT2wHyperintensity"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="pel_m_100577"
          name="isCapT2wHyperintense"
          label="{{'pelvisMRT.bones.capT2wHyperintense.value' | translate}}"
          binary="true"
          [(ngModel)]="model.isCapT2wHyperintensity"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
