<p-tabView class="rr-tabView head-ct-meninges-mass-tabs">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_050202"
        class="custom-tab-header"
        [rrValidation]="['differentialDiagnosis', 'isRight isLeft isMedian', 'isFrontal isTemporal isParietal isOccipital isInfratentorial']"
        ifAny="true"
      >
        {{ "headCT.meninges.localizationTabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-mass-localization [model]="model"></rr-mass-localization>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_050301"
        class="custom-tab-header"
        rrValidation="sizeInMm"
      >
        {{ "headCT.meninges.characterizationITabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-mass-characterization-one
      [model]="model"
    ></rr-mass-characterization-one>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_c_050401" class="custom-tab-header">
        {{ "headCT.meninges.characterizationIITabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-mass-characterization-two
      [model]="model"
    ></rr-mass-characterization-two>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_050501"
        class="custom-tab-header"
        rrValidation="differentialDiagnosis1"
      >
        {{ "headCT.meninges.differentialDiagnosisTabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-mass-differential-diagnosis
      [model]="model"
    ></rr-mass-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
