.main {
  cursor: pointer;
}

.no-fill {
  fill: none;
}

.no-stroke {
  stroke: none;
}

.stroke-3 {
  stroke-width: 3;
}

.border {
  @extend .no-fill;
  stroke: #e6e6e6;
  @extend .stroke-3;
}

.magnify-glass {
  &-elem {
    @extend .no-fill;
    stroke: #00aec2;
    @extend .stroke-3;
  }
  &-elem-round {
    @extend .magnify-glass-elem;
    stroke-linecap: round;
  }
}

.element {
  fill: #fff;
  stroke: #dfdfdf;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.selected {
  fill: #b2e7ed;
}

.sides-letters {
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: 700;
}
