.nowrap {
  white-space: nowrap;
}

.m-h-100 {
  min-height: 100px;
}

.input-icon {
  position: relative;

  & > span {
    position: absolute;
    top: 18px;
    left: 17px;
    pointer-events: none;
  }

  & > input {
    padding-right: 1em;
    padding-left: 27px;
    font-size: 18px;
    color: #333333;
    width: -webkit-fill-available;
    font-family: BentonSansLight;
  }
}
