* {
  user-select: none;
}

.disc-image {
  fill: url(#pattern);
}

.sector-group {
  cursor: pointer;

  path,
  rect {
    fill: #fff;
  }

  &.clicked {
    path,
    rect {
      fill: #f80202;
      stroke-width: 0.5px;
      stroke: #fff;
    }

    text tspan {
      fill: #fff;
      font-weight: 700;
      font-family: BentonSansBold;
    }

    &:hover {
      path,
      rect {
        fill: #f80202;
      }
    }
  }

  &:hover {
    path,
    rect {
      fill: #00aec2;
    }

    text tspan {
      fill: #fff;
      font-weight: 700;
      font-family: BentonSansBold;
    }
  }
}

.cls-2 {
  stroke: #fff;
}

text {
  font-size: 14px;
  font-family: BentonSansLight;
}

.cls-5,
.cls-7 {
  fill: none;
}

.cls-5 {
  stroke: #e6e6e6;
  stroke-width: 3px;
}

.cls-6,
.cls-8 {
  stroke: none;
}

:host-context(.invalid-localizer) {
  #Rectangle_1125 {
    stroke: red;
  }
}
