.element {
  opacity: 0.6;
  cursor: pointer;

  &__hovered {
    fill: #00aec2;
    opacity: 1;
    stroke-width: 0px;
  }

  &__selected {
    fill: #f80202;
    opacity: 1;
    stroke-width: 0px;
  }
}

.element__clickable {
  user-select: none;
}

.text__selected,
.circle_inner {
  fill: #fff;
}

.text__normal-bold {
  font-size: 20px;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
  cursor: pointer;
}

.border {
  fill: #e2e2e2;
}

.circle-border {
  fill: #999;
  &__selected {
    fill: #fff !important;
  }
}

:host-context(.invalid-localizer) {
  .border {
    fill: red;
  }
}
