@import "../cardio-edit-dialogs";

.localizer-dialog-large {
  height: 895px;
  width: 1525px;
  padding: {
    top: 59px;
    bottom: 45px;
    left: 57px;
    right: 57px;
  }
}

.relaxation-localizer-group {
  width: 444px;

  &:not(:nth-last-child(1)) {
    margin-right: 38px;
  }
}
