<div class="f-horizontal f-start o-width-100 col-h-100">
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="tho_c_050252">
        {{'thoraxCT.lungParenchyma.internalChange.value'|translate}}
      </h2>
      <p-checkbox
        rr-id="tho_c_050253"
        label="{{'thoraxCT.lungParenchyma.eccentricNecrosis.value' | translate}}"
        name="isEccentricNecrosis"
        binary="true"
        [(ngModel)]="model.isEccentricNecrosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050254"
        label="{{'thoraxCT.lungParenchyma.abscess.value' | translate}}"
        name="isAbscess"
        binary="true"
        [(ngModel)]="model.isAbscess"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050255"
        label="{{'thoraxCT.lungParenchyma.cavitation.value' | translate}}"
        name="isCavitation"
        binary="true"
        rrContentReset="isLuftsichelSignContainer"
        [(ngModel)]="model.isCavitation"
      ></p-checkbox>
      <div
        id="isLuftsichelSignContainer"
        class="nested-content o-radio-list"
        [rrDisable]="!model.isCavitation"
      >
        <p-checkbox
          rr-id="tho_c_050256"
          label="{{'thoraxCT.lungParenchyma.luftsichelSign.value' | translate}}"
          name="isLuftsichelSign"
          binary="true"
          [(ngModel)]="model.isLuftsichelSign"
        ></p-checkbox>
      </div>
      <p-checkbox
        rr-id="tho_c_050260"
        label="{{'thoraxCT.lungParenchyma.hemorrhage.value' | translate}}"
        name="isHemorrhage"
        binary="true"
        [(ngModel)]="model.isHemorrhage"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050261"
        label="{{'thoraxCT.lungParenchyma.pneumatocele.value' | translate}}"
        name="isPneumatocele"
        binary="true"
        [(ngModel)]="model.isPneumatocele"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15">
    <div class="o-radio-list m-l-10">
      <h2 rr-id="tho_c_050344">
        {{'thoraxCT.lungParenchyma.peripheralChange.value'|translate}}
      </h2>
      <p-checkbox
        rrInfoIcon="tho_c_05_05"
        rr-id="tho_c_050345"
        label="{{'thoraxCT.lungParenchyma.haloSign.value' | translate}}"
        name="isHaloSign"
        binary="true"
        [(ngModel)]="model.isHaloSign"
      ></p-checkbox>
      <p-checkbox
        rrInfoIcon="tho_c_05_09"
        rr-id="tho_c_0503234"
        label="{{'thoraxCT.lungParenchyma.reversedHaloSign.value' | translate}}"
        name="isReversedHaloSign"
        binary="true"
        [(ngModel)]="model.isReversedHaloSign"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050347"
        label="{{'thoraxCT.lungParenchyma.associatedAtelectasis.value' | translate}}"
        name="isAssociatedAtelectasis"
        binary="true"
        [(ngModel)]="model.isAssociatedAtelectasis"
      ></p-checkbox>
      <p-checkbox
        rr-id="tho_c_050348"
        label="{{'thoraxCT.lungParenchyma.accompanyingEffusion.value' | translate}}"
        name="isAccompanyingEffusion"
        binary="true"
        rrContentReset="accompanyingEffusionMaxWidthInMmContainer"
        [(ngModel)]="model.isAccompanyingEffusion"
      ></p-checkbox>
      <div
        id="accompanyingEffusionMaxWidthInMmContainer"
        class="nested-content o-radio-list"
        [rrDisable]="!model.isAccompanyingEffusion"
      >
        <rr-number-input
          inputRrId="tho_c_050349"
          labelRrId="tho_c_050350"
          name="accompanyingEffusionMaxWidthInMm"
          labelStyleClass="text-break"
          [config]="{min: 1, max: 99}"
          label="{{'thoraxCT.lungParenchyma.maxWidthInMm.value' | translate}}"
          [(ngModel)]="model.accompanyingEffusionMaxWidthInMm"
        ></rr-number-input>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15"></div>
  <div class="c-col-1 c-sep c-pad-l m-t-15 m-b-15"></div>
</div>
