.element {
  fill: #fff;
  opacity: 0.6;
  cursor: pointer;

  &-hovered {
    fill: #00aec2;
  }

  &-selected,
  &-selected:hover {
    fill: #fe0000;
  }

  &.both:hover {
    fill: #00aec2;
  }
}

.background-1 {
  stroke: #dfdfdf;
  stroke-width: 3px;
  fill: url(#pattern);
}

.background-2 {
  fill: none;
}

.caption {
  font-size: 41px;
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.caption {
  &-hovered,
  &-selected {
    fill: #fff;
  }
}

.inactive {
  cursor: default;
  opacity: 0.3;
}

.element-path {
  stroke: none;
}

.border {
  fill: #dfdfdf;
  stroke: none;
}

:host-context(.invalid-localizer) {
  .background-1 {
    stroke: red !important;
  }
}
