<div class="f-vertical f-start o-radio-list col-h-100 c-pad-l">
  <h2 rr-id="anc_m_040345">
    {{'feetMRT.bones.aOClassificationAO8715.value' | translate}}
  </h2>
  <p rr-id="anc_m_0403203" class="m-b-5">
    {{'feetMRT.bones.evaluationFracture.value' | translate}}
  </p>
  <div class="f-horizontal f-start col-h-100">
    <div class="f-vertical f-start o-radio-list c-col-1 c-sep c-pad-r">
      <p-radioButton
        rr-id="anc_m_040346"
        label="{{addAreaNumberToLabel('feetMRT.bones.87X1ProximalEndSegment.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.ProximalEndSegment871"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040347"
        label="{{addAreaNumberToLabel('feetMRT.bones.87X2Diaphyseal.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.Diaphyseal872"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_040348"
        label="{{addAreaNumberToLabel('feetMRT.bones.87X3DistalEndSegment.value' | translate)}}"
        name="fractureClassificationType"
        [value]="fractureClassificationType.DistalEndSegment873"
        [rrContentReset]="'fractureFormDetails distalFractureType'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_0403224"
        label="{{addAreaNumberToLabel('feetMRT.bones.87XNotFurtherSpecified.value' | translate)}}"
        name="fractureClassificationType"
        class="text-break"
        [value]="fractureClassificationType.OsMetatarsaleFractureNotFurtherSpecified"
        [rrContentReset]="'fractureFormDetails'"
        [(ngModel)]="model.fractureClassificationType"
        rrValidation="fractureClassificationType"
      ></p-radioButton>
      <div
        id="distalFractureType"
        class="f-vertical f-start o-radio-list nested-content"
        [rrDisable]="model.fractureClassificationType !== fractureClassificationType.OsMetatarsaleFractureNotFurtherSpecified"
      >
        <p-radioButton
          rr-id="anc_m_0403225"
          label="{{'feetMRT.bones.fractureConsolidation.value' | translate}}"
          name="distalTibiaFractureType"
          [value]="distalTibiaFractureType.FractureConsolidation"
          [(ngModel)]="model.distalTibiaFractureType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          rr-id="anc_m_0403226"
          label="{{'feetMRT.bones.suspicionOf.value' | translate}}"
          name="distalTibiaFractureType"
          [value]="distalTibiaFractureType.SuspicionOf"
          [(ngModel)]="model.distalTibiaFractureType"
          rrUnClickRadio
        ></p-radioButton>
      </div>
    </div>

    <div
      id="fractureFormDetails"
      class="f-vertical f-start o-radio-list col-h-100 c-pad-l"
    >
      <p
        *ngIf="model.fractureClassificationType !== fractureClassificationType.OsMetatarsaleFractureNotFurtherSpecified && model.fractureClassificationType !== fractureClassificationType.None"
        rr-id="anc_m_040407"
        class="m-b-0"
      >
        {{'feetMRT.bones.fractureType.value' | translate}}
      </p>
      <div class="f-horizontal f-start col-h-100">
        <div class="f-vertical f-start o-radio-list c-col-1 c-sep c-pad-r">
          <div
            class="f-vertical f-start o-radio-list m-b-56"
            *ngIf="model.fractureClassificationType === fractureClassificationType.ProximalEndSegment871"
          >
            <p-radioButton
              rr-id="anc_m_040454"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X1AExtraarticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.ExtraArticular871A"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040455"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X1BPartialIntraarticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.PartialIntraArticular871B"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040456"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X1CCompleteArticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.CompleteArticular871C"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
          </div>

          <div
            class="f-vertical f-start o-radio-list m-b-37"
            *ngIf="model.fractureClassificationType === fractureClassificationType.Diaphyseal872"
          >
            <p-radioButton
              rr-id="anc_m_040457"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X2ASimple.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.Simple872A"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040458"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X2BWedge.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.Wedge872B"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040459"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X2CMultifragmentary.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.MultipleFracture872C"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
          </div>

          <div
            class="f-vertical f-start o-radio-list"
            *ngIf="model.fractureClassificationType === fractureClassificationType.DistalEndSegment873"
          >
            <p-radioButton
              rr-id="anc_m_040460"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X3AExtraarticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.ExtraArticular873A"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040461"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X3BPartialIntraarticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.PartialIntraArticular873B"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_040462"
              label="{{addAreaNumberToLabel('feetMRT.bones.87X3CCompleteArticular.value' | translate)}}"
              name="fractureTypeType"
              [value]="fractureTypeType.CompleteArticular873C"
              [rrContentReset]="'fractureFormSubTypeDetails'"
              [(ngModel)]="model.fractureTypeType"
              rrUnClickRadio
            ></p-radioButton>
          </div>
        </div>
        <div
          id="fractureFormSubTypeDetails"
          class="f-vertical f-start o-radio-list c-col-1 c-pad-l"
        >
          <div
            class="f-vertical f-start o-radio-list"
            *ngIf="isFormSubTypeVisible()"
          >
            <p-radioButton
              rr-id="anc_m_0405350"
              label="{{'feetMRT.bones.aSimple.value' | translate}}"
              name="fractureFormSubType"
              [value]="fractureFormSubType.ProximalDistalSimpleA"
              [(ngModel)]="model.fractureFormSubType"
              rrUnClickRadio
            ></p-radioButton>
            <p-radioButton
              rr-id="anc_m_0405351"
              label="{{'feetMRT.bones.bMultifragmentary.value' | translate}}"
              name="fractureFormSubType"
              [value]="fractureFormSubType.ProximalDistalMultifragmentaryB"
              [(ngModel)]="model.fractureFormSubType"
              rrUnClickRadio
            ></p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
