.main-header-container {
  height: unset;
  width: 100%;
  padding: 0 59px;
  margin: -6px;

  .header-title {
    width: -webkit-fill-available;

    .header-title__circle {
      margin-right: 17px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #00aec2;

      .circle- {
        &page,
        &report {
          width: 60px;
          height: 60px;
          font-size: 40px;
          font-family: BentonSansBold;
          color: #fff;
          text-align: center;
        }
      }
    }

    .header-title__title {
      font-family: BentonSansLight;
      font-size: 60px;
      line-height: 1;
      width: -webkit-fill-available;
    }
  }
}
