.None-header,
.CardiovascularHeart-header,
.CardiovascularThoracicAorta-header,
.Esuphagus-header,
.Trachea-header,
.Mediastinum-header {
  min-height: 116px;
}

.LymphNodes-header {
  min-height: 117px;
}

.Mass-header,
.CardiovascularPulmonaryArteries-header {
  padding-left: 15px;
  padding-bottom: 24px;
}

.large-localizer {
  margin-top: 82px;
}
