.main-container {
  padding: 40px 60px 55px 60px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}

.font-42 {
  font-size: 42px;
}

.font-bold {
  font-family: BentonSansBold;
  font-weight: 700;
}

.font-light {
  font-family: BentonSansLight;
  font-weight: 300;
}

.close-circle {
  fill: #00aec2;
}

.close-lines {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}

.lungs-element {
  opacity: 0.1;
  fill: white;
}

.score-1 {
  opacity: 0.6;
  fill: #f8f8bc;
}

.score-2 {
  opacity: 0.6;
  fill: #d2b2ed;
}

.pointer {
  cursor: pointer;
}

.score:hover {
  @extend .font-bold;
}
