.pointer {
  cursor: pointer;
}

.background-right {
  fill: url(#patternR);
}

.background-left {
  fill: url(#patternL);
}

.font-base {
  font-family: BentonSansBold, sans-serif;
  font-weight: 700;
}

.font-4 {
  font-size: 4px;
}

.font-7 {
  font-size: 7px;
}

.font-18 {
  font-size: 18px;
}

.fill-white {
  fill: #fff;
}

.no-fill {
  fill: none;
}

.stroke-3 {
  stroke-width: 3px;
}

.stroke-color {
  stroke: #e2e2e2;
}

.stroke-blue {
  stroke: #00aec2;
}

.stroke-none {
  stroke: none;
}

.stroke-round {
  stroke-linecap: round;
}

.selectable {
  fill: red;
  stroke: red;
  stroke-miterlimit: 10;
}

.selected {
  opacity: 0.8;
}

.not-selected {
  opacity: 0;
}

.text-circle {
  &-selected {
    circle {
      fill: red;
      stroke: red;
      opacity: 0.8;
    }
    text {
      fill: white;
    }
  }
  &-not-selected {
    circle {
      fill: white;
    }
    text {
      fill: black;
    }
  }
}

:host-context(.invalid-localizer) {
  .border {
    stroke: red;
  }
}
