$res-vertical: 1080;
$res-horizontal: 1920;

@function px2vw($width) {
  @return 100 * $width / $res-horizontal * 1vw;
}

@function px2vh($height) {
  @return 100 * $height / $res-vertical * 1vh;
}

video:focus {
  outline: none;
}

video {
  width: px2vw(1315);
  height: px2vh(740);
}
.info-dialog-container {
  position: relative;

  .info-dialog-buttons-container {
    position: absolute;
    right: px2vw(-45);
    display: inline;
    top: px2vh(8);
    .info-dialog-close {
      margin-left: 10px;
    }
    img {
      cursor: pointer;
      width: px2vw(32);
      height: px2vh(32);
    }
  }
}
