<div class="info-dialog-container">
  <span class="info-dialog-buttons-container">
    <img
      src="assets/img/shared/icon-close.svg"
      (click)="confirm()"
      style="margin-left: 10px"
      class="info-dialog-close"
    />
  </span>
  <div *ngIf='currentLang === "fr"; else notFrench' class="f-center">
    <video controls controlsList="nodownload">
      <source src="assets/videos/RR-Videotutorial_01_en.mp4" type="video/mp4" />
    </video>
  </div>
  <ng-template #notFrench>
    <div class="f-center">
      <video controls controlsList="nodownload">
        <source
          src="assets/videos/RR-Videotutorial_01_{{currentLang}}.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </ng-template>
</div>
