.image-dialog-container {
  position: relative;

  .image-dialog-buttons-container {
    position: absolute;
    right: -140px;
    display: inline;
    top: 0;
    .image-dialog-close {
      margin-left: 10px;
    }
    .image-dialog-zoomIn {
      margin-left: 20px;
    }
    .image-dialog-zoomOut {
      margin-left: 5px;
    }
    .image-dialog-print {
      margin-left: 20px;
    }
    img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  .image-dialog-content {
    max-height: 90vh;
    max-width: 65vw;
    width: 659px;
    overflow: auto;
  }

  .image-dialog-image-name {
    position: absolute;
    color: #ffffff;
    font-family: BentonSansBold;
    font-size: 18px;
  }
}
