<div class="f-horizontal f-start col-h-555">
  <div class="c-col-1 f-vertical f-start c-sep c-pad o-list">
    <div class="o-radio-list m-b-30">
      <h2 rr-id="anc_m_040207">
        {{'feetMRT.bones.localization.value' | translate}}*
      </h2>
      <rr-foot-big-joints-simple
        [model]="model.threeDimensionalLocalization"
        [side]="side"
        (click)="openLargeLocalizer()"
        rrValidation="threeDimensionalLocalization"
        isLocalizer="true"
      ></rr-foot-big-joints-simple>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="anc_m_0402300">
        {{'feetMRT.bones.intensity.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="anc_m_0402301"
        label="{{'feetMRT.bones.moderate.value' | translate}}"
        name="intensityType"
        [value]="intensityType.Moderate"
        [(ngModel)]="model.intensityType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="anc_m_0402302"
        label="{{'feetMRT.bones.marked.value' | translate}}"
        name="intensityType"
        [value]="intensityType.Marked"
        [(ngModel)]="model.intensityType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>

  <div class="c-col-1 f-vertical f-start o-list c-sep c-pad">
    <div class="o-radio-list" [rrDisable]="!isAreaPicked()">
      <p-checkbox
        rr-id="anc_m_0403300"
        label="{{'feetMRT.bones.chondropathy.value' | translate}}"
        name="isChondropathy"
        class="ui-fat-label"
        binary="true"
        [rrContentReset]="'isChondropathyDetails'"
        [(ngModel)]="model.isChondropathy"
      ></p-checkbox>
      <div
        id="isChondropathyDetails"
        class="p-l-35"
        [rrDisable]="!model.isChondropathy"
      >
        <div class="o-radio-list m-b-30">
          <p rr-id="anc_m_0403301" rrInfoIcon="anc_m_04_04">
            {{'feetMRT.bones.outerbridgeClassification.value' | translate}}
          </p>
          <p-radioButton
            rr-id="anc_m_0403302"
            label="{{'feetMRT.bones.gradeI.value' | translate}}"
            name="outerbridgeClassificationType"
            [value]="outerbridgeClassificationType.GradeI"
            [(ngModel)]="model.outerbridgeClassificationType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_0403303"
            label="{{'feetMRT.bones.gradeII.value' | translate}}"
            name="outerbridgeClassificationType"
            [value]="outerbridgeClassificationType.GradeII"
            [(ngModel)]="model.outerbridgeClassificationType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_0403305"
            label="{{'feetMRT.bones.gradeIII.value' | translate}}"
            name="outerbridgeClassificationType"
            [value]="outerbridgeClassificationType.GradeIII"
            [(ngModel)]="model.outerbridgeClassificationType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_0403305"
            label="{{'feetMRT.bones.gradeIV.value' | translate}}"
            name="outerbridgeClassificationType"
            [value]="outerbridgeClassificationType.GradeIV"
            [(ngModel)]="model.outerbridgeClassificationType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
        <div class="o-radio-list m-b-30">
          <p rr-id="anc_m_0403306">
            {{'feetMRT.bones.largestDiameter.value' | translate}}
          </p>
          <rr-number-input
            [label]="'feetMRT.bones.inMm.value' | translate"
            [inputRrId]="'anc_m_0403308'"
            [labelRrId]="'anc_m_0403307'"
            name="expansionLargestDiameterInMm"
            [config]="{min: 1, max: 99}"
            [(ngModel)]="model.expansionLargestDiameterInMm"
          ></rr-number-input>
        </div>
        <div class="o-radio-list">
          <p rr-id="anc_m_0403309">
            {{'feetMRT.bones.articularSurfaces.value' | translate}}
          </p>
          <p-radioButton
            rr-id="anc_m_0403310"
            label="{{'feetMRT.bones.unipolar.value' | translate}}"
            name="articularSurfacesType"
            [value]="articularSurfacesType.Unipolar"
            [(ngModel)]="model.articularSurfacesType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            rr-id="anc_m_0403311"
            label="{{'feetMRT.bones.bipolar.value' | translate}}"
            name="articularSurfacesType"
            [value]="articularSurfacesType.Bipolar"
            [(ngModel)]="model.articularSurfacesType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 f-vertical f-start o-list c-sep c-pad">
    <div class="o-radio-list text-break">
      <h2 rr-id="anc_m_0404300">
        {{'feetMRT.bones.associatedFindings.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="anc_m_0404301"
        label="{{'feetMRT.bones.osteophytes.value' | translate}}"
        name="isOsteophytes"
        binary="true"
        [(ngModel)]="model.isOsteophytes"
      ></p-checkbox>
      <p-checkbox
        rr-id="anc_m_0404302"
        label="{{'feetMRT.bones.subchondralCystsgeodes.value' | translate}}"
        name="isSubchondralCystsGeodes"
        binary="true"
        [(ngModel)]="model.isSubchondralCystsGeodes"
      ></p-checkbox>
      <p-checkbox
        rr-id="anc_m_0404303"
        label="{{'feetMRT.bones.subchondralEdema.value' | translate}}"
        name="isSubchondralEdema"
        binary="true"
        [(ngModel)]="model.isSubchondralEdema"
      ></p-checkbox>
      <p-checkbox
        rr-id="anc_m_0404304"
        label="{{'feetMRT.bones.subchondralSclerosis.value' | translate}}"
        name="isSubchondralSclerosis"
        binary="true"
        [(ngModel)]="model.isSubchondralSclerosis"
      ></p-checkbox>
      <p-checkbox
        rr-id="anc_m_0404305"
        label="{{'feetMRT.bones.localBoneMarrowEdema.value' | translate}}"
        name="isLocalBoneMarrowEdema"
        binary="true"
        [(ngModel)]="model.isLocalBoneMarrowEdema"
      ></p-checkbox>
      <p-checkbox
        rr-id="anc_m_0404306"
        label="{{'feetMRT.bones.synovialCyst.value' | translate}}"
        name="isSynovialCyst"
        binary="true"
        [(ngModel)]="model.isSynovialCyst"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 f-vertical f-start o-list c-pad-l">
    <div class="o-radio-list">
      <h2 rr-id="anc_m_0405300">
        {{'feetMRT.bones.differentialDiagnosis.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="anc_m_0405301"
        label="{{'feetMRT.bones.chondrocalcinosis.value' | translate}}"
        name="isChondrocalcinosis"
        binary="true"
        [(ngModel)]="model.isChondrocalcinosis"
      ></p-checkbox>
    </div>
  </div>
</div>
