<div class="f-horizontal">
  <div class="c-col-1 c-sep c-pad o-list lower-columns">
    <div class="o-radio-list m-b-30">
      <h2 rr-id="han_m_050231" rrInfoIcon="han_m_05_04">
        {{'handMRT.capsuleAndRibbons.ruptureOfExtrinsicLigaments.value' |
        translate }}
      </h2>
      <p rr-id="han_m_050232">
        {{'handMRT.capsuleAndRibbons.dorsal.value' | translate }}
      </p>
      <p-radioButton
        rr-id="han_m_050233"
        label="{{'handMRT.capsuleAndRibbons.ligRadiotriquetrumDorsale.value' | translate }}"
        name="dorsalType"
        [value]="dorsalType.LigRadiotriquetrumDorsale"
        [(ngModel)]="model.dorsalType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050234"
        label="{{'handMRT.capsuleAndRibbons.ligIntercarpaleDorsale.value' | translate }}"
        name="dorsalType"
        [value]="dorsalType.LigIntercarpaleDorsale"
        [(ngModel)]="model.dorsalType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
    <div class="o-radio-list">
      <p rr-id="han_m_050235">
        {{'handMRT.capsuleAndRibbons.palmar.value' | translate }}
      </p>
      <p-radioButton
        rr-id="han_m_050236"
        label="{{'handMRT.capsuleAndRibbons.ligRadioscaphocapitatum.value' | translate }}"
        name="palmarType"
        [value]="palmarType.LigRadioscaphocapitatum"
        [(ngModel)]="model.palmarType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="han_m_050237"
        label="{{'handMRT.capsuleAndRibbons.ligRadiolunotriquetrum.value' | translate }}"
        name="palmarType"
        [value]="palmarType.LigRadiolunotriquetrum"
        [(ngModel)]="model.palmarType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad lower-columns"></div>
  <div class="c-col-1 c-sep c-pad lower-columns"></div>
  <div class="c-col-1 c-sep c-pad-l lower-columns"></div>
</div>
