@import "src/functions";

::ng-deep
  rr-report-list-filter-selection
  .ui-dropdown-label-container
  span.ui-dropdown-label {
  display: flex;

  & > span,
  & .pi-sort-down {
    display: flex;
    align-items: center;
  }

  & .pi-sort-down::before {
    margin-top: px2vh(-8);
  }
}

::ng-deep rr-report-list-filter-selection p-dropdown div.option-panel-dropdown {
  min-width: 25px;
}

::ng-deep rr-report-list-options-panel button.button--unfilled-borderless {
  display: inline-block;
  width: auto;
}
