.main {
  height: 538px;
}
.triple-col-header {
  height: 30px;
}
.triple-col-content {
  height: calc(100% - 30px);
}
.double-col-header {
  height: 89px;
}
.double-col-content {
  height: calc(100% - 89px);
}
