<rr-card [isDisabled]="isDisabled" [validationObjects]="validationObjects">
  <h1 rr-id="uni_x_030103" header>
    {{ 'shared-templates.technology.cMReinforced.value' | translate }}*
  </h1>
  <div class="f-start f-vertical o-radio-list" content>
    <p-radioButton
      rr-id="uni_x_030104"
      [(ngModel)]="ngValue"
      styleClass="ui-white-box"
      labelStyleClass="ui-white-label ui-fat-label"
      label="{{ 'shared-templates.technology.yes.value' | translate }}"
      [value]="cmReinforcedType.Yes"
      name="cmReinforcedType"
      rrValidation="cmReinforcedType"
      notInFinding="true"
      [disabled]="isDisabled"
      (ngModelChange)="onSequenceTypeUpdate()"
    >
    </p-radioButton>
    <p-radioButton
      rr-id="uni_x_030110"
      [(ngModel)]="ngValue"
      styleClass="ui-white-box"
      labelStyleClass="ui-white-label ui-fat-label"
      label="{{ 'shared-templates.technology.no.value' | translate }}"
      [value]="cmReinforcedType.No"
      name="cmReinforcedType"
      rrValidation="cmReinforcedType"
      notInFinding="true"
      [disabled]="isDisabled"
      (ngModelChange)="onSequenceTypeUpdate()"
    >
    </p-radioButton>
  </div>
</rr-card>
