<div class="finding-tab-view">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="tho_m_040232"
          [rrValidation]="['isUpperMediastinum isLowerMediastinum','isAnteriorMediastinum isMiddleMediastinum isPosteriorMediastinum','expansionSizeInMm','diagnosisType1','limitationType','homogeneityType']"
          ifAny="true"
          noUpdate="true"
        >
          {{ 'thoraxMRT.mediastinum.characterizationI.value' | translate }}
        </h1>
      </ng-template>
      <rr-characterization-one [model]="model"></rr-characterization-one>
    </p-tabPanel>
    <p-tabPanel
      [header]="'thoraxMRT.mediastinum.characterizationII.value' | translate"
      rr-id="tho_m_040351"
    >
      <rr-characterization-two [model]="model"></rr-characterization-two>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="tho_m_040460" rrValidation="diagnosisType2" noUpdate="true">
          {{ 'thoraxMRT.mediastinum.differentialDiagnosis.value' | translate }}
        </h1>
      </ng-template>
      <rr-differential-diagnosis [model]="model"></rr-differential-diagnosis>
    </p-tabPanel>
  </p-tabView>
</div>
