.main-container {
  height: 551px;
}

.main-header {
  height: 42px;
}
.main-content {
  height: calc(100% - 42px);
}

.double-col-header {
  height: 30px;
}
.double-col-content {
  height: calc(100% - 30px);
}
