<div class="vulva-inflammation-height">
  <div class="f-horizontal col-h-100 o-width-100">
    <div class="c-col-1 c-pad m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0602187" class="p-l-10 m-b-15">
        {{'pelvisMRT.femaleGender.localization.value' | translate}}*
      </h2>
      <div class="o-radio-list p-l-10">
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.central.value' | translate}}"
          rr-id="pel_m_0602188"
          name="localizationType"
          [value]="localizationTypeEnum.Central"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.labiaMajora.value' | translate}}"
          rr-id="pel_m_0602189"
          name="localizationType"
          [value]="localizationTypeEnum.LabiaMajora"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <div
          id="labiaMajoraBlock"
          class="p-l-35 o-radio-list"
          [rrDisable]="model.localizationType !== localizationTypeEnum.LabiaMajora"
        >
          <p rr-id="pel_m_0602462">
            {{'pelvisMRT.femaleGender.side.value' | translate}}*
          </p>
          <p-radioButton
            label="{{'pelvisMRT.femaleGender.right.value' | translate}}"
            rr-id="pel_m_0602190"
            name="labiaMajoraSideType"
            [value]="sideTypeEnum.Right"
            [(ngModel)]="model.labiaMajoraSideType"
            rrValidation="labiaMajoraSideType"
          >
          </p-radioButton>
          <p-radioButton
            label="{{'pelvisMRT.femaleGender.left.value' | translate}}"
            rr-id="pel_m_0602191"
            name="labiaMajoraSideType"
            [value]="sideTypeEnum.Left"
            [(ngModel)]="model.labiaMajoraSideType"
            rrValidation="labiaMajoraSideType"
          >
          </p-radioButton>
        </div>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.labiaMinora.value' | translate}}"
          rr-id="pel_m_0602192"
          name="localizationType"
          [value]="localizationTypeEnum.LabiaMinora"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <div
          id="labiaMinoraBlock"
          class="p-l-35 o-radio-list"
          [rrDisable]="model.localizationType !== localizationTypeEnum.LabiaMinora"
        >
          <p rr-id="pel_m_0602450">
            {{'pelvisMRT.femaleGender.side.value' | translate}}*
          </p>
          <p-radioButton
            label="{{'pelvisMRT.femaleGender.right.value' | translate}}"
            rr-id="pel_m_0602193"
            name="labiaMinoraSideType"
            [value]="sideTypeEnum.Right"
            [(ngModel)]="model.labiaMinoraSideType"
            rrValidation="labiaMinoraSideType"
          >
          </p-radioButton>
          <p-radioButton
            label="{{'pelvisMRT.femaleGender.left.value' | translate}}"
            rr-id="pel_m_0602194"
            name="labiaMinoraSideType"
            [value]="sideTypeEnum.Left"
            [(ngModel)]="model.labiaMinoraSideType"
            rrValidation="labiaMinoraSideType"
          >
          </p-radioButton>
        </div>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.clitoris.value' | translate}}"
          rr-id="pel_m_0602195"
          name="localizationType"
          [value]="localizationTypeEnum.Clitoris"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.perineum.value' | translate}}"
          rr-id="pel_m_0602196"
          name="localizationType"
          [value]="localizationTypeEnum.Perineum"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.paraurethral.value' | translate}}"
          rr-id="pel_m_0602197"
          name="localizationType"
          [value]="localizationTypeEnum.Paraurethral"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.generalized.value' | translate}}"
          rr-id="pel_m_0602213"
          name="localizationType"
          [value]="localizationTypeEnum.Generalized"
          [(ngModel)]="model.localizationType"
          rrContentReset="labiaMajoraBlock labiaMinoraBlock"
          rrValidation="localizationType"
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-col-1 c-sep-l c-pad m-t-29 m-b-13 o-list">
      <h2 rr-id="pel_m_0603149" class="p-l-10 m-b-14">
        {{'pelvisMRT.femaleGender.morphology.value' | translate}}
      </h2>
      <div class="o-radio-list p-l-10 m-b-26">
        <p rr-id="pel_m_0603150">
          {{'pelvisMRT.femaleGender.margin.value' | translate}}
        </p>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.circumscribed.value' | translate}}"
          rr-id="pel_m_0603151"
          [value]="marginTypeEnum.Circumscribed"
          [(ngModel)]="model.marginType"
          name="marginType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.noncircumscribed.value' | translate}}"
          rr-id="pel_m_0603152"
          [value]="marginTypeEnum.NonCircumscribed"
          [(ngModel)]="model.marginType"
          name="marginType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <div class="o-radio-list p-l-10 m-b-23">
        <p rr-id="pel_m_0603400">
          {{'pelvisMRT.femaleGender.homogeneity.value' | translate}}
        </p>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.homogeneous.value' | translate}}"
          rr-id="pel_m_060310"
          name="homogenityType"
          [value]="homogenityTypeEnum.Homogeneous"
          [(ngModel)]="model.homogenityType"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.femaleGender.heterogeneous.value' | translate}}"
          rr-id="pel_m_060311"
          name="homogenityType"
          [value]="homogenityTypeEnum.Heterogeneous"
          [(ngModel)]="model.homogenityType"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
      <div class="o-radio-list p-l-10 m-b-23">
        <p rr-id="pel_m_0603460">
          {{'pelvisMRT.femaleGender.details.value' | translate}}
        </p>
        <p-checkbox
          label="{{'pelvisMRT.femaleGender.softTissueSwelling.value' | translate}}"
          rr-id="pel_m_0603252"
          binary="true"
          name="isSoftTissueSwelling"
          [(ngModel)]="model.isSoftTissueSwelling"
        >
        </p-checkbox>
      </div>
    </div>
    <div class="c-col-1 c-sep-l c-pad m-t-60 m-b-13 o-list">
      <div class="p-l-10 p-r-10 o-radio-list triple-slider">
        <h2 rr-id="pel_m_0604431" class="m-b-2">
          {{'pelvisMRT.femaleGender.t1wSignal.value' | translate}}
        </h2>
        <p rr-id="pel_m_0604431" class="font-15 m-b-10">
          {{'pelvisMRT.femaleGender.inComparisonTo.value' | translate}}
        </p>
        <rr-slider-number-triple-input
          name="t1wSignal"
          rr-id="pel_m_0604432"
          [(ngModel)]="model.t1wSignal"
        >
        </rr-slider-number-triple-input>
      </div>
      <div class="p-l-10 p-r-10 o-radio-list m-b-19 triple-slider">
        <h2 rr-id="pel_m_0604433" class="m-b-2">
          {{'pelvisMRT.femaleGender.t2wSignal.value' | translate}}
        </h2>
        <p rr-id="pel_m_0604433" class="font-15 m-b-10">
          {{'pelvisMRT.femaleGender.inComparisonTo.value' | translate}}
        </p>
        <rr-slider-number-triple-input
          name="t2wSignal"
          rr-id="pel_m_0604434"
          [(ngModel)]="model.t2wSignal"
        >
        </rr-slider-number-triple-input>
      </div>
    </div>
    <div class="c-col-1 c-sep-l c-pad-l m-t-29 m-b-13 o-list">
      <div class="o-radio-list p-l-10 m-b-31" [rrDisable]="!isCM">
        <h2 rr-id="pel_m_0605267" class="m-b-14">
          {{'pelvisMRT.femaleGender.contrastEnhancement.value' | translate}}
        </h2>
        <p-radioButton
          rr-id="pel_m_0605268"
          label="{{'pelvisMRT.femaleGender.strong.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.Strong"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_0605269"
          label="{{'pelvisMRT.femaleGender.low.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.Low"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="pel_m_0605270"
          label="{{'pelvisMRT.femaleGender.no.value' | translate}}"
          name="contrastEnhancementType1"
          [value]="contrastEnhancementTypeEnum.No"
          [(ngModel)]="model.contrastEnhancementType1"
          rrContentReset="contrastEnhancementHomogenityType1Block"
          rrUnClickRadio
        >
        </p-radioButton>
        <div
          id="contrastEnhancementHomogenityType1Block"
          class="m-l-35 o-radio-list"
          [rrDisable]="model.contrastEnhancementType1 !== contrastEnhancementTypeEnum.Low &&
          model.contrastEnhancementType1 !== contrastEnhancementTypeEnum.Strong"
        >
          <p-radioButton
            rr-id="pel_m_0605271"
            label="{{'pelvisMRT.femaleGender.homogeneous.value' | translate}}"
            name="contrastEnhancementHomogenityType1"
            [value]="homogenityTypeEnum.Homogeneous"
            [(ngModel)]="model.contrastEnhancementHomogenityType1"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-radioButton
            rr-id="pel_m_0605272"
            label="{{'pelvisMRT.femaleGender.heterogeneous.value' | translate}}"
            name="contrastEnhancementHomogenityType1"
            [value]="homogenityTypeEnum.Heterogeneous"
            [(ngModel)]="model.contrastEnhancementHomogenityType1"
            rrUnClickRadio
          >
          </p-radioButton>
          <p-checkbox
            label="{{'pelvisMRT.femaleGender.parietal.value' | translate}}"
            rr-id="pel_m_0605273"
            binary="true"
            name="isParietal"
            [(ngModel)]="model.isParietal"
          >
          </p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
