.finding-verticles__section {
  margin-top: 70px;
  width: auto;
  margin-bottom: 16px;

  & ::ng-deep .rr-tabView ul {
    li {
      padding-left: 10px;
    }
  }
}

.tab-header {
  color: #000000;
  margin-left: 10px;
}

.align-self-fstart {
  align-self: flex-start;
}

:host ::ng-deep .uploader-container {
  background-color: white;
}

:host ::ng-deep p-tabView {
  margin-left: 42px;
}
