.custom-tab-view {
  height: 621px;
}

.main-container {
  height: 550px;
}
.custom-tab-header {
  margin-left: 10px;
  color: #000000;
}

.custom-col-with-dropdown {
  width: 291px;
  padding-right: 26px;
  box-sizing: content-box;
}
