* {
  cursor: pointer;
}

.blue {
  stroke: #00aec2;
  fill: #fff;
  stroke-width: 3px;
}

.white {
  stroke: #e6e6e6;
  fill: #fff;
  stroke-width: 3px;
}

.orange {
  fill: #edac97;
}

.selectable {
  fill: #f7cca4;
}

.light-red {
  fill: #eba48e;
}
.dark-red {
  fill: #ad3f44;
}

.red {
  fill: #cf5d54;
}

.light-red {
  fill: #d77873;
}

.light-red02 {
  fill: #e2847d;
}

.selected {
  fill: #f80202;
  stroke: #fff;
}
