.soft-tissues_column {
  height: 517px;
}

.soft-tissues_characterization-two-column {
  height: 537px;
}

.soft-tissues_high-column {
  height: 556px;
}

.soft-tissues_tab {
  height: 100%;
  width: 100%;
}

.left-indent {
  margin-left: 35px;
}

.large-localizer {
  margin-top: -102px;
}

p-tabView ::ng-deep a {
  margin-left: 7px;
}
