.custom-tab-view {
  height: 100%;
}

.main-container {
  height: 500px;
}

.custom-tab-header {
  margin-left: 10px;
  color: #000000;
}

.h-580,
p-tabView.rr-tabView ::ng-deep .ui-tabview {
  height: 580px;
}

p-tabView.rr-tabView ::ng-deep .ui-tabview .ui-tabview-panels {
  height: 510px;
}
