<div class="f-horizontal f-start main">
  <div class="c-col-1 c-sep c-pad">
    <div class="o-radio-list m-b-25">
      <h2 rr-id="anc_m_050234" rrValidation="extraarticularLocalizationType">
        {{'feetMRT.ligamentsAndTendons.localization.value' | translate}}*
      </h2>
      <rr-foot-big-tendons-simple
        rr-id="anc_m_050235"
        name="extraarticularLocalizationType"
        (click)="openLargeLocalizerTendons()"
        [side]="side.right ? 'right' : 'left'"
        [model]="model.extraarticularLocalizationType"
        rrValidation="extraarticularLocalizationType"
      ></rr-foot-big-tendons-simple>
    </div>
    <div
      class="o-radio-list"
      *ngIf="model.extraarticularLocalizationType.achillesTendon"
    >
      <h2 rr-id="anc_m_050236">
        {{'feetMRT.ligamentsAndTendons.pathologyAchillesTendon.value' |
        translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050237"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('AchillesTendon')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.tear.value' | translate }}"
        rr-id="anc_m_050238"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('AchillesTendon')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list text-break"
      *ngIf="model.extraarticularLocalizationType.tendonOfMPeroneusLongus ||
      model.extraarticularLocalizationType.tendonOfMPeroneusBrevis"
    >
      <h2
        rr-id="anc_m_050239"
        class="m-b-25"
        *ngIf="model.extraarticularLocalizationType.tendonOfMPeroneusLongus"
      >
        {{'feetMRT.ligamentsAndTendons.pathologyTendonOfPeroneus.value' |
        translate}}
      </h2>
      <h2
        rr-id="anc_m_0502100"
        class="m-b-25"
        *ngIf="model.extraarticularLocalizationType.tendonOfMPeroneusBrevis"
      >
        {{'feetMRT.ligamentsAndTendons.pathologyTendonOfBrevis.value' |
        translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050240"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('TendonOfPeroneus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.tear.value' | translate }}"
        rr-id="anc_m_050241"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('TendonOfPeroneus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list text-break"
      *ngIf="model.extraarticularLocalizationType.tendonOfTheAnteriorTibialisMuscle"
    >
      <h2 rr-id="anc_m_050242" class="m-b-25">
        {{'feetMRT.ligamentsAndTendons.tibialisAnterior.value' | translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050243"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('TibialisAnterior')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.tear.value' | translate }}"
        rr-id="anc_m_050244"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('TibialisAnterior')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list text-break"
      *ngIf="model.extraarticularLocalizationType.tendonOfMFlexorDigitorumLongus"
    >
      <h2 rr-id="anc_m_050245" class="m-b-25">
        {{'feetMRT.ligamentsAndTendons.flexorDigitorumLongus.value' |
        translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050246"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('FlexorDigitorumLongus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.rupture.value' | translate }}"
        rr-id="anc_m_050247"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('FlexorDigitorumLongus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list text-break"
      *ngIf="model.extraarticularLocalizationType.tendonOfMFlexorHallucisLongus"
    >
      <h2 rr-id="anc_m_050248" class="m-b-25">
        {{'feetMRT.ligamentsAndTendons.flexorHallucisLongus.value' | translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050249"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('FlexorHallucisLongus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.rupture.value' | translate }}"
        rr-id="anc_m_050250"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('FlexorHallucisLongus')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list text-break"
      *ngIf="model.extraarticularLocalizationType.tendonOfThePosteriorTibialisMuscle"
    >
      <h2 rr-id="anc_m_050251" class="m-b-25">
        {{'feetMRT.ligamentsAndTendons.tibialisPosterior.value' | translate}}
      </h2>
      <p-checkbox
        name="isTendinopathy"
        label="{{ 'feetMRT.ligamentsAndTendons.tendinopathy.value' | translate }}"
        rr-id="anc_m_050252"
        binary="true"
        [(ngModel)]="model.isTendinopathy"
        (onChange)="resetTendinopathyModel('TibialisPosterior')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
      <p-checkbox
        name="isTear"
        label="{{ 'feetMRT.ligamentsAndTendons.rupture.value' | translate }}"
        rr-id="anc_m_050253"
        binary="true"
        [(ngModel)]="model.isTear"
        (onChange)="resetRuptureModel('TibialisPosterior')"
        rrValidation="isTendinopathy isTear"
      ></p-checkbox>
    </div>
  </div>
  <rr-achilles-tendon
    *ngIf="model.extraarticularLocalizationType.achillesTendon"
    [w013DifferentialDiagnosis]="w013DifferentialDiagnosis"
    [model]="model"
  ></rr-achilles-tendon>
  <rr-tendon-of-m-peroneus-longus-brevis
    *ngIf="model.extraarticularLocalizationType.tendonOfMPeroneusLongus ||
      model.extraarticularLocalizationType.tendonOfMPeroneusBrevis"
    [model]="model"
  ></rr-tendon-of-m-peroneus-longus-brevis>
  <rr-tendon-of-the-anterior-tibialis-muscle
    *ngIf="model.extraarticularLocalizationType.tendonOfTheAnteriorTibialisMuscle"
    [model]="model"
  ></rr-tendon-of-the-anterior-tibialis-muscle>
  <rr-tendon-of-m-flexor-digitorum-longus
    *ngIf="model.extraarticularLocalizationType.tendonOfMFlexorDigitorumLongus"
    [model]="model"
  >
  </rr-tendon-of-m-flexor-digitorum-longus>
  <rr-tendon-of-m-flexor-hallucis-longus
    *ngIf="model.extraarticularLocalizationType.tendonOfMFlexorHallucisLongus"
    [model]="model"
  >
  </rr-tendon-of-m-flexor-hallucis-longus>
  <rr-tendon-of-the-posterior-tibialis-muscle
    *ngIf="model.extraarticularLocalizationType.tendonOfThePosteriorTibialisMuscle"
    [model]="model"
  >
  </rr-tendon-of-the-posterior-tibialis-muscle>
  <div class="f-horizontal f-start h-580" *ngIf="localizerNotSelected()">
    <div class="c-col-1 c-sep c-pad m-t-15 m-b-15"></div>
    <div class="c-col-1 c-sep c-pad m-t-15 m-b-15"></div>
    <div class="c-col-1 c-sep c-pad-l m-t-15 m-b-15"></div>
  </div>
</div>
