.localiser {
  &__bone {
    opacity: 0.6;
    fill: none;
  }
  &__bone--selected {
    fill: #f80202;
  }
  cursor: pointer;
}

:host-context(.invalid-localizer) {
  .localiser__border {
    fill: #f80202 !important;
  }
}
