<p-tabView class="rr-tabView mennings-mass-tabs">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_050202"
        class="custom-tab-header"
        ifAny="true"
        [rrValidation]="[
          'isRight isLeft isMedian',
          'isFrontal isTemporal isParietal isOccipital isInfratentorial', 'massDifferentialDiagnosisLocalization'
        ]"
      >
        {{ 'headMRT.meninges.localization.value' | translate }}
      </h1>
    </ng-template>
    <rr-localization
      [model]="model"
      [diffDiagnosisOptions]="diffDiagnosisOptions"
    ></rr-localization>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_050301"
        class="custom-tab-header"
        ifAny="true"
        [rrValidation]="[
          'size'
        ]"
      >
        {{ 'headMRT.meninges.characterizationI.value' | translate }}
      </h1>
    </ng-template>
    <rr-characterization-one
      [model]="model"
      [isDWIInAnySequence]="isDWIInAnySequence"
    >
    </rr-characterization-one>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_m_050401" class="custom-tab-header">
        {{ 'headMRT.meninges.characterizationII.value' | translate }}
      </h1>
    </ng-template>
    <rr-characterization-two
      [model]="model"
      [isContrastEnhanced]="isContrastEnhanced"
    >
    </rr-characterization-two>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_m_050501"
        class="custom-tab-header"
        ifAny="true"
        [rrValidation]="[
          'massDifferentialDiagnosis1'
        ]"
      >
        {{ 'headMRT.meninges.differentialDiagnosis.value' | translate }}
      </h1>
    </ng-template>
    <rr-differential-diagnosis
      [model]="model"
      [diffDiagnosisOptions]="diffDiagnosisOptions"
      [diffDiagnosisOptions2]="diffDiagnosisOptions2"
    >
    </rr-differential-diagnosis>
  </p-tabPanel>
</p-tabView>
