.main-container {
  height: 551px;
}

.inner-col-1 {
  width: 342px;
}

.inner-col-2 {
  width: 286px;
}

.multi-col {
  &-header {
    height: 30px;
  }
  &-content {
    height: calc(100% - 30px);
  }
}
