.profile {
  margin-top: 53px;
  height: 568px;
  &-col {
    width: 344px;
    height: 100%;
  }
  &-col-double {
    width: 688px;
    flex-wrap: wrap;
  }
  &-col-lower {
    max-height: 520px;
  }
  &-row {
    width: 100%;
  }
  &-gray-panel {
    background-color: #e2dfdf;
    width: 100%;
    height: 100%;
    padding-top: 62px;
    .panel-user-initials {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 31px;
      font-weight: 700;
      color: #ffffff;
      background-color: #000000;
      border-radius: 50%;
      width: 90px;
      height: 90px;
    }
    .panel-user-name {
      font-size: 21px;
      font-weight: 700;
      margin-top: 15px;
      &-element {
        line-height: 28px;
      }
    }
  }
  &-section-header {
    height: 53px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
  }
  &-form-element {
    &-full {
      width: 310px;
    }
    &-half {
      width: 150px;
    }
    &-half-container {
      display: flex;
      width: 100%;
      :first-child {
        margin-right: 7px;
      }
    }
    &-gap {
      height: 88px;
    }
    margin-bottom: 18px;
    .blue-border {
      border: 3px solid #00aec2;
    }
    .gray-border {
      border: 3px solid #ebebeb;
    }
    .blocked-input {
      background-color: #e2dfdf;
    }
    .btn-password-new {
      background-color: #ffffff;
      text-align: left;
      padding-left: 12px;
    }
    .btn-password-reset {
      font-size: 18px;
      background-color: #999999;
      color: #ffffff;
      border: 1px solid #999999;
    }
    &-label {
      font-size: 18px;
      line-height: 18px;
      font-weight: 300;
      margin-bottom: 13px;
    }
    &-input {
      width: 100%;
      height: 40px;
      input,
      p-dropdown,
      button {
        height: inherit;
        width: inherit;
        border-radius: 4px;
      }
    }
  }
}

input:focus {
  outline: none;
}

input::content {
  font-family: BentonSansLight;
  padding-left: 10px;
}

// todo possibly move to common
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-10 {
  padding-right: 10px;
}
