<div class="f-start f-horizontal col-h-100 o-list">
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12  f-vertical o-list">
    <div class="o-radio-list">
      <h2 rr-id="ang_c_020262">
        {{'angiographyCT.anamnesis.endovascularAorticRepair.value' | translate
        }}
      </h2>
      <h3 rr-id="ang_c_020263">
        {{'angiographyCT.anamnesis.type.value' | translate }}
      </h3>
      <p-checkbox
        rr-id="ang_c_020264"
        label="{{'angiographyCT.anamnesis.abdominalEVAR.value' | translate }}"
        name="isAbdominalEVAR"
        [(ngModel)]="model.isAbdominalEVAR"
        binary="true"
      ></p-checkbox>
      <p-checkbox
        rr-id="ang_c_020265"
        label="{{'angiographyCT.anamnesis.thoracicTEVAR.value' | translate }}"
        name="isThoracicTEVAR"
        [(ngModel)]="model.isThoracicTEVAR"
        binary="true"
      ></p-checkbox>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-sep c-pad m-t-14 m-b-12"></div>
  <div class="c-col-1 c-pad m-t-14 m-b-12"></div>
</div>
