@import "../anamnesis.component";

:host ::ng-deep rr-calendar-input .ui-inputtext {
  height: 40px;
  width: 158px;
  cursor: pointer;
  background-color: #ffffff !important;
}

.text-break ::ng-deep .rr-number-input__label {
  white-space: pre-wrap !important;
}

:host ::ng-deep .small-date p-dropdown label {
  text-overflow: ellipsis;
}

:host ::ng-deep .small-date p-dropdown > div {
  width: 95px !important;
}

:host ::ng-deep .small-date p-dropdown .ui-dropdown-label-container {
  width: 90px;
}
