<div class="c-col-1 c-pad c-sep f-start m-t-30 m-b-15">
  <h2 rr-id="pel_m_070203" class="p-l-10 p-b-15">
    {{ 'pelvisMRT.pelvicFloor.lesionsOfThePelvic.value' | translate }}
  </h2>
  <div class="o-radio-list p-l-10">
    <p-checkbox
      rr-id="pel_m_070204"
      name="isVaginaLossOfTheHShape"
      class="text-break"
      label="{{'pelvisMRT.pelvicFloor.vaginaLossOfTheHShape.value' | translate }}"
      [(ngModel)]="model.isVaginaLossOfTheHShape"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070205"
      name="isPosteriorDislocationOfTheVaginaFornix"
      class="text-break"
      label="{{'pelvisMRT.pelvicFloor.posteriorDislocationOfThe.value' | translate }}"
      [(ngModel)]="model.isPosteriorDislocationOfTheVaginaFornix"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070206"
      name="isBladderSaddlebagSign"
      class="text-break"
      label="{{'pelvisMRT.pelvicFloor.bladderSaddlebagSign.value' | translate }}"
      [(ngModel)]="model.isBladderSaddlebagSign"
      binary="true"
      rrInfoIcon="pel_m_07_01"
    >
    </p-checkbox>
  </div>
</div>
<div class="c-col-1 c-pad c-sep f-start m-t-30 m-b-15">
  <h2 rr-id="pel_m_070302" class="p-l-10 p-b-15">
    {{ 'pelvisMRT.pelvicFloor.urethralLigaments.value' | translate }}
  </h2>
  <p-checkbox
    rr-id="pel_m_070303"
    class="p-l-10 m-b-0"
    name="isLesionPeriurethralLigament"
    label="{{'pelvisMRT.pelvicFloor.lesionPeriurethralLigament.value' | translate }}"
    [(ngModel)]="model.isLesionPeriurethralLigament"
    binary="true"
    rrContentReset="lesionPeriurethralLigamentDirectionType"
  >
  </p-checkbox>
  <div
    class="o-radio-list p-l-45 text-break p-t-10"
    [rrDisable]="!model.isLesionPeriurethralLigament"
    id="lesionPeriurethralLigamentDirectionType"
  >
    <p rr-id="pel_m_070304" class="m-b-5">
      {{'pelvisMRT.pelvicFloor.side.value' | translate }}
    </p>
    <p-checkbox
      rr-id="pel_m_070305"
      name="isLesionPeriurethralLigamentRight"
      label="{{'pelvisMRT.pelvicFloor.rightSideNoAsterisk.value' | translate }}"
      [(ngModel)]="model.isLesionPeriurethralLigamentRight"
      rrValidation="isLesionPeriurethralLigamentRight isLesionPeriurethralLigamentLeft isLesionPeriurethralLigamentSuspicionOf"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070306"
      name="isLesionPeriurethralLigamentLeft"
      label="{{'pelvisMRT.pelvicFloor.leftNoAsterisk.value' | translate }}"
      [(ngModel)]="model.isLesionPeriurethralLigamentLeft"
      rrValidation="isLesionPeriurethralLigamentRight isLesionPeriurethralLigamentLeft isLesionPeriurethralLigamentSuspicionOf"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070307"
      name="isLesionPeriurethralLigamentSuspicionOf"
      label="{{'pelvisMRT.pelvicFloor.suspicionOn.value' | translate }}"
      [(ngModel)]="model.isLesionPeriurethralLigamentSuspicionOf"
      rrValidation="isLesionPeriurethralLigamentRight isLesionPeriurethralLigamentLeft isLesionPeriurethralLigamentSuspicionOf"
      binary="true"
    >
    </p-checkbox>
  </div>

  <p-checkbox
    rr-id="pel_m_070308"
    class="p-l-10 m-b-0 p-t-30"
    name="isLesionParaurethralLigament"
    label="{{'pelvisMRT.pelvicFloor.lesionParaurethralLigament.value' | translate }}"
    [(ngModel)]="model.isLesionParaurethralLigament"
    binary="true"
    rrContentReset="lesionParaurethralLigamentDirectionType"
  >
  </p-checkbox>
  <div
    class="o-radio-list p-l-45 text-break p-t-10"
    [rrDisable]="!model.isLesionParaurethralLigament"
    id="lesionParaurethralLigamentDirectionType"
  >
    <p rr-id="pel_m_070309" class="m-b-5">
      {{'pelvisMRT.pelvicFloor.side.value' | translate }}
    </p>
    <p-checkbox
      rr-id="pel_m_070310"
      name="isLesionParaurethralLigamentRight"
      label="{{'pelvisMRT.pelvicFloor.rightSideNoAsterisk.value' | translate }}"
      rrValidation="isLesionParaurethralLigamentLeft isLesionParaurethralLigamentRight isLesionParaurethralLigamentSuspicionOf"
      [(ngModel)]="model.isLesionParaurethralLigamentRight"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070311"
      name="isLesionParaurethralLigamentLeft"
      label="{{'pelvisMRT.pelvicFloor.leftNoAsterisk.value' | translate }}"
      rrValidation="isLesionParaurethralLigamentLeft isLesionParaurethralLigamentRight isLesionParaurethralLigamentSuspicionOf"
      [(ngModel)]="model.isLesionParaurethralLigamentLeft"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070312"
      name="isLesionParaurethralLigamentSuspicionOf"
      label="{{'pelvisMRT.pelvicFloor.suspicionOn.value' | translate }}"
      rrValidation="isLesionParaurethralLigamentLeft isLesionParaurethralLigamentRight isLesionParaurethralLigamentSuspicionOf"
      [(ngModel)]="model.isLesionParaurethralLigamentSuspicionOf"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>
<div class="c-col-1 c-pad c-sep f-start m-t-30 m-b-15">
  <p-checkbox
    rr-id="pel_m_070401"
    name="isPubourethralLigamentLesion"
    class="p-l-10 m-b-0 p-t-37"
    label="{{'pelvisMRT.pelvicFloor.pubourethralLigamentLesion.value' | translate }}"
    [(ngModel)]="model.isPubourethralLigamentLesion"
    binary="true"
    rrContentReset="pubourethralLigamentLesionDirectionType"
  >
  </p-checkbox>
  <div
    class="o-radio-list p-l-45 text-break p-t-10"
    [rrDisable]="!model.isPubourethralLigamentLesion"
    id="pubourethralLigamentLesionDirectionType"
  >
    <p rr-id="pel_m_070402" class="m-b-5">
      {{'pelvisMRT.pelvicFloor.side.value' | translate }}
    </p>
    <p-checkbox
      rr-id="pel_m_070403"
      name="isPubourethralLigamentLesionRight"
      label="{{'pelvisMRT.pelvicFloor.rightSideNoAsterisk.value' | translate }}"
      rrValidation="isPubourethralLigamentLesionLeft isPubourethralLigamentLesionRight isPubourethralLigamentLesionSuspicionOf"
      [(ngModel)]="model.isPubourethralLigamentLesionRight"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070404"
      name="isPubourethralLigamentLesionLeft"
      label="{{'pelvisMRT.pelvicFloor.leftNoAsterisk.value' | translate }}"
      rrValidation="isPubourethralLigamentLesionLeft isPubourethralLigamentLesionRight isPubourethralLigamentLesionSuspicionOf"
      [(ngModel)]="model.isPubourethralLigamentLesionLeft"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="pel_m_070405"
      name="isPubourethralLigamentLesionSuspicionOf"
      label="{{'pelvisMRT.pelvicFloor.suspicionOn.value' | translate }}"
      rrValidation="isPubourethralLigamentLesionLeft isPubourethralLigamentLesionRight isPubourethralLigamentLesionSuspicionOf"
      [(ngModel)]="model.isPubourethralLigamentLesionSuspicionOf"
      binary="true"
    >
    </p-checkbox>
  </div>
</div>

<div class="c-col-1 c-pad-l m-t-30 f-start">
  <h2 rr-id="pel_m_070525" class="p-l-10 p-b-15">
    {{ 'pelvisMRT.pelvicFloor.sphincter.value' | translate }}
    <rr-info-icon rr-id="pel_m_07_03"></rr-info-icon>
  </h2>
  <p-checkbox
    rr-id="pel_m_070502"
    class="p-l-10"
    name="isLesionOfOuterSphincterMuscle"
    label="{{'pelvisMRT.pelvicFloor.lesionOfTheExternalSM.value' | translate }}"
    [(ngModel)]="model.isLesionOfOuterSphincterMuscle"
    binary="true"
    rrContentReset="lesionOfTheExternalSMGroup"
  >
  </p-checkbox>

  <div
    class="p-l-45 p-t-5"
    [rrDisable]="!model.isLesionOfOuterSphincterMuscle"
    id="lesionOfTheExternalSMGroup"
  >
    <p-checkbox
      rr-id="pel_m_070503"
      name="isOuterSsl"
      class="m-t-5 m-b-5"
      label="{{'pelvisMRT.pelvicFloor.sSL.value' | translate }}"
      [(ngModel)]="model.isOuterSsl"
      rrContentReset="sslExternalGroup"
      binary="true"
    >
    </p-checkbox>
    <div id="sslExternalGroup">
      <p-dropdown
        class="p-l-35"
        styleClass="w-160 ui-brown-box"
        [options]="sslLesionType"
        name="sslOuterType"
        [rrDisable]="!model.isOuterSsl"
        [(ngModel)]="model.sslOuterType"
        rr-id="pel_m_070504"
        scrollHeight="500"
        placeholder="{{ 'shared.pleaseSelect' | translate }}"
        rrDropdownClear
      >
      </p-dropdown>
    </div>

    <div class="o-radio-list p-t-12">
      <p-radioButton
        rr-id="pel_m_070505"
        name="sslLesionOuterSphincterMuscleType"
        [value]="lesionType.Strain"
        rrUnClickRadio
        [(ngModel)]="model.sslLesionOuterSphincterMuscleType"
        label="{{ 'pelvisMRT.pelvicFloor.strain.value' | translate }}"
      ></p-radioButton>
      <p-radioButton
        rr-id="pel_m_070506"
        name="sslLesionOuterSphincterMuscleType"
        [value]="lesionType.Rupture"
        rrUnClickRadio
        [(ngModel)]="model.sslLesionOuterSphincterMuscleType"
        label="{{ 'pelvisMRT.pelvicFloor.rupture.value' | translate }}"
      ></p-radioButton>
    </div>
  </div>

  <p-checkbox
    rr-id="pel_m_070507"
    class="p-l-10 m-t-27 p-b-10"
    name="isInnerSphincterLesion"
    label="{{'pelvisMRT.pelvicFloor.innerSphincterLesion.value' | translate }}"
    [(ngModel)]="model.isInnerSphincterLesion"
    binary="true"
    rrContentReset="innerSphincterLesionGroup"
  >
  </p-checkbox>
  <div
    class="p-l-45"
    [rrDisable]="!model.isInnerSphincterLesion"
    id="innerSphincterLesionGroup"
  >
    <p-checkbox
      rr-id="pel_m_070508"
      name="isInnerSsl"
      class="m-b-5 m-t-5"
      label="{{'pelvisMRT.pelvicFloor.sSL.value' | translate }}"
      [(ngModel)]="model.isInnerSsl"
      rrContentReset="sslInnerGroup"
      binary="true"
    >
    </p-checkbox>
    <div id="sslInnerGroup">
      <p-dropdown
        styleClass="w-160 ui-brown-box"
        [options]="sslLesionType"
        name="sslInnerType"
        class="p-l-35"
        rr-id="pel_m_070509"
        [rrDisable]="!model.isInnerSsl"
        placeholder="{{ 'shared.pleaseSelect' | translate }}"
        rrDropdownClear
        [(ngModel)]="model.sslInnerType"
      >
      </p-dropdown>
    </div>

    <div class="o-radio-list p-t-10">
      <p-radioButton
        rr-id="pel_m_070510"
        name="sslLesionInnerSphincterMuscleType"
        [value]="lesionType.Strain"
        [(ngModel)]="model.sslLesionInnerSphincterMuscleType"
        rrUnClickRadio
        label="{{ 'pelvisMRT.pelvicFloor.strain.value' | translate }}"
      ></p-radioButton>
      <p-radioButton
        rr-id="pel_m_070511"
        name="sslLesionInnerSphincterMuscleType"
        [value]="lesionType.Rupture"
        [(ngModel)]="model.sslLesionInnerSphincterMuscleType"
        rrUnClickRadio
        label="{{ 'pelvisMRT.pelvicFloor.rupture.value' | translate }}"
      ></p-radioButton>
    </div>
  </div>
</div>
