<div class="f-horizontal col-h-100 w-100 p-t-29 m-b-20">
  <div class="c-col-1 c-pad o-list">
    <div class="o-list p-l-10 m-b-5">
      <h2 rr-id="pel_m_080242">
        {{ 'pelvisMRT.rectum.classification.value' | translate }}
      </h2>
      <p-checkbox
        label="{{'pelvisMRT.rectum.hansenAndStock.value' | translate}}"
        binary="true"
        labelStyleClass="ui-fat-label"
        rr-id="pel_m_080243"
        name="isHansenAndStock"
        [(ngModel)]="model.isHansenAndStock"
        rrContentReset="hansenAndStockGroup"
      ></p-checkbox>
    </div>
    <div
      class="o-radio-list p-l-45 text-break"
      id="hansenAndStockGroup"
      [rrDisable]="!model.isHansenAndStock"
    >
      <p rr-id="pel_m_080244">{{'pelvisMRT.rectum.stage.value' | translate}}</p>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stageAcuteUncomplicatedDiverticulitis.value' | translate}}"
        rr-id="pel_m_080246"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage1"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stageAcuteComplicatedDiverticulitis.value' | translate}}"
        rr-id="pel_m_080247"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage2"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stage2aPeridiverticulitisPhlegmonous.value' | translate}}"
        rr-id="pel_m_080248"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage2a"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stage2bAbscessDiverticulitis.value' | translate}}"
        rr-id="pel_m_080249"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage2b"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stage2cFreePerforation.value' | translate}}"
        rr-id="pel_m_080250"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage2c"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.stageChronicRecurrentDiverticulitis.value' | translate}}"
        rr-id="pel_m_080251"
        name="hansenAndStockType"
        [value]="hansenAndStockType.Stage3"
        [(ngModel)]="model.hansenAndStockType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep-l o-list m-t-40 m-b-20">
    <p-checkbox
      label="{{'pelvisMRT.rectum.classificationOfDiverticularDisease.value' | translate}}"
      binary="true"
      rr-id="pel_m_080332"
      labelStyleClass="ui-fat-label"
      class="p-l-10 m-b-5 text-break"
      name="isClassificationOfDiverticularDisease"
      [(ngModel)]="model.isClassificationOfDiverticularDisease"
      rrContentReset="classificationOfDiverticularDiseaseGroup"
    ></p-checkbox>
    <div
      id="classificationOfDiverticularDiseaseGroup"
      class="o-radio-list p-l-45 text-break"
      [rrDisable]="!model.isClassificationOfDiverticularDisease"
    >
      <p rr-id="pel_m_080333">{{'pelvisMRT.rectum.type.value' | translate}}</p>
      <p-radioButton
        label="{{'pelvisMRT.rectum.typeAcuteUncomplicatedDiverticulitis.value' | translate}}"
        rr-id="pel_m_080334"
        name="classificationOfDiverticularDiseaseType"
        [value]="classificationOfDiverticularDiseaseType.Type1"
        [(ngModel)]="model.classificationOfDiverticularDiseaseType"
        rrContentReset="subTypeBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.typeAcuteComplicatedDiverticulitis.value' | translate}}"
        rr-id="pel_m_080335"
        name="classificationOfDiverticularDiseaseType"
        [value]="classificationOfDiverticularDiseaseType.Type2"
        [(ngModel)]="model.classificationOfDiverticularDiseaseType"
        rrContentReset="subTypeBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.typeChronicDiverticularDisease.value' | translate}}"
        rr-id="pel_m_080336"
        name="classificationOfDiverticularDiseaseType"
        [value]="classificationOfDiverticularDiseaseType.Type3"
        [(ngModel)]="model.classificationOfDiverticularDiseaseType"
        rrContentReset="subTypeBlock"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.typeDiverticularBleeding.value' | translate}}"
        rr-id="pel_m_0803176"
        name="classificationOfDiverticularDiseaseType"
        [value]="classificationOfDiverticularDiseaseType.Type4"
        [(ngModel)]="model.classificationOfDiverticularDiseaseType"
        rrContentReset="subTypeBlock"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div id="subTypeBlock" class="c-col-1 c-pad c-sep-l o-list m-t-130 m-b-20">
    <div
      class="o-radio-list p-l-43"
      *ngIf="model.classificationOfDiverticularDiseaseType === classificationOfDiverticularDiseaseType.Type1"
    >
      <p-radioButton
        label="{{'pelvisMRT.rectum.type1aDiverticulitisWithoutPerifocalReaction.value' | translate}}"
        rr-id="pel_m_080430"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type1a"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.type1bDiverticulitisWithPhlegmonousReaction.value' | translate}}"
        rr-id="pel_m_080431"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type1b"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
    <div
      class="o-radio-list p-l-43"
      *ngIf="model.classificationOfDiverticularDiseaseType === classificationOfDiverticularDiseaseType.Type2"
    >
      <p-radioButton
        label="{{'pelvisMRT.rectum.type2aMicroabscesscoveredPerforationsmall.value' | translate}}"
        rr-id="pel_m_080432"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type2a"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        labelStyleClass="text-break"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.type2bMacroabscesscoveredPerforationpara.value' | translate}}"
        rr-id="pel_m_080433"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type2b"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        labelStyleClass="text-break"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.type2cFreePerforationfree.value' | translate}}"
        rr-id="pel_m_080434"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type2c"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        labelStyleClass="text-break"
        rrUnClickRadio
      ></p-radioButton>
    </div>
    <div
      class="o-radio-list p-l-43 text-break"
      *ngIf="model.classificationOfDiverticularDiseaseType === classificationOfDiverticularDiseaseType.Type3"
    >
      <p-radioButton
        label="{{'pelvisMRT.rectum.type3aSymptomaticUncomplicated.value' | translate}}"
        rr-id="pel_m_080435"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type3a"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.type3bRecurrentDiverticulitis.value' | translate}}"
        rr-id="pel_m_080436"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type3b"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.type3cRecurrentDiverticulitis.value' | translate}}"
        rr-id="pel_m_080437"
        name="classificationOfDiverticularDiseaseSubType"
        [value]="classificationOfDiverticularDiseaseSubType.Type3c"
        [(ngModel)]="model.classificationOfDiverticularDiseaseSubType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad-l c-sep-l o-list m-b-20">
    <div class="o-radio-list p-l-8">
      <h2 rr-id="pel_m_080528" class="m-b-16">
        {{ 'pelvisMRT.rectum.differentialDiagnosis.value' | translate }}
      </h2>
      <p-radioButton
        label="{{'pelvisMRT.rectum.sigmoidCarcinoma.value' | translate}}"
        rr-id="pel_m_080529"
        name="sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        [value]="sigmoidDifferentialDiagnosis.SigmoidCarcinoma"
        [(ngModel)]="model.sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        (onClick)="disableSubordinatedCheckbox()"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.autoInflammatoryDiverticulitis.value' | translate}}"
        rr-id="pel_m_080530"
        name="sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        [value]="sigmoidDifferentialDiagnosis.AutoInflammatoryDiverticulitis"
        [(ngModel)]="model.sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        (onClick)="disableSubordinatedCheckbox()"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.appendagitisEpiploica.value' | translate}}"
        rr-id="pel_m_080531"
        name="sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        [value]="sigmoidDifferentialDiagnosis.AppendagitisEpiploica"
        [(ngModel)]="model.sigmoidDiverticularDiseaseDifferentialDiagnosisType"
        (onClick)="disableSubordinatedCheckbox()"
        rrUnClickRadio
      ></p-radioButton>
      <p-checkbox
        label="{{'pelvisMRT.rectum.subordinate.value' | translate}}"
        binary="true"
        rr-id="pel_m_080532"
        class="m-t-30"
        [rrDisable]="model.sigmoidDiverticularDiseaseDifferentialDiagnosisType === sigmoidDifferentialDiagnosis.None"
        name="isSubordinated"
        [(ngModel)]="model.isSubordinated"
      ></p-checkbox>
    </div>
  </div>
</div>
