//colors
$white: #ffffff;
$grey1: #dddddd;
$grey2: #e0e0e0;
$grey3: #b3b1b1;
$grey4: #b2b2b2;
$grey5: #8e8e8e;
$grey6: #808080;
$blue1: #b2e6ec;
$blue2: #8fc8cf;
$blue3: #00aec2;
$blue4: #03aec2;
$red: #f80303;
$black: #212529;

.selection-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  .custom-report-title {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lang-label {
    width: 150px;
  }
}

.selected {
  border-radius: 6px 0 0 6px;
  background-color: $white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  box-sizing: content-box;
  border-right: 1px solid transparent;
  height: 80px;
  padding: 5px 0;
  width: calc(100% - 1px);
  z-index: 1;
  margin-bottom: 6px;
}

.unselected {
  width: 80%;
  margin-left: 20%;
  background-color: $blue3;
  height: 70px;
  color: $white;
  border-radius: 6px 0 0 6px;
  margin-bottom: 6px;

  &-doctor {
    margin-top: 20px;
  }
}

.settings {
  .export {
    color: $white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-ris {
      background-color: $blue3;
      height: 90px;
      margin-bottom: 5px;
      width: 100%;
      border: none;
    }
    &-clipboard {
      background-color: $grey5;
      height: 48px;
      width: 100%;
      border: none;
      margin-bottom: 40px;
    }
  }
  button:disabled {
    background: $grey1;
  }
}

.report {
  border: 1px solid;
  border-radius: 6px;
  width: 1026px;

  &-box {
    margin-left: 50px;
    margin-right: 50px;
  }

  &-top {
    border-radius: 0 6px 6px 6px;
  }

  &-header {
    padding: 10px 0;
    margin: 0 30px;
    height: 89px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button {
      border: none;
      height: 48px;
      width: 120px;
      padding: 10px;
      font-family: BentonSansBold, serif;
      font-size: 15px;
      border-radius: 4px;
      &-edit {
        background-color: $grey2;
      }
      &-save {
        background-color: $red;
        color: $white;
      }
    }
  }
  &-content {
    padding: 10px 15px 0;
    margin: 0 10px 10px;
    height: 570px;
    overflow-y: auto;
    font-family: BentonSansRegular, sans-serif;
    div {
      margin: 5px;
    }
    strong {
      font-family: BentonSansBold, serif;
    }
    .font-small {
      font-size: 8pt;
    }
    .font-italic {
      font-style: italic;
    }
    .font-underline {
      text-decoration: underline;
    }
  }
  &-table {
    margin: 10px 0 10px 0;

    th,
    td {
      border: 1px solid $grey5;
      padding: 5px 10px 5px 10px;
    }

    th {
      font-family: BentonSansBold, serif;
    }
  }

  span.summary-blue {
    color: $blue4;
  }

  span.summary-red {
    color: $red;
  }

  .text-edit span[page] {
    background-color: $blue1;
    cursor: pointer;
  }

  .text-edit span.summary-blue {
    background-color: $grey4;
    cursor: default;
    color: $black;
  }

  .text-edit span.summary-red {
    background-color: $grey4;
    cursor: default;
    color: $red;
  }

  .text-edit span[page]:hover {
    background-color: $blue2;
  }

  // for report summary header (the one with button)
  .text-edit #summary-title {
    background-color: $white;
    cursor: default;
    pointer-events: none;
    display: inline-block;

    span,
    button {
      line-height: 24px;
    }
  }
  .text-edit #summary-title[page]:hover {
    background-color: $white;
  }
}
.signature-input {
  height: 180px;
}

.signature-input,
.discussion-input {
  resize: none;
  width: 100%;
}

// scrollbar
.report-content::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.report-content::-webkit-scrollbar-track {
  margin: 10px 5px;
}

.report-content::-webkit-scrollbar-thumb {
  background: $grey3;
  border-radius: 15px;
}

.report-content::-webkit-scrollbar-thumb:hover {
  background: $grey6;
}

.edit-summary-button {
  height: 21px;
  font-family: BentonSansBold, sans-serif;
  width: 66px;
  background: $grey4;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: $white;
  line-height: 25px;
  margin-left: 10px;
  pointer-events: all !important;
}
