.knee-compartment-area {
  fill: transparent;
  opacity: 0.7;
  cursor: pointer;
  font-size: 18px;
  font-family: BentonSansBold;
  font-weight: 700;

  &__text {
    fill: #000;
  }

  &:hover {
    fill: #00aec2;

    .knee-compartment-area__text {
      fill: #00aec2;
    }
  }

  &-checked,
  &-checked:hover {
    fill: #f80202;
    opacity: 0.6;

    .knee-compartment-area__text {
      fill: #f80202;
    }
  }
}

.background-pattern {
  fill: url(#pattern);
}

.stroke-width-3-and-fill-none {
  stroke-width: 3px;
  fill: none;
}

.line-visibility {
  @extend .stroke-width-3-and-fill-none;
  stroke: #000;
}

.background-visibility {
  @extend .stroke-width-3-and-fill-none;
  stroke: #e7e7e7;
}

:host-context(.invalid-localizer) {
  .background-visibility {
    stroke: red !important;
  }
}
