.elbow {
  user-select: none;

  &__rectangle--inner,
  &__rectangle--outer {
    stroke: none;
  }

  &__rectangle--outer {
    fill: #ccd8e0;
  }

  &__rectangle--inner {
    stroke: none;
  }

  &__rectangle {
    fill: url(#pattern);
  }

  &__circle--inner {
    fill: #ffffff;
    opacity: 0.4;
  }

  &__name {
    font-size: 36px;
    font-family: BentonSansBold, Roboto;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
  }

  &__rectangle--inner {
    stroke-width: 5px;
    stroke: #ebebeb;
  }

  &__circle--inner,
  &__circle--outer {
    stroke: none;
  }

  &__circle--inner,
  &__circle--outer {
    cursor: pointer;
  }

  &__circle--outer {
    fill: #e2e2e2;
  }

  &--disabled,
  &__part--disabled {
    pointer-events: none;
    fill: rgb(65, 65, 65);
    fill-opacity: 0.4;
  }

  &__part--hover .elbow__circle--inner,
  &__part--hover .elbow__circle--outer {
    fill: #00aec2;
    opacity: 1;
  }

  &__part--checked .elbow__circle--inner,
  &__part--checked .elbow__circle--outer {
    fill: #fe0000;
    opacity: 1;
  }

  &__part--checked .elbow__name,
  &__part--hover .elbow__name {
    fill: #ffffff;
  }
}

:host-context(.invalid-localizer) {
  .elbow__rectangle--outer {
    fill: red !important;
  }
}
