.parenchyma-density-container {
  background-color: #b2e7ed;
  border-radius: 2.5px;
  width: 86px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correlation-description {
  height: 66px;
  line-height: 1.2;
}

.o-width-173 {
  width: 173px;
}

.o-width-150 {
  width: 150px;
}
