<div class="f-horizontal main-container col-h-100 o-width-100">
  <div class="c-col-1 c-sep c-pad m-t-15 m-b-15 f-vertical o-list">
    <div
      class="o-radio-list f-vertical m-r-15"
      [rrDisable]="model.descriptionType === descriptionTypeEnum.IDescribe"
    >
      <h2 rr-id="hea_c_060203">
        {{'headCT.cortex.differentialDiagnosis.value' | translate}}*
      </h2>
      <rr-differential-diagnosis-dropdown
        rrId="hea_c_060204"
        name="cortexDifferentialDiagnosisType"
        group="true"
        [diagnosisNumber]="1"
        [options]="differentialDiagnosisOptions01"
        [(ngModel)]="model.cortexDifferentialDiagnosisType"
        [parentViewModel]="model"
        (selectionChanged)="resetDifferentialDiagnosisDependantModel()"
        rrValidation="cortexDifferentialDiagnosisType"
        isActiveOnIKnow="true"
      ></rr-differential-diagnosis-dropdown>
      <p-checkbox
        [rrDisable]="model.cortexDifferentialDiagnosisType === differentialDiagnosisEnum.None"
        rr-id="hea_c_060205"
        label="{{'headCT.cortex.histologyKnown.value' | translate}}"
        name="isHistologyKnown"
        binary="true"
        [(ngModel)]="model.isHistologyKnown"
        rrContentReset="isHistologyKnownContainer"
      >
      </p-checkbox>
      <div
        class="nested-content o-radio-list"
        id="isHistologyKnownContainer"
        [rrDisable]="!model.isHistologyKnown"
      >
        <p-radioButton
          rr-id="hea_c_060206"
          label="{{ 'headCT.cortex.benign.value' | translate }}"
          name="histologyKnownType"
          [(ngModel)]="model.histologyKnownType"
          [value]="histologyKnownTypeEnum.Benign"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="hea_c_060207"
          label="{{ 'headCT.cortex.malignant.value' | translate }}"
          name="histologyKnownType"
          [(ngModel)]="model.histologyKnownType"
          [value]="histologyKnownTypeEnum.Malignant"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
    <div
      class="m-t-15"
      *ngIf="model.findingType === findingEnum.Focal && isFulfillsWHOCondition(model.cortexDifferentialDiagnosisType)"
    >
      <h3 rr-id="hea_c_060252" rrInfoIcon="hea_c_06_04" class="m-b-5">
        {{ "headCT.cortex.wHOClassification.value" | translate }}
      </h3>
      <p-dropdown
        rr-id="hea_c_060253"
        name="localizationWHOClassification"
        placeholder="{{ 'shared.pleaseSelect' | translate }}"
        styleClass="o-width-100 ui-brown-box"
        [options]="classificationWhoOptions"
        [(ngModel)]="model.localizationWHOClassification"
        rrDropdownClear
      ></p-dropdown>
    </div>
  </div>
  <div class=" f-vertical c-sep m-t-15 m-b-15 o-radio-list">
    <h2 rr-id="hea_c_0603200" class="c-pad">
      {{'headCT.cortex.localizationCortexwhiteMatter.value' | translate}}
    </h2>
    <div class="c-sep f-horizontal col-h-100">
      <div class="c-col-1 c-sep c-pad f-vertical o-radio-list">
        <rr-cortex-localizer-simple
          rr-id="hea_c_0603201"
          (click)="openLargeLocalizer()"
          [(ngModel)]="model.cortexLocations"
          name="cortexLocalizerSimple"
        >
        </rr-cortex-localizer-simple>
      </div>
      <div
        class="c-col-1 c-sep  c-pad f-vertical o-list"
        [rrDisable]="col4TitleCondition()"
      >
        <h2 rr-id="hea_c_0604200">
          {{'headCT.cortex.brainAreasDetailed.value' | translate}}
        </h2>
        <div class="o-radio-list">
          <div
            class="o-radio-list"
            [rrDisable]="!model.cortexLocations.parietalLobeRight && !model.cortexLocations.parietalLobeLeft"
          >
            <h3 rr-id="hea_c_0604201">
              {{'headCT.cortex.parietalLobe.value' | translate}}
            </h3>
            <p-checkbox
              rr-id="hea_c_0604202"
              name="isPraecuneus"
              label="{{'headCT.cortex.praecuneus.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isPraecuneus"
            ></p-checkbox>
          </div>
          <div
            class="o-radio-list"
            [rrDisable]="!model.cortexLocations.occipitalLobeRight && !model.cortexLocations.occipitalLobeLeft"
          >
            <h3 rr-id="hea_c_0604203">
              {{'headCT.cortex.occipitalLobe.value' | translate}}
            </h3>
            <p-checkbox
              rr-id="hea_c_0604204"
              name="isCuneus"
              label="{{'headCT.cortex.cuneus.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isCuneus"
            ></p-checkbox>
            <p-checkbox
              rr-id="hea_c_0604205"
              name="isLingualGyrus"
              label="{{'headCT.cortex.lingualGyrus.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isLingualGyrus"
            ></p-checkbox>
          </div>
          <div
            class="o-radio-list"
            [rrDisable]="!model.cortexLocations.temporalLobeRight && !model.cortexLocations.temporalLobeLeft"
          >
            <h3 rr-id="hea_c_0604206">
              {{'headCT.cortex.temporalLobe.value' | translate}}
            </h3>
            <p-checkbox
              rr-id="hea_c_0604207"
              name="isGyrusTemporalisTransversus"
              label="{{'headCT.cortex.gyrusTemporalisTransversus.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isGyrusTemporalisTransversus"
            ></p-checkbox>
            <p-checkbox
              rr-id="hea_c_0604208"
              name="isGyrusOccipitotemporalislateralis"
              label="{{'headCT.cortex.lateralOccipitotemporalGyrus.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isLateralOccipitotemporalGyrus"
            ></p-checkbox>
          </div>
          <div
            class="o-radio-list"
            [rrDisable]="!model.cortexLocations.cerebellum"
          >
            <h3 rr-id="hea_c_0604209">
              {{'headCT.cortex.cerebellum.value' | translate}}
            </h3>
            <p-checkbox
              rr-id="hea_c_0604210"
              name="isParsIntermedia"
              label="{{'headCT.cortex.parsIntermedia.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isParsIntermedia"
            ></p-checkbox>
            <p-checkbox
              rr-id="hea_c_0604211"
              name="isSuperiorCerebellarPeduncle"
              label="{{'headCT.cortex.superiorCerebellarPeduncle.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isSuperiorCerebellarPeduncle"
            ></p-checkbox>
            <p-checkbox
              rr-id="hea_c_0604212"
              name="isMiddleCerebellarPeduncle"
              label="{{'headCT.cortex.middleCerebellarPeduncle.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isMiddleCerebellarPeduncle"
            ></p-checkbox>
            <p-checkbox
              rr-id="hea_c_0604213"
              name="isInferiorCerebellarPeduncle"
              label="{{'headCT.cortex.inferiorCerebellarPeduncle.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isInferiorCerebellarPeduncle"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-15 f-vertical o-list">
    <div class="o-radio-list">
      <h2 rr-id="hea_c_0605200">
        {{'headCT.cortex.depth.value' | translate}}
      </h2>
      <p-checkbox
        rr-id="hea_c_0605201"
        name="isCortex"
        label="{{'headCT.cortex.cortex.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isCortex"
      ></p-checkbox>
      <p-checkbox
        rr-id="hea_c_0605202"
        name="isWhiteMatter"
        label="{{'headCT.cortex.whiteMatter.value' | translate}}"
        binary="true"
        [(ngModel)]="model.isWhiteMatter"
        rrContentReset="localizationTypeDropdownContainer"
      ></p-checkbox>
      <div
        class="nested-content f-vertical o-radio-list p-r-15"
        [rrDisable]="!model.isWhiteMatter"
        id="localizationTypeDropdownContainer"
      >
        <p-dropdown
          rr-id="hea_c_0605203"
          name="localizationType"
          placeholder="{{ 'headCT.cortex.w020PlaceholderLocalizationWhiteMatter.value'  | translate }}"
          styleClass="o-width-100 ui-brown-box"
          [(ngModel)]="model.localizationType"
          [options]="localizationTypeOptions"
          rrDropdownClear
        >
        </p-dropdown>
      </div>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="hea_c_060502">
        {{'headCT.cortex.details.value' | translate}}
      </h2>
      <p-radioButton
        rr-id="hea_c_060503"
        name="detailsType"
        label="{{'headCT.cortex.periventricular.value' | translate}}"
        [(ngModel)]="model.detailsType"
        [value]="detailsTypeEnum.Periventricular"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="hea_c_060504"
        name="detailsType"
        label="{{'headCT.cortex.confluent.value' | translate}}"
        [(ngModel)]="model.detailsType"
        [value]="detailsTypeEnum.Confluent"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
</div>
