.main-container {
  height: 553px;
}

.scaled-localizer {
  transform-origin: left top;
  transform: scale(1.05);
}

.double-col-header {
  height: 65px;
}

.double-col-content {
  height: calc(100% - 65px);
}
