.anamnesis {
  &__align-left {
    & > * {
      align-self: flex-start;
    }
  }
}

.l-h-22 {
  line-height: 22px;
}

:host ::ng-deep .rr-tabView .ui-tabview-nav {
  & li {
    width: 332px !important;

    & > a {
      padding-left: 24px !important;
    }
  }
}

:host ::ng-deep .main > p-dropdown {
  width: auto !important;
}

:host ::ng-deep .boundary-finding-column {
  & button.dynamic-component-button,
  .main {
    width: 279px !important;
  }

  & .ui-dropdown {
    width: 245px !important;
  }
}

:host ::ng-deep .middle-finding-column {
  & button.dynamic-component-button,
  .main {
    width: 293px !important;
  }

  & .ui-dropdown {
    width: 259px !important;
  }
}
