@import "../../prostate.component";

.slider-input::ng-deep {
  .container {
    z-index: 99;
  }
}

.prostatitis-position {
  position: relative;
}

.granulomatous-prostatitis-position {
  position: absolute;
  top: 149px;
}

.index-lession-details {
  line-height: 1.3;
}

.size-pirdas-slider::ng-deep .label-item {
  font-size: 18px !important;
}
