<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list" [rrDisable]="!isCMReinforced">
    <h2 rr-id="nec_m_100276">
      {{ 'neckMRT.bones.contrastEnhancementQuantitative.value' | translate }}
    </h2>
    <p-radioButton
      rr-id="nec_m_100277"
      [(ngModel)]="model.contrastEnhancementQuantitativeType"
      name="contrastEnhancementQuantitativeType"
      label="{{ 'neckMRT.bones.none.value' | translate }}"
      [value]="contrastEnhancementQuantitativeType.No"
      rrUnClickRadio
      rrContentReset="contrastEnhancementQuantitativeTypeStrong-block1 contrastEnhancementQuantitativeTypeStrong-block2"
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100278"
      [(ngModel)]="model.contrastEnhancementQuantitativeType"
      name="contrastEnhancementQuantitativeType"
      label="{{ 'neckMRT.bones.weak.value' | translate }}"
      [value]="contrastEnhancementQuantitativeType.Weak"
      rrUnClickRadio
      rrContentReset="contrastEnhancementQuantitativeTypeStrong-block1 contrastEnhancementQuantitativeTypeStrong-block2"
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100279"
      [(ngModel)]="model.contrastEnhancementQuantitativeType"
      name="contrastEnhancementQuantitativeType"
      label="{{ 'neckMRT.bones.strong.value' | translate }}"
      [value]="contrastEnhancementQuantitativeType.Strong"
      rrUnClickRadio
      rrContentReset="contrastEnhancementQuantitativeTypeStrong-block1 contrastEnhancementQuantitativeTypeStrong-block2"
    ></p-radioButton>
    <div
      id="contrastEnhancementQuantitativeTypeStrong-block1"
      class="nested-content o-radio-list"
      [rrDisable]="isSubHomogeneityTypeDisabled()"
    >
      <p-radioButton
        rr-id="nec_m_100280"
        [(ngModel)]="model.subHomogeneityType"
        name="subHomogeneityType"
        label="{{ 'neckMRT.bones.homogeneous.value' | translate }}"
        [value]="subHomogeneityType.Homogeneous"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        rr-id="nec_m_100281"
        [(ngModel)]="model.subHomogeneityType"
        name="subHomogeneityType"
        label="{{ 'neckMRT.bones.heterogeneous.value' | translate }}"
        [value]="subHomogeneityType.Heterogeneous"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div
    id="contrastEnhancementQuantitativeTypeStrong-block2"
    class="f-vertical o-radio-list"
    [rrDisable]="isSubHomogeneityTypeDisabled()"
  >
    <h2 rr-id="nec_m_100282">
      {{ 'neckMRT.bones.contrastEnhancementDistribution.value' | translate }}
    </h2>
    <p-radioButton
      rr-id="nec_m_100283"
      [(ngModel)]="model.contrastEnhancementDistributionType"
      name="contrastEnhancementDistributionType"
      label="{{ 'neckMRT.bones.peripheral.value' | translate }}"
      [value]="contrastEnhancementDistributionType.Peripheral"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100284"
      [(ngModel)]="model.contrastEnhancementDistributionType"
      name="contrastEnhancementDistributionType"
      label="{{ 'neckMRT.bones.central.value' | translate }}"
      [value]="contrastEnhancementDistributionType.Central"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100285"
      [(ngModel)]="model.contrastEnhancementDistributionType"
      name="contrastEnhancementDistributionType"
      label="{{ 'neckMRT.bones.entireLesion.value' | translate }}"
      [value]="contrastEnhancementDistributionType.EntireLesion"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100286"
      [(ngModel)]="model.contrastEnhancementDistributionType"
      name="contrastEnhancementDistributionType"
      label="{{ 'neckMRT.bones.septal.value' | translate }}"
      [value]="contrastEnhancementDistributionType.Septal"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100287"
      [(ngModel)]="model.contrastEnhancementDistributionType"
      name="contrastEnhancementDistributionType"
      label="{{ 'neckMRT.bones.nidus.value' | translate }}"
      [value]="contrastEnhancementDistributionType.Nidus"
      rrUnClickRadio
    ></p-radioButton>
  </div>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_100366">
      {{ 'neckMRT.bones.peripheralChanges.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_100367"
      [(ngModel)]="model.isPeriostealReaction"
      name="isPeriostealReaction"
      label="{{ 'neckMRT.bones.periostealReaction.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100368"
      [(ngModel)]="model.isSclerosisEdge"
      name="isSclerosisEdge"
      label="{{ 'neckMRT.bones.sclerosisEdge.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_100369">
      {{ 'neckMRT.bones.growthPattern.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_100370"
      [(ngModel)]="model.isExpansive"
      name="isExpansive"
      label="{{ 'neckMRT.bones.expansive.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100371"
      [(ngModel)]="model.isOsteolytic"
      name="isOsteolytic"
      label="{{ 'neckMRT.bones.osteolytic.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100372"
      [(ngModel)]="model.isOsteoblastic"
      name="isOsteoblastic"
      label="{{ 'neckMRT.bones.osteoblastic.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100373"
      [(ngModel)]="model.isSclerotic"
      name="isSclerotic"
      label="{{ 'neckMRT.bones.sclerotic.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100374"
      [(ngModel)]="model.isInfiltrationSoftTissues"
      name="isInfiltrationSoftTissues"
      label="{{ 'neckMRT.bones.infiltrationSoftTissues.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100375"
      [(ngModel)]="model.isInfiltrationOfAdjacentbone"
      styleClass="text-break"
      name="isInfiltrationOfAdjacentbone"
      label="{{ 'neckMRT.bones.infiltrationOfAdjacentbone.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list">
    <h3 rr-id="nec_m_100376" rrInfoIcon="nec_m_10_04">
      {{ 'neckMRT.bones.localSpread.value' | translate }}
    </h3>
    <p-radioButton
      rr-id="nec_m_100377"
      [(ngModel)]="model.localSpreadType"
      name="localSpreadType"
      label="{{ 'neckMRT.bones.intracompartmental.value' | translate }}"
      [value]="localSpreadType.Intracompartmental"
      rrUnClickRadio
    ></p-radioButton>
    <p-radioButton
      rr-id="nec_m_100378"
      [(ngModel)]="model.localSpreadType"
      name="localSpreadType"
      label="{{ 'neckMRT.bones.extracompartmental.value' | translate }}"
      [value]="localSpreadType.Extracompartmental"
      rrUnClickRadio
    ></p-radioButton>
  </div>
</div>
<div class="c-col-1 c-sep c-pad f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_100462">
      {{ 'neckMRT.bones.reactionOfSurroundingTissue.value' | translate }}
    </h2>
    <p-checkbox
      rr-id="nec_m_100463"
      [(ngModel)]="model.isSoftTissueEdema"
      name="isSoftTissueEdema"
      label="{{ 'neckMRT.bones.softTissueEdema.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="nec_m_100464"
      [(ngModel)]="model.isBoneMarrowEdema"
      name="isBoneMarrowEdema"
      label="{{ 'neckMRT.bones.boneMarrowEdema.value' | translate }}"
      binary="true"
    >
    </p-checkbox>
  </div>
  <div class="f-vertical o-radio-list">
    <h2 rr-id="nec_m_100465" class="m-b-11">
      {{ 'neckMRT.bones.differentialDiagnosis.value' | translate }}
    </h2>
    <div
      class="f-vertical o-radio-list m-b-16"
      [rrDisable]="model.descriptionType === descriptionType.IKnow"
    >
      <h3 rr-id="nec_m_100466" class="m-b-4">
        {{ 'neckMRT.bones.differentialDiagnosis1.value' | translate }}*
      </h3>
      <rr-differential-diagnosis-dropdown
        rrId="nec_m_100467"
        [diagnosisNumber]="1"
        [options]="diffDiagnosisOptionsOptions"
        [(ngModel)]="model.spatialNeoplasmDifferentialDiagnosisType1"
        name="spatialNeoplasmDifferentialDiagnosisType1"
        group="true"
        [parentViewModel]="model"
        (selectionChanged)="resetDifferentialDiagnosis1DependentModel()"
        rrValidation="spatialNeoplasmDifferentialDiagnosisType1"
      ></rr-differential-diagnosis-dropdown>
    </div>
    <div
      class="f-vertical o-radio-list"
      [rrDisable]="model.spatialNeoplasmDifferentialDiagnosisType1 === differentialDiagnosistype.None"
    >
      <p-checkbox
        rr-id="nec_m_100468"
        [(ngModel)]="model.isSuspicionOf"
        name="isSuspicionOf"
        label="{{ 'neckMRT.bones.suspicionOf.value' | translate }}"
        binary="true"
      >
      </p-checkbox>
    </div>
    <div
      [rrDisable]="model.mainSpatialNeoplasmDifferentialDiagnosisType1 === differentialDiagnosistype.None
    && model.spatialNeoplasmDifferentialDiagnosisType1 === differentialDiagnosistype.None"
      class="f-vertical o-radio-list"
    >
      <h3 rr-id="nec_m_100469" class="m-b-4">
        {{ 'neckMRT.bones.differentialDiagnosis2.value' | translate }}
      </h3>
      <rr-differential-diagnosis-dropdown
        rrId="nec_m_100470"
        [diagnosisNumber]="2"
        [options]="diffDiagnosisOptionsRestrictedOptions"
        [(ngModel)]="model.spatialNeoplasmDifferentialDiagnosisType2"
        name="spatialNeoplasmDifferentialDiagnosisType2"
        group="true"
        [parentViewModel]="model"
        (selectionChanged)="resetDifferentialDiagnosis2DependentModel()"
      ></rr-differential-diagnosis-dropdown>
      <div
        [rrDisable]="model.spatialNeoplasmDifferentialDiagnosisType2 === differentialDiagnosistype.None"
        class="f-vertical o-radio-list"
      >
        <p-checkbox
          rr-id="nec_m_100471"
          [(ngModel)]="model.isSubordinate"
          name="isSubordinate"
          label="{{ 'neckMRT.bones.subordinate.value' | translate }}"
          binary="true"
        >
        </p-checkbox>
      </div>
    </div>
    <div
      [rrDisable]="model.spatialNeoplasmDifferentialDiagnosisType2 === differentialDiagnosistype.None"
      class="f-vertical o-radio-list"
    >
      <h3 rr-id="nec_m_100472" class="m-b-4">
        {{ 'neckMRT.bones.differentialDiagnosis3.value' | translate }}
      </h3>
      <rr-differential-diagnosis-dropdown
        rrId="nec_m_100473"
        [diagnosisNumber]="3"
        [options]="diffDiagnosisOptionsRestrictedOptions"
        [(ngModel)]="model.spatialNeoplasmDifferentialDiagnosisType3"
        name="spatialNeoplasmDifferentialDiagnosisType3"
        group="true"
        [parentViewModel]="model"
      ></rr-differential-diagnosis-dropdown>
    </div>
  </div>
</div>
<div class="c-col-1 c-pad-l f-vertical o-list m-t-14 m-b-13">
  <div class="f-vertical o-radio-list">
    <p-checkbox
      rr-id="nec_m_100537"
      [(ngModel)]="model.isOverOneLesion"
      name="isOverOneLesion"
      label="{{ 'neckMRT.bones.lesionOfTheSame.value' | translate }}"
      binary="true"
      rrContentReset="isOverOneLesion-block"
      (onChange)="resetLocalizer()"
    >
    </p-checkbox>
    <div
      id="isOverOneLesion-block"
      class="nested-content o-radio-list"
      [rrDisable]="!model.isOverOneLesion"
    >
      <p-checkbox
        rr-id="nec_m_100538"
        [(ngModel)]="model.isWithinThePrimaryAffectedBone"
        name="isWithinThePrimaryAffectedBone"
        styleClass="text-break"
        label="{{ 'neckMRT.bones.withinThePrimaryaffectedBone.value' | translate }}"
        binary="true"
      >
      </p-checkbox>
      <h3 rr-id="nec_m_100539">
        {{ 'neckMRT.bones.localizationVertebra.value' | translate }}
      </h3>
      <rr-spine-simple
        rr-id="nec_m_100503"
        [selectionAccessibilityMode]="selectionAccessibilityMode.C0toTH4"
        [spineLocation]="model.vertebroplastySpineLocations"
        (click)="openLargeLocalizer()"
      ></rr-spine-simple>
    </div>
  </div>
</div>
