<div class="col-h-100">
  <p-tabView class="rr-tabView">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1
          rr-id="abd_m_100223"
          [rrValidation]="[
            'isIntraperitoneal isRetroperitoneum isSubordinate',
            'isRetroperitoneumLeftSide isRetroperitoneumRightSide'
          ]"
          ifAny="true"
          noUpdate="true"
        >
          {{ 'abdomenMRT.peritonealCavity.localization.value' | translate }}
        </h1>
      </ng-template>
      <rr-hemorrhage-localization
        [model]="model"
        [isMale]="isMale"
        [isFemale]="isFemale"
      ></rr-hemorrhage-localization>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <h1 rr-id="abd_m_100325">
          {{ 'abdomenMRT.peritonealCavity.characterization.value' | translate }}
        </h1>
      </ng-template>
      <rr-hemorrhage-characterization
        [model]="model"
        [isDWI]="isDWI"
      ></rr-hemorrhage-characterization>
    </p-tabPanel>
  </p-tabView>
</div>
