div.main {
  border-radius: 4px;
  border: 3px solid #00aec2;
  background-color: #00aec2;
  width: 312px;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: visible;
}

div > svg {
  margin-left: 8px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

:host ::ng-deep .ui-dropdown-label {
  text-overflow: ellipsis;
  height: 36px;
}

:host ::ng-deep .ui-dropdown-items-wrapper .ui-dropdown-items {
  opacity: 1;
}

:host ::ng-deep p-dropdown .ui-dropdown-items-wrapper {
  min-width: 306px;
  width: max-content;
}

:host ::ng-deep p-dropdown {
  width: 280px !important;
}
