<p-tabView class="rr-tabView">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1
        rr-id="hea_c_040202"
        class="custom-tab-header"
        [rrValidation]="localizationTabValidation"
        ifAny="true"
      >
        {{ "headCT.vessels.localizationTabHeader.value" | translate }}
      </h1>
    </ng-template>
    <rr-ischemia-localization-tab
      [model]="model"
    ></rr-ischemia-localization-tab>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_c_040301" class="custom-tab-header">
        {{ "headCT.vessels.ischemicAreaI.value" | translate }}
      </h1>
    </ng-template>
    <rr-ischemic-area-one-tab [model]="model"></rr-ischemic-area-one-tab>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <h1 rr-id="hea_c_040401" class="custom-tab-header">
        {{ "headCT.vessels.ischemicAreaII.value" | translate }}
      </h1>
    </ng-template>
    <rr-ischemic-area-two-tab [model]="model"></rr-ischemic-area-two-tab>
  </p-tabPanel>
</p-tabView>
