.header-checkbox-font--size {
  font-size: 22px !important;
}

.sub-header__font--size {
  font-size: 21px;
}

.risk-calculation-header {
  font-size: 15px;
  font-family: BentonSans;
  font-weight: 300;
}

.m-t-161 {
  margin-top: 161px;
}

.o-width-37 {
  width: 37%;
}
