<div class="f-horizontal col-h-100 w-100 text-break">
  <div class="c-col-1 c-pad c-sep o-list">
    <div class="o-radio-list m-b-30">
      <h2 rr-id="pel_m_0803169">
        {{ 'pelvisMRT.rectum.localization.value' | translate }}
      </h2>
      <p-checkbox
        label="{{'pelvisMRT.rectum.subcutaneousFatTissueSacrococcygeal.value' | translate}}"
        binary="true"
        rr-id="pel_m_0803170"
        name="isSubcutaneousFatTissueSacrococcygeal"
        [(ngModel)]="model.isSubcutaneousFatTissueSacrococcygeal"
        rrContentReset="subcutaneousFatTissueBlock"
      ></p-checkbox>
      <div
        id="subcutaneousFatTissueBlock"
        class="o-radio-list p-l-35"
        [rrDisable]="!model.isSubcutaneousFatTissueSacrococcygeal"
      >
        <p-checkbox
          label="{{'pelvisMRT.rectum.cmPosteriorToThe.value' | translate}}"
          binary="true"
          rr-id="pel_m_0803171"
          name="moreThan2CmPosteriorToTheAnus"
          [(ngModel)]="model.moreThan2CmPosteriorToTheAnus"
        ></p-checkbox>
      </div>
    </div>
    <div class="o-radio-list">
      <h2 rr-id="pel_m_0803172">
        {{ 'pelvisMRT.rectum.morphology.value' | translate }}
      </h2>
      <p-radioButton
        label="{{'pelvisMRT.rectum.solitaryFistula.value' | translate}}"
        rr-id="pel_m_0803173"
        name="fistulaMorphologyType"
        [value]="fistulaMorphologyType.SolitaryFistula"
        [(ngModel)]="model.fistulaMorphologyType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.branchingFistula.value' | translate}}"
        rr-id="pel_m_0803174"
        name="fistulaMorphologyType"
        [value]="fistulaMorphologyType.BranchingFistula"
        [(ngModel)]="model.fistulaMorphologyType"
        rrUnClickRadio
      ></p-radioButton>
      <p-radioButton
        label="{{'pelvisMRT.rectum.multipleFistulas.value' | translate}}"
        rr-id="pel_m_0803175"
        name="fistulaMorphologyType"
        [value]="fistulaMorphologyType.MultipleFistulas"
        [(ngModel)]="model.fistulaMorphologyType"
        rrUnClickRadio
      ></p-radioButton>
    </div>
  </div>
  <div class="c-col-1 c-pad c-sep o-list">
    <div class="o-radio-list">
      <div class="o-radio-list m-b-30">
        <h2 rr-id="pel_m_080494">
          {{ 'pelvisMRT.rectum.reactionOfSurroundingTissue.value' | translate }}
        </h2>
        <p-checkbox
          label="{{'pelvisMRT.rectum.t2wSignalElevationIn.value' | translate}}"
          binary="true"
          rr-id="pel_m_080497"
          name="isT2wSignalElevation"
          [(ngModel)]="model.isT2wSignalElevation"
        ></p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.rectum.cMEnhancementOfThePerifocal.value' | translate}}"
          binary="true"
          rr-id="pel_m_0804118"
          name="isCmEnhancementOfThePerifocalSoftTissue"
          [(ngModel)]="model.isCmEnhancementOfThePerifocalSoftTissue"
        ></p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.rectum.involvementMLevatorAni.value' | translate}}"
          binary="true"
          rr-id="pel_m_0804119"
          name="isInvolvementMLevatorAnMuscle"
          [(ngModel)]="model.isInvolvementMLevatorAnMuscle"
        ></p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.rectum.involvementOfAnalSphincters.value' | translate}}"
          binary="true"
          rr-id="pel_m_0804120"
          name="isInvolvementOfAnalSphincters"
          [(ngModel)]="model.isInvolvementOfAnalSphincters"
        ></p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.rectum.involvementOfTheIschioanal.value' | translate}}"
          binary="true"
          rr-id="pel_m_0804121"
          name="isInvolvementOfTheIschioanalFossa"
          [(ngModel)]="model.isInvolvementOfTheIschioanalFossa"
        ></p-checkbox>
      </div>
      <div
        class="o-radio-list"
        [rrDisable]="technologyModel && technologyModel.cmReinforcedType !== cmReinforcedType.Yes"
      >
        <h2 rr-id="pel_m_0804110">
          {{ 'pelvisMRT.rectum.cMEnhancementQuantitative.value' | translate }}
        </h2>
        <p-radioButton
          label="{{'pelvisMRT.rectum.strong.value' | translate}}"
          rr-id="pel_m_0804111"
          name="fistulaKMEnhancementType"
          [value]="kMEnhancementType.Strong"
          [(ngModel)]="model.fistulaKMEnhancementType"
          rrContentReset="cMEnhancementBlock"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.rectum.low.value' | translate}}"
          rr-id="pel_m_0804112"
          name="fistulaKMEnhancementType"
          [value]="kMEnhancementType.Low"
          [(ngModel)]="model.fistulaKMEnhancementType"
          rrContentReset="cMEnhancementBlock"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.rectum.none.value' | translate}}"
          rr-id="pel_m_0804113"
          name="fistulaKMEnhancementType"
          [value]="kMEnhancementType.No"
          [(ngModel)]="model.fistulaKMEnhancementType"
          rrContentReset="cMEnhancementBlock"
          rrUnClickRadio
        ></p-radioButton>
        <div
          id="cMEnhancementBlock"
          class="o-radio-list p-l-35"
          [rrDisable]="model.fistulaKMEnhancementType === kMEnhancementType.No ||
              model.fistulaKMEnhancementType === kMEnhancementType.None"
        >
          <p-radioButton
            label="{{'pelvisMRT.rectum.homogeneous.value' | translate}}"
            rr-id="pel_m_0804122"
            name="fistulaInternalChangeType"
            [value]="internalChangeType.Homogeneous"
            [(ngModel)]="model.fistulaInternalChangeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            label="{{'pelvisMRT.rectum.heterogeneous.value' | translate}}"
            rr-id="pel_m_0804123"
            name="fistulaInternalChangeType"
            [value]="internalChangeType.Heterogeneous"
            [(ngModel)]="model.fistulaInternalChangeType"
            rrUnClickRadio
          ></p-radioButton>
          <p-radioButton
            label="{{'pelvisMRT.rectum.fistulaWall.value' | translate}}"
            rr-id="pel_m_0804124"
            name="fistulaInternalChangeType"
            [value]="internalChangeType.FistulaWall"
            [(ngModel)]="model.fistulaInternalChangeType"
            rrUnClickRadio
          ></p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-pad-l c-sep o-list">
    <div class="o-radio-list">
      <h2 rr-id="pel_m_080590">
        {{ 'pelvisMRT.rectum.complications2.value' | translate }}
      </h2>
      <p-checkbox
        label="{{'pelvisMRT.rectum.abscess.value' | translate}}"
        binary="true"
        rr-id="pel_m_080591"
        name="isAbscess"
        [(ngModel)]="model.isAbscess"
        rrContentReset="abscessBlock"
      ></p-checkbox>
      <div
        id="abscessBlock"
        class="o-radio-list p-l-35"
        [rrDisable]="!model.isAbscess"
      >
        <p rr-id="pel_m_080592" class="m-b-2">
          {{'pelvisMRT.rectum.expansion.value' | translate}}
        </p>
        <rr-number-input
          [label]="'pelvisMRT.rectum.inMm.value' | translate"
          [config]="{min: 0}"
          [inputRrId]="'pel_m_080593'"
          [labelRrId]="'pel_m_080594'"
          name="expansionInMm"
          [(ngModel)]="model.expansionInMm"
        ></rr-number-input>
      </div>
    </div>
  </div>
</div>
