<div class="c-col-2 f-start f-vertical col-h-100">
  <p-checkbox
    rr-id="mam_mx_080203"
    [(ngModel)]="model.isRight"
    label="{{ 'mammaMX.lymphNodes.right.value' | translate }}"
    labelStyleClass="ui-fat-label"
    class="m-b-6"
    name="isRight"
    binary="true"
    rrContentReset="isRightWithClassificationBlock"
  >
  </p-checkbox>
  <div class="f-horizontal col-h-100" id="isRightWithClassificationBlock">
    <div class="c-pad-r c-sep c-col-1 f-start f-vertical">
      <div
        class="f-start f-vertical o-radio-list nested-content"
        [rrDisable]="!model.isRight"
      >
        <p rr-id="mam_mx_080204" class="m-b-8">
          {{ 'mammaMX.lymphNodes.classification.value' | translate }}
        </p>
        <p-radioButton
          rr-id="mam_mx_080205"
          [(ngModel)]="model.rightLymphNodeDetails.classificationType"
          label="{{ 'mammaMX.lymphNodes.noSuspiciousLymphNodes.value' | translate }}"
          labelStyleClass="text-break"
          class="l-h-22"
          name="rightLymphNodeDetails.classificationType"
          [value]="classificationType.NoSuspiciousLymphNodes"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="mam_mx_080206"
          [(ngModel)]="model.rightLymphNodeDetails.classificationType"
          label="{{ 'mammaMX.lymphNodes.suspiciousLymphNode.value' | translate }}"
          name="rightLymphNodeDetails.classificationType"
          [value]="classificationType.SuspiciousLymphNode"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="mam_mx_080207"
          [(ngModel)]="model.rightLymphNodeDetails.classificationType"
          label="{{ 'mammaMX.lymphNodes.pathologicallyEnlargedLymphNode.value' | translate }}"
          labelStyleClass="text-break"
          class="l-h-22"
          name="rightLymphNodeDetails.classificationType"
          [value]="classificationType.PathologicallyEnlargedLymphNode"
          rrUnClickRadio
        >
        </p-radioButton>
        <p-radioButton
          rr-id="mam_mx_080208"
          [(ngModel)]="model.rightLymphNodeDetails.classificationType"
          label="{{ 'mammaMX.lymphNodes.increasedNumberOfLymphNodes.value' | translate }}"
          labelStyleClass="text-break"
          class="l-h-22"
          name="rightLymphNodeDetails.classificationType"
          [value]="classificationType.IncreasedNumberOfLymphNodes"
          rrUnClickRadio
        >
        </p-radioButton>
      </div>
    </div>
    <div class="c-pad-l c-sep c-col-1 f-start f-vertical">
      <div
        class="f-start f-vertical o-radio-list nested-content"
        [rrDisable]="!model.isRight"
      >
        <p rr-id="mam_mx_080301" class="m-b-8">
          {{ 'mammaMX.lymphNodes.characterization.value' | translate }}
        </p>
        <rr-number-input
          inputRrId="mam_mx_080302"
          labelRrId="mam_mx_080303"
          [(ngModel)]="model.rightLymphNodeDetails.shortAxisDiameterInMm"
          label="{{ 'mammaMX.lymphNodes.shortAxisDiameterSAD.value' | translate }}"
          labelStyleClass="text-break2"
          name="rightLymphNodeDetails.shortAxisDiameterInMm"
          [config]="{ min: 1, max: 99}"
        ></rr-number-input>
        <rr-number-input
          inputRrId="mam_mx_080304"
          labelRrId="mam_mx_080305"
          [(ngModel)]="model.rightLymphNodeDetails.longitudinalDiameterInMm"
          label="{{ 'mammaMX.lymphNodes.longitudinalDiameterInMm.value' | translate }}"
          labelStyleClass="text-break2"
          name="rightLymphNodeDetails.longitudinalDiameterInMm"
          [config]="{ min: 1, max: 99}"
        ></rr-number-input>
        <p-checkbox
          rr-id="mam_mx_080306"
          [(ngModel)]="model.rightLymphNodeDetails.isDisturbedInternalArchitecture"
          label="{{ 'mammaMX.lymphNodes.interiorArchitectureDisturbed.value' | translate }}"
          name="rightLymphNodeDetails.isDisturbedInternalArchitecture"
          binary="true"
          rrContentReset="isInteriorArchDisturbedClassRightBlock"
        >
        </p-checkbox>
        <div
          class="f-start f-vertical o-radio-list nested-content"
          id="isInteriorArchDisturbedClassRightBlock"
          [rrDisable]="!model.rightLymphNodeDetails.isDisturbedInternalArchitecture"
        >
          <p-checkbox
            rr-id="mam_mx_080307"
            [(ngModel)]="model.rightLymphNodeDetails.isHilarObliteration"
            label="{{ 'mammaMX.lymphNodes.hilarObliteration.value' | translate }}"
            name="rightLymphNodeDetails.isHilarObliteration"
            binary="true"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="mam_mx_080308"
            [(ngModel)]="model.rightLymphNodeDetails.isIrregularCorticalWidth"
            label="{{ 'mammaMX.lymphNodes.irregularCorticalWidth.value' | translate }}"
            labelStyleClass="text-break"
            class="l-h-22"
            name="rightLymphNodeDetails.isIrregularCorticalWidth"
            binary="true"
          >
          </p-checkbox>
        </div>
        <p-checkbox
          rr-id="mam_mx_080309"
          [(ngModel)]="model.rightLymphNodeDetails.isIncreasedVascularization"
          label="{{ 'mammaMX.lymphNodes.increasedVascularization.value' | translate }}"
          name="rightLymphNodeDetails.isIncreasedVascularization"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="mam_mx_080310"
          [(ngModel)]="model.rightLymphNodeDetails.isCapsularInfiltration"
          label="{{ 'mammaMX.lymphNodes.capsularInfiltration.value' | translate }}"
          name="rightLymphNodeDetails.isCapsularInfiltration"
          binary="true"
        >
        </p-checkbox>
        <p-checkbox
          rr-id="mam_mx_080311"
          [(ngModel)]="model.rightLymphNodeDetails.isLesion"
          label="{{ 'mammaMX.lymphNodes.lesion.value' | translate }}"
          name="rightLymphNodeDetails.isLesion"
          binary="true"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
</div>
