.main {
  margin-top: -160px;
  background: white;
}

// text

.blue {
  fill: #00aec2;
}

.pointer {
  cursor: pointer;
  pointer-events: all !important;
}

.close-x {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
  cursor: pointer;
  pointer-events: all !important;
}

.font-base {
  font-family: BentonSansLight;
  font-weight: 300;
}

.main-header {
  font-size: 60px;
}

.sub-header {
  font-size: 15px;
  line-height: 20px;
}

.section-header {
  font-family: BentonSansBold;
  font-size: 21px;
}

.text {
  font-size: 18px;
}

.text-selected {
  fill: #f80202;
  font-family: BentonSansBold;
}

.text-hovered {
  fill: #00aec2;
  font-family: BentonSansBold;
}

.separation-line {
  stroke: #707070;
}

// images

.base-element {
  fill: #f3f3f3;
  stroke: #b2b2b2;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.base-element-nofill {
  fill: none;
  stroke: #b2b2b2;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-linecap: round;
}

.selectable {
  fill: #716f6f;
  stroke: #716f6f;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  cursor: pointer;
}

.hovered {
  fill: #00aec2;
  stroke: #00aec2;
}

.selected {
  fill: red;
  stroke: red;
}
