.feet {
  user-select: none;

  &__rectangle--inner,
  &__rectangle--outer {
    stroke: none;
  }

  &__rectangle--outer {
    fill: #ccd8e0;
  }

  &__rectangle--inner {
    stroke: none;
  }

  &__rectangle {
    fill: url(#pattern);
  }

  &__circle--inner {
    fill: #ffffff;
    opacity: 0.4;
  }

  &__name {
    font-size: 36px;
    font-family: BentonSansBold, Roboto;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
  }

  &__rectangle--inner {
    stroke-width: 5px;
    stroke: #ebebeb;
  }

  &__circle--inner,
  &__circle--outer {
    stroke: none;
  }

  &__circle--inner,
  &__circle--outer {
    cursor: pointer;
  }

  &__circle--outer {
    fill: #e2e2e2;
  }

  &__part--hover .feet__circle--outer,
  &__part--checked .feet__circle--outer {
    fill: #e2e2e2;
  }

  &__part--hover .feet__circle--inner {
    fill: #00aec2;
    opacity: 0.6;
  }

  &__part--checked .feet__circle--inner {
    fill: #fe0000;
    opacity: 0.6;
  }

  &__part--checked .feet__name,
  &__part--hover .feet__name {
    fill: #ffffff;
  }
}

:host-context(.invalid-localizer) {
  .feet__rectangle--inner {
    stroke: red;
  }
}
