<div class="f-horizontal f-start main o-width-100">
  <div class="f-vertical m-t-10 m-b-10 c-sep">
    <h2 rr-id="hea_c_040228" class="m-b-10 p-l-25">
      {{'headCT.vessels.associatedFindings.value' | translate}}
    </h2>
    <div class="f-horizontal col-h-100">
      <div class="c-col-1 c-sep c-pad">
        <div class="m-l-10 o-radio-list">
          <p-checkbox
            labelStyleClass="text-break"
            rr-id="hea_c_040229"
            name="isLimitedDelineationOfTheBasalGanglia"
            label="{{'headCT.vessels.limitedDelineationOfTheBasalGanglia.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLimitedDelineationOfTheBasalGanglia"
          >
          </p-checkbox>
          <p-checkbox
            labelStyleClass="text-break"
            rr-id="hea_c_040230"
            name="isLimitedDelineationOfTheThalamus"
            label="{{'headCT.vessels.limitedDelineationOfTheThalamus.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLimitedDelineationOfTheThalamus"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_040231"
            name="isHyperdenseMediaSign"
            label="{{'headCT.vessels.hyperdenseMediaSign.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isHyperdenseMediaSign"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_040232"
            name="isHyperdenseVesselSign"
            label="{{'headCT.vessels.hyperdenseVesselSign.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isHyperdenseVesselSign"
          >
          </p-checkbox>
          <p-checkbox
            labelStyleClass="text-break"
            rr-id="hea_c_040233"
            name="isLimitedMedullaCorticalDifferentiation"
            label="{{'headCT.vessels.limitedMedullaCorticalDifferentiation.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isLimitedMedullaCorticalDifferentiation"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_040234"
            name="isSwellingOfTheGyri"
            label="{{'headCT.vessels.swellingOfTheGyri.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isSwellingOfTheGyri"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_040235"
            name="isNarrowedSulci"
            label="{{'headCT.vessels.narrowedSulci.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isNarrowedSulci"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_040236"
            name="isPseudolaminarNecrosis"
            label="{{'headCT.vessels.pseudolaminarNecrosis.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isPseudolaminarNecrosis"
          >
          </p-checkbox>
          <p-checkbox
            labelStyleClass="text-break"
            rr-id="hea_c_040237"
            name="isHemorrhagicTransformation"
            label="{{'headCT.vessels.hemorrhagicTransformation.value' | translate}}"
            binary="true"
            rrContentReset="hemorrhagicTransformationDetailsContainer"
            [(ngModel)]="model.isHemorrhagicTransformation"
          >
          </p-checkbox>
          <div
            class="nested-content o-radio-list"
            id="hemorrhagicTransformationDetailsContainer"
            [rrDisable]="!model.isHemorrhagicTransformation"
          >
            <p-checkbox
              rr-id="hea_c_040238"
              name="isPetechial"
              label="{{'headCT.vessels.petechial.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isPetechial"
            >
            </p-checkbox>
            <p-checkbox
              rr-id="hea_c_040239"
              name="isParenchymatous"
              label="{{'headCT.vessels.parenchymatous.value' | translate}}"
              binary="true"
              [(ngModel)]="model.isParenchymatous"
            >
            </p-checkbox>
          </div>
        </div>
      </div>
      <div class="c-col-1 c-sep c-pad">
        <div class="m-l-10 o-radio-list">
          <p-checkbox
            rr-id="hea_c_0403164"
            name="isVentricularHerniation"
            label="{{'headCT.vessels.ventricularHerniation.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isVentricularHerniation"
          >
          </p-checkbox>
          <p-checkbox
            rr-id="hea_c_0403165"
            name="isAssociatedFindingsWedgeShapedConfiguration"
            label="{{'headCT.vessels.wedgeShapedConfiguration.value' | translate}}"
            binary="true"
            [(ngModel)]="model.isAssociatedFindingsWedgeShapedConfiguration"
          >
          </p-checkbox>

          <p rr-id="hea_c_0403166">
            {{'headCT.vessels.cerebralEdema.value' | translate}}
          </p>
          <p-radioButton
            rr-id="hea_c_0403167"
            label="{{'headCT.vessels.generalizedCerebralEdema.value' | translate}}"
            name="cerebralEdemaType"
            rrUnClickRadio
            [value]="cerebralEdemaTypeEnum.GeneralizedCerebralEdema"
            [(ngModel)]="model.cerebralEdemaType"
          >
          </p-radioButton>
          <p-radioButton
            rr-id="hea_c_0403168"
            label="{{'headCT.vessels.cytotoxicEdema.value' | translate}}"
            name="cerebralEdemaType"
            rrUnClickRadio
            [value]="cerebralEdemaTypeEnum.CytotoxicEdema"
            [(ngModel)]="model.cerebralEdemaType"
          >
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad m-t-10 m-b-10">
    <div class="m-l-10 o-radio-list">
      <rr-reference-picture
        [(ngModel)]="model.referencePicture"
        [referenceId]="model.id"
        [fileUploadUrl]="fileUploadUrl"
        [elementsRrIds]="referencePictureElementsRrIds"
        [pictureFileType]="headCTPicturesTypeEnum.ImageFile"
        name="referencePicture"
      ></rr-reference-picture>
    </div>
  </div>
  <div class="c-col-1 c-sep c-pad-l m-t-10 m-b-10"></div>
</div>
