<p-tabView class="rr-tabView">
  <p-tabPanel
    [header]="'feetMRT.softTissue.characterizationI.value' | translate"
    rr-id="anc_m_060226"
  >
    <rr-characterization-one-charcot-foot
      [model]="model"
    ></rr-characterization-one-charcot-foot>
  </p-tabPanel>

  <p-tabPanel
    [header]="'feetMRT.softTissue.characterizationII.value' | translate"
    rr-id="anc_m_060334"
  >
    <rr-characterization-two-charcot-foot
      [model]="model"
    ></rr-characterization-two-charcot-foot>
  </p-tabPanel>
</p-tabView>
