* {
  user-select: none;
}
.top {
  margin-top: -60px;
  margin-left: 41px;
}
.background {
  fill: #fff;
}

.header {
  font-family: BentonSansLight, BentonSans;
  font-size: 60px;
  font-weight: 300;
}

.textNormal {
  font-size: 18px;
  font-family: BentonSansLight, BentonSans;
  font-weight: 300;
}

.checked-text {
  fill: #f80202 !important;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.checked-element {
  fill: #f54654 !important;
}

.hovered-text {
  fill: #00aec2;
  font-family: BentonSansBold, BentonSans;
  font-weight: 700;
}

.no-fill {
  fill: none;
}

.lines {
  stroke: #707070;
}

.blue {
  stroke: #00aec2;
}

.wide-stroke {
  stroke-width: 3px;
}

.grey {
  fill: #bdbdbd;
}

.pink {
  fill: #f1adce;
}

.dark-grey {
  fill: #b2b2b2;
}

.light-grey {
  fill: #e2e2e2;
}

.body {
  stroke: #e8caca;
}

.circle {
  fill: #00aec2;
}

.crc {
  stroke: #fff;
  stroke-width: 6px;
}

.pointer {
  cursor: pointer;
}

.hovered-element {
  fill: #60aec7;
}

.info-box {
  stroke-width: 2px;
}
