<div class="f-horizontal f-start col-h-100">
  <div class="c-col-1 c-pad-r c-sep f-vertical f-start o-radio-list">
    <h2
      rr-id="hip_m_040204"
      rrValidation="hipSpecificLocalizations"
      class="m-t-5"
    >
      {{'hipMRT.bones.localization.value' | translate}}*
    </h2>
    <rr-hips-small
      rr-id="hip_m_040206"
      name="hipSpecificLocalizations"
      (click)="openLargeLocalizer()"
      [(ngModel)]="model.hipSpecificLocalizations"
      rrValidation="hipSpecificLocalizations"
      isLocalizer="true"
    >
    </rr-hips-small>
  </div>
  <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
    <h2 rr-id="hip_m_040365">
      {{'hipMRT.bones.distribution.value' | translate}}
    </h2>
    <p-radioButton
      rr-id="hip_m_040366"
      rrUnClickRadio
      name="distributionType"
      [value]="distributionType.Subchondral"
      label="{{'hipMRT.bones.subchondral.value' | translate}}"
      [(ngModel)]="model.distributionType"
    >
    </p-radioButton>
    <p-radioButton
      rr-id="hip_m_040367"
      rrUnClickRadio
      name="distributionType"
      [value]="distributionType.Circumscribed"
      label="{{'hipMRT.bones.circumscribed.value' | translate}}"
      [(ngModel)]="model.distributionType"
    >
    </p-radioButton>
    <p-radioButton
      rr-id="hip_m_040368"
      rrUnClickRadio
      name="distributionType"
      [value]="distributionType.Diffuse"
      label="{{'hipMRT.bones.diffuse.value' | translate}}"
      [(ngModel)]="model.distributionType"
    >
    </p-radioButton>
    <p-radioButton
      rr-id="hip_m_040369"
      rrUnClickRadio
      name="distributionType"
      [value]="distributionType.DiffuseSpotted"
      label="{{'hipMRT.bones.diffuseSpotted.value' | translate}}"
      [(ngModel)]="model.distributionType"
    >
    </p-radioButton>
    <p-radioButton
      rr-id="hip_m_040370"
      rrUnClickRadio
      name="distributionType"
      [value]="distributionType.SubcorticalEdemathinSubchondral"
      label="{{'hipMRT.bones.subcorticalEdemaThinSubchondralLines.value' | translate}}"
      [(ngModel)]="model.distributionType"
      class="text-break"
    >
    </p-radioButton>
  </div>
  <div class="c-col-1 c-pad c-sep f-vertical f-start o-radio-list">
    <h2 rr-id="hip_m_040443">
      {{'hipMRT.bones.associatedFindings.value' | translate}}
    </h2>
    <p-checkbox
      rr-id="hip_m_040444"
      name="isSoftTissueEdema"
      label="{{'hipMRT.bones.softTissueEdema.value' | translate}}"
      binary="true"
      [(ngModel)]="model.isSoftTissueEdema"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="hip_m_040445"
      name="isThickenedSynoviaWithEdema"
      label="{{'hipMRT.bones.thickenedSynoviaWithEdema.value' | translate}}"
      binary="true"
      [(ngModel)]="model.isThickenedSynoviaWithEdema"
    >
    </p-checkbox>
    <p-checkbox
      rr-id="hip_m_040446"
      name="isSubchondralFracture"
      label="{{'hipMRT.bones.subchondralFracture.value' | translate}}"
      binary="true"
      [(ngModel)]="model.isSubchondralFracture"
    >
    </p-checkbox>
  </div>
  <div class="c-col-1 c-pad-l c-sep f-vertical f-start o-radio-list">
    <h2 rr-id="hip_m_040592">
      {{'hipMRT.bones.differentialDiagnosis.value' | translate}}
    </h2>
    <p-dropdown
      rr-id="hip_m_040593"
      [(ngModel)]="model.boneMarrowDifferentialDiagnosisType"
      styleClass="o-width-100 ui-brown-box"
      name="boneMarrowDifferentialDiagnosisType"
      placeholder="{{ 'shared.pleaseSelect' | translate }}"
      [options]="boneMarrowDifferentialDiagnosisTypeOptions"
      rrDropdownClear
      (onChange)="resetIsSecondary()"
      class="p-r-20"
    >
    </p-dropdown>
    <p-checkbox
      rr-id="hip_m_040594"
      name="isSecondary"
      label="{{'hipMRT.bones.secondary.value' | translate}}"
      binary="true"
      [(ngModel)]="model.isSecondary"
      [rrDisable]="model.boneMarrowDifferentialDiagnosisType === boneMarrowDifferentialDiagnosisType.None"
    >
    </p-checkbox>
  </div>
</div>
