<div class="f-horizontal col-h-100 w-100 p-t-29 m-b-20 text-break">
  <div class="c-col-1 c-pad o-list m-b-15">
    <div class="o-radio-list p-l-8">
      <div class="o-radio-list m-b-45">
        <h2 rr-id="pel_m_080256">
          {{ 'pelvisMRT.rectum.growthPattern.value' | translate }}
        </h2>
        <p-radioButton
          label="{{'pelvisMRT.rectum.exophytic.value' | translate}}"
          rr-id="pel_m_080257"
          name="growthPatternType"
          [value]="growthPatternTypeEnum.Exophytic"
          [(ngModel)]="model.growthPatternType"
          rrUnClickRadio
        ></p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.rectum.endophytic.value' | translate}}"
          rr-id="pel_m_080258"
          name="growthPatternType"
          [value]="growthPatternTypeEnum.Endophytic"
          [(ngModel)]="model.growthPatternType"
          rrUnClickRadio
        ></p-radioButton>
        <p-checkbox
          label="{{'pelvisMRT.rectum.occlusive.value' | translate}}"
          binary="true"
          rr-id="pel_m_080259"
          name="isOcclusive"
          [(ngModel)]="model.isOcclusive"
        ></p-checkbox>
      </div>
      <div class="o-radio-list m-b-28">
        <h2 rr-id="pel_m_080260">
          {{ 'pelvisMRT.rectum.perforation.value' | translate }}
        </h2>
        <p-radioButton
          label="{{'pelvisMRT.rectum.coveredPerforation.value' | translate}}"
          rr-id="pel_m_080261"
          name="sigmaMassPerforationType"
          [value]="perforationTypeEnum.CoveredPerforation"
          [(ngModel)]="model.sigmaMassPerforationType"
          rrUnClickRadio
          rrContentReset="indicationsOfFreeAir"
        ></p-radioButton>
        <p-radioButton
          label="{{'pelvisMRT.rectum.freePerforation.value' | translate}}"
          rr-id="pel_m_080262"
          name="sigmaMassPerforationType"
          [value]="perforationTypeEnum.FreePerforation"
          [(ngModel)]="model.sigmaMassPerforationType"
          rrUnClickRadio
          rrContentReset="indicationsOfFreeAir"
        ></p-radioButton>
        <div
          class="p-l-35"
          [rrDisable]="model.sigmaMassPerforationType !== perforationTypeEnum.FreePerforation"
          id="indicationsOfFreeAir"
        >
          <p-checkbox
            label="{{'pelvisMRT.rectum.freeAir.value' | translate}}"
            binary="true"
            rr-id="pel_m_080263"
            name="isFreeAir"
            [(ngModel)]="model.isFreeAir"
          ></p-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="c-col-1 c-pad c-sep-l o-list m-b-15">
    <div class="o-radio-list p-l-8">
      <div class="o-radio-list m-b-28">
        <h2 rr-id="pel_m_080349">
          {{ 'pelvisMRT.rectum.complications.value' | translate }}
        </h2>
        <p-checkbox
          label="{{'pelvisMRT.rectum.invagination.value' | translate}}"
          binary="true"
          rr-id="pel_m_080350"
          name="isInvagination"
          [(ngModel)]="model.isInvagination"
          rrContentReset="invagination-block"
        ></p-checkbox>
        <div
          class="p-l-35 o-radio-list"
          [rrDisable]="!model.isInvagination"
          id="invagination-block"
        >
          <p-checkbox
            label="{{'pelvisMRT.rectum.prestenoticDilatation.value' | translate}}"
            binary="true"
            rr-id="pel_m_080351"
            name="isInvaginationPrestenoticDilatation"
            [(ngModel)]="model.isInvaginationPrestenoticDilatation"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.rectum.poststenoticCollapse.value' | translate}}"
            binary="true"
            rr-id="pel_m_080352"
            name="isInvaginationPoststenoticCollapse"
            [(ngModel)]="model.isInvaginationPoststenoticCollapse"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.rectum.ileus.value' | translate}}"
            binary="true"
            rr-id="pel_m_080353"
            name="isInvaginationIleus"
            [(ngModel)]="model.isInvaginationIleus"
          ></p-checkbox>
        </div>
        <p-checkbox
          label="{{'pelvisMRT.rectum.stenosis.value' | translate}}"
          binary="true"
          rr-id="pel_m_080354"
          name="isStenosis"
          [(ngModel)]="model.isStenosis"
          rrContentReset="stenosis-block"
        ></p-checkbox>
        <div
          class="p-l-35 o-radio-list"
          [rrDisable]="!model.isStenosis"
          id="stenosis-block"
        >
          <p-checkbox
            label="{{'pelvisMRT.rectum.prestenoticDilatation.value' | translate}}"
            binary="true"
            rr-id="pel_m_080355"
            name="isStenosisPrestenoticDilatation"
            [(ngModel)]="model.isStenosisPrestenoticDilatation"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.rectum.poststenoticCollapse.value' | translate}}"
            binary="true"
            rr-id="pel_m_080356"
            name="isStenosisPoststenoticCollapse"
            [(ngModel)]="model.isStenosisPoststenoticCollapse"
          ></p-checkbox>
          <p-checkbox
            label="{{'pelvisMRT.rectum.ileus.value' | translate}}"
            binary="true"
            rr-id="pel_m_080357"
            name="isStenosisIleus"
            [(ngModel)]="model.isStenosisIleus"
          ></p-checkbox>
        </div>
        <p-checkbox
          label="{{'pelvisMRT.rectum.intestinalWallNecroses.value' | translate}}"
          binary="true"
          rr-id="pel_m_080358"
          name="isIntestinalWallNecroses"
          [(ngModel)]="model.isIntestinalWallNecroses"
        ></p-checkbox>
        <p-checkbox
          label="{{'pelvisMRT.rectum.abscess.value' | translate}}"
          binary="true"
          rr-id="pel_m_080359"
          name="isAbscess"
          [(ngModel)]="model.isAbscess"
          rrContentReset="diameter-block"
        ></p-checkbox>
        <div class="p-l-35" [rrDisable]="!model.isAbscess" id="diameter-block">
          <p rr-id="pel_m_080360">
            {{ 'pelvisMRT.rectum.diameter.value' | translate }}
          </p>
          <rr-number-input
            [label]="'pelvisMRT.rectum.inMm.value' | translate"
            [config]="{min: 0, max: 9999}"
            [inputRrId]="'pel_m_080361'"
            [labelRrId]="'pel_m_080362'"
            name="sigmaMassDiameter"
            [(ngModel)]="model.sigmaMassDiameter"
          ></rr-number-input>
        </div>
      </div>
    </div>
  </div>

  <div class="c-col-1 c-pad c-sep-l o-list m-b-15"></div>
  <div class="c-col-1 c-pad-l c-sep-l o-list m-b-15"></div>
</div>
